[2022-07-22 14:33] adidahiya commented on #5457
Looks like this is only a problem in Safari. I cannot repro this bug in Chrome, Firefox, or Edge. Safari support is very low on the priority list for us, but I would welcome a PR to fix this if you can figure out the issue.

[2022-07-22 16:29] adidahiya commented on #4456
Actually, loosening children validation won't work, since we look at `child.props` directly for each child of MultiSlider... see https://github.com/palantir/blueprint/pull/5459#issuecomment-1192743634. If we want to address your use case, we might have to implement the `style` prop instead.

Can you show me what kind of UI you're trying to achieve? Why are you customizing the handle appearance?

[2022-07-25 00:08] kutensky opened #5461 "Suggest2 not working with Shadow DOM"
#### Environment

- __Package version(s)__: 4.5.1
- __Operating System__: Win 11
- __Browser name and version__: Chrome 103

#### Code Sandbox

Link to a minimal repro : (https://codesandbox.io/s/recursing-panna-w2dqsr?file=/src/App.js)

#### Steps to reproduce

1. Create React app inside Shadow DOM
2. Use Suggest2 component
3. Try to search something in Suggest2 component

#### Actual behavior

E

[2022-07-25 02:18] cdomigan commented on #4600
@JoseLion I am encountering the same issue using @testing-library/user-event. Did you find any workarounds for this issue?

EDIT: https://github.com/testing-library/user-event/issues/662#issuecomment-904365493 seems to solve it for me

[2022-07-25 07:09] alberto-f commented on #5212
Is there any date for getting a fix to this one ?

Im thinking of ways to get around this but I don't come with any solution. We were using `Toaster.create` to get an IToaster instance when importing a module. This instance would be the only one we would use for showing toasts. It attaches itself to the `document.body` if no container is passed. This part is really convenient as your tests do not

[2022-07-25 13:50] #5461 closed, assigned to nobody

[2022-07-25 19:25] adidahiya opened #5464 "no-prefix-literal rule slices off trailing character in autofixer"
#### Environment

- __Package version(s)__: @blueprintjs/stylelint-plugin@0.4.4

#### Code Sandbox

#### Actual behavior

The autofixer for `no-prefix-literal` has a bug in its text replacement. it cuts off the last character. `.bp4-popover2-content` becomes `.@{bp-ns}-popover2-conten`.

#### Expected behavior

`.bp4-popover2-content` should become `.@{bp-ns}-popover2-content`

#### Possible solut

[2022-07-25 20:25] ShiftedDesign commented on #4456
I was using the slider component to create a gradient editor, the handles were the individual colors and their stops.
Here is a screenshot and you can see most of the handles are the correct colors except 46 which is the default handle color.
![image](https://user-images.githubusercontent.com/11051481/180867687-364ba8d9-5de9-4882-9c63-f596f6ed6f9e.png)

Adding the `style` prop would cover my needs

[2022-07-25 21:06] #5464 closed, assigned to nobody

[2022-07-26 12:04] PurkkaKoodari opened #5466 "NumericInput causing significant performance drops in Firefox"
#### Environment

- __Package version(s)__: 4.6.1
- __Operating System__: Tested on Windows 10
- __Browser name and version__: Firefox 102

#### Code Sandbox

https://codepen.io/PurkkaKoodari/pen/mdxMNKb

The demo renders two forms: `A` contains 100 `NumericInput`s with constant values and a `Slider`, `B` is the same but with `InputGroup`s. All props to the `NumericInput`s are literal constants. (

[2022-07-26 13:57] adidahiya commented on #5466
Thanks for the detailed performance report. I'm definitely open to PRs to improve component perf here.

[2022-07-26 20:23] HFmaS opened #5467 "undefined error in MultiSelect2's Popover2"
**Environment**
* **Package version(s):** @blueprintjs/select 4.5.0, 4.5.1
* **React version:** 16.14.0
* **Browser(s):** Chrome 103.0.5060.134 (Official Build) and Firefox 103.0 (64-bit), presumably others too

I'm making a new component and trying to use MultiSelect2. I've starting by providing only the required props (itemRenderer, items, onItemSelect, selectedItems, and tagRenderer), but I'm s

[2022-07-27 05:01] JoseLion commented on #4600
@cdomigan that's true, the problem can be solved with the solution presented in that comment:
[code]

But the code above is waiting for the element to become clickable, which shouldn't be necessary. The real issue is that **react-popper@1.3.11** adds `pointer-events: none` to the parent element, making the whole popover unclickable for a few milliseconds. Then the `pointer-events: none` style is r

[2022-07-27 05:10] cdomigan commented on #4600
@JoseLion Thanks - that's the first I'd heard of the patch protocol :)

[2022-07-27 14:45] adidahiya commented on #5467
@HFmaS can you reproduce the issue in a code sandbox (linked from the issue template)?

[2022-07-27 14:59] #4477 closed, assigned to nobody

[2022-07-27 16:24] tgreen7 commented on #4144
@LouizFC I know this has been a while but I am curious if you continued down this path. We are using react-mentions and it has many issues playing with redux-form.

[2022-07-27 17:55] easternmotors opened #5469 "Scrolling Select2 inside of Table2 causes Table2 to also scroll"
#### Environment

- __Package version(s)__:
[code]

- __Operating System__: Windows 10 Pro Version 21H2
- __Browser name and version__: Brave Version 1.41.100 -- Chromium 103.0.5060.134 (Official Build) (64-Bit)

#### Code Sandbox

Minimal repro: https://codesandbox.io/s/blueprint-sandbox-forked-tbjtm1?file=/src/Table2Example.tsx

#### Steps to reproduce

1. Click on one of the dropdowns
2. Attemp

[2022-07-27 19:05] thomasrowlands opened #5470 "Table2 column cells overlap column header when frozen"
#### Environment
`@blueprintjs/table 4.1.2`

#### Code Sandbox
https://codesandbox.io/s/blueprint-table2-freeze-column-ookcsc

#### Steps to reproduce
1. Click on the `Freeze first column` button.

#### Actual behavior
- The frozen column's cells shift upwards, overlapping the column's header
- When the `enableRowHeader` prop is `true`, the frozen column's cells do not shift

#### Expected behavio

[2022-07-27 22:12] adidahiya commented on #5469
I made a [small fix to your sandbox](https://codesandbox.io/s/blueprint-sandbox-forked-i3ttos?file=/src/Table2Example.tsx) by adding in `blueprint-popover2.css` but this looks like a tricky issue... I think we may need to provide an option to stop propagating scroll events from inside QueryList (Select2, Suggest2, MultiSelect2) popovers... otherwise the scroll events will bubble up to the Table li

[2022-07-27 22:18] adidahiya commented on #5470
Fixed your sandbox a bit by upgrading packages, but the problem's still there with table v4.4.1: https://codesandbox.io/s/blueprint-table2-freeze-column-forked-pfhhxd?file=/src/index.tsx

Open to bugfix PRs

[2022-07-28 20:40] HFmaS commented on #5467
Interesting, the template didn't pop up for me when I created this issue initially, maybe because this was my first time opening an issue?

Unfortunately, I wasn't able to reproduce this behavior in the code sandbox, so I guess this behavior is due to an unexpected interaction with one of the other packages we're importing or an issue with how webpack is bundling our code.

[2022-07-29 00:15] adidahiya commented on #5467
@HFmaS one thing you try is making sure you're on the latest version of @blueprintjs/core and @blueprintjs/select

[2022-08-01 02:00] hxu-stripe commented on #5403
I'll try to repro in a codesandbox!

[2022-08-01 16:43] adidahiya opened #5472 "DateInput2 fill prop not working"
#### Environment

- __Package version(s)__: @blueprintjs/datetime2 v0.4.0 - v0.4.2

#### Steps to reproduce

render `<DateInput2 fill={true}>`, or try the option in the [docs example](https://blueprintjs.com/docs/#datetime2/date-input2)

#### Actual behavior

![image](https://user-images.githubusercontent.com/723999/182200033-5c00f274-8d30-40b9-86b3-e2702d88fb3c.png)

#### Expected behavior

Input

[2022-08-01 18:06] #5472 closed, assigned to adidahiya

[2022-08-02 16:24] alex-r-bigelow opened #5476 "Deprecated tslint library still required for eslint-config"
#### Environment

- __Package version(s)__:

[code]

- __Browser and OS versions__:

[code]

#### Question

I'm attempting to upgrade the dependencies in a project (yes, blueprint itself is on the list), but I'm hitting an error that doesn't appear to be relevant to blueprint's v3 -> v4 migration, in that `@blueprintjs/eslint-config` is still importing the deprecated `tslint` package. Trying to `y

[2022-08-02 18:44] adidahiya commented on #5476
Unfortunately `@blueprintjs/eslint-config` still uses a couple rules which we never migrated from TSLint to ESLint. For the most part these TSLint rules do not have ESLint equivalents with the same semantics. It's on the to-do list to eventually migrate over and release a new major version of `@blueprintjs/eslint-config` which drops the `tslint` dependency, but in the meantime, there's no harm in

[2022-08-03 22:04] pcclickbit commented on #4600
The issue is fixed using MenuItem2 and Popover2
@blueprintjs/popover2 1.5.0

[2022-08-03 22:51] adidahiya commented on #4600
Great, thanks for the fix verification @pcclickbit.

[2022-08-03 22:51] #4600 closed, assigned to nobody

[2022-08-04 04:24] ro-savage commented on #2193
For anyone using Blueprint 4.x - this is the update code to ignore the icons.

Update your webpack config to
[code]

Then inside your `blueprint-icons.js` add

Either this if you are going to keep using the old `warning-sign` naming
[code]

or this if you want to rename all your already imported icons to PascalCase

[code]

[2022-08-04 04:25] ro-savage commented on #4645
@switz - I've posted an update code for ignoring via webpack. If that's helpful for tou

https://github.com/palantir/blueprint/issues/2193#issuecomment-1204741102

[2022-08-04 13:28] maxime700 opened #5479 "Button prevent Enter"
#### Environment

- __Package version(s)__: 3.51.3
- __Browser and OS versions__:  all

#### Question
Hello,

I need some help with button component

Is there a way to prevent enter key press to execute click action?

[code]

With the simple code above, when I click on my button then press enter onAdd is executed twice. First time after the click, second time after pressing enter.

According to th

[2022-08-04 14:20] adidahiya commented on #5479
A click and then an Enter keypress seems like an interaction that _should_ trigger the button handler twice.

But if you want to only handle the click event in `this.onAdd`, then you can inspect the `event` argument in the `onClick` callback. If it's a keypress rather than a click event, ignore it in your handler.

[2022-08-04 14:48] adidahiya opened #5480 "@blueprintjs/table TruncatedFormat and ColumnHeaderCell still use Popover"
Need v2 variants that use Popover2 instead of Popover.

[2022-08-04 15:57] adidahiya commented on #5480
Actually, we can just migrate to Popover2 in these components without breaking the public API. So we don't need the v2 variants.

[2022-08-04 18:41] #4046 closed

[2022-08-04 18:43] #3248 closed

[2022-08-04 21:42] lijinbio opened #5483 "How to change initalContent to full options for Suggest of @blueprintjs/select"
#### Environment

- __Package version(s)__:

    "@blueprintjs/core": "^3.44.0",
    "@blueprintjs/icons": "^3.19.0",
    "@blueprintjs/popover2": "^0.11.2",
    "@blueprintjs/select": "^3.16.0",

- __Browser and OS versions__: Chrome and Mac M1

#### Question

How to show the full options of Suggest from blueprintjs/select when clicking the search box?

[code]

The above code will show a textbox

[2022-08-04 21:57] #5480 closed, assigned to adidahiya

[2022-08-05 05:07] maxime700 commented on #5479
Hello Adi,

Thanks for your help.

You are right about the interaction that should trigger the button handler twice.
It's just that my button is in a dialog and  mys customer wants that enter keypress to close de dialog. This is why a want to only handle the click event.

I thought of this solution however the event I receive in `this.onAdd`  when I press Enter is of type `click` because it is lau

[2022-08-05 09:40] Sascha-Gschwind commented on #5297
@adidahiya I have the same problem, that my intent-overrides don't work anymore and I've tried making the `@use` syntax work for multiple hours now without success. It seems to completely ignore those overrides and start the app with the default colors. I've read all the other issues and I know about the dart-sass breaking change, switched the compiling of the scss files to dart-sass as well with

[2022-08-05 15:27] adidahiya commented on #5297
@Sascha-Gschwind thanks for the feedback. I definitely want to support theming in some way, and it's unfortunate that this Sass API broke after our migration to dart-sass. I just don't have the bandwidth to tackle this problem in a first-class way right now. I'm open to ideas and implementations from the community on how to make this work in Blueprint v4. For the time being, I have my hands full w

[2022-08-05 15:30] adidahiya commented on #5479
Ah sorry, yes, it will be a click event when pressing Enter as well because we programmatically call `.click()`. But there's probably some event info that's different in this click vs. other user-initiated clicks from mouse interactions. Try to inspect the event in the two cases and see if you can discriminate between them to handle the interactions differently.

[2022-08-06 01:00] ericjiya opened #5485 "Date Range Picker- set default months"
#### Environment

- __Package version(s)__:  @blueprintjs/datetime, probably the latest version
- __Browser and OS versions__: Chrome, MacOS 12.4

#### Question

 I'm help to resolve the default month issue for a project. It's using the date range picker with minDate and maxDate settings. When I open it, the default shown two months are the middle value of min and max, e.g. min is 2021/11/01, max

[2022-08-08 12:52] adidahiya commented on #5485
Use the `initialMonth` prop: https://codesandbox.io/s/blueprint-sandbox-forked-q43wvk?file=/src/DatetimeExample.tsx

[2022-08-08 12:53] #5485 closed, assigned to nobody

[2022-08-08 17:22] adidahiya commented on #5060
DateInput2 fixes this problem, it uses Popover2.

[2022-08-08 17:22] #5060 closed, assigned to adidahiya

[2022-08-08 17:27] adidahiya commented on #4754
doesn't seem to be relevant anymore, see https://github.com/palantir/blueprint/pull/5489

[2022-08-08 17:27] #4754 closed, assigned to nobody

[2022-08-08 17:32] adidahiya commented on #3095
This is no longer a problem, I cannot repro in the docs example. Fixed by MenuItem2.

[2022-08-08 17:32] #3095 closed

[2022-08-08 17:38] #1121 closed

[2022-08-08 20:35] SortaASoraous opened #5492 "How to trigger context menu open on-double-click"
#### Environment

- __Package version(s)__: Latest Blueprint
- __Browser and OS versions__: Mac OS Chrome

#### Question

As the title states: I'd like to trigger ContextMenu2 on-double-click instead of on-right-click. What would be the most efficient way to do this?

[2022-08-08 20:53] adidahiya commented on #5492
Perhaps you can use a controlled Popover2 (set the `isOpen` prop) and register a "dblclick" event listener in React with `<div onDoubleClick={...}>`

[2022-08-09 02:54] #5492 closed, assigned to nobody

[2022-08-09 15:11] #5139 closed, assigned to nobody

[2022-08-10 22:02] davenquinn commented on #1691
Hi — I assume there's no movement towards this. We're working on a table view component that requires this functionality, and we'd ideally like to base it on this, but we are also looking at [React-Datasheet](https://nadbm.github.io/react-datasheet/) + custom virtualization.

[2022-08-11 15:30] #5411 closed, assigned to nobody

[2022-08-11 19:22] malechite commented on #3979
@adidahiya How is the Popover2 migration going? I'd like to use Tooltip2 and Popover2 in React strict mode as soon as it's ready :)

[2022-08-12 18:53] taroplus commented on #4192
`resetOnQuery={false}`

this worked for me

[2022-08-15 15:15] petargyurov opened #5498 "Type errors when using Preact with Typescript"
#### Environment

- __Package version(s)__:
[code]
- __Operating System__: macOS Monterey 12.5
- __Browser name and version__: Firefox 103

#### Code Sandbox

N/A

#### Steps to reproduce

1. Create a new Preact project using the Typescript template: `npx preact-cli create typescript myproj`
2. Alias React dependencies, see [here](https://preactjs.com/guide/v10/getting-started/#aliasing-in-node)
3

[2022-08-17 19:05] tihuan commented on #4759
Wow thanks so much for the steps! I'm upgrading our project from Next11 to Next12 + Blueprint3 to 4, and following this worked on the first try ✨

[2022-08-17 22:32] martinshaw opened #5499 "Performance issue with the SET_IS_EXPANDED reducer action for Tree component"
#### Environment

- __Package version(s)__: 4.8.0
- __Operating System__: macOS Catalina
- __Browser name and version__: Brave 1.42.88

#### Code Sandbox

[Link to fork](https://codesandbox.io/s/blueprint-sandbox-forked-74sjtk?file=/src/index.tsx)

#### Steps to reproduce

1. Try to click the node to expand it
2. Observe that the reducer action `SET_IS_EXPANDED` runs nearly instantly.
3. Use a muc

[2022-08-17 22:33] martinshaw commented on #5499
Also, I am really enjoying Blueprint as a UI framework. Thank you for its active development.

[2022-08-18 20:25] switz commented on #4642
Sorry for adding a +1 as a comment, but this would be really nice and the last comment is 6 months ago.

[2022-08-19 04:43] switz commented on #2193
This ignores the icons, but it doesn't dynamically import/code split them, unless I'm misunderstanding how you're doing this.

[2022-08-19 18:53] craigboman opened #5500 "Update Core packages popper to @popperjs/core"
In the Core package.json there is a sub-dependency requiring an outdated popper.js package `popper.js@1.16.1`. is it possible to update the dependencies to popper v2 at @popperjs/core without breaking stuff? Just trying to clear some local CLI warnings I'm seeing around using outdated packages. Otherwise have no horse in the race.

Looking at updating: https://github.com/palantir/blueprint/blob/de

[2022-08-22 11:39] jerrygreen commented on #4928
Have you figured how to use this component library with Svelte framework?

[2022-08-22 15:04] adidahiya commented on #5500
We've migrated to popper.js v2 in @blueprintjs/popover2. You should be using Popover2 and Tooltip2. The Popover and Tooltip components in @blueprintjs/core are deprecated and there is a [migration guide](https://github.com/palantir/blueprint/wiki/Popover2-migration). Popover2 will be merged into @blueprintjs/core v5.0 (coming soon in the next few weeks), at which point the popper.js v2 migration w

[2022-08-22 15:04] #5500 closed, assigned to nobody

[2022-08-22 15:25] adidahiya commented on #4642
I agree that this would be a nice feature to add. In the meantime, I think you can implement such a feature yourself with Popover2/Tooltip2. Check out my quick version of this in [this sandbox](https://codesandbox.io/s/blueprint-sandbox-forked-hegc59?file=/src/Popover2Example.tsx):

![2022-08-22 11 25 14](https://user-images.githubusercontent.com/723999/185958790-2f290ac6-b3c4-4c8b-ba4c-3461a4e8bc

[2022-08-22 16:08] colmex opened #5502 "Modifying the time doesn't show up on the timepicker in DateRangePicker"
#### Environment

- __Package version(s)__: 4.3.4
- __Operating System__: MacOS Monterey
- __Browser name and version__: Firefox 103.0.2

#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/s/blueprint-sandbox-forked-gb14b7

#### Steps to reproduce

1. Select two dates in the daterangepicker

#### Actual behavior

Modifying the endTime (from 00:00 to 23:59) doesn't show the modified

[2022-08-22 17:25] KevinHermelin opened #5503 "Context menu snaps to top left corner in React 18 Strict Mode"
keywords: ContextMenu, positioning, absolute, ContextMenu2, Popover2

#### Environment

- __Package version(s)__:
    "@blueprintjs/core": "4.8.0",
    "@blueprintjs/popover2": "1.5.1",
- __Operating System__: Linux
- __Browser name and version__: Mozilla Firefox 103.0.2 (Same behavior in electron 20.0.3)

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/

[2022-08-22 20:35] adidahiya commented on #5125
We've started to address this with the new DateInput2 and TimezonePicker components in @blueprintjs/datetime2. Further improvements can be made to those individual components, and we are open to feedback via new issues filed on those specific components.

[2022-08-22 20:35] #5125 closed, assigned to nobody

[2022-08-22 20:37] adidahiya commented on #5502
This looks like the same issue as https://github.com/palantir/blueprint/issues/3967, but you have a code sandbox so that's helpful. I will close the other issue in favor of this one.

[2022-08-22 20:38] adidahiya commented on #3967
Duplicate of #5502

[2022-08-22 20:38] #3967 closed

[2022-08-22 20:43] adidahiya commented on #3979
Unfortunately I've had to reduce the [scope of Blueprint v5.0](https://github.com/palantir/blueprint/wiki/Blueprint-5.0) in order to ship it faster. React strict mode compatibility is now scheduled for Blueprint v6.0.

[2022-08-22 20:44] adidahiya commented on #5503
This is caused by our usage of `findDOMNode`, see https://github.com/palantir/blueprint/issues/3979. This will be fixed when Blueprint is fully compatible with React strict mode in v6.0.

[2022-08-22 21:12] adidahiya commented on #3516
Use `<Omnibar className={...}>` and add CSS for your custom class name. This is demonstrated in @blueprintjs/docs-theme with `.docs-navigator-menu`.

[2022-08-22 21:12] #3516 closed

[2022-08-22 23:14] adidahiya commented on #4690
Should be fixed by #5507. We're able to move to `React.Ref` completely now that we don't support React 15.

[2022-08-22 23:14] #4690 closed, assigned to nobody

[2022-08-23 17:24] tgreen7 opened #5508 "Toast should have an option to not show close button"
#### Environment

- __Package version(s)__: 4

#### Feature request

The toast https://blueprintjs.com/docs/#core/components/toast should have a prop to not show the close button. We are showing a toast for a loading progress that has a cancel button. Users should not be able to close the toast, they should just be able to cancel it. Having a prop would be nicer than adding ugly css targeting. May

[2022-08-23 19:35] adidahiya commented on #5508
I'm open to a PR for this. It would be better to call the new prop `isCloseButtonShown?: boolean` with a default value of `true`, just like `<Dialog>`.

[2022-08-23 20:51] Gayathri-Kesavakannan commented on #5327
How to add data-* for accordion (button) and form (label) ?

[2022-08-23 20:54] Gayathri-Kesavakannan opened #5510 "Struggling to add data-cy to accordion item"
#### Environment

- __Package version(s)__:
- __Browser and OS versions__:

#### Question

Need to add data-cy attributes to accordion  button type and form item label

Data-cy is amended to title or label text rather than attribute

As temporary solution added data-testid
Is there any limitation to add data-* to accordion or form ?? Can some one share sample help where to add it

Thanks

[2022-08-24 12:54] adidahiya commented on #5510
We don't have "accordions" in Blueprint. Can you please share a code sandbox to demonstrate your problem (linked in the issue template)?

[2022-08-24 14:19] adidahiya opened #5511 "Promote Portal2 implementation to Portal"
We had to revert most of https://github.com/palantir/blueprint/pull/5493 because of subtle breaks caused by interactions between the new Portal implementation and the (long-deprecated) react-hot-loader library. To be safe, we're going to leave Portal as a class component in v4. This task is to track the promotion of the new "Portal2" implementation to be the standard Portal.

[2022-08-24 15:33] adidahiya opened #5514 "Un-revert ItemRendererProps type change"
Reverted in https://github.com/palantir/blueprint/pull/5513

We should include this tiny breaking change in Blueprint v5.0.

[2022-08-25 00:33] #4887 closed, assigned to nobody

[2022-08-25 22:35] adidahiya opened #5516 "[eslint-plugin] no-deprecated-select-components misses usage outside JSX"
The `@blueprintjs/no-deprecated-select-components` ESLint rule misses lots of common usage of select components like this:

[code]

[2022-08-26 14:59] #5516 closed, assigned to adidahiya

[2022-08-29 18:31] evanskaja31 opened #5519 "Add tooltip to MultistepDialog final button"
#### Environment

- __Package version(s)__:
- __Browser and OS versions__:

#### Feature request

I would like to be able to add a tooltip to the final button for the MultistepDialog. I am performing validation within the panel to determine if the button is disabled, but there is no way currently to provide an error message to the user explaining why the button is disabled.
#### Examples

[2022-08-30 01:16] mud commented on #5312
Just noticed this myself while debugging an issue where our borders seem to disappear in dark mode.

Because dark mode uses an `inset` `box-shadow` if you add a `Card`  with `padding: 0` and a child with a `background-color`, the border disappears. Is there a reason why dark mode uses `inset` while standard mode doesn't?

[2022-08-30 13:15] adidahiya commented on #5312
@mud I think in this case you should be changing the background color of the Card itself, rather than trying to fit a child element in there with a custom background color.

Looking back at https://github.com/palantir/blueprint/pull/5278, I'm pretty sure we went with inset "elevation" borders in dark theme to achieve a consistent white border appearance for those elements (Cards, Popovers, Toasts,

[2022-08-30 13:55] pringshia commented on #5498
I'm having this issue as well with React (with a new project scaffolded using Vite) and adding in the `<Spinner />` component. Hoping for a fix, as the Getting Started tutorial doesn't work as is.

I fixed this for now by downgrading to `"@types/react": "18.0.0",
    "@types/react-dom": "18.0.0"` as @adidahiya used by the codesandbox here: https://codesandbox.io/s/blueprint-with-react-18-2wfvt5?fi

[2022-08-31 16:19] adidahiya commented on #5519
This makes sense, I think we could add a `tooltipContent` property to backButtonProps, nextButtonProps, and finalButtonProps in the MultistepDialog API. We could conditionally render a tooltip around the buttons if there is content provided.

Note that there are other ways to show the error message in this case, though. You can do something like this: https://codesandbox.io/s/blueprint-sandbox-for

[2022-08-31 17:09] mud commented on #5312
@adidahiya thanks for the context.

I just noticed this since we just upgraded to BP4. We relied on `Card` providing bordered containers for a bunch of components, and some had child elements with background color applied (eg. header for a list.) I'll migrate off of using `Card` in those cases.

[2022-08-31 19:00] adidahiya commented on #5312
You may not have to migrate away from Card... can you try adding some styles like `border: solid 1px inset $pt-dark-divider-white; border-bottom: none` in those cases? I understand it feels like a bit of a hack to have to work around the Card border implementation, but it may be an good enough option for your use case.

[2022-09-02 13:04] SoulKa commented on #3187
Is there any static ContextMenu2.show() in the new Popover2 library?

[2022-09-03 14:32] SoulPancake commented on #5458
This is essentially the issue
and there are a couple of solutions for this
Can you assign this to me?
![image](https://user-images.githubusercontent.com/70265851/188274882-38afc821-6c9f-44b2-b80b-2ab97fbcca96.png)

[2022-09-06 10:58] standbyoneself opened #5526 "[DateRangeInput2] TimePicker value doesn't set onBlur"
#### Environment

- __Package version(s)__: 0.55
- __Operating System__: macOS 12.4
- __Browser name and version__: Chrome 98

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://blueprintjs.com/docs/#datetime2/date-range-input2

#### Steps to reproduce

Open the DateRangeInput2. Set "Enable time picker". Open the datepic

[2022-09-06 14:39] adidahiya commented on #5526
@standbyoneself can you make a screen recording video or gif of your repro steps? I tried your repro steps in the [docs example](https://blueprintjs.com/docs/#datetime2/date-range-input2). Updating the time input seems to work properly if you have a date range selected:

![2022-09-06 10 37 44](https://user-images.githubusercontent.com/723999/188663863-5bc12b08-3cc5-467d-9199-435614162780.gif)

[2022-09-06 14:44] adidahiya commented on #5458
We are dropping support for IE11 very soon in Blueprint v5.0: https://github.com/palantir/blueprint/issues/5143

I don't see a good reason to continue supporting IE11 in the documentation site. Most of Blueprint v4.0 works in IE11, but if you want to see the docs site you'll have to use a different browser. IE11 has been deprecated for a long time anyway.

I declined [another IE11 support request]

[2022-09-06 14:44] #5458 closed, assigned to nobody

[2022-09-06 14:53] standbyoneself commented on #5526
Yeah sure
I put the cursor at the right bottom and the value didn't change to 12:00

https://user-images.githubusercontent.com/57719759/188667272-11e6314c-0a88-48d3-8676-a4ba986c9771.mov

[2022-09-06 15:11] adidahiya opened #5527 "Discussion: consider imperative API for ContextMenu2"
#### Environment

- __Package version(s)__: popover v1.x, core v4.x

#### Feature request

ContextMenu had an imperative API with `ContextMenu.show()`.

The newer ContextMenu2 does not have such an API (`ContextMenu2.show()` does not exist), and we've recommended that users migrate to a declarative usage pattern.

However, we've seen a few requests for bringing the imperative API back, and we shou

[2022-09-06 15:11] adidahiya commented on #3187
@SoulKa no, but I'm tracking that request here https://github.com/palantir/blueprint/issues/5527

[2022-09-06 18:55] mud commented on #5312
@adidahiya I ended up creating a mixin that removes the original `inset` box-shadow and applies a normal one. There were only a few places this was an issue for us so this is manageable for now.

[2022-09-07 08:12] standbyoneself opened #5529 "[DateRangeInput2] Add onOpenChange prop"
#### Feature request

It would be very helpful to add onClose (andOpen) callback or something like onVisibilityToggle while show/hide popup with calendar

#### Examples

For example, currently I am using DatePicker of Ant Design and I need to make HTTP request on datepicker close. There is `openChange` handles this

[2022-09-07 08:55] timkrins commented on #3927
Closing because we can all forget IE 🎉

[2022-09-07 08:55] #3927 closed

[2022-09-07 15:07] zerovox opened #5531 "TimezoneSelect should allow searching by abbreviation"
#### Feature request

Typing a timezone abbreviation into the TimezoneSelect component should list appropriate timezones.

#### Examples

Searching for "mountain" will find various timezones with MDT/MST offsets:
<img width="308" alt="Screen Shot 2022-09-07 at 8 52 19 AM" src="https://user-images.githubusercontent.com/933064/188912497-b8a3d4f6-a6a0-4c8e-96eb-21a7c30903f7.png">

Searching for MDT/M

[2022-09-07 15:09] adidahiya commented on #5372
This was released back in July in @blueprintjs/datetime2: https://github.com/palantir/blueprint/wiki/4.x-Changelog#july-20-2022

[2022-09-07 15:09] #5372 closed, assigned to nobody

[2022-09-07 15:26] adidahiya commented on #5529
@standbyoneself DateRangeInput2 and other overlay-based components all have access to the [overlay lifecycle methods](https://github.com/palantir/blueprint/blob/f9d5b410947c80a5039755a3f1f92b1a627ecb4d/packages/core/src/components/overlay/overlay.tsx#L123-L150). You can use `<DateRangeInput2 popoverProps={{ onOpened, onClosed }}>`. [Here's a demo in a code sandbox](https://codesandbox.io/s/bluepri

[2022-09-07 17:03] standbyoneself commented on #5529
Sorry I really need to read docs more carefully. Closed

[2022-09-07 17:03] #5529 closed, assigned to nobody

[2022-09-07 17:24] adidahiya commented on #5529
No worries! This one is probably a little hard to figure out from the docs. I'll try to make it more discoverable.

[2022-09-08 13:30] tom-james-watson opened #5533 "Allow specification of popper padding on Popover2"
#### Environment

- __Package version(s)__: core 4.2.0, popover2 1.1.3
- __Browser and OS versions__: Electron 19, macOS, linux, Windows

#### Feature request

I would like to be able to specify [popper boundary padding](https://popper.js.org/docs/v2/utils/detect-overflow/#padding) when using `Popover2`. There doesn't seem to be any way of doing so at the moment.

The use case is to avoid a popove

[2022-09-08 15:53] adidahiya commented on #5533
@tom-james-watson you should be able to do that by overriding the options for the default modifiers. See an example of this in [this sandbox](https://codesandbox.io/s/blueprint-sandbox-forked-rhqjfg?file=/src/Popover2Example.tsx:605-610):

[code]

[2022-09-08 15:55] #5531 closed, assigned to nobody

[2022-09-08 15:55] tom-james-watson commented on #5533
Thank you - I can confirm that works! :heart:

[2022-09-08 15:55] #5533 closed, assigned to nobody

[2022-09-09 21:13] ohcnivek commented on #5519
I can take a look into this issue!

[2022-09-10 07:25] ohcnivek commented on #5508
will work on this

[2022-09-11 15:49] JoseLion opened #5536 "DateTime2 components break ts-node execution (testing with mocha)"
#### Environment

- __Package version(s)__: @blueprintjs/datetime2 v0.5.6
- __Operating System__: Windows 11
- __Browser name and version__: Google Chrome v105.0.5195.102

#### Code Sandbox

N/A

#### Steps to reproduce

1. Create a component using one or more of the `@blueprintjs/datetime2` package component
2. Make a simple `.ts` test for the component
3. Set up `ts-node` and `mocha` to run the

[2022-09-12 15:56] #5508 closed, assigned to nobody

[2022-09-12 20:59] fnziman opened #5537 "[DateRangeInput2]: footerElement prop does not render"
#### Environment

- __Package version(s)__: "@blueprintjs/core": "^4.7.0",
    "@blueprintjs/datetime": "^4.3.4",
    "@blueprintjs/datetime2": "^0.5.0",
    "@blueprintjs/popover2": "^1.5.0",
    "@blueprintjs/select": "^4.5.2",
    "@blueprintjs/table": "^4.5.0",
    "@blueprintjs/timezone": "^4.4.4",
- __Operating System__: MacOs Monterey 12.1
- __Browser name and version__: Chrome Version 104.

[2022-09-13 18:48] fnziman commented on #5537
Included a fix here: https://github.com/palantir/blueprint/pull/5538

[2022-09-13 19:23] adidahiya commented on #5537
Thanks for the bug report! This looks like an oversight. I'll review your PR to fix the issue.

[2022-09-13 21:00] #5537 closed, assigned to nobody

[2022-09-14 08:42] knalinne commented on #5334
Hello,

I'm experiencing the same issue.

my index.scss file use blueprint, with a custom primary color.

[code]

I initially had this issue:
[code]

this problem come from a missing function:

https://github.com/palantir/blueprint/blob/df7c038bc5da95a4f021fc59395defeeb77e2d25/packages/core/scripts/sass-custom-functions.js#L26-L30

I was able to duplicate it in my webpack config, but .... the reso

[2022-09-14 08:45] yshterev commented on #5334
Hi @knalinne How did you add the function to webpack? Can you show code?
As for `../../resources/icons` .. I guess you can copy this folder from blueprint repo, add it to your project and make build resolve from there.

[2022-09-14 09:17] knalinne commented on #5334
Hello @yshterev I do not directly use webpack, I use craco.

I copied the function in my config file:

[code]

As you suggest, I copied the resources folder in the root of my project and it seems to work.

[2022-09-14 13:19] #5519 closed, assigned to nobody

[2022-09-19 13:50] ACallander commented on #3959
Is any update on this Figma file or on the community Figma being posted soon?

[2022-09-22 05:55] til-schneider commented on #4780
I have the same problem. My workaround is:

[code]

[2022-09-22 14:57] adidahiya commented on #4780
@til-schneider are you still hitting this issue with the latest versions of `@blueprintjs/table`? There have been some fixes implemented in the past year related to scrolling & rendering.

[2022-09-22 15:28] til-schneider commented on #4780
Yes, I'm using `@blueprintjs/table` version 4.6.7.

The problem doesn't occur on every scrolling, but maybe 1 out of 10 times, tested in Chrome on a Mac.

[2022-09-22 21:59] spmacdonald commented on #5399
I hit this today too, I think it is because not server from secure origin.

https://developer.mozilla.org/en-US/docs/Web/API/Clipboard

[2022-09-23 12:54] adidahiya commented on #5399
Yep, that would do it. According to the docs linked by @spmacdonald, you need HTTPS. Closing for now, will re-open if necessary.

[2022-09-23 12:54] #5399 closed, assigned to nobody

[2022-09-23 16:53] #5384 closed, assigned to nobody

[2022-09-27 16:47] adidahiya opened #5622 "Windows High Contrast mode styling issues"
Follow-up issues from #5524

#### Environment

- __Package version(s)__: @blueprintjs/core as of #5524
- __Operating System__: Windows with High Contrast mode enabled
- __Browser name and version__: Edge

## Styling issues

Listed below roughly in order of importance:

### Active tab indicator is hard/impossible to see

<img width="795" alt="Screen Shot 2022-09-26 at 4 35 45 PM" src="https://user-

[2022-09-30 19:05] asyncjason commented on #1029
This seems like the definitive thread for blueprintjs pagination. I read the comment about pagination dying and I’m keen to understand the alternative. I have an inventory application with an instance list viewer that could have a large number of records. Was planning on a db based search/filter and a pagination component to navigate the pages. What would the alternative look like?

[2022-10-03 21:25] adidahiya opened #5639 "FR: stylelint rule to ban Sass imports from @blueprintjs/*/src/ folders"
#### Feature request

I'd like to ban imports from `@blueprintjs/core/src/**/*` files in Sass/Scss code. There doesn't seem to be an existing Stylelint rule to do this, so I propose that we ship our own with `@blueprintjs/stylelint-plugin`. It may be useful for other projects / packages unrelated to Blueprint... maybe we can configure this new rule to take a "denylist" of import specifier globs li

[2022-10-05 17:51] dlech opened #5645 "Missing generated/16px/paths in @blueprints/icons"
#### Environment

- __Package version(s)__: @blueprints/icons v4.6.1
- __Operating System__: N/A
- __Browser name and version__: N/A

#### Actual behavior

CI for depedabot updates is failing due to missing files in the @blueprints/icons v4.6.1 package.

Example error message and stack trace from https://github.com/pybricks/pybricks-code/actions/runs/3191502668/jobs/5207890478#step:6:3181

[code]

[2022-10-05 18:43] lifeiscontent commented on #5297
@adidahiya any thoughts on maybe using css variables instead of sass variables?

[2022-10-05 23:32] sumeet07 commented on #5645
Similar issue while we build the application after getting above mentioned version of bp:
Failed to compile.
Module not found: Error: Can't resolve './generated/16px/paths' in '/node_modules/@blueprintjs/icons/lib/esm'

ERROR in ./node_modules/@blueprintjs/icons/lib/esm/iconCodepoints.js 16:0-84
Module not found: Error: Can't resolve './generated/16px/blueprint-icons-16' in '/node_modules/@bluepri

[2022-10-06 00:44] chrisbward commented on #5645
Also getting this!

[2022-10-06 04:31] bmoore15v commented on #5645
Getting this error also! Just started today.

[2022-10-06 04:43] Umenokin commented on #5645
@dlech thank you!!! I created blueprintjs with vite the fist time struggling to find any working solution. Setting to prev versions made it working:
[code]

[2022-10-06 07:06] Violetdusk commented on #5645
I was experiencing the same problem. I temporarily fixed this by specifying the `@blueprintjs/icons` version using selective dependency resolution.

Just add `resolutions` at the end of `package.json` like below.

Note that this is just a temporary workaround.

[code]

[2022-10-06 12:58] adidahiya commented on #5645
Thanks for raising the issue -- I'm looking into it now.

[2022-10-06 14:12] adidahiya commented on #5297
That would be a pretty large change to our Sass code and tooling. I'm generally open to exploring various technical options to accomplish an API goal like theming in Blueprint, but I'd need to see a proposal about how this would work, what code would need to change in Blueprint, how much of a breaking change it is, how we would migrate Blueprint user code, etc.

[2022-10-06 14:16] adidahiya commented on #5297
Also, replying to my earlier comment https://github.com/palantir/blueprint/issues/5297#issuecomment-1139676466 - we are generally moving away from `@import` statements in Sass and planning to migrate to `@use`. Sass is [deprecating `@import` and dropping support for it in a future version](https://github.com/sass/sass/blob/main/accepted/module-system.md). So, customizing Blueprint variables will o

[2022-10-06 14:23] justinbhopper commented on #5297
While css variables would be easier on end-users to override, I imagine it would be challenging to migrate to given the amount of sass math/operations that are happening with sass variables currently in blueprintjs.  You cannot call sass methods using css variables, so the team would have to decide what variables are safe to expose at the surface level versus what variables remain internal (and th

[2022-10-06 14:37] adidahiya commented on #5297
@justinbhopper yeah, that's what I feared with a proposal to use CSS variables. If there's no good interoperability story to use those variables in Sass code, it's kind of a non-starter for us.

[2022-10-06 14:55] mborik commented on #5645
After your fixes, new versions released and clean install with them, still same error:
[code]
packages:
[code]

[2022-10-06 15:00] adidahiya commented on #5645
Acknowledged, I just noticed that too @mborik.

It doesn't seem like there's anything wrong with the build scripts (I see all the `/generated/` folders present when SSH'ing into the publish CI builds), but this problem may have been caused by the recent upgrade of Node from 16.14 -> 16.17. I will downgrade Node and try to publish again while I further debug the issue.

[2022-10-06 15:32] dlech commented on #5297
I haven't looked into this any farther. We are just overriding styles for individual components now.

[2022-10-06 16:15] adidahiya commented on #5645
This is fixed in @blueprintjs/icons 4.6.3: https://unpkg.com/browse/@blueprintjs/icons@4.6.3/lib/cjs/generated/

I'll need to investigate why `node` 16.17 + `npm` 8.15 stopped publishing _just this one folder_ while `node` 16.14 + `npm` 8.5 works fine... 🤔

[2022-10-06 20:13] zachkirsch commented on #3959
+1 would love a Figma file 🙏

[2022-10-07 11:23] bkuzminski opened #5650 "closed"

[2022-10-07 11:24] #5650 closed, assigned to nobody

[2022-10-07 11:25] morela opened #5651 "DateRangePicker minTime maxTime have impact for everyday"
#### Code Sandbox

https://codesandbox.io/s/blueprintjs-block-time-in-past-gt1xb9?file=/src/index.js

#### Steps to reproduce

1. Click on input
2. Select dates range - startDate set to today date and end date somewhere in the future
3. Try to change time input to some hour in the past (If now is 13 then to pick 12 should be disallowed - it's ok)
4. Do the same for End Date - entire date is in fut

[2022-10-07 11:46] wmira commented on #5536
I'm getting this error with nextjs as well preventing me from using datetime2

[2022-10-07 15:14] alexpartsch opened #5652 "Localising @blueprintjs/datetime2 components in React 18"
#### Environment

- __Package version(s)__: 4.10.2"
- __Browser and OS versions__: Brave 1.144.50, macOS 12.6.0

#### Question

I'm trying to localise my `DateRangeInput2` control to the german language. Based on the [linked documentation](https://blueprintjs.com/docs/#datetime/datepicker.localization) to the old `datetime` package one needs to import `LocalUtils` from `react-day-picker` and apply

[2022-10-07 17:18] adidahiya commented on #5536
There's nothing fundamentally different in the datetime2 package as far as TS configuration and the emitted CommonJS / ES module .js files (compared to core, datetime, etc.).

I suspect the problem has to do with configuration of ts-node, mocha, or something else in your build stack.

[2022-10-07 18:46] adidahiya commented on #5652
@alexpartsch good question, thanks for reporting this detailed issue.

This seems plausible to me, but I haven't tried this. Does react-day-picker v7 not render properly with React 18?

We've been a bit slow to upgrade react and react-day-picker in Blueprint. I will try to prioritize upgrading react-day-picker in the next few weeks so that we can unblock React 18 support.

[2022-10-07 22:36] wmira commented on #5536
issue is lodash-es is published as an esm. It is used by the cjs output by datetime2 and this causes error as some bundler does not transform anything in node_modules

https://github.com/palantir/blueprint/blob/develop/packages/datetime2/src/common/getTimezone.ts#L17

and inside lib/cjs/common/getTimezone.js

exports.getCurrentTimezone = void 0;
var lodash_es_1 = require("lodash-es");

requiring l

[2022-10-07 22:39] wmira commented on #5536
@adidahiya  if you search:

https://github.com/palantir/blueprint/search?q=lodash-es

DateTime2 is the one that is using lodash-es? maybe it should use the normal cjs lodash package instead?

[2022-10-07 22:44] wmira commented on #5536
possible we change the import to:

import memoize from 'lodash/memoize'

https://github.com/palantir/blueprint/blob/7c639e95e4079bdd4fbe56a6fc2de1a24dbdafd8/packages/datetime2/src/common/getTimezone.ts#L17

and

import isEmpty from 'lodash/isEmpty'

https://github.com/palantir/blueprint/blob/81147fc2b5edb3a1ed36fe959c03b568c7461b68/packages/datetime2/src/common/timezoneUtils.ts#L18

[2022-10-07 22:51] wmira commented on #5536
for those having issue under nextjs, try this fix:
[code]

use next-transpile-modules on next.config.js to ignore datetime2 and lodash-es

[code]

and above should work with DateTime2

[2022-10-10 01:45] tinopetros commented on #5651
This one has me torn, because it appears that timePickerProps are passed down to each timePicker, hence minTime is also holding for the right time picker - yet, I cannot think of a use case where this would be useful. I am considering ensuring minTime is only used on the left time picker and maxTime only on the right.

[2022-10-10 11:50] bkuzminski commented on #5651
@tinopetros @adidahiya Could also be added possibility to disable seperately left or right time input? Right now we can disable only both.

[2022-10-10 12:23] williamphan opened #5664 "Suggest2 menu items no longer scrollable"
#### Environment

- __Package version(s)__: v4
- __Operating System__: macOS
- __Browser name and version__: Chrome, Safari

#### Code Sandbox

It's not working in the documentation either. https://blueprintjs.com/docs/#select/suggest2

<img width="588" alt="image" src="https://user-images.githubusercontent.com/8607198/194865343-fc6fcc06-c34c-473f-8006-16e9ee1e2421.png">

#### Actual behavior

The

[2022-10-10 13:12] alexpartsch commented on #5652
@adidahiya I guess react-day-picker v7 depends on an older version of react:

[code]

[2022-10-10 15:50] adidahiya commented on #5536
Ah, ok, I see the problem now. I guess we have a couple options here:
1. stop supporting cjs modules in `@blueprintjs/datetime2`, only export the `/lib/esm` folder and omit `/lib/cjs`
2. switch to submodule imports of `lodash` like you suggested, e.g. `import isEmpty from "lodash/isEmpty"`

(1) is something I'd like to do eventually, but I don't think that's a breaking change I want to commit to f

[2022-10-10 16:03] adidahiya commented on #5651
See my comment here: https://github.com/palantir/blueprint/issues/3509#issuecomment-503276758

Also related: https://github.com/palantir/blueprint/issues/5502

[2022-10-10 16:04] adidahiya commented on #5651
@bkuzminski that sounds like a separate request, can you file a new issue for it?

[2022-10-10 16:10] adidahiya commented on #5664
@williamphan thanks for the bug report. It's helpful if you can be more specific about the version number than simply "v4" (there are many versions under v4.x)

It looks like this bug has existed for Suggest2 for a while, at least since @blueprintjs/select v4.6.x -- I'll try to fix it ASAP.

[2022-10-10 16:25] adidahiya commented on #5536
Doing some research for this, it looks like many other library authors hit this problem with optimizing lodash imports as well. There are a few solutions out there to simultaneously support CJS and ESM, but they don't look very attractive to me at the moment. I think the cleanest approach is to drop CJS support in a future major version as I suggested above.

See:

- https://github.com/kyle-johnso

[2022-10-10 16:54] adidahiya commented on #5664
Bug was introduced in #5369, will be fixed by #5667

[2022-10-10 16:55] #5536 closed, assigned to adidahiya

[2022-10-10 16:59] #5664 closed, assigned to adidahiya

[2022-10-14 15:11] Christian24 commented on #5639
I came across a similar use case today:

Legacy webpack sass imports use `~` to specify that a style is imported from `node_modules`. However, modern versions of sass-loader discourage using `~` and it works without it. I would love to disallow using `~` in code, so I might be one of the use cases outside of blueprint.

[2022-10-17 19:41] ggdouglas opened #5675 "End date time picker not accessible when selecting between small date ranges"
#### Environment

- __Package version(s)__: `4.11.3`
- __Operating System__: macOS
- __Browser name and version__: Chrome 106.0.5249.119
#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/s/blueprint-datetime-end-range-yinb35

#### Steps to reproduce

Create a DateRangeInput2 component with a `minDate` and `maxDate` that spans less than a month and has the time picker enabled. e.g.

[2022-10-18 15:41] adidahiya opened #5676 "TimezoneSelect is missing some APIs from @blueprintjs/timezone"
#### Environment

- __Package version(s)__: @blueprintjs/datetime v0.7.0

#### Feature request

TimezoneSelect mentions `valueDisplayFormat` in its documentation, but the component doesn't actually support that prop.

Also, @blueprintjs/datetime2 is missing a few APIs from @blueprintjs/timezone which makes complete migration difficult:

- `TimezoneDisplayFormat`
- `ITimezoneMetadata`
- `getTimezon

[2022-10-18 17:34] wbrijesh opened #5677 "DateRangeInput2 doesn't work with Next.js"
#### Environment

- __Package version(s)__:
@blueprintjs/core:        "^4.11.3"
@blueprintjs/datetime2:   "^0.7.0"
- __Browser and OS versions__:
Firefox developer edition version 106.0b9
Mac OS 13.0 Beta (22A5331f)

#### Question

I am trying to use date range input component in a nextjs application

<img width="420" alt="Screenshot 2022-10-18 at 10 57 07 PM" src="https://user-images.githubuserco

[2022-10-18 19:36] #5676 closed, assigned to adidahiya

[2022-10-18 19:45] adidahiya commented on #5677
You need to supply `formatDate` and `parseDate`, they are required props. See the [props interface documentation here](https://blueprintjs.com/docs/#datetime2/date-range-input2.props-interface).

[2022-10-18 19:46] #5677 closed, assigned to nobody

[2022-10-19 08:18] tokarskyibogdan commented on #3364
use this inside your `onItemSelect` handler, and do not forget to add `popoverRef`

[code]

[2022-10-19 08:46] SoulPancake commented on #5173
Can you please assign this issue to me @adidahiya

[2022-10-19 13:53] #5419 closed, assigned to nobody

[2022-10-19 21:31] IrakliJani opened #5683 "MultiSelect2 add item on blur"
#### Environment

- __Package version(s)__: not relevant
- __Browser and OS versions__: not relevant

#### Feature request

Support for adding item on blur.

`TagInput` supports addOnBlur and addOnPaste
`MultiSelect2` (which wraps `TagInput`) only supports receiving callback on `onItemsPaste` but ignores input blurs.

#### Examples

[code]

[2022-10-20 20:06] #5173 closed, assigned to nobody

[2022-10-24 05:16] andreash opened #5692 "popover2 has no exported member PopperModifierOverride"
With Popper2 1.7.4 and the new PopperModifierOverride feature I get a

`Module '"@blueprintjs/popover2"' has no exported member 'PopperModifierOverrides'.ts(2305)`

I am using the[ example code](https://github.com/palantir/blueprint/blob/develop/packages/docs-app/src/examples/popover2-examples/popover2Example.tsx) from your site.

in VSCODE. Any ideas?

[2022-10-24 06:09] andreash opened #5693 "Still getting type errors on Column"
Hey, I left a comment regarding [the previous fix here](https://github.com/palantir/blueprint/pull/5266#issuecomment-1288406811). I also forked your sandbox and checked Table2 with Colum - no problems. However, in VSCODE I am still getting

[code]

on

[code]
@types/react version is 18.0.21

Any idea why this happens?

BTW, the "real" compile runs fine and does not generate any errors. It's just w

[2022-10-24 17:07] adidahiya commented on #5692
That export was very recently added, and it is unreleased. See the changelog: https://github.com/palantir/blueprint/wiki/4.x-Changelog#unreleased

I'll be cutting a release which includes that export some time today.

[2022-10-24 17:07] #5692 closed, assigned to nobody

[2022-10-24 17:11] adidahiya commented on #5693
This sounds like the problem is somewhere in your VSCode configuration. If `tsc` runs fine compiling with Blueprint types, then our types are likely working correctly. You may want to look for answers in VSCode support channels or Stack Overflow.

[2022-10-26 17:27] McDusty opened #5699 "Issue updating to React 18 caused by @blueprintjs/datetime dependency"
#### Environment

- __Package version(s)__:
    "@blueprintjs/core": "4.11.5",
    "@blueprintjs/datetime": "4.4.5"
    "react": "18.2.0",
    "react-dom": "18.2.0",
    "typescript": "4.8.1-rc",
     "@types/react": "18.0.23",
    "@types/react-dom": "18.0.7",

- __Operating System__: MacOS M1
- __Browser name and version__: Chrome Version 106.0.5249.119

#### Actual behavior
After updating a som

[2022-10-26 19:36] adidahiya commented on #5699
@blueprintjs/datetime is not currently compatible with react 18 because we use react-day-picker v7. I'll update the peer dependencies constraint to reflect this. Until we upgrade to react-day-picker v8, it's not going to compile successfully.

Similar issue here: https://github.com/palantir/blueprint/issues/5652#issuecomment-1271961466

[2022-10-26 20:51] McDusty commented on #5699
Cool thanks for the reply

[2022-10-27 02:35] adidahiya commented on #5240
Seems to be fixed, not seeing this anymore in `yarn dist`: https://app.circleci.com/pipelines/github/palantir/blueprint/3319/workflows/cec55cfc-3185-40f4-aaaa-4d1a4e9d6d1c/jobs/63137

[2022-10-27 02:35] #5240 closed, assigned to nobody

[2022-10-27 18:32] xtecox commented on #5212
Any updates on this?

[2022-10-28 06:47] andreash opened #5701 "Change table row height programatically"
The row heights can be changed in the UI with the mouse. I would appreciate if there was an API to change the row heights programmatically as well. It would then be possible to use other form elements (with larger height than a normal text cell) inside the cells.

[2022-10-28 12:46] adidahiya commented on #5212
@xtecox updates on what, exactly? There are some alternative APIs mentioned above that should allow you to work around the `ReactDOM.render()` in React 18. We're planning to remove `ReactDOM.render()` from Toaster in Blueprint v6.0.

[2022-10-28 12:57] adidahiya commented on #5701
@andreash there are `<Table>` and `<Table2>` component instance methods to resize rows based on the content in each cell, try them out with something like this:

[code]

Docs here: https://blueprintjs.com/docs/#table/api.instance-methods

[2022-10-28 23:01] jasminecronin opened #5702 "[table] ResizeSensor injects raw HTML which violates Content Security Policy"
#### Environment

- __Package version(s)__:
[code]
- __Operating System__:
    - Running inside a Docker container with below version
    - on WSL with `Ubuntu 20.04.5 LTS` distribution
    - on Windows 10 Pro build 19044.2130
[code]
- __Browser name and version__:
    - Microsoft Edge Version 106.0.1370.52
    - Google Chrome Version 106.0.5249.119

#### Description

We are serving our React app

[2022-10-31 18:32] adidahiya commented on #5702
Hmm, that's interesting, is it only the table component(s) which have this problem? We have other Blueprint components which use [inline styles via the `style={..}` JSX attribute](https://cs.github.com/palantir/blueprint?q=style%3D%7B), do those violate your CSP as well?

The ResizeSensor you linked to in @blueprintjs/table is very old, and could be refactored to use @juggle/resize-observer like [

[2022-10-31 19:06] jasminecronin commented on #5702
~~`table` was the only component that was causing the problem for us. `core`, `popover2`, and `select` were for sure not giving us an inline styling problem, I don't think I can comment on the rest.~~

Edit: I realize you asked about components, not packages. Obviously we use a fair number of different components across our apps, but yeah the `Table`/`Table2` components were the only ones giving u

[2022-11-03 14:55] artemavrin commented on #5334
Hey! How to solve this with vite?

[2022-11-03 21:10] adidahiya opened #5710 "DateRangeInput2 has no replacement for popoverProps.fill"
DateRangeInput claimed to support `popoverProps={{ fill: true }}` in its types, but it didn't actually do anything:

![2022-11-03 14 09 33](https://user-images.githubusercontent.com/723999/199834782-3ed869c1-da08-4000-b67f-6ef27e9d5e8b.gif)

... unless you also enable `startInputProps={{ fill: true }}` and `endInputProps={{ fill: true }}`:

![image](https://user-images.githubusercontent.com/723999

[2022-11-04 22:46] adidahiya opened #5714 "DateInput2 timezone does not update until popover is opened again"
#### Environment

- __Package version(s)__: @blueprintjs/datetime2 v0.8.2
- __Operating System__: macOS
- __Browser name and version__: Chrome

#### Code Sandbox

Observable in the [DateInput2 docs](https://blueprintjs.com/docs/#datetime2/date-input2)

#### Steps to reproduce

1. Select a date
1. Change the timezone

#### Actual behavior

New timezone does not display until the input is clicked or

[2022-11-05 01:40] 0xRenegade opened #5719 "Functional Component Examples"
#### Environment: not relevant

#### Feature request

Is there currently any examples using Functional components instead of Class Components? If not, could they be added?

[2022-11-06 04:21] #5714 closed, assigned to adidahiya

[2022-11-06 23:34] 0xRenegade opened #5721 "props.panel.renderPanel is not a function"
#### Environment

- __Package version(s)__: 4.11.6
- __Browser and OS versions__: Ubuntu 22.04, Chrome Version 107.0.5304.87 (Official Build) (64-bit)

#### Question

I am trying to use PanelStack2 with multiple, nested, panel jsx files and am using the props.openPanel() function to open the next panel, which is an imported jsx element, and a console.log(props) shows the function does indeed exist

[2022-11-07 16:46] adidahiya commented on #5721
Related to: https://github.com/palantir/blueprint/issues/5359

[2022-11-08 13:55] pxnis opened #5732 "Typescript 4.8 support"
compareUtils.filterKeys is incompatible with typescript 4.8

Tested with
- @blueprintjs/core: 4.12.0
- Typescript 4.8.4 (no problems with 4.7.4)

Log output:
[code]

[2022-11-08 18:23] #1834 closed

[2022-11-09 18:07] adidahiya commented on #2882
I think this is pretty much fixed with Popover2 and popper.js v2 configuration options.

[2022-11-09 18:07] #2882 closed

[2022-11-09 20:09] #5719 closed, assigned to nobody

[2022-11-09 20:13] #5693 closed, assigned to nobody

[2022-11-09 20:14] #5701 closed, assigned to nobody

[2022-11-09 20:15] #5110 closed, assigned to nobody

[2022-11-09 20:15] #5094 closed, assigned to nobody

[2022-11-09 20:16] #5038 closed, assigned to nobody

[2022-11-09 20:17] #4968 closed, assigned to nobody

[2022-11-09 20:18] #4967 closed, assigned to nobody

[2022-11-09 20:19] #4831 closed, assigned to nobody

[2022-11-09 20:19] #4787 closed, assigned to nobody

[2022-11-09 20:19] #4746 closed, assigned to nobody

[2022-11-09 20:20] #4733 closed, assigned to nobody

[2022-11-15 21:28] StefanoGagliardi commented on #5675
Good morning, everyone,
I have known BLueprint for a while, initially used it for some projects and then having enjoyed it I decided to study the source code in depth.
If you are okay with it I would take over this issue, helping you in finding the solution and saving you time so you only have to validate the code.
In addition I was also thinking of writing an associated e2e test.
Thanks in advanc

[2022-11-17 10:11] lmk123 commented on #5212
I have created a small module, hope it helps. You can install it from [@hcfy/create-toaster](https://www.npmjs.com/package/@hcfy/create-toaster), or use the following code in your project

[code]

Before:

[code]

After:

[code]

[2022-11-18 15:22] tinopetros opened #5758 "[Multistep Dialog] Allow showing close buttons both in the header and footer for customizability"
#### Feature request

It would be useful if this `showCloseButtonInFooter` prop being true did not mean that the close button in the dialog title will not be shown. Instead of being exclusive, both buttons can appear.

[code]

#### Usecase

Since the `closeButtonInFooter` has `closeButtonProps` it can be used to do other custom things, the most important use case for a multistep dialog button bein

[2022-11-18 15:39] peter-goodfill opened #5759 "Performance : Select2 is slow for 2000 items"
(actually for 800, but for demo purpose I chose 2000 so it is more visible)

#### Environment

- __Package version(s)__: `4.12.0`
- __Operating System__: `Ubuntu`
- __Browser name and version__: `Chrome 107.0.5304.87`

#### Code Sandbox
For was not working so I have created my own:

https://codesandbox.io/s/loving-ace-usf98j?file=/src/App.tsx

#### Steps to reproduce

1. Click on select box
2. The

[2022-11-18 17:04] adidahiya commented on #3975
This seems similar to https://github.com/palantir/blueprint/issues/5027, which has been fixed in recent versions of `@blueprintjs/table` in the Table2 component. I can't repro it anymore, see this sandbox: https://codesandbox.io/s/great-greider-8mtmkg?file=/src/index.tsx

[2022-11-18 17:04] #3975 closed

[2022-11-18 18:30] adidahiya opened #5760 "Blueprint v5 popover auto placement is different from v4"
#### Environment

- __Package version(s)__: @blueprintjs/popover2 v1.10.0

#### Code Sandbox

Link to a minimal repro: https://sdlqfs.csb.app/

#### Problem

When configuring Popover2 with `rootBoundary="viewport"` or `rootBoundary="document"`, the automatic popper.js placement has different behavior compared to Popover. This may be expected and a bugfix in some cases since the positioning engine

[2022-11-18 18:50] adidahiya commented on #5759
For very large lists you are recommended to virtualize rendering of the select component, and we provide the props (`itemListRenderer`, `itemRenderer`) that should allow you to do this with a third-party library. See related issues like https://github.com/palantir/blueprint/issues/2632 and https://github.com/palantir/blueprint/issues/4271.

Closing this as it's essentially a duplicate of #2632.

[2022-11-18 18:50] #5759 closed, assigned to nobody

[2022-11-19 05:33] erikdao opened #5761 "Components are not working with next.js"
#### Environment

- __Package version(s)__: 4.12.0
- __Operating System__: macOS Ventura, M1 MacBook Pro
- __Browser name and version__: Chrome Version 107.0.5304.110 (Official Build) (arm64)
- __Nextjs version__: 13.0.4

#### Code Sandbox

[code]

#### Steps to reproduce

I'm trying a very basic nextjs setup with Blueprintjs and it seems that none of the components of the framework is working. Th

[2022-11-19 05:40] erikdao commented on #5761
Indeed this is a nextjs 13 problem!

[2022-11-19 05:40] #5761 closed, assigned to nobody

[2022-11-21 19:00] zerovox opened #5767 "Table2 truncated table cells not vertically centered with non-default table row heights"
<img width="1091" alt="Screen Shot 2022-11-21 at 11 55 35 AM" src="https://user-images.githubusercontent.com/933064/203137200-e3521504-3854-49aa-a88d-0584d8c65d57.png">

#### Steps to reproduce

1. Create a table with non-default row heights, in my screenshot below this is 30px via `defaultRowHeight={30}`
1. Add cells formatted with `<TruncatedFormat2 />`

#### Actual behavior

The row contents ar

[2022-11-22 17:22] N1kto commented on #5264
Hello!
Looks like there is still some issue with `columnWidths` prop.

**Environment**
"@blueprintjs/table": "4.7.9"

**Code Sandbox**
Link to a minimal repro: [demo](https://codesandbox.io/s/zealous-johnson-7y0jc5?file=/src/App.js:0-23)

**Steps to reproduce**
Checkout the demo code:
- initially `colWidths` contains `null` value for the 1st column width and 230 for the 2nd column;
- further we ha

[2022-11-23 14:51] wprosrb opened #5769 "Table2 no longer interactive if column drag passed the first column position"
#### Environment

- __Package version(s)__: [Table 4.7.7](https://www.npmjs.com/package/@blueprintjs/table)
- __Operating System__: macOS Version 12.6.1
- __Browser name and version__: Chrome Version 107.0.5304.110 (Official Build) (arm64)

#### Steps to reproduce

1. Drag any column to reorder it to be the first column, but release the drag passed the first column position

[Blueprint Documentati

[2022-11-23 18:05] JuanIrache opened #5770 "Tooltip2 has transparent background"
#### Environment

- __Package version(s)__: ^4.12.0
- __Operating System__: MacOS
- __Browser name and version__: Electron ^21.2.2

#### Steps to reproduce

1. Use Tooltip2 as explained here https://blueprintjs.com/docs/#popover2-package/tooltip2

#### Actual behavior

The tooltip text appears but has a transparent background and is illegible

#### Expected behavior

The tooltip has a background,

[2022-11-24 11:07] JuanIrache commented on #5770
My bad. I was not importing the right CSS. It's explained here: https://blueprintjs.com/docs/#popover2-package

[2022-11-24 11:07] #5770 closed, assigned to nobody

[2022-11-28 12:28] amajcher commented on #5443
It looks like it could be the root cause of another bug with DateInput2.
Steps:
* DateInput2 without time part
* Choose date
* Remove some part of the year and write it back (11/28/202 -> 11/28/2022)
* ❌ 'Out of range' msg
![dateInput2_bug](https://user-images.githubusercontent.com/13402945/204277726-59e89e25-aeff-41b1-8b07-e25ab6011bbe.gif)

[2022-11-28 21:21] Redirts opened #5771 "Dateinput and Dateinput2 popover and maxDate behavior"
#### Environment

- __Package version(s)__: Datetime 4.4.7 and Datetime2 0.9.5
- __Operating System__: Windows 11
- __Browser name and version__: Chrome 107 and Firefox 107

#### Code Sandbox

https://codesandbox.io/s/bold-david-nbr76c?file=/src/DatetimeExample.tsx

#### Steps to reproduce

Popover
1. Click on Dateinput or Dateinput2 to show popover
2. Change the hour field of the time picker to s

[2022-11-29 13:18] ilomon10 opened #5772 "Getting element ref on MenuItem"
#### Environment

- __Package version(s)__: 4
- __Operating System__: Windows 10
- __Browser name and version__: Chrome Latest

#### Steps to reproduce

1. I'm trying to get element ref, from MenuItem
`<MenuItem ref={ref => console.log(ref)}/>`
2. It return object of MenuItem (AbstractPureComponent2)

#### Expected behavior

Returning HTMLElement object

#### Possible solution

Maybe you can add i

[2022-11-29 15:44] orlahowell commented on #5652
@adidahiya do you have any progress on upgrading react-day-picker?

[2022-11-29 23:28] jacobbel opened #5773 "queryList active item breaks when createNewItemPosition set to first"
#### Environment

- __Package version(s)__: @blueprintjs/select@4.5.3
- __Operating System__: Windows 10
- __Browser name and version__: Chrome latest

#### Steps to reproduce

1. View select2 on docs website https://blueprintjs.com/docs/#select/select2
2. Enable "Allow creating new items"
3. Enable "Create new positions: first"
4. Open select and type "spirited away"

#### Actual behavior

The me

[2022-11-30 12:25] alexpartsch commented on #5652
Nope, sticking with it.

[2022-11-30 12:55] jrafidi opened #5775 "Select2 does not open properly with space or enter when focused"
#### Environment

- __Package version(s)__: 4.12.0
- __Operating System__: OSX
- __Browser name and version__: Chrome 107.0.5304.121

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://blueprintjs.com/docs/#select/select2

#### Steps to reproduce

1. Get focus on the select in the docs page
2. Press space or enter

####

[2022-11-30 14:23] adidahiya commented on #5767
Agreed @zerovox, this could be improved:

<img width="467" alt="image" src="https://user-images.githubusercontent.com/723999/204819004-576e889e-96fa-43bf-975c-4da7dd8a6e53.png">

It will probably be a relatively simple CSS change if you or anyone else wants to contribute a bugfix!

[2022-11-30 14:31] adidahiya commented on #5264
@N1kto this is actually the intent of the component implementation, see https://github.com/palantir/blueprint/blob/13be38868ed90c2543bb0e4d29f82ed56b8e97e2/packages/table/src/table2.tsx#L576-L579

Can you please file a new issue for your problem? I have some feedback on the sandbox you shared. First: I think you need to wait until Table2's `onCompleteRender` is called once before running your effe

[2022-11-30 15:21] adidahiya commented on #5769
I created a code sandbox to repro your bug. I'm not sure if it's a regression, but this should definitely be fixed: https://codesandbox.io/s/blueprint-table-sandbox-khy05u?file=/src/index.tsx

[2022-11-30 15:38] adidahiya commented on #5771
This seems to be a duplicate of https://github.com/palantir/blueprint/issues/4776. I will note there that it also occurs with DateInput2 in addition to DateInput.

I don't think this should necessarily be true. You have decided to specify a time precision in the picker, and set a max date `Date` object which includes a timestamp in it. If that timestamp happens to be at 0:00 of that day, then I th

[2022-11-30 15:39] adidahiya commented on #4776
Looks like this bug is still present in DateInput2: https://github.com/palantir/blueprint/issues/5771

[2022-11-30 15:42] adidahiya commented on #5772
Why do you need the HTML element?

[2022-11-30 15:46] adidahiya commented on #5773
I can repro the bug with @blueprintjs/select v4.8.8:

![2022-11-30 10 45 47](https://user-images.githubusercontent.com/723999/204843717-a2cfe71e-dcfb-4df0-9903-07c7c856f64c.gif)

[2022-11-30 16:56] #5773 closed, assigned to nobody

[2022-11-30 17:26] #5758 closed, assigned to nobody

[2022-11-30 20:14] N1kto opened #5778 "Table2 `columnWidths` prop is not working as expected"
#### Environment
"@blueprintjs/table": "4.7.9"

#### Code Sandbox

Link to a minimal repro: [demo](https://codesandbox.io/s/zealous-johnson-7y0jc5?file=/src/App.js:0-23)

#### Steps to reproduce
Checkout the demo code:
- initially `colWidths` contains `null` value for the 1st column width and 230 for the 2nd column;
- further we have an effect which updates `colWidths`: we set 400 width for the 1s

[2022-11-30 20:32] N1kto commented on #5778
@adidahiya  you can comment out the effect you mentioned. It's not the effect that is called too early (btw is it documented that certain props' updates are not allowed before `onCompleteRender` is fired?), but rather smth else, because when you click "set all cols 300" button the column widths are still not updated... Until you scroll or click the button the 2nd time. In fact, I no longer think t

[2022-11-30 22:04] rhysbrettbowen opened #5779 "dataNode on TreeNode should not be optional"
#### Environment

- __Package version(s)__:
- __Browser and OS versions__:

#### Feature request

This line: https://github.com/palantir/blueprint/blob/develop/packages/core/src/components/tree/treeNode.tsx#L83

[code]

should not be optional. It prevents type checking. If a user wants that to be optional then they can pass in undefined as a union for the generic parameter

#### Examples

can't do