[2021-11-22 21:12] nrakochy commented on #5025
Ah missed the notification on this one. Thanks for the feedback, much appreciated 👍

[2021-11-22 21:12] #5025 closed, assigned to adidahiya

[2021-11-23 00:39] tnrich commented on #3194
I have to say that this seems like a pretty bad design choice. I don't know how other component libraries handle this but I imagine there exists a better workaround that makes more people happy.. then again, maybe not?

From my perspective as a component developer that uses blueprint, it adds a hidden cost for people who are wanting to use my module. The first time they install it in their repos t

[2021-11-23 08:58] paweljurczynskiflyr commented on #5029
I cannot create a sandbox, as I wrote in the first message 😢 I just need a way to debug this somehow.

[2021-11-23 09:14] HZ-labs opened #5032 "Toast drop focus on close"
#### Environment

- __Package version(s)__: "@blueprintjs/core": "^3.51.3",
        "@blueprintjs/datetime": "^3.23.6",
        "@blueprintjs/icons": "^3.27.0",
        "@blueprintjs/popover2": "^0.12.8",
        "@blueprintjs/select": "^3.18.10",
- __Operating System__: Mac Os
- __Browser name and version__: Chrome last

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https:/

[2021-11-23 12:56] Lemmaho opened #5033 "Remove border on the table"
Is there a way to remove the border in the table column header? I want to override it with border:0 just like <table> normally but in blueprintjs it's using <div> tag instead. How can I override it?

[2021-11-23 13:19] adidahiya commented on #5033
Are you referring to the Table component from the `@blueprintjs/table` package?

If you want to apply custom styling, you'll need to inspect the rendered DOM, find the relevant CSS selectors for the "border" appearance, and override them with custom styles. There are no guarantees that this won't break table layout logic if you change the layout & sizing of the Table component.

[2021-11-23 13:21] adidahiya commented on #5032
What do you mean focus is "dropped"? I don't quite understand what's happening at the end of your screencap there... it seems like you just click the `<select>` dropdown to open it and the recording ends there.

[2021-11-23 13:25] adidahiya commented on #5030
Hmm, you're right, it looks like the popover2 package doesn't have a version number in either the 3.x or 4.x docs. I'll file a bug for that.

[2021-11-23 13:25] #5030 closed, assigned to nobody

[2021-11-23 13:30] adidahiya opened #5034 "[docs-app] popover2 package has no version number listed in docs"
#### Environment

- __Package version(s)__: docs-app 3.x + 4.0.0-beta.x
- __Operating System__: macOS
- __Browser name and version__: Chrome / FF

#### Actual behavior

As reported in https://github.com/palantir/blueprint/issues/5030#issuecomment-975901941, the popover2 package section header in the navigation list has no version number listed.

#### Expected behavior

The latest popover2 package

[2021-11-23 19:43] HZ-labs commented on #5032
on the toast closed - the select is auto closing or input lost a focus.

- Open Tost
- Open select or focus input field
- on closing toast - input lost a focus

[2021-11-24 05:33] aycai opened #5035 "Input - add small prop to numeric and file inputs"
#### Feature request

Add `small` prop to [file inputs](https://blueprintjs.com/docs/#core/components/file-input) and [numeric inputs](https://blueprintjs.com/docs/#core/components/numeric-input).

[Tag inputs](https://blueprintjs.com/docs/#core/components/tag-input) also don't have a small version, but I don't think they should since tags have a minimum size...

#### Examples
[Text inputs](https:

[2021-11-24 16:11] jgresham commented on #3066
I'd really like to use the dark theme, but I am confused on how to get it done. I think this works. Could there be straightforward steps added to the docs https://blueprintjs.com/docs/#core/typography.dark-theme ? Something like:

App.js
[code]

index.scss
[code]

[2021-11-24 19:17] switz commented on #5024
Did make some progress, but that won't override the `import { Colors } from @blueprintjs/core` of course. Any thoughts there?

[code]

[2021-11-25 08:30] daturon opened #5036 "FileInput stopped working in Chrome"
#### Environment

- __Package version(s)__: 3.47.0
- __Operating System__: macOs Monterey 12.0.1
- __Browser name and version__: Chrome Version 95.0.4638.69 (Official Build) (arm64)

#### Code Sandbox

Link to a minimal repro - https://blueprintjs.com/docs/#core/components/file-input

#### Steps to reproduce

1. Try to choose a file

#### Actual behavior

Nothing happens.

#### Expected behavior

[2021-11-25 08:40] #5036 closed, assigned to nobody

[2021-11-25 10:08] HZ-labs commented on #5032
@adidahiya I create this sandbox.
1. Change input on Column 1 and `Tab` to next input.
2. On first input changing I showing a Toast
3. Toast is closing and returning focus to first input without my actions

How I can fix it?

Example: https://www.loom.com/share/2a6ba36af5524178b4750dbb25016c29
Sandbox: https://codesandbox.io/s/blueprintjs-toast-focus-issue-v90in?file=/src/App.js

[2021-11-25 19:18] DanHarman commented on #926
This is a little more painful in Suggests etc. If you use MenuItems in the popup, if you wrap them in a tooltip, the scroll to selected item breaks. Not sure on cause yet.

[2021-11-26 07:53] openaphid commented on #2223
I stumble upon [Public Comps](https://www.publiccomps.com/tickers?items=High+Growth+SaaS), a dashboard that illustrates one of Blueprint.js's key scenarios: data-intense desktop application.

[2021-11-27 15:09] justinmchase opened #5037 "Your logo is a cool cube yet all of your themes have rounded corners, why?"
#### Environment

- __Package version(s)__: na
- __Browser and OS versions__: na

#### Question

Is there a non-rounded corner theme? The cool cube logo drew me in but then when I got to see the actual components I was dissappointed by the softness and rounded corners. Is there a cubist theme?

Maybe soften the cube on the logo if not to correspond to the reality of the esthetic otherwise?

[2021-11-28 11:55] SnarkBoojum opened #5038 "Please tag full releases"
I wanted to see if it was possible to package blueprint for Debian, and found out it would be quite difficult: each and every subpackage has a tag for each release, but there is no big tag for the full stack, so it's difficult to know when there's a coherent whole.

Can you also tag full releases? Thanks!

[2021-11-29 01:27] #5037 closed, assigned to nobody

[2021-11-29 07:01] Samrose-Ahmed opened #5039 "MultiStepDialog: allow step to be controlled and custom onClick, loading on nextButton"
#### Environment

- __Package version(s)__: v4
- __Browser and OS versions__: Chrome

#### Feature request

The MultiStepDialog doesn't allow the step to be controlled. It should allow option to be controlled. Additionally, you should be able to perform custom actions on each step.

#### Examples

E.g. you want to do some actions in each step, instead of all at the end. There's no way to perform a

[2021-11-29 07:09] Samrose-Ahmed commented on #5039
My bad, I missed the onChange prop in the docs!

[2021-11-29 07:09] #5039 closed, assigned to nobody

[2021-11-29 10:03] HZ-labs commented on #5032
@adidahiya Do you have some news and this example is an understandable?

[2021-11-29 10:49] undefined-dot-json opened #5040 "[Multistep Dialog] Expose a function to proceed to the next step in the dialog"
#### Feature request

It would be useful if the Multistep Dialog exposes a method to proceed to the next step in the dialog.

##### Use Case
The dialog can progress through steps when the user presses on the enter key

#### Examples

[code]

[2021-11-29 10:56] undefined-dot-json opened #5041 "[Multistep Dialog] Allow navigation via sidebar steps to be disabled"
#### Feature request

Add the ability to disable navigation to different steps in the sidebar.

##### Use case

In complex wizards where validation of each step is dependant on the previous results, we do not necessarily want users to be able to navigate through the wizard using the side panel. The navigation should purely be done via the next button to allow proper validation on each step

#### E

[2021-11-29 13:09] pcdv opened #5042 "Cannot use Enter key in dialog/textarea spawned from Table"
#### Environment

- __Package version(s)__: table 3.9.12, core 3.49.1
- __Operating System__: windows
- __Browser name and version__: firefox and chrome

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-forked-r06o8?file=/src/index.tsx

![image](https://user-images.githubusercontent.com/1318831/143886218-31a2dab0-5517-4479-b6f7-cf3565a0c1d0.png)

#### Actual behavior

Cannot insert ne

[2021-11-29 22:37] jrafidi opened #5043 "OverflowList can crash page at >50 items"
#### Environment

- __Package version(s)__: core@4.0.0-beta.10
- __Operating System__: OSX
- __Browser name and version__: Chrome 96.0.4664.55

#### Code Sandbox

I didn't want to make an account so I pasted the code below.

#### Steps to reproduce

1. Create an `OverflowList` with 50 items that only fits a small number of those items (<5)

#### Actual behavior

Maximum call stack error from React

[2021-11-30 11:11] furkanbezci commented on #3383
How??

[2021-11-30 15:12] adidahiya commented on #5038
Our releases are tagged using [lerna](https://github.com/lerna/lerna), which does not support this kind of "full release" tag AFAIK. We'd have to add extra build tooling to make a tag like `v4.0.0-beta.10` _in addition to_ the current style of tags, `@blueprintjs/core@4.0.0-beta.10`... and I'm not inclined to do that for the minimal benefit it would provide. Note that every time the core package i

[2021-11-30 15:16] #3039 closed

[2021-11-30 15:16] #3239 closed

[2021-11-30 15:18] adidahiya commented on #5024
@switz Blueprint packages don't use the `Colors` variables internally to style anything; those are just provided for convenience for Blueprint consumers. Blueprint components are all styled with Sass/CSS, so changing the Sass color variables as you've done in that code snippet should be sufficient to get the old colors. Let me know if you run into more problems.

[2021-11-30 15:19] adidahiya commented on #3066
@jgresham yes, we ought to improve the documentation around dark theme. This is already filed as an FR here https://github.com/palantir/blueprint/issues/4436

[2021-11-30 15:26] adidahiya commented on #5032
Ah yes, I see the problem now, thanks for the additional example. This is a bug introduced by https://github.com/palantir/blueprint/pull/4904, and I think it can be easily fixed by changing how we set the `shouldReturnFocusOnClose` prop for Toaster's Overlay. I'll look into it.

[2021-11-30 15:29] adidahiya commented on #5041
@aycai @mud what do you think about this design constraint?

[2021-11-30 15:31] adidahiya commented on #5043
Duplicate of https://github.com/palantir/blueprint/issues/3792, can you please add your relevant comments there?

[2021-11-30 15:31] #5043 closed, assigned to nobody

[2021-11-30 17:00] adidahiya opened #5044 "[v4] FR: provide aliases for old "cobalt" color names"
In v4, we've renamed "cobalt" colors to "cerulean". It would be helpful for some consumers migrating to v4 for an alias to exist that maps cobalt -> cerulean, e.g. `Colors.COBALT1 = Colors.CERULEAN1`

This would allow old references to the "cobalt" _identifiers_ (not color hex values) to continue working with the new color palette. These identifiers would be marked as `@deprecated` and removed in

[2021-11-30 17:37] mud commented on #5041
@adidahiya I think that'll be a nice opt-in behavior to add. Our use case for a wizard is similar in that we prefer users not jump steps.

[2021-11-30 18:15] jgresham commented on #4436
My related comment on another PR: https://github.com/palantir/blueprint/issues/3066#issuecomment-978021947

[2021-11-30 21:12] SnarkBoojum commented on #5038
Uh... "git tag -s 2021.12.01" is all it takes for a full release ; no extra tooling is necessary.

[2021-11-30 22:06] adidahiya commented on #5038
I still don't think the semantics you're expecting match up with how this collection of NPM packages work. There's no single "coherent whole" at any given time... many different versions of the different packages are supported at the same time, constrained by dependency ranges which are defined in `package.json` files.

Have you tried to package together any other monorepos in this way? I'm sure y

[2021-11-30 23:20] aycai commented on #5041
Makes sense to me as an optional feature as well!

[2021-12-01 00:52] mattskrobola opened #5048 "Large columns stop rendering when scrolling horizontally and number of frozen columns > 3"
A table with more than 3 frozen columns will stop rendering non-frozen columns before they fully leave the view. I think this has to do with the fact that the `getColumnIndicesInRect` function in Grid starts at `columnIndexStart` which starts at 0 + number of frozen columns and grid bleed is set to 3 by default.

Link to a minimal repro: https://codesandbox.io/s/blueprint-sandbox-forked-0cpzu?file

[2021-12-01 15:59] #5019 closed, assigned to nobody

[2021-12-01 16:12] danaugrs opened #5051 "Allow adding a leftElement to a NumericInput (Blueprintjs 4.0.0-beta.10)"
Please allow adding a `leftElement` to a `NumericInput`!
(Blueprintjs 4.0.0-beta.10)

[2021-12-01 16:22] dallonf opened #5052 "Support ESLint v8 in ESLint plugin"
#### Environment

- __Package version(s)__: @blueprintjs/eslint-plugin@0.3.5
- __Browser and OS versions__: Browser N/A, macOS 11.6.1

#### Feature request

[ESLint v8](https://eslint.org/docs/8.0.0/user-guide/migrating-to-8.0.0#comma-dangle) has been out for some time now - it would be great if the Blueprint plugin supported it!

[2021-12-01 16:44] michal-ciechan opened #5053 "DateInput closeOnUserDifferentMonthSelection"
As per the following code:

https://github.com/palantir/blueprint/blob/e148da20dc778e3b177062f29a1f5930d7a0d8ac/packages/datetime/src/dateInput.tsx#L293-L299

I think this is unintuitive and we should have an option to close the popup when user select a date, even if its in a different month.

I am willing to raise a PR for v4 to add a `closeOnUserDifferentMonthSelection`, defaulting it to false.

[2021-12-01 17:27] eyalw commented on #240
This is still happening today in your docs

[2021-12-01 19:01] adidahiya commented on #240
@eyalw this is a very old issue; if you're still seeing a similar problem, please file a new bug report.

[2021-12-01 19:04] adidahiya commented on #5051
What is your use case? What do you want to display there which is not an icon (already supported by the `leftIcon` prop)?

[2021-12-01 19:10] l1x opened #5054 "Uncaught ReferenceError: require is not defined"
#### Environment

- __Package version(s)__:
    "@blueprintjs/core": "4.0.0-beta.10",
    "react": "^17.0.2",
    "react-dom": "^17.0.2"

- __Operating System__: MacOS
- __Browser name and version__:  Chrome

#### Code Sandbox

Link to a minimal repro: https://github.com/DataDeft/web-debug

#### Steps to reproduce

Clone repo, yarn install, yarn build, yarn serve, open the link and watch the blank

[2021-12-01 19:19] adidahiya commented on #4393
fixed by #4934

[2021-12-01 19:19] #4393 closed, assigned to adidahiya

[2021-12-01 19:19] adidahiya commented on #4829
fixed by #4934

[2021-12-01 19:19] #4829 closed, assigned to nobody

[2021-12-01 19:24] adidahiya commented on #5054
That's surprising; we ship esm modules (see the `/lib/esm/` folder in the built NPM package) and Vite should support those. It looks like similar issues / questions have been raised with Vite, like https://github.com/vitejs/vite/issues/3409. You can probably work around this issue using vite-plugin-commonjs.

[2021-12-01 19:25] Ghustavh97 commented on #5002
need help?

[2021-12-01 19:26] adidahiya commented on #5054
Looking a bit more closely, though, it seems like these lines may be causing the problem:

https://github.com/palantir/blueprint/blob/54cb93ff67936f39b485350383cbcdb3feaaedea/packages/icons/src/iconSvgPaths.ts#L23-L24

Those are the only places we ship code referencing `require()`. I should be able to swap those back to use `import` statements instead...

[2021-12-01 19:26] l1x commented on #5054
Thanks @adidahiya! I am trying exactly that right now. :)

[2021-12-01 19:49] l1x commented on #5054
Confirmed. Your change (that you linked above) is causing this. When I move back to version 3.51.3 it works because it uses still the old import ( as opposed to require).

[2021-12-01 20:20] danaugrs commented on #5051
I need to display a button there (with a Select for the user to select a currency). I'm currently using an `InputGroup` and have implemented part of the numeric logic in my own component. It would be nice to be able to use `NumericInput` instead, with all its conveniences.

[2021-12-01 21:47] aycai commented on #4989
being resolved with #5055

[2021-12-02 15:30] adidahiya commented on #5002
@Ghustavh97 do you have any concrete ideas / suggestions to fix this? At this point I'm considering going back to the original plan of dropping the icon font as a breaking change in v4.0.

[2021-12-02 15:35] adidahiya commented on #5051
Ok, that sounds reasonable. Out of curiosity could you share a screenshot or design mockup?

We can add a prop `<NumericInput leftElement>` which behaves the same as the one for `<InputGroup>`.

[2021-12-02 17:18] Ghustavh97 commented on #5002
@adidahiya were all the icons located in one svg file then exported to svg-fixer? because when I export the icons one by one they do come out looking fine.

Can you provide me with the reproduction steps that you took so I can look into it?

[2021-12-02 18:25] adidahiya commented on #5002
@Ghustavh97 if you look at the icon font files [here in @blueprintjs/icons@4.0.0-beta.6](https://unpkg.com/browse/@blueprintjs/icons@4.0.0-beta.6/lib/css/), you will see the visual regressions.

Check out https://github.com/palantir/blueprint/pull/5005 for my WIP attempt at fixing the problems. Most of the icons build pipeline is defined by scripts in the packages/icons/scripts/ folder.

[2021-12-02 21:48] Ghustavh97 commented on #5002
@adidahiya I think I found the issue. Can you try removing this line and see if that works? https://github.com/palantir/blueprint/blob/fa33c7f8a4cc881d930b513969cbca9469d21e0e/packages/icons/scripts/generate-icon-fonts.js#L54

[2021-12-03 18:55] danaugrs commented on #5051
Great and sure! Here's a GIF showing it in action:

![UbifolioTransactionDialog4](https://user-images.githubusercontent.com/5261448/144657760-26a82e38-8374-4792-a490-da50c77c017f.gif)

This is from my project https://ubifolio.com/
I just put it live, still some known issues but feel free to try it out yourself!

[2021-12-03 23:34] tnrich commented on #5032
Yep I also seem to be hitting this issue @adidahiya

Do you know when the fix for this issue will land?

Thank you!

[2021-12-06 12:54] tinopetros commented on #5022
Hello @aycai dropdowns also seem to have intents that can be applied. If I have a form like below, I would love to be able to treat all inputs the same i.e. either use error messaging with them or use intents (danger) to signal error state. I am not sure why intents would make sense for some form input types but not others in this case.

<img width="530" alt="Screen Shot 2021-12-06 at 7 52 39 AM"

[2021-12-07 00:49] dance-dance-banana-frenzy opened #5060 "DateInput click causes popperInstance error - missing scheduleUpdate"
#### Environment

- @blueprintjs/core: 3.51.3
- @blueprintjs/datetime: 3.23.18
- @blueprintjs/icons: 3.31.0
- @blueprintjs/popover2: 0.12.8
- @blueprintjs/select: 3.18.10
- react: 17.0.2
- react-dom: 17.0.2
- material-ui: 0.20.2 (rarely used - a dependency)
- npm: 6.14.11
- node: 14.15.5
- Google Chrome: Version 96.0.4664.93 (Official Build) (x86_64)
- macOS: Big Sur 11.6

I'm having some weird is

[2021-12-07 18:22] jasonseminara opened #5061 "Circular Dependencies in Popover"
#### Environment

- __Package version(s)__: 3.51.3
- __Operating System__: macOS 12.0.1 (21A559)
- __Browser name and version__: Chrome 96.0.4664.93

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-forked-l981j)): I'm not sure how to view the `yarn install --verbose` output.

#### Steps to reproduce

1. Run `yarn install --verbose`
1.

[2021-12-07 19:31] G-MAKROGLOU opened #5062 "Documentation Page breaks when changing locale of Numeric Input to Default"
When changing the locale of the numeric input example in the documentation page, it throws a "Incorrect locale information provided at Number.toLocaleString" exception. To reproduce, just change the locale to another value and then change it back to default.

[2021-12-08 20:31] doumart commented on #3684
I have the same probleme when using ViteJs. Seems to be with the commonjs plugin of vite

[2021-12-08 23:41] dance-dance-banana-frenzy commented on #5060
Still scratching my head over this, but I have some updates.

I'm testing with a bare-bones react/webpack app where my index.js file looks like
[code]
I click inside the input box, and my console shows an error. After comparing webpack.config.js files between the actual project and bug test project, I found that this is related to anther problem during webpack build where I was originally get a wa

[2021-12-09 00:12] #3684 closed

[2021-12-09 14:09] bartelemi opened #5063 "Table Column component should be generic"
#### Environment

- __Package version(s)__: 3 and 4

#### Feature request

`Column` class of the blueprintjs/table library should be generic to allow extending it.
Currently it is impossible to extend column in a straightforward fashion and with existing workarounds,
extended classes cannot be used in the JSX syntax directly.

I think changing the Column class declaration to something like that wo

[2021-12-09 18:42] mattskrobola commented on #5027
From reverting commits locally https://github.com/palantir/blueprint/pull/3771 seems to be the PR that caused this cc @adidahiya

[2021-12-09 19:05] #4989 closed, assigned to aycai

[2021-12-09 19:30] #956 closed

[2021-12-09 19:44] adidahiya commented on #5032
I've opened a PR to fix the bug... should be released today or tomorrow

[2021-12-09 19:44] #5044 closed, assigned to adidahiya

[2021-12-09 19:48] #5032 closed, assigned to adidahiya

[2021-12-10 00:40] naivefun opened #5068 "PanelStack2 does not respond to code change (HMR)"
Code change on panels won't trigger HMR, it's really hard to code panel content. How to fix this?

[2021-12-10 20:27] tnrich commented on #5032
Thanks for your hard work @adidahiya !

[2021-12-13 20:29] tnrich opened #5070 "Popover focus issue when target is an input"
Hey @adidahiya and others,

I'm seeing this issue on the latest release (I believe it was introduced in 3.50.0):

https://codesandbox.io/s/blueprintjs-toast-focus-issue-forked-c7qn4?file=/src/App.js

![image](https://user-images.githubusercontent.com/2730609/145883775-b02fc95d-fae8-45b3-920d-fa899dacb04e.png)

(and a variation of it: https://codesandbox.io/s/blueprintjs-toast-focus-issue-forked-rr

[2021-12-14 05:46] Montana opened #5071 "Switch component in Blueprint"
The `switch` component in Blueprint, displays no border when selected/unselected. I included this component in a React component as follows:

[code]

There's still no border, I'm also including the Blueprint CSS files from the CSS of my main component the CSS:

[code]
I also tried:

[code]
To no avail! Any help would be greatly appreciated.

Cheers,
Montana Mendy

[2021-12-14 09:27] Blizzara opened #5072 "<Icon> with Intent on a component with dark background (eg. Tooltip2) has too dark colors"
Icon's Intent colors don't fulfill accessibility standards when used on a Tooltip2, which has a dark background:
![image](https://user-images.githubusercontent.com/1384385/145970567-549551ea-466d-459f-8583-0b67c785e80c.png)

Would likely need something similar than Icon-on-dark-mode styles: https://github.com/palantir/blueprint/blob/ddbabca7b1e1f1b17f6dbc4a9f99be8da14009b9/packages/core/src/compon

[2021-12-14 13:52] snackaholic opened #5073 ""Hotkeys" component documentation showstopper"
#### Environment

- __Operating System__:
NAME="Ubuntu"
VERSION="20.04.2 LTS (Focal Fossa)"

- __Browser name and version__: Firefox 95.0

#### Steps to reproduce

Navigate to https://blueprintjs.com/docs/#core/components/html-table
Click on the hotkeys link

![grafik](https://user-images.githubusercontent.com/36051495/146010635-474a750b-dca6-477c-9738-ad7eb6e051fa.png)

#### Actual behavior

You

[2021-12-14 20:02] adidahiya commented on #5073
Looks like that page doesn't work in Firefox at the moment because of our usage of WebAudio APIs. For now, you can work around this by using Chrome, but I will look into fixing this page so that it works in Firefox.

[2021-12-14 20:03] adidahiya commented on #5071
@Montana can you reproduce this issue using a code sandbox (linked in the issue template)?

In the future, please fill out the issue template. It helps to include all that information we request there like package version information.

Do you have a screenshot of the issue you're experiencing?

[2021-12-14 20:06] adidahiya commented on #5070
v3.50 fixed `enforceFocus` behavior, and this "fixed" behavior seems to have broken your use case. You can work around this by setting `enforceFocus={false}`.

[2021-12-14 20:11] tnrich commented on #5070
@adidahiya pretty sure that doesn't fix it for me. I'll double check

[2021-12-14 23:23] tnrich commented on #5070
@adidahiya welp I was wrong, looks like your suggestion does fix it. Going to try `enforceFocus={false}` in my project and see if that fixes things for me. Will let you know. Thanks!

[2021-12-14 23:30] tnrich commented on #5070
@adidahiya whoops was applying the `enforceFocus=false` to the wrong popover! Works great. Thanks!

[2021-12-14 23:30] #5070 closed, assigned to nobody

[2021-12-15 16:13] adidahiya commented on #5002
@Ghustavh97 wow you're right, removing that line seems to have fixed it! thanks for the help, I'll push up a fix ASAP :)

[2021-12-16 06:09] Ghustavh97 commented on #5002
@adidahiya no problem

[2021-12-20 00:59] cstffx opened #5077 "Old colors and shadows support"
I have noticed some significant changes in the colors of the components (buttons, checkbox, radios and inputs) in v4. I love old colors and shadows, but I can't get stuck on old versions just for that. Could support for old colors and shadows be kept in a separate theme? Is there a way to keep the old shadows?

[2021-12-20 03:00] cstffx commented on #5077
Looking at the code I found that you guys thought about it. Excellent work.

[2021-12-20 03:00] #5077 closed, assigned to nobody

[2021-12-20 17:41] iyobo commented on #3126
We are at React 17 now. Any word on this?

[2021-12-20 23:54] dlech commented on #4503
Would it work to use onfocusout instead of onblur?

[2021-12-21 16:17] djragsdale opened #5078 "v3.18.1 Select never looks for itemPredicate exactMatch on paste"
#### Environment

- __Package version(s)__: 3.18.1
- __Operating System__: macOS Big Sur 11.6
- __Browser name and version__: Jest/jsdom?

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprint-sandbox-forked-mvldg?file=/src/SelectExample.tsx

#### Steps to reproduce

1. Open select example.
1. Pas

[2021-12-21 16:26] djragsdale commented on #5078
I also added a test for the desired functionality. That mimics one I used in my own codebase but could never get to pass.

[2021-12-21 20:34] dlech opened #5079 "Merging props when using Popover2 renderTarget"
#### Environment

- __Package version(s)__: @blueprintjs/core": "^3.52.0, @blueprintjs/popover2": "^0.12.9
- __Browser and OS versions__: Version 96.0.4664.110 (Official Build) snap (64-bit)

#### Feature request

When using the `renderTarget` feature of Popover2 (specifically, I'm using Tooltip2), it is not clear which properties are actually used. For example, it seems that if you use `{...toolt

[2021-12-21 20:37] dlech commented on #5079
Here is a potential solution: https://react-dropzone.js.org/#dropzone-props-getters

The React Dropzone library returns a function that merges the props instead of the individual props.

[2021-12-21 22:22] jgresham commented on #4566
I agree that this should be enabled by default.
By default, `<Cell>` child should be returned. If Child is an object, try to convert it to a string?

[2021-12-22 15:38] wenerme opened #5081 "use container or element instead of document for UseHotkeysOptions"
#### Feature request

change document here to container or element, document is not required

https://github.com/palantir/blueprint/blob/01d2d77ba31b59673ee9e18095abee49e1b556c8/packages/core/src/hooks/hotkeys/useHotkeys.ts#L23-L30

real case like

[code]

the portal container is HTMLElement, UseHotkeysOptions should bind to  HTMLElement too, not Document.

![image](https://user-images.githubuserc

[2021-12-28 06:17] switz commented on #4032
I can't upgrade to node 16 because node-sass isn't compatible with it. Any plans to prioritize the upgrade to `sass`?

[2021-12-28 18:14] sapphybara opened #5082 "TimezonePicker's Input embedded in a Dialog doesn't accept text"
#### Environment

- __Package version(s)__: `@blueprintjs/core: "^3.26.1"`, `@blueprintjs/timezone: "3.9.18"`
- __Operating System__: Windows 10 `20H2`
- __Browser name and version__: Edge version `6.0.1054.62`

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-forked-scrr7?file=/src/CoreExample.jsx

#### Steps to reproduce

1. Embed a `<TimezonePicker />` inside a `<Dialog />`
1. Open

[2021-12-29 08:36] ksr79 commented on #4032
Would it be an option to reopen and merge https://github.com/palantir/blueprint/pull/4429, at least the `@extend` part, although this is included in https://github.com/palantir/blueprint/pull/4820? `node-sass` is long outdated, and this is might be the single change that blocks me from switching to `dart-sass`.

[2021-12-29 10:50] zizizheng opened #5083 "EditableCell2.editableTextProps.placeholder is not working"
#### Environment

- __Package version(s)__: 3.52.0
- __Operating System__: Win10
- __Browser name and version__: Chrome 96.0.4664

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprintjs-table-forked-u9up5?file=/src/DataTable.js

#### Steps to reproduce

1. check the sandbox example, it's just not

[2022-01-03 22:57] aycai commented on #5022
Hmm the error state for the dropdown button is interesting - the visual state makes sense to me here, but it's pretty form-specific (as in for buttons normally, default styled buttons would usually have a red background to convey the danger/error intent).
![Screen Shot 2022-01-03 at 2 43 43 PM](https://user-images.githubusercontent.com/3513503/147989039-6f973e17-9984-4744-9132-4b1e789c53c5.png)

M

[2022-01-04 14:11] synapse commented on #4779
@adidahiya is there a way to prevent the event to propagate when hitting the Esc key?

[2022-01-04 16:06] Montana commented on #5071
Thank you @adidahiya, after using the sandbox, I was able to figure this out. I really appreciate it.

Cheers!

[2022-01-04 16:06] #5071 closed, assigned to nobody

[2022-01-04 16:33] adidahiya commented on #5077
I'm guessing you're referring to [`legacyColors.ts`](https://github.com/palantir/blueprint/blob/b55e258e427b5cb1ccc9f0de7317c5b66773445e/packages/colors/src/legacyColors.ts) on the `next` branch? We do export these legacy color hex values in JS in Blueprint v4.x, but we do not support the old styles in CSS. If you upgrade to Blueprint v4.x you will get the new styles and it will be tough to revert

[2022-01-04 16:35] adidahiya commented on #4032
I understand the importance of this issue. We're planning to migrate to dart-sass within the next month or two.

[2022-01-04 17:01] adidahiya commented on #4016
Merging this issue into #5022, which is more comprehensive

[2022-01-04 17:01] #4016 closed

[2022-01-05 06:38] asyncjason commented on #2696
Here's what I used after spending some time trying to figure it out.
`https://unpkg.com/@blueprintjs/table@3.9.13/lib/css/table.css`

Maybe you could add it to the examples in getting started docs? Would save some headache.

[2022-01-05 17:19] adidahiya commented on #5062
duplicate of #4424

[2022-01-05 17:19] #5062 closed, assigned to nobody

[2022-01-06 16:25] LoiKos opened #5088 "Modern CSS button oulined error"
#### Environment

- __Package version(s)__: 3.52.0
- __Operating System__: Mac Os Monterrey
- __Browser name and version__: Chrome

#### Code Sandbox

[Sandbox](https://codesandbox.io/s/blueprintjs-5088-nfz2y?file=/src/App.tsx)

#### Steps to reproduce

1. Create a new project
2. Add blueprintjs to the project and include `@blueprintjs/core/lib/css/blueprint-modern.css`
3. Create a button with int

[2022-01-06 16:34] adidahiya commented on #5053
This sounds like a reasonable request. The react-day-picker library uses the terminology ["outside days"](https://react-day-picker.js.org/examples/customization-outside) for this part of the UI, and although the name feels a little clunky, I think we should use that in the prop name to reduce ambiguity (for example, in the future, we will likely allow this component to select months only https://g

[2022-01-06 16:35] adidahiya commented on #5053
Also, for reference, I want to note that other component libraries like [`react-datepicker` support this kind of interaction](https://reactdatepicker.com/).

[2022-01-06 16:38] adidahiya commented on #4172
Other component libraries like MUI support this kind of month / year selection UI, see [this "views playground" example](https://mui.com/components/date-picker/#views-playground).

[2022-01-06 16:43] adidahiya commented on #5060
@dance-dance-banana-frenzy In trying to migrate some code bases to Popover2, I realized that the components in the datetime & select packages (like DateInput) which still use Popover are a blocker for a smooth migration path. So, in the next month or so, I'm going to be adding "v2" versions of DateInput, Select, etc. which use Popover2 instead of Popover. Keep an eye out for those in the coming we

[2022-01-06 16:49] adidahiya commented on #5068
hi @naivefun, without more information about your environment, it's hard to give advice about the issue. can you set up a code sandbox demonstrating your usage of PanelStack2? also please describe what HMR tooling you're using, version numbers, etc.

[2022-01-06 16:56] adidahiya commented on #5079
Thanks for pointing this out, I'll look into it to see if we can provide a better API. For now, as a workaround, you'll have to merge the class names yourself, something like `className={classNames("my-class", tooltipProps.className)}`.

[2022-01-06 17:04] adidahiya commented on #5082
You forgot to include timezone package CSS.

![image](https://user-images.githubusercontent.com/723999/148421351-08242936-3e5b-4f5a-9ae5-ccd3ce43a09d.png)

Forked your sandbox and got it working here: https://codesandbox.io/s/blueprint-sandbox-forked-8gxmj?file=/src/index.tsx:200-263

[2022-01-06 17:07] adidahiya commented on #5083
Looks like this is not supported; we override the `placeholder`: https://github.com/palantir/blueprint/blob/813c3d429064b77d18c2196028ccfae23f51905a/packages/table/src/cell/editableCell2.tsx#L161. But this is not documented here.

We should either document that it is unsupported, or add support for overriding the placeholder prop. Most likely the latter.

[2022-01-06 17:11] adidahiya commented on #5088
We're not maintaining `blueprint-modern.css` anymore; all progress on the "modern" colors is being done in the `next` branch, on the 4.0.0-beta.x release line. Please upgrade to the latest 4.0.0-beta.x version(s).

[2022-01-06 17:12] adidahiya commented on #5088
It works in the [v4 docs](https://blueprintjs.com/docs/versions/4/#core/components/button):

![image](https://user-images.githubusercontent.com/723999/148422554-fe686f26-f826-4518-add3-61791b15cfc3.png)

[2022-01-06 17:12] #5088 closed, assigned to nobody

[2022-01-06 18:12] sapphybara commented on #5082
This issue is not resolved, I am still unable to type into the input at the top of the `TimezonePicker` in your sandbox. Moreover, we're using blueprint `3.x`, not the `4.x` beta. And why isn't the CSS automatically included when installing `@blueprintjs/timezone`?

[2022-01-06 19:31] #301 closed

[2022-01-06 19:41] adidahiya commented on #5082
I updated my sandbox to use 3.x, it seems to work for me:

![2022-01-06 14 39 06](https://user-images.githubusercontent.com/723999/148441374-9f0f9e78-3b78-4c7d-863d-32bfe905a348.gif)

This is the case for all Blueprint packages and the "getting started" documentation instructs you to import the main CSS file for each package you install. We don't make any assumptions for you about how you will loa

[2022-01-06 20:17] adidahiya commented on #4503
I made an updated sandbox to verify that it is still a bug: https://codesandbox.io/s/blueprint-sandbox-forked-eiv42?file=/src/CoreExample.tsx

In fact you can repro it on the Tooltip2 docs page, as I mentioned in https://github.com/palantir/blueprint/pull/5080#issuecomment-1006904602

[2022-01-06 20:20] #4503 closed, assigned to nobody

[2022-01-07 02:39] michal-ciechan commented on #5053
Thanks for the comment, and good shout on the name!

I will try and pick this up either this weekend or next.

[2022-01-07 22:38] mishywangiepie opened #5090 "Support for minimal and outline modifiers for Select"
support for minimal and outlined modifiers for the button rendered by a `<Select>`.

<img width="97" alt="Screen Shot 2022-01-07 at 2 21 23 PM" src="https://user-images.githubusercontent.com/25167557/148616288-55e73aa6-1cb8-46d2-9975-e2ef5af0b5f1.png">

[2022-01-08 00:28] zachkirsch commented on #3959
@adidahiya does Palantir have a Figma library for blueprint that can be shared?

[2022-01-08 00:59] no-stack-dub-sack commented on #4695
@adidahiya Should this issue still be open, or should a new issue to be opened to track the fact that Selects with `popoverProps={{ captureDismiss: true }}` will not work correctly nested inside Popover2's since Select is still using Popover1 internally?

**EDIT:** As a follow up:

With the following versions, this **DOES NOT** work as expected:
- @blueprintjs/core@3.51.3
- @bluerintjs/select@3.18

[2022-01-10 04:21] sushain97 commented on #4758
Interestingly enough, I ran into this issue since it breaks word-spacing on e.g. Android where the spaces between words are rendered using `pt-iconosaurus` rather than `Roboto`:

![image](https://user-images.githubusercontent.com/4211838/148718129-5631c628-4cee-47fd-86a9-86038d984c2b.png)

Here's how it looks if I use remote debugging to remove `Icons16` from the `font-family`:

![image](https://u

[2022-01-11 09:16] PoldarnKJ opened #5092 "Why need checking `matchesPredicate` in `renderFilm` example"
In `packages/docs-app/src/common/films.tsx`:
[code]
In the official documentation above, `itemRenderer` checks `matchesPredicate`.

But in the implementation of the `Select` component, the `filteredItems` passed to the `itemRenderer` are already `filteredItems`, why check it in the `itemRenderer`?

[2022-01-13 15:38] alexisthual opened #5094 "Trigger hotkey only when target is hovered"
#### Environment

- __Package version(s)__: 4.0.0-beta.12
- __Browser and OS versions__: irrelevant

#### Feature request

Setting `global: false` for a given hotkey allows to enable event only when target is focused.
I would like to like to have the same behaviour available for hovering (ie hotkey works if and only if target is hovered).

#### Examples

I am building an interface with a lot of pa

[2022-01-15 22:00] gluxon opened #5097 "@blueprintjs/icons 4.0.0-beta does not support IE11"
#### Environment

- __Package version(s)__: @blueprintjs/icons@4.0.0-beta.6
- __Operating System__: macOS
- __Browser name and version__: IE11

---

It looks like the `Object.values(...)` call in `@blueprintjs/icons` isn't getting transpiled before publishing.

https://github.com/palantir/blueprint/blob/4dac1637138f850d51e08a1f7e46a5897abcbacc/packages/icons/src/iconNames.ts#L31

Here's the conten

[2022-01-15 22:29] gluxon commented on #5097
Ah, the `__values` helper isn't for `Object.values`.

https://github.com/microsoft/TypeScript/blob/ce18254c776782a938bd55046d93871e176d6172/src/compiler/factory/emitHelpers.ts#L660-L678

[code]

I'm recalling that `"target"` might just for polyfilling syntactical transforms.

[2022-01-16 06:10] Mai-Lapyst opened #5099 "Nested Overlay(s) with `canEscapeKeyClose=true` closes all overlays instead of just the recent opened one"
#### Environment

- __Package version(s)__: @blueprintjs/core@3.52.0
- __Operating System__: Arch Linux
- __Browser name and version__: Firefox 95.0.2

#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/s/blueprint-sandbox-forked-bztv1

#### Steps to reproduce

1. Create an Element that uses an Overlay (such as Dialog)
2. Create an second Element that uses an Overlay inside the con

[2022-01-17 02:25] lwouis opened #5100 "[NumericInput] add option to format numbers with thousands separators"
#### Environment

- __Package version(s)__: 3.44.3
- __Browser and OS versions__: browserslist >0.2%

#### Feature request

When using `NumericInput` to show large numbers, it can be unwieldy to read them. For instance, which number is this, at a glance?

![image](https://user-images.githubusercontent.com/106195/149693678-cafd027a-0071-42c0-aa74-0236f074b095.png)

`NumericInput` has the `locale` o

[2022-01-17 02:32] lwouis commented on #5100
Closing as duplicate of https://github.com/palantir/blueprint/issues/4424#issuecomment-825350245

[2022-01-17 02:32] #5100 closed, assigned to nobody

[2022-01-17 19:17] #5082 closed, assigned to nobody

[2022-01-18 08:29] asyncjason opened #5101 "Table not rendering additional rows if min-height is greater than the current table height"
#### Environment

- __Package version(s)__: 3.9.13
- __Operating System__: MacOS
- __Browser name and version__: Chrome 97.0.4692.71

#### Code Sandbox
https://codesandbox.io/s/serverless-snow-4dhos

#### Steps to reproduce

1. Set the min-height on the table to something like 30vh
2. Start with an empty data set
3. Add rows one at a time with some external process (for me it was socket.io, the sa

[2022-01-18 19:47] adidahiya commented on #5099
We don't currently have support for this behavior. Open for PRs

[2022-01-19 09:20] hyperknot opened #5102 "Icons add 430 kB, do not tree-shake"
#### Environment

- __Package version(s)__: 3.x and 4.x beta, same behaviour
- __Operating System__: macOS, yarn v1

#### Steps to reproduce

1. `yarn create react-app`
1. `yarn add @blueprintjs/core@4.x` // select latest
1. `yarn add source-map-explorer`
2. add:
[code]
3. `yarn source-map-explorer build/**/*.js`

#### Actual behavior

For a simple 1 line button example, we ended up with 430 kB of

[2022-01-19 10:52] Harizriz commented on #5039
@Samrose-Ahmed Can you briefly explain how you implement the onChange method in the MultiStepDialog? I am having trouble navigating to the next step when I implement the onClick function in the nextButtonProps in DialogStep.

This is an example of the code I implemented

[code]

[code]

[2022-01-19 13:26] adidahiya commented on #5102
duplicate of https://github.com/palantir/blueprint/issues/2193, will be fixed in v5.x

[2022-01-19 13:26] #5102 closed, assigned to nobody

[2022-01-19 23:03] Dilks44 commented on #3500
I am still experiencing this issue, could we get an update here?

[2022-01-20 08:41] jimmyasyraf opened #5103 "Typo in Alert error message"
#### Environment

- __Package version(s)__: 3.52
- __Operating System__: macOS Monterey 12.0.1
- __Browser name and version__: Safari 15.1

#### Code Sandbox

<img width="598" alt="Screen Shot 2022-01-17 at 11 34 43 AM" src="https://user-images.githubusercontent.com/12868523/150301149-a378ee43-9070-4e69-8c3f-38b82f153e97.png">

#### Steps to reproduce

1. Add the `Alert` Component
2. Fill in the `

[2022-01-21 08:48] lwouis opened #5105 "NumericInput with allowNumericCharactersOnly=true lets the user input the minus sign"
#### Environment

- __Package version(s)__: "@blueprintjs/core": "^3.52.0"
- __Operating System__: macOS 10.15.7 (19H114)
- __Browser name and version__: Chrome 97.0.4692.71 (Official Build) (x86_64)

#### Code Sandbox

https://blueprintjs.com/docs/#core/components/numeric-input

#### Steps to reproduce

1. Go on the [official documentation for NumericInput](https://blueprintjs.com/docs/#core/comp

[2022-01-21 08:55] lwouis commented on #5105
My mistake, the documentation explains that it allows "floating-point number characters", which in my tests seem to allow: `0` to `9`, `.`, and `-`.

The component is working as expected. I think there is a gotcha with the `onValueChange`, but I don't see how it could be improved given the nature of the problem to solve (e.g. input can be in a broken state like `-` before the user types `-1`)

[2022-01-21 08:55] #5105 closed, assigned to nobody

[2022-01-24 18:14] #5103 closed, assigned to nobody

[2022-01-29 18:14] devinhalladay opened #5110 "How to pass custom props to ContextMenu2 content?"
#### Environment

- __Package version(s)__:
[code]
- __Operating System__: MacOS 12.2
- __Browser name and version__: Firefox (latest), Chrome (latest)

#### Question
I'm creating a canvas-based PKM tool, and need to add a context menu to every item on the canvas. I've done this by wrapping all the elements in a single `<ContextMenu2 />` with a `content` prop, and using the advanced rendering patt

[2022-01-29 18:17] devinhalladay commented on #5110
I was hoping I could do something similar to the advanced context menu render pattern:
[code]

[2022-01-30 00:17] devinhalladay commented on #5110
Update: I was able to achieve this by adding a state value that is set within `onContextMenu`, and then used within the `ContextMenu2` `content` prop. Still curious if there is a better way to do this though.

[2022-01-31 10:55] odusseys opened #5111 "Webpack warnings using CRA 5.0.0 (webpack 5)"
#### Environment

- __Package version(s)__:
  "@blueprintjs/core": "^3.52.0",
    "@blueprintjs/datetime": "^3.23.19",
    "@blueprintjs/popover2": "^0.12.9",
- __Operating System__:  OSX 12.1
- __Browser name and version__: Chrome (irrelevant)

#### Steps to reproduce

Install blueprint using create-react-app 5.0.0, import styles using
[code]

#### Actual behavior

Webpack throws a bunch of warni

[2022-01-31 12:21] jayarjo commented on #2934
Why is this closed? Has it been solved?

[2022-01-31 17:48] jayarjo commented on #890
@giladgray was this ever resolved in any way?

[2022-01-31 18:18] giladgray commented on #890
@jayarjo this was resolved in a way, sure. Not sure exactly what you want for "timezone support" but there's a `@blueprintjs/timezone` package and you can use moment (or another date library) to parse in/out of zones. I know that's not the most helpful answer, but I'm not really involved with Blueprint dev anymore.

[2022-01-31 18:35] jayarjo commented on #890
From what I see `@blueprintjs/timezone` is mere timezone string picker, so I guess won't be fixing problem raised in this thread. My problem is that Blueprint date picker accepts JS Dates only, which have to be faked probably to make it show appropriate date/time.

[2022-02-01 12:16] sunng87 commented on #4911
Any chance to make the navbar responsive? The overflown items always displays out of the bar and affect layout of other elements.

[2022-02-01 17:04] N1kto commented on #4472
For those still suffering because of this issue I've come up with a workaround.
1. You need a BP.Table reference
[code]
2. Add an unmount handler to your component where you'd manually clear `debouncedViewSyncInterval`. Clearing this interval fixes the issue:
[code]

[2022-02-02 01:06] tnrich opened #5112 "Can't put a div or other element in Checkbox label (labelElement) without it aligning poorly"
Not sure why this is happening, but it is:

![image](https://user-images.githubusercontent.com/2730609/152077157-04db4ff2-e9ef-420a-b789-248ec8f1c92b.png)

Notice the label of the first Checkbox vs the 2nd one. Can this be fixed?

Code sandbox:
https://codesandbox.io/s/blueprint-sandbox-forked-9muiq?file=/src/CoreExample.tsx

[2022-02-02 14:22] Friedoo commented on #3500
Still experiencing this issue :(

"@blueprintjs/core": "^3.51.3"
"webpack": "^5.67.0",

[2022-02-02 18:03] akoskm commented on #1686
Hi @cmslewis 👋 any updates on this?

[2022-02-02 21:21] #1794 closed

[2022-02-02 21:22] #1442 closed

[2022-02-02 21:22] #1944 closed

[2022-02-02 21:38] adidahiya opened #5114 "HACKHACK: table tests skipped in Table2 / strictNullChecks refactors"
Tracking some unit tests skipped in
- porting Table functionality to Table2 in #4790
- enabling strictNullChecks in #5057

Some of these tests had poor assumptions that broke them as our testing and build infrastructure was updated over the years.

[2022-02-03 05:41] akoskm commented on #1080
Hi @llorca , any progress on

[2022-02-03 18:14] #4765 closed, assigned to nobody

[2022-02-05 10:17] ro-savage commented on #4642
This would be an awesome feature to have - mouse following would be really useful when you have a large target.

[2022-02-07 20:34] no-stack-dub-sack opened #5118 "Docs: RowHeaderCell documentation missing"
[This component](https://github.com/palantir/blueprint/blob/develop/packages/table/src/headers/rowHeaderCell.tsx) is importable and usable but is not documented in the JavaScript API of the Table component. Of course its easy enough to look in the codebase but seems like an omission since its counterpart for columns is well documented.

Thanks.

[2022-02-08 04:59] devinhalladay commented on #4510
I am having the same issue. It looks like the v4 docs still specify the expected behavior of `createNewItemFromQuery` as firing onClick in `createNewItemRenderer` or on enter keypress. Seems like a reasonable default, and I noticed this issue is not there in the official Select example, but can't make sense of why…

Here's my `createNewItemFromQuery` if it's useful:
[code]

[2022-02-08 13:50] NeroVanbiervliet commented on #4271
d

[2022-02-08 22:41] adidahiya opened #5119 "Elements should be able to opt-out of FocusStyleManager"
#### Environment

- __Package version(s)__: core v3.53.0, v4.0.0-beta.13
- __Browser and OS versions__: Chrome, macOS

#### Feature request

Blueprint components should have a styling "escape hatch" to avoid the focus outline ring styling override applied by FocusStyleManager.

We often enable `FocusStyleManager.onlyShowFocusOnTabs()` in our applications, but sometimes there are use cases where I

[2022-02-09 14:23] adidahiya opened #5120 "Consider refactoring overlays to use <dialog> element"
#### Feature request

The `<dialog>` element provides a lot of functionality and affordances out of the box. It is [supported in all major browsers except IE11](https://caniuse.com/?search=dialog), which we are dropping support for in Blueprint v5.0. We should investigate whether migrating our `<Overlay>` implementation to use this built-in element can reduce our code complexity and maintenance co

[2022-02-09 15:20] #5048 closed, assigned to nobody

[2022-02-09 16:13] #847 closed

[2022-02-09 19:44] MuraraAllan commented on #1712
https://github.com/palantir/blueprint/issues/4472 -  BP.Table scroll events are processed after the table gets unmounted #4472

https://github.com/palantir/blueprint/issues/4055  -  Table column resize too slow #4055

https://github.com/palantir/blueprint/issues/3774 -  Still persistent issues with table lifecycle methods #3774

Found these other issues which are somehow related.
This issue is con

[2022-02-10 19:27] henrywarhurst commented on #3921
@Austint30 interestingly in your repro moving down the table and selecting every row successfully selects every second row

[2022-02-10 22:17] adidahiya opened #5123 "Table FR: keyboard shortcut / hotkey for pasting clipboard data into cells"
#### Feature request

The table component should support <kbd>Ctrl+V</kbd> and <kbd>Cmd+V</kbd> for pasting clipboard data into cells, similar to many spreadsheet applications.

It would also be nice to export a `<PasteCellsMenuItem>` which does the same action. This would be used similar to `<CopyCellsMenuItem>` via the `bodyContextMenuRenderer` prop API.

[2022-02-10 22:41] adidahiya commented on #4566
I guess this is theoretically possible, but I don't see a very clean or elegant way to do this right now. Yes we could try to add a default implementation which looks up the cell renderer for each row/col in the selected region and runs the renderer... we'd then have to take that virtual DOM `ReactElement` and render it to a real DOM element to get its `.textContent`. This would probably work but

[2022-02-10 22:43] adidahiya commented on #1080
closing this in favor of tracking the remaining feature requests as separate issues. see https://github.com/palantir/blueprint/issues/5123

[2022-02-10 22:44] adidahiya commented on #1686
@akoskm this is an old issue; I've opened a new one to track the pasting feature request here https://github.com/palantir/blueprint/issues/5123

[2022-02-10 22:45] adidahiya commented on #5027
Fixed in v4 by #5115

[2022-02-10 22:45] #5027 closed, assigned to adidahiya

[2022-02-10 22:58] bergkvist commented on #4566
An idea might be to use something like this to convert React elements into text:
https://www.npmjs.com/package/react-innertext

[2022-02-10 23:06] adidahiya commented on #4566
@bergkvist that looks promising! I personally can't prioritize this FR for a little while, but open to PRs in the meantime.

[2022-02-10 23:16] adidahiya commented on #5112
I poked at this a bit and I also don't see a clear reason why the layout happens this way. If you use `display: inline` it works fine. If you must use `display: flex`, the best I can say for now is that you should add some negative `margin-top` or other custom styles to nudge the element into place.

[2022-02-10 23:29] tnrich commented on #5112
@adidahiya thanks for looking into this. Just to note, this also happens if using any element that doesn't have a display of inline:

https://codesandbox.io/s/blueprint-sandbox-forked-siych?file=/src/CoreExample.tsx

Also, the following css seems to fix the issue:

![image](https://user-images.githubusercontent.com/2730609/153514539-60722ab4-c995-4ec8-b146-fa1087555a02.png)

the `display: flex; al

[2022-02-10 23:33] adidahiya commented on #1712
This doesn't seem to be a problem with the latest Firefox (v97), or at least the slowness is not FF-specific, so I'm going to close this issue.

Note that table performance differs a meaningful amount in dev mode vs. production mode -- it's faster in prod.

[2022-02-10 23:36] adidahiya commented on #4472
@N1kto we have some share component infra for dealing with canceling timeouts on unmount. I've gone ahead and used that here in https://github.com/palantir/blueprint/pull/5124. That should fix the issue, but beware that it will break your workaround because of a private member rename.

[2022-02-10 23:38] adidahiya commented on #4472
Fixed in v4 by #5124. If there's a strong need for a backport to v3, I'll consider it, but for now I'm trying to only push new code to v4.

[2022-02-10 23:38] #4472 closed, assigned to adidahiya

[2022-02-10 23:41] adidahiya commented on #5054
fixed in v4 by #5108

[2022-02-10 23:41] #5054 closed, assigned to adidahiya

[2022-02-10 23:46] tnrich commented on #5112
@adidahiya are you going to add that CSS to the blueprint core?

[2022-02-10 23:48] adidahiya commented on #5094
I think you could implement this behavior inside your hotkey event handler. Track which element is being hovered over in your application state, and react accordingly. There's no great way for the Blueprint hotkeys code to do this out of the box in the same way that global/local hotkeys are supported with element focus & the native event bubbling system.

[2022-02-10 23:49] adidahiya commented on #5112
I could, but unfortunately it would be a slight breaking change. Would consider it for v5.0.

[2022-02-10 23:58] adidahiya commented on #4849
@rubenlg thanks for your investigation into this issue and sharing your findings. I would like Blueprint hotkeys to work on non-US keyboard layouts, and you're right, it will require a bit of nontrivial work to do so. I would be open to the approach you described above, or perhaps borrowing something from other popular libraries which handle hotkeys. I can't get this in for the v4.0 release, but w

[2022-02-11 00:01] adidahiya commented on #4917
Open to PRs for fixing this, but this would be fairly low priority for me and the bugfix sounds nontrivial... I think you're better off adding a link to a more printer-friendly version of the overlay contents rather than trying to print the whole page when an Overlay is visible... or implement some kind of PDF renderer.

[2022-02-11 00:03] #4394 closed, assigned to nobody

[2022-02-11 00:04] #1703 closed

[2022-02-11 00:05] adidahiya commented on #3747
@m-manseer you need to run `yarn link` inside each package directory, e.g. packages/core, packages/datetime, etc.

[2022-02-11 00:05] #3747 closed

[2022-02-11 00:13] adidahiya opened #5125 "Improve DX of working with timezones in datetime components"
### Feature request

Timezone management in Blueprint components needs to be revamped. This has been brought up before in years past (https://github.com/palantir/blueprint/issues/890, https://github.com/palantir/blueprint/issues/1852), but I'd like to use this new issue to track the developer experience and API improvements we'd like to make in 2022.

### The problem

Blueprint users and Palantir

[2022-02-11 00:13] adidahiya commented on #890
Filed a new issue to track what we'd like to improve with timezones in Blueprint components: https://github.com/palantir/blueprint/issues/5125

[2022-02-11 00:13] #890 closed

[2022-02-11 00:14] adidahiya commented on #1852
Filed a new issue to track what we'd like to improve with timezones in Blueprint components: https://github.com/palantir/blueprint/issues/5125. Closing this old issue in favor of the new one.

[2022-02-11 00:20] tnrich commented on #5112
Ya pop it in that 5.0!

[2022-02-11 00:20] tnrich commented on #5112
Wait.. isn't 4.0 not out yet?

[2022-02-11 00:20] adidahiya commented on #5028
This doesn't seem to be a problem on the `next` branch anymore, I can't repro it. Possibly fixed by #5057 or #5115. Please let me know if it's still broken after pulling in the next release (table 4.0.0-beta.14), and I'll reopen this issue.

[2022-02-11 05:27] akoskm commented on #1686
Thanks @adidahiya 🙌

[2022-02-11 05:31] akoskm commented on #5123
This could be helpful:

https://github.com/nadbm/react-datasheet/blob/c2ef5f7fe4cb55d95f6cdd180307dc00f8f75b02/src/DataSheet.js#L214-L222

react-datasheet support the copy/paste from Excel and all it seems to do is take the clipboard data and split it:

https://github.com/nadbm/react-datasheet/blob/c2ef5f7fe4cb55d95f6cdd180307dc00f8f75b02/src/DataSheet.js#L32-L34

[2022-02-11 08:08] l1x commented on #5054
Thanks a lot @adidahiya !

[2022-02-11 11:11] LoiKos opened #5129 "[Select] Focus issue when changing from one select to another directly"
#### Environment

- __Package version(s)__:
   @blueprintjs/core 3.53.0
   @blueprintjs/select 3.18.12
- __Operating System__: MacOS Monterey 12.1
- __Browser name and version__: Google Chrome  98.0.4758.80

#### Code Sandbox

[Sandbox](https://codesandbox.io/s/interesting-night-i6xsu?file=/src/App.js)

#### Steps to reproduce

1. Create 2 Select from `@blueprintjs/select` with button as target ch

[2022-02-11 18:21] rrramani1230 commented on #3429
Did anyone get this to work. I wonder why the MultiSelect looks like a singleselect. Are there certain props that are not required but needed for the mutliselect to work @zachkirsch @adidahiya

[2022-02-14 09:31] LoiKos commented on #3890
Hi, I fall into this problem. I don't try it out but In this method :

https://github.com/palantir/blueprint/blob/6f6310d1e226cd46a6b02fc959c62c530aff5c82/packages/datetime/src/dateRangeSelectionStrategy.ts#L118

I think there is a missing piece in the case of `allowSingleDayRange` to allow to start a range from a single day range:

[code]

[2022-02-15 07:25] lwouis commented on #4032
@DTrejo

This breaks the CSS thus visuals of the `MenuItem` component. Namely, they have text underline and color of a normal link.

The usage of SASS by Blueprint is quite advanced, so I'm not sure what's going on. It seems to be an issue with CSS selector priority. The attributes from `@mixin menu-item` are no longer top priority with the change above, and the basic `a:hover` from Blueprint take

[2022-02-15 15:34] franciscohanna92 commented on #4032
@adidahiya Any updates on this issue? Are there any time estimations? We are migrating our tooling to [vitejs](https://vitejs.dev/) and this is a blocker at the moment since Vite doesn't support node-sass.

[2022-02-16 07:14] lwouis opened #5131 "Switch component with innerLabel has incorrect focus outline"
#### Environment

- __Package version(s)__: I'm using 3.52.0, but it seems to be present in latest since I can reproduce it on the demo page
- __Operating System__: macOS 10.15.7 (19H114)
- __Browser name and version__: Chrome 97.0.4692.71 (Official Build) (x86_64)

#### Code Sandbox

https://blueprintjs.com/docs/#core/components/switch

#### Steps to reproduce

1. Go on the [`Switch` component de

[2022-02-18 09:10] yswang0927 opened #5133 "V3.x icon .bp3-icon-backlink missing in css defines and missing in icon-font files(eot,woff...)"
### V3.x  icon `.bp3-icon-backlink`  missing in css defines and missing in icon-font files(eot,woff...)

[2022-02-18 20:12] latviancoder commented on #5042
Still an issue with table 3.9.14 / core 3.53.0.

[2022-02-19 13:36] pcdv commented on #5042
I confirm and upgraded all dependencies in the code sandbox.

[2022-02-19 18:07] rrramani1230 commented on #3429
The answer to this is that you need the selectedItems prop along with the tagRender prop for it to Render. Please don't spent as much time on this as I did finding this out :(

[2022-02-21 15:28] LoiKos opened #5134 "[RangeSlider] Allow double click on upper and lower bounds"
#### Environment

- __Package version(s)__: v3.52.0
- __Browser and OS versions__: MacOS Monterey 12.1

#### Feature request

RangeSlider provides the ability to choose a range between upper and lower bounds. It works great for simple case but when you are working with wide range for [0, 10000], it can quickly become quite annoying to select the good value. It could be a great addition to blueprin

[2022-02-21 22:59] Shaah opened #5135 "Blueprint accessibility request"
#### Environment

- __Package version(s)__: 3.53.0
- __Browser and OS versions__: Broad range

#### Question

Dear Blueprint Development Team,

In connection with the topic accessibility and WAI-ARIA properties I'm posting this on behalf of my team:
- Whether there are plans for including ARIA attributes in the upcoming versions including 3.0 and 4.0?
- If yes, what's the timeline/roadmap for incl

[2022-02-22 02:53] zachkirsch opened #5136 "Disabled styling not applied to minimal disabled AnchorButtons in dark mode"
#### Environment

- __Package version(s)__: [4.0.0-beta.14](https://www.npmjs.com/package/@blueprintjs/core/v/4.0.0-beta.14)
- __Operating System__: Mac OSX
- __Browser name and version__: Chrome 98.0.4758.102

#### Code Sandbox

Docs: https://blueprintjs.com/docs/versions/4/#core/components/button
Codepen: https://codesandbox.io/s/blueprint-sandbox-forked-qstz0c?file=/src/index.tsx

#### Steps to

[2022-02-22 09:43] bofa opened #5138 "Set placeholder for select and suggest query."
#### Environment

- __Package version(s)__: Future
- __Browser and OS versions__: All?

#### Feature request

To be able to set query placeholder to custom string in Select and Suggest components. Hardcoded now is "Filter..." and "Search"

This would be useful for specific edge cases and i18n.

https://github.com/palantir/blueprint/blob/6f6310d1e226cd46a6b02fc959c62c530aff5c82/packages/select/src/

[2022-02-22 16:39] edengueta opened #5139 "Popover2 Warning - Portal uses legacy React context"
#### Environment

- __Package version(s)__:  core- 3.53.0, popover2- 0.13.0, react- 17
- __Browser and OS versions__:  chrome 97, ubuntu 20

#### Question

When i opened <Popover2> i  got warned:

Warning: Legacy context API has been detected within a strict-mode tree.
The old API will be supported in all 16.x releases, but applications using it should migrate to the new version.
Please update the

[2022-02-23 23:03] Timmmm commented on #131
Just in case anyone comes across this while trying to use Blueprint SSR in Deno (or ESBuild, which Deno uses). Unfortunately it doesn't seem to work. You get these errors:

[code]

I suspect this is because ESBuild does not support conditional imports like the one Blueprint uses; basically:

[code]

And that is conflated with the fact that dom4 has side effects when it is imported (terrible design

[2022-02-24 02:39] jfhidakatsu commented on #2821
Here's the one for indeterminate:
`background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 7H5c-.55 0-1 .45-1 1s.45 1 1 1h6c.55 0 1-.45 1-1s-.45-1-1-1z' fill='%23fff'/%3E%3C/svg%3E");`

[2022-02-24 02:51] zachkirsch opened #5140 "[v4] Items in control group have gaps and rounded borders"
#### Environment

- __Package version(s)__: 4.0.0-beta13
- __Operating System__: OS X
- __Browser name and version__: Chrome Version 98.0.4758.102 (Official Build) (x86_64)

#### Steps to reproduce

Repro is on the docs.

V3 looks great:

<img width="808" alt="Screen Shot 2022-02-23 at 6 48 26 PM" src="https://user-images.githubusercontent.com/8902272/155448289-28d16dbe-05d4-43f2-8719-89c38382c552

[2022-02-24 04:33] jasonseminara commented on #4759
@adidahiya any update on this? This is blocking a project. Is there something I can help with?

[2022-02-24 15:30] adidahiya commented on #4759
Migrating to dart sass and upgrading Node is the next project on my list after shipping v4.0.0 stable... I will get around to it in the next few weeks

[2022-02-24 15:32] adidahiya commented on #131
sounds like a good feature request for ESBuild?

[2022-02-24 15:36] adidahiya commented on #5139
This will be fixed in Blueprint v5, which will include full compatibility with React strict mode: https://github.com/palantir/blueprint/wiki/Blueprint-5.0

[2022-02-24 15:39] adidahiya commented on #5140
This is an intentional design change with the updated color palette. We had to change the border styles for inputs to fulfill color contrast accessibility requirements, and this visual change was necessary to make the elements look good next to each other with the new border styles. It looks worse when there's no gap between the elements.

[2022-02-24 15:39] #5140 closed, assigned to nobody

[2022-02-24 15:41] adidahiya commented on #5138
Near that line in the code you linked, you can see that `{...inputProps}` is spread to the element after the default placeholder value. So you can simply do:

[code]

[2022-02-24 15:41] #5138 closed, assigned to nobody

[2022-02-24 15:47] #5136 closed, assigned to nobody

[2022-02-24 15:53] adidahiya commented on #5135
Are there specific aria properties you are expecting on Blueprint components/elements? In general, we try to apply all the necessary accessibility HTML attributes necessary for good WCAG / VPAT compliance out of the box with Blueprint. If there are specific gaps in this area, please list them and we can try to address them.

[2022-02-24 15:55] adidahiya commented on #5133
Please open a new issue and fill out the issue template. This one line doesn't give me much info to help solve your problem.

[2022-02-24 15:55] #5133 closed, assigned to nobody

[2022-02-24 17:10] zachkirsch commented on #5140
Ah makes sense!

[2022-02-24 18:04] codebling commented on #131
Thanks for the info @Timmmm !

I think there are a few potential solutions here (though I'm not 100% sure about the feasibility of any of them),
1) are you able to use one of the distribution files for Blueprint that has already been built with Webpack?
2) `dom4` could be wrapped in a new lib such that it has no side-effects, and used as you described
3) we could perhaps use `import()` instead of

[2022-02-24 18:29] horationunez opened #5142 "React-native port of Core components"
#### Environment

- __Package version(s)__:  latest
- __Browser and OS versions__: iOS, Android

#### Feature request

A port of the *Core* components for react-native. Has it been attempted before?

[2022-02-24 19:34] DustinRobison commented on #2864
I have a similar issue with the auto scrolling page to top when 2 popover2's are open at once.  Such as with a hover popover if someone mouse over from one to another quickly the delay close on the hover will cause 2 popovers to be open briefly and scroll to top of the page.

I _mitigated_ this issue by removing the close time: `hoverCloseDelay={0}`

[2022-02-24 19:44] Timmmm commented on #131
Yeah it does feel like something esbuild could support. Thanks for the ideas:

1. I don't think easily - I'm already hackily using it through https://esm.sh/
2. Yeah that would definitely be a good idea, though I looked into the code and it seems like there are possibly other side effect browser-only modules, e.g. `whatwg-fetch`? So it may be just the first bit of a big job.
3. I have no idea if t

[2022-02-24 20:07] adidahiya opened #5143 "Remove polyfills required for IE11"
In Blueprint v5, we will drop support for IE11, so we can remove some of the polyfills we have in place for that browser, including:

- [x] [dom4](https://webreflection.github.io/dom4/) https://github.com/palantir/blueprint/pull/6099
- [x] whatwg-fetch & Promise https://github.com/palantir/blueprint/pull/6101
- [x] JS language features mentioned [here](https://blueprintjs.com/docs/versions/4/#blue

[2022-02-24 20:10] adidahiya commented on #131
yes, this is one option. note that this is coming later this year with v5.0: https://github.com/palantir/blueprint/issues/5143

[2022-02-24 20:13] codebling commented on #131
For 2, I'd meant to include more details. I was thinking it might be possible to create temporary globals right before `dom4` is required/imported, then restore them afterwards and hook the side-effect function. Probably more work than it's worth.

Actually Webpack can target specific browsers and do any transpilation, courtesy Babel, so this library probably isn't required at all.

3. `import()`

[2022-02-24 21:23] adidahiya commented on #5028
I'm seeing this issue still present in an application after upgrading to 4.0.0-beta.14. Will need to look into it some more.

[2022-02-24 22:57] Timmmm commented on #131
I agree.

Ah nice. That is definitely the sensible solution!

I only have limited experience but I'm sold. It's definitely the future, if not *quite* the present.

The URL import system feels very weird at first but after using it for a while I think it's actually the best way to go.

It's especially good for replacing shell scripts. You get to write single file scripts in a sane statically typed

[2022-02-24 23:44] #5028 closed, assigned to adidahiya

[2022-02-27 09:35] zachkirsch commented on #5111
I think this is the same root cause as https://github.com/palantir/blueprint/issues/3500 - incorrect paths to source maps

[2022-02-28 07:13] tenebrius commented on #185
For react-router v6 this is enough
[code]

[2022-02-28 22:38] adidahiya opened #5150 "[v4] Icon font does not have stable codepoints"
#### Environment

- __Package version(s)__:
  - @blueprintjs/core v4.0.0-beta.15
  - @blueprintjs/icons v4.0.0-beta.8
- __Operating System__: macOS
- __Browser name and version__: Chrome

#### Problem

Codepoints assigned to each icon in the icon font are not stable between releases when new icons are added. Since the icon font generation script processes icons in alphabetical order, new icons get

[2022-03-02 17:58] #5002 closed, assigned to adidahiya

[2022-03-02 18:51] #5150 closed, assigned to adidahiya

[2022-03-03 17:21] #3500 closed

[2022-03-03 17:28] #4406 closed, assigned to nobody

[2022-03-03 17:50] #5097 closed, assigned to nobody

[2022-03-03 18:37] zachkirsch commented on #5111
Confirmed fixed by https://github.com/palantir/blueprint/pull/5146 in `4.0.0-rc.0`

[2022-03-07 13:57] samthecodingman opened #5160 "[FR] [BP4] Basic Deno Support"
#### Environment

- __Package version(s)__: 4.0.0-rc.0
- __Browser and OS versions__: Deno, Windows 10

#### Feature request

Implement early Deno support by supporting Deno's environment variable parsing methods.

#### Changes

The `NS` variable in [`@blueprintjs/core/common/classes.ts`](https://github.com/palantir/blueprint/blob/develop/packages/core/src/common/classes.ts#L22-L25) would need to

[2022-03-07 19:24] adidahiya commented on #5160
I'm open to adding Deno support. The first two parts make sense and seem straightforward. The last part, the conditional import, has been discussed recently in https://github.com/palantir/blueprint/issues/131#issuecomment-1049980138... I haven't done a lot of investigation yet on this topic, but it seems like something the bundlers ought to provide better support for.

[2022-03-07 19:25] #5111 closed, assigned to nobody

[2022-03-09 15:10] jasonseminara commented on #4759
Are you the only developer on this? We're rebuilding our site based on BP components, and it's crucial that we can style the components. We may have to choose another library if this one is effectively crippled.

I don't mean to put more pressure on @adidahiya , rather I would hope there were more people working to solve this.

Edit: is there anything else we can do to help?

[2022-03-10 15:50] jayarjo commented on #4032
Please migrate to `sass`.

[2022-03-10 21:25] adidahiya opened #5164 "Table zebra striping styles broken in dark theme"
#### Environment

- __Package version(s)__: table v4.0.0-rc.1

#### Steps to reproduce

Go to table-dev-app (the "table" link on any blueprint-bot preview comment, like [this one](https://51910-71939872-gh.circle-artifacts.com/0/packages/table-dev-app/dist/index.html))

#### Actual behavior

<img width="965" alt="image" src="https://user-images.githubusercontent.com/723999/157757202-b14e8b97-0752-

[2022-03-10 21:26] adidahiya commented on #3948
fixed in table v4.0.0-rc.1

[2022-03-10 21:26] #3948 closed

[2022-03-10 21:41] adidahiya commented on #4055
Fixed in table v4.0.0-rc.1

[2022-03-10 21:41] #4055 closed

[2022-03-10 21:43] adidahiya commented on #4013
fixed in table v4.0.0-rc.1

[2022-03-10 21:43] #4013 closed

[2022-03-10 21:44] adidahiya commented on #4014
fixed in table v4.0.0-rc.1

[2022-03-10 21:44] #4014 closed

[2022-03-10 21:45] adidahiya commented on #3988
might be fixed in table v4.0.0-rc.1, but if it's not, please let me know and I'll re-open.

[2022-03-10 21:45] #3988 closed

[2022-03-10 21:45] adidahiya commented on #4797
fixed in table v4.0.0-rc.1

[2022-03-10 21:45] #4797 closed, assigned to nobody

[2022-03-10 21:47] adidahiya commented on #3833
this should be fixed in table v4.0.0-rc.1. if it's not, let me know and I'll re-open.

[2022-03-10 21:47] #3833 closed

[2022-03-10 21:53] adidahiya commented on #3846
should be fixed by table v4.0.0-rc.1

[2022-03-10 21:53] #3846 closed

[2022-03-11 22:01] Khrotan commented on #4010
Hey, @justinbhopper, thank you for your suggestion. I want my Suggest component to be "clearable." I've tried to implement your suggestion by selecting the Suggest element with its id and manipulating its HTML placeholder and value attributes. The result is a failure, as Suggest is keeping an internal selectedItem state, and I cannot manipulate it. How did you implement your `handleClear`?

[2022-03-11 22:35] justinbhopper commented on #4010
@Khrotan The Suggest supports a `selectedItem` property to allow it to be controlled externally.  Its listed in the [docs here](https://blueprintjs.com/docs/#select/suggest).

For our case, we wanted to use the Suggest control in uncontrolled mode often enough that we chose to wrap the Suggest with our own customized implementation that we used instead of the standard Suggest control.  This allowe

[2022-03-11 22:55] Khrotan commented on #4010
Thanks @justinbhopper you made my day!

[2022-03-13 22:14] rubenlg commented on #4849
Thank you for getting back to me. I lost the context on this already. If I find the time to map the code in my head again, I'll try to come up with a more detailed design and some PRs.

[2022-03-15 15:13] adidahiya commented on #4094
try setting `<Table2 cellRendererDependencies>`, available in table v4.0.0-rc.2 (see #5162)

[2022-03-15 19:29] dlech commented on #4165
This also breaks testing with https://testing-library.com/docs/ecosystem-user-event#keyboardtext-options since it doesn't set `which`.

[2022-03-15 21:32] dylanrcooke opened #5167 "Overflow list does not detect popover size correctly due to scale"
#### Code Sandbox

Link to a minimal repro https://codesandbox.io/s/blueprint-sandbox-forked-xcw0jp?file=/src/index.tsx

#### Steps to reproduce

Use an overflow list in a popover with the minimal prop set to false

#### Actual behavior

The overflow list will never render more than one element

#### Expected behavior

The overflow list renders as many elements as fit in the container

#### Possib

[2022-03-16 02:07] dlech commented on #4156
I solved this issue with the following:

[code]

[2022-03-16 14:50] #5167 closed, assigned to nobody

[2022-03-16 15:29] adidahiya commented on #5101
@jseparovic I [forked your sandbox](https://codesandbox.io/s/morning-brook-1ou3fs?file=/src/App.js:519-520) and tried updating to table v4.0.0-rc.2 and using the new `cellRendererDependencies` prop... looks like the bug is still present. Would love to fix this sometime in v4.x. Open to PRs...

![2022-03-16 11 29 16](https://user-images.githubusercontent.com/723999/158627043-79915ebe-806f-4427-bc87

[2022-03-16 15:38] adidahiya commented on #4311
Forked and updated your sandbox to table v4.0.0-rc.2 and `<Table2>`... looks like the behavior is at least a little better since "6" is not overwritten, but the second cell never goes into editing state to accept the "7", it's just blank:

![2022-03-16 11 35 51](https://user-images.githubusercontent.com/723999/158628852-ea9cafc9-3556-4848-878a-f7cc9658fa55.gif)

https://codesandbox.io/s/blueprint-

[2022-03-16 15:38] #4311 closed, assigned to nobody

[2022-03-16 15:51] adidahiya commented on #4426
I closed #4432 due to inactivity, but this is still open for PRs if anyone wants to pick up the work from there.

[2022-03-16 15:54] adidahiya commented on #4362
@nickensoul does #4363 fix the issue from your screen recording?

[2022-03-16 17:37] dlech opened #5169 "Tooltip2 opens when dialog closes."
#### Environment

- __Package version(s)__: @blueprintjs/popover2 v1.0.0-rc.0
- __Operating System__: Ubuntu 20.04
- __Browser name and version__: Firefox 98.0

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprint-sandbox-forked-wdutny?file=/src/index.tsx

#### Steps to reproduce

1. Click the te

[2022-03-16 19:48] adidahiya commented on #5169
Try setting `shouldReturnFocusOnClose={false}` on the Dialog: https://blueprintjs.com/docs/versions/4/#core/components/dialog

[2022-03-16 19:54] dlech commented on #5169
Yes, I figured out this workaround already. It probably isn't the best solution for accessibility though.

[2022-03-16 22:17] adidahiya opened #5173 "HACKHACK: tests using deprecated initMouseEvent() method"
test-commons and the table package test harness use the [deprecated `MouseEvent.initMouseEvent()` method](https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/initMouseEvent). we should migrate to using the [`MouseEvent()` constructor](https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/MouseEvent) instead.

[2022-03-17 15:24] adidahiya opened #5174 "HACKHACK: core/table using deprecated navigator.platform feature"
we should switch to `userAgent`, or maybe a library which provides this functionality

[2022-03-17 16:13] adidahiya opened #5175 "HACKHACK: Clipboard tests skipped in table package"
We probably need to move to puppeteer and use the DevTools protocol to enable clipboard permissions in order to run the tests that rely on `navigator.clipboard`.

See:
- https://github.com/karma-runner/karma-chrome-launcher/issues/199
- https://pptr.dev/#?product=Puppeteer&version=v13.5.1&show=api-browsercontextoverridepermissionsorigin-permissions

[2022-03-17 17:19] adidahiya opened #5177 "Popover/Popover2 position/placement examples have layout issues"
#### Environment

- __Package version(s)__: core v3.53.0, popover2 0.13.0
- __Operating System__: macOS
- __Browser name and version__: Chrome

#### Code Sandbox

Viewable in a recent docs build: https://52238-71939872-gh.circle-artifacts.com/0/packages/docs-app/dist/index.html#core/components/popover.position

#### Steps to reproduce

Open one of the top or bottom popovers in the Popover position

[2022-03-17 17:33] HZ-labs commented on #4830
@adidahiya look at this example.

https://codesandbox.io/s/determined-zeh-z29fwd?file=/src/index.js
and loom - https://www.loom.com/share/f6ad7a40cdd94bc08a2f36f7ac23a5db

[2022-03-17 17:53] adidahiya commented on #4830
@HZ-labs that looks like a different issue, can you please file a new issue for that one? There's no table component involved in your code sandbox. I'm going to close this old issue and we can discuss your problem in a new thread. Also I would recommend trying the latest v4.0.0-rc and seeing if that happens to resolve your issue.

[2022-03-17 17:53] #4830 closed, assigned to nobody

[2022-03-17 18:24] HZ-labs opened #5178 "Multiple re-rendering by useHotkey"
Inside List components (Row) have empty hotkeys.
On Scrolling list - rendering Row causes App with use useHotkey to re-render.

#### Environment

- __Package version(s)__: @blueprintjs/core v4.0.0-rc.0, react-virtualized v9.22.3
- __Operating System__: Mac os 12.2.1
- __Browser name and version__: Chrome 99.0.4844.51

#### Code Sandbox

[Code sandbox](https://codesandbox.io/s/determined-zeh-z29fwd

[2022-03-17 18:33] HZ-labs commented on #4830
I create a new issue - https://github.com/palantir/blueprint/issues/5178
But I think is a similar, because @blueprintjs/table like react-virtualized, and if I use setState on re-rendering component I will get this error.

[2022-03-17 18:46] #4976 closed, assigned to nobody

[2022-03-17 19:30] justinbhopper commented on #3652
@adidahiya I think at this point this should just be considered a documentation bug.

The docs say "Useful when rendering a `Collapse` inside a `<table>`, for instance.",
but really it should say "Useful when rendering a `Collapse` inside a `<td>`, for instance."

Because there's no way the current implementation could render valid HTML if setting `component="tr"` or `component="table"`, since a d

[2022-03-18 20:11] jbmikk opened #5181 "Exposing SASS variables as custom properties"
#### Environment
Any

#### Feature request

Have you considered exposing SASS variables as custom properties so users can write custom CSS in their applications using the values blueprint uses internally?

This could be optional and probably prefixed.

#### Examples
For instance, variables like `$pt-grid-size` could be exposed like this:

[code]

[2022-03-20 12:13] collegewap opened #5182 "Unable to import css files in Next.js"
#### Environment

- __Package version(s)__: 3.54.0
- __Operating System__: Windows 10
- __Browser name and version__: Chrome 99

#### Code Sandbox

https://stackblitz.com/edit/nextjs-w1gosj

#### Steps to reproduce
According to the [Next.js documentation](https://nextjs.org/docs/basic-features/built-in-css-support#import-styles-from-node_modules), I should be able to import blueprint js to a my co

[2022-03-21 06:11] akoskm commented on #5123
@adidahiya any updates on this?

[2022-03-21 16:36] adidahiya commented on #5182
Just remove the `~` in the import paths. Our bundler (webpack) uses those tildes to locate node modules imports, while yours (next.js) does not require them. You'll have to adapt the Blueprint documentation to your work with the particulars of your build system, but things should generally work fine out of the box:

https://stackblitz.com/edit/nextjs-lswx5o?file=pages/index.js

[code]

[2022-03-21 16:37] #5182 closed, assigned to nobody

[2022-03-21 16:41] #1531 closed

[2022-03-21 16:41] adidahiya commented on #5181
Haven't really considered this yet, but I'm open to it. This could be useful. Accepting PRs.

[2022-03-21 16:45] dlech opened #5185 "Upgrade to @blueprintjs/core v3.54.0 and @blueprintjs/popover2 v0.14.0 is causing syntax error"
#### Environment

- __Package version(s)__: @blueprintjs/core v3.54.0 , @blueprintjs/popover2 v0.14.0
- __Operating System__: Ubuntu 20.04
- __Browser name and version__: N/A

#### Code Sandbox

N/A

#### Steps to reproduce

N/A

#### Actual behavior

There is a CI error when dependabot attempted to upgrade.

[code]

https://github.com/pybricks/pybricks-code/runs/5630817758?check_suite_focus=true#

[2022-03-21 17:54] adidahiya commented on #5185
I'm not familiar with your build tool [craco](https://github.com/pybricks/pybricks-code/blob/master/craco.config.js) but from quick googling it looks like you just need to update your Babel config to [process some additional syntax with `@babel/plugin-proposal-class-properties`](https://stackoverflow.com/questions/35517245/error-missing-class-properties-transform)? When consuming the `lib/esnext/`

[2022-03-21 17:58] dlech commented on #5185
Thanks for the hint. I agree, this doesn't sound like a blueprint bug in that case.

[2022-03-21 17:58] #5185 closed, assigned to nobody

[2022-03-21 20:53] arniebradfo commented on #5181
I would love if yall would do this natively. I can't make PRs to your codebase due to my organization's relationship with Palantir, BUT I did make a hacked version of the Blueprint css so my teams can style blueprint as a system. I had to jump through a lot of hoops to get this to work. Have a look and __+1 for this as a feature__.
- Demo: https://pnnl.github.io/blueprint-styler/
- Repo: https://g

[2022-03-21 22:10] absaroui opened #5190 "A comma is added to menu items in the docs"
#### Environment

- __Package version(s)__: @blueprintjs/core 4.0.0-rc.1
- __Operating System__: Linux Mint 20.1
- __Browser name and version__: Mozilla Firefox 84.0.1

#### Steps to reproduce

Menu docs: https://blueprintjs.com/docs/#core/components/menu

#### Actual behavior

A comma is added in each menu item. The same thing is happening in MultiSelect component.

![image](https://user-images.g

[2022-03-22 00:24] adidahiya commented on #5190
Fixed by https://github.com/palantir/blueprint/pull/5189, I just haven't updated the docs site yet

[2022-03-22 00:24] #5190 closed, assigned to nobody

[2022-03-22 20:20] HZ-labs opened #5191 "[Select] Can't select item by keyboard - Enter"
Can't select item by keyboard Enter If replace Button via native `button` html tag, and set `filterable={false}`.

#### Environment

- __Package version(s)__:
- __Operating System__:
- __Browser name and version__:

#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/s/blueprint-sandbox-forked-x7z0uz?file=/src/SelectExample.tsx

Loom: https://www.loom.com/share/2639f8abedff41ac84fe0

[2022-03-22 22:08] adidahiya commented on #5191
Why are you using a native `<button>` and not `<Button>`?

[2022-03-23 08:44] HZ-labs commented on #5191
@adidahiya I need custom element, if I take `Button` I need many style overwriting

[2022-03-23 14:09] rynorris opened #5193 "Batched update table only re-renders once every 2 updates"
#### Environment

- __Package version(s)__: table 4.0.0
- __Operating System__: MacOS
- __Browser name and version__: Chrome 99.0.4844.74

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-forked-5ihowy?file=/src/TableBugRepro.tsx

You can see, we use `cellRendererDependencies` to definitely force a re-render whenever `num` updates.  But the batched table with 21 cells (above the batch

[2022-03-24 15:14] JoeDuncko opened #5196 "`Cannot find module '../iconName' or its corresponding type declarations` after generating `@blueprintjs/icons`"
#### Environment

- __Package version(s)__:  4.0.0
- __Operating System__:  macOS 12.3
- __Browser name and version__:  n/a

#### Steps to reproduce

1. check out repo
1. `yarn`
1. `yarn verify`

#### Actual behavior

Hi, I'm trying to make my first contribution, but having some issues getting set up!

`yarn verify` fails when generating `@blueprintjs/icons`. It gives the following error:

[code]

[2022-03-24 22:20] adidahiya commented on #5196
There was recently a big change in `develop` after the `next` branch was merged into it with all the v4 changes. You will have to run `yarn clean` if you just pulled from `develop` before you can successfully build. I suspect that you have old build files hanging around. Can you try running `yarn clean` and then `yarn compile` from the root of the repo?

[2022-03-25 15:46] JoeDuncko commented on #5196
That did the trick, thank you!

[2022-03-25 15:46] #5196 closed, assigned to nobody

[2022-03-25 17:44] maclockard opened #5197 "Do any React components use the new font icon in BP 4?"
#### Environment

- __Package version(s)__: blueprint 4

#### Question

Blueprint 4 brings back icon fonts when using the CSS API https://blueprintjs.com/docs/#core/components/icon.css.

Do any of the exported React components use the CSS API for setting icons or do they all use `<Icon />` under the hood?

I'm asking since I'm thinking of overriding some of the built in blueprint icons such as 'co

[2022-03-25 18:14] JoeDuncko commented on #2864
@giladgray any ideas how one might port this change to the popover itself? I can't figure out a good way unless either the popover takes a ref to the node that we want `autofocus` to be triggered on, which doesn't seem like good DX to me.

[2022-03-25 19:38] adidahiya commented on #5197
Good question. The React components do not use the icon font. I will add this clarification to the docs.

This is changing pretty soon, btw... in v5, in order to support tree shaking, icons will be exported as components in addition to those path strings at `/generated/{16|20}px/paths/...` like this: https://unpkg.com/browse/@blueprintjs/icons@4.0.0-alpha.0/lib/esm/generated/components/add-column-

[2022-03-25 20:31] adidahiya opened #5200 "Allow column headers to be hidden in Table component"
#### Environment

- __Package version(s)__: table v4
- __Browser and OS versions__: any

#### Feature request

Users should be able to hide the column header completely, similar to what they can do for row headers with `enableRowHeader={false}`.

This would be best implemented as a new table prop `enableColumnHeader: boolean`.

[2022-03-25 20:38] adidahiya commented on #5200
Current alternative solutions involve some CSS hacks: https://codesandbox.io/s/blueprint-sandbox-forked-i8r5w6?file=/src/app.css

[2022-03-25 21:19] maclockard commented on #5197
Curious why not have the generated component just directly import from the generated file paths (`/generated/{16|20}px/paths/add-column-left.js`)? seems like it would result even smaller bundle sizes from only having the paths defined once

[2022-03-26 00:51] JoeDuncko commented on #4864
Yup, using a react component instead fixed it. I made a cool little `useToasterContext` hook for it:

[code]

[2022-03-28 18:11] dylangrandmont commented on #4759
After upgrade to v4 I am unable to override default colors (e.g. `$blue2`), even using `node-sass`. Has anything changed from v3 which would impact this?

[2022-03-28 19:49] adidahiya opened #5203 "Icons in buttons tab focus regression"
#### Environment

- __Package version(s)__: core v3.54.0 and v4.0.0
- __Operating System__: macOS
- __Browser name and version__: Chrome

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-forked-crbu7v?file=/src/CoreExample.tsx

#### Steps to reproduce

1. Click inside example
1. Press TAB twice

![2022-03-28 15 47 15](https://user-images.githubusercontent.com/723999/160475575-7a17250f

[2022-03-28 19:53] #4424 closed, assigned to nobody

[2022-03-28 20:21] dmackerman commented on #4759
@jasonseminara Obviously @adidahiya isn't the only dev on the project. Don't be rude. They don't owe you anything.

If you need functionality before it's shipped, consider forking the repo and fixing it yourself. The library isn't "crippled" because it doesn't bend to your use-case.

Additionally, they already gave you a timeline for the update.

[2022-03-29 04:43] MalikBagwala commented on #4032
@adidahiya Will it be possible for you to take this on priority? We plan on customizing scss variables and this is an absolute blocker currently.

[2022-03-29 19:23] milohansen opened #5205 "React 18 is not supported as a peer dependency"
#### Environment

- __Package version(s)__:  @blueprintjs/core: 4.0.2
- __Operating System__:  Windows 11
- __Browser name and version__: n/a

#### Steps to reproduce

1. Upgrade `react` and `react-dom` to version 18
2. Run `npm install`

#### Expected behavior

`npm install` successfully completes.

#### Actual behavior

![MicrosoftTeams-image](https://user-images.githubusercontent.com/1082015/16

[2022-03-30 16:48] adidahiya opened #5207 "blueprint-bot docs-preview links in PR comment are wrong"
they lead to "artifact not found" 404s

example: https://github.com/palantir/blueprint/pull/5206#issuecomment-1083378752

[2022-03-30 18:08] #5207 closed, assigned to adidahiya

[2022-03-30 20:43] adidahiya opened #5209 "Colors + icons copy to clipboard icon missing in docs"
#### Environment

- __Package version(s)__: v4.0.x
- __Operating System__: macOS
- __Browser name and version__: Chrome

#### Steps to reproduce

1. Go to https://blueprintjs.com/docs/#icons or https://blueprintjs.com/docs/#core/colors
1. Click on an icon or a color to copy its value

#### Actual behavior

You see an empty rectangle to the left of "Copied to clipboard"

#### Expected behavior

I t

[2022-03-31 13:28] adidahiya commented on #2972
Fixed by migrating to HotkeysTarget2 or useHotkeys

[2022-03-31 13:28] #2972 closed

[2022-03-31 13:28] #4652 closed, assigned to nobody

[2022-03-31 13:52] adidahiya commented on #4759
Revisiting the issue here, I realized I need a few more specifics @connorokeefe and @jasonseminara -- are you having errors customizing variables using `sass` or newer versions of Node + `node-sass`? I'm upgrading node-sass right now in #5211, but if your problems are related to dart-sass usage, you'll have to wait a little bit longer for #4032. If that's the case, I'll close this as a duplicate o

[2022-03-31 17:32] #4415 closed, assigned to adidahiya

[2022-03-31 20:48] switz opened #5212 "Toaster.create() uses ReactDOM.render which is being deprecated in React 18"
#### Environment

- __Package version(s)__: 4.0.3
- __Operating System__: Mac stable
- __Browser name and version__: Firefox stable

https://github.com/palantir/blueprint/blob/develop/packages/core/src/components/toast/toaster.tsx#L130

[code]

In console:

#### Actual behavior

React warns us against using ReactDOM.render

#### Expected behavior

Blueprint should not use ReactDOM.render for a toa

[2022-03-31 21:35] #3726 closed

[2022-03-31 21:37] adidahiya commented on #5212
Can you work around this by using one of the [alternative Toaster APIs](https://blueprintjs.com/docs/#core/components/toast.toaster)?

[2022-04-01 00:37] sichenjin opened #5214 "Multiselect tagRenderer nt be called, no tag is rendered"
#### Environment

- __Package version(s)__: 4.0.3
- __Browser and OS versions__: Chrome and Win10

#### Question
Here is my code, however the tag is not rendered at all when I make selections. And the tagRenderer is not called at all.
Can you please help me check what is wrong? I am been stuck on this problem days.

![image](https://user-images.githubusercontent.com/59711405/161172142-dbd23d3f-733

[2022-04-01 17:45] adidahiya commented on #4032
Heads up to anyone in this thread who is importing Blueprint `.scss` files and compiling the core styles with `node-sass` as a consumer of the library:

While the ability to customize Blueprint's Sass variables to achieve some basic "theme" variations can be useful, __I consider this a feature which uses semi-private APIs__. Blueprint's API surface area is already very large, and I do not wish to

[2022-04-01 17:48] adidahiya opened #5218 "FR: Tooltip2 should allow access to popoverRef"
#### Environment

- __Package version(s)__: popover2 v4.0.x

#### Feature request

`<Tooltip2 popoverRef={...}>` prop should be supported.

#### Examples

Users may want to get a ref to the tooltip popover just as they would with any other popover.

[2022-04-01 19:49] #3338 closed

[2022-04-01 21:16] switz commented on #5181
@arniebradfo This is great work! I'm going to use this, will report back with any issues. Thanks for the effort!

[2022-04-01 21:37] eherozhao opened #5221 "Text go beyond the Dialog boundary"
#### Environment

- __Package version(s)__: "3.28.1"
- __Browser and OS versions__: Worked in BabylonJS Editor V4.1.0 and MacOS 10.15.7

#### Question
This is the code snippet of my custom component.
[code]

When the `text` becomes longer, it will go beyond the
[code]
boundary.
How should I solve it? Thank you.

[2022-04-02 01:00] lwouis commented on #4032
@adidahiya if scss variables are not public API, it would be nice to have an official/public way to customize things like colors. A lot of people want to use blueprintjs but they want to brand it a bit by changing the default blue. It would be nice to offer some supported way to do it, like other components libraries do

[2022-04-04 11:03] IhnatKlimchuk opened #5223 "DateRangePicker shortcut still marked as active after manually updating the range"
#### Environment

- __Package version(s)__: "@blueprintjs/core": "^3.40.1", "@blueprintjs/datetime": "^3.22.0",
- __Browser name and version__: Chrome

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)):

#### Steps to reproduce

1. Create Date Range Picker similar to https://blueprintjs.com/docs/#datetime/daterangepicker
![image

[2022-04-04 12:21] #3365 closed

[2022-04-04 12:23] #5209 closed, assigned to nobody

[2022-04-04 12:25] adidahiya commented on #5221
@eherozhao can you please create a code sandbox to demonstrate the issue?

[2022-04-04 14:56] rhysbrettbowen opened #5224 "Button with a tooltip is not active on popup"
#### Environment

- __Package version(s)__: core 4.0.0, popover2 1.0.0
- __Operating System__: macOS
- __Browser name and version__: Chrome

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-forked-6pkjx7?file=/src/index.tsx

#### Steps to reproduce

1. create a button with a tooltip and a popover
1. click the button
1. button is not in active state

#### Actual behavior

popover opens

[2022-04-04 15:48] adidahiya commented on #4032
@lwouis yep, that would be a nice feature. I'm open to ideas for proposals on how to do this in a clean way that doesn't add too much maintenance burden. We can discuss such proposals in a new issue thread.

[2022-04-04 15:48] #4032 closed

[2022-04-04 15:48] #4751 closed, assigned to nobody

[2022-04-04 15:53] adidahiya commented on #4759
Should be fixed either with the node-sass upgrade in #5211, or the dart-sass migration in #5216.

[2022-04-04 15:53] #4759 closed, assigned to nobody

[2022-04-04 20:59] eherozhao commented on #5221
https://codesandbox.io/embed/blueprint-sandbox-forked-g6v73t?fontsize=14&hidenavigation=1&theme=dark
You can use this link as a reference. The text is beyond the Text component boundary and I would like to find a way to solve it. Thank you.

[2022-04-04 23:06] eherozhao commented on #5221
https://codesandbox.io/embed/blueprint-sandbox-forked-g6v73t?fontsize=14&hidenavigation=1&theme=dark
You can use this link as a reference. The text is beyond the Text component boundary and I would like to find a way to solve it. Thank you.

[2022-04-05 01:49] vogievetsky opened #5225 "Unboxing Blueprint4 video: Upgrading from BP3 -> BP4 and sharing thoughts."
Writing on behalf of myself and the [Apache Druid](https://github.com/apache/druid) project, I just wanted to say THANK YOU to the blueprint team for the excellent library and all the love y'all pour into it.

Recently @jgoz and I [upgraded](https://github.com/apache/druid/pull/12391) the Blueprint version used by the [Druid web console](https://druid.apache.org/docs/latest/operations/druid-consol

[2022-04-05 12:48] adidahiya commented on #5221
If you're sticking with the `<Text>` component, just add the `ellipsize={true}` prop. Or just drop that component and use a more common `<p>` element. Your example has a very long string without any whitespace, so it will not wrap unless you apply the right CSS styles.

[2022-04-05 13:40] VadimCiv commented on #5205
Same issue here. Can't update react lib

`npm ERR! Could not resolve dependency:
npm ERR! peer react@"^16.8 || 17" from @blueprintjs/core@4.0.4`

[2022-04-05 14:47] #5205 closed, assigned to nobody

[2022-04-05 15:24] AlMck2 opened #5227 "Add support for "minDate" and "maxDate" to "Today" button on datepicker action bar"
#### Environment

- __Package version(s)__: 3.23.1
- __Browser and OS versions__: Google Chrome 99.0.4844.74 on Mac OS 12.3.1

#### Feature request

It would be really nice if the "Today" button on the action bar respected "minDate" and "maxDate"

#### Examples

When I have "minDate" set in the future, "Today" button should be disabled, or at least shouldn't set the date.
When I have "maxDate" set

[2022-04-05 15:26] AlMck2 opened #5228 "Don't allow "clear" button on datepicker action bar when "canClearSelection" is set"
#### Environment

- __Package version(s)__: 3.23.1
- __Browser and OS versions__: Google Chrome 99.0.4844.74 on Mac OS 12.3.1

#### Feature request

It would be really nice (and I initially assumed it would until testing) if when `canClearSelection` is set, the "Clear" button on the action bar would be disabled

#### Examples

[2022-04-05 16:41] dlech opened #5229 "Disabling focus manager takes two clicks"
#### Environment

- __Package version(s)__: @blueprintjs/core 4.0.4
- __Operating System__: Ubuntu 20.04
- __Browser name and version__: Firefox 98, Chromium 100

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-forked-4x77pn?file=/src/index.tsx

#### Steps to reproduce

1. Click on the *Always focus* button
   - note the focus outline on this button - this is expected
   - note the s

[2022-04-05 17:08] adidahiya commented on #5229
Can you explain your use case a bit more? Why do you have to switch between the different focus manager modes interactively? Why do you expect this to change during the lifetime of your application or web page?

[2022-04-05 17:14] adidahiya commented on #5228
I assume you're talking about the DatePicker component in @blueprintjs/datetime v3.23.1 (in the future, please be more specific in issue reports, as we have multiple packages and they have independent versioning... ideally you should create a code sandbox as linked in the bug report issue template).

<img width="272" alt="image" src="https://user-images.githubusercontent.com/723999/161812744-b90d1

[2022-04-05 17:20] dlech commented on #5229
I am using https://github.com/lukasbach/react-complex-tree to get a keyboard accessible tree component since the Blueprints tree is not keyboard accessible. When the tree widget has focus, we want the focus manager to always show focus so we can see which item it the tree is focused but when the tree widget is not enabled we don't want to show the focus outline on other components.

[2022-04-05 18:07] dlech commented on #5229
This guess turns out to be wrong. The problem happens when `InteractionModeEngine.start()` is called rather than `stop()`. This means that we have to know what state we should be in when `start()` is called. So I suppose we could add an optional parameter to `FocusStyleManager.onlyShowFocusOnTabs()` and pass it through to `InteractionModeEngine.start()`.

[2022-04-05 18:37] thooverdev opened #5232 "Having issues with Portal functionality v4.x"
#### Environment

- __Package version(s)__:
    "@blueprintjs/core": "^4.0.4",
    "@blueprintjs/datetime": "^4.0.4",
    "@blueprintjs/icons": "^4.2.0",
    "@blueprintjs/popover2": "^1.0.4",
    "@blueprintjs/table": "^4.0.4",
- __Operating System__: Linux (CentOS 7)
- __Browser name and version__: (Chrome v96)

#### Code Sandbox

N/A

#### Steps to reproduce

1. See Screenshot, pretty simple im

[2022-04-05 18:40] #5232 closed, assigned to nobody

[2022-04-05 18:40] thooverdev commented on #5232
I'm an idiot and forgot to import datetime.css file....

[2022-04-05 18:42] #5203 closed, assigned to nobody

[2022-04-05 18:46] adidahiya commented on #5229
Another solution might be to add an escape hatch -- some new CSS class which Blueprint's focus style manager knows not to mess with, so that it can continue to show focus outlines even after `.onlyShowFocusOnTabs()` is enabled...

[2022-04-05 18:52] #5218 closed, assigned to nobody

[2022-04-05 19:33] dlech commented on #5229
Yes, that sounds like a good idea, then we wouldn't have to change `FocusStyleManager` at runtime. My second suggestion doesn't really work since you would have to know if the new element receiving focus is a regular element or one of the exempt elements.

[2022-04-06 00:13] scooobs opened #5236 "Icons font not loading, docs broken in Firefox"
#### Environment

- __Package version(s)__: core v4.1.0
- __Operating System__: MacOS
- __Browser name and version__: Safari 14.0.3

#### Steps to reproduce

1. Load live site (currently v4.1.0).
2. Check Developer Console

#### Actual behavior
Font's are trying to be locally loaded.

[code]

#### Expected behavior

Font's should be loaded from the following URL's (this is how they were loaded in

[2022-04-06 03:59] eherozhao commented on #5221
Is there any component provided by BlurprintJS can wrap the texts without custom CSS style? I know `ellipsize` and would like to find a way to show all text. It is not only for the long string, but also for a long sentence. The long sentence with whitespaces will also fail to be wrapped.

[2022-04-06 04:00] eherozhao commented on #5221
Is there any component provided by BlurprintJS can wrap the texts without custom CSS style? I know `ellipsize` but would like to find a way to show all text. It is not only for the long string, but also for a long sentence. The long sentence with whitespaces will also fail to be wrapped.

Also, I am not sure closing the issue without getting the agreement from the requester is a good way. Maybe ha

[2022-04-06 06:52] AlMck2 commented on #5228
Apologies, I did mention the datepicker in the title, but could have been more clear.

Well, I was suggesting disabling it rather than removing it completely. Although it might be an idea to allow more flexibility around the action bar, like you do with the shortcuts bar.

The reason we want the action bar is because we have a number of different date inputs, and the clear button is very useful, b

[2022-04-06 13:57] Reggino commented on #5236
There are more issues related to this. Compiling .scss sources leads to notices, e.g.

[code]

Invalid file references seem to exist in the latest versions of

[code]

[2022-04-06 13:58] adidahiya commented on #5228
Ok, that's fair. I would accept a PR which disabled the clear button in the actions bar in this case, that sounds like a reasonable UX approach which a Blueprint user can opt-in to 👍🏽

[2022-04-06 14:19] adidahiya commented on #5236
This seems like an issue with the latest build & deployment of Blueprint. Things were working fine in v4.0.x, and after I upgraded to Node 16 some things (including NPM publishing, which forced me to do a manual build & publish) started breaking. I'll look into it today, thanks for flagging!

[2022-04-06 14:20] adidahiya commented on #5236
Note that the docs are also completely broken in Firefox. I'm adding that to this issue as a related problem.

[2022-04-06 15:57] pgoldberg opened #5237 "Variable conversion to less is broken"
#### Environment

- __Package version(s)__:  4.1.0
- __Operating System__: all
- __Browser name and version__: all

Variable conversion is broken because the `math.div`s, which are a feature in sass but not in less, make it to the less variables.

#### Possible solution

PR incoming

[2022-04-06 17:51] #5237 closed, assigned to nobody

[2022-04-06 19:16] adidahiya opened #5240 "Webpack warnings exporting types"
on develop as of 2d699dd4cefb175d97555e98035a91c069b2f0cc:

[code]

possible solution: use `export type {}` / `import type {}`?

[2022-04-06 20:11] #5236 closed, assigned to adidahiya

[2022-04-07 01:59] eherozhao commented on #5221
I figured it out by adding a CSS break-word. Thank you. I hope the Text component can provide some kind of features in the future.

[2022-04-07 01:59] #5221 closed, assigned to nobody

[2022-04-07 13:51] adidahiya opened #5244 "variables.scss is incompatible with node-sass"
#### Environment

- __Package version(s)__: core v4.1.1

#### Bug

@blueprintjs/core v4.1.1 contains a `lib/scss/variables.scss` file which uses `@use "sass:math"` and `math.div(...)`. This language feature is only available in Dart Sass v1.33+, and not available in LibSass / node-sass ([see docs](https://sass-lang.com/documentation/modules/math#div)). This means that node-sass compatibility is br

[2022-04-07 14:39] bjornhanson commented on #5244
I updated to @blueprintjs/core v4.1.1 and am seeing an error related to variables.scss when trying to build our project with Parcel.

[code]

I know [you said ](https://github.com/palantir/blueprint/issues/4032#issuecomment-1086175879) pulling in `@blueprints/*/src/**/*.scss` files might cause problems. We're doing that quite extensively to apply our own theme based on requirements from our design

[2022-04-07 15:00] ghost opened #5245 "Enabled anchor buttons don't trigger the onClick callback if the button is immediately disabled after being clicked. Buttons do."
#### Environment

- __Package version(s)__:
- __Operating System__:
- __Browser name and version__:

#### Code Sandbox

I have a button that I only want to be enabled when a certain element has focus. When the user clicks the button, that element will no longer have focus so the button will no longer be enabled, but I want the initial click to go through and trigger the onClick callback. I am seei

[2022-04-07 15:30] adidahiya commented on #5244
@bjornhanson thanks for the flag; do you know if you're bundling with node-sass or dart-sass? you would have `node-sass` as a dependency if it's the former, otherwise `sass`.

[2022-04-07 15:50] bjornhanson commented on #5244
We're using dart-sass. We've got `sass` as a dependency.

[2022-04-07 18:27] #5244 closed, assigned to nobody

[2022-04-08 01:10] pgoldberg commented on #5244
@bjornhanson Are you importing a file that includes `$light-gray5`? From the error, it looks like it's not imported (`_color-aliases.scss` references `$light-gray5`, but does not import it). Try importing either `@blueprintjs/core/lib/scss/variables.scss` or `@blueprintjs/colors/src/_colors.scss` before your `_color-aliases.scss` import

[2022-04-08 16:47] bjornhanson commented on #5244
We're importing `@blueprintjs/core/src/common/variables`, which used to import `@blueprintjs/core/src/common/_colors.scss` before`@blueprintjs/core/src/common/_color-aliases.scss`. We're not importing `_color-aliases.scss` directly.

If I import `blueprintjs/core/lib/scss/variables.scss` or `blueprintjs/colors/src/_colors.scss`, the error goes away (thanks!) and then it's onto the next error. Upgr

[2022-04-09 15:08] aschick82 opened #5250 "Getting type errors after upgrading to @types/react v18.0.0."
I upgraded react and @types/react packages to the new v18.0.0 yesterday and I started to get type errors in regards to the removed "children" prop in @types/react version 18.0.0.

Can you please apply a fix for this?

Thanks

[2022-04-10 03:02] casperOne commented on #5250
Can confirm, this is definitely happening for the `Overlay` component at a minimum.

[2022-04-10 21:16] bradchristensen commented on #5250
I'm also seeing this type error on tooltips from Popover2. Here's some guidance from the React team on how to fix: https://twitter.com/dan_abramov/status/1512833611401150474

[2022-04-11 15:17] adidahiya commented on #5250
Ok, thanks for the flag. The solution seems to be that we have to manually declare `children` as a prop anywhere we use `React.FC`: https://stackoverflow.com/questions/71788254/react-18-typescript-children-fc/71809927#71809927

Rationale on why they removed the `children` property in `@types/react` here: https://solverfox.dev/writing/no-implicit-children/

I'll get to this eventually, but gladly o

[2022-04-11 15:49] Reed-Anderson commented on #5250
Does anyone have a reasonable workaround for this? This is preventing my update to React 18.

[2022-04-11 16:35] #3618 closed

[2022-04-11 16:36] #4148 closed

[2022-04-11 16:37] casperOne commented on #5250
Unfortunately, the only current solution as of this post is to *not* update `@types/react` to version 18.

[2022-04-11 21:34] lavrton commented on #5205
@adidahiya can you do the same for `popover2` package?

[2022-04-12 11:08] aelgasser opened #5253 "Table sorting doesn't re-render"
#### Environment

- __Package version(s)__: 4.1.2 (same issue since 4.0.0-rc.3, see below)
- __Operating System__: MacOS 12.2
- __Browser name and version__: Chrome 99.0.4844.83

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)):

https://codesandbox.io/s/blueprint-sandbox-forked-4-1-2-not-working-ndf821?file=/src/TableSortableE

[2022-04-12 17:09] adidahiya commented on #5205
@lavrton whoops, sorry, I missed that package somehow. Fixing in #5255.

[2022-04-12 17:31] franciscohanna92 commented on #4423
@adidahiya Hello! I'm facing this issue. Any workaround that you could think of?

[2022-04-12 17:35] franciscohanna92 commented on #2492
FWIW `autoFocus` works just fine when also setting `alwaysRenderInput`, but this last feature has a bug trying to compute the width before the first focus (#4423)

[2022-04-12 19:08] enriquecaballero opened #5256 "Blueprint's CSS not compatible with Parcel 2.4.X CSS transformer"
Unsure if you were aware, but the latest `blueprint.css` is not compatible with Parcel 2.4.X's CSS transformer:

[code]

There is a GitHub issue on the Parcel side but they seem to point the finger at Blueprint. See https://github.com/parcel-bundler/parcel-css/issues/149#issuecomment-1097064686.

[2022-04-12 19:14] adidahiya commented on #5256
@enriquecaballero which version of blueprint core?

[2022-04-12 19:15] enriquecaballero commented on #5256
@adidahiya `"@blueprintjs/core": "^4.1.2"`

[2022-04-12 19:27] adidahiya commented on #5256
Ok, I can see the parts of the code which would produce this weird selector:

https://github.com/palantir/blueprint/blob/b922587184bf99422b4e8ddc2456a372e20cdddf/packages/core/src/components/forms/_file-input.scss#L100

https://github.com/palantir/blueprint/blob/b922587184bf99422b4e8ddc2456a372e20cdddf/packages/core/src/components/button/_common.scss#L145

My first guess was that this code compile

[2022-04-12 19:30] enriquecaballero commented on #5256
@adidahiya 100% agreed dart-sass should have failed the compilation if the CSS was in fact invalid.

[2022-04-13 15:02] adidahiya commented on #5225
@vogievetsky thanks for the kind words and sharing your experience working with Blueprint. After spending a lot of time working through this upgrade in our internal code bases, it’s really helpful for me to see how BP4 has landed for dev teams outside of Palantir. There’s often room for improvement in the migration paths for Blueprint upgrades, and you’ve identified some of it here. Here are my fi

[2022-04-13 15:13] jgoz commented on #5225
Yeah, I'm pretty sure `change-case` is the reason. There is one package for each kind of case change you might want to make and `change-case` is the root of that dependency tree. From what I recall, you can depend on only the change operation packages you actually need, but an internal helper for this kind of thing sounds good too.

Ah, great tip, thank you! We will adopt those and include that in

[2022-04-13 16:09] #3755 closed

[2022-04-13 16:10] adidahiya commented on #3755
Fixed for Table2 in #5242. Not touching deprecated Table component except for P0 bugfixes.

[2022-04-13 16:27] adidahiya commented on #5253
Thanks for the bug report, I can repro this in your sandbox and on the docs site.

I tried fixing this by adding `cellRendererDependencies={[this.state.sortedIndexMap]}`[0] in this [forked sandbox](https://codesandbox.io/s/blueprint-table-4-1-2-sorting-fix-5jq5vx?file=/src/TableSortableExample.tsx), but that didn't do the trick. We'll have to look into this more closely.

[0] `cellRendererDependen

[2022-04-13 17:33] aelgasser commented on #5253
I just tested with the experimental prop `cellRendererDependencies` in your sandbox.
It seems that it reacts to the change only every second click on a sort menu item

1. Sort by the first column ASC
2. It does nothing (sort but doesn't re-render)
3. Sort by the second column ASC
4. It re-renders with data sorted by the second column

Don't know if that could help pinpoint the issue, or maybe fixi

[2022-04-14 13:28] bharati20 opened #5257 "Time picker dropdown box for am/pm selection is not responsive on mobile view / lower resolutions"
<img width="322" alt="am-pm_selection" src="https://user-images.githubusercontent.com/35444108/163400512-1f850dc1-23e9-4955-9940-fd3b16bdc968.png">
for am-pm selection drop down external css are not able to handle dropdown box height/width , also no prop available to set styling for selection dropdown box

[2022-04-14 13:55] adidahiya commented on #5257
That's just a standard HTML `<select>` dropdown, we don't do anything fancy with it. It looks like you've scaled down the page quite a bit to fit it into those dimensions, and Blueprint is not designed to look good at that scale. We don't do any responsive design and the components are not optimized for mobile web usage.

[2022-04-15 15:42] #5228 closed, assigned to nobody

[2022-04-15 15:43] #5229 closed, assigned to nobody

[2022-04-15 15:55] #5227 closed, assigned to nobody

[2022-04-15 18:32] JoeDuncko commented on #5052
Just wanted to leave a note here that I had some issues with `@blueprintjs/eslint-plugin` (both v0 and v1) + `create-react-app` v5.

I was getting the following error:

[code]

After a bunch of trial and error, the solution ended up being to pin my eslint version to v8. Apparently having eslint v7 pinned in `@blueprintjs/eslint-plugin` caused cascading eslint v7s to be used throughout my dependenc

[2022-04-16 04:08] bradchristensen commented on #5250
Thanks for the very quick fix @adidahiya!

EDIT: I noticed this was still an issue on class components, so I've opened a PR that addresses one such issue for Popover2/Tooltip2: https://github.com/palantir/blueprint/pull/5261

[2022-04-16 17:51] stevestorey commented on #5250
Not sure whether this is part of this bug, or is expected, or should be something else - but if I add an example use of `Tabs` which spreads an existing props object, and then overrides specific properties, so something like:
[code]
(added to the sample sandbox above here: https://codesandbox.io/s/blueprint-sandbox-with-react-18-tabs-example-dvnk04?file=/src/TabsExample.tsx:179-494 )

then I get a

[2022-04-17 12:24] Poolshark commented on #4056
If this is still an issue - I had a similar problem with `react-rnd` and I could fix it with adding

[code]

to your `.yarnrc.yml` file. The reason probably is that `blueberry` is lacking a peer dependency and the [import of it fails.](https://github.com/bokuweb/react-rnd/blob/042eb3d221100b650dd1fb605ffa22d6d72fdd58/src/index.tsx#L1).

The reason it works without workspaces is due to https://yarn

[2022-04-17 13:48] SLKarol commented on #5250
Can confirm, this is definitely happening for the **Collapse**, **FormGroup** components.

[2022-04-18 12:09] ptgamr commented on #4759
@adidahiya I've just confirmed that this is not yet fixed after migrating to dart-sass.

[code]

I've done the migration myself, and still get this error when building our widget:

[code]

[2022-04-18 14:43] adidahiya commented on #4759
@ptgamr How are you running the Sass compiler? We use some custom functions in our Sass source; if you want to compile it, I think you'll need to include them: https://github.com/palantir/blueprint/blob/c1d7849832e2aab208aaf1191f5fac0d64fe543e/packages/core/package.json#L30

our `sass-compile` script is exported in the package `@blueprintjs/node-build-scripts`, but YMMV on non-Blueprint library pr

[2022-04-19 08:50] ptgamr commented on #4759
Thanks @adidahiya for the references, yeah, I am using webpack sass-loader and seems like I don't have that custom functions.

Found a work around in here https://github.com/palantir/blueprint/issues/2976#issuecomment-479231949 ... not perfect, but got my build working again.

To have a fully working solution, I guess I have to find out how to config webpack `sass-loader` with a custom functions,

[2022-04-19 12:55] ShriRamaJeyam opened #5263 "TimeZone Picker Issue inside dialog"
#### Environment

- __Package version(s)__: 4
- __Operating System__:  MacOS
- __Browser name and version__:  Chrome 100, Firefox

#### Code Sandbox
https://codesandbox.io/s/q34ktm?file=/src/index.tsx

#### Actual behavior
The search/filter bar in timezone picker inside dialog does not work.

#### Expected behavior
The search/filter bar in timezone picker inside dialog must work.

[2022-04-19 14:49] adidahiya commented on #5263
You need to set `enforceFocus={false}` on the Dialog. See related issues/comments like https://github.com/palantir/blueprint/issues/3854#issuecomment-557999268.

[2022-04-19 14:50] #5263 closed, assigned to nobody

[2022-04-19 16:22] nllevin opened #5264 "When using columnWidths prop in Table, new columns have no width"
#### Environment
@blueprintjs/table 4.1.2

#### Code Sandbox

Link to a minimal repro: [sandbox](https://cwjgwe.csb.app)

#### Steps to reproduce

1. Create a table with `columnWidths` prop
2. On a subsequent render, add additional columns with `undefined` in the `columnWidths` array.

#### Actual behavior

The new columns have no width, aside from padding. The header cells render in the correct p

[2022-04-19 16:34] adidahiya commented on #5264
I tried swapping Table with Table2 (where we've been making a number of improvements/fixes lately), and the issue is still there: https://codesandbox.io/s/blueprint-table-adding-columns-i5obss?file=/src/index.tsx

I'll look into a bugfix this week.

[2022-04-19 18:26] switz commented on #5250
This is still happening for the `Spinner` component as well:

[code]

[2022-04-19 18:57] adidahiya commented on #4758
@ejose19 @sushain97 is this still an issue with the current 4.x release?

[2022-04-19 19:02] sushain97 commented on #4758
Nope. LGTM on an Android device now. Thanks!

[2022-04-19 21:37] asyncjason commented on #5250
also `Column` from `@blueprintjs/table`

[2022-04-19 22:06] jseparovic commented on #5250
I'm actually seeing this issue for `Spinner` on react 16.14.25.
[code]
It's strange that it just started happening today without modifying my package.json. I just did a fresh `yarn install`

[2022-04-20 15:34] enriquecaballero commented on #5256
@adidahiya Unfortunately, this is still failing:
[code]

[2022-04-20 16:11] enriquecaballero commented on #5256
I was able to patch the CSS file. This is the patch file produced by Yarn:

[code]

[2022-04-20 21:51] #4758 closed, assigned to nobody

[2022-04-21 07:39] branko-d commented on #5250
Also in the `Select.ofType<U>()`.

[2022-04-21 21:23] #5256 closed, assigned to adidahiya

[2022-04-21 22:06] #5250 closed, assigned to nobody

[2022-04-24 13:46] severinlandolt opened #5268 "Extend default shortcuts of date range picker with MTD and YTD"
#### Environment

Package version(s): Latest Blueprint version
Browser and OS versions: Latest Chrome version

#### Feature request
It would be great to extend the default shortcuts of the date range picker with the following options:

- MTD: Month-to-date
- YTD: Year-to-date

#### Examples
MTD: Today is April 24th, 2022. The month-to-date option would include the range from  01-04-2022 to 24-04-2

[2022-04-25 17:12] adidahiya commented on #5268
This is very similar to a previous request: https://github.com/palantir/blueprint/issues/4398

Adding MTD and YTD is currently possible, all you have to do is set the `shortcuts` prop on `DateRangeInput` or `DateRangePicker`.

However, it's not very easy to _extend_ the set of default shortcuts, because we don't expose those in the public API:

https://github.com/palantir/blueprint/blob/85dab97343

[2022-04-25 18:21] switz commented on #5250
Still seeing an error on the Spinner component:

[code]

[2022-04-25 18:45] adidahiya commented on #5250
I created a new Blueprint sandbox with React 18, check it out: https://codesandbox.io/s/blueprint-with-react-18-2wfvt5?file=/src/CoreExample.tsx

@switz I don't see any errors when using `<Spinner />` in that sandbox. Your issue seems unrelated, and probably due to some other tooling or types you're using.

[2022-04-25 19:14] clinVaricent commented on #3383
How?

[2022-04-26 14:36] #5052 closed, assigned to adidahiya

[2022-04-26 15:39] icdevin commented on #4510
Same issue, the solution provided by @MynockSpit was a solid workaround. The behavior as implemented is quite strange, I couldn't figure out what the original intention was here.

[2022-04-27 15:07] adidahiya opened #5273 "Dialog should allow attaching ref to container element"
#### Environment

- __Package version(s)__: core v4.2.1

#### Feature request

Currently there's no easy way to get a ref to the DOM element which is inside a Dialog's Overlay, or the `.bp4-overlay` element itself. This attempt in a code sandbox doesn't work: https://codesandbox.io/s/blueprint-sandbox-forked-7fy0f9?file=/src/CoreExample.tsx

We should forward `<Dialog ref={...}>` somehow, or add a

[2022-04-27 17:05] LoiKos opened #5274 "Source map warnings in Create-React-App 5"
#### Environment

- __Package version(s)__:
     "@blueprintjs/core": "^4.2.1",
    "@blueprintjs/datetime": "^4.1.4",
    "@blueprintjs/popover2": "^1.1.4",
    "@blueprintjs/select": "^4.1.4",

- __Operating System__: Mac OS Monterey 12.2.1
- __Browser name and version__:  Chrome Version 100.0.4896.127 (Build officiel) (x86_64)

#### Code Sandbox

https://codesandbox.io/s/romantic-swirles-f6w5g9

[2022-04-27 17:06] LoiKos commented on #5274
I find these two issues related but i still have the problem :

https://github.com/palantir/blueprint/issues/5111

https://github.com/palantir/blueprint/issues/3500

[2022-04-27 21:27] jennyfan opened #5275 "Allow selecting/copying out values from a Multi Select input"
#### Feature request

It would be really helpful to be able to copy out filter values used in a [Multi Select component ](https://blueprintjs.com/docs/#select/multi-select), both as a `ctrl-a ctrl-c` keyboard operation and through selecting as text. The values could be copied out as a comma separated
<img width="464" alt="Screen Shot 2022-04-27 at 5 24 27 PM" src="https://user-images.githubusercon

[2022-04-28 10:21] stur86 opened #5276 ""File URL Path must be absolute" warning when building with Webpack"
#### Environment

- __Package version(s)__: Blueprint v 4.2.1, Webpack v 5.72.0
- __Operating System__: Windows 11
- __Browser name and version__: Not relevant

#### Steps to reproduce

1. Start a project configured to use Webpack for building, for example with `create-react-app`
2. install and import `@blueprintjs` in one of the files
3. run a build job or use `npm start` to run the development s

[2022-04-28 13:41] andersHj commented on #4759
I also struggled with this for a while, thanks for the comments, helped me find a workaround:

- Downloaded the missing icons (`chevron-right.svg`, `more.svg`, `small-minus.svg`, `small-tick.svg`) from the [icons folder](https://github.com/palantir/blueprint/tree/develop/resources/icons/16px), and put them in a folder in my repo.
- Then add the custom function from `./scripts/sass-custom-functions

[2022-04-29 07:25] odusseys commented on #4557
this seems to still be an issue even after upgrading to 4.x - is this actually fixed ? using create-react-app

[2022-04-29 14:34] adidahiya commented on #4557
No, unfortunately icon modularity got pushed to v5: https://github.com/palantir/blueprint/wiki/Blueprint-5.0

[2022-05-02 23:07] adidahiya opened #5279 "EditableText disabled with intent has interactive styles"
#### Environment

- __Package version(s)__: core 4.2.x

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)):

#### Steps to reproduce

Render `<EditableText disabled={true} intent="primary" />`

#### Actual behavior

![2022-05-02 19 06 12](https://user-images.githubusercontent.com/723999/166340409-56408e8c-cb60-479e-84f5-18bc1e94a

[2022-05-03 15:57] colmex commented on #4615
@adidahiya ran into the same issue.

@justinbhopper Workaround worked for me though! (i.e. rendering the array of Tab elements.

[2022-05-03 16:37] adidahiya commented on #5279
There are a few more issues:

### 1. placeholder text color doesn't match intent color while editing

<img width="313" alt="image" src="https://user-images.githubusercontent.com/723999/166499125-e07d3d48-6065-4c66-bac8-f39adc876c90.png">

### 2. placeholder text color doesn't match intent color when `alwaysRenderInput={true}`

<img width="708" alt="image" src="https://user-images.githubusercontent

[2022-05-03 16:43] #5279 closed, assigned to nobody

[2022-05-04 14:51] #5193 closed, assigned to nobody

[2022-05-04 14:51] #5253 closed, assigned to nobody

[2022-05-04 15:05] adidahiya commented on #5197
Actually, I misspoke earlier. The generated component modules are _replacing_ the path strings; they are not in addition to the path strings. The `<Icon icon="..." />` API loads those generated component modules on-demand.

[2022-05-04 16:17] N1kto opened #5285 "Table2 cells don't get re-rendered when renderer's dependencies change"
#### Environment

- __Package version(s)__: "@blueprintjs/table": "4.1.2",  "4.1.4"
- __Operating System__: Ubuntu 20.04
- __Browser name and version__: Chromium Version 101.0.4951.41 (64 bit), Firefox 101.0a1 (2022-05-02) (64 bit)

#### Code Sandbox

[Link](https://codesandbox.io/s/blueprint-sandbox-forked-2lxlgt?file=/src/index.tsx) to a minimal repro;

#### Steps to reproduce

1. Check any chec

[2022-05-04 16:40] #5200 closed, assigned to nobody

[2022-05-04 17:24] adidahiya commented on #5285
@N1kto I believe this should be fixed with https://github.com/palantir/blueprint/pull/5284 and use of the `cellRendererDependencies` prop. I've backported that fix to @blueprintjs/table@4.1.5, please try that out and let me know if it fixes the issue.

[2022-05-04 18:06] N1kto commented on #5285
@adidahiya thanks a lot for quick reply. The proposed solution indeed has fixed the issue :)

I've noticed `cellRendererDependencies` prop in the sources of 4.1.2 (it was mentioned that it was experimental feature there), even tried using it, but it didn't fix the problem. Though it works well on 4.1.5.

[2022-05-04 18:06] #5285 closed, assigned to nobody

[2022-05-04 18:17] maclockard commented on #5197
ah gotcha, makes sense!

[2022-05-04 18:17] #5197 closed, assigned to nobody

[2022-05-05 13:41] #5072 closed, assigned to adidahiya

[2022-05-09 12:25] colmex commented on #2185
This would be super handy too. Feels like mirroring some of the `InputGroup` props in `editableText` would make sense. `rightElement` and `leftElement` at least.

[2022-05-09 13:56] adidahiya opened #5289 "ButtonGroup inside Label hover state styling bug"
#### Environment

- __Package version(s)__: core v4.3.0
- __Operating System__: macOS
- __Browser name and version__: Chrome

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-forked-ge4jfc?file=/src/CoreExample.tsx

#### Steps to reproduce

1. Hover over label text

#### Actual behavior

![2022-05-09 09 53 34](https://user-images.githubusercontent.com/723999/167426072-35de09ba-b678-43

[2022-05-09 15:50] adidahiya commented on #5289
This also applies to Label > Select > Button (and probably all Label > Button). It's confusing because clicking on the label text doesn't actually activate the button:
![2022-05-09 11 49 21](https://user-images.githubusercontent.com/723999/167448177-9adb807a-474e-4081-8d1f-606050be94a6.gif)

[2022-05-09 15:52] adidahiya commented on #5289
It looks like this issue was present in [Blueprint v3](https://blueprintjs.com/docs/versions/3/) too, and we haven't gotten any complaints of it yet. Therefore, i'm downgrading this to P3.

[2022-05-09 22:40] saruman1234 opened #5292 "[NonIdealState] `Spinner` is not visible when used as a `NonIdealState` icon"
#### Environment

- __Package version(s)__: @blueprintjs/core@4.3.0

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-forked-z3nnje

#### Steps to reproduce

I find it is common to combine `NonIdealState` and `Spinner` to create a loading state.

[code]

#### Actual behavior

The recent changes for muted `NonIdealState` icons in #5278 also affect `Spinner` when used as the icon.

The

[2022-05-09 22:49] saruman1234 opened #5293 "[NonIdealState] `.bp4-non-ideal-state-text` is still rendered when `title` and `description` are omitted"
#### Environment

- __Package version(s)__: @blueprintjs/core@4.3.0

#### Steps to reproduce

This component:

[code]

Produces this HTML:

[code]

#### Actual behavior

The `<div class="bp4-non-ideal-state-text"></div>` is rendered to the DOM even when no `title` or `description` prop is provided to `NonIdealState`.

#### Expected behavior

I would expect the `<div class="bp4-non-ideal-state-text

[2022-05-09 23:09] saruman1234 opened #5294 "[FormGroup] Using both `inline` and `subLabel` props produce misaligned `subLabel`s"
#### Environment

- __Package version(s)__: `@blueprintjs/core 4.3.0`

#### Steps to reproduce

1. Use a `FormGroup` with both `inline` and `subLabel` props.

[code]

#### Actual behavior

Screenshot from the docs example page:

![image](https://user-images.githubusercontent.com/56399322/167512439-7c812f41-fb61-4040-8b76-84d036faacd5.png)

#### Expected behavior

The `subLabel` appears aligned wit

[2022-05-09 23:22] saruman1234 commented on #5041
I submitted two very similar issues back in August 2021 (one bug, one feature request). Perhaps all three can be addressed together?

- #4871
- #4872

[2022-05-10 12:59] adidahiya commented on #5292
Good catch! I'll fix this ASAP.

[2022-05-10 14:03] adidahiya opened #5295 "[node-build-scripts] es-lint path logic is broken"
similar to https://github.com/palantir/blueprint/issues/4942

#### Environment

- __Package version(s)__: node-build-scripts v2.0.x

#### Steps to reproduce

use `es-lint` script outside this repo, in CircleCI where `JUNIT_REPORT_PATH` variable is present in the environment

#### Actual behavior

the utility function `junitReportPath()` returns a path within `node_modules/reports/`, which is wrong

[2022-05-10 16:46] adidahiya opened #5296 "[webpack-build-scripts] asset file name generator is missing query delimiter"
#### Environment

- __Package version(s)__: @blueprintjs/webpack-build-scripts v3.2.1
- Browser: Chrome

#### Actual behavior

When using webpack-build-scripts' base config outside this repo, asset files like SVGs are being generated in the bundle with paths like `assets/logo-black.svgccef1ff6a39afed7ae4a`, which prevent browsers like Chrome from interpreting them according to their file extension

[2022-05-11 02:34] dlech commented on #4759
Is there not a package that includes these? Manually copying them seems a bit tedious.

[2022-05-11 15:27] dlech commented on #4759
Or maybe we could eliminate the `svg-icon` function and use the font icons instead?

[2022-05-11 16:22] dlech opened #5297 "Unable to override default colors (e.g. `$blue2`) with node-sass or dart-sass in v4"
After upgrade to v4 I am unable to override default colors (e.g. `$blue2`), even using `node-sass`. Has anything changed from v3 which would impact this?

_Originally posted by @dylangrandmont in https://github.com/palantir/blueprint/issues/4759#issuecomment-1080979948_

[2022-05-11 16:23] dlech commented on #5297
I'm seeing the same issue as well. In my case, it seems related to the dart-sass migration.

[2022-05-11 16:54] dlech commented on #5297
I think we need to change to the `@use` syntax described in https://sass-lang.com/documentation/variables#configuring-modules.

[2022-05-11 17:01] dlech commented on #5297
The answer to this question is https://github.com/palantir/blueprint/issues/4032#issuecomment-1086175879

[2022-05-11 17:54] dlech commented on #4032
I started https://github.com/palantir/blueprint/issues/5297 to discuss this.

[2022-05-11 19:32] dlech commented on #5297
I was able to use this with partial success:

[code]

It successfully changes the font sizes, but not the colors.

[2022-05-12 05:27] aikoven commented on #5212
I've been able to work this around by replacing this:

[code]

with this:

[code]

and manually adding DOM element to the body:

[code]

[2022-05-12 17:34] #5292 closed, assigned to adidahiya

[2022-05-12 17:34] #5293 closed, assigned to adidahiya

[2022-05-16 22:27] ysalo commented on #5276
Facing the same issue with Blueprint v 4.3.0

[2022-05-17 14:23] adidahiya commented on #5276
Duplicate of #5274... we have some issues with the file paths generated in CSS source maps in recent releases

[2022-05-17 14:23] #5276 closed, assigned to nobody

[2022-05-17 19:42] FalMcG opened #5308 "Add "Done" button to date range input"
#### Feature request

**UX Challenge:** When the [date range input](https://blueprintjs.com/docs/#datetime/daterangeinput) is set to "enable time picker" and "close on selection," users don't have the ability to set times at the bottom of the picker window while they're still working in the window because it closes once a date is selected. They have to click into the date range input again to open

[2022-05-19 15:19] dantmnf opened #5312 "Card border behavior differs on light/dark theme"
#### Environment

- __Package version(s)__: 4.3.2
- __Operating System__: Windows
- __Browser name and version__: Chrome 101.0.4951.67

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprint-sandbox-forked-v3oeit?file=/src/index.tsx

#### Steps to reproduce

1. create a light card and a dark card w

[2022-05-23 14:58] ptgamr opened #5313 "[React 18] `ResizeSensor` cannot be used as a JSX component"
#### Environment

- __Package version(s)__: 4.3.2

#### Steps to reproduce

1. Upgrade to React 18 & its `@types/react` packages
1. Got this TS error related to `ResizeSensor`

[code]

#### Possible solution

Looking at the return type of `render()` method inside `resizeSensor.d.ts`, looks like the new type of React 18 no longer consider `{}` as a valid `ReactNode`

![Screen Shot 2022-05-24 at 2 5

[2022-05-24 00:51] ptgamr commented on #5313
I would love to help if possible, @adidahiya would you be able to point me how those types got generated ?

[2022-05-24 04:03] ptgamr opened #5315 "[React 18] `Toaster.create()` still using ReactDOM.render"
#### Environment

- __Package version(s)__: 4.3.2
- React: 18.1.0

#### Steps to reproduce

[code]

#### Actual behavior

Got an error

[code]

#### Possible solution

`Toaster.create` still using `ReactDOM.render` https://github.com/palantir/blueprint/blob/develop/packages/core/src/components/toast/toaster.tsx#L133

We can perhaps fix it by using `createRoot`, but `root.render()` is just a void f

[2022-05-24 06:52] bvandrc opened #5317 "Spinner item does not take other props"
#### Environment

- __Package version(s)__: 4.3.2
- __Operating System__: Windows 10
- __Browser name and version__: Chrome / All

#### Steps to reproduce

Trying to pass other props to the `Spinner` item, and they don't take effect. Specifically, trying to add `aria-label` to the `Spinner` item, and that prop is not being implemented.

#### Expected behavior

Ability to pass various other props t

[2022-05-24 06:56] bvandrc commented on #5317
This is essential for accessibility given the `aria-progressbar-name` rule: https://accessibilityinsights.io/info-examples/web/aria-progressbar-name/ .

So since `Spinner` automatically has `role="progressbar"`, and `"progressbar"` needs `aria-label` or `aria-labelledby`, and you can't pass either of these to `Spinner`, there's no way to get it to pass a11y rules.

[2022-05-24 12:54] meisuTJU opened #5319 "官网的文档示例就不能支持直接在页面展示源码么，还非要点进github看源码？真的够累的..."
#### Environment

- __Package version(s)__:
- __Browser and OS versions__:

#### Question

[2022-05-24 14:04] adidahiya commented on #5319
I google translated this as:

Right now I find it sufficient that we just link to github source code rather than embed it directly. Is there any problem with that approach? Can you not access github.com?

[2022-05-24 14:06] adidahiya commented on #5317
1. I'm all for a11y markup; we should add the required markup attributes to Spinner by default
2. I would also support spreading arbitrary HTML attrs to Spinner, open to a PR for that

[2022-05-24 14:09] adidahiya commented on #3024
This is no longer the case, seems to be fixed in the docs: https://blueprintjs.com/docs/#core/components/tag-input

[2022-05-24 14:09] #3024 closed

[2022-05-24 15:06] bvandrc commented on #5317
@adidahiya would you like me to contribute the PR?

Also regarding #1, what do you mean by this? I'm not sure we could have a default `aria-label` for `Spinner`, as a dev would always want to set their own unique value, and would sometimes want to use `aria-labelledby` instead of `aria-label`

[2022-05-24 15:14] bvandrc opened #5320 "Need ability to modify the li props in a MenuItem in order to create a proper a11y menu"
#### Environment

- __Package version(s)__: 4.3.2
- __Browser and OS versions__: All

#### Feature request

Need a way to pass props to `MenuItem` that get assigned to the `li` element rather than being applied to the inner `a` element. Per the a11y menu example here: https://w3c.github.io/aria-practices/examples/menubar/menubar-navigation.html , I need to be able to set `<li role="none">`. The re

[2022-05-24 15:15] bvandrc commented on #5320
Also, per the a11y menu example, I would also think that `MenuItem` should have `role="menuitem"` and `Menu` should have `role="menu"` by default, but this is more of a recommendation, as I can currently manually pass these props to these items to have them take effect-- so this isn't necessarily a problem, only a reccomendation

[2022-05-24 15:54] adidahiya commented on #5317
Ah ok, right, you'd want to set a custom `aria-labelledby` or `aria-label`. I was more so suggesting that we should add the suggested a11y markup attrs out of the box, if there are any we are missing which we can set statically. If there are no more we can do out of the box, that makes sense.

Yes I would be happy to review a PR from you which adds support for arbitrary attributes on the Spinner e

[2022-05-24 15:57] adidahiya commented on #5320
Should we set `<li role="none">` always for MenuItem? From the example you linked, it seems like the answer is yes. And in addition, we should render `<a role="menuitem">`. But I'm just a little confused by this language, I'm not sure what "required list context" means:

[2022-05-24 16:01] bvandrc commented on #5320
To answer your question, when you set `<ul role="menubar">` or  `<ul role="menu">`  , to a11y, the `ul` now serves as a different role than just the standard `ul`, so you can't just have regular `li` elements within it, because it sees those `li` items as not being within a `ul` or `ol`, since the `ul` has changed role. So the way to solve this is setting `<li role="none">` so that the `li` items,

[2022-05-24 16:39] bvandrc commented on #5320
I would say yes, that's what a11y is expecting. But if we do that we should maybe also have `Menu` have `role="menu"` by default with the option to set `role="menubar"` as well?

Then again, another solution of this would be to just add a `liRole` prop alongside `liClasses` in `MenuItem`. It depends on how much you want to include correct a11y roles in the blueprint elements by default-- that woul

[2022-05-24 16:47] bvandrc commented on #5317
@adidahiya see my PR-- I didn't change the types, I just did it like how other elements that have both `tagName` and `htmlProps` do it

[2022-05-25 02:41] asyncjason commented on #2932
Is there a solution to this if remounting is not the best option?

[2022-05-25 03:53] meisuTJU commented on #5319
I can access github.com, but I hope to be able to view the source code directly under the component like antdesign( https://ant.design/components/button/ ), which will be very convenient.

[2022-05-25 09:05] puthrayaharness commented on #5250
I am seeing something similar. -

[code]

Not sure how I can fix this error.

[2022-05-25 13:35] adidahiya commented on #5250
@puthrayaharness can you please file a new issue? it should be possible to create a code sandbox repro for that kind of compile error.

[2022-05-25 13:36] adidahiya commented on #5319
Sorry, that's not a documentation feature I'm interested in building right now, as the alternative solution of navigating to the github.com source code is sufficient. I don't think it's worth the additional complexity of embedding source code.

[2022-05-25 13:36] #5319 closed, assigned to nobody

[2022-05-25 13:43] adidahiya commented on #2932
@jseparovic have you tried Table2? If this is still a bug, please open a new issue, thanks.

[2022-05-25 13:43] adidahiya commented on #5315
duplicate of https://github.com/palantir/blueprint/issues/5212

[2022-05-25 13:43] #5315 closed, assigned to nobody

[2022-05-25 13:47] adidahiya commented on #5313
That return type seems to be generated by this line, where `React.Child.only()` apparently has an incompatibility between `@types/react` v16 <> v18:

https://github.com/palantir/blueprint/blob/85dab97343d3780d5180afe86739d0aee0236e62/packages/core/src/components/resize-sensor/resizeSensor.tsx#L67

I think you can work around it by manually annotating the return type of that `render()` function wit

[2022-05-25 14:06] adidahiya commented on #5317
Ah, that's right, I forgot that `aria-` props are [built-in to JSX for React](https://reactjs.org/docs/accessibility.html). That makes it easier to add this feature.

[2022-05-25 14:58] #5317 closed, assigned to nobody

[2022-05-25 15:17] bvandrc opened #5323 "For a11y, need ability to pass different component than H4 for nonIdealState title, callout title"
#### Environment

- __Package version(s)__: 4.3.2
- __Browser and OS versions__: All

#### Feature request

By default, `nonIdealState` and `callout` each make their title an `H4`, and this is not configurable. We need an option to set this to a different component ie `H2`, `div`, `span` (and set custom props for this component as well). Per aXe a11y rules, a page must have descending header level

[2022-05-25 15:31] bvandrc opened #5324 "add role="alert" to toast messages for better a11y"
#### Environment

- __Package version(s)__: 4.3.2
- __Browser and OS versions__: All

#### Feature request

add `role="alert"` to toast messages for a11y purposes.

[2022-05-25 18:37] bvandrc commented on #5320
created a PR for this

[2022-05-25 22:41] bvandrc commented on #5323
I see now that  `Callout` has a workaround: a user can just pass say, `<div>title string</div>` as the children instead of using `title` if they don't want an `H4` around the title-- `nonIdealState` still has no way to do this though.

[2022-05-25 22:55] bvandrc commented on #5323
Would advise looking at other usages of header tags as well, as users may not necessarily want them to be header tags (for a11y, or other reasons)-- would probably be better to just use `div` and set the style and classes to be the same as what the header tag previously displayed.

[2022-05-26 05:46] bossa-jpg opened #5327 "Some components ignore a data-* attributes"
#### Environment

- __Package version(s)__: blueprintjs/core@4.3.0, blueprintjs/datetime@4.2.0
- __Operating System__: macos
- __Browser name and version__: chrome 101.0.4951.64

#### Code Sandbox
I found this problem for `<Alert>`, `<TimePicker>` and `<NonIdealState>` components

Link to a minimal repro: https://codesandbox.io/s/blueprint-sandbox-forked-6drvc0?file=/src/index.tsx

#### Steps to r

[2022-05-26 13:23] adidahiya commented on #5327
Duplicate of #3763, please comment there with the components you wish to use `data-*` attributes with.

[2022-05-26 13:23] #5327 closed, assigned to nobody

[2022-05-26 13:31] #5324 closed, assigned to nobody

[2022-05-26 13:43] adidahiya commented on #3763
Btw we fixed this for Spinner in https://github.com/palantir/blueprint/pull/5321

[2022-05-26 13:48] adidahiya commented on #5323
I hear the request here, and in general I do want to follow a11y rules. How important are these descending header element rules though, really? I don't necessarily want to follow them blindly if they provide no benefit.

If we let users put an `<h2>` in there, Blueprint is still going to style it as an `<h4>` or whatever. So it kind of starts to lose its semantic meaning as an `<h2>`. I don't want

[2022-05-26 16:43] ash211 opened #5328 "Support Mac-style drag+release in Select package"
#### Environment

- __Package version(s)__: 4.2.0 Select
- __Browser and OS versions__: Chrome 101.0.4951.64, OS X 12.3.1

#### Feature request

Support Mac-style drag+release to change the selection in a Select component.

Expected behavior:
1. Hover over Select component
2. Press down on mouse (options list appears)
3. Drag down one item (hover state follows cursor)
4. Release to select (item is

[2022-05-26 18:25] adidahiya commented on #5328
Hmm, we could implement this FR, but it will require a bit of work. We'd have to reimplement some basic OS behavior in the React component.

Note that we do have an alternative to Select... [HTMLSelect](https://blueprintjs.com/docs/#core/components/html-select.css) delegates to the OS select menu behavior, but presents the button with Blueprint styling. This is recommended for simple use cases whe

[2022-05-26 21:54] #5320 closed, assigned to nobody

[2022-05-27 03:06] bossa-jpg commented on #3763
Please make it possible for `<TimePicker>` and `<NonIdealState>` components as well.

[2022-05-27 12:20] jayarjo commented on #5297
Any progress on this? Even potential maybe?

[2022-05-27 14:32] adidahiya commented on #5297
@jayarjo progress on what? What is your issue exactly?

@dlech one idea to change the colors... maybe try this:

[code]

or this:

[code]

[2022-05-27 16:20] #5273 closed, assigned to nobody

[2022-05-27 17:25] bvandrc commented on #5323
I'm not entirely sure what the actual impact of this is for screen readers-- We are running aXe a11y testing, which indicated this as a failure. It does indicate the _impact_ as "moderate", not "severe". Here is more info on the rule:

 https://dequeuniversity.com/rules/axe/4.4/heading-order?application=axeAPI

" be sure that you are using the heading markup (h1 through h6's) if and only if you ar

[2022-05-27 17:26] #2412 closed

[2022-05-27 17:27] #3455 closed

[2022-05-27 17:28] #3622 closed

[2022-05-27 17:31] adidahiya opened #5331 "HACKHACK: core/src/common/variables imports within monorepo"
There are a number of places where we import `@blueprintjs/core/src/common/variables`, which is not public API. We encourage everyone outside this repo to import `@blueprintjs/core/lib/scss/variables`, so we should do the same.

The reason we import from `core/src/` is that the `core/lib/scss/variables` file is not available until after the `dist` build stage, but often (and always from a clean, c

[2022-05-27 17:38] adidahiya commented on #5323
This may be a case where the heading order a11y rule is overly prescriptive and not helpful. Over my time working with a11y testing and audits I've come to realize that some of these rules are not very well-designed or applicable to modern web applications. Even seemingly reasonable standards like the WCAG color contrast requirements [have their faults](https://tangledweb.xyz/please-stop-using-gre

[2022-05-29 18:14] alex-c opened #5332 "Popover2 rendering bug on Firefox"
#### Environment

- __Package version(s)__: Core v4.4.0, Popover2 v1.3.0
- __Operating System__: Windows 10
- __Browser name and version__: Firefox 100.0.2 (64-bit)

#### Code Sandbox

This bug doesn't seem to appear in Code Sandbox!

I created a minimal repository to demonstrate the problem here: https://github.com/alex-c/render-bug It can also be observed in the `demo` subproject of this repo, w

[2022-05-29 18:22] alex-c commented on #5332
I thought at first that it was working fine on Chrome, but now noticed that the arrow is actually missing:

![image](https://user-images.githubusercontent.com/1643832/170885499-2b44c7e9-df05-47b0-be85-3a58830e23ae.png)

[2022-05-30 12:17] yshterev opened #5334 "svg-icon - (path: (fill: #5f6b7c)) isn't a valid CSS value"
Hello,

I am trying to build the sass in custom webpack setup. I get this error ☝️
It is reproducible in the example below 👇 using `create-react-app`

I think it has to do with the `@vgrid/sass-inline-svg` , but I don't have anything like this locally.
Is this even expected to work anymore?

#### Environment

- __Package version(s)__:  @blueprintjs/core - 4.4.0
- __Operating System__: Windows 10
-

[2022-05-31 15:07] bvandrc commented on #5323
Our team has agreed, we'll opt to ignore the rule. Can close this issue.

[2022-05-31 15:07] #5323 closed, assigned to nobody

[2022-05-31 16:12] bvandrc opened #5335 "need ability to pass custom props to the Menu created in the Menu popover of a MenuItem"
#### Environment

- __Package version(s)__: 4.3.2
- __Browser and OS versions__: All

#### Feature request

For A11y purposes, need ability to pass `aria-label` prop to the Menu that gets created in the Popover when a MenuItem is hovered over

[2022-06-01 09:55] LucasYver opened #5342 "[DateRangeInput] Input is blank when choosing date"
#### Environment

Package version(s): @blueprintjs/core 3.49.1

#### Steps to reproduce

1. Use this setup, with any `formatDate` and `parseDate`.

[code]

#### Actual behavior

https://user-images.githubusercontent.com/16732818/171377494-7dad2f8c-44e7-4a45-8dac-2576166ff356.mov

#### Expected behavior

The `to` value should not be blank on date click.

#### Possible solution

To fix this issue i

[2022-06-01 12:17] adidahiya commented on #5332
Did you remember to import `"@blueprintjs/popover2/lib/css/blueprint-popover2.css"`?

[2022-06-01 12:21] adidahiya commented on #5334
You will have to include the Sass plugins Blueprint uses in order to re-compile its Sass source code. See more discussion about this in https://github.com/palantir/blueprint/issues/5297 and my comment here https://github.com/palantir/blueprint/issues/4032#issuecomment-1086175879.

[2022-06-01 13:02] adidahiya commented on #5342
Is it possible to reproduce this in a code sandbox? Also please include the version of @blueprintjs/datetime you are using, as the core package version is insufficient. Lastly, please try upgrading to the latest Blueprint, as you are many versions behind.

[2022-06-02 14:36] #5264 closed, assigned to nobody

[2022-06-02 15:11] adidahiya opened #5345 "MultistepDialog dark theme styling bugs"
MultistepDialog styles did not get properly updated in Blueprint 4.3:

<img width="873" alt="image" src="https://user-images.githubusercontent.com/723999/171661609-ff1e1b1f-b68f-441b-b010-db712840bf87.png">

[2022-06-02 15:16] #5335 closed, assigned to nobody

[2022-06-03 09:59] williamphan opened #5351 "`TEXT_MUTED` no longer works on heading components (and maybe other)"
This worked fine with v3 and v4 alpha/beta, looks like something broke after moving to full version of v4.

[code]

#### Environment

- __Package version(s)__: v4
- __Browser name and version__: Safari, Chrome

#### Actual behavior

`TEXT_MUTED` css is not applied, text color is black.

![image](https://user-images.githubusercontent.com/8607198/171832565-d4a31ee8-ff82-42de-a408-270bb1875fdb.png)

[2022-06-03 15:21] #5345 closed, assigned to adidahiya

[2022-06-03 17:05] bvandrc opened #5353 "Fill prop doesn't work on MultiSelect 2 (when coming from MultiSelect)"
#### Environment

- __Package version(s)__: 4.4.0
- __Operating System__: Windows
- __Browser name and version__: Chrome

#### Steps to reproduce

1. Can see this doesn't work by visiting MultiSelect2 example page https://blueprintjs.com/docs/#select/multi-select2 . "Fill container width" does not work

#### Actual behavior

MultiSelect2 `fill` prop doesn't work.

#### Expected behavior

MultiSele

[2022-06-03 18:45] #2018 closed

[2022-06-03 19:47] adidahiya commented on #5353
Looks like Select2 and Suggest2 also have this problem:

<img width="896" alt="image" src="https://user-images.githubusercontent.com/723999/171939472-2176ba62-0bda-46d8-be6b-c8a6b563bc55.png">

<img width="794" alt="image" src="https://user-images.githubusercontent.com/723999/171939487-297ba05c-117e-4ce2-86a6-12a8cb7c409c.png">

[2022-06-03 20:34] adidahiya commented on #5353
Fixed in https://github.com/palantir/blueprint/pull/5354, and I also improved the examples for each of these so we can test the props

[2022-06-06 22:07] #5353 closed, assigned to adidahiya

[2022-06-07 12:40] LoiKos opened #5359 "Typings on PanelStack2 are not working as explain in documentation"
#### Environment

- __Package version(s)__: core 4.4.1
- __Operating System__:  MacOS Monterrey 12.3.1
- __Browser name and version__: Chrome Version 102.0.5005.61

#### Code Sandbox

(https://codesandbox.io/s/spring-sun-vomre1?file=/src/App.tsx)

#### Steps to reproduce

1. Create a component and add a `PanelStack2`
2. Add a custom panel component with his own typing props (e.g: ComponentType) us

[2022-06-07 13:54] LoiKos commented on #5359
After reading `object` [ts reference](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-2.html#object-type) it might not be what you want to use here. Maybe
[code]
or
[code]
 are more appropriate for this.

[2022-06-07 13:58] #5135 closed, assigned to nobody

[2022-06-07 14:45] alex-c commented on #5332
Hello, I did indeed forget to import the stylesheet... thanks and sorry to have bothered you with this!

[2022-06-07 14:45] #5332 closed, assigned to nobody

[2022-06-07 18:42] switz commented on #3979
I'm still seeing this when using OverflowList in `"@blueprintjs/core": "^4.3.2",`

[code]

[2022-06-07 20:00] PurkkaKoodari commented on #5313
The difference seems to be that React 18 specifies `ReactFragment = Iterable<ReactNode>`, while React 16 specifies `{} | ReactNodeArray`. The definition of `only` further drops the array, leading to a declared type that is an union of what's left of `ReactNode`. That then breaks when the new `@types/react` doesn't allow `{}`.

Submitting a PR in a moment to fix this + another React 18 issue I noti

[2022-06-08 13:14] adidahiya commented on #3979
Yep, I'm aware that Blueprint v4 still has incompatibilities with React strict mode. I'm hoping to get this resolved in the next 6-8 weeks, once I've made more progress on the Popover2 migration work.

[2022-06-08 13:20] #5313 closed, assigned to nobody

[2022-06-08 14:42] alex-c commented on #5051
Any update on this? Adding a button as `leftIcon` works fine, but wrapping it in a `Popover2` breaks the layout:

![image](https://user-images.githubusercontent.com/1643832/172645190-c594c1aa-7245-42f5-957b-5a89e2096e55.png)

[2022-06-08 15:18] adidahiya commented on #5051
I don't quite have the bandwidth to work on this right now, but would happily take a PR. These examples of wanting to rendering a Tag or Button (optionally wrapped in a Popover2) on the left seem reasonable, and Blueprint should support this kind of layout.

[2022-06-08 20:11] adidahiya opened #5364 "HACKHACK: skipped tests for Select2 onItemSelect callback"
This callback wasn't tested when we initially created the Select2 component recently. It's turning out to be a little difficult to test. Filing this issue so we remember to come back and un-skip these related unit tests.

[2022-06-09 18:49] #4566 closed, assigned to nobody

[2022-06-09 19:58] taha1ahmed commented on #5139
Hi @adidahiya, the link you've shared above says

Is there any visibility how soon we'll be able to actually start using v5.0.

[2022-06-13 19:51] alex-c commented on #4221
I had this same problem and @alex1221's suggestion helped, but later the build fails with:

[code]

[2022-06-14 08:59] yshterev commented on #5334
@adidahiya Thanks for the answer! Still I have not managed to figure out a way around this issue.

As I understand, If I can't build imported sass files I can't use the sass variables to customize components.
From what I know CSS vars are not supported.

For this to work `@vgrid/sass-inline-svg` should be part of my app build and I should also have the icon files locally, however I can't seem to f

[2022-06-14 15:37] LoiKos commented on #5359
Here another example using basic `stack`property : https://codesandbox.io/s/distracted-vaughan-mxyyk6?file=/src/App.tsx

[2022-06-14 16:28] LoiKos commented on #5359
i have some doubt on the exact behaviour of the following type:

[code]
It may be an option to don't use this and to ask directly user to build type like :
[code]
What do you think ?

[2022-06-14 18:34] goldflag opened #5372 "Will there be a DateRangeInput2 now that there is a DateInput2?"
I know that `Datetime2` is still in it's early stages, but I am wondering if there will be a `DateRangeInput2` since currently there is just a `DateInput2` and `TimezoneSelect` (which is really great work).

[2022-06-14 18:55] adidahiya commented on #5372
Yes, I'm working on that this week.

[2022-06-14 19:32] rneogy opened #5373 "Control Group is not applying styles correctly to descendant inputs"
This is visible right on the documentation: https://blueprintjs.com/docs/#core/components/control-group

![image](https://user-images.githubusercontent.com/10761674/173673266-7e2dfc54-d6c9-48bd-a917-09a1144bfe13.png)

You can see how it is supposed to look like on the v3 documentation:

![image](https://user-images.githubusercontent.com/10761674/173673354-f9a03f56-c8e2-494f-8687-3df43770e264.png)

[2022-06-14 19:39] jakejrichards opened #5374 "Select's matchTargetWidth prop breaks in v4.4.0"
#### Environment

- __Package version(s)__: @blueprint/select@4.4.0
- __Operating System__: MacOS
- __Browser name and version__: Chrome 102.0.5005.115

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprint-sandbox-forked-5cuowz

#### Steps to reproduce

1. Upgrade @blueprint/select to `4.4.0`
1.

[2022-06-15 12:07] LoiKos opened #5378 "Cannot build blueprint under Node 18"
#### Environment

- __Package version(s)__:
   - @blueprintjs/core 4.5.0
   - @blueprintjs/datetime 4.3.0
   - @blueprintjs/datetime2 0.1.0
   - @blueprintjs/popover2 1.4.0
   - @blueprintjs/select 4.4.0
- __Operating System__: macOS Monterey 12.4
- __Browser name and version__: Node 18+

#### Steps to reproduce

1. Clone blueprint/js depo
2. install nodeJS with homebrew ( default package `node` i

[2022-06-15 12:35] LoiKos opened #5379 "`yarn verify` return an error"
#### Environment

- Package version(s):
@blueprintjs/core 4.5.0
@blueprintjs/datetime 4.3.0
@blueprintjs/datetime2 0.1.0
@blueprintjs/popover2 1.4.0
@blueprintjs/select 4.4.0
- Operating System: macOS Monterey 12.4
- Browser name and version: Node 14

#### Steps to reproduce

1. Clone blueprint repo
1. run `yarn`
1. run `yarn verify`

#### Actual behavior

[code]

#### Expected behavior

`yarn ver

[2022-06-15 13:19] adidahiya commented on #5378
It works with Node 16. You'll see that's the recommended version in our [`.nvmrc` file](https://github.com/palantir/blueprint/blob/develop/.nvmrc). I recommend you install nvm and run `nvm use` in your terminal whenever you enter the Blueprint repo.

Open to PRs to fix Node 18 compatibility.

[2022-06-15 13:25] adidahiya commented on #5373
This was an intentional change made to ControlGroup in Blueprint v4.0, see [this wiki page](https://github.com/palantir/blueprint/wiki/Blueprint-4.0#control-group-borders).

Looks like we need to update the documentation for ControlGroup, though, as it still references the old visual style:

I'll make that documentation fix.

[2022-06-15 13:53] adidahiya commented on #5374
Confirmed this is a regression.

Works with these versions:

<img width="707" alt="Screen Shot 2022-06-15 at 9 47 53 AM" src="https://user-images.githubusercontent.com/723999/173844410-1f90860f-cd1e-493a-856c-cdceb9da2003.png">

Broken here:

<img width="896" alt="Screen Shot 2022-06-15 at 9 52 41 AM" src="https://user-images.githubusercontent.com/723999/173844447-9dd16110-2874-4c2e-b55c-8a66ddfb1

[2022-06-15 13:53] rneogy commented on #5373
Ah okay, good to know. Thanks!

[2022-06-15 13:55] adidahiya commented on #5374
Likely caused by this line change: https://github.com/palantir/blueprint/pull/5354/files#diff-3827f9b47467f2b80a99f4a695b78efe9e05bc87191267ec14e3a5c1a3a50c52L7-L15

[2022-06-15 14:44] adidahiya commented on #5379
1. can you try with the Node 16 version recommended in our `.nvmrc` file?
2. is this error consistently reproducible? it looks like a testing timeout which can vary from machine to machine depending on available resources.
3. it's usually best to run `yarn test` or `yarn lint` or `yarn verify` in each individual package, rather than at the root. I recommend doing this for any non-beginner develope

[2022-06-15 14:50] LoiKos commented on #5379
i'll retry with a fresh install and node@16 when i get some times. During my tests i reproduce it consistently bug i only test with one machine. So maybe it's related to my machine.

Ok for 3. that what i do at the end but i start by follow the Contribution Guide that said to run `yarn verify`. I get no error with command in individual package.

[2022-06-15 15:32] adidahiya commented on #4569
We're dropping IE11 support in Blueprint v5, so this will not be fixed.

[2022-06-15 15:32] #4569 closed, assigned to nobody

[2022-06-15 15:35] adidahiya commented on #5379
Ok, I've updated the [Development practices wiki page](https://github.com/palantir/blueprint/wiki/Development-practices) to reflect my advice.

[2022-06-15 15:35] #5379 closed, assigned to nobody

[2022-06-15 18:49] #5374 closed, assigned to adidahiya

[2022-06-15 20:13] #5373 closed, assigned to adidahiya

[2022-06-16 13:11] ZeRego opened #5384 "[MultiSelect2] allow to create multiple items"
#### Environment

- __Package version(s)__:  4.2.0
- __Browser and OS versions__:

#### Feature request

Multi select should allow the same behaviour we have in the tag input component where we can create multiple values at once.
Multi select doesn't need to implement the same behaviour, it just needs to support creating multiple items at once.

Existing typing
[code]
Proposed typing
[code]

####

[2022-06-16 14:41] adidahiya commented on #5384
sounds like a good feature request. accepting PRs ✅

[2022-06-16 15:06] mattobee commented on #3959
Anyone aware of any progress with this? I'm about to port a Blueprint project from Sketch to Figma. Checking I'm not missing an existing resource before I start from scratch.

[2022-06-16 18:21] adidahiya commented on #3959
We have a Figma library with most of the components ported over from Sketch. We're hoping to open source that in the next few months!

[2022-06-16 20:15] #5051 closed, assigned to nobody

[2022-06-17 09:39] alex-c commented on #4221
By the way, I managed to fix the original problem by checking out the repo again with `autocrlf` set to false in my git client.

[2022-06-17 14:18] ZeRego opened #5387 "Components typing not compatible with styled components"
#### Environment

- __Package version(s)__: 4.5.1
- __Operating System__:
- __Browser name and version__:

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)):

#### Steps to reproduce

[code]

#### Actual behavior

[code]

![Screenshot 2022-06-17 at 15 06 33](https://user-images.githubusercontent.com/9117144/174316426-0b423c0c-7e

[2022-06-17 14:24] adidahiya commented on #4973
Related threads: https://github.com/palantir/blueprint/issues/5160#issuecomment-1061048529, https://github.com/palantir/blueprint/issues/131#issuecomment-1050221171.

I think this may be a problem with your bundler; it should support conditional imports.

This problem may go away with Blueprint v5, when we drop IE11 support and therefore may no longer need dom4 at all.

[2022-06-17 14:27] #3792 closed

[2022-06-17 14:46] adidahiya commented on #5387
Ok. This feels like a weird quirk of HOCs like `styled`. Seems like there is no way for Blueprint components to enforce required `children` if we have to support this kind of usage. I'm open to making `children` optional again, though, if it improves the dev experience in this case.

[2022-06-17 14:50] ZeRego opened #5388 "[DateInput2] Doesn't have styling"
#### Environment

- __Package version(s)__:  "@blueprintjs/core": "^4.5.1", "@blueprintjs/datetime2": "^0.2.0",
- __Operating System__:
- __Browser name and version__:

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)):

https://codesandbox.io/s/blueprint-dateinput2-css-bug-e8wo81?file=/src/index.js

#### Steps to reproduce

Imp

[2022-06-17 15:07] adidahiya commented on #5388
Just pull in `@blueprintjs/datetime/lib/css/blueprint-datetime.css` for now. They will be collapsed into a single file in Blueprint v5, but this is the approach we're taking for now, since we don't want to duplicate the DatePicker/DateRangePicker code in datetime2.

[2022-06-17 15:18] adidahiya opened #5389 "Interfaces which references cross-package types do not get rendered correctly in documentation"
#### Environment

- __Package version(s)__: docs-app v4.5.1

#### Steps to reproduce

Go to https://blueprintjs.com/docs/#datetime2/date-input2.props-interface

#### Actual behavior

<img width="842" alt="image" src="https://user-images.githubusercontent.com/723999/174327596-af01cc2b-55f0-41ab-8d51-be7c2e45535c.png">

Properties from `{ DateInputProps } from "@blueprintjs/datetime"` are missing he

[2022-06-17 17:26] riwu commented on #607
@cmslewis are item 3&4 completed? If not, why was this closed?

[2022-06-17 17:27] riwu commented on #4424
@adidahiya it seems like the bug reported by @lwouis hasn't been fixed?

[2022-06-18 08:23] Grmiade opened #5392 "@blueprintjs/popover2 should declare react-dom as peerDependency"
#### Environment

- __Package version(s)__: @blueprintjs/select@4.4.1 & @blueprintjs/popover2@1.4.1

#### Actual behavior

When we use `@blueprintjs/select@4.4.1` with PnP and the new `@blueprintjs/popover2` dependency, we have this error:

[code]

#### Expected behavior

We should not have errors.

#### Possible solution

TLDR; `@blueprintjs/popover2` needs `@blueprintjs/core` which has `react-do

[2022-06-20 09:19] ZeRego opened #5393 "[Datetime2] timezone select shows when timePrecision property is defined"
#### Environment

- __Package version(s)__:  "@blueprintjs/core": "4.3.0",  "@blueprintjs/datetime2": "0.2.0",
- __Operating System__:
- __Browser name and version__:

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)):

https://codesandbox.io/s/blueprint-datetime2-timezone-bug-42m4kj?file=/src/DatetimeExample.tsx

[code]

#### S

[2022-06-20 09:34] ZeRego commented on #5388
@adidahiya makes sense 👍 is there a v5 roadmap somewhere and how many active/core maintainers are there ?

[2022-06-20 15:18] adidahiya commented on #5393
This is intentional. Setting `timePrecision` to anything other than `undefined` will show the TimezoneSelect. If you want to hide it, use `showTimezoneSelect={false}`.

[2022-06-20 15:19] #5393 closed, assigned to nobody

[2022-06-20 15:20] adidahiya commented on #5388
https://github.com/palantir/blueprint/milestone/44 is the rough v5 roadmap but it needs to be cleaned up a bit... there's also a list of planned changes on the wiki here https://github.com/palantir/blueprint/wiki/Blueprint-5.0. Right now I'm the only active core maintainer.

[2022-06-20 15:20] #5388 closed, assigned to nobody

[2022-06-20 15:30] #5392 closed, assigned to nobody

[2022-06-20 19:45] braeden opened #5395 "<Tag> Component text not centered when rendering single characters."
#### Environment

- __Package version(s)__: 4.3.0
- __Operating System__: MacOS
- __Browser name and version__: Chrome 102.0.5005.115

#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/s/blueprint-sandbox-forked-deqbyf?file=/src/index.tsx

<img width="104" alt="image" src="https://user-images.githubusercontent.com/5288805/174668658-01c69271-c2d1-4825-9b21-a5f5c43d1e2b.png">

####

[2022-06-21 18:13] ShiftedDesign commented on #4456
`style` props support would be especially helpful on `MultiSlider` with multiple `Handle`s.

I have an instance where I have a uncertain amount of handles, each representing a dynamic color value.
[code]
I'm currently working around the inability to add `style` to each handle by giving it a dynamic `id` and then in the wrapping container assigning a custom class using StyledComponents that then se

[2022-06-22 15:41] anik95 opened #5399 "Unable to use copy feature blueprint tables"
#### Environment
Windows 10
Node: 16.14.2
Npm: 8.5.0
Chrome

- __Package version(s)__:
      blueprintjs/core: "^4.5.1",
    blueprintjs/table: "^4.3.1"

I am trying to copy cells from my table using clipboard data. But I am getting an error. I have used the prop
getClipboardData={(row, col) => data[row][col]}

I tried consoling the output of the getClipboardData callback and I'm getting all the c

[2022-06-23 16:10] ash211 opened #5400 "Docs improvement: "folder" search term should return Tree component"
#### Feature request

Please provide a way for searching the blueprint docs for "folder" to return the Tree component.  Maybe there's a synonym or extra tag we can add to that component?  I had trouble finding the Tree component for a folder view, but luckily a coworker knew about this component and pointed me to it.

#### Examples

<img width="1152" alt="Screen Shot 2022-06-23 at 9 08 50 AM" src=

[2022-06-23 17:30] rneogy opened #5401 "Export helper functions from datetime package"
#### Environment

- __Package version(s)__: @blueprintjs/datetime@4.3.1
- __Browser and OS versions__: Any

#### Feature request

It would be helpful if all the helper functions in the datetime package were exported by the package.

One great feature about Blueprint is its composition of smaller, more-specific components into larger, more general ones, so that if users want to customize components

[2022-06-23 17:40] adidahiya commented on #5399
Do you have a repro of this available in a code sandbox? I can't repro it in the [table docs](https://blueprintjs.com/docs/#table/features).

Looking at the code, this error would happen if [`navigator.clipboard`](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/clipboard) is not available, but that API should be available in all the environments supported by Blueprint.

Does the error h

[2022-06-23 17:50] adidahiya commented on #4456
It's just extra code & maintenance to support arbitrary HTML attributes for every component. There will always be special considerations we have to take; it's usually not as simple as a one-line `{...this.props}` change. In this case, for example, we'd have to take care to merge `this.props.style` with the styles generated by `Handle#getStyleProperties()`. But if we think it's worth it for use-cas

[2022-06-23 18:35] adidahiya commented on #5401
Makes sense. I had a similar need to use some private helper functions in the new datetime2 package I've been working on. I actually have a PR open where I'm exporting `getFormattedDateString` from datetime as public API: https://github.com/palantir/blueprint/pull/5390/files#diff-eba6e954fcf32ebfd9d7ba9df926e77ca81c1c54ec2eef9c13b133169ace0a6fR24-R28

I don't want to export _everything_ as public

[2022-06-23 19:27] rneogy commented on #5401
It looks like you've basically addressed most of my use-case in that PR. The main things I needed were `getFormattedDateString`, `getDefaultMinDate`, and `getDefaultMaxDate`. The only other thing that would be nice to have would be `IDatePickerBaseProps`, as it's used in the implementations of `DateInput` and `DateRangeInput`. I actually see you renamed it to `DatePickerBaseProps` in the PR, which

[2022-06-23 19:28] rneogy commented on #5401
Unrelated, I'm very appreciative of the work you're doing maintaining this library and upgrading the datetime package! Excited to see how it progresses :)

[2022-06-23 20:34] silverwind opened #5402 "[DateInput2] `defaultValue` not accepted as string"
`DateInput2` takes `value` as string, but not a `defaultValue` (for uncontrolled usage), so the property is forwarded to `DateInput` which only accepts `Date` type values. Is it an oversight?

[2022-06-24 18:55] ShiftedDesign commented on #4456
That's awesome news, either solution would work for me whether it is adding the `style={...}` prop or making it not `throw new Error`.

The update is much appreciated!

[2022-06-25 03:06] #4304 closed, assigned to nobody

[2022-06-27 15:34] anik95 commented on #5399
No I have the clipboard permission. It works fine for my react app in localhost but not in the server. Do you think it is because I am using HTTP instead of HTTPS?

[2022-06-28 07:12] hxu-stripe opened #5403 "Row header truncates row numbers > 100"
#### Environment

- __Package version(s)__:

    "@blueprintjs/core": "^4.3.1",
    "@blueprintjs/select": "^4.2.1",
    "@blueprintjs/table": "^4.2.1",

- __Operating System__: Mac OS Monterey 12.3.1
- __Browser name and version__: Chrome Version 103.0.5060.53

#### Steps to reproduce

I was not actually able to reproduce this on Code Sandbox, so I suspect there are some CSS clashes, but row head

[2022-06-28 17:55] mkurom opened #5404 "How to use TagInput with react-hook-form"
#### Environment

- @blueprintjs/core: 4.1.0

- Browser: Chrome

- OS: macOS Monterey

#### Question

I am using BluePrint.
I have confirmed that FormGroup and InputGroup can work with register and validation of useForm in react-hook-form. (by name and inputRef properties).

However, TagInput does not have a name property and is not working with the hook-form.
Is there a way to do this?

[2022-06-28 20:19] riwu opened #5405 "Locale = English does not display comma separators"
https://blueprintjs.com/docs/#core/components/numeric-input
Typing "1000000" with locale set to English does not convert the display format to "1,000,000", contrary to
https://github.com/palantir/blueprint/blob/develop/packages/docs-app/src/examples/core-examples/common/locales.tsx#L20

[2022-06-28 22:11] michael-yx-wu commented on #4779
@adidahiya this can probably be closed. The error no longer reproduces in the sandbox in Safari or Chrome

[2022-06-30 05:04] anik95 commented on #5399
Could you please let me know if you need any other information regarding this issue? Thanks

[2022-07-01 06:23] silverwind commented on #2193
Did anyone figure out how to exclude all icons via vite and/or rollup?

[2022-07-01 10:14] vhellem opened #5408 "[DateInput2] Clearing value does not propagate to consumer"
#### Steps to reproduce

1. On a DateInput2 component, remove the value

#### Actual behavior

No `onChange` handler is called

#### Expected behavior

`onChange` handler is called with `null` value, like previous `DateInput`

#### Possible solution

[2022-07-01 16:36] mkurom commented on #5404
Resolved.

[2022-07-01 16:36] #5404 closed, assigned to nobody

[2022-07-03 16:35] GalvinGao opened #5411 "Initial location of `ContextMenu2` is misplaced when triggered inside a `Drawer`"
#### Environment

- __Package version(s)__: `@blueprintjs/core@4.5.1`, `@blueprintjs/popover2@1.4.1`
- __Operating System__: macOS Monterey 12.4, arm64
- __Browser name and version__: Chrome 103.0.5060.53

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)):
https://codesandbox.io/s/blueprintjs-contextmenu2-in-drawer-wrong-positio

[2022-07-05 09:31] LoiKos opened #5412 "[MultiSelect2 / TagInput] Deleting tags is performed in the wrong order after deleting"
#### Environment

- __Package version(s)__:  @blueprintjs/core v4.5.1
- __Operating System__: macOS Monterey
- __Browser name and version__: Google chrome 103.0.5060.53 (Build officiel) (x86_64),

#### Code Sandbox

[Example](https://codesandbox.io/s/dark-dawn-bs1b6t?file=/src/ProductSelect.tsx)

#### Steps to reproduce

1. Create an app using `tagInput` or `MultiSelect`
2. Add one or multiple tag

[2022-07-05 11:47] kamilwojtanowski opened #5413 "bp3 classes in svg icon files"
#### Environment

- __Package version(s)__: 4.x
- __Operating System__: any
- __Browser name and version__: any

#### Code Sandbox

Link to actual repro  ([blueprint code](https://github.com/palantir/blueprint/blob/develop/resources/icons/20px/shapes.svg?short_path=db03c1a)):

#### Steps to reproduce
Read the SVG code.

#### Actual behavior

There are`bp3` classes in SVG files.

#### Expected beha

[2022-07-06 03:25] zachkirsch opened #5416 "Source map paths contain references to /home/circleci"
#### Environment

- __Package version(s)__:

[code]

- __Operating System__: OSX 12.3.1
- __Browser name and version__: n/a

#### Steps to reproduce

Run `yarn start` in a newly created `create-react-app` project

#### Actual behavior

You'll see errors like
[code]

Notice the path contains `/home/circleci`.

#### Expected behavior

Source map paths should be relative.

#### Possible solution

Blu

[2022-07-06 19:19] adidahiya commented on #5402
This is an oversight, I'll look into it.

[2022-07-06 19:23] adidahiya commented on #5403
It's hard to debug if I can't see this in a code sandbox. I don't have any ideas about this off the top of my head. Can you try setting your custom font in a sandbox? The one you linked doesn't show a table component.

[2022-07-06 19:25] adidahiya commented on #5405
I think that's because "1000000" exceeds the max date allowed in that docs example. You can see the error in the console. Try reproducing your situation in a code sandbox.

[2022-07-06 19:41] riwu commented on #5405
@adidahiya isn't this a numeric input, not a date?
I tried "1000" and it still doesn't show up as "1,000".

Codesandbox: https://codesandbox.io/s/cranky-pasteur-sub4b2?file=/src/App.js

[2022-07-06 23:20] naylinnpkv commented on #5334
@adidahiya I am running into the same issue, when trying to use BlueprintJs with **[ViteJs](https://vitejs.dev/),** any progress or tips to work around it?

[2022-07-07 07:50] kamilwojtanowski commented on #5387
Hello! We face the same issue, but in addition to that one, we have problems with Spinner component:
[code]
@adidahiya  I'm not sure if it is the same issue, if not I can fill a separate ticket.

[2022-07-07 15:43] #4779 closed, assigned to nobody

[2022-07-07 16:56] #5408 closed, assigned to nobody

[2022-07-07 19:21] adidahiya commented on #5405
Sorry, I meant "max value", not "max date". I've been working on date pickers lately 😅

It looks like changing the locale only affects the decimal character, not the thousands separator character. See my forked version of your sandbox https://codesandbox.io/s/currying-bash-xv8xo4?file=/src/App.js

We just delegate to `Number.prototype.toLocaleString(locale)`, so this must have something to do with

[2022-07-07 19:27] adidahiya commented on #5411
You'd need to override this `rootBoundary`, but that is currently not possible:

https://github.com/palantir/blueprint/blob/420abcf5b6dac677a262cb9b915189ec424d46c0/packages/popover2/src/contextMenu2.tsx#L207

I'm open to PRs to allow overriding that prop if it solves your reported issue.

[2022-07-07 19:28] adidahiya commented on #5413
They're not classes, they're SVG ids. Dead code, but not actively harmful it seems.

[2022-07-07 19:35] adidahiya commented on #5413
The SVG files in `resources/` aren't very clean; many of them have extraneous markup. They get parsed and optimized before they get packaged into `@blueprintjs/icons` APIs. I'm not going to clean all of them up right now, but I'll remove the random "bp3-" references.

[2022-07-07 19:45] adidahiya commented on #5412
I agree with this, but at least in this situation the tag being focussed and deleted (the first one) is visually highlighted with a focus ring. So the behavior is somewhat surprising, but not entirely so. Open to PRs to fix.

[2022-07-07 19:49] adidahiya commented on #5387
@kamilwojtanowski that looks like this issue: https://github.com/palantir/blueprint/issues/5250#issuecomment-1102955684

[2022-07-07 19:50] #5413 closed, assigned to nobody

[2022-07-07 21:39] LoiKos commented on #5412
i'm quite busy at the moment but if i could i take a look into this issue

[2022-07-07 23:52] DigiWorm0 opened #5419 "During it's exit transition, Omnibar is still visible when it disappears against dark background"
#### Environment

- __Package version(s)__: @blueprintjs/select v4.4.1 with @blueprintjs/core v4.5.1
- __Operating System__: Windows 11 21H2
- __Browser name and version__: Firefox 102.0.1

#### Code Sandbox

Minimal Reproduction: [Blueprint's own example](https://blueprintjs.com/docs/#select/omnibar) (Make sure dark-mode is on though)

#### Steps to reproduce

1. Create an Omnibar
2. Make the pag

[2022-07-08 01:49] riwu commented on #5405
@adidahiya so does Blueprint support adding thousands separator character?

[2022-07-08 11:44] adidahiya commented on #5405
From the docs I just linked, `useGrouping` is set to "auto by default:

There may be a locale which shows the thousands separator character by default. If you want to override this and set it to `{ useGrouping: "always" }`, we don't yet have support for that in the NumericInput API. I'm open to PRs to add that feature... perhaps a new prop `localeFormatOptions: Intl.NumberFormatOptions`.

[2022-07-08 11:59] adidahiya commented on #5419
Yeah, I can see there's a bit of a white cloud visual "pop" when transitioning out. We'll need to revisit the CSS transitions here. Maybe it's more noticeable now with the darker dark theme colors in Blueprint v4.1+

![2022-07-08 07 57 43](https://user-images.githubusercontent.com/723999/177987879-d2cb2957-8af1-4161-97da-8e91ebb63b9b.gif)

[2022-07-08 12:42] #5416 closed, assigned to nobody

[2022-07-08 13:19] #4300 closed, assigned to nobody

[2022-07-08 13:19] #5099 closed, assigned to nobody

[2022-07-08 17:35] zachkirsch commented on #5416
Upgraded to versions listed [here](https://github.com/palantir/blueprint/commit/275fe42c42f2af9a11880c0a59359070ed53ed44) and confirmed fixed!

[2022-07-08 22:05] gluxon opened #5422 "Postinstall scripts fail expecting `python` to be on the path"
#### Environment

- __Package version(s)__: Develop commit bf4c8bead
- __Operating System__: macOS 12.4
- __Browser name and version__: N/A

#### Steps to reproduce

[code]

[code]

#### Actual behavior

Here's the relevant section of the `yarn` log. It looks like `node-gyp@7.1.2` is trying to execute `python` on the path, [which no longer exists for macOS Monterey](https://developer.apple.com/doc

[2022-07-08 22:36] adidahiya commented on #5422
Can you try building with Node 16, as specified in `.nvmrc`? I know the README and package.json version constraint says otherwise, but this may fix your problem.

[2022-07-09 01:37] gluxon commented on #5422
Thanks for the suggestion. Just gave that a shot:

[code]

[2022-07-09 01:40] gluxon commented on #5422
I think it's the version of `node-gyp` that gets linked to `node_modules/.bin/node-gyp`. Based on `node-gyp`'s changelog, I think we have to bump past `node-gyp` 8.x.

[code]

I took a shot at upgrading to Lerna 5.x and it did seem to resolve this issue. Would you take a PR upgrading to lerna 5.x?

[2022-07-09 03:27] GalvinGao commented on #5411
Filed a PR ;D

[2022-07-10 08:32] ZeRego commented on #5422
I can confirm that changing to `"lerna": "^5.1.8",` fixed this error when installing dependencies but got some failing tests when running `yarn verify`.

[code]

[2022-07-11 18:34] #5422 closed, assigned to nobody

[2022-07-11 18:35] adidahiya commented on #5422
Can you see if my upgrades in #5427 fixed the issue?

[2022-07-12 13:59] noshiro-pf opened #5436 "The browser page will crash if the Slider max is set to Number.POSITIVE_INFINITY."
#### Environment

- __Package version(s)__: @blueprintjs/core": "^4.1.2"
- __Operating System__: Windows 11
- __Browser name and version__: Chrome

#### Code Sandbox

Link to a minimal repro:
https://codesandbox.io/s/blueprint-sandbox-forked-t1mm63

#### Steps to reproduce

[code]

#### Actual behavior

Page crashes.

#### Expected behavior

Should throw an error.

#### Possible solution

Check th

[2022-07-12 15:31] gluxon commented on #5422
Thank you @adidahiya. That indeed fixed `yarn` for me. I cleared `node_modules` to be sure.

[2022-07-12 18:13] #5402 closed, assigned to adidahiya

[2022-07-12 22:00] asyncjason opened #5439 "MultiSelect2 createNewItemFromQuery fires at every keystroke and not upon pressing Enter"
#### Environment

- __Package version(s)__: 4.6.0
- __Operating System__: alpine
- __Browser name and version__: chrome 103.0.5060.114

#### Code Sandbox

https://codesandbox.io/s/hopeful-pond-cnwzh9?file=/src/App.tsx

#### Steps to reproduce

1. Set up MultiSelect component
2. Add  createNewItemFromQuery function to print log when it fires

#### Actual behavior
createNewItemFromQuery fires upon e

[2022-07-14 05:34] JoseLion commented on #4600
@adidahiya I think the reason why [this popover click handler](https://github.com/palantir/blueprint/blob/c91f71b6ea62d165a597854dca6ab06dfb352422/packages/popover2/src/popover2.tsx#L562) is not getting invoked is because the submenus are not using `Popover2`, they still use the deprecated Popover😅
https://github.com/palantir/blueprint/blob/81147fc2b5edb3a1ed36fe959c03b568c7461b68/packages/core/sr

[2022-07-15 00:22] adidahiya commented on #4600
Yes, this is the plan, we will provide a MenuItem2 which uses Popover2 instead of Popover. When I wrote my previous comment in this issue thread, we were still planning to include the Popover2 breaking changes in v4.0. Since then, those changes were pushed back to v5.0 (see https://github.com/palantir/blueprint/wiki/Blueprint-v4.0-&-v5.0-semantic-swap). At the moment MenuItem still uses the deprec

[2022-07-15 00:43] JoseLion commented on #4600
I see, so right now the only option we have is to wait for v5, right?

The thing is that I was able to track down the issue regarding `pointer-events: none`. It seems that `react-popper` includes `pointer-events: none` on its initial style props in `v1.3.11`, the version used by the deprecated Popover. Popover2 uses `react-popper@2.3.0`, which removed `pointer-events` from the initial styles.

Thi

[2022-07-15 02:51] adidahiya commented on #4600
We'll have MenuItem2 available in v4.x before v5.0 is released. You can expect MenuItem2 in the next few weeks.

[2022-07-15 05:39] asyncjason commented on #5439
I figured out I was missing controlling the query and setting the active Item.
Still confused about why createNewItemRenderer is firing every keystroke? Does it behave differently in controlled mode as per what is in the docs?

Anyway, I updated the sandbox adding:
[code]
https://codesandbox.io/s/hopeful-pond-cnwzh9?file=/src/App.tsx

[2022-07-15 05:39] #5439 closed, assigned to nobody

[2022-07-15 06:11] JoseLion commented on #4600
That's awesome news, thanks! I'll be looking forward to it 🎉🙂

[2022-07-15 07:35] alberto-f opened #5441 "Notes on patch, minor and major releases"
Hello there,

The library is working really well and has served the purpose I had in mind for v3.

Im currently updating my project to react 18. Im finding difficult to know what happens on releases. I have not been able to find notes about what changes are introduced on patch and minor releases and I think it would be really helpful when updating to newer versions.

Im saying this because checkin

[2022-07-15 16:28] adidahiya commented on #5441
The changelog lives here, it mentions all notable changes. You can easily search for "React 18" and figure out where we added support: https://github.com/palantir/blueprint/wiki/4.x-Changelog

That wiki page is also linked from the project's [CHANGELOG.md](https://github.com/palantir/blueprint/blob/develop/CHANGELOG.md).

[2022-07-15 16:34] alberto-f commented on #5441
Ok, i was not finding this page.

Thanks

[2022-07-18 13:53] #5441 closed, assigned to nobody

[2022-07-19 00:44] justinbhopper commented on #2193
One option to consider is requiring that consumers of BlueprintJS include a .d.ts reference (like Create React App or Vite.js do) to import the type definitions.  This way, the definition of any control that has icon props can be extended to _include_ the IconName type definition or not, depending on whether they plan to call `loadAll()` or their own custom set.

### For example
@blueprintjs/icons

[2022-07-19 13:30] adidahiya opened #5443 "DateInput2 weird timezone UX when typing incomplete date"
#### Environment

- __Package version(s)__: @blueprintjs/datetime2 as of #5440

#### Steps to reproduce

1. visit docs preview from #5440, or build the repo at https://github.com/palantir/blueprint/commit/fbe3c9e3662f0d0dc4096e082c4f3f014e0ab01f
1. type "7/19/202" into DateInput2

#### Actual behavior

<img width="341" alt="image" src="https://user-images.githubusercontent.com/723999/179664170-fcc

[2022-07-19 18:11] jrafidi commented on #3819
The change made to fix this issue caused a regression in behavior. Previously, `loading` would always disable a button. Now, `loading` will not disable if `disable` is set to `false`.

If we intend to make this change, I think it should be done in a major version since this behavior change will require a migration to fix.

[2022-07-19 19:15] switz opened #5444 "Icon Request: external link"
#### Environment

- __Package version(s)__: 4 (latest)
- __Browser and OS versions__: N/R

#### Feature request

The only icon I've consistently missed from the icon library is an "external link" icon, to signify a user that a link will take them outside of the system.

There is an "open application" icon, but it's not quite the same.

#### Examples

Something along the lines of:

![image](https:/

[2022-07-19 19:17] #5444 closed, assigned to nobody

[2022-07-19 19:17] switz commented on #5444
Just realized "share" is the same as what I'm looking for. Apologies.

[2022-07-19 19:38] adidahiya commented on #3819
@jrafidi is right, and after realizing the downstream impact of the change I made in #5360, I think we should revert it. My statement in the comment above https://github.com/palantir/blueprint/issues/3819#issuecomment-550151460 is still true, and Blueprint doesn't need to guarantee that `<button disabled={false}>` will get rendered by `<Button disabled={false}>` as suggested in the test case in th

[2022-07-20 02:40] #5387 closed, assigned to nobody

[2022-07-20 14:17] adidahiya opened #5448 "Muted & disabled modifier classes do not affect heading typography"
#### Environment

- __Package version(s)__: core 4.6.0
- __Operating System__: macOS
- __Browser name and version__: Chrome

#### Steps to reproduce

Render a heading (`<H1>`, `<H2>`, etc. from `@blueprintjs/core` package) with `Classes.TEXT_MUTED` or `Classes.TEXT_DISABLED`

#### Actual behavior

Heading uses default text color

<img width="237" alt="image" src="https://user-images.githubusercont

[2022-07-20 14:40] #3819 closed

[2022-07-20 16:31] MFellak opened #5451 "Does AgGrid Tree Content support custom filter?"
#### Environment

- __Package version(s)__: ^3.22
- __Browser and OS versions__: Chrome Windows 10

#### Question

The list coming from the API, has many categories, but i only need to display two of them
so is there a method to customize only the categories i want to show or i have to do a similar condition on the parent
![image](https://user-images.githubusercontent.com/107124753/180035307-a022f

[2022-07-20 19:37] #5083 closed, assigned to nobody

[2022-07-20 20:09] adidahiya commented on #4001
Still an issue in Blueprint 4.x, with Select2: https://codesandbox.io/s/blueprint-sandbox-forked-z2kbnr?file=/src/SelectExample.tsx

Fix should be as easy as checking for `Classes.POPOVER_DISMISS` on the nearest `Classes.MENU_ITEM` on the event target in this line:  https://github.com/palantir/blueprint/blob/f8415b517c307e7c7fe0c76acdfbfdeae332e233/packages/select/src/components/select/select2.tsx

[2022-07-20 20:14] sumeet07 commented on #5334
@adidahiya I am running into the same issue, when trying to use BlueprintJs (version > 4.1.0) with React18. What blueprint css plugin are you referring to address the issue?

[2022-07-20 20:23] adidahiya commented on #5334
This is our build script to compile our Sass sources: https://github.com/palantir/blueprint/blob/f8415b517c307e7c7fe0c76acdfbfdeae332e233/packages/node-build-scripts/sass-compile.ts#L61-L69

Note that I don't _recommend_ pinning yourself to version `~4.0.0`, that's just a way to prevent build breakage from automatic upgrades. You should always try to upgrade to the latest version of Blueprint, as

[2022-07-21 21:19] rafiazman opened #5457 "MultiSelect and MultiSelect2 interrupts a11y focus order"
#### Environment

- __Package version(s)__: `@blueprintjs/core ^4.6.1`, `@blueprintjs/select: ^4.5.0`
- __Operating System__: macOS Monterey Version 12.4
- __Browser name and version__: Safari Version 15.5 (17613.2.7.1.8)

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)):
https://blueprintjs.com/docs/#select/multi-select2
https

[2022-07-21 21:25] rafiazman opened #5458 "Unable to load documentation page in Internet Explorer 11"
#### Environment

- __Package version(s)__: -
- __Operating System__: Windows 10
- __Browser name and version__: Internet Explorer 11

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://blueprintjs.com/docs/

#### Steps to reproduce

1. Load https://blueprintjs.com/docs/ in Internet Explorer 11

#### Actual behavior

Doc