[2021-04-10 00:16] giladgray commented on #243
@tnrich check out `Drawer` in the docs

[2021-04-10 16:57] tnrich opened #4628 "Suggestions for making long list of tabs work well on mobile"
Hey there @adidahiya and others,

We have a settings page in our app that looks like so:
![image](https://user-images.githubusercontent.com/2730609/114278038-abdd5580-99e2-11eb-9ac6-1deb7869ceab.png)

As you can see it is made up of a vertical tabs component.

On mobile this set up doesn't look too great:
![image](https://user-images.githubusercontent.com/2730609/114278149-46d62f80-99e3-11eb-9b94-

[2021-04-10 19:58] tnrich commented on #4628
I was able to hack this together just using css and a button that I'd hide/show based on the screen size. Here's the main media query I used for the CSS hiding/showing of the different elements:

[code]

Closing. Thanks!

[2021-04-10 19:58] #4628 closed, assigned to nobody

[2021-04-11 15:11] rogozind commented on #3779
Is this targeted to be fixed in the upcoming release 4?
We cannot upgrade because of this issue and are stuck in 3.7 land.

[2021-04-12 00:25] caffeinateoften opened #4629 "Bug in documentation example"
https://github.com/palantir/blueprint/blob/develop/packages/docs-app/src/examples/table-examples/tableEditableExample.tsx#L128

When Lines 128 and 134 run, they delete the other fields in this state object.

#### Steps to reproduce
Run your documentation code and try to edit a cell in the browser.

#### Actual behavior
Error is thrown in `renderColumnHeader` since `state.columnNames[columnIndex]`

[2021-04-12 03:56] PeacePan commented on #3779
My current solution.

1. add a wrapper `div`
2. use `ResizeObserver` watch the size of wrapper
3. update table rect when size change

[codesandbox](https://codesandbox.io/s/blueprint-sandbox-forked-v7li8?file=/src/TableExample.tsx)

work on

`@blueprintjs/core": "3.42.0`
`@blueprintjs/table": "3.8.27`
`react": "17.0.2`
`react-dom": "17.0.2`

but not a good solution, I think...

[2021-04-12 14:15] adidahiya commented on #4628
I think this should be possible, but you'd have to do browser detection in JS and render a different kind of React tree. An approach for this is briefly mentioned in the [documentation](https://blueprintjs.com/docs/#core/components/tabs.tab):

If you omit the `<Tab panel={...}>` prop, you can conditionally render the panel outside the tabs list. In your case it sounds like the tabs list would be a

[2021-04-12 16:53] rhysbrettbowen opened #4631 "Overflow List always render overflow"
#### Environment

- __Package version(s)__:
- __Browser and OS versions__:

#### Feature request

If there is no overflow items then the overflow renderer is never run and returns null. We should allow the option to render an overflow item with no passed in items. Main usage will be for a drop down, if the items change then the popover will be re-rendered meaning that the drop down closes. We'd li

[2021-04-13 16:47] adidahiya commented on #4619
I added a new API in https://github.com/palantir/blueprint/pull/4635 which should address the problem here, it will allow you to omit the `<div>`. It will need to be ported from the v4 branch to develop.

[2021-04-13 20:36] adidahiya commented on #2193
v4.0.0-alpha.0 has just been released which includes the icons infrastructure changes from #4513. Please try it out and let me know what you think; preferably open new issues with specific concerns about the new APIs.

[4.x changelog](https://github.com/palantir/blueprint/wiki/4.x-Changelog#april-13-2021), [docs](https://blueprintjs.com/docs/versions/4/)

[2021-04-14 13:42] arunmmanoharan commented on #4605
@adidahiya Any updates on this or should I wait for v4?

[2021-04-14 19:08] saruman1234 commented on #4624
Hi @joegasewicz,

You can also provide a `breadcrumbRenderer` prop, to control how the other breadcrumbs are rendered.

If you don't provide a `currentBreadcrumbRenderer`, `breadcrumbRenderer` will be used for both.

For example:
[code]

[2021-04-14 20:41] adidahiya commented on #4624
@saruman1234's suggestion looks like the right way to go. In addition, I don't think it makes sense to change the icon size without changing text size and spacing as well. If we do end up adding to the Blueprint API to support this use case, I would rather add an API which makes a more holistic size change to the breadcrumbs layout rather than just an icon size change (e.g. `large={true}`)

[2021-04-14 20:41] #4624 closed, assigned to nobody

[2021-04-14 21:25] adidahiya commented on #4605
This is not currently possible with the available APIs. We would have to add a new one for this use case. It doesn't have to wait until v4 because it doesn't require a breaking change, but it is unlikely that I would get around to making this change myself before I finish the v4.0 work.

It might be as simple as allowing `null` for `onRemove` in `ITagProps`: https://github.com/palantir/blueprint/b

[2021-04-15 00:25] joegasewicz commented on #4624
thanks @saruman1234

[2021-04-15 11:03] vladimir-djokic commented on #4619
Thank you! I'm personally fine with this being 4.0 only feature as `<ContextMenu>` + `ContextMenu.show(...)` still works fine for 3.x.

[2021-04-15 14:59] andyboscor opened #4642 "Add support for popper.js Virtual elements in Popover2"
#### Feature request

https://popper.js.org/docs/v2/virtual-elements/

[2021-04-15 15:07] adidahiya commented on #4619
ported to develop and fixed by #4640

[2021-04-15 15:07] #4619 closed, assigned to adidahiya

[2021-04-15 18:52] adidahiya commented on #3829
fixed by #4583, released in 4.0.0-alpha.0

[2021-04-15 18:52] #3829 closed

[2021-04-15 18:53] adidahiya commented on #3979
fixed by #4623, released in 4.0.0-alpha.0

[2021-04-15 18:53] adidahiya commented on #4149
fixed by #4545, released in 4.0.0-alpha.0

[2021-04-15 18:54] adidahiya commented on #4486
fixed in 4.0.0-alpha.0

[2021-04-15 18:54] #4486 closed, assigned to nobody

[2021-04-15 23:14] switz opened #4645 "4.0.0 dynamic icon imports not working in next.js"
I'm seeing every icon imported into my nextjs app on 4.0.0. Is there a specific API I should be using to treeshake them dynamically? https://nextjs.org/docs/advanced-features/dynamic-import

Before I was overriding the generated/svgPaths file. I generally specify my icons via: `<Icon icon="caret-down" />` but I can switch to explicit imports if that helps.

#### Environment

- __Package version(s)

[2021-04-16 14:28] terpimost commented on #3959
Hey @kudigaracoder  Is there any progress on Figma? If somebody share their figma file we could collaborate and do that faster. Anyway I think we could open a new issue about it

[2021-04-16 17:32] tnrich commented on #4461
@pudo you should try:

[code]

https://codesandbox.io/s/blueprint-sandbox-forked-dw0bz?file=/src/SelectExample.tsx

That seems to stop the form submit for me.

[2021-04-16 17:58] tnrich opened #4646 "Is it possible to prevent a blueprint global hotkey from being triggered using stopPropagation?"
Hey @adidahiya

It seems like this functionality should be supported but I don't think it is. Here is an example codesandbox where this is illustrated:

https://codesandbox.io/s/blueprint-sandbox-forked-8y9g4?file=/src/CoreExample.tsx

I would expect when "R" is pressed outside of the input for the global hotkey to be triggered. However, because inside the input I'm calling e.stopPropagation(), I

[2021-04-16 19:54] justinbhopper commented on #4615
@adidahiya I ran into this same issue recently.  A typical reason for a fragment is due to needing conditional sections, such as:

[code]

Some workarounds would be to repeat the conditional, or to just render an array of Tab elements:

[code]

[2021-04-16 21:06] switz opened #4649 "4.0.0 Popover2 arrow rendering seems broken"
#### Environment

- __Package version(s)__: 4.0.0-alpha.0
- __Operating System__: Mac OS X
- __Browser name and version__: Firefox 88.0b4
-
#### Steps to reproduce

[code]

[code]

#### Actual behavior

<img width="217" alt="image" src="https://user-images.githubusercontent.com/990166/115083432-57037880-9ed5-11eb-98ab-1652cf3477fa.png">
<img width="314" alt="image" src="https://user-images.githubu

[2021-04-17 03:26] tianyu94 opened #4650 "4.0.0-alpha.0 Icon component title attribute"
#### Environment

4.0.0-alpha.0

Google Chrome

#### Question

After upgrading to 4.0, the independent icon component will set the title by default. Is there any way to remove it globally?

At the same time, the title attribute of the Button component cannot override the tittle attribute of the independent icon component

[code]

![image](https://user-images.githubusercontent.com/37231629/11510048

[2021-04-17 15:34] vladimir-djokic opened #4651 "[Checkbox] using non-callback inputRef fails with "Cannot add property indeterminate, object is not extensible" at runtime"
#### Environment
- __Package version(s)__:
  - @blueprintjs/core 3.42.0
  - react 17.0.2
- __Operating System__: Windows 10 x64
- __Browser name and version__: Microsoft Edge Version 91.0.852.0 (Official build) dev (64-bit)

#### Code Sandbox
https://codesandbox.io/s/blueprint-sandbox-forked-qhg7b

#### Actual behavior
If non-callback ref is used for `inputRef`, **"Cannot add property indeterminat

[2021-04-17 16:42] noah79 commented on #3393
I am running into the same issue with the new ContextMenu2 component with standard menus.  The text measurement for MenuItems is killing performance opening the menu.

[2021-04-17 16:46] noah79 commented on #3393
Doing this made a huge difference for me:
`const ContextMenuItem = (props: IMenuItemProps) => {
  return <MenuItem multiline={true}  {...props} />
}`

[2021-04-17 18:11] andreash opened #4652 "Building blueprint not working"
I can't get the build to work. I am not sure what I am doing wrong. Node & Python version down in the log.

#### Environment

- __Package version(s)__:
- __Operating System__: Ubunutu 20.04
- __Browser name and version__: n/a

#### Code Sandbox

#### Steps to reproduce

1. git clone https://github.com/palantir/blueprint
1. yarn

#### Actual behavior
andreas@novi:~/SW-Projekte/test$ git clone https

[2021-04-18 07:55] andreAbtahi96 commented on #4652
Would this have anything to do with it?

"The platform "linux" is incompatible with this module."

[2021-04-18 11:32] andreash commented on #4652
I thought this first, but it doesn't seem so. blueprintjs of course runs on linux and so I eliminated that route for the time being.
What I did then to first switch to V3.43 - the current release - et voila - that one installed without problems. I still don't known, however, what is causing the problem above.

On which platform are you guys building blueprintjs? Apple? Windows? Linux? If it is not

[2021-04-18 14:55] JB1905 opened #4653 "Broken link to v3 docs in v4 preview"
#### Steps to reproduce

1. go to https://blueprintjs.com/docs/versions/4/
2. click on button to change version
3. click on v3 button

#### Actual behavior
I get https://blueprintjs.com/docs/versions/3 - 404 page

#### Expected behavior

I get https://blueprintjs.com/docs/ - latest version

![Zrzut ekranu 2021-04-18 o 16 55 34](https://user-images.githubusercontent.com/28870390/115150035-e8eebb00-

[2021-04-18 14:57] JB1905 opened #4654 "Incorrect title on version button in docs"
#### Actual behavior

Visible text `v/versions/4`

#### Expected behavior

Visible `v4`

![Zrzut ekranu 2021-04-18 o 16 47 55](https://user-images.githubusercontent.com/28870390/115150075-20f5fe00-a067-11eb-89b5-59fac39713f9.png)

[2021-04-18 15:47] tianyu94 commented on #4649
remove `"@blueprintjs/popover2": "^0.5.0",`

and use `Popover` from `@blueprintjs/core`

[2021-04-18 21:20] roman-kirsanov opened #4655 "blueprintjs + deno + esm.sh/skypack"
Hi,

Does BlueprintJS support deno bundling?

![Screenshot from 2021-04-19 00-17-20](https://user-images.githubusercontent.com/3323864/115161195-e317ca80-a0a4-11eb-96fc-a070d7b73478.png)

[2021-04-19 01:22] #4649 closed, assigned to nobody

[2021-04-19 17:20] tnrich commented on #4646
I don't really understand how this functionality is occurring. It appears to me that the global hotkeys are being bound to the document on this line https://github.com/palantir/blueprint/blob/develop/packages/core/src/hooks/hotkeys/useHotkeys.ts#L127:
[code]

As the document is higher in the DOM tree than the input node it would stand to reason that stopping propagation on the keydown on the input

[2021-04-19 18:22] #4631 closed, assigned to nobody

[2021-04-19 18:49] petalas commented on #3281
Thanks for your example @LoiKos

One problem I noticed is that by using props.items the renderItem function can potentially return null (based on the predicate/query). Then you can end up rendering 'blank' rows.

The best fix afaik is to just use props.filteredItems instead.
This also improves performance significantly, at least in my case.

Just thought I'd mention it in case anyone else runs int

[2021-04-19 22:45] adidahiya commented on #4646
Simplified your example and got it working by using `event.nativeEvent.stopImmediatePropagation()`. Apparently this is required because React synthetic events are registered on the `document`: https://stackoverflow.com/a/24421834/7406866

Forked sandbox: https://codesandbox.io/s/blueprint-sandbox-forked-c3wdg?file=/src/CoreExample.tsx

[2021-04-19 23:11] adidahiya commented on #4651
Your sandbox seems to work fine with the latest version of Blueprint core v3.43.0: https://codesandbox.io/s/blueprint-sandbox-forked-es5qi?file=/src/index.tsx

[2021-04-20 11:21] vladimir-djokic commented on #4651
Yes, I can confirm that the issue is **not** present in **3.43.0** and **3.44.0**, but present in earlier versions.

[2021-04-20 11:21] #4651 closed, assigned to nobody

[2021-04-20 15:15] adidahiya commented on #4651
Indeed, I believe it was fixed by https://github.com/palantir/blueprint/pull/4612, released in 3.43.0

[2021-04-20 16:33] tnrich commented on #4646
Thanks @adidahiya that should do it! Closing

[2021-04-20 16:33] #4646 closed, assigned to nobody

[2021-04-21 19:34] githubnewbie1 opened #4661 "Just need some guidence please, still learning..."
Hello there All,

Just looking for some guidance and obviously inexperienced as I have followed what is available and I'm stuck.

What I'm trying to achieve:

Experiment with React and JS to build something I can host on IPFS.

Environment: OSX

What I tried:

Output:
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! Found: webpack@4.46.0
npm ERR! package

[2021-04-21 20:56] #4661 closed, assigned to nobody

[2021-04-22 14:06] wenerme commented on #4507
Face the same problem, want to add a select in header, is there any workaround ?

[2021-04-22 17:52] adidahiya opened #4664 "Drawer animation bug when rendered inline and container overflows viewport"
#### Environment

- __Package version(s)__: core 3.39.0+
- __Operating System__: macOS
- __Browser name and version__: Chrome 90

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-forked-cvz8o?file=/src/CoreExample.tsx

#### Steps to reproduce

1. render a Drawer with `usePortal={false} canOutsideClickClose={false}` (as in the above sandbox)
1. for a horizontal Drawer (Drawer A), resiz

[2021-04-22 20:07] adidahiya commented on #4654
Fixed by https://github.com/palantir/blueprint/commit/0d7ae0fbc4cd16161ae09fc56c54aabb92a0701e

[2021-04-22 20:07] #4654 closed, assigned to adidahiya

[2021-04-22 20:07] adidahiya commented on #4653
Fixed by 0d7ae0f

[2021-04-22 20:07] #4653 closed, assigned to adidahiya

[2021-04-22 20:39] bensalilijames opened #4668 "4.0.0 consider exporting `Hotkeys` again"
We use the `Hotkeys` component in our custom hotkeys dialog (it's basically the same as the default, except with some additional info at the bottom) so we don't need to write a render method to turn the hotkey configs into nice-looking renderable components. However, in 4.0.0-alpha.0 it's not exported from `@blueprintjs/core` anymore.

It would be great if this could be exported again so we don't

[2021-04-22 20:42] adidahiya commented on #3393
@noah79 do you have a code sandbox where you could demonstrate the performance issue? I understand why Text's overflow checking behavior may cause unexpected DOM work, but it's necessary for the feature you get out of the box for MenuItems (and some other Blueprint components) which shows a native browser tooltip on hover for text which is hidden behind a "...".

I have an attempt to refactor the

[2021-04-22 21:10] adidahiya commented on #4668
Sure, that sounds pretty reasonable. I can add the export. Until then you can `import { Hotkeys } from "@blueprintjs/core/lib/esm/components/hotkeys/hotkeys"`

[2021-04-22 21:16] bensalilijames commented on #4668
Thanks! ❤️

[2021-04-22 22:28] riwu opened #4669 "Support for lazy loading tabs"
There is support for `renderActiveTabPanelOnly` but not something in between:
Do not unmount any tabs, but only mount tabs after they are clicked on instead of all at initial load.

This is the default behavior in some libraries (eg. https://ant.design/components/tabs/, it can still overwrite default behavior with `forceRender` prop).

[2021-04-23 02:55] lwouis commented on #4424
I reproduce this. I also observe that whatever locale I select (when it doesn't crash), the UI is not affected.

![image](https://user-images.githubusercontent.com/106195/115811471-b956fe80-a42a-11eb-8ccf-ef08a8df93ca.png)

Here for instance, I would expect to see `100,001` instead of `100001`, since the locale is set to English. All values show the same number.

Copy-pasting `100,000` in the box

[2021-04-23 09:48] tonooo71 commented on #4497
I'm using the v4.0.0-alpha version and I also encountered the same bug.

I think the cause of this bug is **num.toLocaleString(locale)** in the **toLocaleString** function of **numericInputUtils.ts**.
The numeric string obtained by **num.toLocaleString(locale)** is truncated to the fourth decimal place.
[Number.prototype.toLocaleString(): MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScrip

[2021-04-23 18:03] adidahiya commented on #4650
@tianyu94 thanks for pointing out the title tooltip regression. the second point you raise is a separate issue; we never had support for that in Blueprint. we might consider adding something like `iconProps` to fulfill that use case, but is it something you could accomplish with other Blueprint APIs instead? For example, why not put a Tooltip around the Button to hint at what it does?

[2021-04-23 18:05] adidahiya commented on #4650
The title regression is fixed by #4672

[2021-04-23 18:05] #4650 closed, assigned to adidahiya

[2021-04-24 18:46] cstffx commented on #4652
I have build blueprintjs in Ubuntu 16.04 and 18.04 without errors. But I have had problems with node-gyp before. I suggest you to test if you can build other native modules like bcrypt or sqlite.

[2021-04-26 01:46] nrayburn-tech opened #4675 "Column cellRenderer Parameters"
#### Environment

- __Package version(s)__: npm 6.14
- __Browser and OS versions__: Chromium 90, macOS 11.2

#### Feature request
Currently, the column `cellRenderer` only supports a column index and row index, which makes using an object difficult without converting the object to an array first.  In my experience, most backends return data as an array of objects.  This should be easier to use wit

[2021-04-26 02:25] nrayburn-tech opened #4676 "Incorrect Link in Docs"
#### Steps to reproduce

1. Go to https://blueprintjs.com/docs/versions/4/#core/components/buttons
2. Select `Duplicate this page`.
3. Opened page is using https://blueprintjs.com/docs/versions/4/#core/components/button (missing an `s` at the end.)

[2021-04-26 04:59] volkandkaya commented on #4256
@adamerose did you implement this? Would save me a lot of time.

Could it be a package like select?

[2021-04-26 12:37] JenuelDev opened #4677 "Is there any support for VueJs?"
#### Environment

- __Package version(s)__:  VueJs Environment
- __Browser and OS versions__:  Any Browsers any OS

#### Question

Is there any support for VueJs?

[2021-04-26 13:53] adamerose commented on #4256
Hi, no sorry my project ended up using Ant Design instead so I used the built in Tree component. One thing I found though is it seems Antd's tree implementation built on top of a separate npm package `rc-tree` which looks easier to work with than the lower level `react-beautiful-dnd`, it has all the tree logic already made so I think you'd just need to drop in some Blueprint UI components as the t

[2021-04-26 16:38] adidahiya commented on #4677
No, Blueprint is a React component library. We don't have Vue native components, but you can render React components in any JS app using `ReactDOM.render()`

[2021-04-26 16:38] #4677 closed, assigned to nobody

[2021-04-26 22:31] adidahiya commented on #2446
Fixed by https://github.com/palantir/blueprint/pull/3630

[2021-04-26 22:31] #2446 closed

[2021-04-27 08:41] MartinDawson commented on #3833
Please give an example because this doesn't really make sense as it isn't the correct function to use for this.

[2021-04-27 09:27] MartinDawson commented on #3833
https://github.com/palantir/blueprint/pull/3771

^ above PR broke it

3.80 works, 3.8.1 table PR broke it. Seems to be this file: https://github.com/palantir/blueprint/pull/3771/files

table.tsx change.

I'm gonna attempt to fix it now cause this bug is critical and we need to update.

[2021-04-27 11:39] andersHj commented on #3792
Hi, we experienced this today when our overflow list hit more than 49 items that overflowed, and our page suddenly broke.

**Created a sandbox to reproduce the problem:**
https://codesandbox.io/s/blueprint-sandbox-forked-sgtiv?file=/src/index.tsx

In the docs it says about the `overflowRenderer`:

But to me it looks like the `overflowRenderer` triggers way to often. For example in the codesandbox

[2021-04-27 15:45] andyboscor opened #4678 "Support `asyncControl` in the EditableText component"
InputGroup has an `asyncControl` prop available. This functionality should be supported in EditableText too

[2021-04-27 15:50] MartinDawson commented on #3833
Here is the issue: https://github.com/palantir/blueprint/pull/3771/files

[code]

It is never setting the columnWidths if they are supplied by props due to it being in 'controlled' mode.

[code]

[code]

Although there's still a major issue that the cells go white blank if you update the columnWidths and such.

[2021-04-27 17:16] aelgasser opened #4679 "Slider labels calculation for very small values leads to more than expected labels"
#### Environment

- __Package version(s)__: 3.40.0
- __Operating System__: Macos Big Sur
- __Browser name and version__: Chrome 89

#### Code Sandbox

[sandbox](https://codesandbox.io/s/blueprint-sandbox-forked-8fp0x)

#### Steps to reproduce

1. Create a Slider
1. Provide very small min, max and labelStepSize (see note below) values (you may also need to set stepSize to be able to move the handle

[2021-04-27 17:39] aelgasser commented on #4679
I worked around the issue for now by providing a list of labels through the `labelValues` prop, see https://codesandbox.io/s/blueprint-sandbox-forked-lxwc0?file=/src/CoreExample.tsx

But I'd prefer to use the `labelStepSize` as it simplifies a little bit my own code by hiding the "complexity" of building the labels.

[2021-04-28 02:06] w9 opened #4682 "Perhaps extra props should be forwarded into the rendered element of Text?"
https://github.com/palantir/blueprint/blob/7133731104c6a65c504010984252cbfe6fdc29bd/packages/core/src/components/text/text.tsx#L73-L91

It would be helpful if attributes like `style` and a11y can be forwarded into the rendered element.

[2021-04-28 19:53] #4598 closed, assigned to nobody

[2021-04-28 21:55] mkrkelj1 opened #4685 "Arbitrary values on MultiSlider without constraints imposed by handle interactions?"
#### Environment
- __Package version(s)__: latest
- __Browser and OS versions__: Chrome, MacOS

Is there a way to allow arbitrary values on the MultiSlider by removing interactions between handles? Currently, interactions are controlled via the `interactionKind` prop allowing you to either lock values on a pair of handles (in effect creating an additional set of local max/min values), or allowing

[2021-04-28 23:25] ryanyue123 opened #4686 "PanelStack controlled mode transitions"
#### Environment

- __Package version(s)__: 3.43.0
- __Browser and OS versions__: Google Chrome, macOS Big Sur 11.3

#### Question

In controlled mode, the panel stack doesnt seem like its animating correctly. It currently on has the push animation (pushing a new panel onto the stack); however if I remove a panel from the stack array, it "pushes" the older panel on rather than animating it in from

[2021-04-29 14:37] adidahiya commented on #4686
Do you have a link / gif / video demonstrating the issue? That would make debugging much faster.

[2021-04-29 18:16] ryanyue123 commented on #4686
hope this is helpful - when i click the back button, which just pops the latest element off the stack, it animates forward rather than backwards

![Screen Recording 2021-04-29 at 11 14 02 AM](https://user-images.githubusercontent.com/12056123/116598863-34615e80-a8dc-11eb-9d15-81bd883a0363.gif)

[2021-04-30 02:57] kuoruan opened #4690 "Ref is not compatible with React.Ref"
#### Environment

- __Package version(s)__: 3.44.1
- __Operating System__: Linux
- __Browser name and version__: Chrome 90

#### Code Sandbox

[https://codesandbox.io/s/cocky-mclean-e5m4c](https://codesandbox.io/s/cocky-mclean-e5m4c)

#### Steps to reproduce

Use `react-hook-form`'s `Controller` to define a field. Pass it's ref to `inputRef`.

#### Actual behavior

[code]

#### Expected behavior

[2021-04-30 13:32] deadman2000 opened #4691 "Popover2 documentation annoying behavior"
https://blueprintjs.com/docs/#popover2-package/popover2

This help page always scrolling to "Closing on click" demo in Firefox. On tab switching and reading, and scrolling

![image](https://user-images.githubusercontent.com/12889180/116702297-951e9300-a9d1-11eb-93e7-6ab8ec592ea4.png)

[2021-04-30 18:30] adidahiya commented on #4690
Cool, thanks for creating the sandbox to illustrate the problem. For now the easiest way to work around this would be to use `ref ?? undefined` instead of `ref` in your example.

Since Blueprint 4.0 is coming soon, I am inclined to avoid any more changes to ref types on 3.x (develop branch) and instead consider making changes on the `next` branch... either using `React.Ref` directly (note that tha

[2021-05-01 08:38] caffeinateoften commented on #4629
I got approval from my company to open PR and did so here: https://github.com/palantir/blueprint/pull/4693

[2021-05-01 18:48] #4092 closed

[2021-05-03 09:35] LoiKos opened #4694 "[Feature Request] add event to onValueChange for NumericInput"
#### Environment

- __Package version(s)__: core 3.44.1
- __Browser and OS versions__: macOs 11.2.3 \ Chrome 90

#### Feature request

In NumericInput `onValueChange()` handler return `(value, string,inputElement)`. Unfortunately you can't rely on inputElement here because inputElement will have the previous value. It's a pretty easy change with no API break that make numeric a lot easier to use w

[2021-05-03 19:02] adidahiya commented on #4694
we could potentially add this to the callback. `onValueChange` also gets called when the value changes due to bounds changing, so the event may be undefined. can you explain a bit more what you're going to do with the event object?

[2021-05-03 19:03] adidahiya commented on #4694
also, package version "latest" isn't super helpful when filing issues, since we will look back on this issue after new versions are released. I assume you mean core v3.44.1, so I've updated your post.

[2021-05-03 20:38] riwu opened #4695 "Selecting a menu item closes popover2 automatically"
#### Environment

- __Package version(s)__: core: 3.44.1, popover2: 0.7.1, select: 3.16.1, react: 17.0.2
- __Operating System__: Windows
- __Browser name and version__: Chrome Version 90.0.4430.93 (Official Build) (64-bit)

#### Code Sandbox

https://codesandbox.io/s/flamboyant-smoke-i7y6m

#### Steps to reproduce

1. Click on Popover button
2. Select "item1" from the Select dropdown

#### Actual

[2021-05-03 21:02] LoiKos commented on #4694
I mean core v3.44.1 sorry for being vague. There is a lot of example and ways to handle form in React. Using hooks you can find a lot of example to create a custom hook (e.g: https://felixgerschau.com/react-hooks-form-validation-typescript/) or library like https://react-hook-form.com/. And a lot of these library rely on uncontrolled form with change handle via `event.target.value` . And i believe

[2021-05-03 22:27] tnrich opened #4696 "Support additional buttons inside of an alert."
Hey there,

I think it would be useful to support an additional optional button or two in alerts. Sometimes I feel like there needs to be more than just the two options.

Thanks!
Thomas

[2021-05-04 08:01] zizizheng opened #4697 "Use number keyboard in chinese input method will break NumericInput"
#### Environment

- __Package version(s)__: v3.44.1
- __Operating System__: Windows 10
- __Browser name and version__: Chrome 90.0.4430.93

#### Code Sandbox

Official website could reproduce
https://blueprintjs.com/docs/#core/components/numeric-input

#### Steps to reproduce

1. switch the input method to tranditional chinese ( I don't know if it will occur in other input methods )
1. key in numb

[2021-05-05 01:43] justinbhopper commented on #4023
@adidahiya ~Are there plans to transition @blueprintjs/core and @blueprintjs/select to use Popover.js v2.0?  I would have thought the v4.0 milestone would be a good opportunity to make the switch, since it would undoubtedly be a breaking change to the API.~

Ignore this comment.  I see this is exactly what has been done on the v4 branch.

[2021-05-07 01:33] mishywangiepie opened #4702 "Text overflow wrapping for time picker"
I think it would be helpful to support time wrapping for time picker when using the arrow keys. It seems unintuitive for 4:00 -> arrow down -> 4:59 instead of wrapping to 3:59.

Currently workarounds are not possible since origin of time change (hours, minutes seconds) and direction of change are not accessible from the onChange callback.

Thank you for your consideration!

[2021-05-07 22:16] rubenlg commented on #3871
In case it helps others landing here, my _hacky_ workaround is to create submenus manually (as opposed to just nesting `MenuItem`), and specify a safe `max-height` plus scrolling on CSS. This is a very simplified version of my code:

[code]
In my app, that safe margin of 64px is enough. Without that, blueprint keeps a padding on the bottom of the page which makes the first element in the menu go o

[2021-05-08 04:52] zoubingwu commented on #4645
also not working in [vitejs](https://github.com/vitejs/vite).

I've only added `import { Button } from "@blueprintjs/core"` in my project and it includes the whole svg stuff.

![image](https://user-images.githubusercontent.com/18644268/117527124-2908e400-affc-11eb-87b0-88006f252405.png)

[2021-05-08 12:38] brainbarker opened #4706 "Feature request: Ability to reverse the up/down buttons on NumericInput"
I'm trying to use NumericInput to allow users to page through a long document. For paging, the natural order of the up/down buttons is the opposite of the way the control works (up button should be previous page, down button should be next page). I tried to achieve this by using a negative stepSize, but that causes an error.

Edit:
This change should also apply to using the up/down arrow keys when

[2021-05-09 09:39] epiphaneSpecter commented on #3282
Good,
And After this we need to stop the server and restart it to rebuild the project.

[2021-05-10 10:53] ViggoV commented on #4461
@tnrich That also prevents anything from being written in the field. But if you combine it with `e.key === 'enter'` it seems to work as expected. In my case I use `Suggest`:

[code]

[2021-05-10 10:56] zoubingwu commented on #4645
I found it works with vitejs，but it always throw errors when dynamically importing icon.

There is only usage of `<Icon icon="..." />` in project so all icons should be loaded lazily. The icons are rendered correctly tho, nothing wrong happens, it just always print errors in console.

![image](https://user-images.githubusercontent.com/18644268/117649018-931eb600-b1c1-11eb-9b7e-217ba828be7e.png)

[2021-05-10 16:42] jsimonrichard opened #4708 "ContextMenu2 not opening in the correct location"
#### Environment

- __Package version(s)__: @blueprintjs/core (3.44.2), @blueprintjs/popover2 (0.4.0)
- __Operating System__: Pop!_OS 20.10
- __Browser name and version__: Firefox 87.0

#### Code Sandbox

Link to a minimal repo: https://codesandbox.io/s/blueprint-sandbox-forked-zb55b?file=/src/index.tsx

#### Steps to reproduce

1. Use `ContextMenu2` as described in the docs.
1. I think that's it

[2021-05-11 14:34] Firionus opened #4710 "Lint Fails in Local Environment"
#### Environment

- __Package version(s)__:
  - blueprint@develop `06b2ece81`
  - node v12.22.1
  - yarn 1.22.10
  - npm 6.14.12
  - es-lint v7.15.0
  - python3 v3.8.6
  - python 2.7.18
- __Operating System__: Ubuntu 20.10
- __Browser name and version__:

#### Code Sandbox

not applicable

#### Steps to reproduce

1. `git clone` (own blueprint fork)
2. `cd blueprint`
3. `yarn`
4. `yarn lint`

####

[2021-05-12 03:58] switz commented on #4645
It looks like in order to dynamically import react components in nextjs you must wrap it in a `next/dynamic` import: https://nextjs.org/docs/advanced-features/dynamic-import#basic-usage

[code]

Would I be able to specify a custom loader? It looks like I can specify a custom loader for 'loadAll' or 'load'. But those are for loading all or specific icons. Is there a dynamic hook I can write to load

[2021-05-12 17:22] adidahiya commented on #4645
That's a good point, I think it would be worthwhile to add a customization point like `Icons.setLoader(...)` which sets a custom loader for all icons which the `<Icon>` component would use automatically.

[2021-05-12 20:12] #4710 closed, assigned to adidahiya

[2021-05-12 22:17] switz commented on #4645
What's interesting is it is loading in the icons dynamically (chunk 380), but it's loading _all_ of them at once.

[2021-05-12 23:45] switz commented on #4645
I also just noticed this in the next.js docs:

emphasis mine.

Does this mean this isn't possible to be utilized in next.js?

[2021-05-13 00:27] adidahiya commented on #4645
hm, that's unfortunate... yeah, it seems like the fully dynamic import is unsupported in next.js... your other options are to load icons individually:

[code]

or use the static imports:

[code]

[2021-05-13 00:39] adidahiya commented on #4645
this also suggests that we need to add some kind "less dynamic" import API for loading all icons; I would like `<Icon>` to have at least _some_ way of working in next.js... maybe something like this:

[code]

and `src/generated/index.ts` is adjusted so that the autogenerated list of all components is moved to a new file, `src/generated/allComponents.ts`

[2021-05-13 01:38] switz commented on #4645
I converted all of my icon calls to component imports (`import { Tick } from '@blueprintjs/icons'`) and it did tree shake successfully via next.js and webpack 5. So my issue is solved, personally. Feel free to close this, but if you want to leave it open for your open purposes that's fine too. Thanks!

edit: I also should add, the icon bundle does show up in my bundle analyzer, but is not requeste

[2021-05-13 23:00] adidahiya opened #4719 "ContextMenu2 does not dismiss tooltip on open"
#### Environment

- __Package version(s)__: popover2 0.8.0, core 3.44.2
- __Operating System__: macOS
- __Browser name and version__: Chrome

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-forked-w5nv6?file=/src/CoreExample.tsx

#### Steps to reproduce

Attach a ContextMenu2 to the same target as a Tooltip or Tooltip2, as in the above sandbox.

Hover over and right click on the vari

[2021-05-14 13:02] vladimir-djokic opened #4720 "[Popover2] Offset modifier is ignored if arrow is disabled"
I tried using modifiers to disable the arrow and make popper offset from the element, however offset is ignored if arrow is disabled:

[code]

[code]

Note: Using @blueprintjs/popover2 **0.7.3**

[2021-05-15 19:16] danaugrs opened #4721 "[4.0.0-alpha.0] `fill` doesn't work on MultiSelect, Suggest, Select"
__Package version(s)__: 4.0.0-alpha.0
This can be reproduced in the docs page: https://blueprintjs.com/docs/versions/4/#select/multi-select

It's possible that `fill` might also not work in `Popover` and `InputGroup` although I haven't tested (see https://github.com/palantir/blueprint/pull/3636).

I upgraded to 4.0.0-alpha.0 in hopes that `fill` was implemented for `Select` but apparently it's not

[2021-05-15 22:01] danaugrs commented on #4721
Passing `fill` to both the Button inside the Select *and* to the Select's `popoverProps` seems to work for me without any CSS modifications, so it it's probably a simple fix.

[2021-05-15 23:14] danaugrs opened #4722 "Select: How to make popover same width as button?"
See below how the popover is not as wide as the button that shows it:

![Screenshot from 2021-05-15 19-58-37](https://user-images.githubusercontent.com/5261448/118380462-3b64be00-b5b8-11eb-82c8-72658dd87116.png)

It seems impossible to make the popover the same width as a (full-width) button with CSS alone.
Any ideas on how to solve this?

This seems like a pretty common scenario - it would be nic

[2021-05-17 19:20] tnrich opened #4724 "How do I make a button rounded?"
I'm pretty sure this was possible but I don't see how to do it in your docs.

Thanks!

keywords: button round circular rounded icon

[2021-05-18 15:08] adidahiya commented on #4724
I don't think this was ever possible, and it probably won't be supported. You can make [tags](https://blueprintjs.com/docs/#core/components/tag) rounded, though.

[2021-05-18 15:27] tnrich commented on #4724
@adidahiya good to know. Thanks!

[2021-05-18 15:27] #4724 closed, assigned to nobody

[2021-05-18 16:17] adidahiya commented on #4722
duplicate of #2956

[2021-05-18 16:17] #4722 closed, assigned to nobody

[2021-05-18 16:18] adidahiya commented on #2094
This is pretty close to the request in #2956, which has more info, so I'm going to close this out as a duplicate

[2021-05-18 16:18] #2094 closed

[2021-05-18 16:51] adidahiya commented on #4720
You're right, this seems to be a behavior change in Popover2 caused by this line:

https://github.com/palantir/blueprint/blob/ccef710bc8c0f729ab86918e9c26c2a348d61735/packages/popover2/src/popover2.tsx#L460

It's likely that we can simply change that line to something like `enabled: this.isArrowEnabled() || modifiers?.offset?.options !== undefined` to support your use case.

Can you explain a bit

[2021-05-18 17:34] adidahiya commented on #4708
@jsimonrichard you forgot to import `blueprint-popover2.css`. It works after you do this. I've forked your sandbox and fixed the example here: https://codesandbox.io/s/blueprint-sandbox-forked-b7mni?file=/src/index.tsx

Note that I also had to make a small CSS tweak to make the context menu wrapper element `display: inline-block` in order to contain the target area for the right-click interaction,

[2021-05-18 17:34] #4708 closed, assigned to nobody

[2021-05-19 03:46] ryanyue123 commented on #4686
@adidahiya did you have a chance to look at the video

[2021-05-19 17:51] adidahiya commented on #4719
On second thought, this may not be a bug per se. If you look at native context menus, we allow those to pop up while the underlying Tooltip or Tooltip2 is left open:

![image](https://user-images.githubusercontent.com/723999/118860332-41ed8100-b8a9-11eb-9976-1cfe893f4a93.png)

[2021-05-19 18:17] aycai commented on #4719
To me, the browser context menu appears as a control point coming from outside the page (the browser itself); the right click isn't scoped to the page. Having two different interactions from two separate scopes isn't graceful, but not unreasonable.

ContextMenu2 is an intentional override that is scoped within the page. This means there are two interactions within a single scope, which then makes

[2021-05-19 21:07] hadnet commented on #1539
It's a shame Blueprint does not support some kind of decent ThemeProvider (asking for Styled Component is too much of a dream, I think). And v4 won't get nothing about Theme, unfortunately.

[2021-05-20 11:42] vladimir-djokic commented on #4720
This is my use case:

![Screenshot 2021-05-20 132905](https://user-images.githubusercontent.com/16443718/118971580-e508ce00-b96f-11eb-8ad3-831370b57761.png)

Clicking on `Folder`, `File` or `Document` directly (as they are `MenuItem`s) results in **Wizard** for creating those objects.

However, there is also a concept of "classification" where clicking on a button next to them will display a subme

[2021-05-20 15:33] adidahiya commented on #4720
Interesting, thanks for sharing @vladeck. I will make the change I suggested in my comment above, and also consider supporting your style of menu item w/ submenu in a more first-class way, as it looks like it could be useful for other Blueprint users.

[2021-05-20 17:10] adidahiya commented on #4001
looks like it is still a bug with the latest versions: https://codesandbox.io/s/blueprint-sandbox-forked-shq49?file=/src/SelectExample.tsx

related: https://github.com/palantir/blueprint/issues/4695

[2021-05-20 17:19] adidahiya commented on #4695
`captureDismiss` allows you to achieve the kind of interaction you want -- it's designed to prevent a click inside a popover from closing _parent_ popovers in addition to the current one. see my fork of your sandbox https://codesandbox.io/s/trusting-taussig-lv927?file=/src/App.js

alas, the problem still persists after adding `popoverProps={{ captureDismiss: true }}`. this is because Select uses P

[2021-05-20 17:31] franciscohanna92 opened #4726 "QR code icon"
#### Feature request

A QR Code icon

#### Examples

![image](https://user-images.githubusercontent.com/12707758/119023250-fb1a8c80-b977-11eb-8557-88caf3b9a36b.png)

[2021-05-20 18:33] maclockard opened #4727 "Hovering over a tooltip even with HOVER is almost impossible"
#### Environment

- __Package version(s)__:
  - `@blueprintjs/core`: 3.40.0
  - `@blueprintjs/popover`: 0.3.1
- __Operating System__: macOS
- __Browser name and version__: Firefox 88.0.1

#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/s/blueprint-sandbox-forked-pyqub?file=/src/index.tsx:984-989

#### Steps to reproduce

1. Hover over the button that says "Normal tool tip"
2. Tr

[2021-05-20 19:19] adidahiya commented on #4727
try `hoverCloseDelay={200}` (or some suitable ms value)?

[2021-05-20 19:43] jkillian opened #4728 "Portal crashes when removing multiple classes at once"
#### Environment

- __Package version(s)__: 3.40.1
- __Operating System__: macOS
- __Browser name and version__: FF 89

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprint-sandbox-forked-4d9d2?file=/src/Popover2Example.tsx

#### Steps to reproduce

1. Specify a string with multiple class names a

[2021-05-20 19:58] maclockard commented on #4727
ah, that definitely helps a lot. No longer need `minimal` with that.

[2021-05-20 20:51] #4727 closed, assigned to nobody

[2021-05-20 20:59] #4519 closed, assigned to nobody

[2021-05-20 21:01] #4728 closed, assigned to nobody

[2021-05-21 20:02] pringshia opened #4731 "useHotkeys from within an iframe"
#### Environment

Testing on Chrome Version 90.0.4430.212 (x86_64) / macOS Big Sur

**Repro: https://codesandbox.io/s/blueprintjs-hotkeys-iframe-xwcpw?file=/src/App.js**

<a href="https://codesandbox.io/s/blueprintjs-hotkeys-iframe-xwcpw?file=/src/App.js"><img width="516" alt="Screen Shot 2021-05-21 at 4 01 43 PM" src="https://user-images.githubusercontent.com/425059/119192284-dc86c500-ba4d-11eb-9

[2021-05-22 07:52] kefd commented on #4468
I have the same problem.. want to code this feature how i do it?

[2021-05-24 16:17] justinbhopper commented on #3407
@adidahiya Can you explain the rationale by the console.errors for the "Out of range" use case?

When using the DateInput in uncontrolled mode, if the user types in a date out of the valid range, we report this as a console.errors in dev-mode.  It at least doesn't blow up thanks to the latest fix, but I fail to understand why we would want to even report this as an error in the console.

A develop

[2021-05-25 18:15] adidahiya commented on #4468
@kefd this will be addressed by #4474 in v4.0

[2021-05-26 03:41] marcoamonteiro opened #4733 "Overwritting Card css with css className"
#### Environment

- __Package version(s)__: 3.44.3
- __Browser and OS versions__: Chrome

#### Question

I have a Card component. I would like to overwrite the padding of the Card. I defined the following css class:
`
.Login-screen-card {
    margin: auto;
    width: 450px;
    padding-left: 100px;
    padding-right: 100px;
}`
This is the html:
`
<Card className="Login-screen-card" elevation={2}>

[2021-05-26 16:07] jabsatz commented on #4528
I would need this for a project I'm working on, since I'm using react-testing-library and would have to access dialogs by role. I'm preparing a solution and hopefully have a PR soon so it can be reviewed.

[2021-05-26 21:00] adidahiya commented on #4733
can you please post a code sandbox demonstrating the issue? the problem may reveal itself more clearly if you do.

[2021-05-26 21:04] #4265 closed, assigned to nobody

[2021-05-26 23:09] kefd commented on #4468
@adidahiya when release v4.0?

[2021-05-27 00:34] #4719 closed, assigned to adidahiya

[2021-05-27 08:38] vhellem opened #4738 "DateInput with time picker closes unexpectedly after entering time field with default closeOnSelection setting"
#### Environment

- __Package version(s)__: @blueprintjs/datetime 3.23.2
- __Operating System__: Mac OS
- __Browser name and version__: Chrome 90.0.4430.212

#### Code Sandbox
https://codesandbox.io/s/blueprint-sandbox-forked-znhwi?file=/src/DatetimeExample.tsx

#### Steps to reproduce

1. Fill in a timestamp
2. Select a date

#### Actual behavior

Date choice is ignored and only the timestamp inp

[2021-05-27 15:21] adidahiya commented on #4738
@vhellem can you be a little more explicit about the repro steps? what are the exact clicks you are doing? a gif or video would help.

have you tried setting `closeOnSelection={false}`? seems to work reasonably well when I do that on my [fork of your sandbox](https://codesandbox.io/s/blueprint-sandbox-forked-dtolp?file=/src/DatetimeExample.tsx):

![2021-05-27 11 18 49](https://user-images.githubus

[2021-05-27 15:28] vhellem commented on #4738
![repro_timestamp_select](https://user-images.githubusercontent.com/9450684/119854005-fa05d400-bf10-11eb-833b-0e81ee8f8d99.gif)

adding closeOnSelection={false} does help!

[2021-05-27 15:34] adidahiya commented on #4738
I will consider making `closeOnSelection={false}` the default in Blueprint 4.0 for datepickers which have time input enabled. When you expect users to type into the time input fields it almost never makes sense to close after blurring one of those fields.

[2021-05-27 18:27] #4691 closed, assigned to adidahiya

[2021-05-27 18:27] #4695 closed, assigned to adidahiya

[2021-05-28 17:26] tinjaw opened #4741 "Are Any Real-time Support Options Available?"
#### Question

I am using Blueprint now on a project that is **due in a few days**. I would like some help, but I do not see any forums, slack channels, or discord servers available. Is there any way that I can get _real-time_ assistance?

[2021-05-29 06:50] mustafo commented on #2418
Totally agree with @0xorial

In addition, the workaround with second argument has this problem:
When the user is selecting another date, which is in different month, the popover won't close. If the next date is within current date's month, popover closes properly. How can I fix this?

[2021-06-01 14:29] adidahiya commented on #4741
No, Blueprint does not have any official slack channels or discord servers for real-time support at the moment.

[2021-06-01 14:29] #4741 closed, assigned to nobody

[2021-06-01 21:00] adidahiya opened #4742 "ContextMenu2 does not close on escape keypress"
#### Environment

- __Package version(s)__: popover2 v0.10.0
- __Operating System__: macOS
- __Browser name and version__: Firefox / Chrome

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-forked-epowp?file=/src/index.tsx

#### Steps to reproduce

1. Right click on button to open context menu
1. Press ESC key

#### Actual behavior

Context menu stays open

#### Expected behavior

Con

[2021-06-01 21:08] adidahiya opened #4743 "ContextMenu2 does not detect dark theme target correctly"
#### Environment

popover2 v0.10.0

#### Actual behavior

![image](https://user-images.githubusercontent.com/723999/120390567-de793f80-c2fb-11eb-888f-02fa1e8e8fdd.png)

#### Expected behavior

the popover should use dark theme

[2021-06-02 07:15] pcdv commented on #1712
Looks like with the latest Firefox update (89.0) the issue is gone

[2021-06-03 14:50] ZohWeiss opened #4745 "Dismiss button for Callouts"
It would be nice to have a small "X" / Dismiss button for Callout items if desired.
There are times where it would be useful to display a Callout to draw attention to something, but allow the user to dismiss it if it's not relevant anymore. Seems like it'd be fairly easy to implement as well.

Functionally, it's similar to a Toast, but more for information rather than an alert.

[2021-06-03 15:25] jschraub commented on #4745
Would like to see this as well included in the default implementation of Callouts.

[2021-06-03 21:59] #4742 closed, assigned to nobody

[2021-06-04 03:50] kefd opened #4746 "why blueprint still doesn't have a grid system?"
#### Environment

- __Package version(s)__:
- __Browser and OS versions__:

#### Question

[2021-06-04 10:37] wenerme commented on #4746
Please do not add grid system, blueprint is about components, not styling. blueprint provide css style component, this is great, use this alot, but please let tailwind or styled to handle the infinite styling.

[2021-06-07 09:09] wisdomG opened #4747 "Incorrect context-menu position when using ContextMenu2 in react-tiny-virtual-list."
#### Environment

- __Package version(s)__: `"@blueprintjs/core": "3.44.3"` and ` "@blueprintjs/popover2": "0.9.0"`,
- __Operating System__: Ubuntu 16.04
- __Browser name and version__: Version 91.0.4472.77 (Official Build) (64-bit)

#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/s/blueprint-sandbox-forked-36jpx

#### Steps to reproduce

I wanted to add `ContextMenu2` on each e

[2021-06-07 14:47] templth opened #4748 "Only three digits displayed for row numbers in tables"
In the case, we have a large number of rows (> 1000 rows), the line number is trimmed. Only three digits can be displayed.

![image](https://user-images.githubusercontent.com/558344/121037502-c861f800-c7af-11eb-8d87-cae3a8e4b3c8.png)

Is there a way to make this column larger?

Version `3.8.33` of `@bluprintjs/table` is used.

Thanks!

[2021-06-07 16:30] adidahiya commented on #4747
@wisdomG can you please try again with the latest popover2 version (v0.10.1)? I made some positioning changes in the v0.10 releases

[2021-06-08 02:43] wisdomG commented on #4747
@adidahiya Yeah, it works with the latest version. Thank you

[2021-06-08 12:57] jlorince opened #4749 "`Text` component does not render tooltip when shrinking window with `ellipsize={true}`"
#### Environment

- __Package version(s)__:  @blueprintjs/core@^3.40.0"
- __Operating System__: MacOS 11.3
- __Browser name and version__: Chrome Version 91.0.4472.77

#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/s/blueprint-sandbox-forked-6by3e?file=/src/index.tsx

#### Steps to reproduce
1. Ensure the window is large enough that text does *not* ellipsize
2. Reload the page

[2021-06-08 13:15] jgentes opened #4750 "Doc Suggestion: Move Dark Theme from Typography to Colors, Classes, or Variables"
Just a quick suggestion - I had a hard time (until I searched, of course) finding the specifics for how to use the dark theme.

It seemed odd to me that it wasn't under Colors or Classes or Variables, but was located under Typography. Since it is a theme-wide setting, would it be better to move this elsewhere?

https://blueprintjs.com/docs/versions/4/#core/typography.dark-theme

Great job, btw!

[2021-06-08 15:10] #4747 closed, assigned to nobody

[2021-06-08 15:19] adidahiya commented on #4746
We haven't had a strong need for it, and the [Grid & dimensions docs section](https://blueprintjs.com/docs/#core/variables.grids---dimensions) still represents our current stance on this. We use flex box styling for layouts in our applications.

[2021-06-08 15:23] maclockard commented on #4749
The inverse is true as well, if the initial page load has the text ellipsized, it has a tooltip unconditionally even upon resize. The core of the issue here is that the component only measures the text when mounting or rerendering: https://github.com/palantir/blueprint/blob/develop/packages/core/src/components/text/text.tsx#L70-L76. So if the contents of the text changed such that it changed wheth

[2021-06-08 19:53] ejose19 opened #4751 "Sass: DEPRECATION WARNING: Using / for division is deprecated and will be removed in Dart Sass 2.0.0"
#### Environment

- __Package version(s)__: 3.45.0
- __Operating System__: Linux
- __Browser name and version__: N/A

#### Code Sandbox

N/A (Build warnings)

#### Steps to reproduce

1. Use latest version of `sass` (1.34.1)
2. Run a code build
3. Notice many warnings in the output

#### Actual behavior

Output receives a lot of deprecation warnings, e.g:
[code]

#### Expected behavior

No warning

[2021-06-08 21:30] adidahiya commented on #4751
related to #4032, we'll need to address this when moving to dart sass (currently we use node-sass)

[2021-06-08 21:34] adidahiya commented on #4750
Good point, I'll look into moving the section to make it more discoverable.

[2021-06-08 22:39] adidahiya commented on #4720
@vladeck actually, you should be able to enable the offset yourself simply by adding `enabled: true` to the modifier. with your initial code example, you should change it to:

[code]

you can do this with any of the modifiers. I'll update the prop documentation to make this more clear.

[2021-06-08 22:48] #4720 closed, assigned to adidahiya

[2021-06-08 22:57] #4676 closed, assigned to adidahiya

[2021-06-08 23:05] #4668 closed, assigned to adidahiya

[2021-06-08 23:43] adidahiya commented on #4600
Tried to debug this a bit and it looks like it's still a problem in v4.0.0-alpha.0, where MenuItem submenus use the new Popover implementation: https://codesandbox.io/s/blueprint-sandbox-forked-0pckz?file=/src/index.tsx

Not exactly sure what the problem is but the [popover click handler](https://github.com/palantir/blueprint/blob/c91f71b6ea62d165a597854dca6ab06dfb352422/packages/popover2/src/popo

[2021-06-09 01:08] adidahiya opened #4754 "[v4] table body context menu skipped test"
Need to fix a failing test on the `next` branch: https://app.circleci.com/pipelines/github/palantir/blueprint/1281/workflows/18901167-2c58-40d5-82b1-c1314deaa30d/jobs/44207

Skipped for now.

[2021-06-09 07:32] Alanm63 commented on #3282
I already have it set up this way but the icons do not show on the page.

[2021-06-09 07:46] epiphaneSpecter commented on #3282
@Alanm63  stop the server and restart it to rebuild the project.

[2021-06-09 07:51] Alanm63 commented on #3282
Thank you epiphaneSpecter, I have done an NPM start many times but it does not seem to help. The icons showed a few days ago but then stopped.
from package json
    "@blueprintjs/core": "^3.45.0",
    "@blueprintjs/icons": "^3.26.1",
    "@blueprintjs/table": "^3.8.33",
    "@reduxjs/toolkit": "^1.5.1",

  Index.js
  import 'normalize.css/normalize.css'
import '@blueprintjs/core/lib/css/blueprint.

[2021-06-09 11:36] vladimir-djokic commented on #4720
@adidahiya Thank you, that works!

[2021-06-11 17:28] #4743 closed, assigned to nobody

[2021-06-11 17:35] jgentes commented on #4443
FWIW, I used this simple workaround to at least maximize the table column widths based on the page/container width:

[code]

Then when defining the table:

`<Table columnWidths={columnDefs.map(c => c.width)} />`

This workaround doesn't help when resizing the window unless you force a re-render, which would then require de-bouncing the re-render method to avoid too many renders while resizing.

Wo

[2021-06-11 19:11] adidahiya commented on #3789
Seems to work fine in the current version. If it persists, leave a comment and I can re-open the issue.

![2021-06-11 15 11 01](https://user-images.githubusercontent.com/723999/121737792-5519f800-cac7-11eb-9897-9332c2d3ce74.gif)

[2021-06-11 19:11] #3789 closed

[2021-06-12 11:50] ejose19 opened #4758 "Font issue on systems without many fonts installed"
#### Environment

- __Package version(s)__: 3.45.0
- __Operating System__: Linux / Android
- __Browser name and version__: Linux: Chromium 90 | Android: Bromite / Brave

#### Code Sandbox

Even the main site can be used to reproduce the bug: https://blueprintjs.com/docs/

#### Steps to reproduce

1. Install chromium on vanilla debian
2. Go to https://blueprintjs.com/docs/
3. Click on Search (or sh

[2021-06-12 12:04] ejose19 commented on #4758
Upon inspecting the file that loads that font-family:

https://github.com/palantir/blueprint/blob/d0b444bbf85a85491fcaf1135aed26e90cc76c3a/packages/core/src/common/_variables.scss#L17-L28

Do really we need it? After removing the font-family I couldn't notice any issue with the site, the icons still renders as usual (and actually the words/paragraph are better spaced).

EDIT: I found https://githu

[2021-06-14 02:13] connorokeefe opened #4759 "Unable to override default styles for .scss"
#### Environment

- __Package version(s)__: "@blueprintjs/core": "3.45.0"
- __Browser and OS versions__: Chrome, Linux

#### Question

I'm trying to override the default styles but I am running into an issue not addressed in any of the other answers to this question. I am importing `"~@blueprintjs/core/src/blueprint.scss"` into my react project after the variables are overwritten, but as a result

[2021-06-14 13:55] abouolia opened #4760 "Right-to-left support"
Unfortunately Blueprint doesn't support RTL at all, we work on a product that supports some RTL languages, we're ready to put a huge effort to make all Blueprint components support RTL out of the box on the main repository, but this feature will add major changes to the code, let me give an example.

One of the biggest challenges, passing RTL state to all sub-components, that won't be done without

[2021-06-14 14:50] adidahiya commented on #4759
seems related to #4032 and #4415, try building with node-sass for now until we migrate to dart sass

[2021-06-14 19:00] adidahiya commented on #4758
In v4 I changed the icons build infrastructure to use [fantasticon](https://github.com/tancredi/fantasticon), which generates the icon font files. If your issue is not present there then I am inclined to close it as "fixed", as I don't really want to make more changes to icons tooling in the 3.x range. 4.0 alpha/beta releases will be coming in the next few weeks, and a stable version is expected i

[2021-06-14 19:36] epx-nathan opened #4762 "Add ability to pass `autoComplete` as a prop to `DateInput`"
Hello!

At the moment it's possible to pass an `autoComplete` prop to the `<InputGroup/>` component, which is great! We use this with a number of our text input fields to be more accessible for our users.

I'm creating this issue because I would like to be able to pass `autoComplete` as a prop to the `<DateInput/>` component. I did a search in your codebase and saw where it was set to `"off"`, but

[2021-06-14 20:19] adidahiya commented on #4760
We have extremely basic support for RTL text documented in the typography section of the docs: https://blueprintjs.com/docs/#core/typography.right-to-left-text

I would be open to adding more robust RTL support to components. It could be done with React context and a theme provider, as we are moving towards a minimum dependency of React 16.8+ in Blueprint 4.0.

Before you send a PR, can you write

[2021-06-14 20:22] sepehr500 opened #4763 "Switch from inputRef to ref for Inputs"
#### Environment

- __Package version(s)__:  v4 alpha
- __Browser and OS versions__: all

#### Feature request

Blueprint v4 is switching `elementRef` to the ["simpler, more straightforward"](https://github.com/palantir/blueprint/wiki/Blueprint-4.0#:~:text=simpler%2C%20more%20straightforward%20ref)  `ref` for non input elements. Can we also do the same for inputs that use `inputRef`. This would he

[2021-06-14 20:29] adidahiya commented on #4762
Did you try `<DateInput inputProps={{ autoComplete: "on" }} />`? It seems to work when I try it in the Blueprint docs via React devtools.

[2021-06-14 20:48] epx-nathan commented on #4762
@adidahiya You are a lifesaver! That did the trick, thank you. Will close this issue!

[2021-06-14 20:48] #4762 closed, assigned to nobody

[2021-06-14 22:58] ejose19 commented on #4758
I'd argue that since the fix is very small (just swapping the order on the last 2 font-families) it should be done for 3.x branch, if you agree I can make a PR.

[2021-06-15 09:56] DanielDanielDanielDanielDaniel opened #4764 "Icon request: "Open in new tab""

[2021-06-15 16:27] adidahiya commented on #4764
We generally get by using the "share" or "arrow-top-right" icons for actions like this, so I'm not sure we need a new icon here. @aycai any thoughts on this?

Example in the docs app:

![image](https://user-images.githubusercontent.com/723999/122089605-ec878f80-cdd4-11eb-9be6-81acca0d5e46.png)

[2021-06-15 16:33] adidahiya commented on #4758
@ejose19 as you can see that swap was done explicitly in PR https://github.com/palantir/blueprint/pull/1150. are you sure it's safe to revert?

[2021-06-15 18:12] ejose19 commented on #4758
After reading that linked PR, I see that the "solution" shouldn't have be merged in first place, specially when it should have been solved at the dependency level `css-nano` (like whitelisting certain families from the rule). The issue here is that when the system doesn't have any of the previous fonts:
`-apple-system,"BlinkMacSystemFont","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open San

[2021-06-15 20:21] DanielDanielDanielDanielDaniel commented on #4764
You’re totally right. I found the icon later that day and wasn’t able to delete that post. Thanks for mentioning.

[2021-06-15 20:26] aycai commented on #4764
+1 to what Adi's points, glad you found it!

[2021-06-15 20:30] #4764 closed, assigned to nobody

[2021-06-16 14:47] nickensoul commented on #4362
https://user-images.githubusercontent.com/14836054/122240307-5897ef80-ceca-11eb-9b59-c32543fa4464.mov

@adidahiya in the screencast attached,  there should not be any other values in the input other than "constant query" after changing event

[2021-06-16 20:18] nadia26 opened #4765 "Table vertical scroll is improperly disabled when ghost cells are visible"
#### Environment

- __Package version(s)__: at least `"@blueprintjs/table": "3.5.0"` - `3.8.33`
- __Operating System__: OSCatalina 10.15.7
- __Browser name and version__: Chrome 91.0.4472.101

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-forked-kpx0r?file=/src/index.tsx

#### Steps to reproduce

1. create a table
2. enable ghost cells
3. restrict the table height such that the las

[2021-06-16 21:48] rubenmbm3 opened #4766 "Error in @blueprintjs/datetime, DateInput component using google chrome: "TypeError: Cannot read property 'querySelectorAll' of null""
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@blueprintjs/datetime@3.19.3` for the project I'm working on.

Error in @blueprintjs/datetime, DateInput component using google chrome: "TypeError: Cannot read property 'querySelectorAll' of null"

Here is the diff that solved my problem:

[code]

<em>This issue b

[2021-06-17 19:21] ejose19 commented on #4758
Some more reports on this issue, v4 is not having any conflicts due to their icons being in a different "range" than v3 icons:

v3:
![v3](https://user-images.githubusercontent.com/8742215/122457722-534bab00-cf85-11eb-89bf-ec982c53a1e1.png)

v4:
![v4](https://user-images.githubusercontent.com/8742215/122459118-e9cc9c00-cf86-11eb-9909-05888b5396e2.png)

As you can see in the unicode value, v3 is con

[2021-06-17 20:04] adidahiya commented on #4766
Duplicate of https://github.com/palantir/blueprint/issues/4399, please upgrade your datetime package.

[2021-06-17 20:04] #4766 closed, assigned to nobody

[2021-06-17 23:03] rafiazman commented on #4569
@adidahiya Would just like to add that this seems to be present with `Tooltip2` as well.

[2021-06-18 21:41] ejose19 commented on #4170
I've stumbled on this as well, and seems to be an [unresolved bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1487102) with firefox where `preventDefault` is not actually preventing anything. Only "workaround" I see is throwing another hack on: https://github.com/palantir/blueprint/blob/2968e3720d06861ee7eab804307b82c64f3d751c/packages/core/src/components/button/abstractButton.tsx#L168-L177

to

[2021-06-18 22:01] codeasashu opened #4769 "Click inside popover content duing test"
#### Environment

- __Package version(s)__:  `@blueprintjs/core": "^3.40.0", "@blueprintjs/popover2": "^0.3.1"`

- __Browser and OS versions__: `"jest": "^26.6.3", @testing-library/jest-dom": "^5.11.10"`

#### Question

I am trying to render a content inside Popover2, which have some buttons. Those buttons tiggers the handler attached to parent node. I am trying to assert that the trigger is corre

[2021-06-19 09:03] codeasashu commented on #4769
I've made some progress.

I think the `act` was causing all the issue. Without it, everything seems to be working fine. This is a working example:

[code]

But, removing `act` is showing this warning even though tests are passing:

[code]

How can I get rid of this?

[2021-06-19 10:37] S0urcemaster commented on #3399
You've changed the font.

[2021-06-19 11:09] codeasashu commented on #4769
Got it. I just needed to call `wrapper.update()` to let the state update and resolve all pending promises.

Here is the updated code:

[code]

[2021-06-19 11:09] #4769 closed, assigned to nobody

[2021-06-19 17:52] itsfarseen opened #4770 "Docs Bug: DOMException on Hotkeys page in both v3 and v4 docs."
### Steps to reproduce
Visit this page https://blueprintjs.com/docs/#core/components/hotkeys using Firefox 89.

### What happens
Page goes white and this error is shown in the console:
![image](https://user-images.githubusercontent.com/40014472/122651112-50eb7b80-d154-11eb-950c-b299376537b4.png)

[2021-06-20 19:39] abouolia commented on #4760
To make Blueprintjs components library fully RTL supportive there are two sides we should think about.
**CSS RTL transformation** and **Passing direction context state**

**CSS RTL transformation**
My proposal about this issue is to depend on [RTLCSS](https://rtlcss.com/) and [postcss-rtlcss](https://www.npmjs.com/package/postcss-rtlcss) to build LTR/RTL rules, but this requires reviewing all comp

[2021-06-22 04:18] ike-ko commented on #4686
@ryanyue123 Were you able to find a solution/workaround to this? Running into the same issue with PanelStack2..

[2021-06-22 17:48] adidahiya commented on #4535
@awsp actually, looking at this more closely... why are you using `leftElement` and not `leftIcon`? The docs tell you to use `leftIcon` for icons. You can use either `leftIcon="tag"` or `leftIcon={<Icon icon="tag" />}`.

![image](https://user-images.githubusercontent.com/723999/122967312-55808180-d358-11eb-9ca0-36b245b68902.png)

Despite that, though, I can see that anything put into `leftElement`

[2021-06-22 17:58] #4535 closed, assigned to nobody

[2021-06-22 19:02] adidahiya commented on #4758
I thought about this some more and I think you're right that we can remove the Icons16 font from the font-family stack. However, it would be a small breaking change. Unfortunately I have no way of knowing if people are using that font as suggested in https://github.com/palantir/blueprint/issues/1107#issuecomment-302267688:

So, as much as I'd like to remove it, it will have to wait until 4.0.

[2021-06-22 19:04] adidahiya commented on #4758
Btw, the docs about icon font being "legacy" is a little outdated. I've fixed that here: https://github.com/palantir/blueprint/pull/4772

[2021-06-22 19:20] adidahiya commented on #4731
Thanks for bringing this up. It is a unique use case but it's definitely within the realm of things we should support. Making assumptions about `document` and `window` is always limiting, and I'd like to make Blueprint APIs configurable in that regard wherever possible (related: #3972, #4159).

I think this can be solved by accepting a custom `document` in `useHotkeys` and `HotkeysTarget2` via `Us

[2021-06-22 19:38] ejose19 commented on #4758
Sure, let's remove it for v4 then and let users explicitly use the `Icons16` as `font-family` instead of applying it implicitly. I'll keep using the patch until v4 is released as my site was having many reports about `?` characters being mapped to an icon (and honestly I'm surprised nobody reported this issue before).

[2021-06-22 20:11] #4731 closed, assigned to adidahiya

[2021-06-22 20:11] adidahiya commented on #4731
@pringshia please let me know if my changes in #4773 work in the next release. I can make tweaks if necessary.

[2021-06-22 21:27] invliD commented on #4686
@ryanyue123 Are you using PanelStack2 or the old PanelStack? I can confirm this bug on the former, but not the latter.

[2021-06-23 00:23] awsp commented on #4535
@adidahiya
No particular reason why I had to use leftElement instead of leftIcon.
I was only following what this example was doing.
https://github.com/palantir/blueprint/blob/develop/packages/docs-app/src/examples/core-examples/inputGroupExample.tsx#L128

In fact, I was using a different element other than icon in my actual code.

[2021-06-23 00:53] pringshia commented on #4731
seems to be working at a quick initial glance, thanks @adidahiya!

[2021-06-23 17:58] thebeckyhamm opened #4775 "Pressing "Clear" on DatePicker with TimePicker doesn't clear time inputs"
#### Environment

- __Package version(s)__:
  - "@blueprintjs/core": "3.31.0"
  - "@blueprintjs/datetime": "^3.23.4"
- __Operating System__: Mac OS 10.15.7
- __Browser name and version__: Chrome 91.0.4472.114

#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/embed/timepicker-not-clearing-u08v6?fontsize=14&hidenavigation=1&theme=dark

Also here:

https://user-images.githubusercont

[2021-06-23 18:17] thebeckyhamm opened #4776 "DateInput popover opens again after editing hours or minutes"
#### Environment

- Environment
- Package version(s):
  - "@blueprintjs/core": "3.31.0"
  - "@blueprintjs/datetime": "^3.23.4"
- Operating System: Mac OS 10.15.7
- Browser name and version: Chrome 91.0.4472.114

#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/embed/popover-popping-up-again-n5r7v?fontsize=14&hidenavigation=1&theme=dark

#### Steps to reproduce

1. Have time showi

[2021-06-23 21:51] adidahiya opened #4777 "ContextMenu2 clicks inside popover propagate to wrapper"
#### Environment

- __Package version(s)__: popover2 0.10.1
- __Operating System__: macOS
- __Browser name and version__: Chrome

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-forked-yj0fp?file=/src/Popover2Example.tsx

#### Steps to reproduce

1. Right click on example button "1"
1. Click on the single menu item

#### Actual behavior

Both the menu item click handler and the conte

[2021-06-23 22:06] adidahiya commented on #4776
Thanks for the clear repro. It looks like DateInput behaves as expected if I edit the hour input, blur it (e.g. by tabbing to the next input), and _then_ click outside the popover (first half of this gif).

But I see the bug if I _immediately_ click outside the popover while the input is still focused after editing it (second half of this gif).

![2021-06-23 18 00 29](https://user-images.githubuse

[2021-06-23 22:15] adidahiya commented on #4775
Hmm, it looks like the value is being cleared, but the TimePicker is not happy about the `null` value it gets and so it doesn't re-render to show 0:00:00. Notice that if you click on another date in the calendar after clicking "Clear", the time goes to 0:00:00.

[2021-06-23 22:19] #4777 closed, assigned to nobody

[2021-06-24 02:54] leonyjiang opened #4779 "EditableText's `onCancel` Prop Doesn't Fire On `<esc>`"
#### Environment

- __Package version(s)__:
  - @blueprintjs/core: 3.46.0
  - react: 17.0.2
  - react-dom: 17.0.2
- __Operating System__: macOS Big Sur 11.4
- __Browser name and version__: Google Chrome, Version 91.0.4472.114 (latest)

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprint-editable

[2021-06-24 11:32] S0urcemaster opened #4780 "Table Whites Out With Mouse Scroll Greater Than 3 Rows"
#### Environment

Try out on the blueprint table feature docs page..

#### Code Sandbox

https://blueprintjs.com/docs/#table/features

#### Steps to reproduce

Set mouse scroll (windows) to greater than 3 lines.
Scroll the table.

#### Actual behavior

When scrolling up the first two rows sometimes don't get displayed/updated.

![grafik](https://user-images.githubusercontent.com/68502837/123255842

[2021-06-24 15:49] #4288 closed, assigned to nobody

[2021-06-24 15:53] adidahiya commented on #4779
Thanks for the clear repro and sandbox. This looks like the same issue as this very old issue: https://github.com/palantir/blueprint/issues/975. Looks like it was never fixed properly, for some reason. The test suite is buggy / not representative of real behavior.

[2021-06-25 19:43] evansjohnson opened #4782 "Tag onClick does not fire with spacebar or enter press when focused"
#### Code Sandbox
https://codesandbox.io/s/palantir-blueprint-forked-s0reo

#### Steps to reproduce
1. click tag, observe onClick handler works
2. use tab to navigate to tag, onClick does not fire with spacebar or enter

`Button` included to show expected behavior

#### Actual behavior
`onClick` of `Tag` does not fire with spacebar or enter press when focused

#### Expected behavior
spacebar/enter

[2021-06-28 18:36] wernst opened #4783 "Scale transforms impact table cell selection"
#### Environment

- __Package version(s)__: @blueprintjs/core 3.46.0, @blueprintjs/table 3.8.34
- __Operating System__: MacOS Catalina 10.15.7
- __Browser name and version__: Chrome Version 91.0.4472.114

#### Code Sandbox

Repro: https://codesandbox.io/s/priceless-voice-1hfqp?file=/src/App.js

#### Steps to reproduce

In the attached codesandbox:
1. Click cell row 6 col 3 (for example)
2. See sel

[2021-06-29 10:57] vileen commented on #4241
@bsdis did you solve the problem or was it just your mistake? Why did you just close the issue without any information?

[2021-06-29 21:15] maliyshock commented on #3739
So... it is still opened, hah?

[2021-06-30 13:59] tinopetros commented on #890
Curious if there are any updates on this? Timezone support within the components listed above would be really helpful. I am interested in taking a look but would want to take a direction that makes sense. Seems like moment is still used, would you recommend continuing that way or looking into using ISO strings instead?

[2021-06-30 14:04] adidahiya commented on #4782
I'm not sure this is expected behavior for tags. If you really want something so interactive that it can be focussed and clicked via the keyboard, you probably want a minimal or outlined button instead. I don't think your requested feature exists in other design toolkits like Bootstrap or Ant (tags are not even focussable by default in Ant).

[2021-06-30 15:12] wernst commented on #4542
@lanzhenw Just ran into this same snag...Did you end up figuring out a reasonable way to do this?

[2021-06-30 15:13] danny-does-stuff opened #4787 "How can I find the correct css classes to use for more custom styling?"
#### Environment

- __Package version(s)__: 3
- __Browser and OS versions__: N/A

#### Question

While working with Blueprint, I often find that I want some styles that I believe are provided by blueprint but the documentation does not describe how to get these styles. What I'm wondering about is how can I know what blueprint css classes are available to use and what they do? Currently, there is a

[2021-06-30 21:37] adidahiya commented on #4787
As you suggested, you probably don't want to use the "dialog footer actions" class inside a popover, as it would likely be semantically confusing for the next person who reads the code.

In this case, it sounds like you're looking for a utility class to apply some spacing between buttons. This doesn't really exist in Blueprint. The `Classes` object is useful if you're trying to add custom styling

[2021-06-30 22:16] danny-does-stuff commented on #4787
Thanks for your time!

So it sounds like what you're saying is that blueprint does not really prescribe this type of styling (spacing, layout, etc), so these things are better off left to custom CSS. That makes sense to me. Do you have any suggestions about when to look to blueprint for these things and when to make something custom? For example with the button spacing, blueprint clearly has an op

[2021-07-01 16:57] adidahiya opened #4789 "HotkeysProvider does not work properly when Table is rendered on the same page"
#### Environment

- __Package version(s)__: core 3.46.0, table 3.8.34
- __Operating System__: macOS
- __Browser name and version__: Chrome

#### Steps to reproduce

1. Use HotkeysProvider, register some global hotkeys
1. Render a Table on the same page
1. Open the hotkeys dialog with "?"

#### Actual behavior

You get two dialogs open, one of them is empty (the one triggered by the old `@HotkeysTa

[2021-07-01 17:07] adidahiya commented on #4787
We use a 10px grid, and we encourage you to use the `$pt-grid-size` variable for spacing: https://blueprintjs.com/docs/#core/variables.grid-system

[2021-07-01 18:45] danny-does-stuff commented on #4787
Ok thank you so much! That makes more sense. I looked into it and it doesn't look like those variables are available as css variables which is too bad, I don't think I will be needing to convert these to css variables in order to use them without adding a css preprocessor to my setup. Thanks for your help!

[2021-07-01 19:05] tnrich opened #4791 "Long MenuItem submenus are not fitting on the page properly. Need scrolling support"
Hey there @adidahiya and others. I've long admired how well your Menu's work. In general they're great!

However, I've noticed that long submenus seem to fall off the page:
![image](https://user-images.githubusercontent.com/2730609/124176873-5c984580-da64-11eb-8f18-b4e7756a0623.png)

Here's a link to a repro: https://codesandbox.io/s/blueprint-sandbox-forked-emhkz

Click the Primary button to see

[2021-07-01 20:06] marcoamonteiro commented on #1517
Hi Benoit, I'm running into this issue. Where should the above css go to fix the issue?

[2021-07-01 21:10] adidahiya commented on #1517
@marcoamonteiro this is a very old issue and it refers to an old version of Popover2. If you are experiencing a similar problem now with `@blueprintjs/popover2`, please file a new issue.

[2021-07-01 21:16] adidahiya commented on #4791
Is it possible to target those submenus with a custom class and apply a `max-height`? That's generally the approach we've taken for long menus.

[2021-07-01 22:26] tnrich commented on #4791
@adidahiya ok I think I have a CSS solution that is decent:

[code]
![image](https://user-images.githubusercontent.com/2730609/124196124-9e36e980-da80-11eb-988f-fb571446137f.png)

Here's the sandbox link: https://codesandbox.io/s/blueprint-sandbox-forked-5f1si?file=/src/CoreExample.tsx

I'll close this and re-open it if I hit any snags implementing it.

Thanks!

[2021-07-02 10:51] LoiKos opened #4792 "Popover v2 always take focus even if autoFocus is disabled"
#### Environment

- __Package version(s)__:
    "@blueprintjs/core": "^3.46.0",
    "@blueprintjs/popover2": "^0.11.0",
- __Operating System__: Mac OS, Big Sur 11.4
- __Browser name and version__: Chrome Version 91.0.4472.114 (Build officiel) (x86_64)

#### Code Sandbox

https://codesandbox.io/s/restless-dust-b4ggf?file=/src/App.tsx

#### Context

I'm trying to create a component that behave close

[2021-07-02 18:25] #4791 closed, assigned to nobody

[2021-07-02 18:27] adidahiya commented on #4792
What are the repro steps in your sandbox? I can't get the popover to open if I click or type in the input there.

[2021-07-02 21:02] LoiKos commented on #4792
Sorry i left a restriction based on search.length : `(props.search?.length ?? 0) > 6` because it's my project need.
I switch to `props.search?.length`so it's should be easier to test

[2021-07-02 23:26] styu opened #4793 "Callout icons should have aria-hidden="true" to indicate that the SVG is decorative in nature"
Images that are purely decorative in nature and/or have adjacent text that are explanatory already can be ignored by assistive technologies: https://www.w3.org/WAI/tutorials/images/decorative/

For callouts, the icons next to the title (which is the informative part of the component) are more than likely purely decorative, so I'd imagine it would be safe to mark them as `aria-hidden="true"` by def

[2021-07-02 23:29] styu opened #4794 "Popover targets should have aria-haspopup"
In order to ensure that custom controls are keyboard accessible, elements that open menus/content in popovers should communicate that structure. This can be done with `aria-haspopup`: https://developer.mozilla.org/en-US/docs/Web/API/Element/ariaHasPopup

#### Environment

- __Package version(s)__: 3.46.0
- __Operating System__:  MacOS
- __Browser name and version__: Chrome

[2021-07-02 23:34] styu opened #4795 "id prop is not actually required for Tabs"
#### Environment

- __Package version(s)__: 3.46.0
- __Operating System__: MacOS
- __Browser name and version__:

#### Steps to reproduce

1. Use the `Tabs` component but leave out the `id` prop

#### Actual behavior

It compiles fine (screenshot from removing the following line:

https://github.com/palantir/blueprint/blob/5c05ce6bb12a9810b9ff35310a1554a65af6b65d/packages/docs-app/src/examples/cor

[2021-07-02 23:46] wernst opened #4796 "Editable Cell with enableFocusedCell stealing focus"
#### Environment

Package version(s): @blueprintjs/table 3.7.1
Operating System: MacOS Catalina 10.15.7
Browser name and version: Chrome Version 91.0.4472.114

#### Code Sandbox
https://codesandbox.io/s/enablefocusedcell-bug-0m19u

#### Steps to reproduce

1. Enter a value into any cell (do not do anything to confirm the value ie press enter)
2. Click the red div (or anywhere outside the table...t

[2021-07-05 07:10] donnalmh opened #4797 "numFrozenColumns causes column header to be disjointed on first load"
#### Environment

- __Package version(s)__: blueprint table 3.5
- __Operating System__: Windows
- __Browser name and version__:  Chrome

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)):

#### Steps to reproduce

1.  Create table. create 3 columns with long list of names. Set numFrozenCol=1

#### Actual behavior

The first colu

[2021-07-05 09:47] invliD commented on #4793
I'm wondering whether we should hold that for all icons. Most icons are named based on what they visually represent, not what they semantically mean, so having a screenreader read the icon name is probably not helpful. In most contexts (e.g. buttons, menu items, etc.) there should be a more semantic version in text next to it anyway. For icon-only use-cases, I think it makes sense to put the burde

[2021-07-07 07:55] leonyjiang commented on #4779
Hi Adi, I want to take a look at this in-depth. Running `yarn` after cloning the repo, however, fails due to my `node` having major version 16 (requirement is `">=12 <14"`). It also seems that [blueprint v4](https://blueprintjs.com/docs/versions/4/) is in pre-release. That being said, what does the roadmap for v4 look like, i.e. estimated release date? Is there a way for me to contribute directly

[2021-07-07 12:21] styu commented on #4793
For an icon only use case, I believe we'd want to add `aria-label` and don't want `aria-hidden`, else the label won't get read by the screen reader, if I understand correctly. I think it'd be difficult for Blueprint to definitely know what are icon-only use cases in all scenarios (e.g. I wouldn't put `aria-hidden` in the `<Icon>` component by default), but where we know the icons are decorative, I

[2021-07-07 18:15] evansjohnson commented on #4782
"so interactive that ..." seems to indicate levels of interactivity, I think it's a binary thing. Either an element is interactive and it should be accessible by keyboard users, or it's not interactive and doesn't need to receive focus/be triggered by keyboard.

I'd support `Tag`s not accepting the `onClick` prop/no interactive style but that sounds like a large breaking change, but don't think th

[2021-07-07 18:16] #4789 closed, assigned to adidahiya

[2021-07-07 18:23] evansjohnson commented on #4436
I searched for why my `Dialog` was not receiving dark theme styling like other components and didn't find anything in the docs. A team member pointed out that the `Classes.DARK` class needs to be added to the `Dialog` separately because it is rendered in a portal (at least by default).

It looks like the `Popover` components detect and add the class by default, perhaps the same behavior should hap

[2021-07-07 18:55] adidahiya commented on #4779
@leonyjiang v4 will be released in the next couple months. For now please contribute to 3.x, and your changes will get merged into the v4 branch. Yes we have a Node engine constraint. Please use a Node version manager like `nvm` to get a compatible version running on your machine.

[2021-07-07 18:59] #4682 closed, assigned to invliD

[2021-07-07 22:26] adidahiya opened #4802 "FR: Dialogs should detect and apply dark theme"
#### Feature request

Just like popovers, we should consider adding dark theme inheritance for dialogs. This will need investigation. It will probably need to be opt-in with a prop `inheritDarkTheme: boolean`. This feature would alter the dialog's rendered DOM structure, as we'd have to render a new DOM element, get its ref, and query it for a dark theme ancestor.

[2021-07-07 22:27] adidahiya commented on #4436
The dialog dark theme inheritance question has come up a few times. I filed this FR: https://github.com/palantir/blueprint/issues/4802

[2021-07-08 07:06] hmmhmmhm commented on #1180
@tnrich
Thank you for making a good example.
I rewritten an example with a typescript react.

[code]

[2021-07-08 22:07] tinopetros opened #4804 "Running on localhost"
#### Environment

- __Package version(s)__: 3.23.5
- __Browser and OS versions__: Chrome 91.0.4472.114/MAC OC Catalina 10.15.7

#### Question

I need help with how to check my changes on localhost as I change components. Should I expect the components I edit to be the ones that display in the example?

[2021-07-08 23:33] tinopetros commented on #4804
For example, when I make the render method in 'packages/datetime/src/datePicker.tsx' return null, the date picker example still shows up correctly after I save my edits and reload my browser page. Yet when I edit the example itself here: 'packages/docs-app/src/examples/datetime-examples/datePickerExample.tsx' the example page is atered as expected.

[2021-07-09 19:24] adidahiya commented on #4804
are you running `yarn dev` in both the packages/core and packages/docs-app folders?

[2021-07-09 21:58] #4794 closed, assigned to nobody

[2021-07-09 22:26] adidahiya commented on #4466
I can repro this bug. It looks like the `.bp3-html-select` CSS API never worked correctly with its icon, as it was never rendered in the docs. If I use this class I can see the icon goes missing:

![image](https://user-images.githubusercontent.com/723999/125141466-1d609900-e0e3-11eb-96ba-a6d3e5ea0b0e.png)

In general I encourage everyone to move towards the React component API rather than this CSS

[2021-07-09 22:40] #4466 closed, assigned to adidahiya

[2021-07-09 23:15] tinopetros commented on #4804
I am running it in the root i.e blueprint folder like #2 here: https://github.com/palantir/blueprint/blob/develop/CONTRIBUTING.md

I tried running in the packages folder but that does not seem to help, are you suggesting I run yarn dev in separate terminals in each of packages/core and packages/docs-app folders?

[2021-07-09 23:32] tinopetros commented on #4804
Re-did this on a new branch and it is looking good now. I'll close this for now.

[2021-07-10 17:27] #4804 closed, assigned to nobody

[2021-07-12 15:29] adidahiya commented on #4804
yes, that is how I typically develop Blueprint, using separate terminal windows/sessions to run `yarn dev` in each package I need. usually it's just two packages, like core and docs-app.

[2021-07-12 20:37] adidahiya opened #4807 "PanelStack2 crashes due to inconsistent number of hooks called"
#### Environment

- __Package version(s)__: core 3.46.0

#### Code Sandbox

Link to a minimal repro: https://github.com/palantir/blueprint/pull/4800#pullrequestreview-703348256

#### Steps to reproduce

1. Render a controlled PanelStack2 with `renderActivePanelOnly={false}`

#### Actual behavior

Component crashes with React error

#### Expected behavior

No crash

#### Possible solution

From @in

[2021-07-12 20:38] #4686 closed, assigned to invliD

[2021-07-15 16:14] #4807 closed, assigned to adidahiya

[2021-07-19 21:24] suminkimm opened #4809 "LabelElement Icon doesn't highlight on hover in dark mode"
#### Environment

- __Package version(s)__: 3.46.0
- __Operating System__: MacOS Catalina
- __Browser name and version__: Chrome

#### Code Sandbox

Link to a minimal repro: https://blueprintjs.com/docs/#core/components/menu

#### Steps to reproduce

View the menu item behavior shown in the link above. This is just a comment on the current features of the menu item component.

#### Actual behavior

[2021-07-20 16:02] adidahiya opened #4810 "Clickable menu items should specify tabindex="0" for keyboard accessible controls"
#### Environment

- __Package version(s)__: core 3.47.0

#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/s/blueprint-sandbox-forked-glq4i?file=/src/CoreExample.tsx

#### Steps to reproduce

1. Click inside "Core sandbox example" (this step is optional, but gets you quicker to focus on the first menu item)
1. Press TAB key to focus first menu item
1. Press TAB key again

#### Act

[2021-07-20 16:05] mitchellirvin opened #4811 "Popover2 - onClose doesn't fire if you click the popover target to close"
#### Environment

- __Package version(s)__: "@blueprintjs/core": "3.45.0", "@blueprintjs/popover2": "0.11.1"
- __Operating System__: MacOS
- __Browser name and version__: Chrome - Version 91.0.4472.164 (Official Build) (x86_64)

#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/s/popover2-onclose-bug-pnyjj

#### Steps to reproduce

1. Open console in the browser section of the san

[2021-07-20 17:48] mitchellirvin commented on #4811
Expected behavior, see docs: https://blueprintjs.com/docs/#popover2-package/popover2

[2021-07-20 19:53] adidahiya commented on #4811
Are you sure this is expected behavior? I'm not so sure... where exactly does it say that in the docs?

[2021-07-20 20:02] adidahiya opened #4812 "Difficult to move focus from DateInput input to its popover"
#### Environment

- __Package version(s)__: datetime v3.23.6
- __Operating System__: macOS
- __Browser name and version__: Chrome

#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/s/blueprint-sandbox-forked-6wt6o?file=/src/DatetimeExample.tsx

#### Steps to reproduce

1. Focus on input
1. Press TAB key

#### Actual behavior

Focus briefly moves to the calendar inside the popover,

[2021-07-20 20:09] mitchellirvin commented on #4811
It seems like `onClose` is only supposed to fire when the component is being controlled by `isOpen`, which means if we don't specify `isOpen` that `onClose` shouldn't fire?

[2021-07-20 20:27] adidahiya opened #4813 "Tooltip targets should have aria-describedby and tooltip contents should have a corresponding ID"
#### Environment

- __Package version(s)__: core 3.47.0, popover2 0.11.1
- __Operating System__: macOS
- __Browser name and version__: Chrome

#### Accessibility feature request

Blueprint tooltips should better communicate information to assistive technologies.

It should be relatively low-lift to add a feature to the Tooltip and/or Tooltip2 component which renders an `aria-describedby` attribute

[2021-07-20 20:45] mitchellirvin commented on #4811
However, from the docs:

It might be the case that this should actually be firing, @adidahiya ?

I would defer to the dev(s) familiar with Popover2 here on what the expected behavior is

[2021-07-21 14:44] pedaars opened #4814 "How to use the tooltip prop on the table component"
#### Environment

- __Package version(s)_3.36_:

#### Question

Can anyone give me an example of how to use the tooltip prop on the table component, please?

[2021-07-21 18:24] JoseLion opened #4815 "[DateTime] TimePicker cannot differentiate between empty (null/undefined) and midnight"
#### Environment

- __Package version(s)__: @blueprintjs/core: 3.47.0, @blueprintjs/datetime: 3.23.6
- __Operating System__: Windows 10
- __Browser name and version__: Chrome 91.0.4472.164 (Official Build) (64-bit)

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprint-sandbox-forked-bthwn?file=/s

[2021-07-24 15:03] JenuelDev opened #4817 "Does blueprint has a componeny library for VueJs?"
#### Question
Does blueprint has a component library for Vue 3 or vuejs?

[2021-07-24 22:07] codeasashu opened #4818 "Prop to control tablist container class"
#### Environment

- __Package version(s)__: 3.40.0
- __Browser and OS versions__: Brave v1.26.77, MacOS Big Sur 11.3

#### Feature request

Currently, I am limited to using `Tabs` components with only `className` prop, which only allows to
set the classes for parent container (containing both the list items and the panel containers).

I wish to be able to set classes for only the list container bu

[2021-07-26 15:36] adidahiya commented on #4817
No, this is a duplicate of https://github.com/palantir/blueprint/issues/4677 (seems like you asked the same question a few months back).

[2021-07-26 15:36] #4817 closed, assigned to nobody

[2021-07-27 02:59] rafaellichen opened #4823 "core.js: Uncaught (in promise) SyntaxError: Invalid or unexpected token"
Please help; thanks in advance :)

#### Environment

- __Package version(s)__: @blueprintjs/core@3.47.0
- __Operating System__: macOS Big Sur Version 11.4
- __Browser name and version__: Google Chrome, Version 92.0.4515.107 (Official Build) (x86_64)

#### Code Sandbox

Link to a minimal repro: [https://mybinder.org/v2/gh/idom-team/idom-jupyter/main?filepath=notebooks%2Fintroduction.ipynb](https://

[2021-07-27 21:18] rfbowen opened #4825 "onInteraction callback threaded in via popoverProps missing arg for Select, MultiSelect, and Suggest components"
#### Environment

- __Package version(s)__: select 3.15.6
- __Operating System__: Mac OS 11.2.3
- __Browser name and version__: Google Chrome 91.0.4472.114

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprint-sandbox-forked-rwrbk

#### Steps to reproduce

1. Open DevTools
2. Open the Select, clo

[2021-07-28 21:10] eshlin opened #4827 "Support disabling the native cancel button for search inputs"
#### Environment

- __Package version(s)__: 3.47.0
- __Browser and OS versions__: Tested across several browsers

#### Feature request

This issue proposes adding a way to disable the native cancel button for search inputs. The motivation is that browsers are inconsistent with displaying the native cancel button (Chrome displays it, but not Firefox), which makes it hard to ensure good UX across br

[2021-07-28 21:19] adidahiya commented on #4815
This sounds like a reasonable feature request, I'd be open to PRs to improve TimePicker's support for an empty/undefined state. I like the idea of showing hyphens like `- : --` to represent an empty time input (@aycai, what do you think?).

A button to clear the inputs completely could make sense in cases where it's important to allow end users to unset the selection (we'd make it opt-in with a pr

[2021-07-28 21:20] adidahiya commented on #4823
This looks like a problem with binder or jupyter notebook, not with Blueprint.

[2021-07-28 21:20] #4823 closed, assigned to nobody

[2021-07-28 21:22] adidahiya commented on #4818
Why? Are you using this for styling? Can you instead use the selector:

[code]

[2021-07-28 22:05] #4825 closed, assigned to nobody

[2021-07-28 22:10] adidahiya commented on #4827
Agreed, this sounds like something we should fix through the `@blueprintjs/core` package.

[2021-07-28 23:28] rafaellichen commented on #4823
@adidahiya I am really confused, am I miss something?
This is the error I get if I paste the https://cdn.esm.sh/v43/@blueprintjs/core@3.47.0/es2020/core.js inside vscode:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Identifier_after_number.
When I run `1.toLocaleString('ar-EG');` in browser console, it still gives the same error: Uncaught SyntaxError: Invalid or unexpec

[2021-07-29 02:46] adidahiya commented on #4823
I'm not familiar with esm.sh; that file you linked is not something published in the `@blueprintjs/core` package. Can you explain a bit more how that core.js file was generated?

[2021-07-29 04:50] rafaellichen commented on #4823
@adidahiya
I am not familiar with esm.sh either, but I think it's very similar to https://unpkg.com/. Both are CDN services to delivery the es modules faster. So based on the explanation in "workflow", the process is somewhat automatic. When I published my package for testing using `microbundle-crl --no-compress --format modern,cjs` to build, it becomes available on esm.sh too. Let me know if this

[2021-07-29 05:21] zubairkhanshinwari commented on #959
import * as moment from 'moment'

can not work for me still not working...................

[2021-07-29 16:50] codeasashu commented on #4818
@adidahiya Because:

1. It's intuitive. It simply gives me more control over each element separately (For this reason, I am more inclined towards [react-tabs](https://github.com/reactjs/react-tabs).
2. I wouldn't have to bring in SASS/LESS variables, while I can simply set a class from a framework containing those
3. I would then have to learn a tons of css rules, keeping in mind I am not overwrit

[2021-07-29 18:04] aycai commented on #4815
Definitely agree that a null/undefined value matching a midnight value isn't great.

States can vary based on intent/use case. To add more detail:
- One way to show an empty initial state (be it null or undefined) is to use placeholder text. This will still technically show midnight, but more to indicate value formatting vs. an actual value. I think this will cover the majority of cases, and is co

[2021-07-30 01:21] rafaellichen commented on #4823
@adidahiya resolved by changing package build method. Thanks for the helps.

[2021-07-30 17:11] ChristianIvicevic opened #4828 "Integrating react-virtualized into an ItemListRenderer causes AutoSizer to report height of 0"
Hey there,

I am attempting to integrate react-virtualized into the ItemListRenderer of a Suggest that I am working on that holds so many possible items that the performance is degraded. Unfortunately I am running into some CSS issues that I couldn't resolve.

The issue is that I wanted to use the `AutoSizer` to make the list grow and shrink based on its parent, but that component constantly retur

[2021-07-31 10:05] JenuelDev opened #4829 "classes.ts:22 Uncaught ReferenceError: process is not defined"
#### Environment

- __Package version(s)__: "^3.47.0"
- __Operating System__: windows 10
- __Browser name and version__: Chrome 92.+

#### Code Sandbox
[link to sandbox](https://codesandbox.io/s/romantic-moser-3zhx8?file=/src/App.tsx)

#### Steps to reproduce

1. git clone https://github.com/BroJenuel-Youtube/testing-vite-react
2. yarn dev
3. Button not working!

#### Actual behavior

I tried usin

[2021-07-31 15:48] ghost opened #4830 "Maximum update errors when combining Table2 with useHotkeys hook"
#### Environment

- __Package version(s)__:
    "@blueprintjs/core": "^3.47.0",
    "@blueprintjs/table": "^3.9.0",
    "classnames": "^2.3.1",
    "dayjs": "^1.10.6",
    "react": "^17.0.2",
    "react-dom": "^17.0.2",
    "react-redux": "^7.2.4",
    "react-scripts": "4.0.3",
    "redux": "^4.1.0",
    "web-vitals": "^1.0.1"

- __Operating System__: macOS 11.5
- __Browser name and version__: Saf

[2021-07-31 17:09] no95typem opened #4831 "How can i use blueprint from cdn with typescipt and webpack?"
#### Environment

- __Package version(s)__:  Core 3.47
- __Browser and OS versions__: Chromium, Linux

#### Question

Hello! I'm trying to make blueprint external dependency, but I don’t understand how can I import it with typescript and webpack? I can't just write this due to the presence of a point:

[code]

and then add
[code]
in webpack config.

So I need an example. Could anyone give me one,

[2021-08-03 08:26] LoiKos commented on #4792
I finally i managed to get this working by adding to input "autoFocus" so maybe there is nothing to do here.

[2021-08-03 09:39] DanielDanielDanielDanielDaniel opened #4833 "Icons: improve consistency in "locked resizing""
Icons Sketch version

#### Feature request
Hey :) in Sketch, about half of all icons have the resizing lock activated, the other one doesn't. It's a super small detail, but could be a little productivity value add for the UI/UX designers to have the resizing lock activated per default on all icons.

![image](https://user-images.githubusercontent.com/8693416/127993971-ab8e0800-e467-4b1d-b5e6-03b161

[2021-08-03 16:41] adidahiya commented on #4831
Don't use a `.` in the symbol name. Just write it differently, for example as `BlueprintCore`.

[2021-08-03 16:42] adidahiya commented on #4830
@lyptt please provide a code sandbox repro as linked in the issue template, it will greatly speed up debugging

[2021-08-03 16:44] adidahiya commented on #4829
I'm not familiar with Vite. This looks like a duplicate of https://github.com/palantir/blueprint/issues/3739. Until that issue is fixed, maybe you can define `process.env` through Vite config?

[2021-08-03 16:45] no95typem commented on #4831
OK, but
[code]
So, BlueprintCore will be undefined in this case. Unfortunately I don't know a method to solve this issue.

[2021-08-03 16:48] adidahiya commented on #4818
Sure, but we also like to be prescriptive about certain parts of the design system, for consistency's sake. We don't want _everything_ to be endlessly customizable. Every new component prop adds a maintenance burden.

Can you explain what _kind_ of styling you're trying to achieve? What will you do with your custom class after you apply it to the tab list container?

[2021-08-05 12:52] sashaglobenko opened #4837 "Popover2 backdrop animated appearance doesn't work"
#### Environment

- 3.47.0
- mac os
- Chrome 92.0.4515.131

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-forked-w6qej?file=/src/Popover2Example.tsx

#### Steps to reproduce

1. Click button

#### Actual behavior

Backdrop appears without any animation like when open Dialog.

#### Expected behavior

Backdrop appears with fade animation

[2021-08-05 15:03] andrericardo opened #4842 "[Table] How to include column names in getCellClipboardData?"
#### Environment

- __Package version(s)__: @blueprintjs/table@3.8.29
- __Browser and OS versions__: Firefox 86, Edge 90 - Windows 10

#### Question

Is is possible to include the Column name of a table when using `getCellClipboardData`?

For example in table below
<img width="419" alt="image" src="https://user-images.githubusercontent.com/171730/128372708-8c629070-40fc-4d3b-b5f6-cf5a69be8c5f.png"

[2021-08-06 12:21] mmz15 opened #4844 "Icon drift when using InputGroup with react-bootstrap"
#### Environment

- __Package version(s)__: "@blueprintjs/core": "^3.47.0"
- __Browser and OS versions__: Firefox 90.0.2 (64-bit), Mac Big Sur 11.4

#### Question

I'm having trouble getting react-bootstrap to work with Blueprint's `InputGroup`. I'm using the grid pattern (`Container`, `Row`, and `Col`) to hold my `InputGroup` elements. However, the following code:

[code]

results in:

<img width

[2021-08-06 18:10] dummycode opened #4846 "Time picker arrows do not line up inputs in date time picker with AM/PM enabled"
#### Environment

- __Package version(s)__: 3.23.6
- __Operating System__: macOS 10.15.7
- __Browser name and version__: Chrome 92.0.4515.131

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprint-sandbox-forked-lmps3

#### Steps to reproduce

1. Create a `DateTimePicker` with AM/PM buttons and ar

[2021-08-07 02:11] alex1221 commented on #4221
I also encountered this problem. I found that \r exists in the *.md document stream, so I modified "this.extractMetadata(blockContent.trim().replace(/[\r]/g,''))" in "node_modules\@documentalist\compiler\lib\compiler.js", just replace \r

[2021-08-09 16:07] rubenlg opened #4849 "The default value of showDialogKeyCombo (?) only works in certain keyboard layouts"
#### Environment

- __Package version(s)__: @blueprintjs/core 3.47.0
- __Operating System__: Ubuntu 21.04
- __Browser name and version__: Electron 13.1.8 (reproduces on Chrome 92.0.4515.107 as well)

#### Code Sandbox

Link to a minimal repro: https://blueprintjs.com/docs/#core/hooks/use-hotkeys
(yes, that's your own documentation, it also reproduces there)

#### Steps to reproduce

1. Set your ke

[2021-08-09 17:15] rubenlg commented on #3738
Plus in Spanish keyboard layouts, none of the plus keys work, because none of them require pressing shift. Related to #4849, although not exactly the same issue.

FWIW, having a separate name for the numpad plus makes a lot of sense. That's what the Electron folks do as well. They call it `numadd`. For complex apps with many hot keys, being able to map both independently is helpful.

[2021-08-09 17:24] rubenlg commented on #4849
Found the root cause. [This code](https://github.com/palantir/blueprint/blob/1db3b449bebc31652115709750c9cce15714485b/packages/core/src/components/hotkeys/hotkeyParser.ts#L133) makes the incorrect assumption that `?` (and a bunch of other keys) always require pressing the `Shift` button, and creates a hardcoded association to the symbol that you would get in that button if you didn't press `Shift`

[2021-08-09 18:10] rubenlg commented on #4165
Also `which` is being misused by assuming that the key codes always map to the same printable character in the `KeyCodes` array of `packages/core/src/components/hotkeys/hotkeyParser.ts`. That's not true, it depends on the keyboard layout. The same key prints different characters depending on the layout of the keyboard being used by the user.

This makes hotkey support in blueprint partially broken

[2021-08-09 18:22] rubenlg commented on #4849
At first I thought clearing the `ShiftKeys` object would solve the problem. However, that wasn't the only US-centric bug in the code. The code is also making the incorrect assumption that key codes can be mapped to constant printable characters. For example it assumes that key 219 always maps to `[`, but in a Spanish layout that key maps to `'`, and `?` when pressing `Shift`.

There is already an

[2021-08-09 20:17] rubenlg commented on #4849
Even if I switch the implementation to using `Event.key` and drop the code using `ShiftKeys`, I still have trouble with `?`, because I have to press `Shift` to produce that symbol, and `getKeyCombo` produces an object that won't match my `combo` spec since I don't want to include `shift` to make my code work in as many keyboard layouts as possible.

Here is an alternative idea for handling the `Sh

[2021-08-10 21:20] #4527 closed, assigned to evansjohnson

[2021-08-10 21:54] adidahiya commented on #4837
Are you trying to add a custom popover backdrop CSS transition?

1. Why?
2. This should be doable, but you'll need to get a little more specific / in the weeds with the TransitionGroup classes... you probably need to attach a custom class to your backdrop and then target it with `.my-popover-backdrop.bp3-popover2-enter { ... }` ([see CSSTransition docs](http://reactcommunity.org/react-transition-g

[2021-08-10 22:06] adidahiya commented on #4844
@mmz15 I haven't used react-bootstrap, would you be able to create a code sandbox to demonstrate the issue? If you fork the sandbox linked in the issue template / project README, it will greatly speed up debugging.

[2021-08-10 22:16] adidahiya commented on #4846
Good call! Should be an easy fix.

[2021-08-12 16:01] JamesTann opened #4855 "Radio Value Cannot be Number"
#### Environment

- __Package version(s)__: ^3.45.0
- __Operating System__: Mac OS Big Sur
- __Browser name and version__: Google Chrome Version 92.0.4515.131 (Official Build) (x86_64)

#### Steps to reproduce

1. Using React, create a RadioGroup with at least one Radio button where value is set to a number and not a string. See code example:

[code]

2. The Radio button will render, but will not

[2021-08-12 23:39] adidahiya commented on #4855
In the future, please try to include a code sandbox to debug issues like this (it's linked in the issue template). It greatly speeds up debugging.

I've gone ahead and created a sandbox to try and repro your issue. Your code doesn't type check correctly as-is. The input value in the event is always a `string` (that's just how the DOM API works). So you need to parse the `event.currentTarget.value`

[2021-08-12 23:39] #4855 closed, assigned to nobody

[2021-08-14 06:08] JoseLion opened #4857 "[InputGroup] Cannot set fill to false"
#### Environment

- __Package version(s)__: 3.47.0
- __Operating System__: Windows 10
- __Browser name and version__: Google Chrome - v92.0.4515.131 (Official Build) (64-bit)

#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/s/blueprint-sandbox-forked-68yys?file=/src/CoreExample.tsx

#### Steps to reproduce

1. Create an `InputGroup` with fill=true
1. Create another `InputGroup`

[2021-08-14 13:23] ABruel commented on #3399
What font? The example is from the docs, the exact same code.

[2021-08-14 13:24] #3399 closed

[2021-08-16 15:44] zimeibian commented on #3425
Hi, is this issue resolved? I'm still seeing the empty menu pop up on the `Suggest` component with `initialContent=null` on `@blueprintjs/select` 3.16.6 (https://codesandbox.io/s/blueprint-suggest-initialcontentnull-2sz9f?file=/src/index.tsx)

[2021-08-16 17:10] #4775 closed, assigned to nobody

[2021-08-16 18:38] #2956 closed

[2021-08-17 15:54] #3937 closed

[2021-08-18 17:16] domdomegg opened #4860 "[icons] export icon tags"
#### Environment

- __Package version(s)__: `@blueprintjs/icons@3.27.0`
- __Browser and OS versions__: `all`

#### Feature request

It'd be great to export the data in [`icons/resources/icons/icons.json`](https://github.com/cathleenjia/blueprint/blob/develop/packages/icons/resources/icons/icons.json). In particular, exporting the tags would using them for synonym-powered search in icon selectors o

[2021-08-18 21:02] adidahiya commented on #4860
It's [there in the NPM package](https://unpkg.com/browse/@blueprintjs/icons@3.27.0/resources/icons/icons.json), all you have to do is `import "@blueprintjs/icons/resources/icons/icons.json"`.

[2021-08-18 21:33] adidahiya commented on #4846
Actually this seems to only be a problem with the DateTimePicker (which is deprecated). No issues when I add AM/PM to the DatePicker:

![2021-08-18 17 33 11](https://user-images.githubusercontent.com/723999/129975214-df3b114d-60a4-45e2-aca8-023f37bd932e.gif)

[2021-08-18 21:35] #4846 closed, assigned to nobody

[2021-08-20 07:52] joelbohnes opened #4864 "Toaster (static usage): Toast Notifications no longer appear at bottom of a scrolled page (regression)"
#### Environment

- __Package version(s)__: 3.48.0
- __Operating System__:  Windows 10
- __Browser name and version__: Google Chrome 92.0.4515.159

#### Code Sandbox
https://codesandbox.io/s/vibrant-waterfall-9bjnr

#### Steps to reproduce
1. Use toaster component statically (toaster = Toaster.create(...)) with positioning set to bottom
2. Display a toast (toaster.show(..)) while the page is scrol

[2021-08-20 08:43] dhruv10 opened #4865 "Can we have a ContextMenu2 with an arrow like we have in Popover2? Arrow modifier doesn't work for me."
#### Environment

- __Package version(s)__:
"@blueprintjs/core": "^3.10.0",
"@blueprintjs/popover2": "^0.11.1",
- __Browser and OS versions__:
MacOS Catalina Version 10.15.7
Browser Firefox 91.0.1

#### Question

I would need a context menu but with an arrow just like a popover (screenshot below), which points to the clicked screen coordinates on the clicked component.

I saw two solutions:-
1. Op

[2021-08-20 14:01] #1995 closed

[2021-08-20 14:02] #2933 closed

[2021-08-20 14:02] #3801 closed

[2021-08-20 16:21] dallonf opened #4868 "ESLint `classes-constants` rule breaks strings when auto-fixing"
#### Environment

- __Package version(s)__: @blueprintjs/eslint-plugin@0.3.3, eslint@7.32.0
- __Operating System__: macOS 11.5
- __Browser name and version__: N/A (occurs in ESLint)

#### CodeSandbox

N/A (as far as I can tell, ESLint isn't configurable on CodeSandbox)

#### Steps to reproduce

1. Have a project with `@blueprintjs/eslint-plugin` set up
2. Enable the `@blueprintjs/classes-constants

[2021-08-20 16:34] dlech opened #4869 "@blueprints/colors package does not include LICENSE file"
The new `@blueprints/colors` package does not have a `LICENSE` file. Having this file makes it easy for automated tools to pick up the license.

[2021-08-20 20:37] adidahiya commented on #4864
We released this small breaking change in 3.40.0, see the [changelog](https://github.com/palantir/blueprint/wiki/3.x-Changelog#blueprintjscore-3400):

I don't see this problem happening in the Blueprint docs, so it's likely something you can work around with some CSS. I poked a bit at the sandbox and didn't immediately find a solution, so I'll leave this open for further investigation / need to re

[2021-08-20 21:18] adidahiya commented on #4865
This is currently unsupported. But I would consider adding support for modifiers to ContextMenu2. The API would look like this:

[code]

[2021-08-20 22:00] saruman1234 opened #4870 "[MultistepDialog] Right panel does not vertically fill the dialog"
#### Environment

- __Package version(s)__: ~`@blueprintjs/core 3.48.0`~ `@blueprintjs/core 4.3.0`

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-multistepdialog-0q5cju

#### Steps to reproduce

1. Create a `<MultistepDialog>`
2. Add multiple very short steps
3. ❌ See that the footer row of buttons does not align with the bottom of the dialog

#### Actual behavior

The right-hand p

[2021-08-20 22:24] saruman1234 opened #4871 "[MultistepDialog] Navigation to later steps is allowed via side navigation when `nextButtonProps` disallows it"
#### Environment

- __Package version(s)__: @blueprintjs/core@3.48.0

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-multistepdialog-4di0d

#### Steps to reproduce

(Using the example in the Code Sandbox)
1. Advance through each step of the `<MultistepDialog>` to the end.
2. See how each step must be "valid" before you can progress.
2. Before submitting, go back to an earlier step v

[2021-08-20 23:15] saruman1234 opened #4872 "[MultistepDialog] Allow side navigation to be disabled (e.g. when submitting)"
#### Environment

- __Package version(s)__: @blueprintjs/core@3.48.0

#### Feature Request

1. Add a `disabled` prop to `<MultistepDialog>` that would allow the side navigation to be disabled (e.g when the dialog is being submitted)

1. Perhaps if specified `true` (and ignored as `false | undefined`), it could also combine & override any individual `disabled` props for all the other steps' `nextBu

[2021-08-21 00:58] saruman1234 commented on #3434
There's also the [`inputmode` attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/inputmode).

[code]

Avoids the [accessibility & odd problems of `<input type="number"/>`](https://technology.blog.gov.uk/2020/02/24/why-the-gov-uk-design-system-team-changed-the-input-type-for-numbers/) but ensures mobile users are shown the numeric keyboard.

- https://developer.mozilla.o

[2021-08-22 02:41] markgmat commented on #3281
matamarcus54@gmail.com

[2021-08-23 16:36] oddcoder opened #4873 "Context Menus appear at the slightly wrong offset"
#### Environment

Browser: Firefox or webview2
blueprintjs/core: 4.0.0-alpha.0
react-grid-layout: 1.2.5

#### Code Sandbox

https://codesandbox.io/s/failing-contest-menu-position-xb9d2

#### Steps to reproduce

1. Right click on the text in the `Callout` to the left.
#### Actual behavior

The context menu appeared far away from where I clicked (observe the picture bellow)
![image](https://user-ima

[2021-08-23 17:41] adidahiya commented on #4873
I believe this was fixed in the 3.x branch in ContextMenu2, and will get fixed in the next 4.0.0 pre-release (it's been a while since I made a 4.x release).

[2021-08-23 17:41] #4873 closed, assigned to nobody

[2021-08-23 18:18] adidahiya commented on #4872
Makes sense. This sounds like a reasonable feature request. We should provide a way to disable the step list in this scenario from your sandbox:

![2021-08-23 14 18 07](https://user-images.githubusercontent.com/723999/130496929-da8635bc-cd84-48df-be46-6a43704a35e0.gif)

[2021-08-23 19:23] suwignyo commented on #4872
To add to this, is it possible for the left panel to also be hidden completely or would you just suggest using <Dialog /> and doing my own pagination?

[2021-08-23 21:26] andrewtsun25 commented on #926
hey guys! given Blueprint 3, I've found a workaround that could give `Tooltip`s to `MenuItem` components without flickering and retaining original functionality as best as possible. only disadvantage here is overflow is not prevented.

[code]

where the styles are defined as:

[code]

[2021-08-23 22:27] adidahiya commented on #4872
@suwignyo hmm, yeah I suppose I would be open to adding that option. but that would be a separate request, can you file another issue please?

[2021-08-23 22:41] adidahiya commented on #3448
Revisiting this, @aycai and I think that small buttons should use 12px. It seems like the only justification for removing the 12px font size from small buttons was that small input groups also used 14px. But that does not seem to be the case anymore; they use 12px:

![image](https://user-images.githubusercontent.com/723999/130528474-cfd44903-6a8c-4ef8-b517-6d12e4f9dd93.png)

So, we should change s

[2021-08-23 23:16] oddcoder commented on #4873
That is cool, Looking forward for the next 4.0 release!

[2021-08-24 00:08] adidahiya opened #4874 "FR: InputGroup aria-label can be inferred from placeholder"
#### Environment

- __Package version(s)__: core 3.48.0

#### Feature request

`<InputGroup>` could have better accessibility if it applied an `aria-label` to its `<input>`. If the `placeholder` prop exists, we should use that value. We'll need to consider how this interacts with `<FormGroup>` and wrapping `<label>` elements (we don't want to label the input twice).

[2021-08-24 00:14] #3696 closed

[2021-08-24 00:37] #3773 closed

[2021-08-24 08:38] rveciana opened #4875 "Date Range hover shows a wrong date on the selected date"
#### Environment

- __Package version(s)__: develop branch (and all other branches I tested)
- __Operating System__: Windows
- __Browser name and version__: Google Chrome Version 92.0.4515.159 (Official Build) (64-bit)

#### Steps to reproduce

- Select an initial date
- Hover any other date on the calendar -> The input field shows it
- Hover the already selected date -> The shown date is 1/1/[yea

[2021-08-24 14:43] adidahiya commented on #4875
Confirmed, I can repro this in the [DateRangeInput docs example](https://blueprintjs.com/docs/#datetime/daterangeinput)

[2021-08-24 14:55] #4721 closed, assigned to nobody

[2021-08-24 22:42] rubenlg commented on #4849
Gentle ping.

[2021-08-25 13:05] Comi9 opened #4876 "Numeric input - Basic example: page crash on selecting default locale"
https://github.com/palantir/blueprint/blob/2db16b00fcf4f9eeb2defb0cb4f5b43a19c10762/packages/docs-app/src/examples/core-examples/numericInputBasicExample.tsx#L157

Low prio

In the docs section for Numeric input - Basic example, selecting any option in the Locale selector, then going back to default option results in page crash due to incorrect locale information provided.

[Current:](https://gith

[2021-08-26 01:07] andrewtsun25 opened #4878 "Make configureDom4.ts become a module by adding export {}"
#### Environment

- __Package version(s)__: 3.41.0
- __Operating System__: Mac OS Big Sur 11.3.1
- __Browser name and version__: Chrome 11.3.1
- __Build Tool__: Yarn 1.22.10

#### Code Sandbox

N/A

#### TSConfig:

[code]

with `../../tsconfig.json` as:

[code]

#### Steps to reproduce

1. Download `@blueprintjs/core` via `yarn add @blueprintjs/core`
2. Attempt to build a CRA app via `craco` using

[2021-08-26 07:12] dhruv10 commented on #4865
Okay, thanks! Adding this would be appreciated. Just to clarify, I'm not in a hurry with this feature. So, please prioritize according to what you think is more important.

[2021-08-26 11:43] vinlam292 opened #4879 "Scrollbar in dark mode has a white background and in lightmode there is a grey background"
This is quite an isolated problem where only a few people who I've asked has this issue but others work as expected.

#### Environment

- __Package version(s)__: @blueprintjs/core 3.48
- __Operating System__:  MacOs Catalina 10.15.7
- __Browser name and version__: Chrome Version 92.0.4515.159 (Official Build) (x86_64)

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-forked-eb0rc?file

[2021-08-26 15:02] vinlam292 commented on #4879
This is due to having a mouse plugged in: https://muffinresearch.co.uk/osx-remove-scrollbars-that-appear-when-using-a-mouse/

[2021-08-26 15:02] #4879 closed, assigned to nobody

[2021-08-26 15:58] #4878 closed, assigned to nobody

[2021-08-26 18:21] #4528 closed, assigned to evansjohnson

[2021-08-26 23:19] #4793 closed, assigned to evansjohnson

[2021-08-30 08:35] KCFindstr commented on #4792
I'm facing the same issue where I set `autoFocus` to false but Tooltip2 keeps getting focus when it's closing. I don't have access to the input element so I cannot add autoFocus to the input. Is there a workaround?

[2021-08-30 08:39] LoiKos commented on #4792
Are you sure you don't have access to the input ? for example if you are using something like `Suggest` you can pass `autoFocus` via `inputProps`.

If you want to be able to get around this, you at least need a ref to the element you want to focus on closing. And then you can use the `onClose` property function to manually set focus on the input.

[2021-08-30 09:16] KCFindstr commented on #4792
I am using draft.js and adding a tooltip to some of the text in the customized editor. I don't see an autofocus option in its props. When the tooltip is open, the user is unable to change the input position, and the reason seems to be that the part of the text with popover is  getting focused automatically. Other toolbars, such as the one included in Material UI, work as expected. I realize that t

[2021-08-30 09:20] LoiKos commented on #4792
believe you can achieve this using a ref on `Editor`. see: https://github.com/facebook/draft-js/issues/785

[2021-08-30 18:48] #4869 closed, assigned to adidahiya

[2021-08-30 22:02] #3779 closed

[2021-08-30 22:37] #3448 closed

[2021-08-31 03:26] terpimost opened #4886 "Is it possible to close uncontrolled tooltip on tooltip target click?"
#### Question
It is not clear from the docs but how should I force a tooltip to close immediately when a target button clicked?
Is it possible? If yes, please tell me how😩

[2021-09-01 00:07] KCFindstr commented on #4792
Thank you for the link, but I think what I described is actually a different problem, which is also caused by Popover v2 taking focus.
Here is the sandbox to reproduce it:
https://codesandbox.io/s/dazzling-allen-dt3qb?file=/src/App.js
Initially you can move the input cursor by clicking on the text. However, after typing something between the brackets, you can no longer move the cursor by clicking

[2021-09-01 03:50] d11z commented on #3739
This was driving me nuts all day, I had to use this instead of the above in order for my electron application to build at all:

[code]

[2021-09-01 17:33] ippsav opened #4887 "InputGroup & react-hook-form"
#### Environment

- __Package version(s)__: 3.49.0
- __Operating System__: Arch-Linux
- __Browser name and version__: Chrome latest

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)):

#### Steps to reproduce

1- The new version doesn t  support react hook form now with the {...register("fieldName")}.

#### Actual behavior

[2021-09-02 16:50] adidahiya commented on #4887
Please fill out the issue template with a code sandbox demonstrating your issue, it's going to be hard to debug without that.

[2021-09-02 17:05] ippsav commented on #4887
Here is a sandbox, default html input compared to input group

https://codesandbox.io/s/sweet-aryabhata-sbz8c?file=/src/App.js

This happens only in the latest version of blueprintjs works fine with 3.48.0

[2021-09-02 17:53] adidahiya commented on #4887
Doesn't look like your example works with 3.48.0 either: https://codesandbox.io/s/magical-kirch-n7s41?file=/src/App.js

Can you please describe the issue in more detail... what is the actual behavior, expected behavior, and exact steps to repro?

[2021-09-02 17:59] ippsav commented on #4887
The actual behavior is that the input group doesn t register as an input by react hook form with the latest version.The expected behavior is just like the codesandbox it should register the value i am typing in the input group before submiting which works fine and an html input.

I downgraded it and it s working fine for me i can link you the repo:https://github.com/ippsav/chat-app-typescript

In

[2021-09-02 20:48] emmalangfitt opened #4889 "Add an optional Date Picker param to disable changing the selected date on month change"
#### Environment

- __Package version(s)__: 3.48.0
- __Browser__: Chrome

#### Feature request

- Add an optional parameter to the Date Picker component so the selected date doesn't automatically change when the month is changed
- This behavior is baked into Blueprint [here](https://github.com/palantir/blueprint/blob/519228df03c6cb6edf076c797ca182cd4e89d9c6/packages/datetime/src/datePicker.tsx#L39

[2021-09-03 02:52] whaty opened #4890 "ContextMenu2 don't work for me"
#### Environment

  "@blueprintjs/core": "^3.49.0",
    "@blueprintjs/docs-theme": "^3.10.8",
    "@blueprintjs/popover2": "^0.11.3",
    "@blueprintjs/select": "^3.18.0",

#### Question

ContextMenu2 don't work for me! when right click the text ,just show me a mask.  my menu is miss.who can help me?

![image](https://user-images.githubusercontent.com/26294919/131943245-fbbe6d68-fe96-435b-98d8-254

[2021-09-03 02:58] whaty commented on #4890
oh ，i know the reason .   just add this:
`@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";`

[2021-09-03 02:58] #4890 closed, assigned to nobody

[2021-09-03 09:14] shilohchis commented on #4510
@MynockSpit hello do you mind to share your workaround, I have same problem too :sweat_smile:

[2021-09-03 15:00] adidahiya commented on #4889
@emmalangfitt looks like this was brought up before in https://github.com/palantir/blueprint/issues/2418 -- have you tried using the second parameter in the `onChange` callback to distinguish between selection and month navigation? Maybe that would be sufficient for your use case.

[2021-09-06 13:56] LoiKos commented on #1437
I'll just fall into this because Tree need asking for `Array<TreeNodeInfo<T>>` and just below the documentation is showing `TreeNodeProps` which should be the props for node but which belongs to Tree internal behaviour. TreeNodeInfo doesn't contain as much props as `TreeNodeProps` and doesn't allow some props that seems required inside `TreeNodeProps` like depth and path

[2021-09-06 19:17] MynockSpit commented on #4510
Sure! We ended up using a different select component and styling it like Blueprint, but this was the basics of my workaround before we swapped.

1. Ignore `createNewItemFromQuery` and `createNewItemRenderer` entirely.
2. When the input changes, check to see if it's already an item that exists. If it doesn't exist, add an ephemeral item, and mix it in to the `items={}` prop. Make sure it's differen

[2021-09-06 22:09] abdelhafid-mahmoudi-env commented on #3587
**You need to add those lines to your style css**
`@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";`
`@import "~@blueprintjs/select/lib/css/blueprint-select.css";`

[2021-09-07 21:16] emmalangfitt commented on #4889
@adidahiya that works 🤦‍♀️  I'd tried using that parameter before but wasn't having any luck, I must have done something wrong. Thank you!

[2021-09-07 21:16] #4889 closed, assigned to nobody

[2021-09-08 20:18] #4810 closed, assigned to nobody

[2021-09-09 11:04] chris-nolan opened #4893 "MenuItem sizing issue when using large modifier with nested items"
**Environment**

- Package version(s): 4.0.0-alpha.0
- Operating System: Windows
- Browser name and version: Edge Version 92.0.902.78 (Official build) (64-bit)

**Steps to reproduce**

- Hover over a MenuItem with nested MenuItem(s)

**Expected Result**

- Sub-menu opens with no sizing change to parent item

**Actual Result**

- Parent MenuItem size changes (looks like top/bottom padding reduces),

[2021-09-10 08:38] whaty commented on #2518
how to do it? Any demos?

[2021-09-10 12:17] my-lalex opened #4895 "DatePicker.defaultLocaleUtils"
#### Environment

- __Package version(s)__: 3 & 4
- __Browser and OS versions__: any

#### Feature request

When you use any component from the @blueprintjs/datetime package and need locale, odds are great that you gonna use the same LocaleUtils in the whole app.
 Having a way to define this LocaleUtils by a static property would be so much time saved...

#### Examples

[code]

[2021-09-10 15:02] tonyroberts opened #4896 "[Table] Drag and drop using react-dnd not working"
#### Environment

- __Package version(s)__:

blueprint/table 3.93

- __Operating System__:

Windows 10

- __Browser name and version__:

Google Chrome Version 93.0.4577.63 (Official Build) (64-bit)

#### Code Sandbox

https://codesandbox.io/s/dnd-table-t9t48?file=/src/Example.tsx:424-426

#### Steps to reproduce

1. Run the sandbox and notice the "test" box on the left.
2. Drag the 'test' box over

[2021-09-10 18:21] tonyroberts commented on #4896
Just in case anyone else is interested, I did find an alternative way to do this. It's pretty ugly, but putting the whole table in a drop target works. The ugly part is figuring out which column header is being dropped on or hovered over. I was able to that by building a map of refs and then testing the client rects of each to find which, if any, was applicable. I've got a quick and dirty demo of

[2021-09-12 09:07] ghost opened #4897 "Drawer component transitionDuration prop is not working"
#### Environment

- Package version: 3.49.1
- Operating System: Mac OS catalina
- Browser name and version: electron (google chrome)
This is my component:

            <Drawer
                onClose={() => setIsDrawerOpen(false)}
                title={"Some title" }
                size={DrawerSize.LARGE}
                isOpen={isOpen}// a state that changes after pressing a button

[2021-09-13 16:27] adidahiya commented on #4897
In order to customize transition duration (generally not recommended, as it's part of the design system), you need to also override styles which define the CSS transition. We use a custom mixin for this; you'll have to find the relevant class name and add custom styles on top of it:

https://github.com/palantir/blueprint/blob/88a158b38a96350109650a7fe821a5091a25b3ed/packages/core/src/components/dr

[2021-09-13 16:31] adidahiya commented on #4893
Good catch. This is an annoying styling bug. Here's a gif demonstrating the issue:

![2021-09-13 12 31 20](https://user-images.githubusercontent.com/723999/133122193-d6438cf7-82f6-4756-9be8-43f1f6dc50dd.gif)

[2021-09-14 00:27] nwactor opened #4901 "[Table] Programmatically enter edit mode on an EditableCell"
#### Environment

- __Package version(s)__: 3.49
- __Browser and OS versions__: Google Chrome Version 93.0.4577.82 | Big Sur 11.4

#### Question

Is it possible to enter the editing mode of an `EditableCell` programmatically, without double clicking? What I'm trying to achieve is a "press tab to go to the next cell" type of situation. The docs seem to indicate no, but I was hoping to confirm one w

[2021-09-14 13:41] #4813 closed, assigned to nobody

[2021-09-14 15:45] Nifdee opened #4903 "Close popover when menu item is selected via enter / space key"
#### Environment

- __Package version(s)__: core 3.49.1 / popover2 0.11.4
- __Browser and OS versions__:

#### Feature request

When a menu item inside a popover is clicked, the popover gets closed automatically. For accessibility reasons, menu items also need to be selectable via keyboard (pressing the enter or space key) - in this case the popover should also close automatically.

#### Examples

[2021-09-14 21:52] #3445 closed

[2021-09-15 02:40] michael-yx-wu opened #4908 "Overlay cannot focus autofocus elements due to React behavior"
#### Environment

- __Package version(s)__: `@blueprintjs/core@4.0.0-alpha.0`
- __Operating System__: any
- __Browser name and version__: any

Filling as a follow up to https://github.com/palantir/blueprint/pull/4894#discussion_r705804898

When setting the autoFocus prop on a component, React chooses not to render it to the DOM (see https://github.com/facebook/react/issues/11851#issuecomment-35167

[2021-09-15 14:46] Nifdee opened #4909 "Add onAction property to MenuItem"
#### Environment

- __Package version(s)__: core 3.49.1
- __Browser and OS versions__:

#### Feature request
For keyboard accessibility, `MenuItem`s should also be selectable via keyboard events.

Add a property `onAction` to `MenuItem`. When specified, the callback will be executed both on click and on enter / space keyboard events.

#### Examples

[2021-09-15 14:49] Nifdee opened #4910 "Allow using arrow keys to navigate through menus"
#### Environment

- __Package version(s)__: core 3.49.1
- __Browser and OS versions__:

#### Feature request

Menus are often used as dropdowns, where up and down arrows should be usable for navigating between menu items, and space should be usable to expand submenus.

#### Examples

[2021-09-15 16:37] adidahiya commented on #4910
duplicate of https://github.com/palantir/blueprint/issues/3079

[2021-09-15 16:37] #4910 closed, assigned to nobody

[2021-09-15 16:38] adidahiya commented on #4909
why distinguish between click vs. enter/space? in other places (buttons), we treat them the same. see `Keys.isKeyboardClick()`

[2021-09-16 07:28] erikbgithub opened #4911 "Navbar not rendering correctly in Firefox"
#### Environment

- __Package version(s)__: current documentation
- __Operating System__: Fedora 34
- __Browser name and version__:  Firefox 87.0 (64 bit)

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): doesn't apply

#### Steps to reproduce

1. [open this link](https://blueprintjs.com/docs/#core/components/navbar.css)
1. lo

[2021-09-16 13:38] adidahiya commented on #4911
You must be using a relatively narrow browser window width. It looks fine if you have more width to render the component (which is more typical anyway, since the navbar would go across the whole width of the viewport rather than being rendered in a small example box). `<Navbar>` is not very complicated or "smart" about its layout, it's a very basic component which you probably need to build on top

[2021-09-16 13:50] erikbgithub commented on #4911
@adidahiya Please just take a look yourself. It does misrender for me on two very different machines (PC and laptop, no small screen smart phone etc), with two differently structured screens.

Check out the huge free real estate on both sides of the docs:

![img](https://i.imgur.com/x6sZBjm.png)

The second screenshot was taken on a widescreen laptop on a different OS (Debian 11).

It doesn't mean

[2021-09-16 14:06] adidahiya commented on #4911
I did take a look, but in Chrome. It looks fine there:

![image](https://user-images.githubusercontent.com/723999/133626848-d9280051-6cb8-4cac-bb4a-3addabc2ad62.png)

But I can repro the bug in Firefox. Open to bugfixes.

[2021-09-16 14:18] adidahiya opened #4912 "Popover with hover interaction opens and closes infinitely when opened via tab focus"
#### Environment

- __Package version(s)__: core 3.50.0, popover2 0.12.0
- __Operating System__: macOS
- __Browser name and version__: Chrome

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-forked-bmkfl?file=/src/Popover2Example.tsx

#### Steps to reproduce

1. Click inside example box
1. Press TAB key to focus popover target button
1. Observe open-close infinite loop bug

#### Actu

[2021-09-16 18:08] anthonybalmeo opened #4913 "Suggest Component does not close after setting to active. only happening on BLUEPRINT/CORE 3.50^"
#### Environment

- __Package version(s)__: 3.50.0
- __Operating System__: Mac OSX
- __Browser name and version__: Chrome: Version 93.0.4577.63 (Official Build) (x86_64)

#### Code Sandbox
[code]

#### Steps to reproduce
Video to show it
Suggest Component does not close after setting to active. only happening on BLUEPRINT/CORE 3.50^. 3.49.1 and below works.

https://user-images.githubusercontent.c

[2021-09-16 18:34] #4912 closed, assigned to adidahiya

[2021-09-17 05:49] qcz commented on #4911
@adidahiya
It is bad for me in Firefox (Windows) too, but only if the DPI is >100%. Tried 125% and 150%, both are bad.

The main div of the navbar is a little shorter in Firefox, and thus the content overflows when the DPI is not standard:
![chrome_2021-09-17_07-46-06](https://user-images.githubusercontent.com/304384/133730950-e82070d8-9b19-4deb-a9de-b6ad3d6d806c.png)

![firefox_2021-09-17_07-46-5

[2021-09-17 07:43] kenjinz commented on #4913
I got the similar problem in Date Input components too.

[2021-09-17 08:32] kenjinz commented on #4913
@anthonybalmeo I think you can try it:
popoverProps={{
   shouldReturnFocusOnClose: false,
 }}

add this props in. It worked for me.

[2021-09-17 11:10] Nifdee opened #4916 "Make Breadcrumbs keyboard-accessible"
Extracting from https://github.com/palantir/blueprint/issues/3925 which flags a couple of issues.

#### Environment

- __Package version(s)__:  core 3.49.1
- __Browser and OS versions__:

#### Feature request

A breadcrumb's `onClick` action should also be executed when the enter / space key is pressed (similar to what buttons do).

#### Examples

[2021-09-17 11:18] erikbgithub commented on #4911
I have an idea for an elegant fix, that would also improve the overall tooling: Dynamically define the width of the search box, with a minimum of the text width "Search files..." and a maximum as the right border of the outside box minus its padding. Additionally, the Home and Files could dynamically remove the text if they don't fit into the space anymore. Not sure if that's possible to code, tho

[2021-09-17 11:30] alexshtanin opened #4917 "Printing a page is not working correctly."
#### Environment

- __Package version(s)__: <^3.47.0>
- __Operating System__: <Windows 10 64bit>
- __Browser name and version__: <Google Chrome Version 93.0.4577.82>

#### Steps to reproduce
Goto link [blueprintjs overlay documentation](https://blueprintjs.com/docs/#core/components/overlay)
1. click on button "Show overlay"
2. click on button "Make me scroll".
3. Then Ctrl+P to print the page.

##

[2021-09-17 16:35] anthonybalmeo commented on #4913
@anhvu-1706-dnvn didn't seem to work for us :\

[2021-09-18 20:48] rygo11 opened #4918 "PanelStack2 'Render active panel only' not working"
#### Environment

- __Package version(s)__: 3.49.0
- __Operating System__: OSX
- __Browser name and version__: Brave, Firefox, Safari

#### Code Sandbox

The issue happens on demo:
https://blueprintjs.com/docs/#core/components/panel-stack2

#### Steps to reproduce

1. Go to https://blueprintjs.com/docs/#core/components/panel-stack2
1. In demo turn off 'Render active panel only'
1. Set counter to >

[2021-09-20 09:04] SNY7 commented on #4913
@anhvu-1706-dnvn Works like a charm, thanks for sharing :D

[2021-09-20 21:14] #4913 closed, assigned to nobody

[2021-09-21 01:15] ro-savage opened #4920 "New EnforceFocus on overlay causes dialogs to jump"
#### Environment

- __Package version(s)__:
 "@blueprintjs/core": "^3.50.2",
    "@blueprintjs/datetime": "^3.23.12",
    "@blueprintjs/popover2": "^0.12.2",
    "@blueprintjs/select": "^3.18.4",
- __Operating System__: MacOS
- __Browser name and version__: Chrome 93

#### Code Sandbox
https://codesandbox.io/s/blueprint-sandbox-forked-5m8ok?file=/src/index.tsx

#### Steps to reproduce

Open dialog

[2021-09-21 01:22] ro-savage commented on #4920
@michael-yx-wu - I believe `shouldReturnFocusOnClose` should also be added to DatePickers and any other similar elements.

[2021-09-21 14:14] styu opened #4921 "Removing focus from tooltip inside of a popover closes popover"
#### Environment

- __Package version(s)__: popover2 0.12.2
- __Operating System__: OSX
- __Browser name and version__: Chrome

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-forked-5j1fz?file=/src/Popover2Example.tsx

#### Actual behavior
When you hover over the tooltip and move off the tooltip target but stay within the popover contents, the entire popover closes

#### Expected be

[2021-09-21 14:38] michaeledryan commented on #4921
Just wanted to note that we hit this because the focus on the example's `textarea` is what controls the popover. Moving off the tooltip changes the `activeElement` to something with `bp3-popover-dismiss`. I tried a few different props here, but the tooltip always grabs focus when it closes.

[2021-09-21 16:10] michael-yx-wu commented on #4920
I think you're right. Seems like it `shouldReturnFocusOnClose` should default to `false` for DatePickers to avoid re-opening the DatePicker after a date has been selected.

[2021-09-21 16:11] adidahiya commented on #4920
@ro-savage I'm not sure how to use your code sandbox... the dialog doesn't scroll or jump...?

![image](https://user-images.githubusercontent.com/723999/134207232-7e02d9a8-fb04-4c0a-835b-41d242d8f7a3.png)

Also, https://github.com/palantir/blueprint/pull/4919 disabled `shouldReturnFocusOnClose` for all popovers, which includes DateInput. So I believe this should be resolved already?

[2021-09-21 16:18] michael-yx-wu commented on #4920
I think he meant to enclose the `DateInput` inside the dialog instead of making it a sibling.

[2021-09-21 16:33] adidahiya commented on #4920
Can someone post an updated sandbox demonstrating the bug?

[2021-09-21 16:35] adidahiya commented on #4918
At the time of writing, the core version in the docs site was 3.49.0 (note this version is important to include in your bug report, instead of simply "whatever is in the online demo", since the latter changes over time).

This seems to be a regression in PanelStack2; the counter state should be retained as you navigate through panels when `renderActivePanelOnly={false}`.

[2021-09-21 16:58] adidahiya commented on #4921
I think you can easily fix your problem by setting `enforceFocus={false}` on the popover. We technically "fixed" the enforce focus behavior in v3.50 (it was previously broken) and as a result, started taking more control of focus upon open & close of the underlying `Overlay`... any popover which sets its open state based on focus management in the document (a rare use case) has the potential to be

[2021-09-21 17:00] adidahiya commented on #4921
Btw here's the code sandbox I've been using to test this. It shows both Popover & Popover2 examples: https://codesandbox.io/s/blueprint-sandbox-forked-6zp4e?file=/src/PopoverExample.tsx

[2021-09-21 19:48] tgreen7 opened #4923 "Default overlay leave transition does not fade content nicely"
#### Environment

- __Package version(s)__: 3.49.1

#### Code Sandbox

Link to a minimal repro https://codesandbox.io/s/blueprint-overlay-ktx4f?file=/src/index.tsx

#### Steps to reproduce

1. Open overlay with button
2. click outside overlay to close it
3. the backdrop fades but the card hangs for a second and then disappears in a very clunky transition

#### Expected behavior

The default transi

[2021-09-21 19:59] adidahiya commented on #4918
I've traced the problem to this code in PanelView2 which isolates the panel component's lifecycle from that of our PanelStack2 component:

https://github.com/palantir/blueprint/blob/beb33c2b31f139f37a325f90ae23e7847ee7522b/packages/core/src/components/panel-stack2/panelView2.tsx#L80-L88

This was added to fix bugs in controlled mode where we violated some React rules around inconsistent number of

[2021-09-21 21:17] rygo11 commented on #4918
Apologies ref the version number, I now understand the importance and have updated the bug report. Thanks for the follow up.

[2021-09-21 22:25] #4918 closed, assigned to adidahiya

[2021-09-21 23:12] ro-savage commented on #4920
@adidahiya - Sorry it looks like the sandbox didn't actually save my changes last time.

I've just re-created it at the same link.
https://codesandbox.io/s/blueprint-sandbox-forked-5m8ok?file=/src/index.tsx

Here is a video of the issue as well
https://www.loom.com/share/c601519f6dc54c939ad817fb723d59c6

[2021-09-22 11:47] adidahiya commented on #4920
@ro-savage ok, thanks for the updated sandbox and the video. I can clearly see the issue now.

You can easily work around this issue by setting `<Dialog enforceFocus={false}>` on your dialogs where you expect to have a scrollable body container. Most dialogs don't scroll, so I feel that it's probably ok for the component default to remain `enforceFocus={true}`, and users like you can disable it on

[2021-09-22 17:00] Nancy-Wang0721 commented on #3380
Hi, just wondering is this issue fixed yet? I'm using package version **@blueprintjs/core@npm:3.28.1** and are still experiencing the issue.

[2021-09-22 17:04] adidahiya commented on #3380
@Nancy-Wang0721 that version is fairly old. if the issue still persists, can you please post a code sandbox demonstrating the problem?

[2021-09-22 20:27] Nancy-Wang0721 commented on #3380
It's now fixed. Thank you!

[2021-09-22 21:44] styu opened #4926 "Using renderTarget in Popover2 crashes on open"
#### Environment

- __Package version(s)__: core: 3.50.2, popover2: 0.12.2
- __Operating System__: OS
- __Browser name and version__: Chrome

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprint-sandbox-forked-ve6li

#### Actual behavior

![image](https://user-images.githubusercontent.com/1143755

[2021-09-23 06:43] WeronikaWeglinska opened #4927 "DateInput wrongly positioned when overlay hidden"
#### Environment

- __Package version(s)__:
    "react": "^17.0.0",
    "@blueprintjs/core": "^3.31.0",
    "@blueprintjs/datetime": "^3.23.12",
- __Operating System__: MacOS
- __Browser name and version__: Chrome Version 93.0.4577.82 (Official Build) (x86_64)

#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/s/blueprint-sandbox-forked-ne4h3

#### Steps to reproduce

1. Have a co

[2021-09-23 12:30] yob-yob opened #4928 "[Legal]: Am I allowed to create components on another framework based on your design system?"
Your design system is wonderful, I just find your design system a much better alternative than Google's Materialize Design.
The only problem that I have is that it doesn't have support for other frameworks. so...

## Question 1

I'm planning to create a UI Components Framework based from this design system using the Svelte Framework. I wanted to know if do I have the legal rights to use your desig

[2021-09-23 15:47] adidahiya commented on #4927
1. I don't see a minimal repro in that code sandbox link
2. core 3.31.0 is a very old version, please try again with the latest versions of core & datetime packages.

[2021-09-23 18:44] adidahiya opened #4930 "FR: Text component should support intent colors"
#### Environment

- __Package version(s)__: core 3.50

#### Feature request

There should be an easy way to display text with different intent colors, something like `<Text intent="danger">Something bad</Text>`

[2021-09-24 05:43] WeronikaWeglinska commented on #4927
In the sandbox it's "@blueprintjs/core": 3.49.1, in my app I tried with version "@blueprintjs/core" 3.50.2 and it's still the issue. Latest version of "@blueprintjs/datetime" is 3.23.12.

[2021-09-24 14:28] adidahiya commented on #4927
I still don't see a clear repro situation / example in your sandbox. Maybe you forgot to save the code. Can you please post a screenshot / video / gif as well?

[2021-09-25 15:54] neo7337 opened #4933 "Tree does not add id field to the node div in the HTML"
#### Environment

- __Package version(s)__: v3.50.1
- __Browser and OS versions__: Chrome  and MacOS

#### Question

I am trying to build an app for which I am implementing the Tree View structure from the blueprintjs/core.
I am able to implement the Tree View structure fine, but for my use case I need to access each node by the ID.
On checking the HTML created i could see that the each div does n

[2021-09-25 22:00] rubenlg commented on #4849
Any thoughts on this?

[2021-09-26 04:46] #4928 closed, assigned to nobody

[2021-09-26 22:58] uglycoyote commented on #3739
I ran into this trying to use [esbuild](https://esbuild.github.io/) to build BlueprintJS.   Explicitly defining `process` myself in my index.html got me past it, but seems like an egregious hack

I added the following before importing my bundle, which got me past the problem.

[code]

But this seems like something that should be cleaned up.

Interestingly, it looks like elsewhere in the blueprint

[2021-09-27 05:55] WeronikaWeglinska commented on #4927
I fixed the sandbox, the thing is, it will work incorrectly for smaller width containers and smaller resolutions. Also screen recording:

https://user-images.githubusercontent.com/55077112/134852180-28a54ab7-2828-4a91-8d81-823daef6f369.mov

[2021-09-27 10:06] ucg8j commented on #4171
Warning, this is hacky! However, I couldn't find in the docs anyway to pass this in nicely. Blueprint would be much more usable if the docs contained a few more examples.

Add some css to specify how many px you want to reduce the height by:
`./drawerCustom.css`
[code]

Then in your component use it
`./yourDrawerComponent.tsx`
[code]

Also, I'd suggest a slightly more expressive issue in future e.

[2021-09-27 11:31] ucg8j commented on #3515
I also have this issue. My setup:
[code]

What I've tried:
- `hasBackdrop={false}` doesn't work, an overlay component still renders covering the entirety of the page, preventing pointer events on other elements of the UI.
- have also edited the CSS to include @zdzarsky 's suggested inclusions. This does work. However (for me) it introduces bugs on other components that have pointer events e.g. a s

[2021-09-27 16:11] #3739 closed

[2021-09-27 16:28] uglycoyote commented on #3739
Thanks, that was fast.  you are awesome @adidahiya .

[2021-09-28 11:55] trfv commented on #4864
https://github.com/palantir/blueprint/blob/develop/packages/core/src/components/toast/toaster.tsx#L83-L84
https://github.com/palantir/blueprint/blob/develop/packages/core/src/components/toast/toaster.tsx#L132

`usePortal` is always false when you use `Toaster.create()`. The workaround is stop using `Toaster.create()` I think.

cf) https://blueprintjs.com/docs/#core/components/toast.react-component

[2021-09-29 09:25] JuoCode opened #4938 "[FormGroup] Add fill prop support"
#### Environment

- __Package version(s)__: 3.50.3
- __Browser and OS versions__: Version 94.0.4606.61 (Official Build) (x86_64), macOS Big Sur 11.2.3

#### Feature request

Add `fill` prop for `FormGroup` to layout complex forms.

#### Examples

[code]

[2021-09-30 13:48] adidahiya opened #4942 "[node-build-scripts] sass-lint path logic is broken"
#### Environment

- __Package version(s)__: node-build-scripts v1.6.x

#### Steps to reproduce

1. Use `sass-lint.js` script outside of this repo, through `@blueprintjs/node-build-scripts`

#### Actual behavior

It always fails to find `.stylelintrc` because it's looking inside the `node_modules` folder where the scripts package is installed.

#### Expected behavior

The script is usable outside t

[2021-10-03 10:04] jayarjo opened #4946 "UGLY: Breadcrumbs that have more than one word, start to wrap"
#### Environment

- __Package version(s)__:  @blueprintjs/core@4.0.0-alpha.0
- __Operating System__: Ubuntu 18.0.4
- __Browser name and version__:  Chrome 93.0.4577.82

#### Code Sandbox

https://codesandbox.io/s/unruffled-rosalind-54d8h

#### Steps to reproduce

1. Drag container width resizing Slider until Breadcrumbs start to wrap

#### Actual behavior

Breadcrumbs wrap when they contain severa

[2021-10-04 09:38] santomegonzalo opened #4948 "Icons do not have `<desc>` anymore"
#### Environment

- __Package version(s)__: latest

#### Question

We used to have an old version of every BlueprintJS library but recently we decided to update to the latest version and now all our tests are breaking because the SVG does not include the `<desc>` field that used to have.

Is there any feature to enable this again?

**Expected **

[code]

**Current**

[code]

[2021-10-05 17:36] evansjohnson opened #4952 "ContextMenu is not keyboard accessible"
#### Steps to reproduce

https://blueprintjs.com/docs/#popover2-package/context-menu2

can't tab to and open context menu with keyboard

#### Possible solution

`tabIndex={0}` on context menu, open with key listener (? not sure, I'd imagine enter and maybe space but had trouble finding a good example), add `aria-haspopover="true"` to indicate what's going on

#### Question
any visual styling conce

[2021-10-06 05:12] adidahiya commented on #4952
Is there an example of this kind of keyboard a11y for context menus in other design systems or UI libraries?

[2021-10-06 16:10] evansjohnson commented on #4952
I was not able to find one but didn't look too long. Figured it was worth a quick issue file to track!

[2021-10-07 01:40] zimeibian opened #4956 "default focus changes producing undesirable behaviors in Dialogs containing other popovers + popup menus"
**Environment**
- **Package version(s):** core 3.50.4, popover2 0.12.4
- **Operating System:** macOS, Windows 10 VM
- **Browser name and version:** Chrome on macOS, Edge on Windows 10 VM

Noticed some new issues with popup menus + Dialogs containing popovers after a recent upgrade from `core 3.48.0` -> `core 3.50.4` and `popover2 0.11.2` -> `popover2 0.12.4` that both feel potentially related to s

[2021-10-07 13:26] marvinsum opened #4957 "Update the value prop of <Radio /> to be of type React.ReactNode"
This will allow rich text to be rendered for each `<Radio />` element.

[2021-10-07 18:32] adidahiya commented on #4957
@marvinsum do you mean `label`? We have a workaround where you can use `labelElement: React.ReactNode`.

`value` comes directly from React HTML input props, I'm not sure it's a good idea to override it...

[2021-10-07 23:15] ranjotsingh opened #4959 "Hotkey should show "option" text on macOS instead of "alt""
#### Environment

- __Package version(s)__: blueprintjs core v3.51.0
- __Browser and OS versions__: All browsers; macOS

#### Feature request

The text for `Hotkey` when `combo` has the word "option" should display "option" as the associated text on macOS instead of "alt". This is similar to how "mod" is "cmd" or "ctrl" depending on the operating system.

#### Examples
[code]
Currently, it automat

[2021-10-09 04:29] message commented on #4645
Even in a simple login form without icons, I get all svg paths packed into my Next.js build

[code]

Next.js: 11.1.2
Webpack: 5
Blueprint: 4.0.0-beta.2

![Screenshot from 2021-10-09 07-23-37](https://user-images.githubusercontent.com/492026/136644048-7c17d530-4044-4a48-b537-4c30c92d14d0.png)

[2021-10-09 04:49] message commented on #4645
To reproduce:

1) Download and unpack [nextjs-blueprintjs-icon-shaking-issue-4645.zip](https://github.com/palantir/blueprint/files/7314980/nextjs-blueprintjs-icon-shaking-issue-4645.zip)
2) yarn install
3) yarn analyze
4) Check "Show content of concatenated modules (inaccurate)" in server report

[2021-10-09 08:10] message commented on #4645
Yeap, some `@blueprintjs/icons` imports in `src/components/icon/icon.tsx` and few other places.

Please, let me know if the situation with adding icons was intended this way, or it's actually an undesired behavior.

I thought that icons should be modular, since they are in a separate package, and `@blueprintjs/icons` shouldn't be included in `@blueprintjs/core`.

[2021-10-10 21:35] tnrich opened #4961 "Unsure how to get the value of a radio field (while testing)"
Hey there @adidahiya !  Hope all is well for you and the team :)

I'm wondering.. I'm trying to write a cypress test right now to assert that the "negative" option is chosen in the the radio field displayed below:

![image (1)](https://user-images.githubusercontent.com/2730609/136713477-b81d5cce-acca-438a-8eb0-e4f075ea3edf.png)

I don't seem to see a way to do so unfortunately. There's an input wi

[2021-10-11 15:37] rhysbrettbowen commented on #4956
I'm now hitting this when using a mutliselect element inside a dialog. Tried putting the autoFocus & enforceFocus false on both the dialog and popoverProps in multiselect but still getting an infinite loop

[2021-10-11 17:08] DarryQueen opened #4962 "Support two-tier row/column headers."
Want something along the lines of https://www.w3.org/WAI/tutorials/tables/irregular/#table-with-two-tier-headers.

Currently most implementations use a visual styling internal to the cell to "fake" two columns.

[2021-10-11 19:17] marvinsum commented on #4957
Ah yes, `labelElement` works. My bad, I was looking at `IOptionProps` instead of `IRadioProps`

[2021-10-11 19:17] #4957 closed, assigned to marvinsum

[2021-10-13 17:57] domehead100 commented on #4619
It is idiomatic React in one way of thinking, but it is also idomatic React that an event handler, such as onContextMenu is handled by a function or method such as ContextMenu.show(...).

Not having an imperative option adds inefficiency in the case of large collections (even in a virtualized table wrapping every cell in a ContextMenu2 increases scrolling jankiness because you're asking the virtua

[2021-10-13 23:52] tihuan commented on #390
Haven't tried this yet, but wonder if it's possible to use [react-window](https://github.com/bvaughn/react-window) and/or [react-virtualized](https://github.com/bvaughn/react-virtualized) with the Table component 🤔

[2021-10-14 11:07] evansjohnson commented on #3941
Hey @adidahiya it looks like this was meant to be closed with https://github.com/palantir/blueprint/pull/4884 but didn't get picked up since it closed 2 issues.

I'm not able to reproduce like seen in the gifs above at https://blueprintjs.com/docs/#table/features 🎉

[2021-10-14 12:46] darkopetrovic commented on #4270
Actually, putting `user-select: none;` directly on the button itself is working as well:

[code]

[2021-10-15 11:26] skwee357 commented on #4271
Hey @Agamennon. I'm not related to Blueprint but I think I had a similar problem. Assuming I understood you correctly, the issue is that one of the active items that was selected by keyboard interaction is outside of the popover window, the popover won't scroll to it. I'm not sure if its a bug in Select/Suggest or the Popover element, but nevertheless there is a temporary fix you can incorporate.

[2021-10-15 15:33] #4920 closed, assigned to nobody

[2021-10-15 15:33] #4956 closed, assigned to adidahiya

[2021-10-15 15:55] adidahiya commented on #4645
We decided to change what "v4" and "v5" mean for Blueprint. This means that the `4.0.0-alpha.0` release differs greatly from `4.0.0-beta.x`. The latter is a closer representation of what `4.0.0` will look like. See [Blueprint v4.0 & v5.0 semantic swap](https://github.com/palantir/blueprint/wiki/Blueprint-v4.0-&-v5.0-semantic-swap) for more info. Unfortunately you'll have to wait until 5.0 to get i

[2021-10-15 16:00] message commented on #4645
Can't wait to use v5 in a personal project

[2021-10-15 16:32] adidahiya commented on #2863
Fixed by #4963.

[2021-10-15 17:33] tnrich opened #4967 "Add option to allow tooltip to be interactive (a la tippy)"
Hey there,

I think it would be great to add an "isInteractive" flag to <Tooltip> to allow the content inside them to be interacted with.

Here's an example from the Tippy tooltip docs of what I'm talking about:
![image](https://user-images.githubusercontent.com/2730609/137529052-4cd0f4f5-2080-4eca-b226-1ee78dce6b6f.png)

https://atomiks.github.io/tippyjs/#interactivity

Hope this request makes se

[2021-10-15 17:33] almosnow opened #4968 "Using blueprintjs with Vanilla JS, Radio group not working, is this a bug?"
I am using blueprintjs with Vanilla JS, as described here: https://blueprintjs.com/docs/#blueprint/getting-started.vanilla-js-apis

Then I create a RadioGroup with Radio buttons like this:

[code]
And get a component that looks like this:

![image](https://user-images.githubusercontent.com/4924797/137529158-c87bdbc6-8288-41c5-926c-1472bcf32f69.png)

Now, whenever I click any of the radio buttons,

[2021-10-15 20:21] adidahiya commented on #4968
It looks like you never update any of the radio components to be marked as selected in the `onChange` event handler. You need to set `RadioGroup`'s `selectedValue` prop.

Please try to produce a bug repro in the code sandbox link provided in the issue template, if possible. If no such repro is possible, then it's likely not a bug.

[2021-10-15 20:22] adidahiya commented on #4967
Why not use a Popover instead, in this case?

[2021-10-15 20:39] tnrich commented on #4967
@adidahiya because the interaction is different, with a blueprint popover you'll have to click to have the tooltip show up. In the tippy example I sent, you don't have to click.

[2021-10-15 21:22] almosnow commented on #4968
I saw the sandbox but it ws not set up to work w/ Vanilla JS as in the provided example, I could still share a codepen or something if you think that's convenient.

That's what I've been trying to do w/ no avail, could you provide an example of this? Sorry if i'm being kind of a noob here but well ... that what's I am. Also, because of the particular context where we are using this, we have to res

[2021-10-17 23:06] pulzar commented on #4780
Any workarounds? For default scroll speed on mac I also get a number of rows that don't render on mouse scroll.

[2021-10-18 16:14] adidahiya commented on #4921
I looked into this again after recently fixing some focus behavior in https://github.com/palantir/blueprint/pull/4963, and I think we can make an improvement to `enforceFocus`... in cases like this example, where the popover has `autoFocus={false}`, we can err on the side of being conservative and assume that the popover _never got focus in the first place_. So even though it has `enforceFocus={fa

[2021-10-18 16:23] adidahiya commented on #4967
Just use `interactionKind="hover"`:

![image](https://user-images.githubusercontent.com/723999/137770542-36791c94-0064-4476-a870-9bdb5c5968db.png)

https://codesandbox.io/s/blueprint-sandbox-forked-ex2bn?file=/src/Popover2Example.tsx

[2021-10-18 17:58] #4921 closed, assigned to adidahiya

[2021-10-19 09:11] WeronikaWeglinska commented on #4927
Also it's the same issue for @blueprintjs/select

[2021-10-19 21:50] rafaellichen opened #4973 "Unexpected import error for dom4"
# Environment
@blueprintjs/core: `3.54.0`
rollup: `2.71.1`
@babel/core: `7.17.10`

I am using `rollup` and `babel` to compile everything into a single .js file.
# Issue
The following issue appears after upgrading @blueprintjs/core library:
[code]
and the above stack trace leads to
[code]
# Cause
The older version of @blueprintjs/core@3.48.0 compiles to the following. However, in the newer version

[2021-10-20 06:47] JoseLion commented on #4857
Any news on this one?

[2021-10-20 13:17] adidahiya opened #4974 "[v4] EditableText uses wrong text color when disabled and alwaysRenderInput={false}"
#### Environment

- __Package version(s)__: core 4.0.0-beta.4
- __Operating System__: macOS
- __Browser name and version__: Chrome

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)):

#### Steps to reproduce

1. Render `<EditableText value="title" disabled="true" />`

#### Actual behavior

Text is styled as disabled text, with i

[2021-10-20 14:23] rogozind opened #4975 "Is it possible to reload table data and keep exact scroll position?"
#### Environment

- __Package version(s)__:  Table 3.5

#### Question

I have a table with some data.  One of the columns is an action which changes the data on the backend. After that I need to reload the data and re-populate the table.
If a user scrolls the table to the middle and performs the action the table is reloaded and user loses the scroll position.
Can I reload the data and still keep t

[2021-10-20 17:08] maclockard opened #4976 "Select's types don't accept readonly item arrays"
#### Environment

- __Package version(s)__:
  - @blueprintjs/core: 3.48.0
  - @blueprintjs/select: 3.17.0
- __Operating System__: macOS 11.6
- __Browser name and version__: Firefox 92

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)):
https://codesandbox.io/s/blueprint-sandbox-forked-8sm3h?file=/src/index.tsx

#### Steps to rep

[2021-10-21 06:08] tgreen7 commented on #4961
you can use

[code]

[2021-10-21 15:07] #4961 closed, assigned to nobody

[2021-10-22 01:34] mormahr opened #4979 "Popover2 Regression: ContextMenu2 scrolls to top when context menu is opened in Chrome and Firefox"
#### Environment

- __Package version(s)__: @blueprintjs/core@3.51.1, @blueprintjs/popover2@0.12.1
- __Operating System__: macOS Big Sur 11.6 (20G165)
- __Browser name and version__: Chrome 95.0.4638.54 (arm64), Firefox 93.0, _Safari 15.0 (16612.1.29.41.4, 16612) [Safari still works]_

#### Code Sandbox

Link to a minimal repro:

https://codesandbox.io/s/blueprint-sandbox-forked-sk3n3 (<- _not_ wo

[2021-10-22 14:14] goncaloc1 opened #4981 "Popover2 will cause the page to scroll up unexpectedly"
#### Environment

- __Package version(s)__: @blueprintjs/core: 3.51.0, @blueprintjs/popover2: 0.12.5
- __Operating System__: Any
- __Browser name and version__: Chrome, Firefox ESR (both latest)

#### Steps to reproduce

1. On a page with vertical scrollbar, scroll down;
2. Hover an item with `Popover2` component.

#### Actual behavior

`Popover2` will be displayed but the page will scroll up auto

[2021-10-22 14:36] adidahiya commented on #4981
This is a major regression, I'm looking into this ASAP

[2021-10-22 14:36] adidahiya commented on #4979
essentially a duplicate of #4981

[2021-10-22 14:36] #4979 closed, assigned to nobody

[2021-10-22 14:55] #4981 closed, assigned to adidahiya

[2021-10-22 16:19] #4974 closed, assigned to nobody

[2021-10-22 23:44] switz commented on #4645
I'm on `"@blueprintjs/icons" "^4.0.0-beta.3"` and can no longer import icons from the root package:

<img width="591" alt="image" src="https://user-images.githubusercontent.com/990166/138533772-3fb73f44-c95b-4726-b44e-19a00f3da602.png">

<img width="728" alt="image" src="https://user-images.githubusercontent.com/990166/138533782-71c16bd8-32c1-4266-8a06-1ea8753b72f3.png">

[2021-10-23 04:06] almosnow commented on #4968
???

[2021-10-25 10:34] chetanism commented on #3943
Hi, I recently ran into this issue and took some time to get to the problem and figure out a workaround. I am leaving it here just in case someone else stumbles through same problem.

I am using react-hook-form along with blueprint-js. I added a `NumericInput` in a simple form and soon ran into problems. The workaround was to use the `useController` API provided by react-hook-form to translate the

[2021-10-25 15:42] slieschke commented on #4868
The `classes-constant` rule also modifies non-Blueprint related strings that contain `pt-` like `'Accept-Encoding'`, incorrectly transforming it to `` `${Classes.ENCODING} Acce` ``.

[2021-10-26 15:09] adidahiya opened #4985 "[v4] MenuItem active + hover state styling looks off"
#### Environment

- __Package version(s)__: core v4.0.0-beta.5, select v4.0.0-beta.5
- __Operating System__: macOS
- __Browser name and version__: Chrome

#### Steps to reproduce

1. [Visit v4 select docs](https://blueprintjs.com/docs/versions/4/#select/select-component)
1. Select an item in dropdown
1. Open the dropdown again, hover through items

#### Actual behavior

The active MenuItem goes fr

[2021-10-26 15:20] aycai opened #4986 "[v4] disabled inputs have a border"
#### Environment

- __Package version(s)__: core v4.0.0-beta.5
- __Operating System__: macOS
- __Browser name and version__: Chrome

#### Steps to reproduce

1. [Visit the form group docs page](https://blueprintjs.com/docs/versions/4/#core/components/form-group)
1. Turn on the "Disabled" toggle in the interactive demo

#### Actual behavior

The input border is still present when disabled.
![Screen

[2021-10-26 15:32] aycai commented on #4986
Also present in the other demo, though they both seem to toggle the attribute
![Screen Shot 2021-10-26 at 11 30 54 AM](https://user-images.githubusercontent.com/3513503/138911908-ff6cfcbe-252d-4d31-abe3-7c60bd91e048.png)
:

[2021-10-26 16:12] aycai commented on #4985
Sorry, scratch my previous comment - for the `select` component specifically, using the new hover state for the selected state (the light background with blue text) is the intended static state, and it will still have an `:active` state that matches the primary intent - this allows multi-select menus to retain feedback when clicking on selected menu items.
![image](https://user-images.githubuserco

[2021-10-26 16:23] adidahiya commented on #4985
Ok, cool, the design proposed in your second comment makes more sense. I'll go head and implement that.

We have some unfortunate prop naming at the moment; `<MenuItem active={true} />` actually represents the "selected" appearance. I can also go ahead and add `selected?: boolean` as a replacement and deprecate `active?: boolean` (although it won't fully go away until Blueprint 5.x; I don't want t

[2021-10-26 16:27] aycai opened #4988 "[v4] disabled inputs do not use disabled styling"
This is building off of #4986 - flagged that other styles don't switch to disabled colors

#### Environment

- __Package version(s)__: core v4.0.0-beta.5
- __Operating System__: macOS
- __Browser name and version__: Chrome

#### Steps to reproduce

1. [Visit form groups docs (CSS section has an icon)](https://blueprintjs.com/docs/versions/4/#core/components/form-group.css)
2. Toggle `:disabled` st

[2021-10-26 16:35] adidahiya commented on #4988
The CSS example section is kind of special and doesn't represent typical usage (we recommend the React component instead). To really see the disabled styles you need to toggle both `:disabled` and `.bp4-disabled` in that example.

The only bug I see after my bugfix PR https://github.com/palantir/blueprint/pull/4987 is the text color for the _placeholder_ text -- regular text gets the right disable

[2021-10-26 16:36] aycai commented on #4988
ahh right, gotcha - and thanks for the specificity!

[2021-10-26 16:41] adidahiya commented on #4985
There are some further complications -- currently, we apply the primary intent class to the MenuItem when `active={true}` and `intent` is undefined... I think we should stop doing that and instead set up the styles differently to achieve the design in your screenshot.

[2021-10-26 23:10] aycai opened #4989 "[v4] Input and button borders don't match when combined"
#### Environment

- __Package version(s)__: core v4.0.0-beta.5
- __Operating System__: macOS
- __Browser name and version__: Chrome

#### Steps to reproduce

1. [Go to the numeric input page in the docs](https://blueprintjs.com/docs/versions/4/#core/components/numeric-input)
2. View the basic example

#### Actual behavior

Input and button borders use different colors across intents and modes. Thi

[2021-10-27 18:10] adidahiya opened #4991 "[v4] minimal tag remove icons have the wrong color / insufficient contrast"
#### Environment

- __Package version(s)__: core 4.0.0-beta.5

#### Steps to reproduce

1. Go to [MultiSelect docs](https://blueprintjs.com/docs/versions/4/#select/multi-select)
1. Enable minimal tag style

#### Actual behavior

<img width="760" alt="Screen Shot 2021-10-27 at 2 08 19 PM" src="https://user-images.githubusercontent.com/723999/139122414-9baa8e59-2f04-4b17-9b4e-d4bcb97e9011.png">

###

[2021-10-28 07:30] BreakUps opened #4994 "Suggest: the initail selectedItem is not active in queryList"
#### Environment

- __Package version(s)__:  v3.15.6
- __Operating System__:  Ubuntu
- __Browser name and version__:  Chrome 92

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)):

#### Steps to reproduce
Using Suggest Component
Given initial props.selectedItem is not undefined

#### Actual behavior
When focus `Suggest` input, t

[2021-10-29 06:57] net commented on #4562
I believe this is because changing `props.items` causes this to call `setQuery`

https://github.com/palantir/blueprint/blob/c38abd34848128d68ec65beb1cea9956904d8443/packages/select/src/components/query-list/queryList.tsx#L238-L245

which sets `state.activeItem` to the first item

https://github.com/palantir/blueprint/blob/c38abd34848128d68ec65beb1cea9956904d8443/packages/select/src/components/quer

[2021-10-29 20:13] #4988 closed, assigned to nobody

[2021-10-29 20:14] #4986 closed, assigned to nobody

[2021-10-29 20:14] #4985 closed, assigned to nobody

[2021-10-29 20:14] #4991 closed, assigned to adidahiya

[2021-10-29 20:43] costantine75 opened #5000 "Menu w/ focus and hover to open, then re-opens and closes repeatedly"
#### Environment

- __Package version(s)__:    "@blueprintjs/core": "^3.41.0",
- __Operating System__: Windows 10 Enterprise
- __Browser name and version__: Chrome Version 95.0.4638.54 (Official Build) (64-bit)

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)):

#### Steps to reproduce

Introduced very recently (easily within t

[2021-10-29 21:26] adidahiya commented on #5000
Please create a code sandbox with a clear repro of the issue. We had some problems with menus/popovers opening and closing repeatedly, but I think they're all fixed in the latest core and popover2 packages.

[2021-10-29 21:33] costantine75 commented on #5000
with all due respect: Def not.
________________________________
From: Adi Dahiya ***@***.***>
Sent: Friday, October 29, 2021 5:27:03 PM
To: palantir/blueprint ***@***.***>
Cc: costantine75 ***@***.***>; Author ***@***.***>
Subject: Re: [palantir/blueprint] Menu w/ focus and hover to open, then re-opens and closes repeatedly (Issue #5000)

Please create a code sandbox with a clear repro of the issu

[2021-11-01 12:40] forana opened #5001 "Suggest: Consider `preventDefault()` by default in `onItemSelect`"
#### Environment

- __Package version(s)__: 3.51.3

#### Feature request

When using `<Suggest />` inside a form, using the keyboard to select a suggestion and pressing Enter results in the form being submitted. This is not obvious behavior, and can be prevented by using `preventDefault()` on the event parameter to the `onItemSelect` callback - but, it does seem that the expected behavior here wou

[2021-11-01 16:21] #5000 closed, assigned to nobody

[2021-11-01 16:22] costantine75 commented on #5000
I submitted on Friday, I have a day job. It is only noon on Monday.

Please work with people, or manage expectations.

From: Adi ***@***.***>
Sent: Monday, November 1, 2021 12:21 PM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [palantir/blueprint] Menu w/ focus and hover to open, then re-opens and closes repeatedly (Issue #5000)

Closed #5000<https://github.com/palantir/blueprint/i

[2021-11-01 20:20] adidahiya opened #5002 "[v4] icon font visual regressions"
#### Environment

- __Package version(s)__: 4.0.0-beta.x

#### Actual behavior

Some icons in the icon font have are rendered poorly, with less fidelity than their SVG counterparts. For example, the "random" icon:

![image](https://user-images.githubusercontent.com/723999/139736366-83f06ac4-822d-4d2b-8adc-a6b61bc4edc0.png)

#### Expected behavior

![image](https://user-images.githubusercontent.com

[2021-11-02 11:08] romanr commented on #3422
This is an important UX issue. You click into the field on rightElement and it does not respond. You have to move mouse into the space to the left of rightElement to click and put focus into input field. How annoying is that! This is a serious UX issue.
Is there a way to fix that?

[2021-11-02 11:11] romanr commented on #3422
This should be classified a bug. You click on input field and it does not receive focus. How is this not a bug?

[2021-11-02 15:23] adidahiya opened #5003 "[v4] textarea should have same border styles as text input"
#### Environment

- __Package version(s)__: core v4.0.0-beta.6

#### Steps to reproduce

Compare [v4 text input](https://blueprintjs.com/docs/versions/4/#core/components/text-inputs) with [v4 textarea](https://blueprintjs.com/docs/versions/4/#core/components/text-inputs.text-area)

#### Actual behavior

Textarea uses the v3 lower contrast border styles

#### Expected behavior

Border styles should

[2021-11-02 16:09] JoeDuncko commented on #185
Very disappointed that Blueprint lacks `as` props on its buttons. The fact that there is no good solution for getting Blueprint to play nice with the most popular react routing library is a shame. Even `react-bootstrap` has a solution.

EDIT:

This ended up being my solution. See https://github.com/remix-run/react-router/issues/6962 for info on the removing the `navigate` prop bit.

[code]

EDIT 2

[2021-11-02 22:10] gregorymcdonald commented on #4868
Here's an additional example of the `classes-constant` rule incorrectly fixing a non-Blueprint string:
Original: `"@typescript-eslint"`
Transformed: `` `${Classes.ESLINT} @typescri` ``

[2021-11-03 09:00] kekloon opened #5004 "DateRangePicker calendar is behind the modal"
![image](https://user-images.githubusercontent.com/36944301/140032368-0efe6f97-2592-4a2f-a479-c38fb99eac49.png)

**I have tried to style z-index: 1200 !important with using className  **

[code]

[2021-11-03 15:51] adidahiya commented on #5002
Adding oslllo-svg-fixer and trying webfont still didn't solve the problem 😞  see https://github.com/palantir/blueprint/pull/5005

Here's what the icon font looks like in the Font Book app:

16px

<img width="1053" alt="Screen Shot 2021-11-03 at 11 50 19 AM" src="https://user-images.githubusercontent.com/723999/140095044-acc1ee5e-bda5-485c-800f-89152dfe30ce.png">

20px

![image](https://user-images

[2021-11-03 17:07] adidahiya commented on #5004
@kekloon can you please fill out the bug report issue template and create a clear repro case in a code sandbox? that will help with debugging and allow me to address your issue much faster.

[2021-11-03 18:22] #5003 closed, assigned to adidahiya

[2021-11-03 23:44] dwoznicki opened #5008 "DatePicker disabled/readOnly state"
#### Environment

- __Package version(s)__: @blueprintjs/datetime 3.23.15
- __Browser and OS versions__: N/A (let me know if you need this for whatever reason)

#### Question

Is there a way to put the `DatePicker` component into a disabled/readOnly state? I've found that I can put all days in a disabled state like so:

[code]

But then the user can still interact with the month/year controls.

![

[2021-11-04 10:43] dkasipovic opened #5009 "Default color palette?"
DISCLAIMER: This might be a dumb question, but I assure you I searched for this and found nothing, so I might be just being dense.

How do I get theme to be like in Blueprint docs?

[2021-11-04 14:43] LoiKos commented on #3753
It seems that Menu Aliases as been removed so i close this issue. If someone still getting the problem feel free to re-open.

[2021-11-04 14:43] #3753 closed

[2021-11-04 14:45] LoiKos commented on #4792
@KCFindstr Hi, do you test the latest option `shouldReturnFocusOnClose` added in blueprint  `3.50^`  and is this helping for your case ?

[2021-11-04 17:15] adidahiya commented on #5009
What do you mean by "theme"?

[2021-11-04 18:02] dwoznicki commented on #5008
I'll just quickly note the workaround I came to after opening this issue in case it helps. If the picker is disabled, I just wrap it in a low opacity div and turn off pointer events.

[code]

It took me a bit to land on this simple solution (many hours were spent playing with z-index and react-day-picker props), hence the issue.

[2021-11-04 23:55] kozubsky commented on #1776
Guys, context menu of kind is very cool! Is there any progress with this component and/or bridge to blueprintjs? Google finds nothing, unfortunately.

[2021-11-05 06:20] walnutfalls opened #5011 "Bug with calc() in `@blueprintjs/core/lib/less/variables.less`"
[code]

breaks the line

[code]

because 10px / 3 is not a number:

[code]

[2021-11-05 06:33] walnutfalls commented on #5011
Figured it out. It works with this config for less loader:
[code]

[2021-11-05 08:12] dkasipovic commented on #5009
Apologies, for some reason initially buttons were blue (like bootstrap blue), not gray. I must have been doing something wrong because when I switched to dark mode, add started working, it turned out alright.

[2021-11-05 08:12] #5009 closed, assigned to nobody

[2021-11-05 13:36] #5011 closed, assigned to nobody

[2021-11-05 13:45] adidahiya opened #5012 "[v4] MenuItem always renders "menu-item-icon" element even when icon is undefined"
#### Environment

- __Package version(s)__: core 4.0.0-beta.8
- __Operating System__:
- __Browser name and version__:

#### Steps to reproduce

1. Render `<MenuItem text="any text" />`

#### Actual behavior

`.bp4-menu-item-icon` element is rendered with `margin-right: 7px`, which throws off the grid / alignment of the MenuItem since there is extra whitespace on the left

#### Expected behavior

N

[2021-11-05 15:04] pedrommuller opened #5013 "Open Select without click on child component"
I'd like to know how can I open a Select without using the click method on the child component used to render the select.

[code]

Instead of using the click on the paragraph, I'd like to set a prop in UserSelect like isOpen = {myVar}, how can I achieve a similar solution?

[2021-11-05 16:15] adidahiya commented on #5013
Control the underlying Popover with `popoverProps={{ isOpen: true }}`

[2021-11-05 20:04] forana opened #5014 "4.0.0-beta tags missing fixes included in 4.0.0-alpha-0?"
I decided to try out the 4.0 beta in my project and noticed that #3979 is still an issue there - which is strange, since its fix (#4623) merged into `v4` in April and was included in the `core@4.0.0-alpha` tag.

Looking into it - there's quite a lot that's in the `4.0.0-alpha` tag and not the `4.0.0-beta` tags: https://github.com/palantir/blueprint/compare/@blueprintjs/core@4.0.0-beta.8...@bluepri

[2021-11-05 21:53] adidahiya commented on #5014
What was included in 4.0.0-alpha is now part of the set of changes we plan to release in Blueprint v5 -- see https://github.com/palantir/blueprint/wiki/Blueprint-v4.0-&-v5.0-semantic-swap and https://github.com/palantir/blueprint/wiki/4.x-Changelog#april-13-2021. In short, 4.0.0-alpha is no longer supported, and those "fixes" will come with v5.0.

Sorry for the delay here; we had to shift our focu

[2021-11-05 21:53] forana commented on #5014
Got it - thanks!

[2021-11-05 21:53] #5014 closed, assigned to nobody

[2021-11-07 21:33] tgalopin commented on #3248
I'm encountering this issue as well, but only when I'm using https://github.com/hotwired/turbo. Because of the way Turbo works, I put the script tags at the end of the head tag with the defer attribute. Given that people experiencing this issue seems to come from Rails, where Turbo originates from, it could make sense that the common denominator is the usage of Turbo.

By investigating a bit more,

[2021-11-08 22:05] KCFindstr commented on #4792
I tried adding that option to the code sandbox but the behavior did not change.

[2021-11-09 16:33] pedrommuller opened #5016 "Adding a custom class to Alert button"
I'd like to add a custom class to the confirm and cancel buttons of an alert, I've seen I can add a class name as a prop to the alert container but not directly to the buttons.

is it possible to do that?

[2021-11-10 00:13] Andrewnt219 commented on #4916
Hi @Nifdee, I want to help with this issue.

[2021-11-10 00:37] aycai opened #5017 "[v4] Disabled warning Buttons color looks incorrect"
#### Environment

- __Package version(s)__: core 4.0.0-beta.8
- __Operating System__:
- __Browser name and version__:

#### Steps to reproduce

1. Go to [button docs page](https://blueprintjs.com/docs/versions/4/#core/components/button)
2. In the interactive demo in the CSS section, check the `.bp4-intent-warning` option.
3. Toggle the `.bp4-disabled` option to see the difference between the two v

[2021-11-10 03:01] scrummitch commented on #4271
I had this issue, found that importing the css for select + popover fixed it.

[code]

[code]

[2021-11-10 15:10] adidahiya commented on #4916
@Andrewnt219 it's open for PRs if you want to contribute :)

[2021-11-10 18:08] jheadrick2 opened #5019 "Helper Text for forms should have 'above input' option"
I would like to know if we can support the option to make the helper text in BP forms appear above the inputs instead of below them. I find that the helper text is often used as a direction or a label for the input, in which case, it makes more sense hierarchically to appear above the input. Attached is the desired visual:
![image](https://user-images.githubusercontent.com/71517410/141169093-a27d8

[2021-11-10 18:18] nrathi opened #5020 "PanelStack panels throw error when wrapped in React.memo."
#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-forked-nbc80?file=/src/index.tsx

#### Steps to reproduce

1. Add/remove `React.memo` around `SecondPanel` -- it works w/o memoization, but not with.

#### More about my use case

I have an inner panel that loads data once on mount, and never again. I thought setting `renderActivePanelOnly` would correctly keep the inner panel around, b

[2021-11-10 18:21] mud commented on #5019
Here's an example where a `FormGroup` can have arbitrary number of input groups. It ends up pushing down the helper text further down.

![Screen Shot 2021-11-10 at 10 19 32 AM](https://user-images.githubusercontent.com/16532/141170876-c557ccee-0f79-4721-9579-ae28ada9ac2f.png)

[2021-11-11 14:49] adidahiya commented on #5017
Note that there was another bug (also fixed by #5021): warning intent _outlined_ buttons got the wrong background styles:

![image](https://user-images.githubusercontent.com/723999/141318038-acec6894-a448-428a-8e26-45bf21d3cfc5.png)

[2021-11-11 14:49] #5017 closed, assigned to adidahiya

[2021-11-11 15:01] tinopetros opened #5022 "[Feature] Adding intent to other input types"
Hello I am interested in adding intent to other input types, starting with radio and checkbox - just thought I would request comments before I make a contribution. The idea would be to enable it by styling the border of a radio or checkbox much like that of a textbox as shown here: https://blueprintjs.com/docs/#core/components/text-inputs.html-input

[2021-11-11 15:10] #5012 closed, assigned to adidahiya

[2021-11-11 15:42] aycai commented on #5017
amazing, thank you for the catch!

[2021-11-11 20:30] switz opened #5024 "Sample override for Blueprint3 colors in Blueprint4?"
#### Environment

- __Package version(s)__: ^4.0.0-beta.10
- __Browser and OS versions__: n/r

#### Feature request

I have a whole site built on Blueprint3 that I'm upgrading to v4, but since the dark colors changed a tad it's thrown my site out of whack. Are there any code samples for overriding the B4 colors with the B3 colors?

[2021-11-12 02:57] Andrewnt219 commented on #4916
@adidahiya This's weird. I have trouble installing node-sass for the project. My guess is that node-sass v4 depends on Node 14+, but the project's node version is limited to 12 & 13.

[code]

[2021-11-12 15:11] adidahiya commented on #4916
@Andrewnt219 that's not a node-sass installation problem; `sass-compile.sh` is a custom bash script in our repo. It looks like you're using Windows... there may be some build issues when using Windows (like https://github.com/palantir/blueprint/issues/4221), unfortunately I haven't had a chance to test the dev environment outside of macOS / Linux...

[2021-11-12 15:21] adidahiya commented on #5022
@aycai what do you think?

I think this could potentially work; we may need the "danger" intent styling for radio/checkbox controls in order to represent form error states, although we haven't fleshed out the designs there yet

[2021-11-12 15:38] nrakochy opened #5025 "Enable StrictMode in Blueprint 3"
#### Environment

- `core 3.51.3`

#### Question

Hi there,

Thanks for the great library 👍 Is there any upgrade path to use `StrictMode` in version 3? I see multiple tickets & PRs (for example, [here](https://github.com/palantir/blueprint/pull/4623)) to address this, as well as [the roadmap for v5](https://github.com/palantir/blueprint/wiki/Blueprint-5.0), so I see that is in active development.

[2021-11-12 17:10] dallonf opened #5026 "[Suggest] View does not update with activeItem"
#### Environment

- __Package version(s)__: v3.18.10
- __Operating System__: macOS 11.6
- __Browser name and version__: Firefox 94.0.1

#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/s/blissful-engelbart-u9rch

#### Steps to reproduce

1. Render a controlled `Suggest` component with `activeItem={null}`
1. While the component is mounted, re-render it with a new `activeItem` valu

[2021-11-12 20:32] switz commented on #4645
What's the best way to access specific Icons while tree shaking in v4? Is there any way?

Any plans to roll out v5 to npm?

[2021-11-13 00:10] Andrewnt219 commented on #4916
@adidahiya I tried both cd inside `packages/core` and changing the method in `node_modules`. None of them is applicable anymore it seems. Guess I have to drop this because I don't have any Mac.

[2021-11-15 05:42] net commented on #5026
See also #4562

[2021-11-15 18:30] adidahiya commented on #5025
We'll be compatible with React strict mode in Blueprint v5.0, ETA for which is approximately January 2022.

[2021-11-15 18:31] adidahiya commented on #3979
Re-opening since this is now part of v5.0

[2021-11-15 18:39] adidahiya commented on #5019
Ok, this makes sense to me, we can likely add this or accept a PR for this kind of option. @aycai do you have any thoughts?

[2021-11-15 19:15] aycai commented on #5019
Yep, chatted with @jheadrick2 about this, +1 to adding the option to have the helper text above the input (but below the label).

@jheadrick2 what spacing do you have in that screenshot? Looks reasonable there!

[2021-11-15 23:48] mud commented on #5019
Awesome, I'm happy to do the implementation. Initial thought was to add a new `labelHelperText` prop that renders underneath the label, but still allow `helperText` to exist. Another option is to add a `helperTextPosition` to specify where `helperText` is rendered.

I lean towards the first option to add `labelHelperText` since there's no reason to restrict anyone from specifying content for both

[2021-11-16 17:29] elodszopos commented on #4946
Can confirm this one, pretty unpleasant on responsiveness - any news over here? Thanks in advance!

[2021-11-16 18:46] adidahiya commented on #4933
Fair point. I think it would make sense to render the `id` prop to the DOM, perhaps as a `data-node-id="..."` attribute. Accepting PRs for this change.

[2021-11-17 03:42] mattskrobola opened #5027 "Table with ghost cells continues to scroll when there are no more rows"
#### Environment

- __Package version(s)__: blueprint 4 core and table

#### Code Sandbox

Link to a minimal repro:
https://codesandbox.io/s/cool-benz-es9oo?file=/src/App.js

#### Steps to reproduce

Create a scrollable Table with `enableGhostCells` set to true

#### Actual behavior

Scrollbar continues to scroll when reaching the bottom of the table. Also grabbing the scrollbar and dragging down

[2021-11-17 04:02] mattskrobola opened #5028 "Resizing a frozen column creates empty space / overlaps other columns"
#### Environment

- __Package version(s)__: blueprint 4 core and table

#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/s/quirky-mendeleev-30dm3?file=/src/App.js

#### Steps to reproduce

![resizeFrozenColumn](https://user-images.githubusercontent.com/13280642/142131580-2f2740b2-b495-4fd6-82af-1da25313bf18.gif)

The bug only appears if you pass `widths` to the Table component an

[2021-11-17 17:33] adidahiya commented on #5027
I've isolated the bug to occur between table v3.8.0 – v3.8.1

not present in v3.8.0: https://codesandbox.io/s/modern-sound-z9ul4?file=/src/App.js
present in v3.8.1: https://codesandbox.io/s/awesome-rumple-k40zq?file=/src/App.js

[2021-11-17 18:51] adidahiya commented on #5028
This seems related to https://github.com/palantir/blueprint/issues/3833, likely the same cause, another regression introduced in table v3.8.1, similar to https://github.com/palantir/blueprint/issues/5027

[2021-11-17 19:04] julix-unity commented on #4337
Just to follow up, was the half-filled star added?

Also would a rating component like https://mui.com/components/rating/ be something blueprintjs would be interested in making or is that too niche / specific?

[2021-11-18 18:54] evansjohnson commented on #4948
hey @santomegonzalo sorry this probably isn't the answer you're looking for but this issue caught my eye since it was removed in this PR I authored as part of Blueprint accessibility efforts: https://github.com/palantir/blueprint/pull/4835/files#diff-83c7c4c4e01f94dfe32f0f5a46660cd8c58fb51cfe6d587df6e60a4547350ea0R74-R76

The `desc` that was set previously was an the icon name with no additional f

[2021-11-19 06:55] paweljurczynskiflyr opened #5029 "Browser selects in DateRangeSelect closes immediately"
#### Environment
Google Chrome, MacOS 11.6

- __Package version(s)__:
"@blueprintjs/core": "3.51.3",
"@blueprintjs/datetime": "3.23.4",

https://user-images.githubusercontent.com/76954367/142578128-cdea44dc-85e6-44ee-bb95-5adb602f836e.mov

- Google Chrome, MacOS 11.6

#### Question

After upgrade `@blueprintjs/core@3.45.0` to `@blueprintjs/core@3.51.3` DateRangeSelect behaves in a different way. O

[2021-11-19 15:57] aycai commented on #5022
I think I have the same question as using intents for text fields - what is the goal of adding intents for these inputs? Is it to be able to color the input at all (maybe not just our four intent colors)?

Like @adidahiya mentioned we use the intent colors to convey state e.g. a blue focus ring around checkboxes and radios.

Acknowledged that we haven't finalized form design, but I don't think rad

[2021-11-19 16:18] adidahiya commented on #5029
@paweljurczynski-flyr can you try with the latest 3.x version of the datetime package? v3.23.4 is quite a few versions behind the latest (v3.23.18), and there were likely some bug fixes across those releases.

[2021-11-19 16:19] adidahiya commented on #4948
@santomegonzalo yeah, as @evansjohnson suggested, I think you should migrate from querying for `<desc>` in your tests to querying for the `[data-icon="..."]` attribute instead.

[2021-11-19 16:23] santomegonzalo commented on #4948
Thanks @evansjohnson and @adidahiya for your reply! I will close this issue now!

[2021-11-19 16:23] #4948 closed, assigned to nobody

[2021-11-20 13:27] #4975 closed, assigned to nobody

[2021-11-21 23:44] zachkirsch opened #5030 "After upgrading to @blueprintjs/core v4, menu items don't dismiss popover2"
#### Environment

- __Package version(s)__:
[code]
- __Operating System__: Mac
- __Browser name and version__: Chrome 95.0.4638.69

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-forked-p5p4b?file=/src/index.tsx

#### Steps to reproduce

1. Upgrade core to 4.x
2. Create a popover2 that wraps a that renders a Menu in the popover
3. Click the button to open the popover'ed menu, and th

[2021-11-22 05:58] getdir commented on #1108
P2 for 4.5 years. woot

[2021-11-22 07:24] paweljurczynskiflyr commented on #5029
@adidahiya unfortunately, it doesn't work as well. It looks like there are two clicks, but there is only one. Do you know how to debug it?

[2021-11-22 15:02] adidahiya commented on #5029
@paweljurczynski-flyr can you try and create a code sandbox isolating the bug repro?

[2021-11-22 15:04] adidahiya commented on #5030
@zachkirsch you need to upgrade to popover2 v1.0.0-beta.x; the 0.x range is not compatible with blueprint core 4.x

[2021-11-22 20:02] adidahiya commented on #956
I think we can make meaningful progress here by using the [`color-scheme`](https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme) CSS property as suggested in resources like [this SO post](https://stackoverflow.com/questions/65940522/how-do-i-switch-to-chromes-dark-scrollbar-like-github-does). I'll add this to v4.0 to be shipped alongside the overall color changes.

[2021-11-22 20:42] zachkirsch commented on #5030
Ah my bad, thanks :) Do you think it's valuable to throw that version onto 4.x version of the docs
<img width="290" alt="Screen Shot 2021-11-22 at 3 38 23 PM" src="https://user-images.githubusercontent.com/8902272/142932355-2f4d9c43-0e3c-4c52-b944-9bfaa8608365.png">
?