[2020-08-28 19:03] adidahiya commented on #3281
@Amarendra2627 there's an example in the [code sandbox linked in the docs](https://codesandbox.io/s/blueprint-sandbox-et9xy?file=/src/SelectExample.tsx:801-849)

[2020-08-28 21:46] tnrich commented on #3604
@adidahiya is there an official fix coming for this? Both of the two solutions mentioned above are really workarounds not true fixes. Also I've tried both and neither is working for me unfortunately :(

Does anyone know what caused this issue to start showing up? What changed exactly, the blueprintjs code or babel or webpack?

Thanks!

[2020-08-28 21:58] maclockard commented on #3604
@tnrich if you are curious, the reason why this started happening is that more people starting using es6, which has native classes. The underlying issue is that typescript's shim for classes when targeting es5 are not fully compatible with es6 classes (specifically instantiating es6 classes from an es5 shim class).

Also, if neither solution above didn't work for you, it wouldn't surprise me if yo

[2020-08-28 22:09] cybae0804 opened #4297 "Allow slider's `labelStepSize` to accept an array/function to specify which values should get a label."
#### Environment

- __Package version(s)__: 3.25.0
- __Browser and OS versions__: Ubuntu 18.04, Chrome 84

#### Feature request

Allow slider's `labelStepSize` to accept a array/function to specify which values should get a label.

#### Examples

If the min/max of the slider does not divide up nicely, the labels become very awkward. Say min/max is 1/200, step size of 10 would show 1, 11, 21, 31...

[2020-08-29 00:50] J-Vin commented on #4297
Are you suggesting adding a registry key?

[2020-08-29 01:21] fayzzzm commented on #4295
@adidahiya I will look more detail to this component and will try to find a better solution.

[2020-08-29 21:09] tgreen7 opened #4298 "Version 3.31.0 breaks InputGroup with redux form"
#### Environment

- __Package version(s)__: 3.31.0

#### Code Sandbox

working on 3.30.1
https://codesandbox.io/s/blueprint-sandbox-forked-n039t?file=/src/index.tsx

![working](https://user-images.githubusercontent.com/10415101/91646196-88403e80-ea01-11ea-96fe-a74dab8eb468.gif)

broken on 3.31.0
https://codesandbox.io/s/blueprint-sandbox-forked-327mz?file=/src/index.tsx

![broken](https://user-ima

[2020-08-30 03:21] wafisher commented on #947
Do you mind describing how you did this with CSS?

[2020-08-30 12:46] jareqpl opened #4299 "Memory leak in multiSelect and tagInput causing error in react due to using setState on unmounted component."
#### Environment

- __Package version(s)__:
    "@blueprintjs/core": "3.31.0",
    "@blueprintjs/icons": "3.20.1",
    "@blueprintjs/select": "3.13.7",
- __Operating System__: Windows 10
- __Browser name and version__: jest js-dom 26.4.2 (also happening in chrome 84.0.4147.135)

#### Code Sandbox

Please fork [https://github.com/jareqpl/bpjs-memory-leak-reproduction](https://github.com/jareqpl/bpj

[2020-08-30 20:43] cybae0804 commented on #4297
Not sure what you mean by that.

[2020-08-30 22:12] Nantris opened #4300 "Escape key cannot escape Popover element"
#### Environment

- __Package version(s)__: 3.31.0
- __Operating System__: Windows 7
- __Browser name and version__: Firefox 80 (Also seems to affect Webkit browsers)

#### Code Sandbox

https://blueprintjs.com/docs/#core/components/popover

#### Steps to reproduce

Open popover and then press `ESC`

#### Actual behavior
Nothing

#### Expected behavior

Popover closes upon `ESC`

[2020-08-31 05:36] Kupstas commented on #3604
@maclockard none of these 2 solutions work for me =(

[2020-08-31 05:51] Kupstas commented on #3604
Actually I see a very strange error log
[code]

[2020-08-31 12:37] bofa commented on #3779
I am having the same problems. If the container of the table has height set e.g. { height: '100%' } or { height: 1000 } the 4 column issue happens but if it don't have a height set there is not problem.

[2020-08-31 16:01] maclockard commented on #3604
@Kupstas could you include a code snippet showing how you are importing and using `HotkeysTarget` using the second solution?

[2020-08-31 17:03] tnrich commented on #4298
Ya it seems like https://github.com/palantir/blueprint/pull/4266 changed how async updates fired. This is definitely an issue for us

[2020-08-31 17:13] tnrich commented on #3604
@maclockard here's what I see when I tried:
[code]
[code]

I got similar looking webpack errors when trying the "mainFields" solution.

[2020-08-31 17:18] Kupstas commented on #3604
I added like in example. But I have got an error. Something like `Cannot use import statement outside a module`. Because I needed a fast solution, I removed HotkeysTarget and used another library

Also I had the same errors like @tnrich by using first solution

[2020-08-31 18:38] adidahiya commented on #4299
not a "memory leak" in the traditional sense of the term, but yes this is a bug. I recently fixed it in https://github.com/palantir/blueprint/pull/4290, which will be in the next release, likely next week.

[2020-08-31 18:38] #4299 closed, assigned to nobody

[2020-08-31 18:50] cybae0804 opened #4301 "Is there a way to delete a slider handle with a mouse event?"
#### Environment

- __Package version(s)__: 3.25.0
- __Browser and OS versions__: Ubuntu 18.04, Chrome 84

#### Question

For the `Slider.Handle` component, it seems like there's no native event listeners other than `onChange` and `onRelease`. I wanted to implement something like a double click to remove a handle. I'm guessing that the `onClick` listener is not supported due to interfering with th

[2020-08-31 20:31] maclockard commented on #3604
@tnrich the issue you are seeing there is due to the fact something in you loader chain can't handle the optional chain operator being used by blueprint when targeting `esnext`. As per this comment, https://github.com/palantir/blueprint/issues/3604#issuecomment-551288942 you need to both be using `babel-loader` _and_ be babeling blueprint (or all upstream dependencies). If you are currently doing

[2020-08-31 20:34] maclockard commented on #3604
Also, I might be wrong about babel being the thing that's failing to parse the optional chain operator, its just usually been the culprit in the past. If its still giving that error after making sure that blueprint is being babel and making sure that babel is at least 7.8.0, the parse error could be a different loader in your loader chain. In that case, try bumping the versions of these loaders an

[2020-08-31 20:42] tnrich commented on #3604
This seems like the best solution to me as well. I use nwb on top of webpack and don't feel like digging into the babel stuff right now so just downgraded nwb to a previous version where everything was working. This is fine for the time being but it would be great to have a simple HOC solution.

[2020-09-01 05:37] Kupstas commented on #3604
Why we cannot just render HotKey inside of view?

[2020-09-01 16:26] rhysbrettbowen opened #4302 "create Item not supported with custom list renderer in query list"
#### Environment

- __Package version(s)__: 3.13.7
- __Browser and OS versions__: N/A

#### Feature request

If you use a custom list renderer you lose all the goodness that comes with a create Item. You would have to have the create item as it's own regular item (or include it as something that can get passed) and everything that gets passed in to the component is ignored.

#### Examples

[2020-09-02 12:55] MichalPorag opened #4304 "Try to pick date in "Datepicker" with Formik"
#### Environment

- __Package version(s)__: 3.18.6
- __Browser and OS versions__: Chrome and Windows

#### Question

I try to change the date in the "Datepicker" will running text with Formik.
if I use this code:

`     const selector = document.querySelector(".bp3-datepicker-caption > .bp3-datepicker-month-select > select");
      selector.dispatchEvent(new Event("change"));
      selector.value

[2020-09-02 15:07] adidahiya commented on #947
@wafisher it's not the cleanest solution, but something like this works: https://codesandbox.io/s/blueprint-sandbox-forked-wnsjj?file=/src/index.tsx

[2020-09-02 15:19] adidahiya commented on #4300
Looks like Overlay's `autoFocus` prop isn't working as intended. This is a regression.

[2020-09-02 15:25] adidahiya commented on #4301
Hoping to clarify a few things in your request:

1. are you referring to the [`MultiSlider`](https://blueprintjs.com/docs/#core/components/sliders.multi-slider) component?
2. do you want to _add_ handles interactively? or _remove_ them? or both?
   - if so, how do you propose the UX to work? right now, clicking on the slider will change the position of the closest handle. I could imagine kind of d

[2020-09-02 15:36] adidahiya commented on #4031
sorry for the delay @gigerdo, but good news - it looks like @rhysbrettbowen has tackled your issue with a very similar solution in #4303

[2020-09-02 15:38] adidahiya commented on #4304
If you create a clear repro using the linked code sandbox that will greatly help in debugging, thanks

[2020-09-02 17:07] cybae0804 commented on #4301
1. Yes, sorry, `MultiSlider`. I was thinking in terms of `full` type `MultiSlider.Handle`, but if it could apply to range sliders also, it would be awesome.
2. I think it makes sense to both add/remove the handles interactively. Yeah, I imagine double-click to add/remove would interfere with the current `onClick` handler. I think the options are

- Right-click (to remove?)
- Ctrl/Shift-click to ad

[2020-09-02 18:19] adidahiya commented on #4298
@tnrich are you also using `redux-form`? curious if you are able to demonstrate a repro without using any external libraries

[2020-09-02 18:21] tnrich commented on #4298
@adidahiya yes also using redux-form. I haven't tried to replicate outside of a redux-form context

[2020-09-02 18:46] adidahiya commented on #4301
I would be open to this new feature; it needs a slightly more concrete design proposal. Happy to guide anyone through that if they are willing to submit a PR.

[2020-09-02 19:02] adidahiya commented on #4298
It looks like these issues: https://github.com/facebook/react/issues/955 and https://github.com/facebook/react/issues/14904. I'm going to try the workaround in https://github.com/facebook/react/issues/14904#issuecomment-522213842:

[2020-09-02 19:19] #4031 closed

[2020-09-02 19:19] #4302 closed, assigned to nobody

[2020-09-02 19:43] tnrich commented on #4298
Thanks @adidahiya hopefully that works! Let us know when we can test out the new version.

[2020-09-02 19:54] cybae0804 commented on #4301
It's a feature that I need for my other project, so I'd be willing to try my hands on it. I've also submitted a few other issues regarding the slider, so I'll see if I can get to those sometime soon and familiarize myself with this repo.

[2020-09-02 21:26] Redirts opened #4305 "Tooltip for tag input groups"
#### Environment

- __Package version(s)__: @blueprintjs/core": "^3.23.1",
- __Browser and OS versions__: All

#### Feature request

I would like support on tag input for tooltips so that when I hover over each tag I get a tooltip

#### Examples

[2020-09-03 02:52] jaamison commented on #4301
Just throwing out ideas here: Click+hold for a minimum duration with no drag movement could be an intuitive means for users to add a new handle at a specific point. And dragging a handle away from the track (up/down for horizontal sliders and left/right for vertical sliders) might be intuitive to remove it.

This would make dynamic handle addition/removal work more simply out of the box instead of

[2020-09-03 02:54] switz commented on #4175
For some reason my client is bundling /lib/esm. I'm not personally importing it at all, any idea why that might be?

<img width="845" alt="image" src="https://user-images.githubusercontent.com/990166/92066136-2f5d0700-ed6f-11ea-8d69-088fb84259d6.png">

[2020-09-03 04:28] dimitropoulos commented on #4062
hey :smile: I noticed that you're working on building a Stepper.  The [react-ui-roundup](https://github.com/dimitropoulos/react-ui-roundup) has a lot of other examples of Steppers that might be interesting or useful points of reference to you while you're developing it for Blueprint.

https://react-ui-roundup.dimitrimitropoulos.com/#Stepper

[2020-09-03 09:37] Redirts commented on #4305
Solved by passing into values the tooltip:
Example:

[code]

[code]

[2020-09-03 09:37] #4305 closed, assigned to nobody

[2020-09-03 13:09] adidahiya commented on #3736
I believe this is a duplicate of https://github.com/palantir/blueprint/issues/4267, fixed by https://github.com/palantir/blueprint/pull/4268

[2020-09-03 13:09] #3736 closed

[2020-09-03 14:05] gigerdo commented on #4031
Great, thanks!

[2020-09-03 14:21] justinbhopper commented on #4062
Very nice link, @dimitropoulos

One thing that this makes apparent is just how opinionated the Stepper idea would need to be.  There's just so many variations on how to visualize steps, as illustrated by React UI Roundup.  My example in this proposal is based on Material UI, for example, but may not be what others are hoping for from BlueprintJS.

[2020-09-03 20:47] jaamison commented on #3810
Browsers are trying to make clicks on labels behave just as if the click happened on the label's associated form control (or, apparently as we're seeing, the FIRST associated form control if there are multiple). IMO, this is an overly-opinionated reach for the spec to be making, but hey, what are you gonna do...

Unfortunately this creates a situation where the component's behavior (which should i

[2020-09-04 00:18] kezakez opened #4311 "Table enableFocusedCell causes text to be written in a previous unfocused cell (regression between 3.8.0 and 3.8.1)"
#### Environment

- __Package version(s)__: 3.8.1 and above
- __Operating System__: Mac
- __Browser name and version__: Chrome

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprint-sandbox-forked-gen08?file=/src/index.tsx

#### Steps to reproduce

1. in the first cell type 6
1. press enter
1. pre

[2020-09-05 11:25] aviita opened #4313 "Documentation on HOC use of ContextMenuTarget is vague"
Quite new to to react and using typescript with it. Also not sure if this is the right way to as these questions, but the documentation and examples could do with some additional clarity in my opinion.

I am confused by the example below as it does not explain or show how this `onContextMenu` is supposed to be used. So if it is mandatory, I'm sure there should be some implementation for it too.
[c

[2020-09-05 12:06] aviita commented on #4313
Also if this component from the example as such is put into use with component I wish to have the context menu:
[code]

I will get error like this:

[2020-09-06 02:02] ejose19 commented on #3603
I've got this too, here's a [sandbox](https://codesandbox.io/s/old-butterfly-spcxx), without selecting any date, just move with the month arrows and it will close.

Worth noting this work correctly on firefox, but on chrome it closes as soon the month reaches the min/max date

[2020-09-06 16:05] danielytics opened #4315 "@blueprintjs/icons versions after 3.18.0 cause Google Closure compiler to stackoverflow"
#### Environment

- __Package version(s)__: 3.20.1 (although it appears any > 3.18.0)
- __Operating System__: Manjaro Linux
- __Browser name and version__: N/A

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)):

#### Steps to reproduce

1. npm install @blueprintjs/icons with a version newer than 3.18.0
1. compile a project unde

[2020-09-07 08:36] rickysullivan opened #4317 "Reset Select component"
#### Environment

- __Package version(s)__: "@blueprintjs/select": "^3.13.7"
- __Browser and OS versions__: n/a

#### Question

I have two select components. If a user chooses an option from select component A, I'd like to reset select component B.

How can I reset a component back to an un-selected state.

![image](https://user-images.githubusercontent.com/437480/92366835-c4824600-f149-11ea-85f0-

[2020-09-07 12:55] aviita commented on #4313
I think my only problem now after proper digging through the example is with that type error I get. I do get it also after using e.g. the decorator example in plain react app created with *redux-typescript* template.
[code]

Even using the decorator example produces the same TypeError. But maybe this is more of a support request I should ask in stackoverflow.

[2020-09-07 12:55] #4313 closed, assigned to nobody

[2020-09-07 15:02] yarl commented on #4270
It kinda is, depends on implemented code it causes selection of some parts of application which is pretty noticeable.

[2020-09-07 20:01] rickysullivan commented on #4317
Ok, so I figured out that I can reset the text on the Button. I have also kept a reference to the `activeItem` in a context that's shared between both selectors. Selecting an item in select component A now removes the activeItem from select component B and the button text is also reset.

[2020-09-08 11:19] alberto-f opened #4318 "Formula for generating variants of a color"
Hello, Thank you very much for the work done on BlueprintJS component library.

Here, using blueprintjs version 3.31.

I have noticed that all the colors have their variants defined in `@blueprintjs/core/lib/scss/variables.scss`.

Have you hand pick the variants for every color ? Did you use any "logic" to come with those variants ? If so, could you share it ?

Thanks.

[2020-09-08 16:51] adidahiya commented on #4311
Was this working before 3.8.0? https://github.com/palantir/blueprint/commit/69882d36d1f1c8a0eb83859d714fc80a5ed98a53 is the only change between those two versions, it is a commit which tried to _fix_ some regressions in table lifecycle methods introduced in table v3.8.0.

Note that there are still lingering issues with table lifecycle methods in the 3.8.x version range: https://github.com/palantir

[2020-09-08 17:04] kezakez commented on #4311
Yes, it was working before 3.8.0.

To test I went into the codesandbox https://codesandbox.io/s/blueprint-sandbox-forked-gen08?file=/src/index.tsx and changed the version and retested the steps above.

The result:
3.8.1 fails
3.8.0 works ok
3.7.1 works ok
3.4.0 works ok
3.2.0 works ok
3.1.1 the code sandbox doesn't compile

[2020-09-08 17:08] adidahiya commented on #2820
Looking again at the PR which inadvertently caused the problem (https://github.com/palantir/blueprint/pull/2758), I think we should reconsider whether `preventDefault` is the right mechanism for the "capture dismiss" feature in the first place. The meaning of the "default" behavior becomes ambiguous in cases like this. So perhaps we should instead try to attach Blueprint-specific information to th

[2020-09-08 17:11] adidahiya commented on #3603
Thanks for the sandbox @ejose19. Note that it _only_ closes unexpectedly when no date is selected. If you first select a valid date, then reopen the picker and move to the min/max month, the popover stays open as expected.

[2020-09-08 17:26] cybae0804 commented on #4301
I think the best way to give the users the most flexibility would be to add these handlers that pass the clicked numeric position to the callback.

Ex.
`onCtrlClick` will receive a function `(num: number) => add/removeSliderHandle(num)` which will allow the users to do whatever they want with the click position.

And these event listeners can be defined depending on what you guys deem fit/feasible

[2020-09-08 17:53] adidahiya commented on #4315
I traced this bug back to the TS 3.9 upgrade in Blueprint (#4153). Looks like it is a bug in TypeScript which will be fixed in TS 4.0.2: https://github.com/microsoft/TypeScript/issues/38552.

[2020-09-08 17:55] #4315 closed, assigned to nobody

[2020-09-08 18:46] adidahiya commented on #4313
See https://github.com/palantir/blueprint/issues/3891, #3604

[2020-09-08 18:51] adidahiya commented on #4317
Closing as this seems to be a generic question about React application logic and not really Blueprint-specific.

[2020-09-08 18:51] #4317 closed, assigned to nobody

[2020-09-08 18:53] adidahiya commented on #4318
Yes, our designers created these color palettes balancing various concerns including accessibility, aesthetics, functionality, and brand identity. For more info see the [Colors docs page](https://blueprintjs.com/docs/#core/colors). If you have a specific question about the colors maybe we could try to answer it.

[2020-09-08 20:44] adidahiya commented on #3603
What's happening is the prev/next month button gets disabled when you reach the date bounds. In Chrome, this causes that `<button>` to lose focus, triggering a "blur" of the popover, closing the DateInput. Iff a date is selected (`defaultValue != null || value != null`), the `<input>` receives focus again, which reopens the popover, thus hiding the bug:

![2020-09-08 16 47 20](https://user-images.

[2020-09-08 20:59] adidahiya opened #4320 "NumericInput regression prevents typing decimal places"
#### Environment

- __Package version(s)__: core 3.30.0

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/nice-bartik-3ku3b?file=/src/App.js

#### Steps to reproduce

1. Type `.` at the end of input

#### Actual behavior

Nothing, keystroke is not registered

#### Expected behavior

Keystroke is regist

[2020-09-08 20:59] adidahiya commented on #4295
Actually, my comment above is wrong -- your sandbox was using an old version of blueprint core, 3.24.0. The behavior in the latest version (3.31.0) does not have this usability bug. But there was a new bug introduced in 3.30.0: https://github.com/palantir/blueprint/issues/4320

[2020-09-08 20:59] #4295 closed, assigned to nobody

[2020-09-08 23:34] Redirts commented on #4094
Setting renderMode={RenderMode.NONE} resolves this although performance might decrease as per documentation

[2020-09-09 01:36] #4270 closed, assigned to nobody

[2020-09-09 09:40] alexshtanin opened #4322 "Why does Blueprint Table component displays only 201 records?"
#### Environment

- __Package version(s)__: "@blueprintjs/table": "^3.8.10"
- __Operating System__:  Windows 10x64
- __Browser name and version__: Mozilla Firefox 80.0.1

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)):
[link](https://codesandbox.io/s/blueprintjs-table-forked-n1vbo?file=/src/DataTable.js)

#### Steps to reprod

[2020-09-09 09:43] #4322 closed, assigned to nobody

[2020-09-09 13:14] fayzzzm commented on #4295
I know about bug #4320, and has an idea of how to fix it. But unfortunately, I was busy last week. I will try to fix this issue.

[2020-09-09 14:16] adidahiya commented on #4213
This bug is back, regression happened somewhere

[2020-09-09 14:34] adidahiya commented on #4298
Update: using `defaultValue` all the time doesn't work, it is incompatible with a controlled API for InputGroup / NumericInput. Investigating other approaches.

[2020-09-09 16:50] ejose19 commented on #4213
@adidahiya Well, if you check the control group it works because it's using an external style applied to make it work. When I proposed changing the scss you replied this: https://github.com/palantir/blueprint/pull/4214#discussion_r452591445 and the change got removed, so this was never "fixed" in practice.

If you want to fix for docs only, then just copying the same logic into numeric input works

[2020-09-10 13:41] adidahiya commented on #4320
Actually, nevermind -- this is an intended change with the fixes made to controlled usage of NumericInput in #4211. The new behavior is correct, but consumers may have been relying on buggy behavior of the component before that change. The recommendation is that controlled usage should _always_ use the second parameter of `onChange`, taking the value as a string, rather than as a parsed number.

[2020-09-10 14:06] #4320 closed, assigned to adidahiya

[2020-09-10 14:13] #4213 closed, assigned to nobody

[2020-09-10 17:39] adidahiya opened #4327 "NumericInput controlled mode warns about invalid value too often"
#### Environment

- __Package version(s)__: core 3.31.0

#### Steps to reproduce

1. set up `<NumericInput value={this.state.value} onChange={(_v, value) => this.setState({ value })) />`
1. type `0.`

#### Actual behavior

in dev mode, the component complains that

[code]

![2020-09-10 13 38 22](https://user-images.githubusercontent.com/723999/92773973-0ccc7e80-f36b-11ea-89fd-ebcf366b4922.gif)

##

[2020-09-10 23:51] lexistein opened #4329 "[EditableText] Disabled prop ignored when alwaysRenderInput set to true"
#### Steps to reproduce
1. Set alwaysRenderInput and disabled to true
2. Notice you can still edit

#### Expected behavior
Input should be disabled

#### Actual behavior
Input is editable

#### Possible solution
Pass disabled prop to input

[2020-09-11 08:42] johannesschweig opened #4330 "Omnibar selects first entry on empty query"
#### Environment

- __Package version(s)__: 3.31.0
- __Operating System__: macOS 10.15.6
- __Browser name and version__: Chrome 85.0.4183.83

#### Steps to reproduce

1. Visit https://blueprintjs.com/docs/#select/omnibar
2. Open the omnibar (there are no movies displayed)
3. Press enter
4. A toast "You selected The Shawshank Redemption." will appear

#### Actual behavior

An empty search string st

[2020-09-14 13:12] tkrugg opened #4332 "Input fields cursor moving around on Safari"
#### Environment

- __Package version(s)__: v3.31.0
- __Operating System__: MAC OS
- __Browser name and version__: Safari Version 13.1.2 (13609.3.5.1.5)

#### Code Sandbox

Can be reproduce on this page of the documentation: https://blueprintjs.com/docs/#core/components/text-inputs

#### Steps to reproduce

1. Open the following link in the Safari browser: https://blueprintjs.com/docs/#core/compon

[2020-09-14 14:09] ashishsantikari opened #4333 "Blueprint Select does not render"
#### Environment

- __Package version(s)__: @blueprint/core@3.31.0, @blueprint/select@3.13.7
- __Browser and OS versions__: MS Edge v84.0.522.63

#### Question

Here is a simple example where I am trying to use the select component.
Unfortunately, it does not render on the container somehow. Can someone suggest, what am I doing wrong?

https://stackblitz.com/edit/react-ts-wtrh5h?file=index.tsx

[2020-09-14 18:30] tnrich commented on #4298
Thanks @adidahiya let us know how it goes!

[2020-09-15 21:01] patrick-boatner commented on #185
This use case wasn't addressed by #3061. The original issue mentioned there are other components that would need this as well:

Would love to know if anyone has a good solution for using Blueprint AnchorButtons (or even just Buttons) with react router Link elements.

[2020-09-17 08:48] barkermn01 commented on #185
Just use `<Link to="/user"><span className="bp3-button" role="button">Click</span></Link>`

This is why that was not fixed because there are CSS rules in place that are not locked to the `A` tag that allows you to do this perfectly fine. that is why there is HTML on the documentation shows how the AnchorButton and Button render https://blueprintjs.com/docs/#core/components/button

@JokeNeverSoke s

[2020-09-18 00:22] nathan-discuss opened #4335 "All cells re-rendering on select with enableFocusedCell prop set to true and on scroll"
#### Environment

- __Package version(s)__: 3.8.13
- __Operating System__: macOS Catalina 10.15.5
- __Browser name and version__: Chrome 85.0.4183.83

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprint-sandbox-forked-7b408?file=/src/index.tsx

#### Steps to reproduce

1. Click on any cell with

[2020-09-18 19:30] gpascale commented on #3779
Chiming in to add that I get a four-**row** bug in addition to the four-column issue others are describing.

I have not created an isolated example, but I've done a little testing to narrow it down. It appears that going from 0 rows (my initial state) to any number of rows that will be taller than the container trigger this. For example, if I add only 20 rows, which fit in the table without scroll

[2020-09-21 15:45] adidahiya commented on #4333
Are you sure the CSS is getting loaded onto the page correctly? I'm not sure what kind of module loaders your stackblitz environment is configured with, so I don't know if your `style.css` imports are working correctly. At least it looks like Blueprint's default global styles (like typography) are _not_ being applied to the page, so that suggests a CSS loading issue.

[2020-09-21 16:15] ejose19 opened #4337 "Half filled star icon"
#### Feature request

It would be nice to have a half filled star icon, to complement the current filled and empty icons, which are very used on reviews/ratings.

[2020-09-21 16:28] adidahiya commented on #4337
Usually we don't take external icon requests, but I will ask our designers about this one. Seems reasonable.

[2020-09-21 16:57] adidahiya commented on #3779
This is related to #3774, part of a group of issues in table v3.8.x: https://github.com/palantir/blueprint/milestone/41

for now, I think the only good solution is to downgrade to table v3.7.x (it should work fine with the latest core package). sorry this has not been addressed sooner; I hope to take a closer look at this group of issues in the next few weeks.

[2020-09-21 20:18] #2820 closed

[2020-09-21 22:02] #3977 closed

[2020-09-21 22:02] #4294 closed, assigned to nobody

[2020-09-22 08:33] til-schneider commented on #2711
I had the very same issue. But the reason for the error was that the CSS rules didn't apply to elements opened in the portal. My project uses a global CSS prefix, so all rules to `.bp3-portal` didn't apply (as they are generated outside the app's main element).

I assume, this caused problems with size detection or with the fact that portal elements had no `position: absolute`.

So if anyone gets

[2020-09-22 14:02] #3603 closed

[2020-09-22 15:20] LoiKos commented on #3979
Hi there,

I comment here in this issue because i get a lot of struggle with refs due to the fact their aren't forwarded (e.g: Card). It get better since you add some `elementRef` to some components. It's just for "Basic" component like Card, Button,...   e.g the way `Suggest` is build is totally fine.

From react docs :

I don't know if it's in your planning right now but i think i will be a grea

[2020-09-22 15:39] ejose19 commented on #4337
Thanks @adidahiya. Also worth noting, https://blueprintjs.com/docs/#icons on the left menu, "Icons" is already using a half filled star with the same design as the other 2, so I guess it was already made but it wasn't exported, although unfilled part doesn't have a border.

[2020-09-22 16:28] cecton commented on #3173
I found a very good solution!

Use a React `<Context>` instead.

https://reactjs.org/docs/context.html

This is my wrapper component:

[code]

A helper to automatically wrap the panel components:

[code]

Example of one of the panels:

[code]

Type:

[code]

[2020-09-22 18:06] adidahiya commented on #3173
Closing this old issue as it appears it can be worked around with controlled mode (#3601) and there are other approaches to data management (redux, react context, etc.) which allow you to connect indirectly to component trees.

[2020-09-22 18:06] #3173 closed

[2020-09-22 18:08] adidahiya commented on #4337
Ah, well those icons in the docs page are bespoke for the blueprint docs app. They're not maintained as part of the Blueprint icons set. But yes, it is fairly trivial to make the SVG for the half-filled star. I think we are open to it, just need to whip up the SVG file...

[2020-09-22 18:26] adidahiya commented on #4298
I tried many different approaches and all were unsuccessful. You can see my progress at #4323. At this point I don't have a good path forward, and we are not hitting this issue with our internal applications. Maybe it's an anti-pattern to control inputs asynchronously like redux-form does? If you can come up with a solution which does not cause a regression for the issue described in #4262, I'm al

[2020-09-22 19:03] oliver-ni commented on #3846
I'm having this issue as well, any update?

[2020-09-22 23:26] ptgamr opened #4340 "v3.32.0 - build failed - No exported member 'IResizeEntry'"
After upgrading to 3.32.0, wepack is nolonger be able to build due to some missing types:

[code]

Perhaps something is missing after the TS 4.0 upgrade?

[2020-09-23 01:33] adidahiya commented on #4340
Actually that was a regression introduced by https://github.com/palantir/blueprint/commit/bd3efea2a757be823677efbaeab9075d9602a5d4, thanks for reporting

[2020-09-23 01:43] ptgamr commented on #4340
Thanks for the quick fix! @adidahiya

[2020-09-23 01:48] #4340 closed, assigned to adidahiya

[2020-09-23 16:04] ejose19 commented on #4298
@adidahiya What about a prop to opt-out of the ```asyncControllableInput```? As the change in #4266 was pretty trivial, a switch should be straightforward. Although there are better form libraries for react, a lot of people still use redux-form (which is not recommended on the usual cases as stated by the [author](https://github.com/redux-form/redux-form#%EF%B8%8F-attention-%EF%B8%8F))

[2020-09-24 04:26] wisdomG commented on #4156
@adidahiya Sorry to ask again. Are you plan to solve this problem ? We still think these rings looks wired especially in the dark theme.
![image](https://user-images.githubusercontent.com/11959301/94100795-0527d200-fe61-11ea-9071-e02171dcc738.png)

[2020-09-24 17:59] adidahiya opened #4342 "HACKHACK: strict null checks issues"
- [x] core: `removeEventListener` not inferring / allowing narrowing type of `event` param in handler (https://github.com/palantir/blueprint/pull/5234)
- [x] core, table: casting `react-lifecycles-compat` polyfill, e.g. `@(polyfill as Utils.LifecycleCompatPolyfill<ITabsProps, any>)` (#4545)
- [x] docs-theme: default tag renderers narrow typing prevents `Heading` component from declaring additional

[2020-09-25 06:35] omeid commented on #4032
node-sass is deprecated in favour of sass (dart-sass) in Node 14. So this needs addressing sooner than later.

[2020-09-25 19:58] tgreen7 opened #4344 "Tabs should have a fallback option"
#### Environment

- __Package version(s)__: 3.32.1

#### Feature request

I am using the tabs component controlled through the url with react-router-dom. However, if the user tries to go to a route for a tab that does not exist then the tabs component does not render anything. It would be nice to have it fallback to a not found page.

https://codesandbox.io/s/blueprint-tab-fallback-6ubo2?file=/src

[2020-09-28 16:52] adidahiya commented on #4156
@wisdomG how did you create that example? Note that this is not a regression; the old focus styles did sometimes have issues of z-index ordering of the focus rings too:

<img width="196" alt="image" src="https://user-images.githubusercontent.com/723999/94462263-3f5ae180-0189-11eb-81b4-d14ed3fc8545.png">

And, like I said:

[2020-09-28 16:54] adidahiya commented on #4344
This is something you need to implement in your application logic; a data-agnostic UI component like `<Tabs>` will not handle this for you. In your specific code sandbox, you should be validating `section` before sending it to `selectedTabId` (choose a static "fallback" tab id if the section does not match any of the known tabs).

[2020-09-28 16:54] #4344 closed, assigned to nobody

[2020-09-28 18:18] #4174 closed

[2020-09-28 18:18] #4161 closed

[2020-09-28 18:21] #4260 closed, assigned to nobody

[2020-09-28 21:35] ejose19 opened #4347 "[Checkbox | Breadcumbs] Not fully compatible with CSP"
#### Steps to reproduce

- On the server serving the html, set header ```Content-Security-Policy``` with value ```img-src 'self'```
- Use a checkbox component and check it

#### Actual behavior

Checkbox ticks (either checked or indeterminate) do not render, due the data:image being blocked

#### Expected behavior

Ticks should work like the rest of the library

#### Note

I see this behaviour is

[2020-09-29 01:13] RyanCavanaugh opened #4348 "Incorrect references to browser global `name`"
https://github.com/palantir/blueprint/blob/ea31b1caa73a0f66417f94203073ac50748d0eaf/packages/docs-theme/src/components/typescript/interfaceTable.tsx#L124

https://github.com/palantir/blueprint/blob/ea31b1caa73a0f66417f94203073ac50748d0eaf/packages/docs-theme/src/components/typescript/methodTable.tsx#L119

These appear to be copy-paste errors from other similar methods where `name` was brought in f

[2020-09-29 02:01] adidahiya commented on #4348
good catch, thanks for the heads up

[2020-09-29 09:04] wisdomG commented on #4156
@adidahiya The example is here.
https://codesandbox.io/s/blueprint-sandbox-forked-8dx9o?file=/src/CoreExample.tsx
The example is runing on Chrome 85
![image](https://user-images.githubusercontent.com/11959301/94537788-cc7b6480-0275-11eb-90fd-3eac09735a19.png)

[2020-09-29 12:22] #4318 closed, assigned to nobody

[2020-09-29 12:22] alberto-f commented on #4318
Thanks.

[2020-09-29 14:21] #4348 closed, assigned to adidahiya

[2020-09-30 05:25] sumit-nagpal commented on #394
Any update or fix?

[2020-09-30 16:18] adidahiya commented on #3957
I think this is less relevant with TS 4.0

[2020-09-30 16:18] #3957 closed

[2020-09-30 21:35] arsenush opened #4353 "[TimezonePicker] 'inputProps' does not override search behavior."
#### Steps to reproduce
[code]
#### Actual behavior

Callback for search input change is not called.

#### Expected behavior

According to docs callback for search input change should override Select's behavior and should be called.

<img width="1232" alt="Screenshot 2020-10-01 at 00 13 34" src="https://user-images.githubusercontent.com/25638740/94741020-2e25f680-037c-11eb-8eca-8652119ccb96.png">

[2020-10-01 07:31] jez321 commented on #3263
Just leaving a note that we are seeing a similar thing when reverseMonthAndYearMenus is true, I might see if I can have a look into it further but for now we are using the following CSS as a workaround
`.bp3-datepicker-month-select .bp3-icon-double-caret-vertical {
          right: 0 !important;
      }`

[2020-10-01 15:17] adidahiya commented on #4353
Yeah, it looks like this API is unsupported despite what the docs say there. I would welcome a PR to add this feature.

Can you share a bit more about your use case and why you're trying to use a custom input change callback?

[2020-10-02 18:48] #4297 closed, assigned to nobody

[2020-10-02 19:49] arsenush commented on #4353
I am showing a custom right icon in the input when the search query is present (and hide it when it's empty).

[2020-10-02 21:43] arsenush opened #4355 "[Tab] `style` prop is unsupported."
#### Context

I am trying to make all tabs same width. So I've calculated width depending on tabs count and passed it to Tab in `style` but for some reasons it is unsupported.

#### Steps to reproduce

[code]

#### Actual behavior

`Property 'style' does not exist on type 'IntrinsicAttributes & IntrinsicClassAttributes<Tab> & Pick<Readonly<ITabProps> & Readonly<{ children?: ReactNode; }>, never> &

[2020-10-04 13:52] maullerz commented on #1831
It is still reproducible.
Seem the issue is that `handleClosePopover` runned first
https://github.com/palantir/blueprint/blob/develop/packages/datetime/src/dateInput.tsx#L282

and then `handleDateChange` that set `isOpen = true` again
https://github.com/palantir/blueprint/blob/develop/packages/datetime/src/dateInput.tsx#L288

as possible workarounds
* run `this.setState({ isOpen: false });` in set

[2020-10-05 14:51] aymenoppa commented on #4149
when you'll fix it? is there any workaround except using blueprint CSS

[2020-10-05 15:37] adidahiya commented on #4149
I hope to start work on the next major version (Blueprint v4.0) before the end of the year, but no guarantees it will ship before 2021. React 17 isn't even out yet...

[2020-10-05 15:48] adidahiya commented on #4355
Which version are you on? Can you demonstrate using a code sandbox linked from the issue template? It works fine for me in the Blueprint docs application.

[2020-10-05 16:25] dmackerman commented on #3959
@kudigaracoder That sounds good. I don't have much time to contribute, but I'd like to take a look at where you landed.

[2020-10-06 12:25] bartzy commented on #4192
Any update on this issue? I can reproduce it as well.

[2020-10-06 15:16] adidahiya commented on #3877
Done

[2020-10-06 15:16] #3877 closed

[2020-10-06 15:18] adidahiya opened #4359 "[eslint-plugin] New lint rule: blueprint-disabled-button-with-tooltip"
Migrated from https://github.com/palantir/tslint-blueprint/issues/1

If a `<Tooltip>` wraps a `<Button>` with a `disabled` prop (suggesting that the button could be disabled), recommend using an `<AnchorButton>` instead.

Rationale: due to a browser limitation, `<button disabled>` will eat all mouseout events, so the `Tooltip` will never be dismissed. Anchor buttons do not have this limitation.

[2020-10-06 15:20] adidahiya opened #4360 "[eslint-plugin] New lint rule: intent-prop"
Migrated from https://github.com/palantir/tslint-blueprint/issues/4

Use the intent prop instead of a pt-intent class name:

[code]

applies to:

- [ ] Button
- [ ] Tooltip
- [ ] EditableText
- [ ] Spinner
- [ ] Cell
- [ ] Toast
- [ ] ProgressBar
- [ ] NumericInput

[2020-10-07 04:08] cybae0804 commented on #4301
How would I go about doing this?

[2020-10-07 10:51] boazrymland opened #4361 "Dialog with lots of content - scroll WITHIN the dialog?"
#### Environment

- __Package version(s)__: 3.18.1
- __Browser and OS versions__: Chrome / OS X

#### Question

Hi,

In case we have lots of content going into the dialog body area, we want to have a non elongated dialogs, as we currently have, but rather a scroll to appear **inside** the dialog modal window.
I know its achievable relatively easy with some CSS but I wanted to check if that is poss

[2020-10-07 15:20] adidahiya commented on #4361
Yes, just set a `max-height` and `overflow-y` on the dialog body:

<img width="1031" alt="image" src="https://user-images.githubusercontent.com/723999/95351362-26d87e80-088f-11eb-9786-c6f5d7c3f46a.png">

[2020-10-07 15:20] #4361 closed, assigned to nobody

[2020-10-07 16:18] boazrymland commented on #4361
that's exactly what we did, which BTW led to a strange bug in which the date picker wouldn't close when a range was selected, thus killing some of our automated tests. I have to admit that haven't checked **exactly** why this is happening. Specifically, if its an issue on the date picker when its put inside a Dialog component, or is it some other styling CSS we have on the datepicker, or the Dialo

[2020-10-07 18:34] cemreyavuz opened #4362 "[select] Select component doesn't respect the query prop"
#### Environment

- __Package version(s)__: @blueprintjs/select (3.14.2)
- __Operating System__: Windows Version 10.0.18363 Build 18363
- __Browser name and version__: Google Chrome 85.0.4183.121

#### Code Sandbox

https://codesandbox.io/s/select-component-doesnt-respect-query-prop-dlih7

#### Steps to reproduce

1. Import the Select component from @blueprintjs/select and render
2. Pass the query

[2020-10-08 08:47] arsenush commented on #4355
Couldn't repro this in your sandbox. Also after doing some environment magic - it works.
Sorry for disturbing.

Closing this issue...

[2020-10-08 08:47] #4355 closed, assigned to nobody

[2020-10-08 13:37] mormahr commented on #3979
Oh well, I wanted to comment on this for a long long time. I tried to get this to work without breaking the API (by explicitly passing the ref), but I'm pretty sure it's impossible. I learned a lot about `cloneElement` / `createElement` along the way. Unfortunately what I learned was, that it doesn't work how I thought it would work. I think the only way to do this (and the "right" way) is to inde

[2020-10-08 15:02] adidahiya commented on #3979
Thanks for investigating @mormahr. I took a look at this last week as well and attempted to do it without breaking API; I was unable to do so. Once React 17 is released and all our internal applications are migrated to React 16 (likely by the end of this year), I will make it a priority to work on this issue and other 4.x breaking changes.

[2020-10-08 18:57] mkrkelj1 opened #4366 "Exposing MultiSelect Ref"
#### Environment

- __Package version(s)__: Latest
- __Browser and OS versions__: Chrome / MacOS Catalina

#### Question

Hi, I'm attempting to use the `MultiSelect` component with `react-hook-form`, but am unable to integrate without access to the ref handler (components like `InputGroup` + others have been easy to integrate as they expose the ref directly w/ the `inputRef`, `elementRef`, etc..).

[2020-10-08 19:18] tnrich commented on #3604
Any movement on this one @adidahiya  @maclockard ? Thanks!

[2020-10-10 20:27] ejose19 commented on #4366
You can use ```react-hook-form``` [controller](https://react-hook-form.com/api/#Controller) for cases where the ref is not exposed.

[2020-10-13 03:27] DannyDelott commented on #3160
I was able to get tab navigation to work in the Omnibar by hardcoding the `tabindex`:

[code]

[2020-10-14 09:21] kewp opened #4369 "Using React Hooks"
## Environment

- __Package version(s)__: N/A
- __Browser and OS versions__: N/A

#### Question

Just starting my first big React project and I think this is the best interface library available. My question is if you can use React Hooks with Blueprint, since hooks were introduced in React 16.8? The example code uses classes - is that a limitation?

Thank you.

[2020-10-14 15:20] kennyjsa opened #4370 "FR: TagInput inputRef support for React ref objects"
#### Environment

- __Package version(s)__: 3.32.0 and later
- __Operating System__: Windows
- __Browser name and version__: Chrome 86.0.4240.75

#### Code Sandbox

https://codesandbox.io/s/priceless-ishizaka-yiykz

#### Steps to reproduce

error on render

#### Actual behavior

Crashes with error
[code]

#### Expected behavior

render without crashing

[2020-10-14 15:56] adidahiya commented on #4370
You are sending the wrong type of value to `inputRef`. This would be checked at compile time if you were using TypeScript. From the props documentation:

[code]

Adding support for a React 16 style ref _object_ is an open FR.

[2020-10-14 16:01] adidahiya commented on #4369
You can freely mix component types in React, using class and function components interchangeably. Some Blueprint components have not been completely updated to support all the new paradigms introduced in React 16.8 (like ref objects in some props, for example #4370), but that will not prevent you from using those components in an application which uses functional React components & hooks.

[2020-10-14 16:01] #4369 closed, assigned to nobody

[2020-10-14 17:02] kewp commented on #4369
That's good to hear. Thank you for your reply

[2020-10-15 17:00] adidahiya commented on #4298
I took another pass at a (slightly complicated) solution with fresh eyes, and I think I've got something working in https://github.com/palantir/blueprint/pull/4323. I don't really want Blueprint users to have to think about toggling between async-capable inputs (which work around the IME composition bug) and regular inputs (which don't), because that choice would be hard to make across a software

[2020-10-15 18:07] #4298 closed, assigned to nobody

[2020-10-15 18:34] #4329 closed, assigned to nobody

[2020-10-15 18:38] adidahiya commented on #4366
Try `<MultiSelect tagInputProps={ inputRef: ... }>`

[2020-10-15 18:38] #4366 closed, assigned to nobody

[2020-10-16 02:18] nhd2106 opened #4373 "DateRangePicker singleMonthOnly does not support showing "outside" days"
#### ReactJS

- __Package version(s)__: "@blueprintjs/datetime": "^3.15.1"
- __Browser and OS versions__:   86.0.4240.75 (Official Build) (64-bit), windows 10 2004

#### Question

 in DateRangePicker, DateRangeInput picker Components, I cannot see "outside days" even I set DayPicker props: showOutsideDays to TRUE,
Could you help me figure this out
many thanks for your support

[2020-10-17 19:04] alexkreidler commented on #3604
Some thoughts on this: Create React App does not support decorators by default, see [here](https://create-react-app.dev/docs/can-i-use-decorators/).

I propose just moving away from decorators for now, as many libraries (e.g. MobX) have done, or at least adding another option for users to declare HotKeys, maybe a React hook.

[2020-10-19 14:30] tbertrand7 opened #4375 "[InputGroup] Displayed value does not match value of 'value' prop"
#### Environment

- __Package version(s)__: @blueprintjs/core: 3.34.0
- __Operating System__: Mac
- __Browser name and version__: Chrome latest

#### Steps to reproduce

My onChange function is designed to limit the entered characters to only 10 numbers:

[code]

#### Actual behavior

Any non-number characters and characters after length 10 are properly not stored in 'value' but still display in t

[2020-10-19 16:58] hvadym opened #4376 "DateInput out of range issue"
#### Environment

- __Package version(s)__: @blueprintjs/core: 3.34.0, @blueprintjs/datetime: 3.19.3
- __Operating System__: Windows 10
- __Browser name and version__: Chrome 86, Firefox 81

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-forked-tsy7p?file=/src/index.tsx
#### Steps to reproduce

1. Add min and max date
2. Set value that not between min and max

#### Actual behavior

[2020-10-19 19:07] adidahiya commented on #4298
@tnrich @tgreen7 @ejose19 could you try out the latest release to verify the fix? It seems to work in the scenario from the initial code sandbox linked at the top of this thread, see my fork: https://codesandbox.io/s/blueprint-4298-fix-verification-vjz7n

[2020-10-19 19:22] tnrich commented on #4298
@adidahiya  I think it is working for us as far as we can tell. Can verify that the sandbox works as expected now. Thank you 🙏 🙏

[2020-10-19 19:48] adidahiya commented on #4375
I made some changes to the input value state logic in v3.34.0 in order to work around issues like #4298, which may have caused this issue to occur.

However:

[code]

Editing the DOM directly like that is not a good pattern in React, especially if you're also setting the `value` prop on the component. This is not well-designed behavior as part of the `InputGroup` API. Instead of touching the DOM d

[2020-10-19 20:01] DanNicolau commented on #4279
It would be nice to have this added in the API, for now you can put your columns in an array and put the array in your table.
See: https://github.com/palantir/blueprint/blob/develop/packages/docs-app/src/examples/table-examples/tableReorderableExample.tsx

[2020-10-19 20:27] tbertrand7 commented on #4375
Right. The reason why I wrote the onChange function that way was because I am passing formik.handleChange as the onChange prop in the parent component.

However, this issue still persists if I write the code in the following way:

[code]

Parent:
[code]

[2020-10-19 21:31] adidahiya commented on #4375
Is it possible to demonstrate the problem using a code sandbox (linked in the issue template)?

[2020-10-19 22:27] alecf commented on #3833
I am seeing this in 3.8.17

[2020-10-19 23:35] MHebes opened #4378 "How should I go about adding a "notification badge" to a Tab component?"
#### Environment

- __Package version(s)__: 3.28.0
- __Browser and OS versions__: Chrome 86.0.4240.75 on Windows 10

#### Question

I would like to render a badge icon in a Tab component, based on the contents of that tab. Something like this:

[code]

![image](https://user-images.githubusercontent.com/8306042/96522361-3d90b500-1241-11eb-8384-6ef38a17b1e3.png)

How can I base that badge's props on

[2020-10-20 01:00] casperOne commented on #3281
I've found that observables are perfect for debouncing input.  Here's what I'm using for debouncing/remote lookups using a Blueprint suggest:

https://codesandbox.io/s/ofl-blueprint-typeahead-w4yb8

[2020-10-20 08:51] RaghulXander opened #4380 "Date Range Picker with Time Input"
#### Environment

- __Package version(s)__: 3.30.1
- __Operating System__: Mac OS
- __Browser name and version__: Chrome, Firefox

#### Steps to reproduce

1. Add a Date Range Picker in a page
2. Add props `timePrecision` as minutes, `usePortal` props as false and required props.
2. Select the Date Range and you can see the date picker closes and doesn't wait for time input

#### Actual behavior

[2020-10-20 10:45] MichalPrzybys-TomTom opened #4381 "icon proposal - ruler / measure"
#### Feature request

There is no measure / ruler icon.
Need mentioned previously in #1918

#### Examples

I any of those is acceptable I could make a PR.

![ruler-1](https://user-images.githubusercontent.com/67151332/96575041-880d4280-12d0-11eb-9c65-31f2df69402a.png)
[code]

![ruler-2](https://user-images.githubusercontent.com/67151332/96575038-8774ac00-12d0-11eb-8fa1-736dd2150fea.png)
[code]

[2020-10-20 13:38] adidahiya commented on #4380
Do you mean DateRangeInput? It helps if you can demonstrate your exact situation using a fork of the code sandbox linked in the issue template.

[2020-10-20 14:22] tbertrand7 commented on #4375
Sure Thing. The incorrect behavior actually exists just using a useState hook. I should not be able to enter non-number characters, or more than 10 numbers. The value state variable follows the correct behavior, but the input does not.

[Sandbox](https://codesandbox.io/s/competent-fog-bo4z1?fontsize=14&hidenavigation=1&theme=dark)

Note that if you change the @blueprintjs/core version in package.j

[2020-10-20 23:51] #4378 closed, assigned to nobody

[2020-10-20 23:51] MHebes commented on #4378
Closed because I realize that the notifications is now indeed a concern of the parent component.

[2020-10-21 14:10] appleneil opened #4382 "Support for ref objects in NumericInput inputRef prop"
#### Environment

- __Package version(s)__: 3.31.0

#### Question

I'm trying the following but get a typescript error

[code]

`TS2322: Type 'RefObject<HTMLInputElement>' is not assignable to type '(ref: HTMLInputElement | null) => any'.`

I've looked at other components (InputGroup) and passing a ref this way works. I've seen the type expected of the `inputRef` prop, but I don't understand how t

[2020-10-21 16:12] adidahiya commented on #4382
ref objects returned by `useRef` are not yet supported on this component prop. that's clear from the type definition: https://github.com/palantir/blueprint/blob/57b3ad93822f2516c761be24ceb543a585ccb6f5/packages/core/src/components/forms/numericInput.tsx#L93

I'm open to adding support for that, similar to other components (#4354, #4338)

[2020-10-21 16:33] appleneil commented on #4382
Thanks for the quick reply. Is there a way around this (whilst waiting for fix)?

[2020-10-21 17:11] adidahiya commented on #4298
#4323 caused a regression for synchronous updates, so I have opened a PR to make async control optional. This will be a slight breaking change since you will need to enable the new prop manually in places where you expect async updates. PR is here: #4383

[2020-10-21 18:38] adidahiya commented on #4382
Use a function ref, the old pattern for React refs.

[2020-10-21 18:57] adidahiya commented on #4381
@aycai

[2020-10-21 19:12] adidahiya commented on #4362
What exactly is the problem in your code sandbox? It seems like the query prop control is working as intended.

I briefly traced through the rendering stack of Select / QueryList and it looks like `listProps.query` is being set to QueryList's `state.query` (which is kept up to date via QueryList's `componentDidUpdate`) here:

https://github.com/palantir/blueprint/blob/fd3833e0ced0befbd5819e1690404

[2020-10-22 16:02] #4375 closed, assigned to adidahiya

[2020-10-22 16:09] #859 closed

[2020-10-22 16:32] JLHwung commented on #4112
The error is thrown from acorn 6 in webpack 4, it is fixed in webpack 5: https://github.com/webpack/webpack/issues/11186

Unfortunately due to breaking changes from acorn 6.4.0 to 7.0.0, webpack 4 can not ship acorn 8, which supports optional chaining.

Specifying `chrome 79` can work around this issue because `@babel/preset-env` will apply optional chaining for `chrome 79`. Since `chrome 80` supp

[2020-10-23 04:25] arunmmanoharan commented on #3596
@grancalavera I have the same issue. Can you  enlighten me to fix this please?

https://codesandbox.io/embed/react-typescript-forked-dkrb3?file=/src/data.json&codemirror=1

[2020-10-23 14:14] arunmmanoharan opened #4385 "Menu inside a Tag Input or alternate way to display grouped multi-select items"
#### Environment

- __Package version(s)__:
    "@blueprintjs/core": "^3.10.0",
    "@blueprintjs/datetime": "^3.19.3",
    "@blueprintjs/select": "^3.6.0",
- __Browser and OS versions__:  Chrome 86.0.4240.75, Windows 10

#### Feature request

Hi, I have a multi-select with groups and looking for a better way to display the selected ones on the screen. I was thinking about having a menu, and each

[2020-10-23 14:43] rhysbrettbowen commented on #3596
@a2441918
add `resetOnQuery={false}`: https://codesandbox.io/s/react-typescript-forked-6xghf?file=/src/Select.tsx:3836-3856

[2020-10-23 14:46] arunmmanoharan commented on #3596
Thank you @rhysbrettbowen

[2020-10-25 13:09] JacksonToomey opened #4386 "New ItemList component"
#### Environment

- __Package version(s)__: 3.34.0
- __Browser and OS versions__: Chrome: Version 86.0.4240.111 OSX 10.15.6

#### Feature request

In the sketch kit, there is an example of an item list with a header and controls.
![Screen Shot 2020-10-25 at 9 05 18 AM](https://user-images.githubusercontent.com/1165289/97108099-988f3580-16a1-11eb-9329-07c098b6b7a2.png)
However, there is no example

[2020-10-26 17:43] adidahiya commented on #4386
Hi @JacksonToomey, it's actually more than just a change to documentation here. We haven't codified this as a Blueprint component yet, so it would have to go through an API design and implementation process. We might add it to `@blueprintjs/core` in the future, but it's not currently on the roadmap.

[2020-10-26 18:45] aycai commented on #4381
A single ruler/measure icon seems reasonable.

As for the initially proposed icons, they appear too detailed (read: complex) to be rendered cleanly at either 16px or 20px. I can see a more simplified version working, e.g. just the tick marks.

[2020-10-26 20:35] #4185 closed

[2020-10-26 20:39] adidahiya opened #4389 "MultiSelect tagInputProps onRemove API is awkward"
`<MultiSelect tagInputProps={{ onRemove }} />` is currently the only API that lets someone react to an element being removed from the TagInput inside a MultiSelect. It provides the removed value as a rendered `React.ReactNode`, which is not very helpful. https://github.com/palantir/blueprint/pull/4291 made this problem more explicit, as it fixed the type of the value parameter (changed from `strin

[2020-10-27 11:15] nickensoul commented on #4032
Hi everyone!

Just remind that `node-sass` is [officially deprecated now](https://twitter.com/sasscss/status/1320820104561524736?s=21). We're using `node-sass` for now in our project, but will glad to know any plans and news about Blueprint's migration to `dart-sass`.
Thanks!

[2020-10-27 12:59] MichalPrzybys-TomTom commented on #4381
@aycai I've tried few different approaches and couldn't find a way to make just the tick marks work.
Also, there are other tools icons that I believe should be matched in style - hammer (build) and pencil (edit). Maybe this will be better suited?

![ruler-5](https://user-images.githubusercontent.com/67151332/97300080-3e83a100-1856-11eb-8714-7219631fc5ad.png)
[code]
![ruler-5-20x20](https://user-im

[2020-10-27 15:38] adidahiya commented on #4279
Deciding which columns to render at any time is all up to you. Just change the `<Column>` children list rendered inside `<Table>`.

[2020-10-27 15:38] #4279 closed, assigned to nobody

[2020-10-27 15:48] adidahiya commented on #4385
It looks like you've accomplished what you want in that sandbox:

![image](https://user-images.githubusercontent.com/723999/97326339-49d0cf80-184a-11eb-96f5-594d2b9b155b.png)

By "better way to display the selected ones on the screen", do you mean inside the TagInput? Is `tagRenderer` not sufficient?

[2020-10-27 16:03] arunmmanoharan commented on #4385
Yeah. I was hoping if I can have a menu inside the tagInput and render the tags as MenuItem's with an X.

[2020-10-27 16:13] adidahiya commented on #4373
@nhd2106 can you please demonstrate your issue with a code sandbox (linked from the issue template)?

[2020-10-27 16:24] adidahiya commented on #4385
But... that doesn't make sense in a modular component-based design system. What is the visual/functional difference here? Why render `MenuItem` instead of `Tag`? Is there a design mockup you can share which illustrates what you're trying to achieve?

[2020-10-27 16:43] arunmmanoharan commented on #4385
Something like this:

![image](https://user-images.githubusercontent.com/4927454/97333370-e185ec00-1851-11eb-9314-f90a830930c9.png)

Lets say I select around 25 items, I want it to be categorised as how the Menu does. I am open to different creative options as well, but the one I showed initially is too cumbersome for me. Clicking on the X in the above image should remove the element. Adding new e

[2020-10-27 19:37] adidahiya opened #4390 "TagInput should have a string-only variant with simpler prop types"
Working with `onRemove: (value: React.ReactNode, index: number)` is inconvenient under TypeScript's strict compiler options. Even when the `values` prop is `string[]`, you are either forced to type cast the removed value to `string` or use the `index` parameter to index into your values array. We should make the simple case easier to work with, either with a new component API or changing the exist

[2020-10-28 04:31] karudo opened #4391 "React 17 support"
React 17 released already, but peerDependencies contains `"react": "^15.3.0 || 16"`, so there are npm warnings after React is updated

[2020-10-28 14:36] adidahiya commented on #4391
It's on the 4.0 roadmap. We first need to drop support for 15.x, which is still used in some of our code bases. ETA is roughly EOY.

[2020-10-28 17:13] arunmmanoharan opened #4392 "Show selected items count in Multiselect"
#### Environment

- __Package version(s)__:
- __Browser and OS versions__:

#### Feature request

When I select more than three items in multiselect, I want to display "4 items selected" instead of tags.

#### Examples

https://projects.skratchdot.com/react-bootstrap-multiselect/

Check how optgroups dropdown works.

[2020-10-28 20:13] arunmmanoharan commented on #4392
@adidahiya @giladgray Any advices?

[2020-10-29 06:38] arunmmanoharan commented on #4392
Fixed it using QueryList. Thank you.

[2020-10-29 08:22] benochr opened #4393 "Runtime error with Webpack v5"
#### Environment

- __Package version(s)__: 3.35.0
- __Operating System__: MacOS Catalina 10.15.7
- __Browser name and version__: Chrome 86.0.4240.111

#### Actual behavior

When building with Webpack v5.3.0 we get a runtime error.

[code]

Webpack 5 no longer includes polyfills for it, as described [here](https://webpack.js.org/migrate/5/#run-a-single-build-and-follow-advises)

#### Expected beha

[2020-10-29 13:15] alfredvaa opened #4394 "Timezone "Poland" should not be in the timezone picker"
According to [this](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) list of timezones the timezone "Poland" is deprecated. If using this library in combination with [Luxon](https://moment.github.io/luxon/), Luxon is not recognizing it as a valid timezone. It should be "Europe/Warsaw".

[2020-10-29 15:43] adidahiya commented on #4393
I'll update the code to avoid referencing `process` directly. In the meantime you can work around this with `DefinePlugin` or `EnvironmentPlugin`.

[2020-10-29 15:53] adidahiya commented on #4394
We get our timezones directly from [moment-timezone](https://momentjs.com/timezone/), so you might want to bring this up there.

[2020-10-29 15:54] adidahiya commented on #4392
Yeah I think QueryList is the way to go if you're trying to achieve some kind of selection UI which is outside our design system.

[2020-10-29 15:54] #4392 closed, assigned to nobody

[2020-10-29 20:10] #2879 closed

[2020-10-29 20:11] #1517 closed

[2020-10-30 09:35] alfredvaa commented on #4394
Ok I'll look into that, thanks!

[2020-10-30 15:15] tbertrand7 opened #4395 "[Table] v3.8.17 Fails To Build Fresh Install"
#### Environment

- __Package version(s)__: @blueprintjs/table: 3.8.17
- __Operating System__: mac 10.15.7
- __Browser name and version__: Chrome latest

#### Steps to reproduce

1. Install @blueprintjs/table v3.8.17 in a new project.

#### Actual behavior

SassError: no mixin named force-hardware-acceleration
        on line 34 of node_modules/@blueprintjs/table/src/quadrants/_quadrants.scss

[2020-10-30 15:43] adidahiya commented on #4395
How / why are you building the table styles yourself? Yes, this change has been committed to `develop`, and no, it has not been released yet.

[2020-10-30 16:10] tbertrand7 commented on #4395
Ah, thank you. That was the problem.

I replaced: '\~@blueprintjs/table/src/table.scss';
With: @import '\~@blueprintjs/table/lib/css/table.css';

That fixed the build issue.

[2020-10-30 16:10] #4395 closed, assigned to nobody

[2020-11-01 16:29] david-raine commented on #4391
My project needs React 17 as it has multiple app root elements, so I updated `./node_modules/@blueprintjs/core.package.json` directly with `"react": "^15.3.0 || 16 || 17"` and everything seems to be working well so far.

[2020-11-01 17:32] DuudeXX8 commented on #2312
This is not work. Will you give more info about the way to solve this issue?

[2020-11-01 23:35] arunmmanoharan commented on #4385
Achieved it using QueryList, thanks

[2020-11-01 23:35] #4385 closed, assigned to nobody

[2020-11-02 21:36] jasongrout commented on #4393
This would also fix #3703

See https://github.com/palantir/blueprint/issues/3739#issuecomment-602024694 for an example.

[2020-11-03 11:31] MichalPrzybys-TomTom commented on #4381
Feedback would be appreciated.

[2020-11-03 17:01] invliD opened #4397 "Large tags have unusually large padding"
#### Environment

- __Package version(s)__: 3.31.0
- __Operating System__: irrelevant
- __Browser name and version__: same

#### Code Sandbox

https://blueprintjs.com/docs/#core/components/tag (enable the "Large" switch)

#### Steps to reproduce

1. Render a `<Tag large={true} />`

#### Actual behavior

The tag has a height of 36px.

#### Expected behavior

The tag has a height of 30px.

Most inli

[2020-11-03 18:52] ryanrabello commented on #3941
I made a bug demo in a codesandbox. https://codesandbox.io/s/blueprint-table-bug-s167l?file=/src/App.tsx
Thanks for the workaround

[2020-11-04 10:07] aamirbutt commented on #3833
I am seeing the same issue on 3.8.17. Any update about an ETA for the fix?

[2020-11-04 10:32] jan00s opened #4398 "Adding year-to-date and previous-year-to-previous-year-to-date option to date range filter"
#### Environment

- __Package version(s)__:  Latest Blueprint version
- __Browser and OS versions__:  Latest Chrome version

#### Feature request

Hi,

one of your clients at Palantir would like to have a predefined year-to-date and previous-year-to-previous-year-to-date option in the date range filter.

#### Examples

Let's say today is November 4th 2020. The year-to-date option would set the bou

[2020-11-04 10:52] Sascha-Gschwind opened #4399 "[DateInput] Selecting 1st of month breaks in dev mode and creates error message in console"
## Environment

- __Package version(s)__: @blueprintjs/core: 3.35.0, @blueprintjs/datetime: 3.19.3
- __Operating System__: Windows 10
- __Browser name and version__: Chrome Version 86.0.4240.111

#### Code Sandbox
Check out console message on: https://blueprintjs.com/docs/#datetime/dateinput
![image](https://user-images.githubusercontent.com/17166009/98102733-3e0d8a80-1e94-11eb-81ad-28763e56a3b2.p

[2020-11-04 16:47] adidahiya opened #4400 "FR: asyncControl prop should be available to NumericInput"
Introduced in https://github.com/palantir/blueprint/pull/4383, this prop should also be made available in `<NumericInput>` for the same reasons. Currently there is no way to set this prop on the underlying `<InputGroup>` because it gets stripped away.

[2020-11-04 16:51] adidahiya commented on #4398
This is already possible with the `shortcuts` prop on `DateRangeInput`: https://blueprintjs.com/docs/#datetime/daterangeinput

[2020-11-04 16:51] #4398 closed, assigned to nobody

[2020-11-05 15:09] aamirbutt commented on #2956
Hi guys, any update on when this will be implemented as part of the library?
I am on @blueprintjs/select 3.14.3

[2020-11-05 17:35] jan00s commented on #4398
@adidahiya: Thanks for your response! Is it possible to extend the default shortcuts to include those options? The reason being that we are using this dateRangeFilter in Hubble.

[2020-11-06 12:52] dapetcu21 commented on #4391
It doesn't need to wait for 4.0. React 17's only breaking change is the moving of event handlers from document root to React root element, which is unlikely to cause problems. It's a stepping stone release for future compatibility.

[2020-11-07 10:04] debel27 commented on #4347
Another workaround might be to render the "checked" and "indeterminate" SVGs as React elements (rather than using CSS). With this approach, the fix can be done in Blueprint entirely.

[2020-11-08 06:28] RaghulXander commented on #4380
Sorry i sorted it out we had props to control it `closeOnSelection`

[2020-11-08 06:28] #4380 closed, assigned to nobody

[2020-11-08 06:49] RaghulXander opened #4402 "Date Range Input: Time is not updating onHoverChange event"
#### Environment

- __Package version(s)__: 3.30.1
- __Operating System__: MAc OS Catlina
- __Browser name and version__: Chrome latest

#### Code Sandbox
Actually the bug can be visible in the documentation itself so adding Screenshot of it here
<img width="830" alt="Screenshot 2020-11-08 at 11 57 08 AM" src="https://user-images.githubusercontent.com/32994803/98458942-b4bfc600-21bb-11eb-9597-6429

[2020-11-08 22:20] ejose19 commented on #4347
@debel27 agree that would be the best solution, however if you see the linked PRs they migrated from React Elements to use CSS only, and I don't know if the original concerns for migrating still applies.

[2020-11-09 13:03] debel27 commented on #4347
Thanks for pointing that out. I think the reasons outlined by #2709 are still valid when it comes to uncontrolled usage.

[2020-11-09 13:47] invliD commented on #4397
@adidahiya Any chance we can prioritize this?

[2020-11-09 20:08] arunmmanoharan opened #4404 "Range Slider inside Popover flows out of component"
#### Environment

- __Package version(s)__: 3.35.0
- __Operating System__: Windows 10
- __Browser name and version__: Chromw

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/vibrant-hugle-s93zw?file=/src/App.js

#### Steps to reproduce

1. Click the button

#### Actual behavior

The slider displays bu

[2020-11-09 22:35] tgreen7 opened #4406 "ContextMenu imperative usage does not scroll"
#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprint-menu-scroll-rxz1m?file=/src/index.tsx

#### Expected behavior

The window should scroll so that the full menu can be viewed. Should behave like the popover.

[2020-11-10 07:45] aycai commented on #4381
@MichalPrzybys-TomTom if you're trying to convey a generic "tool" icon, we do already have the `build` and `wrench` icons that I believe would serve the purpose. "Ruler" or "measurements" seem distinct enough to warrant it's own icon.

As for the icons, the ticks seem a bit too small, especially inside a 2px thick container. It's probably not possible to use 2px thick ticks, but perhaps longer tic

[2020-11-10 09:02] kmeshavkin opened #4407 "Click on MenuItem closes both Popover and any Alert/Dialog inside it"
#### Environment

- __Package version(s)__: v3.35.0
- __Browser and OS versions__: 86.0.4240.111

#### Question

Not sure if this is a bug, but currently if you use Menu+MenuItem in Popover and also add Alert/Dialog somewhere inside this Popover, then click on MenuItem, Alert/Dialog that should open after MenuItem click will open and then immediately close. I believe this was also addressed in htt

[2020-11-10 10:14] MichalPrzybys-TomTom commented on #4381
@aycai Sorry, I may have not made myself clear. I wanted to stress out that "just ticks" would probably not match `build` and `wrench` (there's also `pencil`, that's almost a tool) icons in style. These look concrete enough, like real tools, so I wanted to create similarly recognizable ruler. Which definitely should be added as separate icon.

As for your suggestion, taller:
![ruler-5t-01](https:/

[2020-11-10 16:04] #4391 closed, assigned to adidahiya

[2020-11-10 16:10] adidahiya commented on #4402
Related: https://github.com/palantir/blueprint/issues/2625, https://github.com/palantir/blueprint/issues/3509

[2020-11-10 16:52] arunmmanoharan commented on #4407
You need to pass         shouldDismissPopover={false} to MenuItem

[2020-11-10 21:38] adidahiya commented on #4407
@kmeshavkin if the `shouldDismissPopover` suggestion by @a2441918 doesn't work, can you please try to demonstrate the issue in a code sandbox (linked in the issue template)?

[2020-11-11 00:27] adidahiya commented on #4404
Popover doesn't know about its contents, and sometimes those contents can use layouts which spill out of their bounding boxes, like Slider in this case. Rather than adding complex implementation logic to Popover to have it detect its contents, you're better off simply adding padding to this popover's contents. Select this _specific_ popover by adding `popoverClassName="my-popover"`:

[code]

<img

[2020-11-11 00:27] #4404 closed, assigned to nobody

[2020-11-11 00:32] adidahiya commented on #4406
Hmm I'm not sure ContextMenu is really designed for this... usually those menus are pretty short and fit within the vertical viewport. Can you instead try to limit the height of the context menu popover and add `overflow-y: scroll`?

[2020-11-11 07:17] aamirbutt commented on #1087
Guys, is there a way to push up a feature request in your queue?
I need this one too. Although the workaround I did was to wrap the cell in a div and use the doubleclick handler of div, and that worked nicely. However, having it first hand as part of blueprintjs Table would be a lot nicer.

[2020-11-11 09:22] kmeshavkin commented on #4407
@a2441918, @adidahiya, thanks, that works well. I need to set it on every menu with popovers, but looks like it's most convenient option when Alert/Dialog located inside Popover.

[2020-11-11 09:22] #4407 closed, assigned to nobody

[2020-11-11 09:52] likang opened #4408 "Can not change `Render mode` after run yarn dev:table"
#### Environment

- __Package version(s)__: 3.25.0
- __Operating System__: macOS 10.15.7
- __Browser name and version__: Chrome 86.0.4240.183

#### Steps to reproduce

1. yarn dev:table
1. change `Render mode` to `None` or `Batch` on the left sidebar

#### Actual behavior

Nothing happened

#### Expected behavior

Change render mode to selected one

#### Possible solution

Fix the bug in packages/

[2020-11-11 14:31] arunmmanoharan commented on #4407
@kmeshavkin Or you can just extend MenuItem as a new component and make this prop always false and use this as your MenuItem

[2020-11-11 20:31] adidahiya commented on #4376
This is similar to #4251, the crash happens in dev mode. I agree that it's bad UX and the documentation around this should be better. In your case you should be able to work around this by implementing validation in the parseDate prop, returning false if the parsed value is out of bounds, like this (https://codesandbox.io/s/blueprint-sandbox-forked-g79s0?file=/src/DatetimeExample.tsx). See its doc

[2020-11-11 20:53] #4400 closed, assigned to nobody

[2020-11-11 21:39] #4408 closed, assigned to nobody

[2020-11-11 21:42] #4389 closed, assigned to nobody

[2020-11-11 21:54] adidahiya commented on #4397
Looks like the problem is with removable tags, which get a 36px height. Large tags without a remove button are still 30px:

![image](https://user-images.githubusercontent.com/723999/98868698-8bfb3300-243e-11eb-878b-d52dc6355ac4.png)

[2020-11-11 22:57] ejose19 opened #4415 "Sass compilation failing in Node 14 environment"
#### Environment

- __Package version(s)__:  N/A (develop branch)
- __Operating System__:  Linux
- __Browser name and version__:  N/A

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)):
N/A

#### Steps to reproduce

1. Using node-lts, follow the steps in the CONTRIBUTING file

#### Actual behavior

[code]

#### Expected behavior

[2020-11-12 00:03] adidahiya commented on #4415
`engines` change done in 742dff3

[2020-11-12 03:55] oinuma commented on #3897
I get the same error when I try to pass iconName as a variable.

[code]

[2020-11-12 03:56] oinuma commented on #3897
Type 'string' is not assignable to type 'false | "add" | "add-column-left" | "add-column-right" | "add-row-bottom" | "add-row-top" | "add-to-artifact" | "add-to-folder" | "airplane" | "align-center" | "align-justify" | ... 473 more ... | undefined'.

[2020-11-12 15:49] #4397 closed, assigned to adidahiya

[2020-11-12 15:52] adidahiya commented on #3897
@oinuma that's more of a TypeScript problem (not specific to Blueprint)... you have to narrow the type to something like:

[code]

(also note the difference in the string literals `'"Blank"` vs `"blank"`, it's case-sensitive.

[2020-11-12 23:43] arunmmanoharan opened #4417 "Range Slider Handles inside a popover not fixed properly onOpen"
#### Environment

- __Package version(s)__: 3.35.0
- __Operating System__: Windows 10
- __Browser name and version__:  Chrome

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/vibrant-hugle-s93zw?file=/src/App.js

#### Steps to reproduce

1. Open the popover by clicking the button
1.
1.

#### Actual be

[2020-11-13 18:13] MHebes opened #4418 "Disabled NumericInput still increments continuously while mouse button held"
#### Environment

- __Package version(s)__: 3.34.1
- __Operating System__: Windows 10
- __Browser name and version__: Chrome Version 86.0.4240.198

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprint-sandbox-forked-hev9w

#### Steps to reproduce

1. Create a `NumericInput` which disables tempora

[2020-11-15 20:36] JuanIrache commented on #4142
I didn't know how to modify the original slider, so I created my own wrapper that supports an "inverted" prop. In case it helps someone, here it is (not sure it works fine in all possible scenarios)

[code]

[2020-11-16 22:20] adidahiya commented on #4417
I think this is a measurement issue that occurs upon first mount of the component, similar to https://github.com/palantir/blueprint/issues/4109... it needs further investigation

[2020-11-16 22:33] peterboyer commented on #4333
@ashishsantikari I was stuck on this problem too.

Turns out that **you need to pass a child to the [`Select` component](https://blueprintjs.com/docs/#select/select-component)**, like a `Button`, which will be the target of the popover which (when triggered) will then show your `items`.

We both must've missed it, and I'm sure many others too, as I was expecting the component to work similarly to

[2020-11-16 22:40] #4333 closed, assigned to nobody

[2020-11-17 08:37] likang opened #4420 "table has duplicate row headers and column headers"
#### Environment

- __Package version(s)__: 3.8.17
- __Operating System__: macOS 11.0.1
- __Browser name and version__: Chrome 86.0.4240.193

#### Code Sandbox

Link to a minimal repro : https://blueprintjs.com/docs/#table.basic-usage

#### Steps to reproduce

1. Open developer tools
1. Expand node tree of  `.bp3-table-quadrant-main` `.bp3-table-quadrant-top` `.bp3-table-quadrant-left`

#### Actua

[2020-11-17 18:32] #600 closed

[2020-11-17 20:43] adidahiya commented on #3854
@giladgray do you think the default for all Overlay components should be `enforceFocus={false}`?

[2020-11-17 20:48] adidahiya opened #4423 "EditableText does not measure contents correctly when alwaysRenderInput=true"
#### Environment

- __Package version(s)__: core 3.36.0
- __Operating System__: macOS
- __Browser name and version__: Chrome 86

#### Code Sandbox

https://codesandbox.io/s/editabletext-alwaysrenderinput-bug-5x99u?file=/src/index.tsx (forked from https://github.com/palantir/blueprint/issues/3870#issue-530056037)

#### Steps to reproduce

1. open the sandbox

#### Actual behavior

First EditableTex

[2020-11-17 20:49] adidahiya commented on #3870
Made a new (forked) sandbox and filed a new issue for the remaining bug: https://github.com/palantir/blueprint/issues/4423

[2020-11-17 20:49] #3870 closed

[2020-11-17 20:52] #3850 closed

[2020-11-17 20:53] #3592 closed

[2020-11-17 20:58] adidahiya commented on #3826
Tracking elsewhere

[2020-11-17 20:58] #3826 closed

[2020-11-17 21:06] giladgray commented on #3854
@adidahiya wooo first @-question in 18 months! i would say yes, but even more important is `autoFocus={false}` which wrecks popover submenus and dropdowns. i often disable it myself immediately because bringing the focus _into_ the overlay is more destructive than trapping it there (`enforceFocus`) once focus moves inside.

[2020-11-17 21:23] #3491 closed

[2020-11-17 21:32] #3369 closed

[2020-11-17 21:36] #1546 closed

[2020-11-17 21:36] #1533 closed

[2020-11-17 21:37] #1125 closed

[2020-11-17 21:42] #788 closed

[2020-11-17 22:28] shravan2x commented on #3491
@adidahiya Has this been resolved with a recent change?

[2020-11-17 23:40] jlismore opened #4424 "NumericInput crashes docs app when changing locale"
it's possible to cause the [docs app](https://blueprintjs.com/docs/#core/components/numeric-input) to crash with `Uncaught RangeError: invalid language tag: ""`
Repro steps:

- Enter 0.5 in numeric input
- Change locale to anything else
- Change locale back to Default
- Crash

[2020-11-18 01:18] DannyDelott opened #4425 "FR: ButtonGroup should support "outlined" prop modifier"
#### Environment

- __Package version(s)__: 3.36.0
- __Operating System__: osx
- __Browser name and version__: Version 86.0.4240.198 (Official Build) (x86_64)

#### Background

The `ButtonGroup` component renders a small amount of margin between the buttons whenever you use `outlined` buttons in Dark mode.

It looks like this behavior has existed since the `outlined` prop was introduced in `@bluep

[2020-11-18 16:25] adidahiya commented on #3491
No, I'm just cleaning up old issues which don't have any progress and apparently low interest from the community.

I would recommend adjusting your font styling so that the fallback font and the custom font end up displaying with similar layout dimensions (width/height). Also consider adjusting properties like `font-display` ([see this article](https://web.dev/avoid-invisible-text/)).

[2020-11-18 16:29] adidahiya commented on #4425
Thanks for pointing this out. ButtonGroup doesn't have `outlined` support yet; we need to add styling at the group container level just like `minimal`. It wouldn't make sense to have some buttons in a group `outlined` while others are not, so the prop & CSS class should be applied to the `ButtonGroup`.

[2020-11-18 19:46] DarrenPaulWright opened #4426 "[EditableText] Add onEnter prop"
#### Environment

- __Package version(s)__: 3.35.0
- __Browser and OS versions__: Any

#### Feature request

Add an onEnter callback to EditableText or extend the onConfirm callback with information on what triggered the confirm (enter or blur).

#### Examples

I'm using the EditableText on todo's. When the user hits enter I want to start another todo, but not when blurred.

[2020-11-18 20:33] adidahiya commented on #4426
I'd prefer this approach. Open to PRs

[2020-11-18 20:38] adidahiya opened #4427 "FR: outlined tags"
Similar to outlined buttons, but they are not interactive:

![image](https://user-images.githubusercontent.com/723999/99585235-0fbf9d00-29b4-11eb-92a5-f3976915e361.png)

[2020-11-19 06:04] aamirbutt opened #4428 "Is there an equivalent to TreeNode's nodeData in Table->Cell"
#### Environment

- __Package version(s)__: blueprintjs/table: 3.8.17
- __Browser and OS versions__: Chrome, Ubuntu

#### Question

I need something like blueprintjs Tree Node's nodeData in Table's Cell. This is needed to keep two-way dataflow between table data and model. Is there any such thing available? Or is there a workaround for such situation?

[2020-11-19 07:48] stolenng-investing commented on #4032
Hey,
Having this issue also, any plans on resolving it ? i can try also ?

[2020-11-19 11:54] MichalPrzybys-TomTom commented on #4415
With `sass` it fails for me on node 12 as well, it is working on `node-sass`

[2020-11-19 14:41] b-ponomarenko opened #4430 "Can't use Dialog and Select together"
### Environment

- "@blueprintjs/select": "^2.0.1", "@blueprintjs/select": "^2.0.1"
- __Operating System__:
- __Browser name and version__:

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)):

#### Steps to reproduce

1.
1.
1.

#### Actual behavior

#### Expected behavior

#### Possible solution

[2020-11-19 16:51] adidahiya commented on #4430
Probably a duplicate of #3854, but please fill out the issue template next time.

[2020-11-19 16:51] #4430 closed, assigned to nobody

[2020-11-19 19:28] adidahiya opened #4431 "Single-sided "elevation" drop shadow styles should be provided out of the box"
Sometimes we need subtle drop shadows that only fall in one direction for sidebars, headers, and footers. Instead of asking devs to copy-paste some very specific styles, Blueprint should provide this out of the box.

[2020-11-24 13:46] ikeryo1182 commented on #3851
how is it going?

[2020-11-24 17:20] phungtuanhoang1996 commented on #4426
Hi I made a PR for this issue!

[2020-11-25 15:34] ViggoV commented on #248
I am having some partial luck with a dirty, hackish solution. I import the raw contents of the global stylesheets and `regex` out the `html` and `body` wrappers. I then use `styled-components` to create a "style provider" wrapper, which unsets all other styles and include the contents of the Blueprint stylesheets under its generated class name:
[code]

The above does apply Blueprint styles within

[2020-11-26 04:50] lwouis commented on #2322
Posting here in case someone faces the same issue I did.

Here is the issue: declaring the handler as for example:

[code]

Here is the fix: declaring with another type, which is compatible with Blueprint, but correctly shows the existence of 'value':

[code]

[2020-11-26 07:30] chaomao opened #4433 "copy "Invalid date" or "Out of range" into date input component will crash the component"
#### Environment

- __Package version(s)__: 3.18.2
- __Operating System__: mac os 10.15.7
- __Browser name and version__: chrome

#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/s/blueprint-sandbox-forked-7hc56?file=/src/index.tsx

#### Steps to reproduce

1. copy "Invalid date"
2. paste into date input component
3. component will crash

#### Actual behavior

Error: Cannot read

[2020-11-26 11:15] ThanasisMpalatsoukas commented on #3779
[code]
The Cell component doesn't have the onKeyDown or onKeyPress event handlers when i downgrade from 3.8.x to 3.5.0,3.60,3.70.

[2020-11-27 11:18] javahuang commented on #3739
hmr will not work when i set `global: {}`, just set `"process.env": "{}",`

[2020-11-27 11:24] #4056 closed

[2020-11-28 14:36] casperOne opened #4434 "Submenus with links cause nested anchor elements"
#### Environment

- __Package version(s)__: Blueprintjs core 3.3.6
- __Operating System__: Windows 10
- __Browser name and version__: Chrome Version 86.0.4240.198 (Official Build) (64-bit)

#### Code Sandbox

https://codesandbox.io/s/blueprint-submenu-anchors-kyiib

#### Steps to reproduce

1. Open the submenu

#### Actual behavior

React produces an error/warning in dev:

[code]

#### Expected be

[2020-11-30 08:01] alfawal opened #4436 "Mentioning dark theme in the docs"
#### Feature request

New tab in the docs to mention `.bp3-dark`.

[2020-11-30 08:17] alfawal opened #4437 "Navigation drawers (Sidebar)"
#### Feature request

Navigation drawers on the sidebar left/right supportive

#### Examples

Example of Navigation drawers [here](https://vuetifyjs.com/en/components/navigation-drawers/).
A good example of lists styling inside them [here](https://vuetifyjs.com/en/components/lists/#nav).

[2020-11-30 10:39] iChebbi commented on #4399
I had same issue, but it seems that it has been fixed with [`@blueprintjs/datetime 3.20.0`](https://github.com/palantir/blueprint/wiki/3.x-Changelog#blueprintjsdatetime-3200) in #4412

[2020-11-30 15:13] PLSFIX opened #4439 "[Dateinput] Month/Year selects don't work when in Overlay"
#### Environment

- __Package version(s)__: 3.31.0 core, 3.20 datetime, 3.13.7 select
- __Operating System__: Windows
- __Browser name and version__: Chrome 87.0.4280.66

#### Code Sandbox

[Link](https://codesandbox.io/s/dateinput-bug-2g53q?file=/src/DatetimeExample.tsx)

#### Steps to reproduce

1. Click on "Without Overlay" Dateinput -> Month and Day selects work
2. Click on any "Open" button t

[2020-11-30 17:14] adidahiya commented on #4437
Navigation via drawers isn't really part of our design system, but we may consider it in the future. For now we have these two components you may use:

https://blueprintjs.com/docs/#core/components/drawer
https://blueprintjs.com/docs/#core/components/navbar

[2020-11-30 17:14] #4437 closed, assigned to nobody

[2020-11-30 17:17] adidahiya commented on #4436
Right now there is a section under Typography which talks about dark theme, a theme switcher near the top of the navigation, and a few search results in the docs search. But I suppose it makes sense to add a dark theme section to the Colors page.

<img width="365" alt="image" src="https://user-images.githubusercontent.com/723999/100641766-e8e35e00-3305-11eb-9843-6fed8faf313f.png">
<img width="450"

[2020-11-30 17:30] adidahiya commented on #3308
No longer reproducible, I believe this was fixed recently by https://github.com/palantir/blueprint/pull/4316

[2020-11-30 17:30] #3308 closed

[2020-11-30 17:31] #4399 closed, assigned to nobody

[2020-11-30 17:36] adidahiya commented on #4439
The blueprint package versions in your sandbox are incompatible. You used the latest version of datetime (3.20), which requires a newer version of core.

I tried your code with the latest versions of the blueprint packages and the bug is no longer present: https://codesandbox.io/s/blueprint-sandbox-forked-0rpku?file=/src/index.tsx

[2020-11-30 17:36] #4439 closed, assigned to nobody

[2020-12-01 00:27] cybae0804 opened #4440 "MultiSlider.Handle className prop doesn't seem to be getting propagated to the rendered element."
#### Environment

- __Package version(s)__: 3.25.0
- __Operating System__: Ubuntu 18
- __Browser name and version__: Brave Version 1.17.73 Chromium: 87.0.4280.67

#### Code Sandbox

Link to a minimal repro: [Here](https://codesandbox.io/s/blueprint-sandbox-forked-hs3fb?file=/src/CoreExample.tsx)

#### Steps to reproduce

1. Provide a classname to a MultiSlider.Handle

#### Actual behavior

The ren

[2020-12-01 01:31] adidahiya commented on #4440
Your assessment is correct, this looks like a bug.

[2020-12-01 08:09] Sascha-Gschwind commented on #4399
I can confirm it fixes the issue. Thanks for letting me know!

[2020-12-02 19:25] MartinDawson opened #4443 "Make an option for a responsive table"
#### Environment

- __Package version(s)__:
    "@blueprintjs/core": "^3.36.0",
    "@blueprintjs/table": "^3.8.18",
- __Browser and OS versions__:
    Chrome latest
    Windows 1

#### Feature request

It's a really fundamental feature. The table should be responsive, i.e. it should take up 100% of the width of the screen and then can shrink down to certain sizes for tablet/mobile.

#### Examples

[2020-12-02 20:14] #3421 closed

[2020-12-02 20:15] adidahiya commented on #3727
Related to #1035, and it will have the same solution

[2020-12-02 20:15] #3727 closed

[2020-12-02 20:17] adidahiya commented on #3756
Tabs will re-render when switched to, but they should not unmount. Unmounting inactive tabs is controlled by the `renderActiveTabPanelOnly` prop.

[2020-12-02 20:17] #3756 closed

[2020-12-02 20:27] adidahiya commented on #3761
duplicate of https://github.com/palantir/blueprint/issues/4109

[2020-12-02 20:27] #3761 closed

[2020-12-02 20:46] gurpal2000 commented on #3756
Is there an example? I never did get this working. I have some sample code I was trying on from last year.

[2020-12-02 22:04] adidahiya commented on #3756
@gurpal2000 can you demonstrate the issue in a code sandbox (linked in the issue template)?

[2020-12-03 14:24] sgreinert opened #4444 "Cannot install demo app on Windows 10"
#### Environment

- __Package version(s)__:
blueprint 3.17.x / develop
node v12.18.3
npm 6.14.6
python 3.9 / 3.8.5

- __Browser and OS versions__:
Firefox 83.0 (64 bit), Win 10 Pro X64

#### Question

After having downloaded the repo (tried different versions), I started "yarn" at repo base and got:

yarn install v1.22.5
[1/5] Validating package.json...
[2/5] Resolving packages...
warning Resoluti

[2020-12-03 15:29] adidahiya commented on #4444
Looks like you might be using the wrong version of python? I would suggest searching the web for oniguruma installation errors.

[2020-12-03 20:43] wshart commented on #3941
Also having this issue and the workaround works for me too, thanks!

[2020-12-04 11:48] yogeshmuthuraj opened #4445 "Double scrollbars in Results section when zoomed out"
#### Environment

- __Package version(s)__: 3
- __Operating System__: Windows 10
- __Browser name and version__: Google Chrome Version 86, MozillaFirefox.

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)):

#### Steps to reproduce

This happens when the browser is zoomed out at 50%.

I have attached screenshots from the documen

[2020-12-04 13:50] basslagter opened #4446 "Datepicker throws error 'Uncaught TypeError: Cannot read property 'querySelectorAll' of null'"
I can reproduce every time by clicking on the first of the month. Issue is in dateInput.tsx in 'getLastTabbableElement' where it does not check this.popoverContentEl for null. In the source is already a comment stating "Beware: this.popoverContentEl is sometimes null under Chrome", so I guess this should be fixed here also.

[2020-12-04 17:27] adidahiya commented on #4446
Please fill out the issue template. This is a duplicate of https://github.com/palantir/blueprint/issues/4399.

[2020-12-04 17:27] #4446 closed, assigned to nobody

[2020-12-07 05:29] smurfs2549 opened #4447 "Table can't scroll despite there are rows visiable"
#### Environment

- __Package version(s)__:  @blueprintjs/table 3.8.4
- __Operating System__:   Mac and Windows -
- __Browser name and version__:  All browser

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/objective-moon-ijiy2?file=/src/App.js)):

#### Steps to reproduce

1.  change browser size make the browser bottom align with 'test-7' column
2.

[2020-12-07 09:03] lwouis commented on #4417
I can confirm I'm running into the same issue.

I think the issue is at this line: https://github.com/palantir/blueprint/blob/develop/packages/core/src/components/slider/handle.tsx#L158

This function returns 0 somehow: https://github.com/palantir/blueprint/blob/241b20d5b45a62ef90c91d795f78d429adbda47f/packages/core/src/components/slider/handle.tsx#L234

Maybe an easy fix is to replace the default

[2020-12-08 01:04] drakebw commented on #4094
+1 I am seeing this behavior as well and setting the render mode as @Redirts suggests (`renderMode={RenderMode.NONE}`) did resolve the issue for me.

[2020-12-08 19:24] devjuliet commented on #4433
@adidahiya @chaomao Is this up for grabs?

[2020-12-08 19:53] jondavidjohn commented on #3253
Has this been implemented?

[2020-12-08 20:29] adidahiya commented on #4433
The original code sandbox does not show the problem; it doesn't use `DateInput`. Can you post a new sandbox using the latest versions of core and datetime packages?

[2020-12-08 20:29] adidahiya commented on #3253
Nope, I will close the issue when it's implemented. Until then you can vote for issues by reacting to the original post.

[2020-12-09 20:12] adidahiya commented on #4032
[This blog post](https://itnext.io/the-css-preprocessor-dilemma-node-sass-or-dart-sass-32a0a096572) talks about the tradeoffs between the sass versions. It sounds like dart-sass's JS package will slow down our compilation time, but if it's good enough for [the bootstrap project](https://github.com/twbs/bootstrap/blob/0f12f5871155b01ab9480d2b3543428dbc6b50e9/package.json#L141), it's probably good e

[2020-12-10 01:47] derekzx opened #4450 "Tooltip does not disappear if it contains another tooltip with a button"
#### Environment

- __Package version(s)__: 3.18.0
- __Operating System__: 10.14.6
- __Browser name and version__: Google Chrome: 86.0.4240.198

#### Code Sandbox

https://codesandbox.io/s/hardcore-wilbur-7pywf?file=/src/index.tsx

#### Steps to reproduce

1. Hover over the disabled button
2. Move mouse away from the button

#### Actual behavior

The tooltip taunts you and refuses to disappear

##

[2020-12-10 02:58] adidahiya commented on #4450
Use an `AnchorButton` instead. This is called out in the docs:

https://blueprintjs.com/docs/#core/components/tooltip.props

<img width="814" alt="image" src="https://user-images.githubusercontent.com/723999/101715548-a76f5300-3a69-11eb-8b3b-708fddd8fe98.png">

https://blueprintjs.com/docs/#core/components/button

<img width="813" alt="image" src="https://user-images.githubusercontent.com/723999/1

[2020-12-10 02:59] #4450 closed, assigned to nobody

[2020-12-10 15:29] Arkessler commented on #3964
@fredfortier How did this wind up working out for you? I'm running into a very similar situation and so far the flow you've described seems like the only way to bubble events like this.

[2020-12-13 08:19] arkRedM commented on #2692
did anyone find a workaround?

[2020-12-13 12:48] ilomon10 opened #4456 "Slider style props support or innerStyle"
#### Environment

- __Package version(s)__: `3.22.3`
- __Browser and OS versions__: `Windows 10 WSL`

#### Feature request

Add style props support for Slider component to modify style property on specific element

#### Examples

[code]

[2020-12-14 02:29] chaomao commented on #4433
@adidahiya
sorry for the confusion, I already update the sandbox, which can reproduce the issue, please look it again

[2020-12-14 15:21] phungtuanhoang1996 commented on #3253
^ Hi all I have a WIP PR on this feature. Currently have the omnibar working, will finish with other components later.
Also I used a `Spinner` as the default loading component. Any suggestion for a better looking option is welcome. Tks!

![ezgif com-gif-maker](https://user-images.githubusercontent.com/24819126/102099161-f69af680-3e62-11eb-8e70-0713405f1f0b.gif)

[2020-12-14 15:47] adidahiya commented on #4456
Most of our components don't have `style` prop support; you mostly can achieve the same thing with `className="your-custom-class"` and some CSS.

[2020-12-14 15:53] adidahiya commented on #4433
Duplicate of #4251 and #4376

[2020-12-14 15:53] #4433 closed, assigned to nobody

[2020-12-16 20:12] adidahiya commented on #2193
I am picking up this work again for Blueprint 4.0 (targeted for early 2021). In general, I am aligned with the approach used in [fontawesome](https://fontawesome.com/how-to-use/javascript-api/setup/importing-icons) as described above by @skovy in https://github.com/palantir/blueprint/issues/2193#issuecomment-514840002.

I'd like to preserve the convenient developer experience of _not_ having to im

[2020-12-16 23:23] cyu06 opened #4459 "RadioGroup's label prop as a ReactNode will wrap its own Label element"
After https://github.com/palantir/blueprint/pull/4276 allowed `label` to be a ReactNode, I would've expected that I could pass in my own Label element rather than getting forced to get a wrapped one
https://github.com/palantir/blueprint/blob/15057034fcbddd5241b1078e698e19d4489d9901/packages/core/src/components/forms/radioGroup.tsx#L81

[2020-12-17 07:31] my-lalex opened #4460 "textClassName property for Button component"
#### Environment

- __Package version(s)__: 3.36.0
- __Browser and OS versions__: Chrome / macOS

#### Feature request

Would it be a good idea to add a 'textClassName' to the Button props, which would be added to the text span?

#### Examples

I'm currently creating a zone which can (or cannot) be a button, kinda
`<Zone className='text-or-button' clickable={true}>Zone content</Zone>`

The compone

[2020-12-17 11:26] lucasconstantino commented on #1609
Just faced this issue, and solved it with a rather hacky way. Hope it helps anyone:

[code]

[2020-12-17 12:15] marcelltoth commented on #2193
... or use the even cleaner approach that FA also supports:
[code]

Then tree shaking is trivial, and implementation isn't much more complex either. You just have to export icon SVG data from an ES6 module, but it seems [you already have that under the hood](https://github.com/palantir/blueprint/blob/develop/packages/icons/src/index.ts)

While I understand your point and I'm sure some developers f

[2020-12-17 15:18] pudo opened #4461 "MultiSelect triggers wrapping form"
#### Environment

- __Package version(s)__: select 3.15.0
- __Operating System__: Docker / node 14
- __Browser name and version__: Chrome latest

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprint-sandbox-forked-cnc83?file=/src/index.tsx

#### Steps to reproduce

1. Create a MultiSelect
2. Plac

[2020-12-17 17:12] adidahiya commented on #2193
@marcelltoth yes, I'd still want to support that kind of API where tree shaking is trivial. `someIcon` would be an `<svg>` of type `JSX.Element` and you'd be guaranteed to load it via your module bundler.

We have different use cases to support. Blueprint's main use case in Palantir applications occurs in an environment where we load all icons onto the page by default; we accept the bundle size co

[2020-12-20 09:33] automatedmachine opened #4464 "Invalid package typescript-eslint/tslint referenced in eslint-config"
#### Environment

- __Package version(s)__:
    "@blueprintjs/eslint-plugin": "0.3.1",
    "@blueprintjs/eslint-config": "0.6.1",
    "@blueprintjs/core": "3.36.0",
    "@blueprintjs/icons": "3.23.0",
    "@blueprintjs/select": "3.15.0"
- __Operating System__: Windows 10, using Ubuntu on WSL

#### Steps to reproduce

1. Install @blueprintjs/eslint packages from npm
2. Ensure eslint is also setup (

[2020-12-20 22:08] choiway commented on #3779
I downgraded and it still doesn't work.

[2020-12-21 12:32] CrommVardek commented on #1545
Link is no longer correct.

New link is [https://blueprintjs.com/docs/#icons](https://blueprintjs.com/docs/#icons)

[2020-12-21 23:49] automatedmachine commented on #4464
That was my bad, I took another look at it today and realized that I needed to install the old tslint package itself and configure the two accordingly.

[2020-12-21 23:49] #4464 closed, assigned to nobody

[2020-12-22 00:39] panchyo0 commented on #4327
Package version: 3.36.0
Add `minorStepSize` helps me to remove warning message for floating number [example](https://codesandbox.io/s/blueprintjsnumericinputtest-qbffe?file=/src/App.js:757-770)
Hope this could help someone.

[2020-12-23 14:11] mfonsatti opened #4466 "HTML Select icon missing"
#### Environment

- __Package version(s)__: Core 3.36.0
- __Operating System__: BigSur
- __Browser name and version__: Chrome Version 87.0.4280.88

#### Actual behavior

Using the HTML Select with className={``` `${Classes.HTML_SELECT` ```} the icon is missing

#### Expected behavior

Using Classes.HTML_SELECT the icon should appear

#### Possible solution

Add the deprecated class Classes.SELECT

[2020-12-26 05:00] fakabbir opened #4467 "Popover for Select goes fullscreen"
#### Environment

- __Package version(s)__: v3
- __Operating System__: Windows 10
- __Browser name and version__: Chrome (87.0.4280.88)

#### Code Sandbox
https://codesandbox.io/s/blueprint-issue-select-c6qm9

#### Steps to reproduce
Click in Select Button

#### Actual behavior
Select option takes the whole screen to show the available options

#### Expected behavior
Only about 10 items should be

[2020-12-27 17:21] hw-a commented on #390
as of 2021 the performance is still pretty bad; wonder if this is really what palantir uses in production or they simply dont display lots of cells at once hmmm e.g. 100,000 cells

[2020-12-28 19:01] tdehollain commented on #2348
For those using @tnrich's ptIconWrapper, the svg needs to be wrapped in a span with the class 'bp3-icon'. Otherwise the icon doesn't get the right margins and fill colors (light/dark mode, selected/unselected,...):
[code]

[2020-12-30 00:25] MohammedSalameh opened #4468 "Navbar.Group Alignment.CENTER is not working"
#### Environment

- __Package version(s)__: @blueprintjs/core 3.36.0
- __Browser and OS versions__: Firefox 84.0.1 (64-bit) | Windows 10 build 19041

#### Question
Navbar Alignment functionality doesnt work as intended.

Navbar Group in the center is being aligned left and filled out to the right, pushing the RIGHT navbar group out of bounds.

Imgur link to issue: [pic](https://imgur.com/a/61fMNkN

[2020-12-30 04:43] ChristianIvicevic commented on #4032
Just wanted to point out that `sass` doesn't install native dependencies like `node-sass` does which sometimes causes issues on macOS devices and needs a proper Xcode toolchain. This is one of the reasons I personally prefer `sass` whenever possible.

[2021-01-04 14:18] j-perl commented on #3308
The problem still occurs for me.

Package version: DateTime 3.20.0
Browser and OS versions: Mac OS 11.1 Chrome 87.0.4280.88

[2021-01-04 14:50] cnrudd commented on #3308
@ j-perl. Strange.  I cannot reproduce the bug on this page:
https://blueprintjs.com/docs/#datetime/dateinput

I have the same specs as you:
Package version: DateTime 3.20.0
Browser and OS versions: Mac OS 11.1 Chrome 87.0.4280.88

[2021-01-04 15:39] j-perl commented on #3308
My bad, I had to reload the web app after running yarn. It's working now. Thanks for looking into it.

[2021-01-04 19:27] adidahiya commented on #4468
Can you please demonstrate the issue with a code sandbox (linked from the issue template)? That will make debugging much faster.

[2021-01-04 19:31] adidahiya commented on #4467
You forgot to include `blueprint-select.css`. You can see it's imported in the code sandbox linked from the issue template and README.

[2021-01-04 19:31] #4467 closed, assigned to nobody

[2021-01-04 19:33] adidahiya commented on #4466
Can you please demonstrate the issue with a code sandbox? It's linked from the issue template and makes debugging a lot faster.

[2021-01-04 21:23] MohammedSalameh commented on #4468
Absolutely:
https://codesandbox.io/s/blueprint-reactjs-9n6bz

[2021-01-05 03:07] miZyind opened #4470 "Need help for Simple Icons integration"
#### Question

I really like this package so I suggested [Simple Icons](https://github.com/simple-icons/simple-icons) add an icon for BlueprintJS.
This is the corresponding [issue](https://github.com/simple-icons/simple-icons/issues/3510) I opened before.
However, as the member of Simple Icons said, it's hard to determine BlueprintJS's primary color.
Would you like to provide me the primary color

[2021-01-06 19:10] adidahiya commented on #4470
We don't have a project logo which is easily suitable for monochrome usage like the ones I see in the [simple icons gallery](https://simpleicons.org/). Not sure how you would adapt ours for that. But if I had to pick a primary color I'd go with [`@blue3`](https://blueprintjs.com/docs/#core/colors), #137cbd.

[2021-01-06 19:10] #4470 closed, assigned to nobody

[2021-01-07 11:24] N1kto opened #4472 "BP.Table scroll events are processed after table gets unmounted"
#### Environment

- __Package version(s)__: @blueprintjs/table@3.8.18 (and 3.8.13)
- __Operating System__: Linux
- __Browser name and version__: Chromium 87, Firefox 86

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprint-sandbox-forked-iuzkh
#### Steps to reproduce

1. Go to table
2. Scroll the

[2021-01-07 17:08] adidahiya commented on #4468
I just realized that `Alignment.CENTER` is not supported for NavbarGroup. There's no styling for it yet. Open to PRs to fix this.

[2021-01-07 17:33] adidahiya commented on #4459
Well I guess that would've been a slight runtime break if we removed the wrapping label, since #4276 was just a type change. Can you describe your use case a bit more? Why do you need to customize the label?

[2021-01-07 17:36] adidahiya commented on #4460
Thanks for the kind words about Blueprint.

I'd like to avoid adding this prop unless absolutely necessary. I think you can work around this with CSS. If not, can you please create a code sandbox demonstrating the lack of customizability?

[2021-01-07 17:38] adidahiya commented on #4443
Can you please be more specific about what "responsive" means for you? Do you expect the columns to expand to fill as much space as possible, like a flex layout?

I can mark this as a feature request but it is low priority for us at this time and is likely a large undertaking.

[2021-01-07 17:43] adidahiya commented on #4420
Before we go ahead with a potentially dangerous refactor in #4421, can you describe what problems this duplication is causing for you?

[2021-01-07 17:47] MartinDawson commented on #4443
@adidahiya Yeah exactly, so the problem right now is that the table does not wisely use up 100% of the width available to it if it has the space for it.

Here's an example, you can see there are some ghost cells at the end column.
![image](https://user-images.githubusercontent.com/15030491/103926311-a84edf80-5110-11eb-9a34-3214d90ab107.png)

It would be great if we could have an option to stretch

[2021-01-07 18:16] #3578 closed

[2021-01-07 18:20] adidahiya commented on #4443
We added ghost cells for this purpose, to make the behavior more like a spreadsheet rather than an HTML table. It's not a simple feature to make the columns stretch and work with all the layout calculations, as I noted above.

[2021-01-07 18:26] adidahiya commented on #4301
I thought about this some more and I'm inclined to go with a right click interaction using Blueprint's ContextMenu. It feels like more of a power user interaction, so I think right click would be suitable. For a design proposal I would just like to see a brief list of the different states, i.e. what is shown in the context menu when clicking on the slider vs on an existing handle. Also what happen

[2021-01-07 19:03] adidahiya commented on #4470
Strike that -- I realized we have a monochrome logo right here, use this one: https://github.com/palantir/blueprint/blob/493f27bdaf6fd26ded7e07e607bc3df01211080a/packages/docs-app/src/components/logo.tsx#L20

[2021-01-08 07:55] my-lalex commented on #4460
Of course you can work around with CSS (this is why I love working with the blueprint components), but the CSS would have to be "aware" of the .bp3-* classes hierarchy, which I try to avoid as much as possible...
The enhancement suggestion has for only purpose to be able to write cleaner CSS...

Let's see a pseudo-code
[code]

The CSS to have the same visual feedback would be
[code]

Wouldn't be m

[2021-01-08 17:20] adidahiya commented on #4460
What happens if you change the color of the whole button? Why do you need to target the text span specifically?

[2021-01-08 17:30] my-lalex commented on #4460
Yeah, the color might be a bad example, but still significant if you use text/svg in your `icon` or `rightIcon`properties...

I'm thinking more about paddings, borders, etc...

[2021-01-08 17:34] adidahiya commented on #4460
I'm inclined to decline this request for now. In general we guarantee backwards compatibility for the DOM structure rendered by Blueprint components, especially fundamental ones like buttons. So you should feel safe applying custom styling with `.bp3-button` selectors. You might want to parameterize that selector with the namespace, though, since we're going to change `.bp3-` to `.bp4-` in the nex

[2021-01-08 17:36] my-lalex commented on #4460
I get it. Thanks for answering ;-)

[2021-01-08 20:00] MartinDawson commented on #4335
I also am having this issue. @adidahiya Is this a known issue or something that is possible to fix?

I can't find a way to stop this from happening.

[2021-01-11 18:18] richwandell commented on #3429
I am running into this same issue today. Was there a resolution?

[2021-01-11 19:12] adidahiya commented on #3429
@richwandell this is a pretty old issue, can you please create a new one and share a code sandbox of your problem?

[2021-01-11 19:12] #3429 closed

[2021-01-12 08:01] youssefarizk opened #4477 "Date range selector resets year"
Hi,

I have a date range selector in my application, where the workflow involves selecting dates in the future.
To repro the bug, you can do the following:
1. select a start date that is in the past (let's say 1/12/2020)
2. select an end date that is in the future (let's say 31/3/2021), but using the Year dropdown to select 2021, followed by the Month dropdown to select March.
3. When I selects Ma

[2021-01-12 08:44] miZyind commented on #4470
I've created a [Corresponding PR](https://github.com/simple-icons/simple-icons/pull/4729) based on your suggestion. Thanks for your support adidahiya!

[2021-01-12 17:01] jonluca commented on #921
Is there any form of native reordering for tabs?

[2021-01-12 17:06] adidahiya commented on #4477
Can you please demonstrate the issue with a code sandbox? It's linked from the issue template and makes debugging a lot faster.

It sounds like you have this option enabled which will constrain the picker to show contiguous months:
![image](https://user-images.githubusercontent.com/723999/104347463-a4370f00-54ce-11eb-9ae2-701069f8b22e.png)

[2021-01-13 11:36] ghost opened #4479 "Refining the generic types of ITreeNode"
Currently `ITreeNode` supports a single generic type `T` used as `ITreeNode<T = {}>` where `T` is used for both the type of the child nodes (`childNodes?: Array<ITreeNode<T>>;`) and the node data (`nodeData?: T;`).

Now, if one creates its own class implementing `ITreeNode` with generics one is forced to use the same type for both properties despite the fact that I don't see a reason why a parent

[2021-01-13 16:18] #4444 closed, assigned to nobody

[2021-01-13 16:26] adidahiya commented on #3477
There have been some recent changes to the TagInput API... closing this issue in favor of https://github.com/palantir/blueprint/issues/4390

[2021-01-13 16:26] #3477 closed

[2021-01-13 16:27] adidahiya commented on #3740
The Tree example in the docs shows how to add a tooltip (or popover in your case) to both the label and secondary label in a tree node: https://github.com/palantir/blueprint/blob/a37f79c95c5b377a9793b222a142df7f5bff2ce7/packages/docs-app/src/examples/core-examples/treeExample.tsx#L89

[2021-01-13 16:27] #3740 closed

[2021-01-14 10:21] wchen-obj opened #4482 "Blueprintjs/Table@3.8.18 Only Render the First Row/Column"
#### Environment

- __Package version(s)__: "@blueprintjs/core": "^3.36.0", "@blueprintjs/table": "^3.8.18",
- __Operating System__: macOS Big Sur 11.1, Windows 10 20H2
- __Browser name and version__: Chrome Version 87.0.4280.141

#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/s/beautiful-austin-qot6w?file=/src/Table.js
Or if you also encounter this sandbox stuck in **Transpili

[2021-01-16 13:56] tdehollain opened #4484 "DateRangeInput doesn't update displayed date when closeOnSelection=false (in control mode)"
#### Environment

- __Package version(s)__: @blueprintjs/datetime 3.20.0
- __Operating System__: MacOS Mojave Version 10.14.6
- __Browser name and version__: Firefox 84.0.2

#### Code Sandbox

[Link to a minimal repro](https://codesandbox.io/s/blueprint-sandbox-forked-fhbxr)

#### Steps to reproduce

1. Set the DateRangeInput to controlled mode (specify `value` and `onChange` props)
2. Set `closeO

[2021-01-18 14:11] LoiKos opened #4485 "Crashing when using Popover popoverRef props"
#### Environment

- __Package version(s)__: 3.36.0
- __Operating System__: Mac OS Big sur
- __Browser name and version__: Chrome 87

#### Code Sandbox

https://codesandbox.io/s/modest-tree-hww7h?file=/src/App.js

#### Actual behavior

Trying to add ref to popover via `popoverRef` property that should allow us to use a ref with `Popover`. But when setting this property the add crash with the follow

[2021-01-19 15:10] adidahiya commented on #4485
A `React.Ref` is not allowed for that prop. The type must be a ref callback, this is documented in the props table: https://blueprintjs.com/docs/#core/components/popover.props

However, this prop was changed recently in https://github.com/palantir/blueprint/pull/4438, so you should be able to use `React.Ref` in the next Blueprint release (expected this week).

[2021-01-19 15:11] #4485 closed, assigned to nobody

[2021-01-19 17:47] #4440 closed, assigned to nobody

[2021-01-19 20:57] adidahiya opened #4486 "Task: removal of APIs deprecated in Blueprint 3.x"
placeholder issue for code tracking

related: https://github.com/palantir/blueprint/issues/3829

[2021-01-19 21:18] adidahiya commented on #3829
For posterity: the real problem was the import cycle between Menu <-> MenuItem. This causes Menu.Item to be undefined in a webpack bundle.

[2021-01-20 11:54] dessskris opened #4487 "DateRangeInput placeholder not working"
#### Environment

- __Package version(s)__: @blueprintjs/datetime 3.18.5
- __Operating System__: macOS Big Sur Version 11.1
- __Browser name and version__: Chrome Version 87.0.4280.141 (Official Build) (x86_64)

#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/s/blueprint-sandbox-forked-rk722?file=/src/DatetimeExample.tsx

#### Steps to reproduce

Specify `placeholder` on `DateRa

[2021-01-20 14:29] adidahiya commented on #4487
Good catch. Looks like we haven't added proper support for that prop even though it appears in the props interface. Open to PRs to fix this.

[2021-01-20 15:25] #3371 closed

[2021-01-20 15:45] adidahiya opened #4489 "Close Popover2 when target is hidden from view"
example:

<img width="1098" alt="image" src="https://user-images.githubusercontent.com/723999/105199426-be936d00-5b0c-11eb-864f-8cfdbdad6d30.png">

[2021-01-20 18:28] N3XT191 opened #4490 "Progress bar with multiple elements"
#### Environment

- __Package version(s)__: core 3.37
- __Browser and OS versions__: Safari 14, macOS BigSur

#### Feature request

Either extend the current progress bar or create a "MultiProgressBar" component that allows setting multiple elements in different colors/intents that are stacked on top of each other.

#### Examples

![alt](https://raw.githubusercontent.com/N3XT191/react-multi-progre

[2021-01-20 18:59] switz commented on #2689
Anyone ever make any progress on this?

[2021-01-21 02:36] #4023 closed

[2021-01-21 13:21] N3XT191 commented on #4490
<img width="821" alt="Screenshot 2021-01-21 at 14 20 17" src="https://user-images.githubusercontent.com/4399535/105356564-dabe0980-5bf3-11eb-8b7f-b49cb968dd65.png">

In case anyone is wondering for what this is useful, here is the main place it's used in my project

[2021-01-21 14:46] adidahiya commented on #4490
Thanks for the additional context. It looks like this kind of component exists in other libraries such as [Fomantic UI](https://fomantic-ui.com/modules/progress.html#multiple-bars). I would be open to adding it to Blueprint. We have something similar in MultiSlider, where we render a bar with multiple segments. You could probably borrow/copy some of the MultiSlider CSS and prop interface design to

[2021-01-21 15:29] N3XT191 commented on #4490
For Syntax, the following would probably be easiest to implement:

[code]

but this would be most similar to the MultiSlider syntax

[code]

What might be best would be to do the following, but I don't know how to make the stacking so all 3 progress meters are visible (and not blocked by the other backgrounds)

[code]

Thoughts?

[2021-01-21 16:28] ViggoV commented on #3824
This also happens without React Router. An observation: in my case it
- basically never happens locally (on my Mac)
- happens occasionally in a Windows 10 VM (accessing the Macs localhost)
- very frequently happens when running on our dev server

[2021-01-21 16:43] ViggoV commented on #3824
I have tried a workaround which seems to work at first glance (I am using functional components). I have a `type` which is handled by `useState` in the parent component, which is passed down to the component rendering the `<Tabs />`. Originally this was directly used to set `selectedTabId`. I added a seperate state variable in the Tabs component and update it with `useEffect` every time `type` cha

[2021-01-24 17:48] synapse opened #4493 "Reposition popover if target moves"
#### Environment

- __Package version(s)__: @blueprintjs/core 3.38.0
- __Browser and OS versions__: Electron 8.0.0

#### Question
Is there a way to make the popover stick to its target element? Seams to be working when scrolling but not when dynamically the target is pushed or pulled (check GIF below).

![](https://i.imgur.com/6wXs0cn.gif)

[2021-01-25 15:51] adidahiya commented on #4493
@synapse this may be fixed with the newly released Popover2, can you test it out? see the release notes [here](https://github.com/palantir/blueprint/wiki/3.x-Changelog#january-21-2021). I'm updating the docs site now to reflect the new package.

[2021-01-25 17:06] synapse commented on #4493
Hey, @adidahiya I've just installed and using Popover2. It seems that it's still not moving along with its target element. Do I need to set any prop in particular. I'm using it like so:

[code]

PS: there's a small stagger when closing
![](https://i.imgur.com/WlwBlQj.gif)

[2021-01-25 18:04] dessskris opened #4495 "Dynamic Style Width not working on Tooltip"
#### Environment

- __Package version(s)__: 3.31.0
- __Operating System__: macOS Big Sur Version 11.1
- __Browser name and version__: Chrome Version 88.0.4324.96 (Official Build) (x86_64)

#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/s/blueprint-sandbox-forked-6kp7b?file=/src/CoreExample.tsx

Note:
- The first example (Without Tooltip) is the expected positioning of the label

[2021-01-25 18:43] olegshilov opened #4496 "Popover did not close by escape key"
#### Environment

- __Package version(s)__: 3.38.1
- __Operating System__: macOS Big Sur 11.1
- __Browser name and version__: Google Chrome 88.0.4324.96

#### Code Sandbox

You can see this behavior at your docs site https://blueprintjs.com/docs/#core/components/popover

#### Steps to reproduce

1. Choose `Text` at example content select
2. Enable `Can escape key close` switcher
3. Open popover by

[2021-01-25 21:53] DannyDelott commented on #3824
I've found that the tab indicator can suffer misalignment/rendering weirdness if you resize/zoom the window as well.

I was able to avoid this though by setting `animate={false}` on the Tabs component.

[2021-01-26 00:17] cybae0804 opened #4497 "NumericInput up/down keypress/button click breaks on stepsize smaller than 0.001"
#### Environment

- __Package version(s)__: @blueprintjs/core: "3.38.1"
- __Operating System__: Ubuntu 20.04 LTS
- __Browser name and version__: Chrome 87.0.4280.141

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-forked-98i26

#### Steps to reproduce

Provide a stepSize and minorStepSize such as 0.0001, and try to modify the input using the up/down button or the keypress. It will l

[2021-01-26 00:26] olegshilov opened #4498 "Wrong Popover2 transition container class name"
Hello. I figured out that classname used for popover transition container is wrong.
Here https://github.com/palantir/blueprint/blob/develop/packages/popover2/src/classes.ts#L32 is declared '.bp3-popover2-transition-container' which is used here https://github.com/palantir/blueprint/blob/develop/packages/popover2/src/popover2.tsx#L407

But here https://github.com/palantir/blueprint/blob/develop/pac

[2021-01-26 01:47] adidahiya commented on #4496
duplicate of #4300

[2021-01-26 01:47] #4496 closed, assigned to nobody

[2021-01-26 01:58] #4498 closed, assigned to nobody

[2021-01-26 08:16] Biaggio74 commented on #3361
There is an error in React strict mode
**React v: 17.0.1**
**BlueprintJS v: 3.37.0**

`index.js:1 Warning: findDOMNode is deprecated in StrictMode. findDOMNode was passed an instance of Blueprint3.ResizeSensor which is inside StrictMode. Instead, add a ref directly to the element you want to reference. Learn more about using refs safely here: https://reactjs.org/link/strict-mode-find-node
    at s

[2021-01-26 15:15] olegshilov commented on #4493
@synapse hi. seems like in the next release of Popover2 this behavior would be fixed.
BTW it seems to me that the user experience would be better if the add tag button was at the beginning. it seems that cognitive load increases when you start to follow the popover moving on the screen with your eyes

[2021-01-26 15:40] markerikson opened #4500 "Icon component cannot accept ARIA `role` prop"
#### Environment

- __Package version(s)__: 3.38
- __Operating System__: RHEL7 (not relevant)
- __Browser name and version__: Firefox 78 (not relevant)

#### Code Sandbox

N/A

#### Steps to reproduce

1. Try to render `<Icon icon="cross" role="image" />`

#### Actual behavior

TypeScript fails to compile because the `Icon` component does not accept a `role` prop.

#### Expected behavior

The `Ico

[2021-01-26 16:51] adidahiya commented on #3361
See https://github.com/palantir/blueprint/issues/3979

[2021-01-26 16:53] adidahiya commented on #4500
@markerikson that looks like a fair assessment. open to PRs, this should be a trivial change. thanks for filing the issue.

[2021-01-26 18:25] daberkow opened #4501 "blueprintjs.com does not correctly resize larger"
#### Environment

- __Operating System__: Mac OS X
- __Browser name and version__: Edge 88.0.7

#### Code Sandbox

If you load https://blueprintjs.com/ in a small window, then drag it larger, the page does not correctly respond to the top graphic area.

#### Steps to reproduce

1. Start with a browser window that is small
2. Go to https://blueprintjs.com/
2. Drag your window larger than 1600px hor

[2021-01-26 21:19] dlech opened #4502 "Popover2 tabindex"
#### Environment

- __Package version(s)__: "@blueprintjs/popover2": "^0.1.1",
- __Operating System__: Ubuntu 20.04
- __Browser name and version__: Chromium Version 88.0.4324.96 (Official Build) snap (64-bit)

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprint-sandbox-forked-146cf?file=/src/Cor

[2021-01-26 21:23] dlech opened #4503 "Tooltip does not close if focus is triggered by keyboard but removed mouse"
#### Environment

- __Package version(s)__:  @blueprintjs/core@3.38.2, @blueprintjs/popover2@0.2.0
- __Operating System__: Ubuntu 20.04
- __Browser name and version__: Chromium Version 88.0.4324.96 (Official Build) snap (64-bit), Firefox 85.0

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprint-

[2021-01-26 21:30] dlech commented on #4503
Once you get the hang of it, you can end up with this:

![image](https://user-images.githubusercontent.com/963645/105908059-63211d80-5feb-11eb-96a9-6ed7f3f7ce03.png)

[2021-01-26 23:05] adidahiya commented on #4502
Thanks for taking the new package for a spin. Good catch, I'll fix this ASAP.

[2021-01-26 23:53] kmark opened #4504 "Popover2 does not completely animate closed"
#### Environment

- __Package version(s)__: 3.38.0
- __Operating System__: macOS 10.15.7
- __Browser name and version__: Chrome 88.0.4324.96 (Official Build) (x86_64)
#### Code Sandbox

https://blueprintjs.com/docs/#popover2-package/popover2

#### Steps to reproduce / Actual Behavior

Looks like the animation abruptly ends close to end of the close

![blueprint-popover2](https://user-images.github

[2021-01-26 23:55] kmark commented on #4504
Looks like this is fixed in #4499

[2021-01-26 23:55] #4504 closed, assigned to nobody

[2021-01-27 07:37] synapse commented on #4493
hey @olegshilov, thanks for the idea of placing the button at the beginning! 👍

[2021-01-27 09:15] appleneil commented on #4382
Hi @adidahiya I've found a similar problem with the `HTMLSelect`. I updated my core package after this https://github.com/palantir/blueprint/pull/4093 was merged but the problem persists.

[2021-01-27 16:05] adidahiya commented on #4382
as of https://github.com/palantir/blueprint/pull/4438, all components support both ref objects and callbacks.

[2021-01-27 16:05] #4382 closed, assigned to nobody

[2021-01-27 16:05] adidahiya commented on #4370
fixed by https://github.com/palantir/blueprint/pull/4438

[2021-01-27 16:05] #4370 closed, assigned to nobody

[2021-01-27 20:57] bmaupin commented on #3514
For me this keeps the tooltip from popping up, but the element inside the tooltip still gets focus, so it may end up with an outline depending on how the browser indicates focus.

This works for me, with a few clarifications:

- This needs to be set on the `Popover` element
- For blueprint 3.37.0 the syntax is `autoFocus={false}`

[2021-01-28 09:02] naivefun opened #4507 "onClick is not trigger on custom ColumnHeaderCell.nameRenderer in Table"
It works in Custom Cells but cannot work on header cell.  Is there a way to enable this?

[code]

[2021-01-28 17:34] LoiKos opened #4509 "Pass node to SecondaryLabel"
#### Feature request

I use to work a lot with tree component and there is a point i'm struggling with. It's easy to work with tree nodes but when you start to work with `secondaryLabel` it's more tricky because you have no information about the node.

For example you can use `secondaryLabel` to display some informations about node children when node is collapse and hide it when expand. Unfortunat

[2021-01-28 17:57] MynockSpit opened #4510 "`createNewItemFromQuery` fired on every key press"
#### Environment

- __Package version(s)__:
@blueprintjs/core3.38.1
@blueprintjs/icons3.24.0
@blueprintjs/select3.15.3
- __Operating System__:
  Mac OS 11.1
- __Browser name and version__:
  Safari 14.0.2; Chrome 88.0.4324.96

#### Sandbox

https://stackblitz.com/edit/blueprint-select-create-new-item-bug?file=src/App.js

#### Steps to reproduce

1. Open the stackblitz dev console or your web brows

[2021-01-28 19:32] adidahiya commented on #4510
Thanks for the bug report. Looking back at the history I don't see where this would have ever worked as stated in the docs. We should either change it so the callback fires only on confirmation of creating a new item... or change the docs to reflect the actual behavior.

[2021-01-28 20:25] MynockSpit commented on #4510
Ideally it'd work the way the docs say. 😀  The workaround I came up with to create a new item from a query is pretty silly. If it's useful, I can mock out a codesandbox to demonstrate.

[2021-02-01 17:55] tnrich commented on #3604
This issue has been plaguing me for quite a while now. I fully support what @alexkreidler suggests which is to provide another option for this functionality that doesn't require decorators support which can be quite finicky to get tooling to support. In my case it works when using blueprint as a regular requirement but not when I try to link blueprint locally as a webpack alias (helpful for local

[2021-02-01 18:08] domehead100 opened #4511 "Popover2: portalClassname is not actually applied to portal"
#### Environment
Chrome browser
- __Package version(s)__: 0.1.2
- __Operating System__: Windows
- __Browser name and version__: Chrome 88.0.4324.104

#### Code Sandbox
I've looked through the issues and this has come up multiple times, and the issues have always been closed, sometimes stating it is fixed.  It is not, unless I'm missing something.  The short of it is that a classname supplied in po

[2021-02-01 19:04] adidahiya commented on #4503
Fix open in PR #4512

[2021-02-01 19:04] adidahiya commented on #4502
Fix open in PR #4512

[2021-02-01 19:13] adidahiya commented on #4511
Thanks for the detailed issue report. It looks like this is a bug that has been present since the beginning of this open source repo! But luckily since you've pointed it out at a good time, I can easily fix this in Popover2 with a breaking change, and the fix will be mainlined in v4.0.

The fix is pretty simple, just need to adjust how we send props to Overlay in Popover2...

[code]

[2021-02-01 19:36] adidahiya commented on #3604
I'm working on this as part of Blueprint v4.0 changes, it's the next thing on my list, should be able to prototype something later this week.

[2021-02-01 19:44] #4502 closed, assigned to adidahiya

[2021-02-01 19:44] #4511 closed, assigned to nobody

[2021-02-01 22:13] adidahiya commented on #2193
I have a preliminary implementation of async icon loading here, follow this PR for updates: https://github.com/palantir/blueprint/pull/4513

[2021-02-02 13:34] wisdomG opened #4514 "Seems 'fill' property not work in InputGroup component"
#### Environment

- __Package version(s)__: 3.9.0
- __Operating System__: windows 10
- __Browser name and version__: Chrome 88

#### Code Sandbox

The minimal repro: https://codesandbox.io/s/blueprint-sandbox-forked-5nd5u?file=/src/index.tsx

#### Actual behavior

Two InputGroup has the same width

#### Expected behavior

If I don't set `fill` to true, the InputGroup should have a default width .

[2021-02-02 15:00] adidahiya commented on #4514
These both seem like sort of contrived examples. In the first one I'm not sure what you expect; the InputGroup is `display: block` so that is expected behavior. There are lots of custom layout styles you could set on these components, and you are usually expected to use flex layout on top of what Blueprint provides out of the box. Similar for your second sandbox example. A `<FormGroup inline>` wil

[2021-02-02 21:54] KolbySisk opened #4515 "Weird behavior with the input when editing a table cell"
When editing an editable cell the input isn't sized properly and the label is still visible. I'm not sure if this is a bug or related to the way I have things set up.

This is what it looks like:
![image](https://user-images.githubusercontent.com/1395078/106667514-a2f97f00-656e-11eb-8f66-d4fd4b040931.png)

You can find a live example here:
https://codesandbox.io/s/dawn-paper-l4fp0?file=/src/App.js

[2021-02-02 22:21] KolbySisk commented on #4515
Ah! I've figured it out.
This was happening because I didn't include the core css.

`import '@blueprintjs/core/lib/css/blueprint.css';`

[2021-02-03 04:13] kmark opened #4516 "Toast animations do not work when multiple toasts are supposed to be animating"
#### Environment

- __Package version(s)__: 3.38.2
- __Operating System__: macOS 10.15
- __Browser name and version__: Chrome 88.0.4324.96 (Official Build) (x86_64)

#### Code Sandbox

Link to a minimal repro: https://blueprintjs.com/docs/#core/components/toast

#### Steps to reproduce

* Click any of the toast creation buttons in quick succession
* OR set a low maximum and try to create a new toa

[2021-02-03 18:30] KolbySisk commented on #4515
I'm going to reopen this lieu of a new a new Issue.

In order to fix the input styling problem with the Editable Cell I had to add `import '@blueprintjs/core/lib/css/blueprint.css';`
The problem I'm seeing now is that styles from this file are effecting my base elements. `p`s with weird margins, text colors are changed, etc.

The Table component is the only component I need from this lib.

I expec

[2021-02-03 19:22] adidahiya commented on #4516
Duplicate of #528, but open to PRs

[2021-02-04 09:01] abouolia opened #4517 "Context menu cannot use any context provider."
Why context menu cannot use any context providers or react hooks that application depend on, e.g. useIntl or redux dispatches to open some alerts or dialogs, actually context menu just a component that returns JSX then rendering on body, any solutions or suggestions to this issue?

[2021-02-04 13:27] jaymendez commented on #3349
@kudigaracoder Were you able to find any solution on your use case? or perhaps a different library?

[2021-02-04 17:04] davidko604 commented on #3988
Thanks for this!  I was having the same issue when I use the latest table version (3.8.22) even using the following example table:
https://github.com/palantir/blueprint/blob/develop/packages/docs-app/src/examples/table-examples/tableEditableExample.tsx

I downgraded to v3.7.1 as recommended and it fixes the issue.

[2021-02-04 18:17] vilmosioo opened #4518 "MultiStepDialog does not allow customization of back button"
#### Environment

 Package version(s): 3.38.0
 Operating System: macOS 10.15
 Browser name and version: All browsers

#### Link to a minimal repro:

https://blueprintjs.com/docs/#core/components/dialog.multistep-dialog

#### Steps to reproduce

 MutliStepDialog provides a nextButtonProps prop for controlling props passed to the next button, but not the back button. This would be useful in processe

[2021-02-05 04:50] jmuzsik opened #4519 "portalClassName breaks with empty string"
#### Environment

- __Package version(s)__:  Most recent
- __Operating System__:  Mac
- __Browser name and version__:  Google beta

#### Code Sandbox

[code]

#### Steps to reproduce

Shown above, global state for theme with two values ('') and ('bp3-dark')

#### Actual behavior

[code]

Here, the app breaks at line 114. Why? Because prevProps.className === '' rather than undefined and '' classLis

[2021-02-05 20:06] adidahiya commented on #4519
Ok... I agree the code could be a little more resilient... but why not use `undefined` instead of `""`? I can't imagine why empty strings would feel better semantically or more "correct" than `undefined` in this kind of use case.

[2021-02-06 07:06] jmuzsik commented on #4519
Well, the thought stems from the simplest use case of modifying className's through react - like in some form of component in which a drawer opens and you change the className based on if it is open or not

something like this:
[code]

where you would use an empty string as if you do, for example, this:
[code]

you get undefined as a class, which i think is something you intuitively want to avoid.

[2021-02-07 09:46] franciscofabian commented on #3442
This seems to be fixed with react 17.

[2021-02-07 09:46] #3442 closed

[2021-02-08 08:27] Dessix commented on #4139
Downgrading to 3.7 now produces lifecycle warnings on stable react. Is this still the recommended solution?

[2021-02-08 08:42] Dessix commented on #3941
Since 3.7 now causes lifecycle warnings in the current stable React, I ended up coming up with a workaround that worked in my use case:
Track the number of column resizes in a `useState` hook, then set the inline `style` `paddingRight` on a `div` wrapped around the `Table` to this count, modulo 2. Set `onColumnWidthChanged` to increment that state.
It tricks the viewport into changing for each tim

[2021-02-08 08:49] synapse opened #4520 "Tooltip not closing on disabled button"
#### Environment

- __Package version(s)__: 3.38.2
- __Operating System__: macOS Catalina 10.15.6
- __Browser name and version__: Electron 8+

#### Code Sandbox
[this code sandbox](https://codesandbox.io/s/blueprint-sandbox-forked-08tf9)

#### Steps to reproduce
1. Create a disabled button
2. Add a Tooltip component

#### Actual behavior
Tooltip not closing when blurring a disabled button. Same is

[2021-02-08 14:07] ChristianIvicevic commented on #2784
Sorry for necro-ing this issue, but I noticed that this behavior only exists for Suggest, but not for Select. Is there any plans to implement that one as well?

[2021-02-08 16:14] adidahiya commented on #4520
[see docs](https://blueprintjs.com/docs/#core/components/button)

![image](https://user-images.githubusercontent.com/723999/107247027-de78cb00-69fe-11eb-9c11-5ef2520518ea.png)

[2021-02-08 16:14] #4520 closed, assigned to nobody

[2021-02-08 16:19] adidahiya commented on #4519
[code]

I've never really seen this syntax before. I would write it as `className={classNames({ "drawer-open": isOpen })}`.

This could be a bit of a subjective preference, but I don't think of `undefined` as something "you intuitively want to avoid". It's a useful feature of the language. Empty strings are much less intuitive IMO.

Still open to PRs to make `portalClassName` more resilient. Or I

[2021-02-08 16:25] adidahiya commented on #2784
@ChristianIvicevic you get to render the children, and the initial selected item for Select. So you have control over what is displayed there. I don't think you need a new prop to do that: https://github.com/palantir/blueprint/blob/0750f4d5fd9775bbada07feb588abf9666d55ad6/packages/docs-app/src/examples/select-examples/selectExample.tsx#L120

[2021-02-08 16:30] ChristianIvicevic commented on #2784
Sorry for not being too detailed. I was referring to the active item in the popover of the Select. For instance, the button in the following screenshot has the selected value as expected but I can't easily select the corresponding item in the popover as it clashes with keyboard input:

![Screenshot 2021-02-08 at 17 26 03](https://user-images.githubusercontent.com/45569997/107248779-ed797080-6a32-1

[2021-02-08 18:13] dlech commented on #4503
This issue still exists. I have updated the sandbox to popover2@0.2.0 and the problem is still reproducible.

[2021-02-08 18:23] dlech opened #4521 "Tooltip2+Button selection tabindex issue"
Follow up to #4502

#### Environment

- __Package version(s)__: @blueprintjs/popover2@0.2.0
- __Operating System__: Ubuntu 20.04
- __Browser name and version__:  Firefox 85.0

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprint-sandbox-forked-146cf?file=/src/CoreExample.tsx

#### Steps to reprod

[2021-02-08 18:35] dlech commented on #4503
https://user-images.githubusercontent.com/963645/107265649-20f3d500-6a0a-11eb-9bec-16f6600b68b8.mp4

[2021-02-08 18:44] dlech commented on #4502
https://user-images.githubusercontent.com/963645/107266587-58af4c80-6a0b-11eb-9922-7811682fdac8.mp4

[2021-02-08 18:44] dlech commented on #4503
https://user-images.githubusercontent.com/963645/107266628-66fd6880-6a0b-11eb-9ddb-4225f8a2c927.mp4

[2021-02-08 20:32] adidahiya commented on #4503
@dlech did you also upgrade the core package? there was a change made there targeting this issue.

[2021-02-08 20:34] adidahiya commented on #2784
@ChristianIvicevic use `activeItem` and `onActiveItemChange`

[2021-02-08 20:35] dlech commented on #4503
yes, I upgraded all packages in the sandbox

[2021-02-09 22:27] jmuzsik commented on #4519
Suppose I never exactly worked with the classNames utility - i should start using it, and i meant you'd want to avoid undefined being a class name.

Also, it doesn't break with an empty string, but rather breaks if it is first set as an empty string and then changed to another className (if you want to make the title a bit more exact). Thanks

[2021-02-10 20:12] adidahiya commented on #4112
I don't think there's any more action on Blueprint's part required here. By definition, the `esnext` target will produce JS in `lib/esnext` which often requires post-processing to run in a common JS environment. If your build system picks up this entry point, it's your responsibility to do that post-processing.

Also, re: the last comment in this thread, Webpack 5 has been out for some time now an

[2021-02-10 20:12] #4112 closed

[2021-02-11 11:13] papscript commented on #4520
So why it works at the first place? Shouldn't it also prevents initial tooltip opening?

[2021-02-11 22:10] jaxgeller commented on #3959
@kudigaracoder did this get anywhere? Would love to see this as a community Figma file!

[2021-02-12 18:58] lanzhenw commented on #1236
is there any update about this enhancement?

[2021-02-12 23:18] michael-swarm commented on #3407
I think there is some confusion on this issue. It's actually quite simple, at least in the form I am encountering it. Fundamentally, if you use a DateInput in a controlled fashion, you are all but guaranteed that it will crash your page during development if you try to type into it. I know this check doesn't occur in production, but it makes it impossible to test invalid inputs (or even test typin

[2021-02-13 14:17] rob-myers commented on #3779
Seems `Table` can just be wrapped in an additional vanilla div, as @am4zed and @bofa have indicated.

My problem arose from the fixed heights of grid items in `react-grid-layout`.

[2021-02-14 07:41] lanzhenw commented on #1080
The last one is quite crucial for users who heavily edit forms. Either `Immediately enter edit mode in focused cell` or allow `enter` to enter edit mode is needed for quick editting.

[2021-02-14 17:05] Protectator opened #4525 "Popover2 subpixel arrow placement"
#### Environment

- __Package version(s)__: 3.38.0
- __Operating System__: Windows 10
- __Browser name and version__: Version 88.0.4324.150 (64 bits)

#### Code Sandbox

This happens right on the official example's page for Popover2 (https://blueprintjs.com/docs/#popover2-package/popover2) :

#### Steps to reproduce

1. Use a display with a scaling higher than x1 (for example x1.5)
2. Open the Pop

[2021-02-15 18:49] mfayaq opened #4526 "DateRangePicker with singleMonthOnly enabled sometimes shows wrong month after selecting shortcut"
#### Environment

- __Package version(s)__: v3.38
- __Operating System__: Linux/Windows
- __Browser name and version__: Google Chrome v88

#### Code Sandbox
https://codesandbox.io/s/blueprint-sandbox-forked-j4ooz?file=/src/index.tsx

#### Steps to reproduce

![ezgif-3-4c479ecd4a65](https://user-images.githubusercontent.com/25503769/108266637-575eec00-7190-11eb-9efa-ab0f4bc20272.gif)

1. Select (Pa

[2021-02-15 19:03] adidahiya commented on #3407
@michael-swarm can you explain a bit more why you need to do this instead of using DateInput's `onChange`? Sounds like the component is (understandably) not resilient for this unsupported use case.

[2021-02-15 19:05] adidahiya commented on #4526
I'm having trouble understanding your repro situation. Can you please use the code sandbox link in the issue template? It also helps to have exact version numbers ("v3" is not specific enough).

[2021-02-15 19:07] adidahiya commented on #4525
This is a longstanding issue with popover layout when zoomed in. Open to ideas for fixing it... I'm all ears... duplicate of #1059, so let's keep discussion there.

[2021-02-15 19:07] #4525 closed, assigned to nobody

[2021-02-15 19:25] atnickallen commented on #3959
@kudigaracoder Also am looking for this and would be happy to contribute

[2021-02-15 19:27] Hesam-Eskandari commented on #2779
I would wrap a span around the button and put the tooltip for the span (outside of the button)

[2021-02-15 19:28] #3891 closed

[2021-02-15 19:28] #4038 closed

[2021-02-15 21:54] mfayaq commented on #4526
Hi, I have updated the information. I didn't created a sandbox, as I checked the issue exist even in the docs example. I have found this issue back before in v3.36, checked it still exists in v3.38

[2021-02-15 22:21] adidahiya commented on #4169
Can you please split the issue into multiple issues, with more specific repro steps? In addition to a gif I would appreciate a list of steps. Also it helps to have a code sandbox with your exact configured settings so that I can jump into it and debug quickly.

[2021-02-15 22:21] #4169 closed

[2021-02-15 22:21] adidahiya commented on #4526
I still don't have clear repro steps here. Your image shows a configuration of the docs example where you have not enabled "single month only". The reason I ask for a code sandbox is so that you can explicitly enable all the props/options which repro the issue in question.

This part of your issue report is still unclear to me:

What is inaccurate? Do you expect the single month calendar to show t

[2021-02-15 22:41] mfayaq commented on #4526
I get your point, will update the issue with codesandbox.
Well I am not sure showing the ending month will be accurate. But as the example shows if the selected timerange lies within ending month (using shortcuts), the single-month mode only reflects the starting month which certainly isn't the correct one.

[2021-02-15 22:44] mfayaq commented on #4526
Apologies, I know it's not very brief.
I'll come up with a clear set of repro steps.

[2021-02-16 14:13] adidahiya commented on #4517
I just merged `ContextMenu2`, which is simpler than its predecessor and should "just work" with hooks & React context. Will be available in a release this week: https://github.com/palantir/blueprint/pull/4524

[2021-02-16 14:13] #4517 closed, assigned to nobody

[2021-02-16 17:22] adidahiya opened #4527 "NumericInput button icons should have <title> for a11y"
#### Feature request

There are some cases where BP's built-in components could use better accessibility for icons. We decided a while ago in https://github.com/palantir/blueprint/issues/3214 that not _all_ icons should get tooltips, but in cases like this where there is no label for the icon, I think it makes sense to add one by default.

#### Expected behavior

![image](https://user-images.githu

[2021-02-16 17:27] adidahiya opened #4528 "Dialogs should have proper a11y markup"
#### Feature request

Dialogs should have `role="dialog"`, `aria-labeledby`, and optionally `aria-describedby` attributes for accessibility. At the very least there should be docs about how to configure this markup properly.

#### References

- https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/dialog_role

[2021-02-16 17:53] adidahiya commented on #4528
Also potentially useful to document: `data-first` and `data-last` attributes for dialog content

[2021-02-16 18:03] olegshilov commented on #4402
Hello @adidahiya. I found a small bug and I think it related to this issue. In DateRangeInput, when you change the time inside text input directly, time not changed at TimePicker at all.
I think it's because DateRange at shouldComponentUpdate [here](https://github.com/palantir/blueprint/blob/develop/packages/datetime/src/dateRangePicker.tsx#L251) checks only day equality as I see here [here](https

[2021-02-16 20:25] medihack commented on #3132
Quite an old issue, but I also wonder why NumericInput does not have a `small` prop.

[2021-02-17 12:59] ghost opened #4529 "Popover2 large arrow in FireFox"
#### Environment

- __Package version(s)__: `"@blueprintjs/popover2": "^0.2.0",`
- __Operating System__: `Ubuntu`
- __Browser name and version__: `Firefox 85.0.1 (64-bit)`

#### Code Sandbox

[code]

#### Steps to reproduce

1. Open popover by clicking hamburger menu
2. Observe broken arrow

#### Actual behavior

![image](https://user-images.githubusercontent.com/383295/108206948-5fcf0c80-7127-11e

[2021-02-17 15:26] olegshilov opened #4530 "Add selectAllOnFocus prop to DateInput component"
#### Environment

- __Package version(s)__: latest
- __Browser and OS versions__: all

#### Feature request

The `DateInput` component has the missing ability to select all text inside text input. I found this behavior very usable.
As i can see `DateRangeInput` has `selectAllOnFocus` prop, which i think must be presented and in `DateInput` too.

BTW. I don’t know but maybe it would be better to ad

[2021-02-17 15:38] olegshilov opened #4531 "Ability to disable onHoverChange event for DateRangeInput"
#### Environment

- __Package version(s)__: latest
- __Browser and OS versions__: all

#### Feature request

Hi, I have a small suggestion about date inputs.
I can’t find any way to disable changing input value on date range hover right now.
Maybe it would be better if `onHoverChange` behavior can be optional for `DataRangeInput`.
As well as maybe it would be cool to add `onHoverChange` effect to

[2021-02-17 16:14] adidahiya commented on #4529
Please follow the issue template and post a code sandbox link. Did you include the popover2 CSS file?

[2021-02-17 16:15] adidahiya commented on #3132
Limiting issue scope to just NumericInput here. Open to PRs

[2021-02-17 16:20] adidahiya commented on #4531
I think this is an intentional choice in the design system and we don't necessarily want to add a prop to customize this behavior without a strong need for it. The hover interaction helps preview what the input will look like once you click on a date.

[2021-02-17 16:20] #4531 closed, assigned to nobody

[2021-02-17 16:42] olegshilov commented on #4531
@adidahiya ok, I understood. But what about adding `onHoverChange` to `DateInput`?

[2021-02-17 20:12] michael-swarm commented on #3407
Hi @adidahiya, sure, my use case is this:
- I'm trying to use a DateInput as part of a form. I'm using another library ([react-hook-form](https://react-hook-form.com/)) to manage and validate the form.
- Other fields in the form can cause the date value to change, so I need to use the component in controlled mode.
- Whenever the user changes this date, another field needs to update to reflect the

[2021-02-17 20:55] mfayaq commented on #4526
I have updated the issue please have a look now.

[2021-02-18 16:36] adidahiya commented on #4531
@olegshilov what will you use that for? Can you explain your use case in more detail?

[2021-02-18 17:38] olegshilov commented on #4531
As you mentioned above, for example for this (=

[2021-02-18 17:51] luigilake commented on #3763
@adidahiya I agree with @petejkim . Could it possible to send in a `data-h` (`dataH`) into `<Alert>` specifically for the `Cancel` and `Confirm/[CUSTOM TEXT]` buttons? Thank you!

[2021-02-18 18:09] adidahiya commented on #1590
With #4532, it will be possible to programmatically show the hotkeys dialog but this is not documented:

[code]

[2021-02-18 19:39] #1590 closed

[2021-02-18 19:39] #3228 closed

[2021-02-18 19:39] #3431 closed

[2021-02-18 19:39] #3508 closed

[2021-02-18 19:39] #3604 closed

[2021-02-18 19:39] #1028 closed

[2021-02-19 17:44] lanzhenw opened #4533 "issues with multiple cells paste on Table"
#### Environment

- __Package version(s)__: v3
- __Browser and OS versions__: chrome

#### Question

Can we have an example of how to paste region contents?
Here is a sandbox of what I worked on.  https://codesandbox.io/s/blueprintjs-rerender-editablecell-enablefocusedcell-menucontext-multipleselect-hotpr?file=/src/index.tsx
![Screen Shot 2021-02-22 at 9 38 35 AM](https://user-images.githubusercon

[2021-02-19 18:14] lanzhenw commented on #4443
@adidahiya  Can we allow the ghost cells to share the same style as the custom headers?

<img width="649" alt="Screen Shot 2021-02-19 at 11 53 59 AM" src="https://user-images.githubusercontent.com/17770824/108544357-f3c9e100-72ab-11eb-878b-92e94b7a7049.png">

[2021-02-19 20:15] mmz15 commented on #814
For what it's worth, and though a little late, I second @dandv. Being able to search for 'accordion' and being redirected to collapse would've saved me a good few minutes. Awesome work on the library thus far.

[2021-02-19 23:15] kudigaracoder commented on #3959
Sorry I'm late in responding.. been busy with work. I was in the process of building the Figma library(Colors/Typography/Button/Input) when I got busy with work. After they announced Variants, waited for it to be released to incorporate the feature before proceeding with the other components. I've been working on incorporating variants. I'll try and push to release this ASAP.

[2021-02-20 23:56] awsp opened #4535 "leftElement inside InputGroup inside ControlGroup is invisible"
#### Environment

- __Package version(s)__:  "@blueprintjs/core": "^3.39.0"
- __Operating System__: macOS Big Sur 11.1
- __Browser name and version__: Brave Browser v1.20.103, Firefox: 85.0.2

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprint-sandbox-forked-3cr0u

#### Steps to reproduce

1. C

[2021-02-21 17:41] davidskuza opened #4537 "ContextMenu2 with Tree - wrong open position"
#### Environment

- __Package version(s)__: @blueprintjs/popover2 0.3.0 (other versions below in codesandbox)
- __Operating System__: Windows 10
- __Browser name and version__: Chrome 88.0.4324.182

#### Code Sandbox

Link to a minimal repro: [https://codesandbox.io/s/blueprint-sandbox-forked-l8i73?file=/src/TreeView.tsx](https://codesandbox.io/s/blueprint-sandbox-forked-l8i73?file=/src/TreeView.t

[2021-02-21 21:46] pavlobu commented on #2223
I used blueprintjs to create cool UI in Deksreen desktop app. It is based on electronjs, react and typescript https://deskreen.com
Thank you for such a great UI library which is BlueprintJS !!!!!!
🙏🙏🙏🙏🙏🙏🙏🙏🙏🙏

[2021-02-22 14:43] adidahiya commented on #4535
Yeah, looks like a bug, we need to fix some CSS rules and update the [ControlGroup CSS example](https://blueprintjs.com/docs/#core/components/control-group.css) to match what actually gets rendered by the React component.

[2021-02-22 14:54] adidahiya commented on #4537
Thanks for the bug report.

First off, since you're using the popover2 package, you have to make sure to import its CSS in your app / codesandbox:

[code]

After doing that, I can still repro your bug, though, so it's definitely something I will look into. Here's the menu at the tree root:

![image](https://user-images.githubusercontent.com/723999/108724800-bce60c00-74f3-11eb-856d-22a18743529e.png

[2021-02-22 15:36] #3049 closed

[2021-02-22 19:10] maclockard opened #4538 "Toasts escaping parent container"
#### Environment

- __Package version(s)__:
[code]
- __Operating System__: macOs
- __Browser name and version__:
  - Chrome 88
  - Firefox 85

#### Code Sandbox
https://codesandbox.io/s/dank-bush-b2wur

[code]

[code]

#### Steps to reproduce

1. Create a `Toaster` component with `usePortal={false}`.
2. Set parent container's `position` to `relative`.
3. Procure toast

#### Actual behavior

Procur

[2021-02-23 06:08] rully-saputra15 opened #4539 "Popover2: Classes"
#### Environment

- __Package version(s)__:
"@blueprintjs/core": "3.39.0",
"@blueprintjs/popover2": "0.3.0",
"react": "^17.0.1",
- __Operating System__: Windows 10
- __Browser name and version__: Mozilla Firefox 85.0.2 (64-bit)

#### Actual behavior

This is my first time install popover2 of blueprintjs. When i import the library in my react project
import {Classes, Popover2} from "@blueprintjs/po

[2021-02-23 06:09] rully-saputra15 commented on #4539
![image](https://user-images.githubusercontent.com/54345394/108808079-61417e80-75d8-11eb-9d19-be6f9fa26797.png)
This is the another image

[2021-02-23 12:32] #3954 closed

[2021-02-23 17:47] Gatix commented on #4373
Here's a code sandbox of the said issue: https://codesandbox.io/s/blueprint-sandbox-forked-hrpnn?file=/src/DatetimeExample.tsx

[2021-02-23 21:19] adidahiya commented on #4373
Thanks for the sandbox @Gatix. I've updated the issue title to reflect the problem more clearly. Here's the line of code in question, it just has to be tweaked to not apply this style when `singleMonthOnly={true}`: https://github.com/palantir/blueprint/blob/5c1cf835dcf68a09a74d517dcb559977e080949e/packages/datetime/src/_daterangepicker.scss#L35

[2021-02-23 21:24] adidahiya commented on #4539
Hmm, not sure how you got that error, what does your build system look like? Can you repro the issue in a code sandbox or is it just in your local build system? Looking at the published package file structure on unpkg, everything seems to be in order: https://unpkg.com/browse/@blueprintjs/popover2@0.3.0/lib/esm/

[2021-02-23 22:05] lanzhenw commented on #4507
Can you put the div inside the ColumnHeaderCell? That would work on my project

[2021-02-23 22:43] Gatix commented on #4373
Ahh I see so it's just hidden. Although, the issue is not limited by the `singleMonthOnly` flag

[2021-02-24 02:31] rully-saputra15 commented on #4539
There are no missing files in folder blueprintjs popover2 and I'm using yarn to install any package.

I think the problem just in my local build system and I can't find any sandbox project that implements popover2 for now

is it correct to import the library into my files like the syntax below?
import {Classes, Popover2} from "@blueprintjs/popover2";

thank you @adidahiya

[2021-02-24 03:05] lwouis commented on #4417
Hi everyone!

Can we get a review from a maintainer? I'd like to know if there is a chance this issue gets looked at, or if we should fork and make our fix here.

Thanks!

[2021-02-24 14:49] adidahiya commented on #4539
@rully-saputra15 yes, that's the correct syntax for the import statement

[2021-02-24 14:51] adidahiya commented on #4417
@lwouis maintainer here, acknowledging that it's a bug. This is a lower priority issue compared to some other things I'm working on at the moment, but I would accept a bugfix PR :)

[2021-02-24 15:00] rully-saputra15 commented on #4539
is there any advice to solve this problem?

@adidahiya

[2021-02-24 18:51] adidahiya commented on #4539
Nope, since I don't know what your build system looks like. It is a bit strange to be importing from `lib/esnext/`, that's generally for advanced users who know what they're doing with their build system. `lib/esm/` is the standard import usage pattern.

[2021-02-24 20:35] cmrlp commented on #807
Has there been any traction on this? Would love to see this component added to the next big release.

[2021-02-25 00:59] lanzhenw opened #4542 "Issue with lifting the isEditing state from EditableCell"
#### Environment

- __Package version(s)__: 3.8
- __Browser and OS versions__: chrome

#### Question

User Scenario: In editable table, when a user selects a cell and hits delete, all the content in the cell shall be deleted; when a user is editting a cell (in editor mode), delete/backspace shall delete one character. Therefore, I need to differentiate whether a cell is being edited.

Is there a w

[2021-02-25 16:54] robertf224 opened #4543 "Some mechanism for letting EditableText shrink to its content size when not editing"
So this mostly already happens, but the min-width on the inner `span` is set to `80px`.  Have a UI like this:
<img width="244" alt="Screen Shot 2021-02-25 at 11 45 32 AM" src="https://user-images.githubusercontent.com/671815/109186952-6ed54080-775f-11eb-8243-a21652e4daf9.png">

Without doing some css hacking to unset the min-width, it ends up looking like this:
<img width="225" alt="Screen Shot 20

[2021-02-25 17:57] #4272 closed, assigned to adidahiya

[2021-02-25 18:59] #4273 closed, assigned to nobody

[2021-02-25 19:00] #1536 closed

[2021-02-26 08:20] rully-saputra15 commented on #1691
is the merge cells feature possible for right now?

@adidahiya

[2021-02-26 21:43] lucasray opened #4548 "Improve <Divider /> appearance in dark theme"
#### Environment

- __Package version(s)__: 3.39.0
- __Browser and OS versions__: All

#### Feature request

`<Divider />` is very difficult to see while in dark theme:

![image](https://user-images.githubusercontent.com/791879/109358169-2e95c100-7838-11eb-81b5-7acc45369337.png)

Perhaps it should use `pt-dark-divider-white` instead of `pt-dark-divider-black` while in dark?

[2021-02-26 23:35] tnrich opened #4551 "useHotkeys not rebinding global hotkeys"
@adidahiya thanks for your work on the useHotkeys functionality! Much appreciated. However, as far as I can tell I can't get global hotkey handlers to ever update based on props coming in. I see in the example you have an empty array being passed to useMemo:
![image](https://user-images.githubusercontent.com/2730609/109366083-60faea80-7847-11eb-8dcc-1194f978c1d2.png)

Is it ever ok to pass a few c

[2021-02-28 03:39] lmk123 opened #4552 "Select component has wrong position when wrap it in `overflow: auto`"
#### Environment

- __Package version(s)__: 3.39.0
- __Operating System__: win10
- __Browser name and version__: Chrome 88

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprint-sandbox-forked-nvpx6

#### Steps to reproduce

Click film select.

#### Actual behavior

The position of the popover wil

[2021-02-28 07:34] lmk123 commented on #4552
This seems to be a bug in popper.js v1.16.1 https://codesandbox.io/s/misty-worker-30iq0

Is there any way to replace `Poppover` with `Poppover2` in the `Select` component?

[2021-02-28 15:08] adidahiya commented on #4551
@tnrich thanks for taking the new hook for a spin. Pretty sure that's an oversight on my part and the line you linked ([permalink here](https://github.com/palantir/blueprint/blob/88638ffdd908fa59e4c9a01ff2c265c69b91186a/packages/core/src/hooks/hotkeys/useHotkeys.ts#L133)) needs to be changed to add `globalKeys` as a dependency. Will fix this week.

[2021-02-28 15:59] tnrich commented on #4551
Cool great to hear! I thought that was probably the case but definitely wasn't certain.

[2021-03-01 06:00] rully-saputra15 commented on #1691
Is anyone can help with this feature? please, I need your help guys 🙏

[2021-03-01 20:01] GoldbergGLG commented on #4129
I have this issue as well.

[2021-03-02 19:35] adidahiya commented on #3407
Revisiting component validation logic across Blueprint... I think the best thing to improve developer experience at this point would be to change the errors thrown in `validateProps` into `console.error` logs instead. Since the validation doesn't run in production, this change would allow developers test their components in a way that more closely matches what their users will see in a production

[2021-03-02 19:41] adidahiya commented on #4526
Ok, I think I have isolated your issue. There are cases where the displayed month doesn't show the selected range. This happens if you select a range which would be visible on the _ending_ month (if the DRP was not `singleMonthOnly`) in the current view.

For example, if I move to a month which is not February and then select a shortcut which should place me in March, it does so:

![2021-03-02 14

[2021-03-02 19:42] michael-swarm commented on #3407
Sounds great, thank you! 👍

[2021-03-02 19:43] #4551 closed, assigned to adidahiya

[2021-03-02 19:45] adidahiya commented on #4548
@aycai any thoughts here?

[2021-03-02 20:01] adidahiya commented on #807
No traction on this, we've been using [slate.js](https://www.slatejs.org/) more these days, and building a Blueprint wrapper for slate hasn't been a priority. If you run into issues styling slate.js to fit a Blueprint application, please let me know.

[2021-03-02 20:06] cmrlp commented on #807
🙌🏻 Thank you! Do you have any suggestions for applying blueprint styling to slate.js for consistency?

[2021-03-02 20:31] adidahiya commented on #4531
@olegshilov yes, that "preview" is built into the component behavior already. So I'm asking what would you use the prop for outside the component? It helps to share more context about your use case.

[2021-03-02 21:35] adidahiya commented on #4538
That suggestion in the link did not work. But I'm pretty sure `fixed` is the wrong positioning for `usePortal={false}`, and we just haven't hit this problem because no one was really using that option. I propose changing it to `absolute` here: #4555

[2021-03-02 21:38] #4538 closed, assigned to nobody

[2021-03-02 21:49] maclockard commented on #4538
awesome! thank you @adidahiya

[2021-03-03 09:27] DeepakSinghKapKoti commented on #3696
Yea its a bug I think the intents are not reflecting but I found a way to reflect intents to icon now

<Button     id={...}    text={...}   icon = {<Icon icon={this.props.icon}  style={{color:"red"}}></Icon>}   />

the intent will not work but we can have our own css, which will work on icon only.

[2021-03-03 11:15] ChristianIvicevic commented on #4500
I'll look into this in the coming days since we need this for our own project right now.

[2021-03-03 13:56] mmz15 opened #4557 "Large bundle size after importing single component"
#### Environment

- __Package version(s)__: ^3.39.0

#### Question

I'm trying to import a Button component into my React project. The import cost of that component is ~135kb. Since I assume that the button itself doesn't take 135kb to implement, is there any way to modularize the imports?

<img width="522" alt="Screen Shot 2021-03-03 at 08 49" src="https://user-images.githubusercontent.com/692173

[2021-03-03 21:14] adidahiya commented on #4557
Are you using a module bundler which supports tree shaking? That's the first thing to verify. your "index.js + 54 modules" seems to be obfuscating / hiding a lot of information about what's in the bundle.

Currently blueprint bundles all its icon SVG paths together, which can result in a larger than expected bundle size if you're just using one component. This is changing in blueprint v4, see #219

[2021-03-03 23:01] #4500 closed, assigned to nobody

[2021-03-04 19:26] bocong opened #4561 "[select] Select component does not support controlled `selectedItem`"
#### Environment

- __Package version(s)__: @blueprintjs/select@3.15.5

#### Question

I'm using the Select component, and noticed it does not support controlling the selected item, while Suggest seems to (https://github.com/palantir/blueprint/blob/develop/packages/select/src/components/select/suggest.tsx#L77)

Wondering if this is intentional due to some limitations, and if not, are there plans t

[2021-03-04 21:28] mmz15 commented on #4557
Thanks for getting back to me. Made a fresh CRA and confirmed that it's the icons:

![image](https://user-images.githubusercontent.com/69217396/110032720-7a4bdd00-7d06-11eb-8b15-f3637beadf5d.png)

Really glad to see v4 coming out. Is there an alpha release? Happy to test if needed.

[2021-03-04 22:33] bocong opened #4562 "[select] On rerender / item list change, Suggest does not set active item to selected item"
#### Environment

- __Package version(s)__:
  - @blueprintjs/core: 3.39.0
  - @blueprintjs/select: 3.15.5
- __Operating System__: all
- __Browser name and version__: all

#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/s/blueprint-sandbox-forked-rf75x?file=/src/index.tsx

#### Steps to reproduce

1. Click Suggest input, note that `3` is active.
2. Click "Reload item list," which

[2021-03-05 11:29] pocka opened #4563 "TypeScript won't compile with allowSyntheticDefaultImports disabled"
#### Environment

- __Package version(s)__:
[code]
- __Operating System__: Linux
- __Browser name and version__: Firefox 87

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprintjs-ts-error-7nfml?file=/src/enabled/tsconfig.json

The sandbox is created using a Vanilla TypeScript template instead of

[2021-03-05 20:03] adidahiya commented on #4563
Sorry this got introduced as a break without a major version bump... I suppose it could have waited until the upcoming 4.0 release. I am inclined to move in this direction since most React code examples are written in the Babel style which has synthetic default imports. But it's not good to force a build system change in a minor version like this. I'll revert and push a patch release.

[2021-03-05 20:05] adidahiya commented on #4557
@mmz15 no alpha yet, I expect to release one in ~1 week

[2021-03-06 16:02] mmz15 commented on #4557
Sounds good! Very much looking forward.

[2021-03-06 16:02] #4557 closed, assigned to nobody

[2021-03-08 17:00] yuchristina commented on #4518
This would be very helpful. I am encountering the same problem -- would like disable and style back button.

[2021-03-08 17:19] mitchellirvin opened #4565 "Menu should have a dark scrollbar in dark mode"
#### Environment

- __Package version(s)__: `"@blueprintjs/core": "^3.39.0"`
- __Browser and OS versions__: Chrome: Version 89.0.4389.72 (Official Build) (x86_64), macOS Catalina: version 10.15.7

#### Feature request
When a bp3-menu is in dark mode, it should have a dark styled scrollbar.

#### Examples
[codesandbox](https://codesandbox.io/s/blueprint-sandbox-forked-zh39q)

**current state**
![im

[2021-03-08 20:14] bergkvist opened #4566 "Table FR: default implementation for copy cells via getCellClipboardData"
#### Environment

- __Package version(s)__: "@blueprintjs/table@3.8.24"
- __Browser and OS versions__: Chrome 88.0.4324.150

[The rendered table examples](https://blueprintjs.com/docs/#table.basic-usage) in the documentation does not seem to allow copying the contents to your clipboard (either by Ctrl+C or right-clicking).

#### Feature request

Ability to copy contents from table component so tha

[2021-03-08 21:11] adidahiya commented on #4563
Fixed by f515648bc0c5dd95de282b8d2332829263735bfb

[2021-03-08 21:23] adidahiya commented on #4566
The docs for this feature are not very discoverable but you can enable the clipboard with the `getCellClipboardData` prop: https://blueprintjs.com/docs/#table/api.table

[2021-03-08 21:24] adidahiya commented on #4565
Duplicate of https://github.com/palantir/blueprint/issues/956

[2021-03-08 21:24] #4565 closed, assigned to nobody

[2021-03-08 21:36] bergkvist commented on #4566
Could it make sense to have a default implementation of `getCellClipboardData` that is used if you don't specify anything? Or maybe this would be too "magical"?

[2021-03-08 21:59] adidahiya commented on #4562
Had to make a small tweak to your code sandbox but yes I can repro the bug: https://codesandbox.io/s/blueprint-sandbox-forked-258o1?file=/src/index.tsx

[2021-03-08 22:04] adidahiya commented on #4561
What do you mean by "selected item"? You get to render the `<Select>` children, so you have control over what is displayed as the "selected item". You don't need a new prop to do that: https://github.com/palantir/blueprint/blob/0750f4d5fd9775bbada07feb588abf9666d55ad6/packages/docs-app/src/examples/select-examples/selectExample.tsx#L120

`<Suggest>` is different because the component renders the t

[2021-03-08 22:18] adidahiya commented on #4518
@yuchristina what kind of styling are you hoping to do? Is button `intent` sufficient?

[2021-03-08 22:54] yuchristina commented on #4518
@adidahiya  In terms of styling, I want to be able to use the small button. Most importantly, however, I would like to conditionally disable the button so exposing props as you have done for the final and next button would be great.

[2021-03-08 23:00] #4518 closed, assigned to nobody

[2021-03-09 03:47] rafiazman opened #4569 "Tooltip not hiding itself when focus is shifted away in IE 11"
#### Environment

- __Package version(s)__: @blueprintjs/core@3.40.0
- __Operating System__: Windows 10 Version 1809
- __Browser name and version__: Internet Explorer 11.1577.17763.0

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://blueprintjs.com/docs/#core/components/tooltip

#### Steps to reproduce

1. Open the doc

[2021-03-09 06:20] aycai commented on #4548
That does look too subtle.

I'm in favor of inverting it to white (screenshot is `rgba(255,255,255,0.2)`) over raising the opacity to make it darker - it reads as part of the content which is lighter than the background, as opposed to borders which are darker (i.e. dividers shouldn't be used as borders).

![Screen Shot 2021-03-08 at 10 19 23 PM](https://user-images.githubusercontent.com/3513503/11

[2021-03-09 16:58] ghost commented on #4529
Sorry for late response. Yep, it was missing CSS file. Sorry and thanks a lot for the hint.

[2021-03-09 16:58] #4529 closed, assigned to nobody

[2021-03-09 19:33] bocong commented on #4561
Ah, that makes more sense -- sorry, must have missed that about `<Select>`. Thanks!

[2021-03-09 19:33] #4561 closed, assigned to nobody

[2021-03-10 05:36] jash8506 opened #4572 "Toaster Position.BOTTOM positions to TOP"
#### Environment

- __Package version(s)__: core 3.40.1
- __Operating System__: Linux Mint
- __Browser name and version__: Chrome 88.0.4324.182

#### Code Sandbox

https://blueprintjs.com/docs/#core/components/toast

#### Steps to reproduce

1. go to https://blueprintjs.com/docs/#core/components/toast
1. select position as "bottom"
1. watch toasts appear at the top

#### Actual behavior

Toast at

[2021-03-10 08:15] kmark opened #4573 "After activating toast, interactivity with the top of the page is unavailable"
#### Environment

- __Package version(s)__: 3.40.1
- __Operating System__: macOS 10.15
- __Browser name and version__: 89.0.4389.82 (Official Build) (x86_64)

#### Code Sandbox

https://blueprintjs.com/docs/#core/components/toast

#### Steps to reproduce

1. Open https://blueprintjs.com/docs/#core/components/toast
2. Click the one of the toast buttons
3. You can no longer interact with stuff at th

[2021-03-10 14:49] ghost opened #4574 "Table calls onSelection despite setting SelectionModes.NONE"
#### Environment

- __Package version(s)__: 3.7.1
- __Operating System__: Ubuntu
- __Browser name and version__: Chromium Version 89.0.4389.82 (Official Build) snap (64-bit)

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://codesandbox.io/s/blueprint-sandbox-forked-9fzs9?file=/src/index.tsx

#### Steps to reproduce

1.

[2021-03-10 14:50] VyacheslavAS opened #4575 "One and two digits years are handled incorrectly"
#### Environment

- __Package version(s)__: "@blueprintjs/datetime@3.20.5"
- __Operating System__: Windows 10 Pro 18363.1379
- __Browser name and version__: Chrome 88.0.4324.190 (Official Build) (64-bit)
-  __Component__: DateInput

#### Code Sandbox

Please check the example by [sandbox link](https://codesandbox.io/s/blueprint-sandbox-forked-spkkz?file=/src/index.tsx)

#### Preliminary steps whic

[2021-03-10 19:44] adidahiya commented on #4563
Not fixed, actually

[2021-03-10 19:47] #4563 closed, assigned to adidahiya

[2021-03-10 20:10] #4572 closed, assigned to adidahiya

[2021-03-10 20:10] #4573 closed, assigned to adidahiya

[2021-03-10 22:27] #4071 closed

[2021-03-10 22:35] adidahiya commented on #4575
Acknowledging this is a bug, but it's low priority since that sounds like a rare use case. Most people are picking dates within 100 years of today. Related: https://github.com/palantir/blueprint/issues/877

[2021-03-11 14:53] Kaby-Lake opened #4579 "add different nextButtonProps for each Dialog in MultistepDialog"
#### Question

I have a MultistepDialog with several sub-dialogs in it, and I want to custom each dialog with different code to define if the nextButton should be `disabled` or not. For now, the only API `nextButtonProps` can just set the global Props for all nextButtons.

something like this
<img width="629" alt="Screen Shot 2021-03-11 at 10 52 47 PM" src="https://user-images.githubusercontent.co

[2021-03-12 10:37] gemueselasagne opened #4581 "Dialog component shown in Sketch-File does not exist"
#### Actual behavior
This Dialog is shown in the official Blueprint Sketch-file.
<img width="847" alt="Bildschirmfoto 2021-03-12 um 11 30 16" src="https://user-images.githubusercontent.com/10177993/110927766-56038800-8326-11eb-8fa9-a92cde197434.png">

I can't find any Blueprint component that matches the dialog shown. The [multistep-dialog](https://blueprintjs.com/docs/#core/components/dialog.mult

[2021-03-13 13:01] ivanmem opened #4585 "Table. Copy the contents of Cell to the clipboard."
#### Environment

 "@blueprintjs/core": "^3.41.0",
 "@blueprintjs/table": "^3.8.26",

#### Question

How do I allow the user to select text for copy to clipboard? or maybe there is some other way to make a copy of what's inside the Cell?
I know about the getCellClipboardData property, but it seems too complicated to me. There, only indices go into the input, but the content itself is not. In my im

[2021-03-14 05:08] BaharDev opened #4586 "Popover2 does not get closed on mouseout (hover interaction)"
#### Environment

- __Package version(s)__:     "@blueprintjs/core": "^3.38.2",    "@blueprintjs/popover2": "^0.3.0",
- __Operating System__: macOS Catalina
- __Browser name and version__: Chrome Version 89.0.4389

#### Steps to reproduce

1. Creating multiple elements ( in my case 10) as target of popover
2. Fast hovering on them (like a streak)

#### Actual behaviour

Ending up having ghost popo

[2021-03-15 13:52] adidahiya commented on #4586
Please post a link to a code sandbox, this makes debugging much faster.

[2021-03-15 17:05] seve commented on #4521
Comparing the DOM between Popover1 and 2, it looks like the tabindex is attributed to the wrong element:

![image (2)](https://user-images.githubusercontent.com/8716829/111192004-db30ac00-8575-11eb-9e74-e00ffa83a177.png)
![image (3)](https://user-images.githubusercontent.com/8716829/111192017-de2b9c80-8575-11eb-9d6e-30022a44b5db.png)

[2021-03-15 18:19] adidahiya commented on #3205
I believe `rootBoundary: "viewport"` is the default in popper.js v2, so this should be solved in v4 when Popover2 becomes Popover. See https://popper.js.org/docs/v2/utils/detect-overflow/#rootboundary

[2021-03-15 18:19] #3205 closed

[2021-03-16 05:39] tnrich commented on #3004
@adidahiya this is still an issue we're seeing on the latest version of blueprint. Would you mind investigating?

[2021-03-17 18:13] arunmmanoharan commented on #3860
@nickensoul  Any luck fixing this?

[2021-03-17 21:28] nickensoul commented on #3860
Not for now, unfortunately, since I've moved to another project. But we're using the Blueprint here too, so, maybe I'll look into this later.

[2021-03-17 22:01] hdavidzhu commented on #2779
@Hesam-Eskandari I just tried wrapping with a span and that didn't work 🤷

[2021-03-18 00:35] #4521 closed, assigned to adidahiya

[2021-03-18 00:37] rafiazman opened #4593 "Tooltip2 documentation page not working in IE 11"
#### Environment

- __Package version(s)__: @blueprintjs/popover2@0.3.3
- __Operating System__: Windows 10 Version 1809
- __Browser name and version__: Internet Explorer 11.1577.17763.0

#### Code Sandbox

Link to a minimal repro (fork [this code sandbox](https://codesandbox.io/s/blueprint-sandbox-et9xy)): https://blueprintjs.com/docs/#popover2-package/tooltip2

#### Steps to reproduce

1. Open th

[2021-03-18 10:40] eyalw commented on #4032
Hi, any plans to migrate to `sass`? : )

[2021-03-18 14:08] adidahiya commented on #4593
I can repro this bug. The fix is pretty simple, we need to add polyfills for IE11 as documented here: https://popper.js.org/docs/v2/browser-support/#ie11

[2021-03-18 15:49] adidahiya commented on #4552
@lmk123 this is done in https://github.com/palantir/blueprint/pull/4589. you will get that change in 4.0, which I expect to release an alpha/beta for in the next week.

[2021-03-18 15:49] #4552 closed, assigned to nobody

[2021-03-18 15:54] adidahiya commented on #4579
I think we should have an API that accepts a callback for each step:

[code]

open to PRs for the above change... or I will get to it some time in April

[2021-03-19 17:20] pcclickbit commented on #4539
Hi,

[2021-03-19 17:28] pcclickbit commented on #4539
Hi,

I just installed Popover2 and I get the same error.
![image](https://user-images.githubusercontent.com/11739293/111818942-5b704d80-88a5-11eb-8351-b859fcbe4f1a.png)

### Changes:
Package:
![image](https://user-images.githubusercontent.com/11739293/111819101-93779080-88a5-11eb-948f-663fc1d16071.png)

Component: Added the Popover2 import, still not using it:
![image](https://user-images.githubus

[2021-03-19 20:23] pcclickbit commented on #4539
In my case the error was in package.json
changed  "typescript": "~3.7.2"
to "typescript": "^3.9.9"
now works fine.

[2021-03-19 20:46] saruman1234 opened #4598 "Support for <tfoot> in <HTMLTable>"
#### Environment

- __Package version(s)__: @blueprintjs/core@3.41.0

#### Feature request

Support using `<tfoot>` for table footer inside `<HTMLTable>` (along with `bordered`, `striped`, `interactive` variants) by adding the missing borders and/or background color.

- There are currently styles for `<thead>`, but not `<tfoot>`.
- This would be useful for aggregate/summary values like column tota

[2021-03-21 02:29] #1573 closed

[2021-03-22 20:26] pcclickbit opened #4600 "Popover2: menuItem does not execute onClick() when menuItem parent was clicked"
#### Environment

- __Package version(s)__: @blueprintjs/popover2 0.3.0 (other versions below in codesandbox)
- __Operating System__: Windows 10
- __Browser name and version__: Chrome 89.0.4389.90 (Official Build) (64-bit)

#### Code Sandbox

https://codesandbox.io/s/blueprint-popover2-v7c57?file=/src/App.tsx

#### Steps to reproduce

1. Click menu button "Popover2"
2. Click menu item "Kiosk"
3. C

[2021-03-22 23:23] adidahiya commented on #3352
I am not seeing the bug from the OP in the code sandbox. Clicking the submenu items does change the "theme":

![2021-03-22 19 22 08](https://user-images.githubusercontent.com/723999/112070430-02721500-8b44-11eb-9c4b-5f4e06704934.gif)

Submenu opening up on its own is likely #2863

[2021-03-22 23:23] #3352 closed

[2021-03-22 23:29] adidahiya commented on #4600
First, note that you need to include the popover2 CSS import when you use Popover2:

[code]

There is no menu item labeled "Report" in your sandbox. I assume you mean this submenu item:

![image](https://user-images.githubusercontent.com/723999/112070124-76f88400-8b43-11eb-993a-b5182dad4b68.png)

I can repro the bug you're talking about, I will try to fix it when I merge Popover2 into core on the

[2021-03-22 23:33] adidahiya commented on #4600
Also, this seems related to #3095

[2021-03-23 00:12] #4537 closed, assigned to adidahiya

[2021-03-23 00:26] adidahiya commented on #3256
This was fixed by #3868, I don't think we need to change anything here at the moment.

[2021-03-23 00:26] #3256 closed

[2021-03-23 15:41] #4593 closed, assigned to adidahiya

[2021-03-23 21:29] bhajiakbar-varicent commented on #4586
@adidahiya Thanks adidhiya sorry that it took so long; so I could solve the issue but it was quite bizarre; the problem was I was passing the content jsx as function const someContent = () => {...
Instead I switched to someContent = (... and it got resolved! honestly I don't understand why one would lead to that issue since both produce jsx, but as long as issue is fixed Im happy, would be nice if

[2021-03-23 21:32] BaharDev commented on #4586
Thanks adidhiya sorry that it took so long; so I could solve the issue but it was quite bizarre; the problem was I was passing the content jsx as function const someContent = () => {...
Instead I switched to someContent = (... and it got resolved! honestly I don't understand why one would lead to that issue since both produce jsx, but as long as issue is fixed Im happy, would be nice if you can el

[2021-03-24 18:41] arunmmanoharan opened #4605 "Disable/Not show remove button on Tag on specific elements - Multiselect"
#### Environment

- __Package version(s)__: 3.15.8
- __Browser and OS versions__: Chrome, Windows 10

#### Question

How do I disable/not show the remove icon on a specific tag in MultiSelect? I tried the "itemDisabled" prop but that doesnt work. In the below example, Shawshank Redemption should not be removed at all under any circumstances. Please advice.

This is my code:

https://codesandbox.io

[2021-03-24 21:50] adidahiya commented on #4586
two different values of type `JSX.Element` and `() => JSX.Element` are not equivalent, and they cannot be used interchangeably unless explicitly specified otherwise in a Blueprint API. in TypeScript, this would be a compile error.

[2021-03-24 21:50] #4586 closed, assigned to nobody

[2021-03-25 23:02] rkulinski commented on #3943
@adidahiya I think this issue should be reopened. To be frank it seems insane that two very similar components `InputGroup` and `NumericInput` (naming is also wierd) have very different API. I think proper `onChange` method is required here.

[2021-03-25 23:12] adidahiya commented on #3943
@rkulinski I don't think you'll get very far in open source conversations with that kind of language in your comment. Most of the API decisions in Blueprint come with tradeoffs and the names have been chosen for a reason. If you have a concrete criticism of or proposal for what you'd like to see in the NumericInput component, please file a new issue and use the issue template.

[2021-03-26 01:37] glentakahashi opened #4607 "[popover2] onClose is triggered twice in controlled mode"
#### Environment

- __Package version(s)__: popover2@0.3.2
- __Operating System__: Big sur 11.2.3
- __Browser name and version__: Chrome 89.0.4389.90

#### Code Sandbox

Minimal repro: https://codesandbox.io/s/onclose-duplicate-bug-lwvrh

#### Steps to reproduce

1. Use Popover2 in controlled state
2. Add `onClose` function
3. Open popover
4. Click outside of popover

#### Actual behavior

onClose

[2021-03-26 01:37] ShaneBarboza opened #4608 "Dialog popup is not centrally aligned in IE 11"
#### Environment

- __Package version(s)__: @blueprintjs/core@3.40.0
- __Operating System__: Windows 10 Pro Version 1909
- __Browser name and version__: Internet Explorer Version 11.1139.18362.0

#### Code Sandbox

The behaviour can be seen on the Blueprint docs itself: https://blueprintjs.com/docs/#core/components/dialog.multistep-dialog

#### Steps to reproduce

1. Click on any button that opens

[2021-03-26 01:58] czetsuya opened #4609 "Expandable vertical menu similar to Blueprint docs site"
#### Environment

- __Package version(s)__: 3.36
- __Browser and OS versions__: Edge on Windows 10

#### Question

I would like to create an expandable vertical menu similar to your website:
![image](https://user-images.githubusercontent.com/804528/112566242-903a5280-8e19-11eb-803c-b606dab9fa13.png)

Is it doable using the current menu component set? I'm referring to this document https://blueprin

[2021-03-26 05:30] lanzhenw commented on #4585
check bodyContextMenuRenderer, it is the right click menu. There is a copy component, click that will copy the actual data to clipboard.

[2021-03-26 05:31] lanzhenw commented on #4533
This is solved.

[2021-03-27 17:06] xeleoss commented on #4585
and how to get data from this current column in this component? I'm interested in textContent.
`<CopyCellsMenuItem context={context} text={'Copy'} getCellData={() => 'what should I write here?'}/>`

[2021-03-27 22:41] ivanmem commented on #4585
Okay I realized that I would have to get the data by indexes. Thanks.

[2021-03-27 22:41] #4585 closed, assigned to nobody

[2021-03-29 19:07] maclockard opened #4611 "refHandler not typesafe safe and causes components to break when passed object ref"
#### Environment

- __Package version(s)__:
  - @blueprintjs/core: 3.40.0
- __Operating System__: any
- __Browser name and version__: any

#### Code Sandbox

https://codesandbox.io/s/blueprint-sandbox-forked-vmjrb?file=/src/index.tsx

#### Steps to reproduce

1. Click into numeric input

#### Actual behavior

The entire page crashes with the error `_a.setSelectionRange is not a function` which ori

[2021-03-30 18:04] snirrotem opened #4614 "DateRangePicker month display issue with Daylight Saving Time (DST) transition"
#### Environment

    "@blueprintjs/core": "3.9.0",
    "@blueprintjs/datetime": "3.7.1",
    "@blueprintjs/icons": "3.3.0",
    "@blueprintjs/select": "3.3.0",

#### Code Sandbox

https://codesandbox.io/s/blueprint-daterangepicker-bug-sandbox-forked-j8kv8?file=/src/index.tsx

#### Steps to reproduce

1. set a min date to a date PRIOR to DST transition, at least 31 days before maxDate, so multiple

[2021-03-30 22:42] zhiwang95 opened #4615 "Tab does not render inside a react fragment"
#### Environment

- __Package version(s)__: 3.42.0
- __Operating System__: macOS Catalina Version 10.15.7 (19H15)
- __Browser name and version__: Chrome Version 89.0.4389.90 (Official Build) (x86_64)

#### Code Sandbox

https://codesandbox.io/s/tab-issue-4u4kv?file=/src/App.js

#### Steps to reproduce

Check out the codesanbox example which renders a `<Tab>` component inside a react fragment.

###

[2021-03-31 12:25] ahuviy commented on #4614
I encountered this issue too. Any news update?

[2021-03-31 16:46] lanzhenw commented on #3833
I am using 3.8.26. I use `columnWidth` and  `onColumnWidthChanged` for setting default column width. I thought I would also have this issue, but it didn't break column resizing. It was working fine.

[2021-03-31 17:16] rhysbrettbowen opened #4616 "Overflow list fully collapses in Transition Groups"
#### Environment

- __Package version(s)__: 3.41.0
- __Operating System__: OSX
- __Browser name and version__: Chrome

#### Code Sandbox

Link to a minimal repro: https://codesandbox.io/s/blueprint-sandbox-forked-m8krm?file=/src/index.tsx

#### Steps to reproduce

1. Create a dialog
1. Put an OverflowList in dialog

#### Actual behavior

1. will show collapsed list

#### Expected behavior

1. Show

[2021-03-31 19:29] rhysbrettbowen commented on #4616
Looks like it can be fixed by adding in the following CSS:

[code]

https://codesandbox.io/s/blueprint-sandbox-forked-q4k29?file=/src/index.tsx

[2021-04-01 19:54] #4533 closed, assigned to nobody

[2021-04-02 07:55] IzaGz commented on #3474
Same problem , all latest versoins installed, please help!

[2021-04-05 13:52] vladimir-djokic opened #4619 "Using ContextMenu2 with table rows"
With `ContextMenu` I had the ability to use "imperative" API when working with table rows:

Something like...
[code]

How can I achieve something like that with `ContextMenu2`?

If I wrap entire table with `ContextMenu2` then I would need to drill down using React/HTML API in order to get the data associated with the row I right-clicked on.

[2021-04-06 12:38] tamsanh commented on #3779
I am also having the same issue. Adding some extra information for debugging efforts: when `enableGhostCells` is set to `true`, I'm getting only 1 column rendered, instead of the 4 columns.

This is `@blueprintjs/table: ^3.8.27`

Downgrading to `"@blueprintjs/table": "~3.7"` worked for me.

[2021-04-06 18:29] adidahiya commented on #4619
did you try this?

[code]

[2021-04-06 19:27] vladimir-djokic commented on #4619
Given your example, and as I understand `<ContextMenu2>` from glancing at the source code - won't that produce invalid `<table>` markup, because each `<tr>` will be wrapped by `<div>`?

So instead of (which is valid HTML table markup):
[code]

Your example would result in something like (which is invalid markup):
[code]

Also, wrapping each row with `<ContextMenu2>` fells like a overkill.

[2021-04-07 00:47] adidahiya commented on #4614
Can you be more specific about the actual / expected behavior? What is the exact expected output? This is what I see in your code sandbox (it's different from your screenshot):

![image](https://user-images.githubusercontent.com/723999/113794798-5d496600-9719-11eb-89b6-e7dc505008f7.png)

[2021-04-07 00:51] adidahiya commented on #4609
It's not a traditional "menu" in the Blueprint design system; it's really just a list of links. We don't have a component for it. You can inspect the docs-theme package to see how the docs navigation menus are built.

[2021-04-07 00:51] #4609 closed, assigned to nobody

[2021-04-07 01:14] adidahiya commented on #4607
What are you using `onClose` for in controlled mode? Is `onInteraction` not sufficient? Note that this is also a "bug" for `Popover`, so it's not a regression: https://codesandbox.io/s/onclose-duplicate-bug-forked-rgyd9

[2021-04-07 07:27] snirrotem commented on #4614
the issue somehow resolved itself on April 1st.
it only reproduces between DST transition date and 31st of march.

you can reproduce it by manually setting your machine's date to March 30th for instance.
then you will see that:
1. both pickers' captions read 'January'
2. left day picker is showing the month of march, while the right showing the month of april.

[2021-04-07 15:34] adidahiya commented on #4619
Ok, then you can try flipping the DOM ordering:

[code]

By what metric? Each context menu has different information about the row, so this is fairly idiomatic React IMO. There may be a separate feature request here for having ContextMenu2 _not_ generate a wrapper element (similar to how Popover2's `renderTarget` prop lets you do the same), if you really want to simplify the DOM structure.

[2021-04-07 15:46] adidahiya commented on #4615
`Tabs` expects `Tab` children only (the docs should do a better job of explaining this). What are you trying to accomplish by using a fragment?

[2021-04-07 15:49] #4579 closed, assigned to nobody

[2021-04-07 15:49] vladimir-djokic commented on #4619
Won't that result in invalid HTML markup as well?
[code]

[2021-04-07 18:05] adidahiya commented on #4619
Hm, you're right. I will need to spend some more time thinking about this... I'll make sure to figure out a way to support this use case before the final 4.0.0 release.

[2021-04-07 22:41] #4611 closed, assigned to nobody

[2021-04-09 00:58] glentakahashi commented on #4607
Ah good call, I didn't realized onInteraction would be the better hook to use here. This is fine to close out then

[2021-04-09 00:58] #4607 closed, assigned to nobody

[2021-04-09 16:14] joegasewicz opened #4624 "Add `iconSize` to Breadcrumb props"
#### Environment

- __Package version(s)__: @blueprintjs/core - `^3.33.0`
- __Browser and OS versions__: N / A

#### Feature request

I want to be able to define an icon size in the breadcrumbs props. Currently I can only control the size of icon props
passed in via the `currentBreadcrumbRenderer` prop -
[code]
But the above only changes the last icon component in the breadcrumb path.

#### Exampl

[2021-04-09 17:11] tnrich commented on #243
If anyone feels like pasting a simple example or a link to a codesandbox here that would be greatly appreciated. Thanks!

[2021-04-09 17:57] adidahiya commented on #4624
Can you share a bit more context about why you need a custom icon size? What kinds of other UI elements is this breadcrumb list placed next to? Are you applying other custom styles?

[2021-04-09 18:07] joegasewicz commented on #4624
Hi @adidahiya I just needed to be able to pass down the `iconSize` to all paths in the breadcrumb props.

for example i currently have this:

<img width="520" alt="Screenshot 2021-04-09 at 19 00 36" src="https://user-images.githubusercontent.com/28711247/114221962-e1902900-9965-11eb-84a7-f686a6b2bec5.png">

the first segment(s) parts of the breadcrumbs path icons are smaller than the last icon, as