[2017-05-10 17:53] llorca commented on #1052
@kendraknittel try removing `border-collapse: collapse;` from `.DayPicker-Month`

[2017-05-10 17:53] giladgray commented on #1072
is this really a bug? i consider focus and selection as two distinct things (and the table does too, implementation-wise).

[2017-05-10 17:59] gscshoyru commented on #1072
I think it's a bug -- focus and selection are actually quite entangled. If we have focus turned on, there should always be at least one cell selected -- the focused cell is always selected.

[2017-05-10 17:59] llorca commented on #1072
Yep they are distinct things. A selection coming without a focus cell is one thing, but a focus cell coming without a selection? That doesn't make a lot of sense, does it? Also, this only happens on table load, so clearly seems like an oversight

[2017-05-10 18:00] gscshoyru commented on #1072
Yeah, it was an oversight -- my bad -- should be reasonably straightforward fix actually.

Technically you can also get this state via deselection of single cells right now, but since we want to turn that off we should just need to take care of the loading case.

[2017-05-10 19:09] tgreenwatts commented on #1072
I still want to have my table (table, not spreadsheet, just 1 small part of an app) and not already have something selected - for visual purposes. It's distracting unless I'm specifically trying to interact with the table

[2017-05-10 19:43] gscshoyru commented on #1072
It shouldn't be distracting in any sort of way -- if you have a focus cell, the area under the focus cell should be selected. It's only on start that this is currently broken -- if you say, use the arrow keys to move the focus around, the selection is already following along. It's just the initialization behavior that needs fixing, and it'll bring it in line with the already existing behavior. Fro

[2017-05-10 20:23] cmslewis commented on #1072
When we polish this further, my personal vote is to not have the selection background behind the focus cell. Other spreadsheet products seem to follow that approach.

[2017-05-10 21:29] tgreenwatts opened #1077 "Bad focus cell on loading table"
When a table with a focus cell is loading, we have this empty sad focus cell

![image](https://cloud.githubusercontent.com/assets/24398123/25922128/dc15007c-358c-11e7-8641-869486709fb2.png)

### Bug report

- __Package version(s)__: 1.13.0
- __Browser and OS versions__: Mac chrome
 Live in action: https://pl.ntr/eU

[2017-05-10 22:15] tgreenwatts commented on #1072
Ok so talked offline to @llorca about this and I understand better now - we *already* have a focus cell on load by default, it just doesn't have a selection with it.
Options are:
1. No focus cell by default
2. Focus cell (with selection) in A1

Option 2 works for spreadsheets better. We can reexamine making this an option for apps when we're better suited to support spreadsheets, for now I propose

[2017-05-10 22:16] llorca opened #1079 "Improve default selection interactions on table"
- [ ] Clicking on "..." in cell shouldn't select the cell, similarly to other "..." (header for instance)
- [ ] Column headers and row headers should reflect the current selection
- [ ] Clicking on a selected cell shouldn't deselect it. `cmd+click` on a cell should deselect it (#1073)

[2017-05-10 22:16] llorca opened #1080 "More keyboard shortcuts for table"
- [ ] Select the cell immediately to the right `tab`
- [ ] Select the cell immediately below `return`
- [ ] Select the cell immediately to the left `shift+tab`
- [ ] Select the cell immediately above `shift+return`
- [ ] Range select rows/columns `shift+click`
- [ ] Add rows/columns/cells to selection `cmd+click`
- [ ] Add to selection rectangle `cmd/shift+up`/`cmd/shift+right`/`cmd/shift+bottom`/

[2017-05-10 22:23] llorca opened #1081 "Improve editable cell behavior in table"
- [x] Clicking outside of a cell being edited should end editing
- [ ] Clicking on a cell being edited shouldn't end editing
- [ ] Ability to click on the edited text to place cursor and make a text selection with the mouse
- [ ] Make editable cells and editable header cells consistent (at the moment, editing a header cell is single click, while editing a body cell is double click)

[2017-05-10 22:29] gscshoyru commented on #1072
We already are doing 1 (which is totally correct). We should 2 if and only if focus cell is enabled -- which is what's presently missing. In other words -- on initialization, check if focus cell is true, and if it is, stick a selection underneath it. That's what this ticket is doing. We certainly don't want to do it if focus is not enabled.

[2017-05-10 22:30] llorca opened #1082 "Editable body cells behaviors is inconsistent"
This bug is tough to describe and it repros inconsistently. Look at the GIF below: the entire table is editable; the only thing I'm doing is double clicking cells. Sometimes, the cell gets into an editable mode, sometimes it doesn't.

Also, I'm afraid that because of https://github.com/palantir/blueprint/issues/1073, we may end up in a state where a cell is being edited but not selected.

![screen

[2017-05-10 22:33] llorca opened #1083 "Right click menu behavior improvements in table"
- [x] When the right-click menu is open, we should block scrolling
- [x] Right-click menu should be dismissed when clicking outside of it
- [x] Right-clicking on a selection shouldn't change the selection
- [x] Right-clicking on a cell/column/row should select said cell/column/row

[2017-05-10 22:35] llorca commented on #298
Opened more scoped issues to better track this work:
- Better selection interactions (https://github.com/palantir/blueprint/issues/1079)
- More keyboard shortcuts (https://github.com/palantir/blueprint/issues/1080)
- Better editable cells (https://github.com/palantir/blueprint/issues/1081)
- Better right click menu (https://github.com/palantir/blueprint/issues/1083)

[2017-05-10 22:35] #298 closed

[2017-05-10 22:37] llorca commented on #1072
@gscshoyru the two options from Taryn are proposals for when the focus cell is turned on. She proposes we do 1. when the focus cell is enabled, which we don't do at the moment.

[2017-05-10 22:46] #1070 closed

[2017-05-10 22:54] samdenicola opened #1084 "Accessibility with popovers"
I have a popover as an item in my header navigation bar that when clicked brings up a menu of some sub-options. When I tab through the options the popover does not get selected. I expect to be able to tab on the popover, hit enter, and have the sub menu open which then could be tabbed into and an enter key press would result in some app navigation.

This is how the popover is written in the app:
[

[2017-05-10 22:56] #907 closed

[2017-05-10 22:57] samdenicola commented on #1079
@llorca how about adding "onDoubleClick" to this list as talked about in #298?

[2017-05-10 23:32] llorca commented on #1084
Hi Sam! Thanks!

Check out the popover docs: http://blueprintjs.com/docs/#core/components/popover

I'm correctly able to `tab` to the "Popover target" button, hit `space` to open the popover, then `tab` again to access the inside of the popover and then `space` again to trigger whatever is inside the popover.

Sounds like you're trying to hit `enter` instead of `space`

[2017-05-10 23:36] llorca commented on #1079
@samdenicola Good catch. Can you file a different issue? This one is specifically related to selection--double click isn't about selection, it's just a brand new table interaction

[2017-05-11 00:15] tgreenwatts opened #1086 "Blueprint table perf on FF, IE and IE Edge"
Blueprint table performance on Firefox is really bad
I believe this is a regression

Needs some investigation

![bad_external](https://cloud.githubusercontent.com/assets/24398123/25926470/43290184-35a4-11e7-8706-c38e0befa070.gif)

[2017-05-11 00:24] samdenicola commented on #1084
Hey @llorca

It looks like that actually wasn't the problem -- both `space` and `enter` are working for me. The issue was that my "popover target" was a `span` element. I switched it to a minimal `Button` and `tab` worked.

Gonna close this for now.

Thanks!

[2017-05-11 00:24] #1084 closed

[2017-05-11 00:27] samdenicola opened #1087 "Add onDoubleClick interaction to cells/rows on table"
Making this issue in response to #298, #1079.

Currently a custom double click handler is needed to handle double click interactions on table cells/rows. It would be nice if double click was treated as a first class interaction as it is a fairly common interaction.

Cheers

[2017-05-11 17:31] tgreenwatts opened #1089 "Date picker time showing incorrectly"
https://pl.ntr/eX
@cmslewis can you take a look at this?
@jchomicki  for SA

[2017-05-11 17:41] giladgray commented on #1089
sounds like #890

[2017-05-11 17:42] giladgray commented on #1059
this is actually a problem in all browsers under specific conditions. see this from chrome:
![image](https://cloud.githubusercontent.com/assets/464822/25963563/95445558-3636-11e7-8701-e4ac69f672a8.png)

[2017-05-11 17:58] llorca commented on #1059
What specific conditions exactly?

[2017-05-11 19:56] cmslewis commented on #1089
Fixed locally by permitting the popover to close only when the user manually selects/updates a date, not when the user manually updates the time. Will push changes after my next meeting.

[2017-05-11 20:49] andrerfneves commented on #1060
@giladgray I resolved it. Importing issue. Thanks!

[2017-05-11 21:24] #1060 closed

[2017-05-11 22:15] samdenicola opened #1090 "selected radio button render issue"
I've seen this in my own app and now in the docs. Sometimes a selected radio button flickers with its filled in color -- see below (from the docs) the selected button is only half filled in. Not sure whats causing the issue here.

<img width="506" alt="screen shot 2017-05-11 at 3 13 45 pm" src="https://cloud.githubusercontent.com/assets/13247167/25974188/8ab233be-365c-11e7-94ee-260f28f1a93f.png">

[2017-05-11 22:44] samdenicola commented on #1026
Looks like the issue was css caused. pt-menu-item has `overflow:hidden` which was causing the overlay for the `DateInput` to be hidden. Removing that css for the date input allowed the overlay to be displayed.

[2017-05-11 22:44] #1026 closed

[2017-05-11 23:51] tnrich opened #1091 "DateRangeInput popover not staying within window even when passing tether props"
### Bug report

- __Package version(s)__: "@blueprintjs/datetime": "^1.13.0"
- __Browser and OS versions__: Mac 10.12 , Chrome most recent

#### Steps to reproduce
Hey there, I am trying to get the DateRangeInput component to stay within the window. I assumed it would be as simple as:

[code]

But, instead it is rendering like this:

![image](https://cloud.githubusercontent.com/assets/2730609/2597

[2017-05-12 03:17] llorca commented on #1090
Never seen that. I would assume it's a Chrome rendering issue.

Can you add more details about your setup? OS, browser, Blueprint version, etc.

[2017-05-12 03:18] llorca commented on #1091
@tnrich have you tried passing a `position` to `popoverProps`?

[2017-05-12 07:26] liesislukas commented on #1060
@giladgray maybe, haven't gone that far to clear the fog around it. It's interesting, that some icons were working well and some not. I assume (Bad Practice™) if it would be in build step all icons wouldn't work. If this issue is found only in my environment probably it's on my side anyways. One more assumption🤘

[2017-05-12 09:53] mscolnick commented on #827
+1

[2017-05-12 15:57] samdenicola commented on #1090
Sure! The above picture was taken from the docs website here: http://blueprintjs.com/docs/#datetime/daterangeinput
OS: macOS Sierra 10.12.4
Browser: Chrome 58
Blueprint version: Whatever you guys have on the docs site (I imagine it was 1.17?)

[2017-05-12 17:52] llorca commented on #1090
Damn, I've got the same setup than you but I'm unable to repro :(

[2017-05-12 18:05] adidahiya opened #1094 "Disable empty Popovers, just like Tooltips"
FLUP of https://github.com/palantir/blueprint/issues/886. We're seeing empty popovers in the wild too. Let's just do the same thing here.

[2017-05-12 18:37] tnrich commented on #1091
hey @llorca , I had not tried passing a `position` prop, but I did figure out what I needed to do thanks to a helpful blueprint warning:
[code]

So all I needed to override the default inline positioning (and my tetherOptions were poorly formatted, but I got an error in the tether code that alerted me to that)!

My component now looks like this
[code]

[2017-05-12 18:55] tgreenwatts commented on #1090
I've seen this before, @adidahiya said it was a chrome bug - I can't reproduce it right now

[2017-05-12 19:20] llorca opened #1097 "Popover with "popover example" content doesn't work in the docs"
### Bug report

- __Package version(s)__: core 1.17, docs 1.1
- __Browser and OS versions__: macOS 10.12.4

![image](https://cloud.githubusercontent.com/assets/199754/26013390/fda8071c-370c-11e7-8768-5a3a9533aa48.png)

[2017-05-12 19:26] tgreenwatts commented on #1077
Same goes for empty tables and ghost cells

[2017-05-12 19:27] tgreenwatts opened #1098 "Do not add focus until the user has interacted with the table"
Related to #1072
When focus cells are enbled, do not add focus until the user has interacted with the table

Rationale:
When the table is being use as part of a larger application (i.e. less spreadsheet-like, more table-list) - the table does not focus until the user interacts

Also partially fixes by removing the initial focus: https://github.com/palantir/blueprint/issues/1077

[2017-05-15 16:05] cmslewis commented on #1098
Hmm, maybe, but I always feel weird when it's impossible to get back to an initial state. In this case, the initial state is a focus-less table, and the first interaction reveals the focus-cell styling. How do you get back out of that? I think I'd want that to be possible.

[2017-05-15 16:08] gscshoyru commented on #1098
Agreed. If focus is enabled, we should start with a focus cell (and that cell selected) -- it should be possible to go back to initial states, and we should design things that way.

[2017-05-15 17:30] llorca commented on #1098
I suppose the focus cell could go away once you deselect everything in the table? Thoughts?

[2017-05-15 17:33] gscshoyru commented on #1098
If you have a focus cell you shouldn't be able to deselect all the things. The two are at odds.

[2017-05-15 17:43] llorca commented on #1098
Can you elaborate on what's odd about it? What if you have one cell that's focused (and therefore selected), and you `cmd+click` it? What do you see happening?

[2017-05-15 17:55] gscshoyru commented on #1098
I mean, it does in fact work that way presently, but with focus cell it doesn't make sense for such a thing to be possible. Having a focus cell should mean that something is always selected. Neither excel nor google sheets let you do this (though they do so in wildly different ways). Don't we already have tickets about turning off the fact that you can deselect like that?

[2017-05-15 20:48] tgreenwatts commented on #1098
I think should be be able to deselect and get back to the initial state - because this is a table. We can have something like `enforceFocus` if it's more spreadsheet-y

[2017-05-15 21:07] ericanderson commented on #365
Way behind on this, my apologies. The STIGs say that you must disable font loading in IE for anything not on your intranet / whitelisted. It can take a long time to get a URL whitelisted by IT departments.

[2017-05-15 22:00] supritashankar opened #1101 "Blueprintjs with `jest` gives import error"
I have a very simple test.

in my `package.json` it looks like this

[code]
My test looks like this.

[code]

I get this error
[code]

What is it that I am doing wrong? Any help would be appreciated

I am using
`jest- 20.0.1`
`enzyme-2.8.2`
`ts-jest-20.0.3`
`blueprint-core 1.16.0`

[2017-05-15 22:34] cmslewis commented on #533
@themadcreator @llorca I can't repro this. Here's an example of toggling `nRows` between `1000` and `500`.

![2017-05-15 15 33 18](https://cloud.githubusercontent.com/assets/443450/26082287/f9a99670-3983-11e7-8b2b-01f3fcc8fae3.gif)

[2017-05-16 00:22] adidahiya commented on #1101
your preprocessor isn't running correctly. are you sure it's able to locate your tsconfig.json file? do you have any other errors in your console?

[2017-05-16 00:29] supritashankar commented on #1101
@adidahiya Yes you are right. This solves my problem

I am not using ts-jest preprocessor.

Using this as my preprocessor -
[code]

[2017-05-16 00:55] supritashankar commented on #1101
Thank you @adidahiya
[code]

[2017-05-16 17:53] tgreenwatts commented on #1098
Updated thoughts: Let's wait and see how users are using the table and see if this is useful

[2017-05-16 18:04] supritashankar commented on #1101
@adidahiya I still see the issue. When I create simple components without using blueprint it works perfectly fine. But when I use `blueprint` I see this error.

[code]

My tests look like this
[code]

[2017-05-16 18:11] adidahiya commented on #1101
Are you importing from `@blueprintjs/core/src/` directly somewhere? You shouldn't need to do that. It would be helpful if you could provide a minimal repro with all the relevant code.

[2017-05-16 18:30] supritashankar commented on #1101
I have something like this
`import {NonIdealState, Spinner} from "@blueprintjs/core";`

Is this wrong?

[2017-05-16 18:35] supritashankar commented on #1101
Solved the problem. Made this to
`import {NonIdealState} from "@blueprintjs/core";`

Thank you so much @adidahiya

[2017-05-16 18:35] #1101 closed

[2017-05-16 21:43] llorca commented on #394
Still can't repro on Mac, but was able to repro on Windows with Chrome 57 at 100% zoom. I only saw the issue with popovers and tooltips. Table and dialogs, which also use `transform`s, don't seem to be affected.

I was able to fix it in the inspector by giving `translateX` and `translateY` (from `.pt-transition-container`) **even** values. I'd assume than rounding it would be enough, but no, it ha

[2017-05-17 01:05] zhaoyi0113 opened #1105 "Classname doesn't work on `Table`"
Below is my code on using `Table`

[code]

I have specified the class name on `Table` but the dom doesn't have the class name `my-class-name-table1`.

[2017-05-17 01:55] giladgray commented on #1105
@zhaoyi0113 the prop is definitely implemented correctly... https://github.com/palantir/blueprint/blob/master/packages/table/src/table.tsx#L456-L461

have you queried the DOM for your class? it may not be on the element you expect (though it is on the root element of the table)

[2017-05-17 02:02] zhaoyi0113 commented on #1105
Actually I have dumped all dom structure of the whole page but I couldn't find the class name. I found a `div` with className `bp-table-container`, is it the top-level table dom? I am importing the table from below code. Is it correct?

`import {Cell, Column, Table} from '@blueprintjs/table';
`

[2017-05-17 02:20] giladgray commented on #1105
Yes it should be on `bp-table-container`. Are you on the latest version?

[2017-05-17 02:21] zhaoyi0113 commented on #1105
I am using this version:

[code]

[2017-05-17 02:24] zhaoyi0113 opened #1106 "Can't set column with by `flex: 1`"
I want to set each column width based on `flex` value. But from the document I see `columnWidths` and `defaultColumnWidth` expect a value of number. How can I set the column's `flex` value? I tried to set them through css selector(see below code) but it only works for column width not for row's width.

[code]

[2017-05-17 02:33] giladgray commented on #1105
That is not the latest. Please update and confirm

[2017-05-17 02:35] gscshoyru commented on #1106
Table column widths (and row heights!) are set by pixel values in the styles, and don't use flex. (You can see this by inspecting on the table cells.) A lot of the math we do in table for what cells to show and not show for virtual rendering is based on knowing these numbers, so even if you do override the styles there, you are not likely to like the results you get.

At present, we don't support

[2017-05-17 03:53] zhaoyi0113 commented on #1106
Alright, could you let me know how to handle different window sizes? How can I fill in the full size of a parent dom through `Table`?

[2017-05-17 04:01] llorca commented on #1106
@zhaoyi0113 check out the docs at http://blueprintjs.com/docs/#table-js.loading-states, we achieve this by setting `width: 100%` on `.bp-table-container`

[2017-05-17 04:02] zhaoyi0113 commented on #1105
Updated to the latest version fix the issue. Thanks for your suggestion.

[2017-05-17 04:02] #1105 closed

[2017-05-17 04:11] llorca commented on #902
@zhaoyi0113 from comment above, let us do the quick documentation update before closing this issue. Thanks!

[2017-05-17 04:34] zhaoyi0113 commented on #1106
By setting `.bp-table-container` to 100% width doesn't work well for the column. It seems that `columnWidths` property is the way for me to adjust the width of each column. But it only accepts number value.  I can't make the total width of columns to be equal to the `100%` width of the table.  For example, below is the code I am using:

`<Table numRows={stages.length} columnWidths={[50, 20, 50, 20

[2017-05-17 04:35] zhaoyi0113 commented on #1106
Actually, I am expecting something like:
[code]

[2017-05-17 04:40] giladgray commented on #1106
sounds like you want #969. duplicate?

[2017-05-17 04:43] zhaoyi0113 commented on #1106
seems duplicate. Any plan on providing the fix on this?

[2017-05-17 04:46] giladgray commented on #1106
unfortunately no plans, as it's not a "fix" but an entire new feature (dynamic column widths).

[2017-05-17 04:48] giladgray commented on #1105
👍 this is why "version number" is the first question in our issue template

[2017-05-17 05:07] zhaoyi0113 commented on #1106
Alight, thanks anyway. I will try to find a worksround.

[2017-05-17 05:07] #1106 closed

[2017-05-17 10:05] jackkainov opened #1107 "Icons16 font is removed from the font-family of the body tag"
### Bug report

- __Package version(s)__: @blueprintjs/core@1.17.1

While using blueprint with webpack and css-loader, which uses css-nano for minification, font "Icons16" is removed from the body tag.

Css nano has a rule `removeAfterKeyword `
Which will remove `Icons16`, because it stands after sans-serif in `$pt-font-family` variable.
https://github.com/ben-eb/postcss-minify-font-values

The fi

[2017-05-17 17:17] adidahiya opened #1108 "Refactor Table API to only require a single top-level component"
Right now, tables must be constructed using an API like this:

[code]

This works fine for static tables like the ones in the docs site and examples page, but it's not great for applications that have dynamic numbers of columns. The compiler doesn't do a good job of type inference when it comes to React children. I can't even do something like this:

[code]

This fails with:

![image](https://clou

[2017-05-17 17:43] cmslewis opened #1109 "[Table] Merge common ColumnHeader and RowHeader code into AbstractHeader"
There's a lot of duplicate code now. Probably makes sense to introduce an `AbstractHeader` class that they both extend.

[2017-05-17 17:45] cmslewis opened #1110 "[Table] Refactor and reorganize tableTests.tsx"
Starting to be a lot of duplicate code. Should comb through and see what we can pull out into reusable pieces.

[2017-05-17 17:45] tgreenwatts opened #1111 "Text jumps around in text input in popover"
### Bug report

- __Package version(s)__: 0.15.0
- __Browser and OS versions__: Chrome  58.0.3029.110, on Mac screen

![jiggle_external](https://cloud.githubusercontent.com/assets/24398123/26168139/ec53a6ee-3aed-11e7-8bca-58c69afdab1d.gif)

Does happen for other fonts
Does not happen when plugged into full screen
@llorca for more details

[2017-05-17 17:56] llorca commented on #1111
I've only experienced this issue on high DPI screens (i.e. retina). No problem on 1x screens

[2017-05-17 17:59] tgreenwatts commented on #470
I'd successfully resized columns at the end of tables, so I think this is just dependent on where apps put tables

[2017-05-17 17:59] #470 closed

[2017-05-17 18:00] tgreenwatts commented on #533
OK I think we can close this then!

[2017-05-17 19:01] llorca commented on #1107
I'm pretty sure I remember us explicitly putting `Icons16` last for a reason but can't remember right now -- @giladgray should know the answer!

[2017-05-17 20:48] gscshoyru commented on #1077
The root cause of this issue is what happens when you have a table region that goes outside the bounds of the table itself. The question is how best to handle such cases.

From looking at this, it seems like the options are either a) hide regions that go outside the bounds of the table altogether, or b) try to display as much of the region intersects the table, and only "hide" regions that are ent

[2017-05-17 21:31] adidahiya commented on #1077
I'd just go with (a) as the simpler option for now. We can revisit if we get feedback that advocates for a more complex approach.

[2017-05-17 22:12] llorca commented on #1077
+1 with (a), seems more than reasonable. From my lens, if a region ends up outside of the bounds of the table, it's a bug. Haven't seen any practical use cases for out of bounds regions so far

[2017-05-17 22:24] johnwiseheart opened #1112 "Allow large file input boxes"
Basically to do this would mean adding something along the lines of
[code]

I don't have time to actually add it and PR right now, but if this is still here when I have free time, I'll attempt it.

[2017-05-17 22:30] llorca commented on #1112
Great catch! I can take a look at it later this week, though if you get to it first, we'll gladly accept your contribution!

[2017-05-17 23:36] cmslewis opened #1113 "[Table] Drag-selecting column/row headers fails after scrolling far enough"
### Bug report

- __Package version(s)__: 1.17.1
- __Browser and OS versions__: Chrome OS X

#### Steps to reproduce

1. Initiate a drag-selection on a column header.
1. With the mouse button still pressed, manually scroll to the right really far.

#### Actual behavior

Selection stops after a handful columns (in this case).

![2017-05-17 16 35 26](https://cloud.githubusercontent.com/assets/443450

[2017-05-17 23:55] cmslewis opened #1115 "[Table] Resizing columns via double-click should resize each column appropriately"
### Bug report

- __Package version(s)__: 1.17.1
- __Browser and OS versions__: Chrome (58) on OS X (10.11.6)

#### Steps to reproduce

1. Drag-select a range of columns.
1. Double-click on various column-resize handles within the selection.

#### Actual behavior

Columns resize to the minimum required width of the _double-clicked column._ If you double-click different columns in the selection, th

[2017-05-18 00:09] zhaoyi0113 opened #1116 "Is there a way to remove table cell grid lines?"
This may not be an issue. Is there an option on `Table` to remove the grid line among cells? I looked at this link http://blueprintjs.com/docs/#table-js but didn't find the answer.

[2017-05-18 00:25] giladgray commented on #1116
@zhaoyi0113 there is no such option because we're pretty into them, design-wise. if you really want to get rid of grid lines then you should be able to do it through custom CSS--they're just `box-shadow`s and removing them should not affect functionality.

[2017-05-18 00:26] giladgray commented on #1115
wait wait wait, i thought we _designed_ it to be this way, definitely not a bug in the system: this behavior is consistent with other spreadsheet applications.

[2017-05-18 00:30] giladgray commented on #1107
`Icons16` is in there so you can use icon unicode strings in your text. i figured it belongs in last place, but if it works correctly in penultimate place then let's just do that. this issue has come up before, sounds like #1060.

[2017-05-18 00:32] zhaoyi0113 commented on #1116
alright, thanks. I will try that.

[2017-05-18 00:32] #1116 closed

[2017-05-18 00:56] crazytoucan opened #1117 "Add "connecting text" option in DateTimeInput"
Would love to have the option to stick a connecting word between the start and end inputs. Note the tiny "to" word in screenshot below.

![screen shot 2017-05-17 at 5 55 04 pm](https://cloud.githubusercontent.com/assets/3346671/26182076/2db7b6fc-3b2a-11e7-8771-ba02604f86ff.png)

[2017-05-18 02:34] giladgray commented on #724
A few thoughts here:

1. It will not be possible to remove `.pt-popover-target` for inline popovers because we need a common parent / components can only return one element from `render`.

1. However, we could remove `.pt-popover-target` for non-inline popovers and just clone the target (which we already do in most cases) to inject our handlers.

    1. Except that imposes the requirement that the

[2017-05-18 13:42] thejjmiller opened #1119 "NumericInput NaN"
There is a problem with the NumericInput when typing in a single - character and only using the numeric part of the handleValueChange event.

One though on a way to fix this is to create a updateOnBlur option that would wait to through the valueChange event until you blur off, this way if the thing you enter is not a number it can be reverted.

[2017-05-18 13:48] thejjmiller commented on #1062
Thank you! we are including the src scss files because we are customizing some of the blueprint fonts/variables.

Thanks for the $output-bourbon-deprecation-warnings: false; hint. That really helps.

[2017-05-18 13:48] thejjmiller commented on #1044
Thank you. Works perfect now.

[2017-05-18 15:09] mscolnick opened #1120 "Allow prop for popoverProps in TruncatedFormat"
Allow option for `popoverProps` in TruncatedFormat.

Would like to specify hover vs click and popover position

[2017-05-18 15:15] mscolnick opened #1121 "renderBodyContextMenu gets rendered outside of React root"
for `blueprintjs/table`

### Bug report

- __Package version(s)__: `blueprintjs/table`: 1.14.0
- __Browser and OS versions__: n/a

#### Steps to reproduce

Create a table with `renderBodyContextMenu`. View the context menu in the React dev console and see that its react context is empty

#### Actual behavior

`renderBodyContextMenu` gets rendered outside of the React hierarchy that the `Table` is

[2017-05-18 17:38] cmslewis commented on #1115
@giladgray this isn't actually consistent with other spreadsheet applications.

See Google Sheets:
![2017-05-18 10 35 14](https://cloud.githubusercontent.com/assets/443450/26215588/c36fd61c-3bb5-11e7-8e83-8b9386e161a0.gif)

See Excel:
![2017-05-18 10 37 03](https://cloud.githubusercontent.com/assets/443450/26215634/fd691ed2-3bb5-11e7-9f74-f9b39409ec33.gif)

[2017-05-18 17:45] cmslewis commented on #1119
@thejjmiller This is expected behavior. Given that `NumericInput` supports all `HTMLInputProps` in addition to its own API, can you just hook into `onBlur` yourself? While there is precedent in our `Slider` for `onRelease` as distinct from `onChange`, that's essentially equivalent to `onBlur` and `onValueChange` for `NumericInput`, so I don't think it makes sense to add an extra prop here.

[2017-05-18 17:46] cmslewis commented on #1117
Assigning to @llorca to think about. :)

[2017-05-18 17:50] llorca commented on #1115
I don't believe we designed this part. We designed the drag to resize part which works well, but we haven't touched the double-click to resize part.

Feature request or enhancement sounds good, this will be a great UX improvement 👍

[2017-05-18 18:04] llorca commented on #1017
@adidahiya should Blueprint provide specific styles for `EditableText` within `Tab2` out of the box? I'd have assumed this would be a consumer's responsibility since it's a little more complex than our regular tab system.

Can you elaborate on the interaction details from the GIF above? Single click to select a tab, double click to edit it, right? Cause `EditableText` is single click to edit, out

[2017-05-18 18:34] giladgray commented on #1115
_oh snap look at those gifs!_ i was dead sure they did what we do but damn. carry on then.

[2017-05-18 18:37] adidahiya commented on #1017
I'm open to ideas about / changes to the interaction details; I just think this would be nice to support out of the box. Here's another place I've seen this:
![2017-05-18 14 35 24](https://cloud.githubusercontent.com/assets/723999/26218048/94568f66-3bd7-11e7-9359-a075acb58375.gif)

[2017-05-18 18:41] #950 closed

[2017-05-18 18:57] llorca commented on #1017
Synced offline. The exact interaction from the GIFs is single click to edit the text of a selected tab. (A tab has to be selected first before it can be edited.)

👍

[2017-05-18 21:29] #781 closed

[2017-05-18 21:32] giladgray commented on #1121
seems like the crux of this issue is using `ReactDOM.render` instead of `ReactDOM.unstable_renderSubtreeIntoContainer`. The latter preservers context; the former creates new. Makes sense to refactor to the latter as we're re-implementing `Portal` functionality.

[2017-05-19 07:06] tnrich commented on #903
Hey there, it looks like there is ...almost... a way to do this:

[code]
The one thing that is a bummer is that now the title tooltip for the header gets messed up:
![image](https://cloud.githubusercontent.com/assets/2730609/26236791/fefef37c-3c26-11e7-9d74-e64f43c7402a.png)

even if I add a title to the span I'm adding it doesn't work..

I'd still like this ability if anyone has figured out a way

[2017-05-19 09:55] mscolnick commented on #1121
thanks!

[2017-05-19 14:46] jackkainov commented on #1107
Hi. Yes, sounds like exactly #1060, although i dig a little bit father and found an issue in using css-nano for styles minifying. I've solved issue by explicitly putting `font-family` with `Icons16` font. If a different order, accepted by default by minifies works for you too, then would be nice to change that and eliminate such issues posted here in the future :)

[2017-05-19 18:49] #1112 closed

[2017-05-19 18:50] #1097 closed

[2017-05-19 21:01] cmslewis opened #1125 "[Table] Improve developer experience with packages/table"
Maybe I'm an idiot and this isn't actually necessary, but as far as I've experienced, `table` is the only package that requires you to explicitly run `npm run watch` from the package sub-directory, in addition to running `gulp` from the top-level directory. Also takes awhile for changes to propagate, which drastically impedes developer rhythm. Would be sweet to fix the issues here.

[2017-05-22 02:25] diegobfernandez opened #1126 "Add documentation for classes.ts"
I see in some places you guys use classes.ts however there is no documentation on the site for it.
I think it is great and can be very useful sometimes.
My suggestion is to add the appropriate constants in each components doc page for easy reference.

[2017-05-22 12:35] thejjmiller commented on #1119
Yeah we can use the onBlur ourselves but since we use the NumericInput component throughout our application we are going to create our own NumericInput wrapper component so that we don't have to implement the state management of that everywhere we use the component.

[2017-05-22 15:04] rnadrag opened #1127 "Checkbox prop indeterminate has a bit of a confusing name"
Hi all,

I came across the `Checkbox` `indeterminate` prop and I have to admit I was a bit confused by the name, wondering if `partiallyChecked` (or similar) would be a less confusing name.

Thanks

[2017-05-22 15:28] adidahiya commented on #1127
`indeterminate` is the name of the [DOM API](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox#Indeterminate_state_checkboxes), so that's not going to change, but maybe we could expand the prop's description to include the keyword "partial"

[2017-05-22 16:21] rnadrag commented on #1127
I see, yes, maybe this would help. Again, this is a super minor P4 thing but I do feel it is more of a `partial` state rather than `indeterminate `.

[2017-05-22 16:55] dphilipson opened #1128 "Improve typings: RadioGroup's onChange property should take a FormEvent<HTMLInputElement>"
Hi Blueprint!

`RadioGroup`'s `onChange` prop has type `FormEvent<HTMLElement> => void`. Presumably it is intended that the function provided to this prop will read out the value of the selected radio button, which can be done by evaluating `event.currentTarget.value`, where `event.currentTarget` turns out to be an `<input>`. However, this fails to typecheck because `HTMLElement` does not have a v

[2017-05-22 17:05] cmslewis commented on #1119
Sounds good. @giladgray if you have thoughts here, feel free to chime in, but I'll close for now.

[2017-05-22 17:05] #1119 closed

[2017-05-22 17:10] cmslewis commented on #1128
Thanks, @dphilipson! Do you want to do this? Would be nice to have one more "external" contributor. If not, I can take it.

[2017-05-22 17:10] dphilipson commented on #1128
Sure! I might not get around to it for a day or two, but happy to contribute.

[2017-05-22 17:11] cmslewis commented on #1128
Awesome. Assigning to you!

[2017-05-22 17:12] cmslewis commented on #1127
@rnadrag we don't even have `P4` as a label, so I'll promote this to `P3`. :)

[2017-05-22 17:34] rnadrag commented on #1127
Haha I see, fair enough!

[2017-05-22 18:15] warent opened #1130 "Standalone Icons"
Would be nice if there was an officially supported package of the blueprint icons for standalone use. Is this possible?

[2017-05-22 18:21] tgreenwatts opened #1131 "Turn off autocomplete by default for DateInput"
![8547208e-3bdd-11e7-805b-1086369d4220](https://cloud.githubusercontent.com/assets/24398123/26322607/a5fc11e4-3ee0-11e7-9c5f-02b5e37cef22.png)

Prevent issues like this where IE is giving autocomplete options that don't make sense for `DateInput`

[2017-05-22 18:27] llorca commented on #1130
Hi @warent! Current icon system is deeply tied with `core`, but I suspect we can look into it after https://github.com/palantir/blueprint/issues/365 is completed

[2017-05-22 18:41] giladgray commented on #1128
oops i just did it...

[2017-05-22 18:42] giladgray commented on #1131
also NumericInput, i imagine

[2017-05-22 18:43] dphilipson commented on #1128
Haha, you're just too productive Gilad. Thanks for the quick turnaround!

[2017-05-22 18:44] giladgray commented on #1127
@rnadrag see #1132, let me know if the wording needs work

[2017-05-22 18:46] giladgray commented on #1130
to be fair, all the icons [font files](https://github.com/palantir/blueprint/tree/master/packages/core/resources/icons) and [svg images](https://github.com/palantir/blueprint/tree/master/resources/icons) are accessible in this repo. @warent you can easily download them separately.

note that the svg images are not published in any NPM package; they are only accessible from this git repo.

[2017-05-22 18:47] giladgray commented on #1126
I can't think of a good / clean way to list the `Classes` constants for a component on its docs page. That feels like more noise than signal. However, simply mentioning `Classes` somewhere in the docs as a place where you can find all the CSS constants should be easy enough!

[2017-05-22 18:52] rnadrag commented on #1127
@giladgray looks good to me!

[2017-05-22 19:18] #1127 closed

[2017-05-22 19:18] #1128 closed

[2017-05-22 19:19] #994 closed

[2017-05-22 20:24] warent commented on #1130
Understood, thank you. The main benefit is if the icons were updated, I would just do a quick npm update rather than having to manually redownload. For now will just download, but in the future definitely would be a nice-to-have!

[2017-05-23 01:07] adidahiya opened #1134 "Switch to node-sass-chokidar"
[create-react-app's dev guide](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-a-css-preprocessor-sass-less-etc) explains a few of the benefits (look for "Why node-sass-chokidar?"). Also see the [package README](https://www.npmjs.com/package/node-sass-chokidar).

[2017-05-23 15:53] remziduzagac commented on #1051
Im still having this error with 1.17.1 version. is that normal?

[2017-05-23 15:55] benhjames commented on #1051
Yeah - it's a breaking change so it was decided to release with 2.0.0 instead - the patch 1.17.1 reverted the fix. 🙂

[2017-05-23 15:59] tnrich commented on #1091
Hey there, so I thought that this had been solved by setting `inline:false` and specifing `tetherOptions`:

[code]
Here is a gif of that component being used:
![asdfasdfasd](https://cloud.githubusercontent.com/assets/2730609/26363155/1797b9a2-3f95-11e7-9143-7bf72549983b.gif)

As you can see I have inline false, the tetherOptions work, but the dateRangeInput **closes unexpectedly** after the first

[2017-05-23 17:16] remziduzagac commented on #1051
☺ thank you very much

23 May 2017 18:55 tarihinde "Ben James" <notifications@github.com> yazdı:

[2017-05-23 18:42] Que3216 opened #1137 "EditableText exits edit mode, even if isEditing is set to true"
Version: 1.17.1

If you have:

[code]

Then you'd expect it to be impossible for the user to get out of the editing state.

However if the user hits enter, it'll leave the editing state.

This makes it impossible to validate user input.

[2017-05-23 18:48] llorca commented on #1137
@Que3216 try using the different callbacks provided to control/validate user input: `onCancel`, `onChange`, `onConfirm`, `onEdit`

[2017-05-23 18:53] rclai opened #1138 "Isn't the pt-icon-key-delete supposed to point to the left?"
### Bug report

- __Package version(s)__: All
- __Browser and OS versions__: Any

#### Steps to reproduce
Just look at it.

#### Actual behavior

Points to the right

#### Expected behavior

Points to the left

[2017-05-23 19:02] llorca commented on #1138
For reference:
![image](https://cloud.githubusercontent.com/assets/199754/26371205/ed7ecf24-3fae-11e7-90a0-da5ccc6b517e.png)

I think the current icon is accurate. "Delete" removes characters from the right, whereas "Backspace" removes characters from the left. Note that we also have an icon for "Backspace":
![image](https://cloud.githubusercontent.com/assets/199754/26371457/a6556968-3faf-11e7-80e

[2017-05-24 02:37] purplesquirrels opened #1141 "EditableText multiline doesn't render correct height until focussed"
Version: 1.17.1, all browsers

This has been occurring for me since at least v 1.14.0, it has only become more noticeable now with more usage of the component.

I have an issue where my multiline EditableText components are rendering with a height much higher than the content until you focus the text. Once I focus the text it switches to edit mode and the height corrects itself. It's not happening

[2017-05-24 02:44] dc-artemis commented on #363
Possibly related bug where Command + click on a tab navigates focused tab and opens new tab in Authoring
https://github.palantir.build/foundry/authoring/issues/3082

[2017-05-24 02:47] #1141 closed

[2017-05-24 04:22] purplesquirrels commented on #1141
shortly after posting I found that the issue was with the parent component. It's width was being set from props using setState in componentDidMount so the updated width was not applied before render, causing EditableText to calculate an incorrect height. I moved setting the state to the constructor which solved the problem

[2017-05-24 05:53] pwilczynski opened #1142 "Add isFocused to EditableText"
- __Package version(s)__: 1.11.1

I'm trying to create an `EditableText` field which has the same behavior as Github Issues, but Editable Text cannot support both Enter and Shift + Enter for newline, and `onConfirm` gets triggered when users click outside the `EditableText` component.

My desired behavior:
- _Enter_: creates a new line
- _Enter + Shift_: creates a new line
- _Enter + CTRL or CMD_:

[2017-05-24 09:12] cetra3 opened #1143 "Cannot add more than 1 Column to Table"
### Bug report

- __Package version(s)__: blueprint ver `1.7.1` and blueprint table ver `1.14.0` w/ typescript `2.3.3`
- __Browser and OS versions__: Chrome

#### Steps to reproduce

1. Create a `*.tsx` file with the following:

[code]

#### Actual behavior

A nice typescript error:

[code]

#### Expected behavior

Compiles correctly.  The following code works:

[code]

[2017-05-24 15:09] rclai commented on #1138
Oh didn't see the backspace icon, thanks.

[2017-05-24 15:09] #1138 closed

[2017-05-24 16:10] #1143 closed

[2017-05-24 17:48] giladgray commented on #1142
@pwilczynski i don't understand the specific feature request here, but i'm quite sure that `isFocused` is not the correct solution: controlling HTML focus state through React is a recipe for disaster. can you clarify what sorts of changes would enable your use case?

[2017-05-24 18:10] #1131 closed

[2017-05-24 18:28] pwilczynski commented on #1142
@giladgray - Here's a fiddle of the rough UI I'm trying to implement; it's basically the same as the Github Editable Text feature where clicking off of the text doesn't exit edit mode, and instead there is a "Add Comment" button, which is also triggered with CMD-Enter.

Does that make sense?

https://jsfiddle.net/4kqphf7t/

[2017-05-24 18:49] pwilczynski commented on #1142
@giladgray thinking about this more, it's probably out of scope for `EditableText` the real feature that I'm probably looking for is more like `InputText` where the behavior is more like a traditional input, but with your bound key shortcuts and nice scrolling and line controls that `EditableText` has. Rather than onConfirm being triggered onBlur, I would imagine that onConfirm would only trigger

[2017-05-24 19:50] #1077 closed

[2017-05-24 21:18] llorca commented on #1142
Sounds like a `textarea` with an autoresize behavior based on content. The cmd+enter shortcut seems like a custom shortcut for that particular use case

[2017-05-24 22:27] llorca opened #1147 "Rename InputGroup to Input"
There's an opportunity to simplify this naming by merging input and input groups together into `Input` or `TextInput`. They're really the same thing. Thoughts?

[2017-05-24 22:47] adidahiya commented on #935
@sixinli @nchen63 is there anything useful in the full stack trace? that select2 error probably warrants a separate issue from this one

[2017-05-24 23:42] giladgray commented on #1147
`Input` seems sufficient to me. The Blueprint `Input` is simply more awesome than HTML's `<input>`; ours supports left icons and right elements!

[2017-05-25 03:22] nomadus opened #1148 "Does an input text component support input masks?"
Does an input text component support input masks? e.g. credit card number, xxxx-xxxx-xxxxx-xxxx

[2017-05-25 04:08] llorca commented on #1148
That is not currently supported

[2017-05-25 04:17] nomadus commented on #1148
That was a quick answer! Thank you!

[2017-05-25 09:12] cmslewis commented on #533
I finally was able to repro! This issue manifests when you change the number of rows _while ghost cells are enabled_. We should submit a fix.

[2017-05-25 20:10] adidahiya commented on #1053
Decided against this in #1055. The recommendation here is to get a ref on the input and call `setState()` on your own, which is exactly what these instance methods would've done anyway.

[2017-05-25 20:10] #1053 closed

[2017-05-25 21:21] tgreenwatts commented on #139
So there are only 10 instances of "Lorem ipsum" being used today, think we can just close this out?

[2017-05-25 22:44] #1094 closed

[2017-05-25 22:45] #1107 closed

[2017-05-25 22:45] #953 closed

[2017-05-25 22:48] llorca commented on #139
I think it's still a valid issue, just a P5 at this point. I will tackle it in June/July when I go through all the examples before we ship 2.0

[2017-05-26 18:44] greglo opened #1153 "pt-small hides icons for buttons with no content"
Here is a button group I have:
![image](https://cloud.githubusercontent.com/assets/2872321/26508164/761803f4-4208-11e7-94ff-42fdf6caab09.png)

Here is what it looks like if I add `pt-small` to the container with class `pt-button-group`:
![image](https://cloud.githubusercontent.com/assets/2872321/26508185/8d928da6-4208-11e7-88a1-8fdfda9dfaa1.png)

Perhaps the icon should not be hidden if there is n

[2017-05-26 19:17] giladgray commented on #1153
Small icons do not support buttons; this is mentioned in the docs. The
icons are too late for small buttons.

Sorry but your use case is not supported natively.

On Fri, May 26, 2017, 11:44 AM greglo <notifications@github.com> wrote:

[2017-05-26 19:59] adidahiya commented on #1153
What should we do here then? Segmented buttons with advanced options in a dropdown next to the main action are pretty common for us.

[2017-05-28 10:37] avifatal opened #1155 "Responsive layout, istn't that comes out of the box"
Hi,
I have made my initial layot really fast.
I use reflexbox to help with the layout (as i saw it is recemmended here).

When it comes to responsive, it does not work for me. see the following animated gif: https://www.screencast.com/t/zykhydjEjh

Isn't the framwork responsive out of the box, the top nav bar for example, isnt it responzive?
Thanks.

(BTW, if you have an admin layout for example,

[2017-05-28 17:53] giladgray commented on #1155
@avifatal **Blueprint is optimized for desktop applications.** It is not a responsive or mobile framework, because our company does hardly any mobile development--it's just not a priority. This is mentioned first thing in the [README](https://github.com/palantir/blueprint#blueprint-), but I see now it's not mentioned on the docs site (oops).

**So no, the framework is not responsive out of the box

[2017-05-28 19:16] dmackerman commented on #1134
Curious what you guys typically see as build times for your SASS? It's definitely the slowest part of the webpack build for us, so I'm always looking for ways to speed that up.

[2017-05-28 19:32] dmackerman commented on #1147
I like the change. We wrap `InputGroup` internally as `Input`, and essentially it's just a passthrough.

[2017-05-29 15:09] adidahiya commented on #1155
desktop applications need responsive layouts too, to accommodate various screen sizes. it's not just a question of mobile vs. everything else.

[collapsible list](http://blueprintjs.com/docs/#core/components/collapsible-list) is one component which helps with responsive layout. but otherwise it's all pretty manual and has to be implemented at the application level -- there isn't really any respons

[2017-05-29 17:02] adidahiya commented on #309
Based on [this post about the state of JS modules](https://medium.com/webpack/the-state-of-javascript-modules-4636d1774358), we should be compiling to `.mjs` files and point package.json's `"module"` to the ESM entry point.

[2017-05-30 10:10] pkwi commented on #1153
Ideally, we would keep caret icons in small buttons. These are required for segmented buttons and don't suffer from the small button/icon size issue.

[2017-05-30 17:00] adidahiya commented on #309
I can pick up this task this week.

[2017-05-30 17:32] llorca commented on #1153
@pkwi so allow carets only and disable other icons?

[2017-05-30 17:34] adidahiya opened #1156 "Expose original click event in Tabs2 onChange handler"
riffing off https://github.com/palantir/blueprint/issues/363... I want to check and see if the tab link click was a meta-click and in that case not run my onChange handler... so I need access to the original event

[2017-05-30 17:44] waltonseymour opened #1158 "Empty pages in docs"
http://blueprintjs.com/docs/#core/components/progress appears blank:

![screen shot 2017-05-30 at 1 43 46 pm](https://cloud.githubusercontent.com/assets/7594493/26596820/08199c8a-453e-11e7-8432-834c10bc18e9.png)

[2017-05-30 17:47] giladgray commented on #1158
this is expected: Progress is a page group that only contains other pages. Progress bars, Spinners, and Skeletons have the actual docs for those components.

this will be resolved by some upcoming docs design work.

[2017-05-30 17:51] giladgray commented on #1142
@pwilczynski It seems like you're using `EditableText` for the autosize behavior only, but ET provides much more than that (and enforces specific interactions). In the short term, you may have better results using some [react autosize component](https://www.google.com/search?q=react+autosize&oq=react+autosize) for that specific piece and implementing your own interactions. You can always slap a `.

[2017-05-30 17:53] giladgray commented on #1134
@dmackerman we compile sass outside of webpack because I have found that the webpack sass-loader pipeline is _very slow_. this also allows the JS and CSS to be re-compiled independently (definitely improves recompile times).

Compilation times are pretty quick in gulp, and most run in parallel:
[code]

[2017-05-30 18:56] waltonseymour commented on #1158
Ah didn't realize that. Thanks.

[2017-05-30 19:30] #1156 closed

[2017-05-30 21:21] #1109 closed

[2017-05-30 21:47] tgreenwatts opened #1161 "Improve reordering column/row visuals"
- [x] Extend the line into the header
- [X] Thicken the line for visibility [won't do]

Per feedback from: https://pl.ntr/fk

[2017-05-30 21:59] llorca commented on #1161
👍

👎

[2017-05-31 00:00] cmslewis commented on #1161
Agree with @llorca at first glance.

[2017-05-31 11:06] JuoCode opened #1166 "Weird focus actions when combine redux-form Field with Blueprint Dialog"
### Bug report

- __Package version(s)__: 1.18.0
- __Browser and OS versions__: Chrome 58.0.3029.110, macOS 10.12.3

#### Steps to reproduce

1. Wrap a form that contains two InputGroup use redux-form
1. Render wrapped form into Dialog
1. Click the first input
1. Click the second input

#### Actual behavior
When click the second input, first input is blur, but the second input not focus.

#### Exp

[2017-05-31 12:37] SgSridhar opened #1167 "setState on `onContextMenuClose` is throwing `setState` of undefined"
### Bug report

- __Package version(s)__: 1.15.0
- __Browser and OS versions__: MAC Sierra 10.12.5

#### Steps to reproduce

1.
[code]
Before the context menu is closed, it calls **onContextMenuClose** method of the component and when it's called I get the error **setState of undefined**. I tried binding **onContextMenuClose** method through the **constructor** of the component class but that didn

[2017-05-31 12:38] SgSridhar opened #1168 "setState on `onContextMenuClose` is throwing `setState` of undefined"
### Bug report

- __Package version(s)__: 1.15.0
- __Browser and OS versions__: MAC Sierra 10.12.5

#### Steps to reproduce

1.
[code]
Before the context menu is closed, it calls **onContextMenuClose** method of the component and when it's called I get the error **setState of undefined**. I tried binding **onContextMenuClose** method through the **constructor** of the component class but that didn

[2017-05-31 12:43] SgSridhar opened #1169 "setState on `onContextMenuClose` is throwing `setState` of undefined"
### Bug report

- __Package version(s)__: 1.15.0
- __Browser and OS versions__: MAC Sierra 10.12.5

#### Steps to reproduce

1.
[code]
Before the context menu is closed, it calls **onContextMenuClose** method of the component and when it's called I get the error **setState of undefined**. I tried binding **onContextMenuClose** method through the **constructor** of the component class but that didn

[2017-05-31 12:45] SgSridhar opened #1170 "setState on `onContextMenuClose` is throwing `setState` of undefined"
### Bug report

- __Package version(s)__: 1.15.0
- __Browser and OS versions__: MAC Sierra 10.12.5

#### Steps to reproduce

1.
[code]
Before the context menu is closed, it calls **onContextMenuClose** method of the component and when it's called I get the error **setState of undefined**. I tried binding **onContextMenuClose** method through the **constructor** of the component class but that didn

[2017-05-31 12:49] #1168 closed

[2017-05-31 12:50] #1167 closed

[2017-05-31 14:18] dmackerman commented on #1134
@giladgray That makes sense. Might look into using a separate gulp task for SCSS in dev.

[2017-05-31 15:26] #1142 closed

[2017-05-31 15:27] pwilczynski commented on #1142
Yeah, @giladgray that sounds like the right solution. Thanks so much for your support, that worked great.

[2017-05-31 17:50] giladgray commented on #1170
@SgSridhar this should be resolved with correct function binding, which is essentially what you're doing in your second code sample above.  As a rule, and to make your life much easier, all callback functions should be bound.

The easiest way to bind is with ES6 arrow functions (we do this heavily throughout the Blueprint codebase):

[code]

[2017-05-31 17:51] giladgray commented on #1166
This is in fact expected behavior, and `<Dialog autoFocus={false}>` is the correct solution. Glad you found it.

[2017-05-31 17:51] #1166 closed

[2017-05-31 17:53] giladgray commented on #309
👍  go for it!

[2017-05-31 18:03] giladgray commented on #309
@adidahiya however... https://medium.com/webpack/the-state-of-javascript-modules-4636d1774358#4cb9

[2017-05-31 20:51] tnrich commented on #969
Although @llorca brings up some good points, this has definitely been a slight pain point for us when using blueprint's table. We've had to wrap it in `react-measure` and manually set column widths but even when doing that there are various issues we've had to make hacky fixes for.

Maybe there is a way this could be done and still allow for all of the complex use cases?

Thanks!

[2017-05-31 21:03] llorca commented on #969
@tnrich there's surely a way, we just need to be careful about all design aspects and how different features can interact/conflict with each other. Not sure when we'll get to this as we're focused on substantial performance improvements at the moment!

[2017-05-31 21:18] pkwi commented on #1153
It's basically one icon that we make visible at any size. To make segmented buttons available at all sizes.

[2017-05-31 22:25] tgreenwatts opened #1173 "[Table] Add drag handle to interaction bar"
Per mocks
![f1- drag- hover 1](https://cloud.githubusercontent.com/assets/24398123/26656756/44fd6c08-4615-11e7-96ba-c8f8b2ecfef9.png)
![f2- drag- active](https://cloud.githubusercontent.com/assets/24398123/26656757/45ce29c4-4615-11e7-8062-dd6439b30be2.png)

Possibility of adding something to the non-interaction bar table as well, but not scoped here

[2017-05-31 22:40] tnrich commented on #892
Hey @giladgray , I'm encountering the following issue:

![image](https://cloud.githubusercontent.com/assets/2730609/26657182/37c179a6-4617-11e7-9c5c-a1bca5d9383a.png)

As you can see, the clickable region does not actually expand to the edges of its containing div which results in some clicks not working if you click on the edge of a cell.

My code is just like what you said to do above:
[code]

T

[2017-06-01 00:37] tnrich commented on #607
Hey there, I am using a blueprint NumericInput component as a page size tool:

![image](https://cloud.githubusercontent.com/assets/2730609/26659561/777bd7f8-4626-11e7-8413-debfd3fa37f4.png)

Ideally I'd only like to fire off page change requests onBlur/onEnter so as not to fire off requests while the user is actively typing in the input:
[code]

This works great if the user types directly into the

[2017-06-01 00:59] cmslewis commented on #607
Hi @tnrich, a similar request came up a few weeks ago (#1119). Maybe we can add something like `onButtonClick(valueAsNumber: number, valueAsString: string)`? Would that solve your case? Think you'd ever need to know which button (up/down) was pressed?

[2017-06-01 01:07] tnrich commented on #607
Hey @cmslewis, thanks for the quick response! Yup, I believe that would solve my need exactly!

Thanks!

[2017-06-01 13:07] qcz opened #1174 "Add option to swap month and year in the header of the date components' calendar view"
In some locales (e.g. Hungarian) the year precedes the month. Currently there is no way (AFAIK) to swap these in the header of the calendar view of blueprint datetime components.

![chrome_2017-06-01_14-58-32](https://cloud.githubusercontent.com/assets/304384/26680938/914a93c6-46db-11e7-89f1-2c980a7c2701.png)

Built in Chrome datepicker input:
![kep](https://cloud.githubusercontent.com/assets/3043

[2017-06-01 14:48] cjjojoba opened #1175 "InputGroup should have maxLength property"
Like EditableText, it should have a maxLength property.

[2017-06-01 16:19] thasner opened #1176 "Allow usage of `EditableText` without tracking staged changes"
#### Actual behavior

There's a class of usage where the user only cares about confirmed changes.
Still "controlled" for `value`, just not controlled for stagedValue.

#### Expected behavior

To HACK `value`-controlled usage, and not be forced to track `staged_value` in your component's state, you can just "reset" the component by giving it a `key` equal to `defaultValue`, e.g.:
[code]

another op

[2017-06-01 16:20] cmslewis commented on #1174
Hi @qcz, do clarify, do you mean swapping the positions of the month and year dropdown menus?

`[year ▼] [month ▼]`

[2017-06-01 17:35] thasner opened #1179 "Tooltips never disappear with disabled buttons"
### Bug report

- __Package version(s)__: "@blueprintjs/core": "^1.17.1",
- __Browser and OS versions__: Chrome on Mac Sierra 10.12.5

#### Steps to reproduce

[code]

1) Hover over button
2) Un-hover

#### Actual behavior

stays forever

#### Expected behavior

goes away

[2017-06-01 17:42] qcz commented on #1174
@cmslewis: Yes.

[2017-06-01 17:44] qcz commented on #1179
I just had the same problem. Use AnchorButton instead of Button.
See: #967

[2017-06-01 17:45] adidahiya commented on #1179
![image](https://cloud.githubusercontent.com/assets/723999/26692967/94e354ba-46d0-11e7-9b38-c8eeb962b180.png)

[2017-06-01 17:45] #1179 closed

[2017-06-01 17:46] thasner commented on #1179
interesting, thanks all

[2017-06-01 18:59] seansfkelley commented on #324
This also makes the API nicer for vanilla Javascript devs, where enumeration types like this aren't as idiomatic as they are in Typescript. https://github.com/dphilipson/typescript-string-enums is handy (I use it), and Typescript is adding string enumerations as a first-class thing in 2.4 (https://github.com/Microsoft/TypeScript/pull/15486).

[2017-06-01 19:02] JuoCode opened #1180 "Add content and target support for Alert component"
Add `content` and `target` support for `Alert` component, then `Alert` can be used in uncontrolled mode like `Popover`.

[code]

[2017-06-01 19:10] llorca commented on #1180
`Alert` is specifically designed to be opinionated with restrictive interactions. In the meantime, try `Dialog` for a more controlled, flexible usage?

[2017-06-01 19:20] giladgray commented on #1180
There was a proposal a while back to introduce `Toaster`-style imperative APIs for `Dialog` and `Alert`, which I prefer more than this `Popover`-style proposal.

[code]

[2017-06-01 19:21] giladgray commented on #1175
`InputGroup` supports all HTML props so this is already implemented. @cjjojoba did you try it?

![image](https://cloud.githubusercontent.com/assets/464822/26696814/d2918716-46c4-11e7-8ede-cc894e016c1b.png)

[2017-06-01 19:22] giladgray commented on #1175
`InputGroup` supports all HTML `<input>` props (this is mentioned in the docs) so this is already implemented. @cjjojoba did you try it first?

![image](https://cloud.githubusercontent.com/assets/464822/26696814/d2918716-46c4-11e7-8ede-cc894e016c1b.png)

[2017-06-01 19:23] #1175 closed

[2017-06-01 19:25] giladgray commented on #1174
@qcz the team will not have bandwidth to implement this anytime soon. I wonder if this is possible in the short term with a wee bit of CSS (on your end) to flip the position of the two `<select>` elements?

[2017-06-01 20:19] styu commented on #605
+1 it would be nice if the `title` attribute was propagated through so we could have browser tooltips, in the case that text is cut off

[2017-06-01 20:23] tgreen7 opened #1182 "Closing a Popover that is in a Dialog should not remove 'pt-overlay-open' from the document body"
### Bug report

- __Package version(s)__:  1.18.0
- __Browser and OS versions__: all

#### Steps to reproduce

create a dialog with a popover inside:
[code]
#### Actual behavior

When the dialog opens it adds the class 'pt-overlay-open' to document.body so that the body doesn't scroll while the dialog is open. However, if you open and close a popover in the dialog it removes the class from the bod

[2017-06-01 22:14] giladgray commented on #935
👨‍⚕️ _boom diagnosed:_

![image](https://cloud.githubusercontent.com/assets/464822/26702924/ff92dcb2-46db-11e7-8e7a-a05a6c96129b.png)

`e` is the event from clicking on a react-select option inside a `Popover`, as handled by [`Overlay#handleDocumentClick`](https://github.com/palantir/blueprint/blob/master/packages/core/src/components/overlay/overlay.tsx#L321-L322), and it's coming from an element

[2017-06-01 22:17] giladgray commented on #935
Two potential fixes:

1. add that `e.target.closest("body")` check to [`Overlay#handleDocumentClick`](https://github.com/palantir/blueprint/blob/master/packages/core/src/components/overlay/overlay.tsx#L321-L322)
2. expose `canOutsideClickClose` on `Popover` props

[2017-06-02 00:15] giladgray commented on #935
A third potential fix: Blueprint's own `Select` from #1159 😱

[2017-06-02 06:15] qcz commented on #1174
@giladgray: I do not like to use hacky solutions like that as they tend to broke when components are refactored or improved. But as you accept PRs for this, I'll try to implement a solution.

[2017-06-02 09:54] cjjojoba commented on #1175
@giladgray didn't know, thanks!

[2017-06-02 16:23] fabiocba opened #1184 "DatePicker modifiers "disabled""
### Bug report

I need to disable a list of dates according to a function (which finds whether the day is on a list). However,
Datepicker "disabled" modifiers doesn't disable a Date.
Any other values for CSS sufix works (if styling it manually) but a check function is necessary to properly disallow clicks. It seems the disabled word is reserved.

- __Package version(s)__: 1.15.0
- __Browser and OS

[2017-06-02 17:44] giladgray commented on #1184
@fabiocba `DatePicker` does not support custom `disabled` modifier because it implements its own. [See here](https://github.com/palantir/blueprint/blob/master/packages/datetime/src/datePickerCore.tsx#L59-L65) for the full list of disallowed modifiers. Sorry this isn't spelled out in the docs.

[2017-06-02 17:45] giladgray commented on #1182
oh snap sounds like a job for the `Overlay` stack.

[2017-06-02 20:11] tgreenwatts opened #1186 "Move table locator from state"
The Table's locator is in the state, which means when the Table mounts, the locator isn't necessarily set yet. This means apps can't do things like `resizeByTallest` on mount, which is unideal

[2017-06-02 20:14] giladgray commented on #1186
i feel like a logical step is missing in this issue... locator living in state (or not) should have no bearing on its existence at mount time--that can be achieved correctly in both cases (probably in `componentWillMount`).

what's the real problem here?

[2017-06-02 20:17] gscshoyru commented on #1186
Not quite clear, sorry -- the locator is set in the state of table's componentDidMount (which it needs to be because it needs the DOM elements) -- and so we call setState in componentDidMount. The problem is that it's not immediately propogated to the state when we do that (obviously) so if a parent tries to a function that uses it in _its_ componentDidMount it won't work.

I'm not sure why the lo

[2017-06-02 21:20] fabiocba commented on #1184
Hey @giladgray, thank you. That's OK. Just in case someone else has a similar question, I've managed to disable the dates I wanted by using a different name ("disable") for the modifiers property and defining an intermediate function to prevent clicks on undesirable days:

[code]
Also, in CSS I created the disable class using the same properties as in the blueprintjs css:

[code]

Best

[2017-06-02 21:24] tgreenwatts commented on #1006
Close as success?!

[2017-06-02 22:20] llorca commented on #1006
@tgreenwatts yes! Success!

[2017-06-02 22:56] #1006 closed

[2017-06-03 00:24] giladgray commented on #1186
why is it set in `componentDidMount` vs `componentWillMount`? state properties that are needed at render time should use `Will`.

[2017-06-03 08:54] tnrich opened #1187 "Table selection/context menu bugginess"
### Bug report

- __Package version(s)__: Latest
- __Browser and OS versions__: Mac Sierra

#### Steps to reproduce

There are actually 2 things happening here, the first, and more important one for me, is that it doesn't seem like the Table component handles context menu clicks in the usual way:
![asdfasdfasd](https://cloud.githubusercontent.com/assets/2730609/26752157/71884442-47fe-11e7-94be-ba1

[2017-06-03 17:56] llorca commented on #1187
Thanks for the report! The first issue you mentioned is tracked here: https://github.com/palantir/blueprint/issues/1083

Regarding the page shifting slightly when opening a context menu, I'm not sure what's happening, we'll investigate.

[2017-06-04 22:00] TheDolo opened #1188 "Adding Scrollable overlays breaks canOutsideClickClose with hasBackdrop false"
### Bug report

- __Package version(s)__: Chrome
- __Browser and OS versions__: OSX

#### Steps to reproduce
Code from the github overlay docs:
[code]

#### Actual behavior

- canOutsideClickClose no longer closes the overlay.

#### Expected behavior

- canOutsideClickClose closing the overlay.

#### Workaround
Use backdropClassName to set background:transparent.

Thank you :)

[2017-06-05 13:21] Que3216 opened #1189 "FR Blueprint Table: Add drag handle into header cell"
Currently you can't just drag a column. You have to select it, release the mouse, and then re-drag. Our users are finding this confusing.

Would it be possible to add a prop that changes the behavior of the table, so that you can drag columns without selecting them first?

Maybe if the selection mode is set to disable selection of columns, then the table could behave like this automatically.

[2017-06-05 15:09] adidahiya commented on #1189
Makes sense, we'd take a PR for this.

[2017-06-05 16:32] cmslewis commented on #1189
I was just starting to think about this last week; definitely agree that this should be a thing. There's a fair bit of rejiggering we'd have to do in the code, but it seems doable without too much headache.

[2017-06-05 16:52] gscshoyru commented on #1186
@giladgray it needs access to the DOM elements, as stated above. It can't get at those except via ref's, so it can't be added until after mount.

With that said -- I'm not sure if it needs to be in state or not. My original thought when first discussing this is that it really shouldn't be -- but to some degree, putting it in state allows the table to re-render to pass it down to the children. I'm

[2017-06-05 17:27] #1158 closed

[2017-06-05 19:35] #607 closed

[2017-06-05 21:04] glentakahashi opened #1190 "Virtualized Selects"
This is an FR for the upcoming Selects.

Selects should be virtualized for large lists

[2017-06-05 21:12] glentakahashi opened #1191 "Performant Filtering in Selects"
FR for the upcoming selects.

When filtering in a select with 1000's of elements, if filtering is done without pagination, the element can lag a lot. The select should optionally automatically paginate when filtering, so that if I type "A" into the box, it doesn't do a comparison on every single value in the select, and only loads as many matching results as can be displayed.

Can describe more in

[2017-06-06 00:57] AlexLandau opened #1193 "IE11: In non-ideal state, long description text doesn't wrap"
### Bug report

- __Package version(s)__: 1.18.0
- __Browser and OS versions__: IE 11.916, Windows 10

#### Steps to reproduce

Create any non-ideal state page with a sufficiently long description text, or alternatively:

1. Open http://blueprintjs.com/docs/#core/components/non-ideal-state in IE
2. In the example non-ideal state, replace (via F12 developer tools) the sample text "Create a new file

[2017-06-06 17:48] tgreenwatts opened #1194 "[Table] Ignore header rows in resizeByTallest"
Column headers can often have substantial additional content in them
We shouldn't use the column header height in determining the tallest row in the current view

Context: https://pl.ntr/fp

[2017-06-06 18:27] michael-yx-wu opened #1195 "Visually jarring button default button styles"
The default disabled button styles are jarring when used in a button group:

![screen shot 2017-06-06 at 2 24 28 pm](https://user-images.githubusercontent.com/3681045/26845397-5fc80e7c-4ac4-11e7-9b6a-211eb9b46136.png)

In the above component, both clicked and un-clicked buttons have a slight 3D feel due to the color gradient. The disabled button on the end is absolutely flat and doesn't visually b

[2017-06-06 18:33] tgreenwatts commented on #1193
😱

[2017-06-06 18:49] AlexLandau commented on #365
Here's a link for the STIG mentioned earlier, including how to configure IE to reproduce the problem: https://www.stigviewer.com/stig/microsoft_internet_explorer_11/2015-03-26/finding/V-46505

[2017-06-06 18:52] adidahiya commented on #1195
I don't really see a problem with the disabled button being flat... maybe we could add a light border on it?

[2017-06-06 18:57] giladgray commented on #1195
border could help, but i think it's pretty clear that that button is not interactive.

[2017-06-06 19:06] giladgray commented on #1190
I can guarantee you that the `Select` component will not be virtualized any time soon, because that's beyond the scope of a single component. My ideal implementation for this is to support composition with a library like [react-virtualized](https://github.com/bvaughn/react-virtualized) through `InputList`'s `renderer` prop.

[2017-06-06 19:51] tnrich commented on #607
Thanks @cmslewis , just to be clear, this hasn't been released yet, right?

[2017-06-06 19:52] llorca commented on #1195
Our main principle here is that if a button is interactive, we have affordances such as very lightweight gradient and shading; if it's not interactive, we remove those affordances. Making a disabled button 3D or a regular button flat would go opposite of our principle.

Gonna close this out as we don't plan on changing just a single state -- if we iterate, it'll be part of a larger button redesign

[2017-06-06 19:52] #1195 closed

[2017-06-06 19:53] llorca commented on #1193
I can look at it later when I get my hands on a Windows machine, otherwise would gladly accept a contribution

[2017-06-06 19:53] cmslewis commented on #607
Nope, but it'll go out in our next release (our issues just close automatically when a PR mentioning them merges).

[2017-06-06 19:54] tnrich commented on #607
Okay, cool, thank you!

On Tue, Jun 6, 2017 at 12:53 PM Chris Lewis <notifications@github.com>
wrote:

[2017-06-06 20:19] adidahiya commented on #1186
can you point to some code for this? who's trying to access the locator/

[2017-06-06 20:56] gscshoyru commented on #1186
@adidahiya we have a consumer of Blueprint that wants to call `resizeByTallest` immediately on render -- in `componentDidMount`. `resizeByTallest` wants the locator.

[2017-06-06 21:46] #1194 closed

[2017-06-07 17:43] tgreenwatts opened #1199 "resizeByTallest doesn't work for loading cells"
resizeByTallest currently covers cases where you have normal text in cells and truncated format cells
but it does not take into account loading cells

[2017-06-07 17:43] gscshoyru opened #1200 "[Table] cover loading states in resizeByTallest"
### Bug report

- __Package version(s)__: Table, 1.15
- __Browser and OS versions__: Chrome, OSX

#### Steps to reproduce

1. Create a table that has loading cells
1. Call `resizeByTallest`

#### Actual behavior

Error ` TypeError: Cannot read property 'scrollHeight' of null`

#### Expected behavior

Correctly gets the height of the loading cells (normal cell height) and resizes with that taken in

[2017-06-07 17:44] #1199 closed

[2017-06-07 17:44] tgreenwatts commented on #1199
Oops dupe: https://github.com/palantir/blueprint/issues/1200

[2017-06-07 18:17] tgreenwatts commented on #870
Didn't we deprecate `useSmartPosition` ? Can we close this now?

[2017-06-07 18:18] tgreenwatts commented on #100
Didn't we deprecate `useSmartPositioning`? Can we close this? Or remove from the docs?

[2017-06-07 21:45] adidahiya commented on #100
The docs should demonstrate _some_ kind of smart positioning, they shouldn't use the `useSmartPositioning` API though

[2017-06-07 22:50] tgreenwatts commented on #1121
Does this require work on blueprint's side? Sorry I'm unclear

[2017-06-07 23:32] tyscorp opened #1202 "Replace Tether with Popper.js"
According to [the Tether repo](https://github.com/HubSpot/tether#rotating_light-project-status-rotating_light), Tether is no longer being actively maintained.

What is the plan for blueprint?

Taking over Tether? Replacing it with another library, such as the one recommended by Tether, [Popper.js](https://popper.js.org/)?

[2017-06-07 23:33] giladgray commented on #1202
@tyscorp whoa i am so down for a new/better Tether replacement! it was starting to be the source of most of my daily pain...

but this is news to me, so i'll have to do some research. open to suggestions!

[2017-06-08 06:25] jonaswindey opened #1205 "Toaster not working with SSR"
### Bug report

- __Package version(s)__: 1.18.0
- __Browser and OS versions__: Chrome & OS X

#### Steps to reproduce

1. Create a Toaster instance as described in docs:

[code]
2. Reference the component in your app by importing it
3. Call the show() method
[code]

#### Actual behavior

[code]

#### Expected behavior

Toaster shouldn't be rendered on server-side since document object doesn't exi

[2017-06-08 06:40] jonaswindey commented on #1205
Solution:

in Toaster.js, add extra check:

[code]

[2017-06-08 10:21] SgSridhar commented on #1170
It worked for me. Thanks! Closing the Issue

[2017-06-08 10:21] #1170 closed

[2017-06-08 16:19] adidahiya commented on #1202
I think the deprecation of Tether doesn't present much urgency for us. We haven't upgraded the library in a very long time and haven't filed bugs / PRs against the repo, so it's clearly pretty stable for us.

If we do find that Tether is significantly impeding our progress on Popover, though, then we should certainly consider switching to Popper.js or writing our own implementation.

[2017-06-08 20:02] giladgray commented on #1202
@adidahiya I disagree. As I said above, almost every major Popover issue can be traced to something in Tether, not in our code: #1091, #935, #870, #849, #724, #692, #512, #408, #100.

[2017-06-08 20:04] giladgray commented on #1202
there's a whole class of `Popover` issues regarding "smart positioning" (both popover and arrow) and it seems like popper.js has _much_ improved support for both of those features.

[2017-06-08 20:05] #997 closed

[2017-06-08 20:06] giladgray commented on #1191
The `Select` component does not take any steps to ensure performance when filtering, but it does provide some hooks to allow you to implement your own behavior if you know your data scale is above the usual safe limits. For instance, use `itemListPredicate` to process the entire list once (or only a subset of it) rather than operating on each item. You can also simply do your own filtering logic b

[2017-06-08 20:08] #1200 closed

[2017-06-08 20:14] giladgray commented on #1202
@adidahiya I see some urgency here. There's a whole class of `Popover` issues regarding "smart positioning" (both popover and arrow) and it seems like popper.js has _much_ improved support for both of those features. As I said above, almost every major `Popover` issue can be traced to something in Tether, not in our code: #1091, #935, #870, #849, #692, #408, #100.

I'll be looking into this over t

[2017-06-08 20:19] llorca commented on #1202
Second that, we have so many issues with popover (and popover arrow) positioning. In my opinion, popover is broken in one big way in the fact that we don't have true smart positioning, i.e. the popover knows how to position itself no matter the content or context around it. In addition, Tether constraints API is far from the ideal developer experience, I'm positive we can do much better.

[2017-06-08 20:32] seansfkelley commented on #304
I think a `Badge` component would be great -- it's a pretty common UI tidbit, and while it's on the simpler end of the components that Blueprint offers I don't think it would fall under "so trivial as to be considered library bloat". As you say, it's about a complicated as `Tag`, but that one made it into the library! Here's a strawman props definition for the component:

[code]

and it could be u

[2017-06-08 23:29] llorca commented on #304
@seansfkelley yup I understand that, what you describe is an opinionated usage of a tag basically--tag is arguably a more generic element. We're working on a way to share and expose these cool components built on top of Blueprint, without having to necessarily integrate everything into `core`. Look out for updates on that soon!

[2017-06-09 10:43] raviteja83 opened #1213 "Text align vertically center in cell"
Vertical center align text in cells when the default height is increased. currently it is positioned absolutely at top: 0. is there any possible way to change this? Also cell className prop is not used.

[2017-06-09 18:09] nschwan94 commented on #480
I'm finding the background color of tooltips prohibitively difficult to implement. Why? I've used tooltipClassName and both a <style> tag and an external sass stylesheet to try and override the background color, but to no avail.

[2017-06-09 18:46] llorca commented on #480
@nschwan94 You have to override two properties to change both the background of the tooltip and tooltip arrow. Looks like this:

[code]

[2017-06-09 19:02] cmslewis opened #1214 "[Table] Investigate how to put shouldComponentUpdate into Header directly"
### Bug report

- __Package version(s)__: v1.19.0

#### Description

Currently, we have the same custom `shouldComponentUpdate` code in both `ColumnHeader` and `RowHeader` (as of #1215). The preferred approach is to put that code in `Header#shouldComponentUpdate`, but that causes tests to fail. Need to figure out why.

[2017-06-09 19:23] michael-yx-wu opened #1216 "Global hotkeys do not work when focused on an InputGroup"
It seems like `InputGroup` or perhaps native `input` is swallowing the event and my hotkey action is never triggered. @adidahiya mentioned that:

Is this something BP could eventually handle for us?

[2017-06-09 20:30] llorca commented on #1216
Definitely something we should support! Can't tell you exactly when we'll be able to get to it

[2017-06-11 09:16] AlexMarvelo opened #1220 "[TimePicker] Add minTime and maxTime options to TimePicker"
I think that minTime and maxTime options for TimePicker (as minDate and maxDate for DateInput) will be very useful.
I'm ready to contribute this feature

[2017-06-12 15:13] adidahiya commented on #1220
Sure, that makes sense, accepting PRs

[2017-06-12 18:12] #533 closed

[2017-06-12 19:11] themadcreator opened #1223 "[Table] add token cancellation to requestIdleCallback polyfill"
The current polyfill for `requestIdleCallback` is not cancelable with a token. In the future it may be desirable to explicitly cancel the callback.

To allow this we'll have to generate tokens (e.g. `Math.floor(Math.random() * (1 << 52))` and maintain a map of token to callback.

[2017-06-12 20:10] giladgray commented on #1216
**wait hold up, this is a _by design_ situation**, and is the norm for hotkeys libraries: hotkeys do not fire from text inputs because you typically want to _type_ in a text field, not trigger random UI actions.

other major hotkeys libraries that ignore text inputs:
- mousetrap https://craig.is/killing/mice#api.bind.text-fields
- keymaster https://github.com/madrobby/keymaster#filter-key-presses

[2017-06-12 22:17] michael-yx-wu commented on #1216
That makes sense since you probably don't want hotkeys like `shift + letter` to trigger while you're typing.

For some context, I'm building a spotlight-search-like component that requires me to be able to quickly show / hide the component via a hotkey. The component is effectively a glorified `InputGroup`. +1 to having some sort of prop like `allowInTextInput`.

[2017-06-12 22:27] giladgray commented on #1213
@raviteja83 can you implement this with some custom css in your app? worst case, add your own `<div class="my-custom=class">` around the content to position it as desired.

[2017-06-12 22:33] rrcobb opened #1224 "Toast api seems to violate core React principles"
### Discussion
- __Package version(s): 1.17.1

[Toasts and the Toaster component](http://blueprintjs.com/docs/#core/components/toast) api do not to follow standard React data flow. Most of the blueprint component api (and indeed most React components) allow data and configuration to be passed to components via props. The Toaster component api relies on the methods exposed on a reference to the com

[2017-06-12 22:47] llorca commented on #1216
Yeah, that's the common use case where you need hotkeys within an input. `Select` and the upcoming `Suggest` work the same.

@michael-yx-wu slightly off topic, but if you're combining `InputList` and `Overlay`, I would want it as a first class Blueprint component

[2017-06-12 23:58] tgreenwatts opened #1226 "[Table] Full table selection can't copy"
Desired workflow:
Click upper left corner
Cmd+C
Get all contents of the table

[2017-06-13 01:06] llorca commented on #1226
+1. Might as well add `cmd+a` for select all while we're at it

[2017-06-13 10:54] TomMarius commented on #324
TypeScript 2.4's string enums are now definitely the way to go.

[2017-06-13 16:28] dmackerman commented on #1216
Noticed this as well. I think by design it makes sense for most cases, but there are definitely cases (like CMD+ENTER to Submit) where you **do** want Keyboard interaction to work inside of `input`.

[2017-06-13 19:53] cmslewis opened #1230 "[Table] Do we need loading states on ghost header cells?"
### Bug report

- __Package version(s)__: v1.20.0

#### Steps to reproduce

1. Enable loading for column header cells.

#### Actual behavior

Ghost header cells have loading bars.

![image](https://user-images.githubusercontent.com/443450/27101566-24068c6a-5037-11e7-877b-39b3ea1eb89f.png)
<img src="https://user-images.githubusercontent.com/443450/27101623-5f53dd72-5037-11e7-89cb-ded4a9f5e744.png"

[2017-06-13 19:53] cmslewis commented on #1230
// CC @tgreenwatts

[2017-06-13 20:41] llorca commented on #1230
Why wouldn't you? Loading bars are helpful anywhere data can be loaded, which applies to both body cells and column headers. We also do it for rows because we can't know for sure the number of rows before loading

[2017-06-13 20:44] cmslewis commented on #1230
@llorca Ah yeah, makes sense if the table dimensions aren't known yet. I'll close.

[2017-06-13 21:30] nackner opened #1231 "Styles incorrect for Checkbox within Radio"
### Bug report

- __Package version(s)__: 1.13.0
- __Browser and OS versions__: Chrome

#### Steps to reproduce

[code]

#### Actual behavior

Checkbox looks like a radio button

#### Expected behavior

Checkbox looks like a checkbox

[2017-06-13 21:33] giladgray commented on #1231
@nackner this is not a valid usage of these two HTML inputs and is unsupported by both Blueprnt and the browser. Why are you trying to put one control _inside_ another?

[2017-06-13 21:41] nackner commented on #1231
Closing out per discussion off thread.

[2017-06-13 21:41] #1231 closed

[2017-06-13 22:45] giladgray commented on #1231
result of discussion: don't nest inputs cuz it'll never work right (nested labels cause weird click behavior). instead, do some custom styling so it _looks_ like checkbox is nested inside radio.

[2017-06-13 22:46] tgreenwatts commented on #1230
Wait but what if we *do* know the number of columns already? Doesn't this example show that we know how many columns we have, so we shouldn't pretend we're going to load other columns?

[2017-06-13 23:00] llorca commented on #1230
You may know the number of columns while not knowing the content of those columns, in which case you'll still need a loading state

[2017-06-13 23:55] tgreenwatts commented on #1230
Cool clarified offline
If you know the number of columns, only show loading state for the columns you know are going to load

[2017-06-14 09:32] seansfkelley opened #1233 "[Table] wrapped table with onSelection listener doesn't allow select-all"
### Bug report

- __Package version(s)__: core: 1.17.1, table: 1.17.0
- __Browser and OS versions__: Chrome 58.0.3029.110, OS X 10.12.5

#### Steps to reproduce

Using this table-containing component:

[code]

1. Click on the top-left-most header cell (the "select all" cell).

#### Actual behavior

1. Selection does not change from it's current state.

#### Expected behavior

1. Selection is set t

[2017-06-14 10:28] seansfkelley opened #1234 "[Table] EditableCell + setState = value doesn't change"
### Bug report

- __Package version(s)__: whatever is on the docs at the time of filing (Core v1.20.0, Table v1.17.0)
- __Browser and OS versions__: Chrome 58.0.3029.110, OS X 10.12.5

#### Steps to reproduce

1. Go to the "Editable content" docs: http://blueprintjs.com/docs/#table-js.editable-content and open React dev tools
2. Find the `TableEditableExample` component and select it such that it'

[2017-06-14 12:26] seansfkelley opened #1235 "[Table] EditableCell doesn't grow to match the row like EditableName does with defaultRowHeight set"
### Bug report

- __Package version(s)__: core: 1.20.0, table: 1.17.0
- __Browser and OS versions__: Chrome 58.0.3029.110, OS X 10.12.5

#### Steps to reproduce

[code]

#### Actual behavior

Header has the right size:

![image](https://user-images.githubusercontent.com/2101409/27131948-3cf689e2-510d-11e7-9df8-86e4a2d694f2.png)

But the cell doesn't:

![image](https://user-images.githubusercontent

[2017-06-14 12:52] seansfkelley opened #1236 "table: single-click to edit body cells"
As noted in the docs, editable table body cells require a double-click to start editing, in contrast to editable header cells, which are single click. It would be nice if body cells only needed a single click, or if there were at least an option for this. I want this mostly for consistency in a table that will have about as many writes as reads, plus (tangential bug report) double-click-to-edit is

[2017-06-14 17:34] cmslewis commented on #1233
Oh this sounds interesting. Will dig in this week. 👍

[2017-06-14 17:44] timurridjanovic opened #1237 "error loading with typescript 2.4"
### Bug report

- __Package version(s)__: 1.20.0
- __Browser and OS versions__: Chrome Version 58.0.3029.110 and OS X El Capitan 10.11.6

With typescript 2.4 I get this error (The error was not present with typescript 2.3.3):
[code]

my package.json dependencies:

[code]

My tsconfig

[code]

[2017-06-14 19:44] michael-yx-wu opened #1238 "Shift + ? does not dismiss hotkeys dialogs"
Shift + ? shows the hotkeys dialog but does not dismiss it.

From @gjavitt:

[2017-06-14 20:09] llorca commented on #1238
Wouldn't mind `shift+?` acting as a toggle. Cross / dismiss button aren't necessary as you can already either press `esc` or click outside

[2017-06-14 20:10] #1186 closed

[2017-06-14 20:18] gjavitt commented on #1238
Does clicking on the backdrop also dismiss?
I was worried about less technical users getting stuck here and not figuring out how to dismiss it. Have met users who don't use their keyboards if they can avoid it.

[2017-06-14 20:19] llorca commented on #1238
Yes, that's what I meant by "clicking outside", i.e. clicking on the backdrop

[2017-06-14 20:20] gjavitt commented on #1238
Ah, misread. sgtm

[2017-06-14 21:28] cmslewis commented on #887
@tgreenwatts think we can close this one? We're solving perf in other ways, and the scrolling-UX change here is questionable.

[2017-06-14 22:47] #887 closed

[2017-06-15 14:38] alshain opened #1240 "Overlay background is in front of overlay content by default"
### Bug report

- __Package version(s)__:
- __Browser and OS versions__: Win 10, Chrome 59
#### Steps to reproduce

1. [Open overlay example ](http://blueprintjs.com/docs/#core/components/overlay)
2. Observe how zIndex is only set because of style [OVERLAY_EXAMPLE_CLASS](https://github.com/palantir/blueprint/blob/94e5bd35c6b99bc3f1f0e3009e9c4056cb8c0e24/packages/core/examples/overlayExample.tsx#L5

[2017-06-15 16:37] FezVrasta commented on #1202
Before you write a custom implementation please consider to raise new issues against the Popper.js repository, I'd be happy to review your concerns!

[2017-06-15 18:00] seansfkelley opened #1241 "[Table] placeholders for EditableCell/EditableName"
I'm using Table in an edit-heavy workflow, and the editable column/row header cells have very specific meanings. I'd like to be able to provide a placeholder, like a normal input, to help hint the user what they're supposed to be used for.

[2017-06-15 18:01] #672 closed

[2017-06-15 18:08] cmslewis opened #1242 "[Table] Add reorder handle to column header cells when reordering enabled"
**Problem**
When tasked with reordering a single column in the `Table`, users don't realize that you have to click-select the column first, _then_ reorder it via click-dragging.

**Proposal**
Add drag-reorder handles to `ColumnHeaderCell`s that, when click-dragged, always triggering reordering regardless of the column's selected state.

[2017-06-15 18:49] giladgray commented on #1202
@FezVrasta there's basically no chance we build our own popper implementation (cuz that sounds like a special kind of nightmare), especially when popper.js looks _so damn good_ 🔥 🔥 🔥

[2017-06-15 18:54] Ciantic commented on #303
Should this work at the moment? I'm not getting a `<script />` tag for the blueprintjs when using the unpkg webpack loader. I do get it for e.g. react.

[2017-06-15 18:57] llorca commented on #721
@ysmood I was just looking at that, there's a public method you can import and use to customize `globalHotkeysGroup`:
[code]
Does it solve your issue?

[2017-06-15 19:46] Ciantic commented on #303
I think it works, but it's not discoverable by whatever way the modules cdn plugin finds it, I think the right url is this:

https://unpkg.com/@blueprintjs/core@1.15.0/dist/core.bundle.js

[2017-06-15 20:54] giladgray commented on #303
@Ciantic it would seem like that webpack plugin does not support the `unpkg` key in package.json, which we define for each of our packages and rely on for correct usage with unpkg.com (see https://unpkg.com/#query-parameters). not much to be done on this end 😭

[2017-06-16 04:01] ysmood commented on #721
Sure, it does. A little bit hack though.

[2017-06-16 16:46] marwahaha opened #1246 "[DateInput] Today's date looks like it's selected but is in fact not"
### Bug report

- __Package version(s)__: 1.20.0
- __Browser and OS versions__: Chrome 58.0.3029.110

#### Steps to reproduce

1. Go to http://blueprintjs.com/docs/#datetime/dateinput
2. Set precision to something (not None)
3. Click on input and remove date
4. Click away and click again on (empty input)

#### Actual behavior

5. Today's date is "selected" on the calendar

#### Expected behavior

[2017-06-16 17:00] llorca commented on #1246
Uh oh, good catch. We'll look at it next week, hopefully it's a quick fix

[2017-06-16 17:02] llorca commented on #721
Yeah it's not super standard but that's how the API is structured now. We will revisit in the future

[2017-06-19 17:15] #1234 closed

[2017-06-19 19:20] gscshoyru opened #1249 "[Table] Weird multi-region-select behavior"
### Bug report

- __Package version(s)__: Latest
- __Browser and OS versions__: Chrome, OSX

#### Steps to reproduce

1. Select some regions holding down command
1. Select a column or row header to select that as well, still holding down command

#### Actual behavior
The new region is added to the selection, but other regions... do strange things. See attached screenshot

#### Expected behavior

T

[2017-06-19 21:35] mud opened #1252 "IE11: textarea no longer has border when overflowing and unfocused"
### Bug report

- __Package version(s)__: @blueprintjs/core@1.20.0
- __Browser and OS versions__: IE11 Windows 8.1

#### Steps to reproduce

1. In a `<textarea>` type in enough characters to trigger a scroll bar to appear
2. Unfocus the `<textarea>`

#### Actual behavior

`<textarea>` should retain border of the unfocused state

#### Expected behavior

`<textarea>` does not have any border

#### S

[2017-06-20 09:39] alshain opened #1254 "DateRangeInput: Controlled component doesn't accept value=[undefined, undefined]"
### Bug report

- __Package version(s)__:  core: 1.20.0, datetime 1.17.0
- __Browser and OS versions__: Chrome, Win 10
#### Steps to reproduce

[code]

#### Actual behavior

The type definition requires `value` to be of the type `[Date | undefined, Date | undefined]`.  Passing [undefined, undefined], however, results in the following:

![image](https://user-images.githubusercontent.com/349397/2732

[2017-06-20 12:46] aleksey-shmatov commented on #1237
This is caused by introduction of additional restrictions on "weak" types in TypeScript 1.4.

React.DomAttributes is a weak type.

[2017-06-20 15:52] 3d0 opened #1255 "Overlay using CDN"
### Bug report

- __Package version(s)__: Core from 1.11 to 1.20, using react-with-addons from 15.3.1 to 15.6.1
- __Browser and OS versions__: Chrome 59

#### Steps to reproduce

1. Build a simple page with a buildless react (with addons)
1. Add the CDN support of Blueprint
1. add an overlay to the view

#### Actual behavior

Overlay doesn't appear at all. The console yields error:
Element type is

[2017-06-20 16:09] adidahiya commented on #1255
You have a JS error in your console; make sure to include all of Blueprint's dependencies:

[code]

[2017-06-20 16:15] 3d0 commented on #1255
I know that, but which one?
if you look my example I added all the libraries (react-with-addons, react-dom, classnames, tether, blueprintjs) and all the css (normalize and blueprint) according to the instructions given [here](http://blueprintjs.com/docs/#blueprint.cdn-consumption)

[2017-06-20 16:33] adidahiya commented on #1255
Ah, ok, I see the problem, sorry about that. There are two things going on:

1. `Overlay` expects a JSX element as its child, not a simple string (easy to fix in your JSFiddle, low priority for us to fix in Blueprint since all real use cases for Overlay will use an element as its only child)
2. `React.addons.CSSTransitionGroup` is not being picked up correctly as a webpack external in the Blueprin

[2017-06-21 18:41] cmslewis opened #1257 "[Table] Editable ColumnHeaderCell shows old value after reordering columns"
### Bug report

- __Package version(s)__: v1.20.0
- __Browser and OS versions__: Chrome 59 on OS X Sierra

#### Steps to reproduce

1. Enable column-name editing and column reordering.
2. Reorder some columns.

#### Actual behavior

The body content updates (even if the body content is editable), but the column header content does not update.

![reorder-bug](https://user-images.githubusercontent.c

[2017-06-21 18:41] cmslewis commented on #1257
Related to #1234?

[2017-06-21 18:53] cmslewis opened #1258 "[Table] Focus cell does not move after reordering"
### Bug report

- __Package version(s)__: v1.20.0
- __Browser and OS versions__: Chrome 59 on Mac OS X Sierra

#### Steps to reproduce

1. Enable focus cell and row reordering.
2. Click a row to select it.
3. Reorder it elsewhere.

#### Actual behavior

Focus cell does not move with the selection after reordering is complete.

![reorder-focus-bug](https://user-images.githubusercontent.com/443450/2

[2017-06-21 19:08] cmslewis opened #1259 "[Table] Scrolling quickly from high-numbered to low-numbered rows ruins alignments"
### Bug report

- __Package version(s)__: v1.20.0
- __Browser and OS versions__: Chrome 59 on Mac OS X Sierra

#### Steps to reproduce

1. Scroll quickly from a high-numbered, multi-digit row to a low-numbered, fewer-digit row (by clicking and dragging the scroll bar pill, e.g.).

#### Actual behavior

Column header alignment gets out of sync until you scroll again:
![scroll-bug](https://user-imag

[2017-06-21 19:09] themadcreator opened #1260 "[Table] Add callback for viewport changes to public API"
Users who want to use the loading state as a standin for loaded data need to know what data to load based on the visible cells in the viewport.

We currently use the `viewportRect` and `Grid` to update the visible cell indices internally, but we should also expose these values in a callback so users can kick off a data load.

I propose a prop on `<Table>` like this:
[code]

[2017-06-21 19:11] cmslewis commented on #1260
Seems valuable to me. 👍

[2017-06-21 19:33] cmslewis opened #1261 "[Table] Editing body cell too quickly after focus is buggy"
(Note: This is happening on a branch, so maybe it's due to something I did locally. Capturing anyway.)

### Bug report

- __Package version(s)__: v1.20.0
- __Browser and OS versions__: Chrome 59 on OS X Sierra

#### Steps to reproduce

1. Double click an editable body cell in the table.
1. Immediately start typing.

#### Actual behavior

Your typing is partially or fully replaced by the original c

[2017-06-21 19:58] cmslewis opened #1262 "[Table] Resolve differences between <EditableCell> and <EditableName>"
### Bug report

- __Package version(s)__: v1.20.0

### Changes proposed

There are some differences between `EditableCell`  and `EditableName` that we should resolve:
- Should emit the `columnIndex` as a second parameter in `onCancel`, `onChange`, and `onConfirm` callbacks
- Should fully control the value so that updating `props.name` actually renders the new name. (See: #1257, #1234)

[2017-06-22 02:31] tinhlv opened #1264 "placehoder start date and end date not working"

[2017-06-22 04:17] cmslewis commented on #1264
Hi @tinhlv, we're going to need a lot more information that this to pinpoint the issue if there is one. Please fill out the entire issue template, or I'll have to close this (there's not nearly enough to go off of at present).

[2017-06-22 17:38] cmslewis opened #1266 "[Table] Don't toggle selection when clicking on column menu target"
### Bug report

- __Package version(s)__: v1.20.0
- __Browser and OS versions__: Chrome 59 on Mac OS X Sierra

#### Steps to reproduce

1. Enable column menus and `FULL_COLUMNS` selection mode.
1. Click on a column menu caret.

#### Actual behavior

Selected state toggles.

![menu-selection](https://user-images.githubusercontent.com/443450/27447731-01ec34ca-5737-11e7-88eb-e26e3d1dc3c3.gif)

#### E

[2017-06-22 17:39] cmslewis commented on #1266
@llorca thoughts?

[2017-06-22 17:39] #1242 closed

[2017-06-22 17:51] llorca commented on #1266
@cmslewis I agree with the expected behavior you describe. IMO this isn't about column headers or menu carts specifically, it's a broader concern about non-standard selection toggle. Dupe of https://github.com/palantir/blueprint/issues/1073?

[2017-06-22 18:26] cmslewis commented on #1173
Closed via #1250

[2017-06-22 18:26] #1173 closed

[2017-06-22 20:30] 3d0 commented on #1255
Let me add to this that because of this error you cannot use DateRangeInput (or, in fact, any object that depends on an Overlay)

[2017-06-23 08:47] cetra3 commented on #751
What's the update on this particular request? I've managed to work around it by:

* Adding width: 100% on `pt-popover-target`
* Adding `pt-fill` to the `inputProps` of the DateTime component

[2017-06-23 13:07] JacekJagiello commented on #1220
Hey. I've made basic implementation of this, however, I have some questions:

For now, it simply sets minTime as value instead of defaultValue

For now, it's possible

For now, they are just ignored

This is the first iteration of this, I'm looking forward for your feedback, as well as some more thoughts about how it should work.

[2017-06-23 16:10] cmslewis opened #1273 "[Table] Fix behavior when reordering multiple disjoint selections"
### Bug report

- __Package version(s)__: v1.21.0
- __Browser and OS versions__: Chrome 59 on Mac OS X Sierra

#### Steps to reproduce

1. `Cmd + Click` to select multiple disjoint columns.
1. Drag to reorder them.

#### Actual behavior

Not all of the columns come along for the reordering ride, and the result is a weird selected state after the fact (particularly if you reorder a column that was

[2017-06-23 16:56] cmslewis opened #1274 "[Table] Visual Idea: highlight focused cell's associated column and row header"
e.g. add the same styling that we add on header-cell hover, except whenever a column or row contains the focused cell. Maybe also for every row/column involved in a body-cell selection?

[2017-06-23 17:18] llorca commented on #1274
+1. I thought there was an issue for this already but nope. Back in the days we were looking at doing that for selection states, not just focused cell -- worth thinking about

[2017-06-23 17:29] llorca commented on #1273
+1 with expected behavior 💯

[2017-06-23 18:38] cmslewis commented on #751
@cetra3 we just haven't prioritized this lately given our limited resources and other concerns. We'd welcome a contribution if you'd like to open a PR!

[2017-06-23 18:50] llorca commented on #751
@cetra3 no update for `DateInput` yet because of `.pt-popover-target`. Your workaround is appropriate but won't work for us since not all popover targets should fill their parent by default.
Look out for updates on https://github.com/palantir/blueprint/issues/724

[2017-06-24 11:10] cetra3 commented on #751
Thanks for the responses.  Yes, I agree, the `pt-popover-target` change wouldn't be suitable in a general sense, hence the workaround.

If the plan is to refactor the popover as in #724 I think I can hold out until that is solved.

[2017-06-24 23:28] JacekJagiello commented on #1017
Hi, this is something useful I'm really looking for. I've made a proof of concept, to find potential problems.

Assumptions I've take into consideration:
- We want to leverage `EditableText` component under the hood
- We can edit tab title on single click on already selected tab(as @llorca mentioned)
- Only controlled mode is implemented; tab title is not stored in the state of `TabTitle` componen

[2017-06-25 02:20] JacekJagiello opened #1277 "[Labs] Only unique values in TagInput"
Possibility to have only unique values in TagInput component.

Concerns:
- Should we support this out of the box? Maybe it's responsible of user code which controls values passed to `TagInput` component?
- Should we call some kind of method from props, when I'm trying to add value that already exists?
- Should we define uniqueness only base on value?

[2017-06-25 05:51] giladgray commented on #1277
@JacekJagiello I do not think this feature belongs in `TagInput`--it goes against the fully controlled nature of the API. Also, the code is simple enough (in your PR) that there's little value in including it directly in the component: it's just a single `filter`, and I'm sure that defining uniqueness based only on strict string equality will not be sufficient across the board.

Something that I t

[2017-06-25 23:46] aleksey-shmatov opened #1279 "[Table] Large number of rows causes stack overflow error"
### Bug report

- __Package version(s)__: v1.17.0
- __Browser and OS versions__: Electron  on macOS Sierra

#### Steps to reproduce

1. Set large number of rows on Table: 151152 in my case.

#### Actual behavior

Runtime error:
utils.js:43 Uncaught RangeError: Maximum call stack size exceeded
    at Object.times (utils.js:43)
    at new Table (table.js:407)
    at react-dom.js:4756
    at measureL

[2017-06-26 02:04] diegobfernandez opened #1280 "Month picker"
I would like to request a new feature. I have some date filtering to do regarding the graphics that are on my app's dashboard, but my data are aggregated monthly.
Since there are no need to show a calendar with days on it, I would like to have a date range picker that the user selects only the months. It doesn't really matter if the final value are "real" dates with days on it.

[2017-06-26 13:33] JacekJagiello commented on #1277
@giladgray Yeah, valid points. Supporting a return value definitely sound better. ;) Can you elaborate this feature more? I mean, for me it means something as simple as:
[code]
When `onAdd` can return `boolean | void`. Is that all or I miss something?

[2017-06-26 16:01] michael-yx-wu opened #1281 "[Hotkeys] Change "meta" to "cmd" or "command""
![pasted image at 2017_06_26 11_50 am](https://user-images.githubusercontent.com/3681045/27548423-ed1dd714-5a66-11e7-89e6-330300ca0ec1.png)

While most mac users already know what this icon means, the text would be better as "cmd" or "command" since keyboards do not have a key named "meta".

[2017-06-26 16:43] cmslewis commented on #1280
Hi @diegobfernandez, interesting thought. Take a look at the range of designs that Google Images returns when searching for "month picker ui": [link](https://www.google.com/search?q=month+picker+ui&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiKtt2j-dvUAhVI-2MKHVQ4AloQ_AUICigB&biw=1440&bih=799). It's not clear to me that any of those is appreciably better than a simple pair of native `<select>`s: one for

[2017-06-26 17:14] tgreenwatts commented on #1281
+1, I didn't know what it was and it's a little confusing for novice users

[2017-06-26 17:15] cmslewis commented on #1279
@aleksey-shmatov Good eye. Here you go! https://github.com/palantir/blueprint/pull/1282

[2017-06-26 17:32] llorca commented on #1277
@JacekJagiello I agree with Gilad, let's keep the component fully controlled. Your little snippet for `onAdd?: (value: string) => boolean | void` seems good, would you like to try and open a PR for it? You could then add a "Unique values only" toggle to the example to showcase this upgraded `onAdd` callback 💯

[2017-06-26 17:53] llorca commented on #1280
Yeah, seems like this is solved by a pair of `<select>` elements, or even better our new `<Select>`. I don't see any UI work required on our side

[2017-06-26 19:57] tgreenwatts opened #1283 "[Table] Styling issues on upper left corner when no rows or columns"
![image 5](https://user-images.githubusercontent.com/24398123/27557565-f1afc05a-5a6e-11e7-9c69-a2b3db32b3d9.png)
![image 6](https://user-images.githubusercontent.com/24398123/27557566-f29b9ec6-5a6e-11e7-9cf2-3488a933ddb5.png)

[2017-06-26 20:49] tgreenwatts opened #1284 "[Table] Reordering appears possible without selection"
A table can have reordering turned on, but selection turned off. This leads to users being able to get the grab cursor, and appear to drag the column, but then when they release, nothing changes.

![reorder](https://user-images.githubusercontent.com/24398123/27559646-24d1523a-5a76-11e7-8fca-410f4e56d30b.gif)

P3 because apps should know not to have selection without reordering, and docs exist noti

[2017-06-26 20:51] tgreenwatts opened #1285 "[Table] Focus cell moves when shift selection"
![focus-expand](https://user-images.githubusercontent.com/24398123/27559745-8ac404b6-5a76-11e7-8e45-3f53c9c8ca54.gif)

[2017-06-26 20:55] tgreenwatts opened #1286 "[Table] Investigate why cell dividers are lost in zebra striping example"
<img width="405" alt="image 7" src="https://user-images.githubusercontent.com/24398123/27559896-129ad478-5a77-11e7-977a-759217c709f6.png">

[2017-06-26 20:57] michael-yx-wu commented on #1281
I agree we may want to get rid of the `^` for Windows but I think we should keep the command icon on Mac.

[2017-06-26 20:58] tgreenwatts opened #1287 "[Table] Can't scroll left to right when loading state on columns enabled"
![no-scroll](https://user-images.githubusercontent.com/24398123/27559999-6f5415a8-5a77-11e7-839e-0335d6c5a58e.gif)

P3 because unlikely situation

[2017-06-26 21:00] markschafer commented on #1281
Here's a screenshot of what it currently looks like on PC:
![Uploading image.png…]()

[2017-06-26 21:07] tgreenwatts commented on #1213
I think this is possible already, so closing this.

[2017-06-26 21:07] #1213 closed

[2017-06-26 21:09] markschafer commented on #1281
Summarizing desired changes:

- Mac: `[⌘ Cmd ] [ K ]`
- PC: `[ Cmd ] [ K ]`
- make button heights the same

[2017-06-26 21:28] giladgray commented on #1281
@markschafer  PC: `[ Ctrl ] [ K ]` I think, not cmd.

[2017-06-26 23:55] themadcreator commented on #1082
It's possible that your mouse is moving while clicking, which causes a drag to occur and cancels the double click. If you do indeed end up with a editing but not selected state, that should be fixed.

[2017-06-27 13:32] JacekJagiello commented on #1277
@llorca Sure, can you close this issue and start a new one? Or do you want to keep this under current issue?

[2017-06-27 17:08] llorca commented on #1277
@JacekJagiello We can keep this issue open and close up the current PR 👍

[2017-06-27 17:52] #1279 closed

[2017-06-27 18:15] #1260 closed

[2017-06-27 20:45] cmslewis commented on #1266
@llorca I'm happy to fold this into #1073.

[2017-06-27 20:46] #1266 closed

[2017-06-27 21:56] seansfkelley opened #1293 "Tag's onClick's parameter has the wrong type"
### Bug report

- __Package version(s)__: core 1.21.0

#### Steps to reproduce

[code]

#### Actual behavior

[code]

#### Expected behavior

The type of the parameter to the callback is `React.MouseEvent<HTMLElement>` or perhaps `React.MouseEvent<HTMLSpanElement>`. `React.MouseEvent<Tag>` is incorrect; the callback is going to receive a reference to the DOM element and not the React component. Th

[2017-06-28 17:00] sandersn commented on #1237
I have a PR out to change `DOMAttributes` to `HTMLAttributes | SVGAttributes` in `React.DOMElement`: DefinitelyTyped/DefinitelyTyped#17581. This reduces the fix in `collapse.d.ts` to fixing the type of `overflowY:  "initial" | "inherit" | "unset" | "auto" | "hidden" | "scroll" | "visible" | undefined;`. Right now it's just `string`.

[2017-06-28 18:54] cmslewis commented on #1293
Thanks @seansfkelley. I'll let @giladgray chime in, since he has the most context here.

[2017-06-28 21:21] llorca opened #1297 "Menu icon should always show when menu popover is open"
### Bug report

- __Package version(s)__: `@blueprintjs/table` 1.18.0
- __Browser and OS versions__: macOS Sierra, latest Chrome

#### Steps to reproduce

1. Hover a column header
2. Click on menu icon to see menu popover
3. Hover away

#### Actual behavior

Menu is open but icon is gone:
![image](https://user-images.githubusercontent.com/199754/27660825-ca3e6c7a-5c0c-11e7-86f3-de537673f386.png)

[2017-06-28 21:46] #1237 closed

[2017-06-29 11:12] prashnts opened #1298 "[DatePicker] Allow multiple date selection"
`react-day-picker` [supports picking multiple dates][1] by passing in an array to `selectedDays` prop. In current implementation, this is not possible due to `value` prop required to be a `Date` type [(source)][2].

I think adding another component might be the way to go here. As always, happy to open a PR once the implementation is clear. 🙂

[1]: http://react-day-picker.js.org/examples/selecting-

[2017-06-29 12:36] diegobfernandez commented on #1280
So, my main problem is that I want a range of months and 4 `<select>`s seem too much. Besides the month range I have a lot of filters available.
In summary, I'm working on a picker based on `RangeSlider`.
As soon as I get a nice version working I will post a link to a gist.

[2017-06-29 15:26] rmendelovits opened #1299 "Menu does not give context to popover"
### Bug report

- __Package version(s)__:
- `"@blueprintjs/core": "^1.20.0",`
- `"@blueprintjs/datetime": "^1.17.0",`
- `"@blueprintjs/table": "^1.17.0"`
- `__Browser and OS versions__:
- Chrome Version 58.0.3029.110
- Windows 7 Professional

#### Steps to reproduce

1. Download this example: https://github.com/palantir/blueprint/blob/master/packages/table/examples/tableSortableExample.tsx
2. Chan

[2017-06-29 16:53] cmslewis commented on #1298
Thanks, @prashnts! We've considered this in the past. We _could_ just extend `DatePicker` to handle this. From an interaction perspective, you could either <kbd>Shift</kbd>-click or <kbd>Cmd</kbd>-click to select multiple dates (which leaves existing plain-click behavior unaffected), or perhaps you could simply toggle each day's selected state individually on click (which does affect the current b

[2017-06-29 16:54] llorca commented on #1280
Awesome! I'm gonna close this issue as there's no work required from the Blueprint team, but if you find a bug or any other problem, please feel free to open a new issue. 👍

[2017-06-29 16:54] #1280 closed

[2017-06-29 17:01] cmslewis commented on #1246
Update: after investigating, looks like `this.state.value` _is_ being updated properly on deselect, but `this.state.valueString` is not. On it.

[2017-06-29 17:50] cmslewis commented on #1238
Taking a look at this now.

[2017-06-29 19:05] cmslewis commented on #1220
(Assigning to myself since I'm working with @JacekJagiello on the PR.)

[2017-06-29 22:28] Que3216 commented on #1189
Sweet! For now we've done a bunch of rather fragile CSS hacks in Hubble to replicate this behavior by leveraging the new interaction bar. Would be great to get rid of these hacks though. I think you're right that a lot of Palantir products will want this.

[2017-06-30 03:36] cmslewis commented on #1189
Fixed this to an extent in #1250. The interaction bar needs to be enabled though. @tgreenwatts @llorca what do you think?

[2017-06-30 03:59] cmslewis commented on #1184
(Circling back to this with a quick thought: could maybe even print a console warning or throw an error if consumers try to pass their own disabled dates.)

[2017-06-30 07:35] cmslewis commented on #824
If there were a `preventDefault` prop (e.g.), would we want to invoke `e.preventDefault()` on _both_ `keyup` and `keydown`, or just one of those?

[2017-06-30 13:15] scottfr commented on #552
Any update on this issue? Is there a schedule for the 2.0 release?

[2017-06-30 16:05] Que3216 commented on #827
+1 This is very hard to do without a change to blueprint table. You can of course add hover listeners, and restyle every cell in the row when one cell is hovered -- but the performance is bad, and because the newly hovered cells don't all render exactly simultaneously you get a flickering effect. To work smoothly this needs to use the `bp-table-overlay-layer` like selection does, and so needs to b

[2017-06-30 17:42] llorca commented on #1189
@cmslewis Yeah we can close this out now, solved with the interaction bar

[2017-06-30 17:52] llorca commented on #824
If consumers provide `keydown`, we invoke those on `keydown`, same for `keyup`?

[2017-06-30 17:59] llorca commented on #552
@scottfr I'm working on it, I've been trying to make this change non-breaking so we can ship before 2.0. Otherwise expect this coming in 2.0 indeed

[2017-06-30 18:19] thisisalessandro opened #1305 "Switches in form groups have a margin-bottom"
### Bug report

Latest, Chrome

#### Steps to reproduce

1. Put a switch inside a form group
2. Put some helper text below the switch
3. Boom, white space

#### Actual behavior

Lots of white space.

#### Expected behavior

Not so much white space.

[2017-06-30 18:52] crazytoucan opened #1306 "Feature Request: Placeholder text for DateInput"
Right now, DateInput defaults its placeholder to `this.props.format`, but for some format strings (like `L`), the placeholder is unuseful.

![screen shot 2017-06-30 at 11 52 27 am](https://user-images.githubusercontent.com/3346671/27749955-9cb1a054-5d8a-11e7-9172-0ab99e201200.png)

[2017-06-30 18:53] crazytoucan commented on #1306
Closing as dupe of https://github.com/palantir/blueprint/issues/602

[2017-06-30 18:53] #1306 closed

[2017-06-30 18:55] crazytoucan commented on #1306
Found `<DateInput inputProps={{placeholder: "woohoo"}} ... />` from discussion on that ticket. Thanks all!

[2017-06-30 19:34] noah79 commented on #185
This needs a better solution.  In [semantic-ui](http://react.semantic-ui.com/collections/menu) they handle this sort of thing very elegantly by providing an **as** property on most classes that you can use to pass your own target component.  I use this, for example, to render Lists of items using a ReactFlipMove like so:

[code]

I suggest providing the same sort of thing here.  We would then be a

[2017-06-30 20:47] nomcopter opened #1307 "Collapse does not type properly in TS v2.4"
[code]
Fails in the generated `.d.ts` with the improved weak typing checks `node_modules/@blueprintjs/core/dist/components/collapse/collapse.d.ts(46,32): error TS2559: Type '{ className: string; style: { height: string; overflowY: string; transition: string; }; }' has no properties in common with type 'DOMAttributes<Element>'.`

[2017-06-30 20:50] llorca commented on #1307
Dupe of https://github.com/palantir/blueprint/issues/1237

The fix is coming with the next release sometimes next week 👍

[2017-06-30 20:50] #1307 closed

[2017-06-30 20:51] nomcopter commented on #1307
Well that was fast. Thanks!

[2017-06-30 21:13] sonovawolf opened #1308 "Support dividers with titles on the same line"
This is becoming a common pattern in Palantir:
![screen shot 2017-06-30 at 1 42 51 pm](https://user-images.githubusercontent.com/3002490/27754196-20b4ced6-5d9e-11e7-85a5-9f43cb9378e5.png)
![screen shot 2017-06-30 at 1 37 29 pm](https://user-images.githubusercontent.com/3002490/27754197-20b58556-5d9e-11e7-858f-45d2bb5dec08.png)
![screen shot 2017-06-30 at 1 34 15 pm](https://user-images.githubuserc

[2017-06-30 22:19] cmslewis commented on #1277
@llorca @giladgray @JacekJagiello - I took a stab at this in #1309. Lemme know how that looks.

[2017-06-30 22:25] cmslewis commented on #1264
Closing pending further information from @tinhlv.

[2017-06-30 22:29] #1264 closed

[2017-06-30 22:54] cmslewis commented on #1089
Folding the remaining issue in the description into #890.

[2017-06-30 22:54] #1089 closed

[2017-06-30 23:04] cmslewis commented on #975
@adidahiya Seems like this has been fixed? The following test passes:

[code]

[2017-06-30 23:05] #975 closed

[2017-06-30 23:18] cmslewis commented on #975
Improved tests in #1310 to verify this.

[2017-06-30 23:23] cmslewis commented on #845
Gah, I only got this to repro once in like 3 minutes of testing. No idea what the problem is.

[2017-06-30 23:25] cmslewis commented on #870
Closing given that `useSmartPositioning` is deprecated as of v1.15.0

[2017-06-30 23:25] #870 closed

[2017-06-30 23:36] llorca commented on #845
@cmslewis I have consistent repro steps:
1. Open http://blueprintjs.com/docs/
2. Scroll down a bit
3. Quickly click 3 times on the "Releases" button
4. Scroll more

![screen recording google chrome](https://user-images.githubusercontent.com/199754/27757074-2a741bde-5db2-11e7-9020-d09f97e0b88e.gif)

[2017-06-30 23:37] cmslewis commented on #1033
Fixed by #1068.

[2017-06-30 23:37] #1033 closed

[2017-06-30 23:39] cmslewis commented on #630
Adding the "[Popover]" prefix to remind us what the real issue is at a glance.

[2017-06-30 23:41] cmslewis commented on #939
Folding this into #884.

[2017-06-30 23:41] #939 closed

[2017-07-01 06:47] Que3216 commented on #1189
When the column headers are not editable etc. the interaction bar is not
the right UX. The whole header should be draggable.
On Fri, 30 Jun 2017 at 18:44, Chris Lewis <notifications@github.com> wrote:

[2017-07-01 08:59] giladgray commented on #1299
I think this is a duplicate of the issue described in #1121: React context is not inherited by context menus.

[2017-07-01 12:06] liesislukas opened #1312 "[Popover in Dialog] can't scroll to view full content when popover is in dialog and popover's content out of viewport"
### Bug report

if popover is inside dialog and user clicks to open it and popover is out of viewport user can't scroll to see contents.

It's more bug of dialog itself while it renders position on initial load and is not scrollable. There should be an option to scroll dialog instead of background. At least at [geekystats.com](https://www.geekystats.com) when dialog is visible user cares about dia

[2017-07-01 14:30] LittlePony commented on #845
It can be reproduced with any Popover and scrolling body. Not only Doc or Navbar related.

[2017-07-01 14:49] LittlePony commented on #845
another reproducion of this bug - popover will not scroll with scrolling div as parent inside fixed body

[2017-07-01 19:39] liesislukas opened #1313 "[Dialog] scrolling UX is bad because dialog is not scrolling when hovered overlay"
Hi, i'm making usability testing and already see a lot feedback about bad UX with dialogs because when user is trying to scroll dialog scrolling does work only when mouse cursors is over the dialog contents if mouse is over the overlay scroll scrolls background page but not dialog, which is primary active content at that moment.

At least there should be a property if you really want to let user s

[2017-07-02 08:11] giladgray commented on #1312
@liesislukas have you read this section? may prove helpful.
http://blueprintjs.com/docs/#core/components/overlay.scrollable-overlays

if not, i'm planning to basically rewrite `Popover` in the next two weeks per #1202 which will hopefully improve this experience.

[2017-07-02 08:18] giladgray commented on #1313
@liesislukas huh interesting, [dialogs on the docs site](http://blueprintjs.com/docs/#core/components/dialog) do not exhibit this behavior, and i can't figure out from inspecting your CSS why your page would scroll. any suggestions?
thanks for the detailed report!

[2017-07-02 12:01] liesislukas commented on #1313
In fact on docs site dialog sometimes works one way, sometimes another. Here's a short video:

https://youtu.be/5grSqlJvDWM

you can check my dialog here:

https://www.geekystats.com/company/1/seoRank/monitor?viewMore=1&viewMoreTab=keyword

Use login: **demo@gmail.com** and psw: **demo@gmail.com**

p.s. if you find geekystats.com interesting just register with your email and i will send you notifi

[2017-07-02 12:23] liesislukas commented on #1312
yes, i have read that part, i saw that you have some custom code for scrolling events. I'm not a fan of custom code for basic interaction like scroll because such code often lead to crazy bugs on some platforms, some browsers for some users and it's hard to debug & test with all environments.

Maybe you like this:

When dialog is shown place it as any element and just hover all other elements with

[2017-07-04 19:47] nisimjoseph opened #1314 "components not compile with TypeScript 2.4.1 (latest release)"
### Bug report

- __Package version(s)__: 1.21.0
- __Browser and OS versions__: Compile time

#### Steps to reproduce

just use the component Button or any other, and compile it. lots of errors jump.

#### Actual behavior

list of compile time error

#### Expected behavior

clean build

[2017-07-04 20:55] #1254 closed

[2017-07-05 11:51] thomas-mcdonald opened #1315 "Navbar docs refer to a Navbar component"
The [navbar docs](http://blueprintjs.com/docs/#core/components/navbar) refer to a `Navbar` component but it is only offered with a CSS API - was just flagged to me as confusing for end users.

[2017-07-05 17:02] adidahiya commented on #1315
good catch -- accepting docs PRs!

[2017-07-05 17:03] adidahiya commented on #1314
duplicate of https://github.com/palantir/blueprint/issues/1237, the fix will be available in the next release (hopefully this week)

[2017-07-05 17:03] #1314 closed

[2017-07-05 17:53] tgreenwatts opened #1317 "Question about table batch rendering"
Question from @waterscaleb

Moved from https://github.com/palantir/blueprint/pull/1228#issuecomment-312722597

[2017-07-05 18:49] tgreenwatts commented on #1189
Reopening to track adding the drag handle into the header cell when there is no interaction bar

Not currently prioritized

[2017-07-05 19:14] tgreenwatts opened #1318 "TagInput arrow keys don't highlight on Windows Edge or IE 11"
### Bug report

- __Package version(s)__: 1.21.0
- __Browser and OS versions__: Windows Edge , IE 11

You can use the arrow keys, but they don't visually highlight what is selected. If you arrow then backspace, the correct item is removed.

[2017-07-05 19:40] llorca commented on #1318
It's also super subtle in other browsers, best thing we can do is completely change the focused style of a tag to something more obvious that doesn't rely on `outline`

[2017-07-05 21:59] llorca commented on #1317
@waterscaleb Does this help? https://github.com/palantir/blueprint/pull/1268

[2017-07-06 08:45] tnrich opened #1323 "allowMultipleSelection={false} doesn't seem to stop shift+select multiple"
### Bug report

- __Package version(s)__:     "@blueprintjs/table": "^1.18.0",
- __Browser and OS versions__: mac chrome

#### Steps to reproduce
<Table
   {...defaultTablePropsAndSomeTableData}
              allowMultipleSelection={false}

#### Actual behavior

Hitting shift allows for the selection of multiple rows

#### Expected behavior

Shouldn't be able to select multiple rows with shift-cli

[2017-07-06 09:32] micooz opened #1324 "[Dialogs] Escape key doesn't close the dialog when focus out side of dialog"
### Bug report

- __Package version(s)__: v1.21.0
- __Browser and OS versions__:  Chrome 57.0.2987.133 (64-bit), ubuntu 16.04 LTS

#### Steps to reproduce

http://blueprintjs.com/docs/#core/components/dialog

1. Disable `Click outside to close`.
2. Click `Show dialog`.
3. Click out side of the dialog.
4. Press ESC.

#### Actual behavior

Dialog doesn't closed.

#### Expected behavior

Dialog shoul

[2017-07-06 19:19] tnrich commented on #1323
Also, I was trying to set up a little fiddle for people to quickly see the error for themselves, but had trouble doing so. Would someone mind taking a look at why the fiddle doesn't seem to be working?

https://jsfiddle.net/ct2f7uo6/1/

Thanks very much!

[2017-07-07 00:43] tgreenwatts commented on #1086
Just checked this out again with the same dataset and things are looking much nicer. You still get the flash of grey, but it fills in quicker

![ff_perf](https://user-images.githubusercontent.com/24398123/27938378-97dbed04-6272-11e7-8917-8a4c0020728b.gif)

[2017-07-07 00:45] tgreenwatts commented on #1025
Closing this, perf is in a better place

[2017-07-07 00:45] #1025 closed

[2017-07-07 00:52] tgreenwatts commented on #1086
Checked on IE and IE Edge as well, perf is looking pretty decent there. I'm going to close this out. Future perf issues should be new tickets

[2017-07-07 00:52] #1086 closed

[2017-07-07 03:29] stoplion commented on #1315
This tripped me up too

[2017-07-07 12:05] thomas-mcdonald opened #1327 "Icon docs should emphasise sizing class requirement"
Recently done two frontend workshops as an intro to React/Redux which uses Blueprint components as building blocks.

In both I've noticed people miss the requirement to include the sizing class (but using eg. arrow icons which have renderable codepoints in the system font so don't look super broken), which I think suggests that there should be some more emphasis on the requirement for the sizing c

[2017-07-07 17:40] llorca commented on #1327
Not sure what's best either, the docs is very short and half of it is the code block + callout.

[2017-07-07 19:32] #1299 closed

[2017-07-07 21:17] #1220 closed

[2017-07-07 21:43] #824 closed

[2017-07-07 21:43] #825 closed

[2017-07-07 21:43] #1216 closed

[2017-07-07 21:44] #1277 closed

[2017-07-07 21:46] #608 closed

[2017-07-08 03:15] #118 closed

[2017-07-08 12:39] giladgray commented on #1323
@tnrich there seem to be a few things wrong with fiddle, as well as an actual issue in `table.bundle.js` (missing file in webpack import):

1. add dom4 dependency
2. put table dep _after_ core dep
3. fix the error in `table.bundle.js` (this one's on us)

[2017-07-10 11:35] giladgray commented on #1202
@FezVrasta i've started refactoring `Popover` to use Popper.js and holy heck is it awesome! expect a PR later this week 👨‍💻

[2017-07-10 13:22] JacekJagiello commented on #1237
Hi, I've updated to `1.22.0`, but the problem still appears. I'ts exactly the same as in bug description.
[code]
I've check source code in node_modules to make sure I am using a version with this fix and it looks good:

src/components/collapse/collapse.tsx, line 127
`overflowY: (isAutoHeight ? "visible" : undefined) as "visible" | undefined,`

dist/components/collapse/collapse.d.ts, line 46-53
[co

[2017-07-10 16:08] 3d0 opened #1332 "Tabs2 using CDN"
### Bug report

- __Package version(s)__: Core 1.20 to 1.22
- __Browser and OS versions__: Chrome 59
#### Steps to reproduce

1. Build a simple page with a buildless react (with addons)
1. Add the CDN support of Blueprint
1. Build a simple app with tabs2 using Javascript
#### Actual behavior

the tabs are rendered , but there is no bar under the name of the selected tab. Also there is an error eve

[2017-07-10 17:40] adidahiya commented on #1237
@JacekJagiello you need to upgrade to `@types/react` >=15.0.35

[2017-07-10 18:17] llorca commented on #394
Might be a Chrome bug still, looks like the Framer folks are hitting the same problem: https://bugs.chromium.org/p/chromium/issues/detail?id=740459

[2017-07-10 20:06] tyscorp commented on #1202
So will this be a breaking change? Will both Tether and Popper.js be supported simultaneously? I'm currently monkeypatching a bunch of components to use Popper.js instead of Tether so it would be nice to be able to remove that.

What is the API for passing options going to be like? Similar to the way it is done now for Tether?

[2017-07-10 20:33] giladgray commented on #1202
@tyscorp this will certainly be a breaking change, and a full conversion from Tether to Popper.js. How are you using Popper currently? With Blueprint component?? I've been having a good time letting [react-popper](https://github.com/souporserious/react-popper) handle the integration.

The API will be very similar to the current one but with new names: `placement` and `modifiers` replace `position`

[2017-07-10 20:33] giladgray commented on #1332
@3d0  you're missing a dependency on `dom4`

[2017-07-10 20:55] tyscorp commented on #1202
I'm using it with the blueprint `Popover` component right now. I'm extending the `Popover` class and overriding `updateTether` and `destroyTether` to replace the Tether code with Popper.js. I'm not using `react-popper` right now because of the way I have to monkeypatch.

Since it is a breaking change will it be v1.23.0 or v2.0.0?

[2017-07-10 21:26] 3d0 commented on #1332
I did a test adding the dom4 library and it worked. But it should be reflected on the documentation, because is part of Blueprint.Core.

[2017-07-10 21:39] JacekJagiello commented on #1237
@adidahiya you're right, thanks a lot ;)

[2017-07-10 22:16] llorca commented on #1202
@tyscorp it will be available as soon as it's ready as `Popover2`, alongside current `Popover`. Once we hit 2.0, we'll remove `Popover` and rename `Popover2` to `Popover`.

[2017-07-10 23:08] cmslewis opened #1334 "Delete roundSize.tsx"
We don't need `roundSize.tsx` anymore as of #1333. It's currently exposed to consumers but isn't used anywhere else, so we should delete it when we 2.0.

[2017-07-11 11:17] giladgray commented on #701
good news! this seems to be resolved with popper.js / #1202

[2017-07-11 17:56] llorca commented on #1317
@waterscaleb Ping ^

[2017-07-11 22:33] tgreenwatts opened #1335 "Stack Overflows in table at 90% zoom"
### Bug report

- __Package version(s)__: 1.16
- __Browser and OS versions__: Mac, Chrome

#### Steps to reproduce
At 90% zoom seeing stack overflows on certain tables

Context: https://pl.ntr/fG

[2017-07-12 12:39] giladgray commented on #1334
a quick code search (internally) should reveal if anyone is actually using `RoundSize`. if not, let's just remove it and not worry about 2.0. This is simply an artifact of using ES6 modules for everything: the Table exposes a lot of identifiers that aren't really "public" APIs, but they _could_ still be imported by zealous users.

[2017-07-12 12:40] giladgray commented on #1332
@3d0 ah nuts i see it's missing from that big HTML example. will fix! DOM4 is mentioned elsewhere in the usage guide, and of course it's listed in package.json.

[2017-07-12 12:46] giladgray commented on #1293
@seansfkelley I'm confused... nowhere does the prop mention `MouseEvent<Tag>` (nor is that even valid React--gotta be a DOM node). The change linked above changed type from `HTMLSpanElement` to `HTMLButtonElement` to correctly represent that actual DOM element used.

[2017-07-12 17:04] seansfkelley commented on #1293
It's because it extends from `HTMLAttributes`: https://github.com/palantir/blueprint/commit/abb4f5d5e12e97b92df6b1bfc4b2518d2971eed6#diff-fec26cef1dfe0e5b893fc0a34c69f7faR17

[2017-07-12 17:15] marwahaha commented on #1246
Hi @cmslewis @llorca , I tried my reproduction steps on the Blueprint website and it still wasn't working. Can you re-open this?

[2017-07-12 17:17] cmslewis commented on #1246
Yep, looks like it reselects today's date when the popover is reopened. Dang.

[2017-07-13 08:15] #1315 closed

[2017-07-13 08:15] #1332 closed

[2017-07-13 08:28] giladgray opened #1340 "[Select] customize item equality check"
See https://github.com/palantir/blueprint/pull/1325#discussion_r126833280 for original discussion.

Will need to support custom item equality. We cannot rely on `===` because it immediately falls apart if user creates new objects in each render (a very common React pattern).

[2017-07-13 11:00] giladgray opened #1341 "Proposal: rename inline=false to portal=true"
What is "inline" really? This name has been confusing since the beginning, and we often talk about non-inlined Popovers, etc.

Implementationally, `inline={false}` means "render in a `Portal` to remove from DOM flow."

I therefore propose a new name for the prop: `portal={true}`. This makes the semantics obvious. Enabling `portal` will render the children inside a `Portal`; disabling will not use

[2017-07-13 11:29] giladgray commented on #1293
oh snap

[2017-07-13 17:19] adidahiya commented on #1341
prefer `usePortal`, but generally sgtm

[2017-07-13 19:10] tgreenwatts commented on #1317
Closing due to lack of activity

[2017-07-13 19:10] #1317 closed

[2017-07-13 20:01] tgreenwatts opened #1345 "[Table] Table doesn't expand to the right height on Safari"
### Bug report

- __Package version(s)__: Table 1.16.0
- __Browser and OS versions__: Mac Safari 10.11, iPad Safari, iOS 10

![image](https://user-images.githubusercontent.com/24398123/28185211-6526865e-67cb-11e7-8252-be13674f4f08.png)

[2017-07-13 20:17] html5cat opened #1346 "Homepage header animation spikes CPU usage"
### Bug report

- __Package version(s)__: N/A
- __Browser and OS versions__: Chrome 59, Safari 10.1.1, macOS 10.12.5

#### Steps to reproduce

1. Open http://blueprintjs.com/

#### Actual behavior

CPU usage spikes to ~70% and stays there while the page is open.

#### Expected behavior

CPU usage doesn't spike.

[2017-07-13 22:23] #1293 closed

[2017-07-13 22:36] tangert commented on #1051
is this still open? dealing with this error right now, trying to figure it out. has an update been made that fixes the break?

[2017-07-14 05:21] Lojka59 commented on #1061
I got one idea about column size:
ability to set "auto" (or flex) as columnWidth, like so:
columnWidths=[ 50, 50, 50, "auto"]

and this one column will fill all available space of table (or be default if not enought space)

[2017-07-14 07:49] khoacoi opened #1348 "DateInput There are no option to select future year."
### Bug report

- __Package version(s)__:  blueprintjs/datetime: "1.18.0",
- __Browser and OS versions__: Chrome

#### Steps to reproduce

Add component DateInput
Select year dropdown
Current year is displayed in last option.

#### Actual behavior

Cannot select a date in future year.
Ex: 01/01/2018

#### Expected behavior

Should be able to select future years.

[2017-07-14 07:52] cmslewis commented on #1348
`maxDate` is getting in your way. Does setting the `maxDate` prop to something far in the future not work for you?

[2017-07-14 08:02] khoacoi commented on #1348
awesome, thanks for your response.
maxDate do the trick!

Thanks again,

[2017-07-14 08:03] #1348 closed

[2017-07-14 17:51] #1246 closed

[2017-07-14 17:52] #1335 closed

[2017-07-14 18:39] #1305 closed

[2017-07-14 19:24] thasner opened #1351 "Allow ReactNode / component for IControlProps label"
## Feature Request

Currently, `IControlProps.label` is typed as a `string`, but it should be a `ReactNode`. This should just be a change of typings. (Casting as `any` works 😁 )

For my specific use case, I wanted to have the label of a `Radio` component include a `code` element:
[code]

Some other reasonable use cases:
- `<span><span className="pt-icon-standard pt-icon-person" /> Dr. Blue Print</

[2017-07-14 20:41] adidahiya commented on #1061
@Lojka59 that looks more like https://github.com/palantir/blueprint/issues/969, please comment there

[2017-07-15 01:04] rohmanhm commented on #1051
Anybody would like make a PR I'll appreciated.

[2017-07-15 01:32] benhjames commented on #1051
The PR that fixed this was reverted since it is a breaking change, and will likely release with v2.0.0 of Blueprint. :)

[2017-07-15 15:21] onurhb opened #1352 "Dialog has no transitionName prop"
I am not able to change the transition name used in the dialog component.

![code_2017-07-15_17-11-51](https://user-images.githubusercontent.com/12566527/28240363-e406ba82-6980-11e7-8563-eb14b5ec6b7e.png)

### Bug report

- __Package version(s)__: 1.23.0
- __Browser and OS versions__: Chrome 59 on Windows 10

#### Steps to reproduce

1. Create a dialog component as following:  `<Dialog transitionN

[2017-07-18 07:12] Lojka59 commented on #969
sometimes it is good to make only one column stretchable

Something like:
ability to set "auto" (or flex) as columnWidth, like so:
columnWidths=[ 50, 50, 50, "auto"]

and this one column will fill all available space of table (or be default if not enought space)

[2017-07-18 11:07] Que3216 opened #1354 "[Table] Add a resizeEachRowToTallestCell"
Blueprint already has a `resizeRowsByTallestCell` method (https://github.com/palantir/blueprint/blob/44f5cd0cbde1e7f78be3ae2938d64776acd7c56b/packages/table/src/table.tsx#L514) but this resizes all rows to the same height. This means the rows generally become way too high. We really want each row to be as tall as it needs to be, but no taller.

How about adding a `resizeEachRowToTallestCell` metho

[2017-07-18 11:23] alshain opened #1355 "[DateInput] Different dates returned via selector vs via manual text input"
### Bug report

- __Package version(s)__: Blueprint: 1.23.0 Date: 1.19.0
- __Browser and OS versions__:  Chrome 59.0.3071.115, Win 7

#### Steps to reproduce

[code]
1. Monitor the date output in `onChange` with console.log
1. Select a date via the popup
1. Enter the same date via the keyboard
2. Notice how the dates do not match

#### Actual behavior

[code]

#### Expected behavior

I expect to r

[2017-07-18 17:02] hungrysquirrel commented on #248
Consider [Styled Components](https://www.styled-components.com) please!

[2017-07-18 18:30] tgreenwatts commented on #1354
That would be great! But currently it'd be a large perf hit, which is why we added `resizeRowsByTallestCell`. So yes, but don't expect in the short-term

[2017-07-19 23:24] AlexLandau opened #1365 "Support i18n of DateRangeInput placeholder text"
For the DateRangeInput, the "Start date" and "End date" placeholder text (which is prominently displayed in most cases) is currently (as of July 19) hardcoded, meaning it can't be replaced by the user for i18n purposes:

https://github.com/palantir/blueprint/blob/57e4093d2b5165b61a2014ad39b243933f608de0/packages/datetime/src/dateRangeInput.tsx#L768

[code]

[2017-07-19 23:30] giladgray commented on #1365
you can use `start|endInputProps.placeholder` to override those hardcoded values.

`<DateRangePicker endInputProps={{ placeholder: "Shalom" }} />`

[2017-07-19 23:30] giladgray commented on #1365
@AlexLandau per my comment above, I believe this is already supported. can you confirm that it meets your needs?

[2017-07-19 23:48] AlexLandau commented on #1365
Ah, I see now. Thanks for the help!

[2017-07-19 23:48] #1365 closed

[2017-07-20 09:22] henrify opened #1368 "1000% table performance degradation with 1.20 (batching malfunctioning?)"
### Bug report

- __Package version(s)__: 1.20
- __Browser and OS versions__: Latest Chrome, Windows 8.1 Pro

#### Steps to reproduce

- Add a large table, with fast rendering cells
- Scroll around

#### Actual behavior

- After upgrading to 1.20 it was immeditely obvious that something had gone horribly wrong, as all tables in our application were rendering visibly slowly, both for initial render

[2017-07-20 16:45] llorca commented on #1368
@henrify Can you give more details about your setup and how you're using the table? What type of cells are you using? This is the first time we see that, we've had great perf improvements with the batching feature so far.

[2017-07-20 19:48] warent commented on #283
FWIW I'll chime in with my experience: it does takes a little bit of extra brainpower to remember the prefix is `pt` versus `bp` which can interrupt dev flow. In the context of Blueprint, bp is intuitive, pt is awkward

[2017-07-20 19:53] cmslewis commented on #283
Thanks, @warent, definitely appreciate that. (Too bad we didn't call this project Pluetrint.) This isn't scoped in the short or medium term according to our current roadmap though.

[2017-07-20 21:24] llorca commented on #283
Plueprint ha! Yeah, this issue is unlikely to be addressed, but I could see getting https://github.com/palantir/blueprint/issues/284 ready for 2.0 later this year

[2017-07-20 23:02] henrify commented on #1368
@llorca Thanks for your fast reply.

The "setup" is React 15.6.1 in production mode, Webpack with uglify and Typescript 2.3, and the test setup is 4x4ghz, 32gb ram, fast gpu, running latest chrome on win 8.1

This affects every table in our application, and there really isn't any common theme for "how we are using the tables". They range from 100 to 100000+ rows, from single column to 20+, with ce

[2017-07-20 23:18] adidahiya commented on #1368
@henrify a minimal repro in a Gist or JSFiddle would be really helpful for us to look into this issue. Does it happen with the Blueprint docs on your computer as well?

@tgreenwatts have you noticed any batched rendering performance differences on Windows vs. Mac? `requestAnimationFrame` might be behaving differently across OSs.

[2017-07-20 23:49] henrify commented on #1368
@adidahiya Actually the Blueprint docs table has the exact same behaviour. As the table is so small, the effect is not as clearly visible, but it is exactly same.

As you already have repro in your own docs, i'm not going to produce separate Gist on this.

Just increase the size of the table and load more data to it, and you should see the effect very clearly on affected computers/browsers/whateve

[2017-07-20 23:56] tgreenwatts commented on #1368
I hadn't noticed anything but I will try repro-ing with the team in person tomorrow

[2017-07-21 00:02] henrify commented on #1368
Just a hypothesis:

Flame graph from the docs table shows rendering in 5 batches, in exactly same style "sparse" spikes as in the flame graph I attached before.

The spikes - "user land" cell rendering work - take 2ms per batch, and the rest of 48ms is recalculating styles, updating layer tree etc.

If the 48ms portion is near constant per batch/render, then by dividing 10ms worth of required "use

[2017-07-21 00:17] llorca commented on #1368
@themadcreator can you share your thoughts here? thanks!

[2017-07-21 10:46] Que3216 opened #1371 "[Table] Table silently ignores `rowHeights` prop if it has the wrong length"
[code]

It should throw an error, otherwise it can be confusing to debug why it isn't working.

[2017-07-21 18:55] llorca commented on #1368
@henrify I checked out our docs, didn't notice anything bad. Just to make sure we're on the same page, can you share a GIF of the slowness you're experiencing?

[2017-07-21 20:35] tgreenwatts opened #1372 "[Table] Interaction bar drag icon missing pt-icon"
![image](https://user-images.githubusercontent.com/24398123/28481350-68403836-6e19-11e7-9f1f-600a13e1cae1.png)

[2017-07-21 21:34] henrify commented on #1368
As i mentioned, the effect is not so clearly visible on the docs table, because the table is so small (but it is still there).

I think gif animation would capture it even worse because of low frame rate.

How about you increase the table height and feed it more data, and if you still cannot see the problem, give me URL of the bigger table and i send you back gif animation and flame graph of what

[2017-07-21 22:54] llorca commented on #1368
Here's a big table (customize it with the options on the left side): https://3395-71939872-gh.circle-artifacts.com/0/home/ubuntu/blueprint/packages/table/preview/index.html

Try to repro and send out that GIF + flame graph! Thank you 👍

[2017-07-22 00:16] henrify commented on #1368
@llorca Great, the problem repros 100% on that.

Gif below, and the i've attached the flame graph as original .json profile so you can dive in.

[commodore-64-listing-floppy-drive-contents.zip](https://github.com/palantir/blueprint/files/1167000/commodore-64-listing-floppy-drive-contents.zip)

![commodore-64-listing-floppy-drive-contents](https://user-images.githubusercontent.com/7379209/28486552-

[2017-07-22 01:26] llorca opened #1374 "Props to control batching behavior"
Follow up from https://github.com/palantir/blueprint/issues/1368

Current UX is okay for the average table. For scenarios where a table is as simple as text only, consumers should be able to render more cells per frame. For cases where the table is large and contains complex cells, we may want to decrease the number of cells per frame.

[2017-07-22 01:27] llorca commented on #1368
Thanks, that's helpful. What you're seeing and experiencing here is exactly what's expected: our batcher renders 20 cells at every frame.

The point of the batcher is to improve overall performance by keeping the table responsive & scrollable (rest of the UI too) even when your table contains heavy, complex cells. Before we had the batcher, you would barely be able to scroll a large table renderin

[2017-07-22 01:54] henrify commented on #1368
Thanks. I get the overall design goal, but I strongly disagree with the implementation approach:

- It seems that the only thing you achieve with batching is displaying couple of rows at the top of table while scrolling, but the user cannot anyway read the rows, because they are changing all the time.

- The cost of displaying those unreadable rows at the top is that the total rendering time of th

[2017-07-22 20:20] cmslewis commented on #1368
Another idea is, instead of a prop `useBatchRendering?: boolean;`, to add a `renderOptimizationMode` prop (working title) that accepts multiple values like:
- `RenderOptimizationMode.BATCH`: render as many new cells as possible per frame, and no more (this is what we currently have, and this scheme also has the strongest guarantee against bringing the UI to a crawl)
- `RenderOptimizationMode.DEBOU

[2017-07-23 08:51] henrify commented on #1368
@cmslewis Sounds awesome. Further ideas:

- Instead of batch size, better control prop could be "max batch duration", as that would automatically account for performance differences between clients, and also eliminate need of tuning batch size per-table.

- Another possible mode is REDUCE_RENDERS, which would redraw the enitre table sometimes during scrolling, but not on every mouse scroll event.

[2017-07-23 16:20] cmslewis commented on #1368
To your [edit]: yep, that's what I meant!

FYI I'm currently in the midst of a huge internal refactor to get the new frozen columns/rows feature working, then we have Hack Week here at Palantir, so tangible progress on this issue is going to be at least a couple weeks out.

[2017-07-24 11:00] ConneXNL opened #1375 "[Popover] Make it easier to overwrite the Popover Arrow"
It's currently not possible to disable the arrow other than hiding its CSS or tweaking the actual component that is being rendered.

It would be really helpfull if the arrow part:
https://github.com/palantir/blueprint/blob/69a05ef7685de5dc57d6b8637d9875faa0052105/packages/core/src/components/popover/popover.tsx#L451-L456

Gets moved to a seperate function so we can atleast customize the arrow by e

[2017-07-24 15:15] cmslewis commented on #1375
Sit tight; we're literally rewriting Popover as I type this, and this is one of the newly supported features IIRC.  👍

[2017-07-24 20:39] #721 closed

[2017-07-25 02:26] henrify commented on #1368
Perfect. In that case I'll have a Throttle, cooked well done, without Batching, and a Diet Coke please.

Thanks everybody for fast replies & feel free to close this issue.

[2017-07-25 06:40] #1372 closed

[2017-07-25 07:55] jeffjenk opened #1380 "[Labs] Controlled usage of Omnibox component"
### Bug report

- __Package version(s)__: @blueprintjs/labs: ^0.4.0
- __Browser and OS versions__: Chrome Version 59.0.3071.115, MAC OS Sierra 10.12.5

#### Steps to reproduce

1. Override the `inputProps` property with `onChange` and `value` properties.
2. Type text into omnibox input
3. No InputGroup or noResults JSX element is rendered

#### Actual behavior

When attempting to override the `inp

[2017-07-25 17:49] acolombi opened #1381 "Minimal Button and AnchorButton keep focus after click, causes bad styling"
In Chrome on Mac OS, clicking a `pt-minimal` Button of AnchorButton will keep focus after the click. This leaves the styling like `:hover` even after you've moved the mouse away. See gif below.

![button-click](https://user-images.githubusercontent.com/707331/28586005-21629006-7127-11e7-85d4-e107de9b05dd.gif)

[2017-07-25 18:42] giladgray commented on #1381
@acolombi this is simply how focus works in the browser - it remembers the last element you focused. Don't think there's any work to be done here, it's basically "by design"

[2017-07-25 19:04] llorca commented on #1381
What Gilad said. This is specifically designed for minimal buttons, we intentionally apply the same styles on hover and focus. Basically, it addresses a few visual accessibility concerns that were particular to minimal buttons, such as keyboard navigation styles, contrast, visibility...

[2017-07-25 19:11] #1352 closed

[2017-07-25 19:38] JKillian commented on #1381
It is a somewhat jarring visual effect though - it feels like the button "got stuck down". I've seen it confuse users in an app I've worked on

[2017-07-25 20:19] llorca commented on #1381
I traced back some old PRs internally, and it looks like we matched focus styles to hover styles before we ever had the `FocusStyleManager`, which makes a lot of sense with regards to accessibility and keyboard navigation. Might be safe to remove now!

[2017-07-25 23:51] llorca commented on #1380
There are some docs regarding controlled usage of `QueryList`-backed components: http://blueprintjs.com/docs/#labs.controlled-usage

I'll let @giladgray share his more elaborated thoughts.

[2017-07-26 00:08] giladgray commented on #1380
@jeffjenk it sounds to me like you have not correctly implemented controlled mode for `Omnibox`--when overriding `inputProps`, __you must also handle filtering yourself through `items` prop directly__ because you've overwritten the component's own `onChange` handler.

see http://blueprintjs.com/docs/#labs.controlled-usage for more information. happy to update the docs if they're not clear enough.

[2017-07-26 00:09] giladgray commented on #1375
yes this should be addressed by #1202

[2017-07-26 07:25] jeffjenk commented on #1380
Hi Guys, thanks for the quick feedback. Its very possible I have not implemented controlled mode properly, but I cannot seem to come right via your docs so perhaps I should elaborate a little.

I am trying to implement server side search so I don't require filtering. I simply want to display my whole list when the user enters a couple of characters.

As you can see my onChange handler simply updat

[2017-07-26 15:45] adidahiya opened #1384 "Color picker component"
Maybe using https://casesandberg.github.io/react-color/

More inspiration:
- https://farbelous.github.io/bootstrap-colorpicker/
- chrome dev tools color picker
  ![image](https://user-images.githubusercontent.com/723999/28630235-ba8cf642-71f7-11e7-8490-9a276fe65539.png)

I think we should just build this in core (if it doesn't take any additional external dependencies) or as a new package (if it d

[2017-07-26 16:35] dmackerman opened #1385 "[Popover] Appears after "closed" by hovering over container when animation is not complete"
### Bug report

- __Package version(s)__:  Latest
- __Browser and OS versions__:  Mac OSX Sierra, Chrome Latest

#### Steps to reproduce

1. Go to `Menu` documentation.

See this GIF for behavior:

![menus](https://user-images.githubusercontent.com/289938/28632485-92154f46-71e5-11e7-9793-7c6595ad59a9.gif)

This seems like a bug to me, but maybe it's the intended behavior. This has some pretty bad

[2017-07-26 17:00] llorca commented on #1385
Definitely not intended behavior, submenus need a lot of work: https://github.com/palantir/blueprint/issues/898 https://github.com/palantir/blueprint/issues/849 https://github.com/palantir/blueprint/issues/847

Does `Popover2` with Popper makes that any better out of the box @giladgray?

[2017-07-26 17:22] dmackerman commented on #1385
@llorca FWIW the behavior isn't limited only to submenus. Happens with any `Popover`.

[2017-07-26 17:36] llorca commented on #1385
Right, I'm able to repro with `InteractionKind.HOVER` but it's trickier than submenus: I have to instantly hover back on the popover area before the animation ends, which requires a lot of dexterity. I doubt this is a serious problem, whereas it seems much easier to end up in this situation with submenus.

[2017-07-26 18:17] #1182 closed

[2017-07-26 20:46] jamesross3 opened #1387 "Blueprint labs Select FR: clear query on close prop"
the blueprint labs Select component has a prop `resetOnSelect: boolean` (it's great). Is it possible to add a `resetOnClose: boolean` prop which will similarly clear the query string upon the popover closing?

[2017-07-26 20:56] giladgray commented on #1385
`Popover2` will have literally zero effect on `MenuItem` because those will continue to use the original `Popover` internally.

[2017-07-26 20:57] giladgray commented on #1384
we'll likely want at the very least a color manipulation library, if not a full React component that we can simply skin (a la `DatePicker`), so pretty sure there's going to be a new external dependency.

[2017-07-26 21:00] giladgray commented on #1380
setting `itemPredicate={true}` seems quite invalid and would be banned hardcore if you were using typescript: `itemPredicate` should be either undefined or a function, definitely not a boolean.

but your note about `this.state.query` is likely the culprit here. some dev work on controlled usage will be required, but that's honestly low priority for the team. would be happy to review a PR if you wa

[2017-07-27 00:36] #1238 closed

[2017-07-27 05:53] markhepburn opened #1393 "EditableText: support additional editing customisation [feature request]"
It would be convenient to have more control around the edit process.

My motivating example is to differentiate display-value vs edit-value; for example display a formatted currency string "$1,234.50", but present the raw number (1234.5) for editing.

I can think of a few possibilities off the top of my head to implement this:
* an optional format function
* different properties for display and ed

[2017-07-27 06:37] jeffjenk commented on #1380
Haha, noted, sorry.

I would definitely be keen to submit a pull request. Let me take a look and get back to you.

[2017-07-27 06:56] bwqdxxg opened #1394 "Table scroll appear blank,Can I change it?"

[2017-07-27 10:10] FezVrasta commented on #1385
Looks like the menu item is hidden with a CSS transition to `opacity: 0` and if you hover over it before it is completely removed (after the transition) it will appear again because it thinks you just moved the mouse accidentally outside the menu.

A possible solution could be to set `pointer-events: none` to the menu while the opacity transition is in progress

[2017-07-27 16:38] cmslewis commented on #1394
Hi @bwqdxxg, there's not enough (well, any) context here. Please give us more details to work with: a GIF of what you're seeing, the repro steps, the actual vs. expected behavior, and so on. Else we'll have to close this.

[2017-07-27 16:53] cmslewis commented on #1393
I've had something similar in mind for `NumericInput` (see: #607). We likely won't have bandwidth to work on this in the next month, but I'd be happy to consider an external PR for this.

[2017-07-27 17:22] dmackerman commented on #1385
@FezVrasta If you look at the `_popover.scss` file, similar code actually already exists:

[code]

[2017-07-27 17:24] dmackerman commented on #1385
What's even more interesting is that `pt-popover-leave` is not a `className` being used anywhere inside Blueprint that I could find. 😄

[2017-07-27 18:43] #1381 closed

[2017-07-27 19:50] llorca commented on #1385
@dmackerman it's a class generated by CSSTG, we have a mixin that helps us target it for each component: https://github.com/palantir/blueprint/blob/al/button-background-image/packages/core/src/common/_react-transition.scss#L1

[2017-07-27 21:56] llorca commented on #1374
From @cmslewis:

[2017-07-27 22:22] #1297 closed

[2017-07-28 02:45] markhepburn commented on #1393
Ok great, thanks!  Did you have any thoughts on preferred approach?

My thinking:
* optional parse/format functions and different properties for display/edit values are probably reasonably equivalent
* a willStartEdit type callback could I think work, but it's starting to feel very stateful
* a separate edit component is desirable, but probably deserves a separate PR and issue.

Given that #607 al

[2017-07-28 06:08] liesislukas opened #1395 "[Toaster] property to hide [x] button so can pass in message with jsx and custom button easily w/o creating all component for Toast message"
![image](https://user-images.githubusercontent.com/2733862/28704613-26b78684-7374-11e7-8225-e283c7b0c0d0.png)

[code]
expecting to have `showClose: false` or similar prop:

[code]

I saw your docs for http://blueprintjs.com/docs/#core/components/toast.react-component
But would be great to have simple prop to hide [x]

For now, I'm using `action` property, which is OK but still would like to hide [

[2017-07-28 16:11] vaenow commented on #503
Thank you guys for your `Table`.  👍
I would like to know when to release the latest version which include frozen rows/cols. 🙂

[2017-07-28 17:13] llorca commented on #503
@vaenow we're still working on it! Watch out for this issue and upcoming releases 👍

[2017-07-28 20:09] #1153 closed

[2017-07-28 20:13] #1324 closed

[2017-07-28 21:08] #1351 closed

[2017-07-28 22:24] giladgray commented on #1395
@liesislukas the thing about the X is it's sort of always needed--it gives the user a reliable way to dismiss a toast when they're done with it (regardless of timeout). the `Toast` API is opinionated to offer a specific experience: ephemeral, dismissible messages.

if you're looking for something custom, just use `Overlay` and the `.pt-toast` CSS classes directly to get _exactly_ what you need.

[2017-07-28 22:24] #1395 closed

[2017-07-28 22:25] giladgray commented on #1385
@dmackerman that class appears only in the generated CSS itself (as output from the mixin @llorca
 linked above): https://github.com/palantir/blueprint/blob/master/docs/docs/site-docs.css#L5272-L5274

[2017-07-28 22:25] #1394 closed

[2017-07-28 22:36] #1387 closed

[2017-07-28 22:52] giladgray commented on #1393
@markhepburn I think `value` and `format` is probably the most straightforward approach given the current architecture. an event callback doesn't feel appropriate here, and a new component is additional (unnecessary) overhead.

My primary concern is that `EditableText`'s key feature is the auto-sizing of the input based on its current value. This feature separates editing value from display value

[2017-07-30 16:57] viggyfresh opened #1398 "[Labs] Can't override input placeholder on MultiSelect"
### Bug report

- __Package version(s)__: 1.24.0
- __Browser and OS versions__: Electron 1.6.11

#### Steps to reproduce

1. Try to override the input placeholder on a `MultiSelect` as follows (culled almost directly from the docs):
[code]
2. Try to select (either via the Enter button or a click) any item from the multiselect.

#### Actual behavior

[code]

#### Expected behavior

I don't think th

[2017-07-30 19:41] llorca commented on #1398
You're not being an idiot! Looks like we're not spreading properly: https://github.com/palantir/blueprint/blob/master/packages/labs/src/components/select/multiSelect.tsx#L122

[2017-07-30 20:40] giladgray commented on #1398
issue is a little further down, these two lines should be flipped: https://github.com/palantir/blueprint/blob/master/packages/labs/src/components/select/multiSelect.tsx#L150-L151

[2017-07-30 23:09] rheinheimer opened #1399 "[RadioGroup] add option to create inline radios"
Enhancement: I suggest adding an option to create an inline RadioGroup, instead of vertically stacked as they are now. I tried to pass "pt-inline" as a class, but that doesn't work. For now I can roll my own, but this would be nice!

[2017-07-31 00:40] viggyfresh commented on #1398
Phew 😅 thanks folks for the quick response!

Random other finding that isn't nearly as urgent but was surprising - making the `MultiSelect` "large" (via making the `TagInput` large) doesn't resize the placeholder text, which remains at the normal font size. This one is easier to work around with some quick CSS, but figured I'd flag it as well!

[code]

[2017-07-31 07:10] jeffjenk commented on #1380
@giladgray It seems to me the easiest way to fix this issue would be to pull the `value` out of the `inputProps` during `componentWillReceiveProps` and set the Omnibox state variable on its way down. Something like this:

[code]

[2017-08-01 07:04] jasonbarry opened #1400 "[Table] Maximum number of rows in a table is 200?"
https://github.com/palantir/blueprint/blob/10b1f58bcf581297ee4f2ccab3bdd11b5b7804e2/packages/table/src/common/grid.ts#L35

It seems like tables are hardcoded to be limited to 200 rows? Why is this the case? Are there any ways to circumvent this limitation?

Seems that the presence of `DEFAULT_MAX_ROWS` should be noted in the documentation.

### Bug report

- __Package version(s)__: blueprintjs/tab

[2017-08-01 12:17] Que3216 opened #1401 "[Toaster] [P4] Add a way to tell if the toast was dismissed, vs the user clicking a button"
If you have a toast:

[code]

There's no way to tell if onDismiss was called because the user dismissed the toast by clicking the dismiss button, or by clicking the save button. So you have to do:

[code]

[2017-08-01 12:18] Que3216 commented on #1401
P4 becuase there's an easy work around

[2017-08-01 15:35] JKillian opened #1402 "[DateTimePicker] Clears selected day when arrow keys used in TimePicker"
### Bug report

- datetime 1.19.0
- Chrome 60, macOS

#### Steps to reproduce

1. Select a day and time in a `DateTimePicker` in the docs
1. Click inside a `TimePicker` input and use the arrows to change the time

#### Actual behavior

The selected day unselects itself

#### Expected behavior

The selected day stays selected

#### Demo

![2017-08-01 11 32 20](https://user-images.githubusercontent.

[2017-08-01 17:14] llorca commented on #1401
I'm not sure what the problem is here. We provide you with:
- `onClick` on the action to know when the user clicks on the toast action
- `onDismiss(false)` on the toast to know when the user dismisses the toast
- `onDismiss(true)` on the toast to know when the toast timeout expired

Seems that covers it all, right?

[2017-08-01 17:16] llorca commented on #1400
It sure isn't limited to 200. Can you share how you're constructing your table?

[2017-08-01 17:53] jasonbarry commented on #1400
I have a global array called `DATA` containing 220 objects like

[code]

and then my component looks like

[code]

Only 200 rows get printed.

[2017-08-01 19:37] cmslewis commented on #1400
Huh, I'd never encountered this before since taking over the `Table` codebase, but it looks like only 200 rows will be shown _in the same scroll view_ (though you can of course scroll to reveal the rest). This is due to the table's assumption that it will be shown as a scrollable pane.

@jasonbarry How tall is your table container and how tall are your rows?

[2017-08-01 20:01] jasonbarry commented on #1400
@cmslewis ah, that's probably it! My table container is 10000px because I wanted the window to be the main scroll view.

[2017-08-01 20:06] cmslewis commented on #1400
Is it workable for you to have the table be your scrollable region for now (and style it to absolute-fill its parent container)?

[2017-08-01 20:40] jasonbarry commented on #1400
@cmslewis Yes — although it's a little strange having two scrollbars now, since the table is the only content that's displayed on the page.

[2017-08-01 21:41] giladgray commented on #1400
@jasonbarry you should be able to have only one scrollbar with a little CSS `overflow` wizardry.

[2017-08-01 22:04] paulpooch opened #1403 "[Labs] QueryList onKeyDown does not fire for most keys (only up & down keys)."
Make a QueryList

[code]

Assuming you have the rest wired properly to a renderer...

You'll see that KEYUP gets printed for every key,
but KEYDOWN only gets printed for the up and down arrows.

[2017-08-01 22:19] paulpooch commented on #1403
The exact offending line:

[code]

[2017-08-01 22:21] giladgray commented on #1403
wow yeah that `return` 😱

[2017-08-01 22:22] giladgray commented on #1403
@paulpooch team is fully booked this week but we'd happily accept a PR 🎩

[2017-08-02 04:48] adidahiya commented on #1400
@jasonbarry I'm inclined to close this issue as "by design". Blueprint's table component is a "fixed" table kind of like [fixed-data-table](https://github.com/facebook/fixed-data-table); it doesn't grow or shrink based on its contents. You can use CSS to make the table fit its container element, but that's up to you. If you have a proposal for an alternative layout mechanism, we'd be willing to ta

[2017-08-02 04:48] #1400 closed

[2017-08-02 04:53] adidahiya commented on #1401
Also it sounds like a Dialog would be better suited for the "did you save your changes" use case. Are you reluctant to use it because of its verbose API? Are you interested in this [imperative API proposal for Dialog](https://github.com/palantir/blueprint/issues/1180#issuecomment-305593779)?

[2017-08-02 04:55] #1403 closed

[2017-08-02 11:39] AlexMarvelo opened #1405 "[DatePicker] Week start day option"
In user customization purposes, it's good to have an option to control which day a week starts from.
Examples:
`weekStartOn: 0` - week starts on Sun, ends on Sat
`weekStartOn: 1` - week starts on Mon, ends on Sun
`weekStartOn: 3` - week starts on Wed, ends on Tue

[2017-08-02 18:45] giladgray commented on #1405
@AlexMarvelo this is supported through `localeUtils` in react-day-picker: http://react-day-picker.js.org/docs/localization.html

[2017-08-02 22:01] sushain97 commented on #1398
Thanks, @giladgray! Your recommended change works perfectly and unblocks me till an upstream fix.

[2017-08-03 08:49] YuvalYellin15 opened #1406 "Tabs2 inside Tabs2 are initially without an indicator bar under the selected tab"
If there is a Tabs2 element inside a Tab2 element, then initially the selected tab will be highlighted regularly but without an indicator bar under its title.

* Happens only when attribute animate is set to true and when the Tabs2 element is at the second and
   forth Tab2 element.

`<Tabs2 id={1}>
          <Tab2 id={1} title="tab1" panel={<div>content1</div>}/>
          <Tab2 id={2} title="tab

[2017-08-04 00:59] sushain97 opened #1407 "[Labs / Select] Allow value container to be an input that filters items"
Currently, labs' `<Select>` does not display the selected value itself, the docs opt to display the value in a `<Button>` which is nice. However, for a consistent UX when both `<MultiSelect>` and `<Select>` are being used in tandem, it would be perfect if the selected value could be displayed inside an `<InputGroup>` which supports filtering rather than filtering through a popover. Of course, usin

[2017-08-04 15:52] sushain97 opened #1408 "[Labs / MultiSelect] Add support for right icons (e.g. for spinner or clear all)"
Currently, `<MultiSelect>` uses an ordinary `<input>` for user input. This makes it difficult (not possible?) to add a spinner at the right hand side to indicate options being loaded asynchronously, a clear all button or something else of that nature.

@llorca mentioned that a concern here was that the icon would take up the entire vertical height. Maybe they could be centered vertically the way t

[2017-08-04 17:31] phegstrom opened #1409 "[DateTime] Support 12hr (AM/PM) times as well"
### Feature Request

Can the [TimePicker](http://blueprintjs.com/docs/#datetime/timepicker) be enhanced to allow for either 12hr or 24hr times?

Thanks!

// Copied from #1810

[2017-08-04 19:11] tnrich opened #1411 "Prevent table header onSelection from firing when selectionModes={SelectionModes.ROWS_AND_CELLS}"
Like the title says, I have a table where I'm using
`selectionModes={SelectionModes.ROWS_AND_CELLS}`

I am trying to implement a checkbox column and want to listen to the onChange of of a Checkbox inside of a `ColumnHeaderCell`. Unfortunately, by the time the Checkbox's onChange fires, the selectedRegions of the table have already changed because the onSelection is getting fired from the clicking

[2017-08-04 19:24] giladgray opened #1412 "TagInput improvements"
Collecting a bunch of features I want to add to `TagInput`:

- [ ] 1. `inputValue`, `onInputChange` props to listen/control input without resorting to `inputProps`
- [x] 2. #1418 `placeholder` prop that is removed when `values.length > 0` (use `inputProps.placeholder` if you always want it there)
- [x] 3. `InputGroup` support for left icon / right element (needs styles) #1420
- [x] 4. #1418 `separ

[2017-08-05 01:57] sushain97 commented on #1412
My #1408 is a dup of your # 3, feel free to close mine. Thanks again for the work on this, quite useful for us.

[2017-08-06 18:55] alexanderchr opened #1413 "InputGroup with no right element sets right padding of input element to zero"
### Bug report

- __Package version(s)__: master branch
- __Browser and OS versions__: NA

#### Steps to reproduce

1. Render an InputGroup

#### Actual behavior

The text input rendered by the InputGroup has 10px left padding and 0 right padding, thanks to https://github.com/palantir/blueprint/blob/master/packages/core/src/components/forms/inputGroup.tsx#L117.

#### Expected behavior

The text in

[2017-08-07 14:25] cesarp opened #1414 "Expose showWeekNumbers and onWeekClick in the DateRangePicker"
First, thanks for the awesome work in Blueprint.

We have a request in our app to be able to pick weeks in the date range picker and the way we wanted to implement it was to use the enable showWeekNumbers, add an onWeekClick handler and change the value from numberOfMonths to 1 so only a single month was visible using the react-day-picker props but there is currently no way to pass those values fr

[2017-08-07 17:48] #1405 closed

[2017-08-07 19:35] mwebb33 opened #1415 "Table scrolling performance is slow and jittery since 1.12"
### Bug report

- __Package version(s)__:  1.21
- __Browser and OS versions__: Chrome Version 59.0.3071.115 (64-bit) / OSX 10.12.5

#### Steps to reproduce

I have a large table with 2000 rows and 8 columns. I am having some strange blocking behavior on scroll. The right side scroll bar will disappear and hang for a noticeable amount of time. In general, it feels like it is not running anywhere ne

[2017-08-07 21:47] tnrich opened #1417 "How to set table body max height via table props?"
Hey there, is there a recommended way to set the max height of a table body? I see it being done with CSS in the example tables, but it seems like it would be nice if this could also be done via props on the table component.

Also, if CSS is the recommended way, if a little note in the docs about what class to apply the max-height property would be appreciated.

Thanks!

[2017-08-07 22:32] jennykortina commented on #925
@giladgray when I try to export like this:

`export default connect(null, dispatcher)(ContextMenuTarget(Component));`

i get this error:

`Uncaught Error: You must pass a component to the function returned by connect. Instead received undefined at invariant`

I'm importing ContextMenuTarget like this:

`import { ContextMenuTarget, Menu, MenuItem } from '@blueprintjs/core';`

[2017-08-08 00:25] adidahiya commented on #925
@jennykortina because `ContextMenuTarget` doesn't return anything. For now you can work around this by doing this:

[code]

The proper long-term fix is #931.

[2017-08-08 00:52] jennykortina commented on #925
@adidahiya thank you!

[2017-08-08 17:03] cmocanu commented on #168
Shouldn't this be closed?

[2017-08-08 17:12] llorca commented on #168
@cmocanu yup correct, there was a few duplicate issues

[2017-08-08 17:12] #168 closed

[2017-08-08 20:17] cmslewis commented on #1415
@mwebb33 - We've done a lot of work on `Table` scrolling performance over the past couple months. Is it possible for you to update to the latest version of Blueprint?

[2017-08-08 20:38] cmslewis commented on #1415
Also, take a look at the scroll-perf improvements #1416. Once the frozen columns/rows feature merges, I think we'll see better scrolling in general.

[2017-08-08 20:49] mwebb33 commented on #1415
@cmslewis:

Thanks for the reply. Sorry this post was a bit light on details- I am running 1.21.

I will check out #1416 and see if that helps. I also plan on following up with a bit more of a performance investigation. I really really want to use this library, it is very nice, especially the selection features, but react-virtualized and fixed-data-table just feel more responsive to me. I mostly p

[2017-08-08 20:59] cmslewis opened #1423 "Speed up the `DateRangeInput` tests"
### Bug report

- __Package version(s)__: v1.24.0

#### Steps to reproduce

1. Run `gulp-datetime` locally.

#### Actual behavior

`DateRangeInput` tests take foreverrrr.

#### Expected behavior

`DateRangeInput` tests are fast.

[2017-08-08 21:00] cmslewis commented on #1423
The real problem is the hover/selection tests. If we can refactor those to use a single `DRI` instance that resets after every test, we'll probably save a ton of time per test.

[2017-08-08 22:09] llorca opened #1425 "Refactor buttons, input groups and others into a 3-column flex layout"
Applicable to:
- [x] `.pt-menu-item` #2075
- [x] `.pt-button` #2078
- [ ] `.pt-tag-input`
- ~`.pt-input-group`~ (cannot flex as `input` must surround left/right for focus state)

[2017-08-08 22:14] #444 closed

[2017-08-08 22:15] llorca opened #1426 "Consolidate positioning concepts"
Popover 2.0 introduces an inconsistency where positions are now "placements" with a brand new string enum. We should consolidate and expose only one positioning concept.

[2017-08-08 23:49] nomcopter opened #1428 "[DateInput] Locale not passed to moment for i18n format strings like `L`"
### Bug report

- __Package version(s)__: @blueprintjs/datetime 1.19.0
- __Browser and OS versions__: All

#### Steps to reproduce

1. Pass a format string to `DateInput` like `L` and a locale with a different date format.

#### Actual behavior

`L` still outputs the expected `en-US` format.

#### Expected behavior

The output should be based on the provided `locale` prop.

[2017-08-09 15:26] #1428 closed

[2017-08-09 21:02] #1368 closed

[2017-08-09 21:39] #1423 closed

[2017-08-09 21:46] tgreenwatts opened #1430 "Expose ability for app to scroll to specific row/column in table"
Example usecase: App adds a search bar to search for a column, then scrolls user to that column

[2017-08-10 00:48] giladgray commented on #1313
@liesislukas we've narrowed this issue down to something entirely out of our control: retina screens seem to support scrolling from the backdrop, but normal monitors _do not_. this can be repro'ed readily by plugging an external monitor into a Retina MBP and dragging a chrome window back and forth between monitors.

#1373 attempts to fix some of the scrolling woes in CSS but there seems to be litt

[2017-08-10 01:09] giladgray commented on #1313
@liesislukas actually ignore my comment above, #1373 totally fixes this now!

[2017-08-10 01:20] #1398 closed

[2017-08-10 02:27] giladgray commented on #1408
implemented in #1420

[2017-08-10 02:27] #1408 closed

[2017-08-10 15:31] volkandkaya opened #1431 "Add key icon"
Would be great to have a key icon.

[2017-08-10 17:03] giladgray commented on #1431
Sorry @volkandkaya, we can't accept icon requests from the community at this time.

But what kind of key are you referring to? The kind that goes with a lock, or with a value?

[2017-08-10 17:09] giladgray commented on #1414
@cesarp love this feature request and should be pretty straightforward to expose more react-day-picker features. Unfortunately datetime is low on the team's priority list. How would you feel about contributing a PR?

[2017-08-10 18:11] #552 closed

[2017-08-10 18:11] #1240 closed

[2017-08-10 18:11] #1313 closed

[2017-08-10 18:24] phegstrom opened #1433 "Apply Blueprint Formatting To DatePicker Dropdowns"
### Feature Request

Component: DatePicker

Update the formatting of the dropdown menu for the Month and Year in the datepicker. Currently the menu is not blueprint style. Or make the dropdown configurable (enable/disable).

Maybe it'd be better to remove the dropdown altogether and use a "<" or "<<" to denote changing year/month? Something like:
`<<`  `<`  August 2017 `>`  `>>`

#### Current View

[2017-08-10 18:37] llorca commented on #1433
AFAIK it's not possible to customize the look of `<option>`s (one [SO answer](https://stackoverflow.com/questions/7208786/how-to-style-the-option-of-a-html-select)). We already removed the `appearance` from `<select>` -- I don't see any value in reimplementing this with a custom select component.

[2017-08-10 19:40] volkandkaya commented on #1431
I want to represent an API key, I am sure that is huge with this community.

http://fontawesome.io/icon/key/

[2017-08-10 20:53] cesarp commented on #1414
Sure I can give it a try, I might need some guidance but would be happy to help.

[2017-08-10 21:12] giladgray commented on #1433
we made an intentional choice to use native `<select>` elements here cuz they gave the best experience across the board (with the least effort). arrow buttons are not sufficient here because they require too many clicks to change the month from March to September (6, vs 2 with the dropdown).

while i appreciate the request for more sexy blueprint menus, the value is minimal and the effort measurab

[2017-08-10 21:12] #1433 closed

[2017-08-10 21:13] giladgray commented on #1431
for sure, we'll look into it internally

[2017-08-10 21:13] #1431 closed

[2017-08-10 21:24] giladgray commented on #1414
@cesarp awesome! start here https://github.com/palantir/blueprint/wiki/Development-practices, and check the other wiki pages in the sidebar under Contributing. we'll review your code as soon as it's up!

[2017-08-11 02:15] #1202 closed

[2017-08-11 12:47] thomas-mcdonald opened #1436 "[labs/select] Provide mechanism for disabling Select handlers"
I'm trying to disable a Select input... use case is that one select should be filled out before the second one. There are two pieces here - I can disable the underlying button/child element for the visual side of things but need a way to disable the handlers on the `Select`  component.

![screen recording 2017-08-09 at 05 57 pm](https://user-images.githubusercontent.com/197928/29145820-97b5a7fa-7d

[2017-08-11 13:08] thomas-mcdonald commented on #1436
Since I need this today, going to try writing a HOC that switches out the Select w/Button child for just a disabled Button if `disabled={true}` is passed

[2017-08-11 15:35] ethanbond commented on #744
We definitely need some way to copy column headers. This is often the expected behavior when a user is referencing a table's column name, for example, in their pipeline code.

For our users, this can force users to have to open the same table in a different product to get a copy-able column name.

[2017-08-11 16:11] mmoutenot commented on #863
@giladgray hey! I'm pretty certain we were both in some of @mchow01's classes :)

We just started using blueprint in https://upstream.tech and when adding some jest tests ran into this issue as well. Have y'all found any resolution?

[2017-08-11 16:33] adidahiya commented on #863
@mmoutenot are your steps to repro the same as the original issue? Are your tests failing specifically when using snapshots?

[2017-08-11 16:58] cmslewis opened #1437 "[Tree] Investigate which TreeNode props are actually required vs. optional"
### Bug report

- __Package version(s)__: v1.24.0

In the `ITreeNodeProps`, `path` claims to be required, but in `treeExample.tsx`, we do some sneaky type-casting to get around that requirement. One reason seems to be that in said example, the required `id` of each node is populated later from within the `Tree` component, meaning it needn't be explicitly supplied from the example code. If we're do

[2017-08-11 17:13] michael-yx-wu commented on #1437
Another interesting thing is that [nodeFromPath](https://github.com/palantir/blueprint/blob/master/packages/core/src/components/tree/tree.tsx#L53) static function is called by the `handlerHelper` in `tree.tsx` and assumes that `path` is defined and `path.length >= 1`. I'm curious why the example works without error when I expand and collapse nodes.

[2017-08-11 17:14] llorca commented on #744
@ethanbond there's already a context menu showing when you right click, and in there you can find the copy action 👍

[2017-08-11 17:14] mmoutenot commented on #863
@adidahiya yes, an identical test setup with snapshots.

[2017-08-11 17:16] llorca commented on #1436
@thomas-mcdonald I think a `disabled` prop for `Select` would make sense here. Want to submit a PR for that functionality?

[2017-08-12 17:09] mkmpvtltd1 commented on #1051
i have same issue how can i fix this?

[2017-08-12 17:12] giladgray commented on #1051
@mkmpvtltd1 ignore it! It's not an error, just a casual warning. Your app will continue to function perfectly despite the outdated library.

We'll bump all our dependencies later this year.

[2017-08-14 14:56] sushain97 opened #1440 "[Labs] Support option groups in <Select>/<MultiSelect>"
### Feature Request

#### Motivation

Options within an `<Select>` or `<MultiSelect>` can often benefit from grouping cf. native HTML `<optgroup>`s . For example, consider a select field that's used to select assignees for a particular ticket. The assignees can be either "groups" of users, or users themselves. Visually delineating these within the options of the select is more effective than the a

[2017-08-14 17:36] cmslewis commented on #1440
@llorca what do you think of this? Sounds reasonable to me, but I'd be interested to hear your thoughts, since you were around for the design of these components.

[2017-08-14 18:28] tgreenwatts commented on #1189
Some css hackery we've seen to get this done

[code]

[2017-08-14 18:46] cmslewis opened #1441 "Make code compilation faster when dev'ing on Table"
When I press `Cmd + S` in a `Table` file with `npm run watch` running, all of the following execute regardless of the type of file I was just editing:

[code]

Would be a huge productivity win to speed this up.

[2017-08-14 18:58] cmslewis opened #1442 "[Table] Add unit tests verifying shouldComponentUpdate logic in Table components?"
### Bug report

- __Package version(s)__: v1.24.0

Might be nice to have unit tests enforcing our `shouldComponentUpdate` checks (white lists and black lists) on table components. Would involve `component.setProps` and `shouldComponentUpdateSpy.called === {true|false}`.

[2017-08-14 20:45] cmslewis opened #1443 "[Table] When enableFocus becomes true, show the focus cell right away"
### Bug report

- __Package version(s)__: v1.24.0

#### Steps to reproduce

1. Set `enableFocus` to true on a `Table`.

#### Actual behavior

No focus cell shown until you make a selection, then it persists as expected.

#### Expected behavior

Show a focus cell right away.

[2017-08-14 20:47] llorca commented on #1443
Dupe of https://github.com/palantir/blueprint/issues/1072?

[2017-08-14 20:58] cmslewis opened #1444 "[Table] Fix visual regressions and styles from frozen row/col work"
### Bug report

- __Package version(s)__: v1.24.0

#### Problems:
- [x] **Missing left border on leftmost-column selection overlay when `numFrozenColumns={0}`**
    ![image](https://user-images.githubusercontent.com/443450/29291188-a22fbce2-80f7-11e7-85e3-bbf05499b311.png)
    _Variant_: Missing focus-cell left edge on `FULL_ROWS` selection
    ![image](https://user-images.githubusercontent.com/44

[2017-08-14 21:07] sushain97 commented on #1440
BTW, happy to put together a PR for this if helpful after discussion ends.

[2017-08-14 21:26] giladgray commented on #1440
I've got some thoughts on this but I'm on the road today. Will put a comment together later today or tomorrow.

[2017-08-14 21:51] sushain97 commented on #1440
I spoke with @llorca briefly on Slack and the approach he proposed to me is having something akin to a `dropdownRenderer` to mirror the `itemRenderer`.

`dropdownRenderer` would take as input the items, filtered items, active item, etc. and render the dropdown itself. By default, this would be the current behavior which is rendering the items within a `<Menu>`.

A consumer could easily provide the

[2017-08-14 22:04] sushain97 commented on #1440
The implementation of such a solution is relatively straightforward as well: https://gist.github.com/sushain97/c512dd4c5a4128b4484b387d6fb96c7a. The types are a bit gnarly...

[2017-08-14 22:12] tgreenwatts commented on #460
@cmslewis is this still an issue?

[2017-08-14 22:12] tgreenwatts commented on #706
@cmslewis is this still an issue?

[2017-08-14 22:13] tgreenwatts commented on #1417
@cmslewis can you take a look at this?

[2017-08-14 22:14] tgreenwatts commented on #390
We've done a lot of work in terms of perf here, I'm going to close this, it's still searchable, but we can open a new more targeted ticket for new perf concerns

[2017-08-14 22:14] #390 closed

[2017-08-14 22:14] tgreenwatts commented on #1187
@cmslewis is this still an issue?

[2017-08-14 22:15] tgreenwatts commented on #901
I'm inclined to close this as 'won't fix'. I don't think we should be in the business of changing any properties on resizing. I haven't heard any apps directly requesting this either

[2017-08-14 22:15] #901 closed

[2017-08-14 22:34] willadamskeane opened #1446 "Allow animations to be disabled on a per-component basis"
There is currently no way to completely disable the enter/leave transition on a component (at least for a Popover, which is what I was trying to do). The best I can do is override the transition duration in CSS, and set it to `1ms`. Setting this duration to `0ms` causes the popover to unreliably show and hide.
Ideally there would be a prop that could be passed, such as `disableTransition`, that wo

[2017-08-14 22:54] cmslewis commented on #1443
@llorca _Almost._ This is a piece of #1072 if we got through with that, specifically with respect to the `componentWillReceiveProps` logic.

[2017-08-14 23:28] #503 closed

[2017-08-14 23:28] #957 closed

[2017-08-15 01:48] giladgray commented on #1446
As you noted, it is not possible to set transition duration to 0 with `CSSTransitionGroup`. 1ms is in fact the best you can do, and that's the expected workaround here.

A simple CSS class that forces `transition-duration: 1ms !important` should be enough in most cases, though it's going to make things look real bad, which is kind of _not_ the point of Blueprint.

Have you seen our [minimal transi

[2017-08-15 03:10] vaenow opened #1449 "[Table] Feature request: Add a table footer"
Hey guys!
Thank you for your table, it helps me a lot in my work.

**Table Footer**: just like a frozen row attach the table's bottom

[2017-08-15 14:37] willadamskeane commented on #1446
I have - the minimal popover class applies a `100ms` transition by default. The `1ms` override looks pretty bad, as you mentioned. I really need a way to completely disable the transition.

[2017-08-15 17:19] cmslewis commented on #1449
Hi @vaenow, we just did a fairly major internal refactor to introduce [Frozen rows & columns](https://github.com/palantir/blueprint/pull/1445) into our `Table`. Take a look at that and see if it's workable for your use case.

We discussed the idea of sticky footers when we designed the aforementioned new feature, and we ultimately chose _not_ to support them given our use cases here at Palantir. T

[2017-08-15 17:42] cmslewis commented on #1446
@willadamskeane - out of interest, not nosiness: could you give a little more detail to help us understand your use case and the motivation for disabling the transition? Is it an aesthetic preference, or do you need to test something synchronously, etc?

[2017-08-15 17:50] cmslewis commented on #460
Seems like no.

[2017-08-15 17:52] cmslewis commented on #1417
@tnrich whoops, sorry for the delay. CSS is the recommended way, yes. We've had a couple folks get tripped up by this now, so happy to add a note to our docs!

[2017-08-15 17:56] cmslewis commented on #1187
@tnrich

The page shifts because we apply an `overflow: hidden` rule to the entire page when a modal popover is shown, to prevent scrolling. This causes the page scrollbar to hide and the page content to shift rightward to recenter itself in the newly reclaimed horizontal real estate. Native OSes are able to prevent scrolling without hiding the scrollbar; we aren't at the moment. :/

On your other

[2017-08-15 18:16] willadamskeane commented on #1446
It is an aesthetic preference. I'm building a menu system that sits at the top of the application, closely mimicking the menu style and function of the OSX menu bar. Clicking on a menu item opens a dropdown popover with child menu items. Ideally the menu items are accessible as quickly as possible as they will be used frequently.

[2017-08-15 18:27] llorca commented on #1446
@willadamskeane then the minimal animation should work just fine, I designed it for the exact use case you described. Even if we were to make the animation 0ms, it wouldn't actually speed up your workflow -- by the time the current 100ms is done, you're barely done clicking and the popover has just opened.

Side note, I can confirm that overriding the transition duration in both CSS in JS to 1ms d

[2017-08-15 18:43] willadamskeane commented on #1446
I totally get that in most cases `100ms` is short enough that it won't disrupt the workflow. However, in my case I allow the user to click on a menu which toggles an 'active' menu state, meaning that the user can simply move the mouse without clicking to activate other menus. Purely from an aesthetic point of view, it is jarring to see menus fading in and out, especially considering they could ope

[2017-08-15 20:49] llorca commented on #1446
Yup I see what you mean! When you first open a menu on Mac, it actually takes 100ms, but you can then smoothly navigate between other menus instantly. That, we don't support yet.

[2017-08-15 22:42] giladgray commented on #1446
@willadamskeane turns out it's quite easy to disable animations on a per-component basis (but it doesn't look very good, fair warning):

[code]

passing an unknown `transitionName` will change the CSS classes generated by `CSSTG` to something that doesn't have any associated styles. I used `"none"` above to make the intention obvious, but really anything other than the default value of `"pt-overla

[2017-08-15 23:09] llorca opened #1453 "Rename pt-file-upload to pt-file-input"
It is `<input type="file" />` under the hood

[2017-08-15 23:10] giladgray commented on #1453
also for consistency with `.pt-numeric-input` and `.pt-tag-input`

[2017-08-15 23:17] dmackerman commented on #1407
+1 for this one.

[2017-08-16 05:42] sushain97 opened #1454 "[Labs] MultiSelect typing does not allow tags to be arbitrary elements"
I think that per

https://github.com/palantir/blueprint/blob/5d35803cea062541776490ac2ea3cfbbd7bb3f64/packages/labs/examples/tagInputExample.tsx#L22

this

https://github.com/palantir/blueprint/blob/fd8c319991a7e9a5b656b0dd40b6fc3ca1a90630/packages/labs/src/components/select/multiSelect.tsx#L66

should be

[code]

Unfortunately, this makes it so that the new changes can't be taken advantage of for

[2017-08-16 11:40] martinrariga opened #1455 "Fix typo in pt-icon-bank-account icon"
#### Actual behavior

Typo in the name of the icon in the documentation. It says `pt-icon-banl-account`.

It is correct in svg name of the icon in assets folder.

<img width="213" alt="screenshot 2017-08-16 13 38 10" src="https://user-images.githubusercontent.com/8593852/29361529-5518b160-8288-11e7-9fb7-372357e3ae21.png">

#### Expected behavior

`pt-icon-bank-account`

[2017-08-16 14:03] willadamskeane commented on #1446
Looks like `transitionName="none"` doesn't have any effect on a Popover?

[2017-08-16 14:54] michael-yx-wu commented on #460
Cool, glad to see this is resolved!

[2017-08-16 14:54] #460 closed

[2017-08-16 15:59] giladgray commented on #1454
Please send a PR! Write a unit test if you can.

[2017-08-16 16:00] giladgray commented on #1446
Is the prop listed in the docs? Might be missing, in which case we'll accept a small PR to add it.

[2017-08-16 17:27] michael-yx-wu opened #1457 "Select all and clear selection buttons for multi-select"
Would BP consider adding "select all" and "clear" buttons for the multi-select component? For large multi select lists, it's not uncommon to see these features to minimize the amount of clicking.

[2017-08-16 17:54] llorca commented on #1457
I want the capability, but wouldn't want to add specific props for the behavior. Another reason to allow consumers to render their own popover content? https://github.com/palantir/blueprint/issues/1440#issuecomment-322319856

[2017-08-16 19:10] tgreenwatts opened #1459 "Table stack overflows at 90% zoom"
Related: https://github.com/palantir/blueprint/pull/1344

Today the table overflows but continues to render, with a pause each time it overflows
https://pl.ntr/fX

[2017-08-16 21:37] cmslewis opened #1460 "[Table] Better FULL_COLUMNS and FULL_ROWS drag-selection behavior"
### Bug report

- __Package version(s)__: v1.25.0

#### Steps to reproduce

1. Select a column.
1. Cmd + click another column and drag the selection over the existing selected column.

#### Actual behavior

The column becomes part of two overlapping selections.

![2017-08-16 14 31 53](https://user-images.githubusercontent.com/443450/29386280-0f8c405a-8290-11e7-9baf-8f97ec41b54d.gif)

#### Expected

[2017-08-17 04:44] #1455 closed