[2016-10-26 16:47] giladgray opened #5 "move wiki pages"
- [x] Release Process
- [x] Development Practices
  - [x] Coding Guidelines
- [x] Build Tasks
- [x] Editor integration
- [x] Docs Development

<br><br>
- [ ] Update CONTRIBUTING.md

[2016-10-26 16:49] giladgray opened #6 "serve docs from /docs folder"
per new GH Pages instructions

[2016-10-26 17:29] giladgray opened #7 "which version to start at?"
currently the packages here have the same versions as their previous internal incarnations.

should we reset them all to `1.0.0` in this repo?
i don't see any harm in doing so: they are new packages with new names.

[2016-10-26 17:53] giladgray opened #8 "@blueprint/table"
make the package!

[2016-10-26 18:22] giladgray opened #9 "move examples into their packages"
i think the [component examples](https://github.com/palantir/blueprint/tree/master/packages/docs/src/examples) should live in their respective packages, closer to the code they exemplify. this means that they'll be in the NPM package that users `npm install` so they'll have the examples locally to start from.

question is where the files should go?
1. in `examples/` directory as a _sibling_ of `sr

[2016-10-27 05:22] cyu06 opened #11 "Object.assign missing for IE11"
![screen shot 2016-10-26 at 10 22 04 pm](https://cloud.githubusercontent.com/assets/2013545/19755423/afe63b6c-9bca-11e6-8999-c119a71dcdcb.png)

[2016-10-27 05:54] cyu06 opened #12 "Retina screens clip input's box-shadow w/ Chrome"
![image](https://cloud.githubusercontent.com/assets/2013545/19756075/f7d6381a-9bce-11e6-972d-955820591a66.png)

Reported by @llorca.

[2016-10-27 13:09] adidahiya opened #14 "Blueprint logo doesn't look great in IE11"
![image](https://cloud.githubusercontent.com/assets/723999/19768318/48c5d176-9c57-11e6-9aa5-e6fb6fcdb6fe.png)

[2016-10-28 02:03] cyu06 opened #15 "Cursor jumps while editing EditableText inside a Dialog"
Reported by vshekhawat.

Modified repro:

[code]

[2016-10-29 01:41] cyu06 opened #20 "Swap confirm and newline key entries for EditableText's multiline mode"
Requested by benh.

[2016-10-30 22:25] adidahiya opened #22 "Use Sass syntax in docs, not Less"
When writing variables

[2016-11-01 23:05] #12 closed, assigned to cyu06

[2016-11-02 18:06] giladgray opened #28 "improve navigator fuzzy matching"
use [fuzzaldrin-plus](https://github.com/jeancroy/fuzzaldrin-plus).

[2016-11-03 00:11] cyu06 opened #32 "<Tabs> selectedTabIndex out of sync with its indicatorWrapperStyle"
Via controlled mode:
![image](https://cloud.githubusercontent.com/assets/2013545/19951922/95f20b4c-a11e-11e6-96dd-ac1c9062a566.png)

![before](https://cloud.githubusercontent.com/assets/2013545/19952041/56934d98-a11f-11e6-97e8-6c80e2fbe1ef.gif)

[2016-11-03 13:52] pkwi opened #34 "Remove contrast reference table link"
In Typography > Usage "contrast reference table" link points to the main page https://github.com/palantir/blueprint but there is no contrast reference table there.

[2016-11-03 16:02] pkwi opened #35 "Colors page - broken layout"
Colors page layout is broken (gray, core and extended color palettes).

Screens:

![screen shot 2016-11-03 at 3 59 16 pm](https://cloud.githubusercontent.com/assets/23030180/19973935/a7e62aac-a1de-11e6-9c1a-fb442c47edcf.png)

![screen shot 2016-11-03 at 3 59 26 pm](https://cloud.githubusercontent.com/assets/23030180/19973940/ad9b1714-a1de-11e6-9fa1-cef597ff627e.png)

[2016-11-03 21:13] #14 closed, assigned to nobody

[2016-11-03 21:59] #35 closed, assigned to nobody

[2016-11-07 18:44] JKillian opened #39 "Decrease docs website file size"
I was showing the BP website to a person unfamiliar with it, and (about) 10MB of content ends up being a really heavy initial load. It would be great to reduce this, also I think in general the developer community prefers less-heavy experiences.

Possible ideas:
* Remove all angular examples from public docs site / move them to a separate page
* Make sure that all sources (JS/CSS) are appropriatel

[2016-11-07 19:08] #9 closed, assigned to giladgray

[2016-11-07 19:11] cyu06 opened #40 "Rerendering uncontrolled Tabs can incorrectly reset selected index back to initial"
Uncontrolled tabs that have an `initialSelectedTabIndex` specified will fall back to that initial value upon rerender, even after a click selection has set the internal state to a new selected tab.

Local repro: rerendering the top part of my local example shows this tab index reset, even after a new tab has been selected.
![uncontrolled-reset](https://cloud.githubusercontent.com/assets/2013545/20

[2016-11-07 22:51] cyu06 opened #47 "<Tabs> indicatorWrapperStyle needs to account for underlying <Tab> change"
When <Tab> children's text changes while changing tabs, the indicator style moves based on an outdated size.
<img width="192" alt="screen shot 2016-11-02 at 5 08 07 pm" src="https://cloud.githubusercontent.com/assets/2013545/19951993/fa2548c2-a11e-11e6-8e98-3c87793c3e75.png">

[2016-11-09 01:10] #8 closed, assigned to themadcreator

[2016-11-09 15:37] adidahiya opened #58 "Don't use .pt- prefix for landing page CSS classes"
I think we should reserve the `.pt-` prefix exclusively for our public API. The world is a lot simpler if, whenever you see a `.pt-` class, you can be sure that it's part of the Blueprint API.

A reasonable alternative would be `.bp-` here, but the table package uses that. So feel free to make up a new one.

[2016-11-09 16:14] adidahiya opened #59 "Rename @blueprint -> @blueprintjs"
We don't have the __blueprint__ NPM account; we have __blueprintjs__

[2016-11-09 19:06] #40 closed, assigned to cyu06

[2016-11-09 23:13] #59 closed, assigned to giladgray

[2016-11-10 19:08] giladgray opened #64 "Host older versions of docs site"
ideas:

- `docs/docs/<version>/index.html`?
- use https://github.com/htmlpreview/htmlpreview.github.com?

[2016-11-10 19:09] #7 closed, assigned to nobody

[2016-11-10 21:16] #28 closed, assigned to giladgray

[2016-11-11 00:39] adidahiya opened #78 "Remove blueprint-landing project from releases dropdown in docs"
![image](https://cloud.githubusercontent.com/assets/723999/20200146/4f749fbc-a77d-11e6-93e3-71a75b0ac7c7.png)

[2016-11-11 01:02] #6 closed, assigned to themadcreator

[2016-11-11 02:02] #78 closed, assigned to nobody

[2016-11-11 18:24] #32 closed, assigned to cyu06

[2016-11-11 18:24] #47 closed, assigned to cyu06

[2016-11-11 18:46] #15 closed, assigned to cyu06

[2016-11-11 19:29] #22 closed, assigned to giladgray

[2016-11-11 21:52] adidahiya opened #89 "One of the tooltip examples gets clipped"
![image](https://cloud.githubusercontent.com/assets/723999/20231372/3b2a6372-a82f-11e6-9947-33113c9a67fb.png)

[2016-11-11 22:24] giladgray opened #91 "enable Google Analytics"
update condition here: https://github.com/palantir/blueprint/blob/master/docs/docs/index.html#L19
and add GA to landing page.

[2016-11-11 22:31] cmslewis opened #92 "Fix favicon on the landing and docs pages"
There's a meta tag for the favicon, but looks like it's pointing at the wrong path:
![image](https://cloud.githubusercontent.com/assets/443450/20232198/775ef088-a81b-11e6-8eb3-3c8c5c350b29.png)

[2016-11-11 22:48] llorca opened #93 "Make docs logo clickable"
To go back to landing

[2016-11-11 23:01] giladgray commented on #93
i'm not so sure... what about on the internal site which has no landing?

[2016-11-11 23:45] cmslewis opened #96 "Move landing/src/resources to landing/resources"
For consistency with other packages

[2016-11-11 23:59] cmslewis commented on #92
PR: https://github.com/palantir/blueprint/pull/97

[2016-11-11 23:59] cmslewis commented on #96
PR: https://github.com/palantir/blueprint/pull/97

[2016-11-12 01:07] llorca commented on #93
Threw it out there, relaying some feedback I got from folks. Internal has no landing and lives at `/`, therefore maybe we could have a simple `<a href="/">logo</a>` link?

[2016-11-12 02:04] llorca opened #98 "Restore docs syntax highlighting"
Seems to have disappeared again:
<img width="516" alt="screen shot 2016-11-11 at 6 04 14 pm" src="https://cloud.githubusercontent.com/assets/199754/20234914/476e7272-a839-11e6-9aae-3da8081c5b8f.png">

[2016-11-12 16:10] adidahiya opened #100 "Popover smart positioning issues in docs example"
smart positioning doesn't really do anything right now in the popover example. perhaps we should demonstrate the usage of some other Tether constraint.

![2016-11-12 11 08 26](https://cloud.githubusercontent.com/assets/723999/20239182/93a3d88c-a8c8-11e6-82ec-8a5339e74c0e.gif)

[2016-11-12 16:14] adidahiya opened #101 "Docs FR: "edit this section" link"
Would be cool to have an "edit this section" link on every KSS section that takes you to the Github file on the master branch.

[2016-11-12 17:53] giladgray commented on #101
this would be cool!

but the thing is, KSS sections don't know which file they came from. KSS doesn't expose that data from its API, and it processes all the files at once so I can't easily figure it out myself. 😢

[2016-11-12 17:55] giladgray commented on #100
huh i wonder why it doesn't work on the docs? perhaps this is an indicator that we should remove it, just support the more configurable and useful `constraints`.

[2016-11-12 17:56] giladgray commented on #98
oh it's gone gone. i've got to clean up the syntax package and publish it for real.

[2016-11-12 18:21] giladgray opened #104 "make the facebook card less awful"
currently:
![screen shot 2016-11-12 at 10 20 58 am](https://cloud.githubusercontent.com/assets/464822/20239967/b40caf10-a8c1-11e6-92b3-a45207b3375e.png)

[2016-11-12 19:00] andrew opened #105 "Docs don't render correctly in Mobile Safari"
Can't read the left side of the page on mobile safari (iPhone 6 with iOS 10.1.1)

![img_4042](https://cloud.githubusercontent.com/assets/1060/20240183/015e6838-a90a-11e6-983f-94fe07616251.PNG)

[2016-11-12 19:15] giladgray commented on #105
yep known issue! Blueprint doesn't really support mobile in its current state so we never implemented this. will do now because people seem to love reading longform documentation on tiny screens!

[2016-11-12 19:16] dcarrot2 opened #106 "NPM installation command in blueprintjs.com does not match the one in blueprintjs.com/docs/"
NPM installation command in blueprintjs: `npm install --save-dev @blueprint/core`

NPM installation command in the docs: `npm install --save-dev @blueprintjs/core`

Installing using `@blueprint/core` errors out given that npm cannot find the non existing package

[2016-11-12 19:16] giladgray commented on #105
for the record, fix is a simple `meta` tag with `initial-scale=1`.

[2016-11-12 19:17] giladgray commented on #104
gonna need some OpenGraph tags 👍

[2016-11-12 19:17] giladgray commented on #106
yowza! good catch my friend.

[2016-11-12 19:46] sixinli commented on #105
Also seeing this:
![image](https://cloud.githubusercontent.com/assets/4587468/20240468/c31a8660-a8e6-11e6-89ff-e0dab03f40d9.png)

Hopefully it will be addressed too?

[2016-11-12 20:13] electic opened #108 "Main website performs poorly on Firefox"

[2016-11-12 20:31] JKillian commented on #108
See https://news.ycombinator.com/item?id=12939756 for for more info

[2016-11-12 20:33] cmslewis commented on #108
Hi @electic, thanks for reporting! Cat got out of the bag a little earlier than we expected w/r/t broader publicity, but we do have a couple engineers working through issues at the moment. We'll try to address the Firefox issue(s) you're seeing today and/or tomorrow, before we come back to the office with a vengeance on Monday.  👍

[2016-11-12 20:39] llorca commented on #105
@sixinli Can you please provide your iOS version and iPhone model

[2016-11-12 20:39] #106 closed

[2016-11-12 20:41] electic commented on #108
Thanks Chris! Btw, great job on the components. Really blown away.

[2016-11-12 21:19] adidahiya opened #112 "Don't include sourcemaps in docs and landing distribution builds"

[2016-11-12 21:25] nahuel commented on #105
@giladgray do you have plans / a roadmap to add mobile support to blueprint?

[2016-11-12 21:28] adidahiya commented on #112
Also, the landing page doesn't need the blueprint JS components, just the CSS. this can save a lot of bundle size in blueprint-landing.js

[2016-11-12 21:45] adidahiya opened #116 "Speed up CI builds with parallelization"
As a first stab, we should investigate if we can run the different packages' unit tests in different containers.

[2016-11-12 21:49] adidahiya commented on #112
I see that #67 was a good step forward, but I still see some sourcemaps in various webpacked modules in http://blueprintjs.com/blueprint-landing.js

[2016-11-12 21:51] #108 closed

[2016-11-12 21:54] anasbud opened #118 "Component request: Typeahead / Autocomplete"
Firstable, great job !

Just one thing, I was looking for a typeahead component and didn't find it... maybe I didn't see it ?

Thanks !

[2016-11-12 22:02] llorca commented on #105
@nahuel No plan yet, it's low priority for us. We'll keep you guys posted when that changes!

[2016-11-12 22:03] adidahiya commented on #116
Also, let's avoid running unit tests when only `packages/landing` has changed.

[2016-11-12 22:06] adidahiya commented on #118
Hi @anasbud, thanks for your question. We plan to build something that looks like a typeahead component in the near future. In fact, we have a basic implementation of this in the docs site navigator, but haven't yet solidified the API for broader consumption. Here's what that code looks like: https://github.com/palantir/blueprint/blob/42ac7930b92bebe978bb44b13e2e084f60367153/packages/docs/src/comp

[2016-11-12 22:41] minimaxir commented on #105
No mobile support, in 2016, makes Blueprint a nonstarter for anyone working on an external-facing project.

The fact that mobile priority is *low-priority* is enough of a caveat that it should be added to the README.

[2016-11-12 23:05] llorca commented on #105
We'll make sure to clarify that Blueprint is a **desktop-only** solution and not available for mobile.

[2016-11-13 02:51] liquidox commented on #39
Yes, you should have fixed this before shipping.

[2016-11-13 03:01] tedyoung commented on #105
Isn't readable on an iPad either, so not just "tiny screens".

[2016-11-13 03:08] JKillian opened #122 "Improve keyboard navigation in docs"
[Via HN:](https://news.ycombinator.com/item?id=12941178)

Just a nitpick, but when looking at the docs, I can't move with Page Up/Page Down unless I click in the "content column/area", kind of annoying when one navigates using the left bar and then can't move around (on no-mouse setups, e.g. trackpoint + keyboard).

[2016-11-13 03:23] PaulBGD commented on #105
This is really disappointing. I saw the toolkit and was really excited, but no mobile support is a killer.

[2016-11-13 03:58] dmackerman opened #123 "First-class support for @import'ing blueprint scss files"
Given this import:

[code]

Webpack is throwing an error

[code]

The path to `../node_modules/bourbon/app/assets/stylesheets/bourbon` is invalid, as `bourbon` isn't installed as a dependency because it's listed under `devDependencies`. Is this library not intended to allow users to override the variables?

[2016-11-13 05:48] viankakrisna opened #125 "Add demo page"
I think it's useful for people to see the general view of this framework and how the components play with each other.

[2016-11-13 06:04] shantanuraj opened #126 "Wrong link in example"
On http://blueprintjs.com/docs/#overview

[code]

The path to the CSS file is incorrect.

It should be

[code]

[2016-11-13 06:34] #126 closed

[2016-11-13 06:59] jasonm23 opened #128 "Mobile styling issues with docs"
Noticed that the docs pages aren't displayed properly on my mobile device

![screenshot_2016-11-13-14-56-11-322_com android chrome](https://cloud.githubusercontent.com/assets/71587/20244180/c5d64efe-a9b1-11e6-8026-4f2c34814951.png)

[2016-11-13 07:00] jasonm23 commented on #128
This is Chrome on Android  (up to date versions as of today)

[2016-11-13 09:07] andjonno opened #129 "404 when selecting docs version."
<img width="696" alt="screen shot 2016-11-13 at 7 05 35 pm" src="https://cloud.githubusercontent.com/assets/1277106/20244596/4d92a384-a9d4-11e6-98e2-3c225790a85d.png">
<img width="676" alt="screenshot 2016-11-13 07 06 00" src="https://cloud.githubusercontent.com/assets/1277106/20244597/52f3c682-a9d4-11e6-985f-26a6b53c7681.png">

[2016-11-13 12:02] phereford commented on #128
This same issue presents itself in the latest version of mobile safari as well.

[2016-11-13 12:47] jasonm23 commented on #128
iOS Chrome on iPhone 6 confirmed

[2016-11-13 15:54] RobAWilkinson opened #131 "SSR with blueprint"
Server side rendering with blueprint breaks, `dom4.max.js` is requiring tons of things.

[2016-11-13 16:09] cyu06 commented on #129
In #64, we're still deciding how to host the older versions of the docs so that in the future rather than the 404 you flag, it'll show prior versions.

[2016-11-13 16:28] Ciantic commented on #123
I got this error as well, for me the problem is I use webpack.

I tried also with dist css file:
[code]

with .scss file I get same error as parent.

There needs to be a official docs how to use the library with the webpack loaders. They should be perfect tool for this, since they should be able to pack all the resources without me adding lines to the html file.

[2016-11-13 16:30] Ciantic commented on #123
I propose to change the title of bug "how to use this with webpack"

[2016-11-13 16:33] dmackerman commented on #123
@Ciantic It does work with the generated `.css` files, you have to use the Webpack alias resolution `~` character.

[code]

[2016-11-13 17:05] Ciantic commented on #123
@dmackerman I'm getting the same error with tilde also:

[code]

I threw the @import inside my scss file.

Maybe it's conflicting with something else.

[2016-11-13 17:13] Ciantic commented on #123
@dmackerman sorry, I didn't read your post throughly. Now it works as I threw more stuff you said there.

Though I think this should be documented in the blueprint, webpack is probably most common way to pack the apps these days.

[2016-11-13 18:07] lycovian opened #132 "Issues with Install via Gulp"
Getting an error after installing master and running `npm run gulp` on my OS X box:
[code]

[npm-debug.log.zip](https://github.com/palantir/blueprint/files/587941/npm-debug.log.zip)

[2016-11-13 18:14] Ciantic opened #133 "(2,1): error TS2688: Cannot find type definition file for 'dom4'."
I'm getting following error in TypeScript:

[code]

Using TypeScript 2.0.3, installed the blueprint using:

`npm install --save @blueprintjs/core`

[2016-11-13 18:25] dmackerman commented on #123
Agreed. At the very least importing the SCSS files should work. Just seems like a dependency issue in the package. Will keep an eye on this.

[2016-11-13 18:27] #91 closed

[2016-11-13 18:31] giladgray commented on #123
thanks @dmackerman for explaining webpack usage. users will need to install the appropriate loaders in order to import the CSS in webpack.

as for SCSS usage, one missing import should be easy enough to resolve locally as a workaround. we'll move `bourbon` into the regular dependencies array in the next release.

[2016-11-13 18:36] giladgray commented on #131
interesting! we've _never_ used blueprint in an SSR app so this has never come up before. as a result, SSR support is low priority for the team because we don't build apps like this.

@RobAWilkinson are you having trouble getting dom4 to work on the server? can you be more specific about the problem?

[2016-11-13 18:37] giladgray commented on #132
you are not using node 6+ my friend! gotta be on a recent enough version to support some ES6 syntax.

https://github.com/palantir/blueprint#development

[2016-11-13 18:37] #132 closed

[2016-11-13 18:40] giladgray commented on #133
you'll need to manually install typings for `dom4` (and `react`, as you'll discover soon enough). we'll update the typescript installation instructions to include a full list of the external typings you'll need. in the meantime, here it is:

- @types/dom4
- @types/pure-render-decorator
- @types/react
- @types/react-addons-css-transition-group
- @types/react-addons-transition-group
- @types/react-d

[2016-11-13 19:00] RobAWilkinson commented on #131
Ahh gotcha.

Yeah it seems that dom4 is pretty client specific, I went down the path of mocking `window` and `document` with jsdom but pretty soon that became untenable.

dom4 is looking for things like `DocumentFragment` and extending their prototype chain, grabbing `window.Node` etc. This is all scattered throughout the 1k library.

Are there specific components that are using dom4 more than oth

[2016-11-13 19:06] Ciantic opened #134 "Classes is missing a pt-label"
I tried to use pt-label in type-safe manner, but seems like it's missing from: https://github.com/palantir/blueprint/blob/master/packages/core/src/common/classes.ts

All classes should be in there, so if you deprecate something at least I get an error when recompiling. Throwing "pt-something" directly to the code is error prone in long term, and makes the refactoring difficult.

[2016-11-13 19:19] Ciantic commented on #134
Also "pt-fill" is missing.

[2016-11-13 20:51] dmackerman commented on #123
No problem @giladgray. I can work up a quick PR for the docs.

[2016-11-13 23:59] adidahiya commented on #64
Discussed offline -- similar to https://lodash.com/docs/, we decided that we'll check in older versions of the docs site but __only limit this to one per major version__. So, every time we have a major version bump, we'll have to check in a folder containing docs for the last stable release.

[2016-11-14 00:04] adidahiya commented on #129
Based on the proposal we agreed upon in #64, we should probably remove this version switcher for now -- we only have one major version published.

One thing that will help document our APIs going forward is supporting a the `@since` JSDoc flag in our props tables so that users will know about API fields added in minor versions.

[2016-11-14 05:51] kunjee17 opened #137 "Couldn't find Type Defination file"
I was trying to pull Type Defination using typings. But I couldn't found single file having all the definitions in file. Like `blueprint.core.d.ts`.

Can you tell me where I can find them?

PS: Please close the issue if it is not appropriate or in pending task. I filled a issue as I can't find twitter of it.

[2016-11-14 09:16] andrzej-aa opened #138 "Text colour of dropdown with dark theme"
### Bug Report

- __Package version(s)__: 1.0.1 (?)

#### Describe the issue:

In the docs page http://blueprintjs.com/docs/#components.datetime I noticed that the text colour of drop-down in select is very light, although the background is still white. Here is a screenshot http://prntscr.com/d71f7c I use the latest stable Chrome on Windows 10.

#### Actual behavior:

Light text colour on white ba

[2016-11-14 12:19] adidahiya commented on #137
Type declaration files are bundled in the NPM package. They are not published to DefinitelyTyped (they don't need to be; the library itself is authored in TypeScript). The compiler should resolve them automatically ([docs](http://blueprintjs.com/docs/#components.usage.npm)).

![image](https://cloud.githubusercontent.com/assets/723999/20264636/8df08e58-aa3a-11e6-8677-0d0d5ef47575.png)

[2016-11-14 12:20] adidahiya commented on #138
pasting your screenshot directly:

![image](https://cloud.githubusercontent.com/assets/723999/20264681/c33ae248-aa3a-11e6-8b4b-7e6b5c439fe2.png)

[2016-11-14 12:35] kunjee17 commented on #137
@adidahiya hey, thanks for reply. Basically I was trying to convert them to F#. So, single file would be good. For multiple file have to write script ;).

You mind if I can close it. Or you can always do the honor. :)

[2016-11-14 12:38] adidahiya commented on #137
Interesting! There is no good way to compile modular type declarations into a single file in the same way that webpack bundles JS modules into a single script. We did write a pretty hacky tool to do this a little while back before the introduction of UMD module definitions in the TS compiler -- https://github.com/palantir/global-typings-bundler -- this is now deprecated and I would not recommend u

[2016-11-14 15:02] schrepfler commented on #131
Hi, I was experimenting with next.js and tried to add your blueprints but I got this exception as well. Do you think you can split somehow the component so both client side and server side rendering is possible?

[2016-11-14 15:23] adidahiya opened #139 "Replace Lorem Ipsum with more representative text samples"
Throughout the docs examples we sometimes use Lorem ipsum and other times have nicer, more engaging text. Would be great to do a pass over the sample text and remove all instances of boring Lorem Ipsum.

[2016-11-14 16:53] ConneXNL commented on #118
First of all. Great work on the library so far. Love the use of Typescript, tether and the great documentation in the code itself.

I am wondering if Blueprint is planning to adopt other libraries or that everything will be written from scratch (considering your use of TS). And how do you plan to offer/maintain functionality that is on par with separate libraries that solve a single problem.

I ra

[2016-11-14 17:11] adidahiya commented on #118
Great question @ConneXNL! For every feature we add to Blueprint, we try to carefully consider existing libraries that might solve the problem at hand, and they _need not be written in TypeScript_ (of course, that's a plus) [1]. We have tried using select2 and react-select for a while in various places, and they've worked ~ok for us, but I think we've reached the tipping point where we'd like to im

[2016-11-14 19:05] cmslewis opened #142 "Global hotkeys aren't properly grouped in the Hotkeys dialog"
### Bug Report

- __Package version(s)__: v1.0.1
- __Browser and OS versions__:
  - Chrome 54.0.2840.71 (64-bit) on OS X 10.11.6
  - Safari 10.0.1 on OS X 10.11.6
  - Firefox 42.0 on OS X 10.11.6

#### Describe the issue:

On the Hotkeys page of the Blueprint docs (http://blueprintjs.com/docs/#components.hotkeys), two overlayed hotkey dialogs when you press `Shift + /` (i.e. `?`)

#### Actual beha

[2016-11-14 19:16] adidahiya commented on #142
@cmslewis is this an issue with the Hotkeys component or only a problem with its usage in the docs?

[2016-11-14 19:53] adidahiya opened #144 "Use React.PureComponent instead of pure-render-decorator"
docs: https://facebook.github.io/react/docs/react-api.html#react.purecomponent

- it is just as usable as the decorator; you can override `shouldComponentUpdate` to opt out of pure rendering
- this reduces complexity by removing 2 dependencies (decorator + its typings)
- ~~this will require rewriting the tslint rule which enforces pure components~~ this seems to have gotten lost somewhere in the l

[2016-11-14 19:54] llorca opened #145 "Hotkeys get disabled when focusing form controls"
### Bug Report

- __Package version(s)__: 1.0.1
- __Browser and OS versions__: macOS, Chrome 54

#### Describe the issue:

Global hotkeys are correctly disabled when using a **text** input, because the user is looking to input text.

They should still be enabled after focusing checkboxes, switches, radios. It's not the case now, see GIF below.

#### Actual behavior:

![screen recording google chro

[2016-11-14 20:43] dmackerman opened #147 ".pt-portal causes display issues."
### Bug Report

- __Package version(s)__: 1.0.1

#### Describe the issue:
When the class is displayed - due to an overlay, or popover - having `display: inline-block` can cause layout issues.

#### Possible Fix
Changing `.pt-portal` to `{ display: block; }` corrects this behavior.

[2016-11-14 21:51] teaearlgraycold opened #149 "Issue with require statements for hotkeys."
### Bug Report

- __Package version(s)__: 1.0.1
- __Browser and OS versions__: Chrome 54, Debian Jessie 8.6

I'm using blueprint.js in Rails through the help of the sprockets-commoner gem (which is a replacement for browserify).

#### Describe the issue:

When importing from `@blueprintjs/core`, a few require statements provide me with issues. In `components/hotkeys/hotkeys.js`, lines 27, 34, and

[2016-11-14 21:51] adidahiya commented on #147
Can you elaborate on your layout issues? Many of the docs examples utilize `.pt-portal` and they work fine.

[2016-11-14 21:52] scottfr opened #150 "Cannot Run: gulp build"
### Bug Report

Cannot run 'gulp build' on a clean download of release 1.0.1. When I do, I get an error trying to import from the 'bourbon' package that doesn't seem to be installed. Installing the bourbon package does not seem to fix the issue.

#### Actual behavior:

[code]

#### Expected behavior:

The build process runs without error.

[2016-11-14 21:53] cmslewis commented on #142
Delved into this. I'm still pretty new to the codebase, but it looks like it might be related to the build. Two instances of the `HotkeysDialog` are being created from different versions of the same file (`.tsx` and `.js`); this didn't happen prior to the open-source build/repo reorg:

![image](https://cloud.githubusercontent.com/assets/443450/20284307/63cbceb2-aa71-11e6-9b6f-9b4c538676db.png)

[2016-11-14 21:54] giladgray commented on #150
did you run `npm run bootstrap` before running `gulp`? this would suggest that dependencies for each package are not installed.

[2016-11-14 21:54] giladgray commented on #150
https://github.com/palantir/blueprint#development

[2016-11-14 21:54] adidahiya commented on #149
This looks like an issue with sprokects-commoner... the published JS files are simply the output of the TypeScript compiler when compiling to CommonJS format. They work fine with webpack and browserify.

[2016-11-14 22:00] dmackerman commented on #147
I have 2 divs that are arranged horizontally with flexbox - but I'm not sure that's relevant. What appears to be happening is when the `pt-portal` is displayed, it shifts my entire application upwards.

You can see that when the dropdown is clicked and the `pt-portal` div get's rendered, the shift happens. The Dropdown is a custom component I'm writing, but I haven't done anything in terms of cust

[2016-11-14 22:02] scottfr commented on #150
Thanks for your help @giladgray, my mistake for not reading that.

It now get's farther but I encounter another error:

[code]

[2016-11-14 22:05] adidahiya commented on #147
Have you seen the callout in the Portal docs that suggests using `position: absolute` for 100% height+width layouts?

http://blueprintjs.com/docs/#components.portal.js

![image](https://cloud.githubusercontent.com/assets/723999/20284768/92e6e04a-aa8c-11e6-9d0b-7dadbfefc9ed.png)

[2016-11-14 22:06] dmackerman commented on #147
Strange enough, this is only in Chrome Canary. Works fine in Safari and Chrome Stable.

[2016-11-14 22:09] teaearlgraycold commented on #149
Okay, I'll file this as an issue over there - hopefully after I figure out exactly what's broken. Do you have any idea why the require statements for hotkeysTarget and hotkeysDialog are the only ones in the library with issues?

[2016-11-14 22:28] adidahiya commented on #149
nothing sticks out about those specific exports... can you paste the full output of the TypeErrors?

[2016-11-14 22:33] giladgray commented on #150
[`font-face`](http://bourbon.io/docs/#font-face) is a bourbon mixin so this is likely related to your original issue. i've never seen this before so maybe it's an awkward version mismatch?

what version of node are you on? and what version of node-sass is installed? try `npm ls node-sass`

[2016-11-14 22:37] teaearlgraycold commented on #149
I don't think that'll be very useful, but here it is:

[code]

[2016-11-14 22:39] cmslewis opened #151 "When hotkeys conflict, trigger the callback from the most-local context only"

[2016-11-14 22:51] cyu06 opened #152 "Popover doesn't close on Esc keypress with inline={true} & canEscapeKeyClose={true}"
### Bug Report

- __Package version(s)__: 1.0.1

#### Describe the issue:

jchomicki reports that when a Popover has props specified as:
canEscapeKeyClose={true} and inline={true} the escape key doesn't close the popover.

#### Actual behavior:

Stays open

#### Expected behavior:

Should close, just like when inline={false}

[2016-11-14 22:53] giladgray commented on #149
i'll be it's due to circular dependencies between the TS modules, which is fine in the TS compiler but probably not fine in "browserify." i know that some bundlers will return `undefined` from modules that have circular dependencies.

[2016-11-14 23:20] teaearlgraycold commented on #149
@giladgray so is this something that commoner needs to fix, or is it something I need to work around? It sounds like this is expected behavior.

[2016-11-14 23:42] amingione opened #154 "Spinner intent dropdown updates example but not itself"
### Bug Report

- __Package version(s)__: v1.0.1

#### Describe the issue:

![nov-14-2016 15-40-15](https://cloud.githubusercontent.com/assets/3002490/20287378/f5b009b0-aa80-11e6-8345-040c90929291.gif)

#### Actual behavior:

The intent dropdown [here](http://blueprintjs.com/docs/#components.progress.spinner.js) updates the example but not itself. Setting the value to none does not update the exam

[2016-11-14 23:48] cmslewis commented on #145
PR: #155

[2016-11-15 00:19] giladgray commented on #149
i don't know, i've never even heard of commoner (ruby died to me years ago) 😢 . given that this causes no troubles in the standard JS tools (webpack and browserify), i'd assume there's something going wrong in commoner itself.

[2016-11-15 00:26] #152 closed

[2016-11-15 00:40] #134 closed

[2016-11-15 00:53] adidahiya commented on #147
Can you still reproduce the issue in Chrome Canary after applying the suggested fix I linked above?

[2016-11-15 00:55] dmackerman commented on #147
Yes. Those styles have no effect.

[2016-11-15 01:21] adidahiya commented on #147
`display: inline-block` &rarr; `display: block` actually sounds like a legit change to make for `.pt-portal`... what do you think @giladgray? I tried to git blame the internal repo and didn't find a good reason why we have it as inline-block. Will require some cross browser testing of course.

[2016-11-15 01:22] giladgray commented on #147
wow that's like the only rule in that file. `block` sounds fine to me though we'll have to do some testing to be sure.

[2016-11-15 01:57] #89 closed

[2016-11-15 01:57] #122 closed

[2016-11-15 01:58] #154 closed

[2016-11-15 02:25] #129 closed

[2016-11-15 02:34] abrooksv opened #163 "Popover does not inherit theme change till second click"
### Bug Report

- __Package version(s)__: 1.0.1
- __Browser and OS versions__: Windows 10, Firefox 49.0.2

#### Describe the issue:

1.  Go to http://blueprintjs.com/docs/#components.popover
2.  Make sure inherit theme is selected
3.  Change theme using the icon in navbar
4.  Click button 'Popover target'
5. Dismiss and click it again

#### Actual behavior:

Does not inherit the theme change till

[2016-11-15 02:39] adidahiya commented on #163
Acknowledged as a bug; however, this is low priority. In practice, this mostly just applies to the docs site because applications don't dynamically change themes often.

[2016-11-15 02:48] isTravis commented on #131
+1 to @schrepfler's point that SSR is a must for some.

My quick and ugly hack is the following:

1. For many things (e.g. tags, nav) the CSS API is sufficient. It'd be nice to use the <Tag/> JS API - but oh well.
2. For those that require the JS API because of interactivity (e.g. Popover, Alerts), I create `DefaultComponent` as follows
[code]
I then do some shady componentDidMount stuff like so:

[2016-11-15 02:50] adidahiya commented on #128
should be fixed by #148 and #121

[2016-11-15 02:50] #128 closed

[2016-11-15 02:57] #92 closed

[2016-11-15 03:28] abrooksv opened #165 "Select Intent box for progress bar does not change after selection"
### Bug Report

- __Package version(s)__: 1.0.1
- __Browser and OS versions__: Windows 10, Firefox 49.0.2

#### Describe the issue:

1.  Go to http://blueprintjs.com/docs/#components.progress
2.  Select a different Intent, progress bar changes but the select box always says 'None'

#### Actual behavior:

Progress bar changes but not the select box

#### Expected behavior:

The progress bar should

[2016-11-15 03:31] abrooksv commented on #165
Intent select for spinner on  same page does the same thing

[2016-11-15 03:36] giladgray commented on #165
dear sir, allow me to blow your mind: try again _now_.

this is a duplicate of #154 which was resolved a few hours ago!

[2016-11-15 03:36] #165 closed

[2016-11-15 06:53] Ciantic commented on #134
pt-fill is not there.

Btw, it could be worthwhile to generate the Classes file then it wouldn't have these holes in it.

E.g. pt-class-name => CLASS_NAME

I don't think it's too late to make that change, few classes does not match that syntax though at the moment.

[2016-11-15 07:32] thisbejim opened #166 "[DatePicker] Expose selected as a modifier"
Currently when you try to use ```selected``` as a DatePicker modifier it is ignored by the component.

This feature is useful if you are trying to select multiple, individual dates that are not in a range, as described in this [react-day-picker issue](https://github.com/gpbl/react-day-picker/issues/229).

[2016-11-15 09:43] anisylen opened #167 "[Docs] Difficult to select text above heading"
#### Actual behavior:

In the docs, you cannot select text just above the heading or click links because the element is oversized and has had massive padding applied which is layering above the text just above it.

In the below screenshot
![screen shot 2016-11-15 at 3 09 47 pm](https://cloud.githubusercontent.com/assets/13653918/20300541/b3c4ee42-ab45-11e6-8184-b461d3de17af.png)

We see that the p

[2016-11-15 11:11] neevany opened #168 "Feature request: multiselect input"
https://jedwatson.github.io/react-select/

[2016-11-15 12:25] pkwi opened #169 "Color palettes in docs should hide behind the header"
### Bug Report

- __Package version(s)__: 1.0.1
- __Browser and OS versions__: macOS, Chrome 54, Safari 10.0.1

#### Describe the issue:

While scrolling the colors page in docs, color palettes stay on top of the header.

#### Actual behavior:

![screen shot 2016-11-15 at 12 15 44 pm](https://cloud.githubusercontent.com/assets/23030180/20305756/feab26a4-ab2e-11e6-8361-5eb369d065cb.png)

#### Expec

[2016-11-15 14:46] mihirk commented on #125
Any examples of the kind of demo pages you have in mind?

[2016-11-15 16:09] adidahiya commented on #105
main issue has been fixed by #148. issue in this comment https://github.com/palantir/blueprint/issues/105#issuecomment-260143805 will be fixed by #171.

[2016-11-15 16:09] #105 closed

[2016-11-15 17:47] teaearlgraycold commented on #149
Looks like it is due to circular dependencies:

https://github.com/Shopify/sprockets-commoner/issues/47

[2016-11-15 17:47] #149 closed

[2016-11-15 18:17] Ciantic commented on #123
I'm now also experimenting with SCSS file in webpack. Bourbon is not the only problem. This should be reopened.

If I include the scss file: `@import "~@blueprintjs/core/src/blueprint.scss";`

I get bunch of other errors, one: the paths bourbon paths are relative to wrong directory. Second, the resources are missing so icons don't compile.

[2016-11-15 18:58] Ciantic commented on #123
Here is how to get it working until the project is fixed to work with SCSS importing:

1. delete line about `$icon-font-path` in src/common/_font_imports.scss
2. Search and replace: `(\.\.\/)+node_modules/bourbon/` with `~bourbon`
3. Add:

[code]

To your SCSS file in webpack project.

[2016-11-15 19:14] amingione opened #172 "Links in toasts with intent are not accessible"
### Bug Report

- __Package version(s)__: v1.0.1

#### Describe the issue:

![screen shot 2016-11-15 at 11 13 55 am](https://cloud.githubusercontent.com/assets/3002490/20319866/a0091764-ab24-11e6-835d-ed2baaba39cc.png)

#### Actual behavior:

The links are `$blue3`.

#### Expected behavior:

The links are white but underlined.

[2016-11-15 22:08] #169 closed

[2016-11-15 22:19] webpty commented on #167
This behavior can be found on other elements of the site.
I found this one while trying to get to the Github link on the [Toaster page](http://blueprintjs.com/docs/#components.toaster.js):

![screen shot 2016-11-15 at 17 17 09](https://cloud.githubusercontent.com/assets/11739306/20326617/931427e6-ab57-11e6-92fb-9b2071a24c5f.png)

[2016-11-15 22:23] giladgray commented on #167
oh it's everywhere! it's also fixed in PR #173. had a nasty problem with that `position: fixed` navbar hiding the top 50px of the page.

[2016-11-16 01:07] #167 closed

[2016-11-16 01:28] #93 closed

[2016-11-16 01:34] giladgray commented on #168
see https://github.com/palantir/blueprint/blob/410f8dc6d5e55788a414162ddc78aa0756e016c0/packages/docs/src/components/navigator.tsx for a raw proof-of-concept of this sort of thing using Blueprint components. it almost just works!

[2016-11-16 01:43] #34 closed

[2016-11-16 04:02] RobAWilkinson commented on #131
Thanks for this great tip, this is awesome but just warning everyone, if you try to do this with some complicated components, that internally use refs i.e. `Toaster` you quickly start getting really weird errors about double refs etc

[2016-11-16 05:58] andrewmclagan opened #182 "WebPack + Uglify unreachable code"
### Bug Report

CLIs:
[code]
Packages:
[code]
Browser
[code]
OS
[code]

#### Describe the issue:

After a project including components from this repo is build with WebPack we receive Uglify errors.

#### Actual behavior:

errors occur:

[code]

#### Expected behaviour:

No build warnings.

[2016-11-16 06:32] aniforprez commented on #167
Yeah this is fixed across docs now. Thanks!

[2016-11-16 10:28] bravedick opened #183 "Overlay doesn't stretch 100% height"
### Bug Report

- __Package version(s)__: 1.0.1

#### Actual behavior:

Overlay scrolls:

![image](https://cloud.githubusercontent.com/assets/988471/20343589/a40aeb5c-abf7-11e6-9b66-1640882ace5a.png)

#### Expected behavior:

Overlay should not be scrollable (position: fixed; and body="overflow: hidden;" while overlay is opened to prevent scrolling under overlay)

[2016-11-16 12:15] yoamomonstruos opened #184 "Customising styles"
Guys, killing it 👍

Would be awesome to have a bit more explanation/examples around customising the styles. I know you touch on using inline styles, but that would only get applied to the top level element in a component, so would be pretty limiting if you wanted to make any big stylistic changes.

Is the best way to import the stylesheets and overwrite the variables?

[2016-11-16 17:58] adidahiya commented on #183
What browser and OS versions are you using? (note that this prompt is in the issue template...)

[2016-11-16 18:09] giladgray commented on #183
ah i'll bet the docs redesign had something to do with this, now that `body` is the scroll container (instead of some deep child element).

still, browser + OS versions would be very helpful.

[2016-11-16 18:48] adidahiya commented on #184
Right now the best way to override styles is probably to use more specific selectors in your own stylesheet. First-class support for importing and tweaking the Sass code is an open FR, you can watch its progress here https://github.com/palantir/blueprint/issues/123

[2016-11-16 18:50] yoamomonstruos commented on #184
Ah my bad didn't see that dude. Look forward to seeing that, would 100% use it otherwise 👍

[2016-11-16 18:50] #184 closed

[2016-11-16 18:53] adidahiya commented on #182
Looks about right; datetime doesn't actually use all the components in core, so when you bundle it all together you'll get unused code. In practice, applications usually end up importing a bunch of those components once they get more complex, but I think there's potentially a concrete enhancement we can make here: `@blueprintjs/datetime` could only import the submodules it needs from `@blueprintjs

[2016-11-16 18:55] adidahiya commented on #123
This thread has a handful of good suggestions; I'm going to rename it to be more accurate -- I think its scope should be more than simply "make the bourbon import work".

[2016-11-16 19:33] isTravis opened #185 "Support for client-side routing on href props"
Many components (such as `Menu`) can take an href prop. This prop maps to the href value of an `<a>` tag. For many react projects that use client-side routing, anchor tags are replaced by `<Link>` (e.g. in [react-router](https://github.com/ReactTraining/react-router/blob/master/docs/API.md#link)) components that ensure the routing happens client-side.

If the `<Link>` component is placed inside th

[2016-11-16 19:48] adidahiya commented on #185
Good call @isTravis, I agree it would be nice to make components like `MenuItem` and `AnchorButton` work better with react-router (although tbh I don't really like react-router's API since it forces you to do this; I greatly prefer routing solutions that work with standard `<a>` tags). This isn't an immediate priority for us, but feel free to write up / iterate on a proposal for a solution here.

[2016-11-16 20:09] giladgray commented on #150
closing as we can't reproduce

[2016-11-16 20:09] #150 closed

[2016-11-16 20:10] giladgray commented on #137
Closing as discussion seems resolved. This is a special use case which will require special handling.

[2016-11-16 20:10] #137 closed

[2016-11-16 20:12] giladgray commented on #96
fixed by #97

[2016-11-16 20:31] bravedick commented on #183
OSX 10.12.1
Chrome 54.0.2840.71

[2016-11-16 21:03] adidahiya commented on #183
looks like the docs are generally not taking up the full window height:

![image](https://cloud.githubusercontent.com/assets/723999/20365781/39e8bb9a-ac16-11e6-919b-572a4c1b0fc9.png)

[2016-11-16 21:15] giladgray commented on #183
@adidahiya i don't have that window height issue when viewing blueprintjs.com/docs on my box. my versions are same as @bravedick.

i do however have Overlay scrolling issues. this seems to be a regression in #148 due to using the `window` as the scroll container (instead of a `position(absolute, 0)` div under my control) in combination with `position: absolute` overlays. two things likely need to

[2016-11-16 21:38] adidahiya commented on #183
How about switching back to using `body` as the scroll container? It seems suspect that we need to change the Overlay implementation to address this issue since we haven't seen similar reports of this kind of thing before...

[2016-11-16 22:18] giladgray commented on #183
we weren't using `body` as the scroll container. using any explicit element as the scroll container provides the same experience: you have to click on that container once in order to scroll with the keyboard (including page up/down). using the window is preferable for long text-heavy pages like this so i'd like to try to make this work.

the fix pretty much amounts to switching from `position: abs

[2016-11-16 22:26] giladgray commented on #183
@adidahiya I opened #187 to demonstrate the scroll container inconsistencies. very frustrating stuff.

[2016-11-17 00:11] JKillian commented on #144
just in case it helps, here's the ruby script I used to make this change in our codebase. (Note that it isn't designed to be robust, it might not work in cases with multiple decorators, etc.) You want to run it in your root `src` directory.

[code]

Also, doing this means the peerDependencies on React will have to be bumped to `^15.3.0` or something similar. It might be prudent to hold off for a l

[2016-11-17 03:03] thisbejim opened #190 "Document normalize.css and blueprint-datetime.css requirements"
Two details that could be added to the blueprint docs for clarity:

1. In order for all blueprint components to display as expected the user must include [normalize.css](https://github.com/necolas/normalize.css/) in their project.
2. In order for the datetime components to display as expected the user must include ```@blueprintjs/datetime/dist/blueprint-datetime.css``` in addition to the standard

[2016-11-17 04:31] ripitrust opened #191 "Table component support onRowClick and onRowDoubleClick callback"
Hi everyone,
Does the Table component support onRowClick and onRowDoubleClick callback ?

[2016-11-17 05:03] llorca commented on #191
@themadcreator I don't remember if you ever built this?

[2016-11-17 14:29] forman opened #192 "Feature request: ExpansionPanel and Divider"
THIS. IS. AWESOME! Thanks so much guys for this fantastic toolkit. It is exactly what my team has been looking for - since weeks!

Any chance that you may later add
1.  an [ExpansionPanel](https://material.google.com/components/expansion-panels.html) component or another, accordion-like component;
2.  a [Divider](https://material.google.com/components/dividers.html) component?

All the best

[2016-11-17 14:38] forman opened #193 "Default TabPanel margin-top too large"
### Bug Report

- __Package version(s)__: 1.0.1
- __Browser and OS versions__: Chromium (Electron)

#### Describe the issue:

The default TabPanel margin-top seems too large.

#### Actual behavior:

TabPanel has a margin-top of 20px.

#### Expected behavior:

[code]

[2016-11-17 15:46] forman commented on #193
I don't consider this a problem, as it can easily be adjusted. Same for Tab components:

[code]

[2016-11-17 15:46] #193 closed

[2016-11-17 16:17] adidahiya commented on #190
1. You're right, we should really add a section about CSS resources in the usage instructions here http://blueprintjs.com/docs/#components
2. We have a note about this for all the packages in the docs index page -- see the primary callout http://blueprintjs.com/docs/#overview

[2016-11-17 16:23] adidahiya commented on #192
Thanks for the kind words!

1. The closest thing we have to ExpansionPanel is the [Collapse component](http://blueprintjs.com/docs/#components.collapse). Try it out and let us know if its API could be improved / added to.
2. No divider component for now. I could potentially see this being useful, but it might be tricky to make work in lots of different contexts. In our applications we usually impl

[2016-11-17 17:03] llorca commented on #192
No interactive examples, it's just a spec. Gotta look at specific implementations such as [this one](https://material.angularjs.org/latest/demo/autocomplete)

[2016-11-17 17:39] Ciantic opened #194 "!default for scss variables"
Currently all variables in SCSS are defined using without !default.

In order for them to be overrideable all of them should be defined using [!default, see SCSS references](http://www.sass-lang.com/documentation/file.SASS_REFERENCE.html#variable_defaults_)

This is related to #123

At least these files should be modified:

https://github.com/palantir/blueprint/blob/master/packages/core/src/common

[2016-11-17 17:45] forman commented on #192
@adidahiya, yes, in fact I'm already on my way implementing my own ExpansionPanel using Collapse, whose API is everything I need.

[2016-11-17 20:05] forman opened #197 "Better control relative height of TabPanel so that content can have scrollbars"
### Issue Report

- __Package version(s)__: 1.0.1

#### Describe the issue:

I have a single-page app with body taking width:100vw and height:100vh. Body comprises a header, a midsection, a footer. Header and footer have fixed height, the midsection has height:100% - holy grail layout.

Say, I now want to display images of fixed size within the midsection, each image in a `TabPanel`. I want scroll

[2016-11-17 20:09] llorca opened #198 "Support for loading state in buttons"
Compose a `<Spinner>` with a `<Button>`

cc @amingione

[2016-11-17 21:30] thisbejim commented on #190
Oh yes I can see I completely missed the docs about css for other blueprint packages, my bad!

[2016-11-18 01:24] adidahiya opened #200 "Default popover with slider content example is broken"
### Bug Report

- __Package version(s)__: 1.0.1
- __Browser and OS versions__: Chrome 54, OS X 10.11

#### Actual behavior:

![image](https://cloud.githubusercontent.com/assets/723999/20415045/cbe4a05c-ad03-11e6-8ece-1f565ffc2daa.png)

#### Expected behavior:

not squished

[2016-11-18 02:10] dongyuhappy opened #201 "document peer dependencies during npm install"
when i run `npm install --save @blueprintjs/core` to install .I got this error

[2016-11-18 02:17] giladgray commented on #201
this is expected behavior--you have to install React alongside @blueprintjs/core. we chose to use peer dependencies so you can choose the version of React instead of it being imposed upon you by our library.

`npm install` those three libraries and you'll be good to go!

we'll add this to the documentation.

[2016-11-18 02:25] dongyuhappy commented on #201
then i got this error

[2016-11-18 02:59] adidahiya commented on #201
Sure, we could add a _very brief_ note to the documentation but honestly I don't see how NPM's _inline console messages_ could be any more clear in this case. The first few google results for "unmet peer dependency" also tell you what to do. http://stackoverflow.com/questions/35738346/how-to-solve-npm-unmet-peer-dependency

[2016-11-18 14:02] briant-spindance opened #202 "Docs for Electron"
Would be nice to have some docs for getting Blueprint up and running with Electron.

[2016-11-18 14:21] benheymink opened #203 "Table element no height on Safari"
### Bug Report

- __Package version(s)__: 1.0.1
- __Browser and OS versions__: Safari 10.0.1 (12602.2.14.0.7)

#### Describe the issue:

Table elements not rendering correctly.

#### Actual behavior:

Table elements are rendered with a very small height. This can be observed on the documentation example when using Safari.

#### Expected behavior:

Table elements should expand to fill the number of

[2016-11-18 16:05] alearcy opened #204 "Get future years"
Hi guys, how can I get next years in DatePicker years selector? Now I can choose up to current year (2016).

Thanks!

[2016-11-18 16:20] adidahiya opened #205 "Docs: icons context menu does not dismiss on body click"
### Bug Report

- __Package version(s)__: 1.0.1

#### Describe the issue:

![image](https://cloud.githubusercontent.com/assets/723999/20437158/ea83e7a2-ad80-11e6-8dc1-da283e94c13d.png)

#### Actual behavior:

The only way to dismiss this menu is by clicking one of the menu items.

#### Expected behavior:

I should be able to click outside the menu to dismiss it.

[2016-11-18 16:24] alearcy commented on #204
I resolved creating a new Date(2040, 12, 31) and passed it into maxDate props ;-)

[2016-11-18 16:33] adidahiya commented on #205
Also, the download links are broken because they have the wrong branch -- `develop` instead of `master`

[2016-11-18 16:33] #204 closed

[2016-11-18 18:30] dmackerman commented on #194
There are also some cases where components aren't consuming variables, for example `Button` doesn't respect `$pt-font-family`.  I'll see if I can put together a PR will all of these changes.

[2016-11-18 18:37] adidahiya commented on #194
why does Button need to define font-family? Shouldn't it just inherit from [base-typography](https://github.com/palantir/blueprint/blob/365232ca4d26988bd96988785cfe534b8af106c4/packages/core/src/common/_mixins.scss#L44) which is applied to `body`?

[2016-11-18 18:39] dmackerman commented on #194
@adidahiya I found it strange also, but the font didn't change unless I added the variable to `@mixin pt-button-base()`

[2016-11-18 19:19] giladgray commented on #202
we've never used Blueprint in Electron so I wouldn't even know where to start.

@briant-spindance do you have any interest in writing these docs? or at least enumerating the issues we'd have to resolve before BP can be used in Electron?

[2016-11-18 19:43] #145 closed

[2016-11-18 20:03] #142 closed

[2016-11-18 20:06] #172 closed

[2016-11-18 20:40] toddself opened #213 "[Table] drag and drop row re-ordering"
Looking to implement drag and drop re-ordering of rows for the table component, but not 100% how to do best do this.

Since the component doesn't contain data, either an interface would have to be provided to explain the transaction that occurred.

Something like
[code]

And possibly a prop to enable/disable it (you'd likely have to set the selection mode to rows only?

This way the user could per

[2016-11-18 20:42] llorca commented on #213
@themadcreator any thoughts?

[2016-11-18 20:46] themadcreator commented on #191
No, but we've received a number of requests for this. Even perhaps adding a mode full-row selection from cell clicks.

[2016-11-18 20:54] themadcreator commented on #213
We'll definitely want visual feedback while the user is dragging the column. Maybe not necessarily the fully rendered column because it would be pretty annoying to try to render the fixed header.

You may find the approach we used for the resize handle to be a good place to start.

You could utilize the "guide" layer that the resize handle uses to indicate where the column will be moved to when dr

[2016-11-18 21:00] toddself commented on #213
Our primary use-case for this is a spreadsheet style system where the columns are not-reorderable, so likely just will implement a version for rows at first, which have a much less overloaded metaphor in terms of UI complexity as well.

Our current product uses slickgrid which does a ghosted "drag" element and then gives you a very thick line for the destination, so my thoughts on this were simila

[2016-11-18 21:19] themadcreator commented on #213
Oh sure, row re-arrange would be basically equivalent to column re-arrange. There is also already row resize handling, so the stuff I said above still applies.

[2016-11-19 03:14] theogravity opened #215 "Is there a way to inline a set of label / text boxes?"
I'd like to inline text input all on one line. Is there a prescribed way to do this? I only see examples for radio / check boxes.

eg how `pt-inline` does `display: inline-block` for radio / checkboxes, I'd like to do that too for text input

[2016-11-19 09:21] ConneXNL opened #216 "Add a progressbar to indicate the duration of the toast"
Really missing this to make the Toast component competitive with other toast libraries.

A good implementation of a progress duration indicator can be seen at:
http://izitoast.marcelodolce.com/

Here are the styles and javascript that implements the behavior:
https://github.com/dolce/iziToast/blob/master/js/iziToast.js#L178-L236
https://github.com/dolce/iziToast/blob/master/css/iziToast.css#L29-L6

[2016-11-19 16:14] adidahiya commented on #216
That behavior actually feels a little distracting to me. In a real application, you typically want to limit the use of motion in your UI to just the essentials, and an indicator of toast duration probably doesn't meet that threshold for being useful enough to be in the core UI kit.

If you want this in your own app, you could probably come up with a CSS-only solution for toasts of a known duration

[2016-11-19 16:18] adidahiya commented on #215
As with most questions about layout using Blueprint, I think flex box is your best bet here. In fact we should probably update all inline form component layouts to use flex box. This deserves better docs.

[2016-11-19 21:03] Ciantic opened #217 "Collapse isOpen is not updating always"
If one programmatically changes Collapse isOpen property quickly twice in a row, it seems to loose the plot. E.g. if you hook the isOpen to value that is updated quickly back and forth.

I think it has something to do with the timeouts, they should be cleared in few more places.

[2016-11-19 23:04] abhishiv commented on #131
For anyone else who's stuck at this - I have been able to to fix this by manually patching following file:

[code]

I have `npm run patch`, which automatically swaps these files in my build pipeline.

Seems to work fine so far, although haven't tested all the components. If anyone finds any memory leaks during SSR, please let me know.

[2016-11-19 23:28] llorca commented on #216
I generally agree with Adi's note about not overusing motion. I also believe that end users shouldn't even have to worry about such a timeout: the toast should be visually distracting when appearing so users notice it, and as a developer you should be mindful of the duration of the timeout so that your users have enough time to read/interact with it.

On the bright side, it's quite trivial to impl

[2016-11-19 23:52] schrepfler commented on #131
Is that available via some PR @abhishiv?

[2016-11-19 23:55] abhishiv commented on #131
@schrepfler no, but I put them up in a gist in case anyone needs it. Simple stuff like checking for navigator existence etc.

https://gist.github.com/anonymous/7d011dddb77fbce1f378f62f77553c58

[2016-11-20 00:26] schrepfler commented on #131
What does this patch do? Why is dom4j strictly needed on the server side, can't the react dom be used instead?

[2016-11-20 00:43] adidahiya commented on #217
Seems reasonable that less-than-perfect handling of timeouts may be causing such bugs.

To get a sense of priority, since I haven't seen this bug before: How often do you encounter this issue in a real (not contrived) application? How important is the fix?

[2016-11-20 00:59] RobAWilkinson commented on #131
I believe it is mainly being used for it's keyboard events.

[2016-11-20 01:02] abhishiv commented on #131
Yeah, and for some other stuff. These patches, comment the line including dom4j, so it doesn't get loaded on the server. However on the client, you need to include it so that things work - I did it via a script tag.

[2016-11-20 03:01] DClark5218 commented on #131
@abhishiv are you saying this was patched and should work now?

[2016-11-20 13:56] Ciantic commented on #217
It happened on each refresh for me as I had hooked the isOpen to url fragment. My app did multiple redirects in succession and I noticed the collapse isOpen is not updating.

I don't think it's critical I found a workaround for my case, but if someone else encounters this, it might be worth investigating.

[2016-11-20 17:25] mehdy opened #218 "window is not defined"
### Bug Report

- __Package version(s)__: 1.0.1

#### Describe the issue:

as I'm trying to use blueprintjs very basically I get this error while running it:
[code]
how I used it:
[code]
and I use [this boilerplate](https://github.com/erikras/react-redux-universal-hot-example) for my project.
#### Actual behavior:
#### Expected behavior:
works properly :)

[2016-11-20 18:30] giladgray commented on #218
i'll bet you're trying to render on the server, an environment that does not provide the browser global `window`. Blueprint does not currently work OOTB in server-side rendering. Please follow #131 for the ongoing conversation.

[2016-11-20 18:30] #218 closed

[2016-11-20 18:32] giladgray commented on #216
Yes we chose deliberately to not include such a progress bar because it was too distracting. Fortunately, it's quite easy to add your own if you really want one.

Closing this issue as it's been "resolved."

[2016-11-20 18:32] #216 closed

[2016-11-20 19:31] abhishiv commented on #131
@DClark5218 Only if you patch it yourself using the files I uploaded.

[2016-11-21 01:43] jeveloper opened #219 "Question: are these components mobile friendly?"
Type: Question

trying out the components on safari proved otherwise
Not sure if this framework is best for desktop.

Some components don't react well with touch, some don't work.
Perhaps this isn't the right choice or do you have a tip.

Thanks

[2016-11-21 02:54] llorca commented on #219
Not at the moment. So far, we've optimized the interactions for desktop use cases. Some components will work on mobile; the most complex ones won't. If you rely heavily on mobile interactions and are looking for a mobile-first UI toolkit, this may not be for you.

[2016-11-21 14:26] adidahiya commented on #219
Check out the README in the repo and FAQ on the wiki.

[2016-11-21 14:26] #219 closed

[2016-11-21 15:38] jeveloper commented on #219
Thank you

[2016-11-21 18:48] justingreenberg commented on #131
you can see a diff here of some of my SSR research over the weekend applied to core:
https://github.com/palantir/blueprint/compare/master...justingreenberg:jg/server-rendering

summary...

1. **utils/isBrowser** - simple guard for detecting execution context
![image](https://cloud.githubusercontent.com/assets/1539088/20495866/de4bae8a-aff0-11e6-81df-eb5301092785.png)

1. **dom4** - used for shimmi

[2016-11-21 20:48] abhishiv commented on #131
Hey @justingreenberg, weirdly for me it works both on client/server without any warnings/errors. It's weird, because our patches are almost the same?

The function you wroote about in [portal.tsx](https://github.com/palantir/blueprint/blob/master/packages/core/src/components/portal/portal.tsx#L40) is run in componentDidMount, so I don't think it should break anything.

How does it break for you? C

[2016-11-21 20:51] abhishiv commented on #131
Also are you including dom4.js manually in the page?

[2016-11-22 08:30] benheymink commented on #125
Not OP, but I found example in the docs to be a bit hidden; might be worth reorganising them to put the live examples first, and to perhaps have them in some sort of well/bounding container to make it clearer where the live examples are -  similar to the [Bootstrap component docs](http://getbootstrap.com/components/), for example.

At the moment, you have to select a component from the list on the

[2016-11-22 09:06] bbenezech commented on #202
The 2 things sound orthogonal. @briant-spindance Do you have issues with TS and Electron?
You can have a look at https://github.com/claudioc/electron-typescript-react-quick-start or https://github.com/robdaemon/typescript-electron-quickstart

But in any case TS is not required to run blueprint JS.

[2016-11-22 10:39] hans-permana opened #222 "Horizontal tab inside vertical tab panel still uses the vertical style class"
Hi guys,

I encountered an issue when trying to create a horizontal tablist inside a vertical tab panel. Here are the details:

### Environment

- __Package version(s)__: 1.0.1
- __Browser and OS versions__: Chromium 53 inside Electron 1.4.7

### Issue

I created a horizontal tab inside one of vertical tab panels. Unfortunately, the inner tabs seemed to inherit the vertical tab style.

### Actual

[2016-11-22 11:45] rvbd opened #223 "Repository not found when installing via NPM"
### Bug Report

- __Package version(s)__: (1.01)
- __Browser and OS versions__: (Windows NPM 1.4.9 )

#### Describe the issue:

Might be silly but I can't seems to clone the CORE repository via npm install.
npm ERR! git clone git@github.com:blueprintjs/core ERROR: Repository not found.

I used npm install --save @blueprintjs/core as described in the main website.

#### Actual behavior:

Errors out

[2016-11-22 12:01] #223 closed

[2016-11-22 12:11] rvbd commented on #223
turns out to be super silly... Just in case anyone out there has the same issue, I've got 2 npm binaries in my PC turns out the old one from chocolatey was being called.

[2016-11-22 19:57] alminde commented on #191
I would love if there were a full-row selection mode, or even just `onRowClick` and `onRowDoubleClick` callbacks as a start. Is there anything I can do to help?

[2016-11-22 19:58] ripitrust commented on #191
@themadcreator  this sounds like a function with valid and frequent user scenario
please let me know if I can help

[2016-11-22 20:12] cmslewis opened #224 "Flexbox columns rendering to wrong width in docs page on Windows"
### Bug Report

- __Package version(s)__: v1.0.1
- __Browser and OS versions__: Windows 7, Chrome 45.0.2454.101 m (64-bit)

#### Describe the issue:

`.pt-align-right` is rendering wonkily with checkboxes on Windows. Seems to be an issue with the `flex-basis: 10%` rule on the parent `div.kss-example`: each those parent elements is rendering significantly narrower than it should be.

#### Actual be

[2016-11-22 20:30] adidahiya commented on #191
sure, we'd take a PR for this @ripitrust. before you send along the code, could you provide a more detailed proposal of the API changes here?

[2016-11-22 20:31] ripitrust commented on #191
@adidahiya  Sure,  let me look into this and update here later

[2016-11-22 22:18] #147 closed

[2016-11-22 22:19] #138 closed

[2016-11-23 01:23] adidahiya opened #228 "Docs request for table cell format components"
We have some sweet formatting components that are useful in table cells, but no docs rendered in the docs site.

https://github.com/palantir/blueprint/tree/master/packages/table/src/cell/formats

[2016-11-23 04:37] c-smile opened #230 ""night" color scheme bug"
### Bug Report

- __Package version(s)__: (1.0.1)
- __Browser and OS versions__: (GC on Windows)

#### Describe the issue:

When using "Night"/dark scheme popup list items are not visible.

For example click on "Intent" select here:
http://blueprintjs.com/docs/#components.editable

#### Actual behavior:

Popup list items are not visible.

#### Expected behavior:

Popup list items shall be visible.

[2016-11-23 04:58] cmslewis commented on #230
Thanks for the bug report, @c-smile! I believe PR #158 from earlier today will correct the issue you're seeing. Should be going live shortly.

[2016-11-23 04:59] #230 closed

[2016-11-23 05:53] adidahiya opened #231 "Opening any popover scrolls to bottom of page in Firefox"
### Bug Report

- __Package version(s)__: 1.0.1 (blueprintjs.com)
- __Browser and OS versions__: FF 46 & 50, macOS 10.12

#### Describe the issue:

Clicking on any popover scrolls to the bottom of its overlay, which is now the bottom of the page (related: https://github.com/palantir/blueprint/pull/186#issuecomment-261658643).

[2016-11-23 19:54] adidahiya opened #232 "Improve visual design of truncated cell content"
### A request for micro-interaction design review

In a table that uses `<JSONFormat>` to render cell contents, it's easy to produce columns that look like this:

![image](https://cloud.githubusercontent.com/assets/723999/20576957/1d181ff6-b18e-11e6-8426-57c74d385c08.png)
![image](https://cloud.githubusercontent.com/assets/723999/20576963/20fbcbfe-b18e-11e6-86b5-e05701cde44b.png)

To an user, it c

[2016-11-23 20:03] Setsun commented on #125
This seems like a good use case for something like react-hot-loader or component-playground.

**React Hot Loader**: http://gaearon.github.io/react-hot-loader
**Component Playground**: https://formidable.com/open-source/component-playground/

This can provide developers with an editing environment that supports JSX and give them a live preview of what those components will look like right in the do

[2016-11-23 20:10] adidahiya commented on #125
there's also [react-storybook](https://github.com/storybooks/react-storybook)

[2016-11-23 21:32] cmslewis commented on #168
_Personal note:_ As distinct from the Typeahead discussion in #118, I think this issue is requesting a component that specifically enables multiple selections at once, like this:

![image](https://cloud.githubusercontent.com/assets/443450/20579317/e64db3bc-b180-11e6-9dfc-e584ba117b15.png)

If we pursue the Typeahead, we should consider how it works vis-à-vis multi-selection. Should one be a compos

[2016-11-23 22:31] Setsun commented on #125
I had not heard of `react-storybook`. It does look like a viable solution for showcasing how a component would behave based on a given state or when used with other components. However it doesn't look like it has a live-editing environment.

I think both `react-storybook` and `react-hot-loader` or another solution could work in tandem. I do still think a live-editing environment would be useful fo

[2016-11-24 03:58] msaforrian commented on #125
Great to see that people are thinking about live editing of components in the docs. I had some troubles using react-hot-loader and component-playground when I built something similar for our system and ended up just using codemirror and babel-standalone but your milage may vary.

Anyhow, I wanted to get back to the original intent of this issue–a demo page. When I look at design systems and compon

[2016-11-24 05:45] cmslewis opened #233 "Control-group element borders don't necessarily align in dark theme"
### Bug Report

- __Package version(s)__: v1.1.0
- __Browser and OS versions__: Chrome 54.0.2840.71 (64-bit) on OS X 10.11.6

#### Describe the issue:

In the dark theme, `intent`-ful control group elements don't necessarily have aligned borders. See this example from the numeric stepper:

![image](https://cloud.githubusercontent.com/assets/443450/20587883/af1dad62-b1c5-11e6-9df4-263e393600ef.png)

[2016-11-24 05:45] cmslewis commented on #233
@llorca would love your thoughts here

[2016-11-24 06:25] llorca commented on #233
Good catch! I'll look into it, numerical stepper revealed a few visual bugs around dark theme control groups

[2016-11-24 15:03] ugogo opened #234 "Local development issue"
### Bug Report

- __Package version(s)__: 1.1.0
- __Browser and OS versions__: Chrome OSX

#### Describe the issue:

Hey guys 👋

I just cloned your project and tried to submit my first PR, but I ran into an issue : local changes doesn't change anything into the local server.

##### What did I do?

- `git clone https://github.com/palantir/blueprint.git && cd blueprint`
- `npm install && npm run boo

[2016-11-24 16:47] neevany opened #235 "Question: suggest charts/graphs library which can be used with blueprint"
please suggest charts/graphs library which can be used with react/blueprint

[2016-11-24 17:49] adidahiya commented on #235
Hi @neevany, we're actively working on [palantir/plottable](https://github.com/palantir/plottable) now (after a short development hiatus...) and one of our goals in the next few months is to achieve high quality interop with Blueprint via a declarative React API layer that will be a new package called `@blueprintjs/chart`. Stay tuned; we'll update this issue with major milestones.

cc @palantir/pl

[2016-11-24 18:23] llorca commented on #234
I can repro on my end. We'll get to this ASAP

[2016-11-24 18:25] giladgray commented on #234
For now, you can just reload the page! We're working on the live reload
experience but it certainly still recompiles.
On Thu, Nov 24, 2016 at 10:23 AM Antoine Llorca <notifications@github.com>
wrote:

[2016-11-24 19:38] Reaverart opened #236 "Cant hover a rightElement button while input focused"
### Bug Report

- __Package version(s)__: (1.1.0)
- __Browser and OS versions__: (chrome 54, osX 10.11.6)

#### Describe the issue:

If input group lays inside of control group I cant hover a rightElement button of input group when input focused.
It happens because of this rule https://github.com/palantir/blueprint/blob/master/packages/core/src/components/forms/_control-group.scss#L85
So inputs la

[2016-11-24 19:47] Reaverart opened #237 "Input group right element button dancing"
### Bug Report

- __Package version(s)__: (1.1.0)
- __Browser and OS versions__: (chrome 54, osX 10.11.6)

#### Describe the issue:

If input group lays inside of control group a rightElement button moving on click.
It happens because of this rule https://github.com/palantir/blueprint/blob/master/packages/core/src/components/forms/_control-group.scss#L130
So 'pt-input-action' becomes 0 width and b

[2016-11-24 23:05] webpty opened #238 "TimePicker is losing focus"
### Bug Report

- __Package version(s)__: 1.0.1
- __Browser and OS versions__: Chrome 54, Mac OS 10.12

#### Describe the issue:

This is my time picker code
[code]
I'm trying to reproduce the example in the docs page, however, incrementing the value either by number pad or by arrow keys causes the focus to be lost and requires to manually refocus in order to continue editing the values.

#### Act

[2016-11-25 04:05] adidahiya commented on #234
what's the output in your `gulp` console? is it picking up the .scss changes and re-bundling the docs application?

[2016-11-25 04:47] cmslewis commented on #222
Hi @hans-permana, can you add a screenshot of the issue—and maybe a code snippet? Not quite following your nomenclature.

[2016-11-25 04:50] cmslewis commented on #203
Thanks for the report, @benheymink! As you probably saw before, we've added this issue to our 1.2.0 milestone to be released on Dec 2nd; we'll do our best to get the fix in by then.

[2016-11-25 04:54] cmslewis commented on #237
Thanks for filing this bug, @Reaverart. Really appreciate the code sample too - definitely helps us move faster to repro the issue. Seems quick enough that we should hopefully get a fix in shortly.

[2016-11-25 06:28] cmslewis commented on #238
I @webpty, I'm struggling to reproduce this on Chrome 54, Safari, and Firefox—all on OS X 10.11. Arrow-key shortcuts are working as expected for me in each browser (I'm on my laptop, so I can't test numpad at the moment). Could you maybe attach an animated GIF/some more code/some `console.log`s or something? That'll help me get to the bottom of this.

[2016-11-25 07:09] cmslewis opened #240 "Popover doesn't behave correctly when it has an autofocus'd input inside it"
### Bug Report

- __Package version(s)__: v1.1.0
- __Browser and OS versions__: OS X 10.11, Chrome 54

#### Describe the issue:

Weird things happen in the docs when you open a popover containing an `input` with `autofocus=true`.

![popover-bug](https://cloud.githubusercontent.com/assets/443450/20616974/c78961f4-b29a-11e6-86cc-234a4577c514.gif)

#### Actual behavior:

Page jumps down several hundr

[2016-11-25 08:11] ugogo commented on #234
@giladgray Even if I reload the page myself, there's no change.

I recorded my screen : https://www.dropbox.com/s/5jrxnguraf8hzu1/blueprint-local-dev-issue.mov?dl=0

[2016-11-25 14:15] orecus opened #242 "<Button> Specifying type/role?"
I would like to suggest an improvement to the <button> component. I have a use case where I would like to change the type/role from 'button' to 'submit' but in the current component it seems to be hardcoded when i looked at the source.

In my use-case i would like to use the component together with formsy-react, which seems to need the type=submit to trigger (atleast in my code), for now i've solv

[2016-11-25 14:41] adidahiya commented on #242
Specifying type / role for buttons: that make sense; we'd accept a PR for that. It should just be a matter of reordering the props [here](https://github.com/palantir/blueprint/blob/9ae28710616f813c4d168e40c0e299d32ceb75a2/packages/core/src/components/button/buttons.tsx#L35) so that user-provided props get spread _after_ `type` (but keep the other ones in their current intentional order).

Filing i

[2016-11-25 14:49] adidahiya commented on #240
looks related to https://github.com/palantir/blueprint/issues/231

[2016-11-25 15:54] webpty commented on #238
@cmslewis, thanks for the quick reply.

It seems I was wrong about the num pad, as you can see here I am able to delete and enter the desired numbers.

2 actions lead to the loss of focus: tab and arrow keys (up and down)

![timepicker](https://cloud.githubusercontent.com/assets/11739306/20628886/afc748fe-b2f6-11e6-84a4-39450cae34af.gif)

[2016-11-25 16:30] hans-permana commented on #222
Hi @cmslewis, I am sorry for not being clearer.

I hope this screenshot can help me in describing the issue better :)
![image](https://cloud.githubusercontent.com/assets/7643370/20630872/03b78a0e-b334-11e6-853e-f35bf3913e44.png)

In the screenshot, as you can see there are 2 Tabs being used, one as a child of another (indirectly). What I wanted is for the parent Tablist to be vertical, which it is

[2016-11-25 19:40] ozluy opened #243 "Do you have any plan to make sidebar(sidemenu)?"
If I am not wrong sidebar(sidemenu/drawer) is missing do you have plans to make sidemenu?
Thanks You

[2016-11-25 19:50] giladgray commented on #242
Hah I had fixed this in #229 by putting type/role before the spreads, but that one never merged. Easy to resolve!

[2016-11-25 19:53] giladgray commented on #231
this is due to `position: absolute` nature of overlays. i think we should make them all `position: fixed` as in https://github.com/palantir/blueprint/issues/183#issuecomment-261074255

[2016-11-25 19:59] giladgray commented on #243
I wouldn't say it's _missing_, it's just not one single piece. Blueprint doesn't provide any layout components so "sidebar" doesn't mean a lot here. Fortunately, there are many easy ways to lay out a sidebar element that works for you.

We've got you covered when you're ready to fill it!
Consider [`Menu`](http://blueprintjs.com/docs/#components.menu) for lists and [`Card`](http://blueprintjs.com/d

[2016-11-25 23:05] adidahiya commented on #243
If you're looking for a floating sidebar over the entire page, you might be interested in the [`Overlay`](http://blueprintjs.com/docs/#components.overlay) component as the container

[2016-11-26 00:57] sceutre opened #244 "Feature request: Include CSS file which doesn't contain non-pt-prefixed styles"
We have a largish single page application, and we're evaluating and really like blueprintjs.  Nice job!

However, if we include the CSS file as is, our page gets subtly messed up.  This is because of rules like the following in _typography.scss
[code]

We use <ul> in various places in our UI and changing the margin results in elements laid out incorrectly.  Other things I see in _typography.scss m

[2016-11-26 04:46] ggregoire opened #245 "Standalone datetime package"
Hi!

I compared different calendar/datepicker libraries and I think yours in one of the best. Its API is simple and clean. Plus, it has a years selector ([airbnb/react-dates](https://github.com/airbnb/react-dates) doesn't).

Unfortunately, the core package is quite huge (> 1MB). It's the biggest package in my bundle.

Do you have any plans to make a standalone datetime package?

![screen shot 2016

[2016-11-26 05:08] giladgray commented on #245
Thanks @ggregoire! We worked hard on those datetime components, glad to hear you enjoy them as much as we do!

I can't say we have any plans to support standalone consumption. Blueprint is designed for an all-in approach where you need a lot of basic pieces to build a large application. Some judicious tree-shaking of unused code should get you pretty far in bundle size reduction, though I'm unfami

[2016-11-26 08:48] cmslewis commented on #222
Ah okay, I see the problem now. Thanks for clarifying with a screenshot and code snippet! I have a fix for it. @giladgray the fix here will necessarily change the specificity of certain CSS selectors for the tab component. Not sure how strict we want to be with semver here—might want to wait till a major-version bump. Happy to chat more in a PR.

[2016-11-26 09:09] cmslewis commented on #238
Gah, that looks infuriating, haha. Thanks for the GIF; I'll try to repro on my end soon.

[2016-11-26 14:18] adidahiya commented on #245
For consumers to utilize tree shaking, we'll have to publish ES6 modules in addition to CommonJS modules (static analysis tools work much better with the former). Shouldn't be too hard; we can use tsconfig.json inheritance and create multiple folders in dist/, dist/es6/ and dist/cjs/

[2016-11-26 14:27] adidahiya commented on #245
So, yeah the tree shaking thing ought to help somewhat. But Gilad is correct here, the UI kit works best when you use the core components, otherwise the app might feel pretty inconsistent. It's meant to replace packages like bootstrap, react-bootstrap, and react-overlays; after that, blueprint's bundle size feels like a bargain. Lastly, have you removed code comments in that bundle size analysis?

[2016-11-27 01:10] natemartinsf commented on #185
@adidahiya Is there a specific routing solution you prefer that works better with standard `<a>` tags?

@isTravis Putting <Link> inside the text prop worked, but <ActiveLInk> gives me an error. Were you able to get this to work with disabling the active link as well?

[2016-11-27 05:50] natemartinsf commented on #185
After reading about about how other people are using React-Router, and looking at https://github.com/insin/react-router-active-component which almost did what I wanted, I put together a simple wrapper around Button that navigates to routes using the "to" property, and disables itself when the route is active. Hopefully this can help out some other people. I'm new to working with React,  so critici

[2016-11-27 19:24] unscene opened #247 "Setting style prop on <Cell/> seems to do nothing"
### Bug Report

- __Package version(s)__: @blueprintjs/core@1.0.1,

#### Describe the issue:

When setting the style prop on `<Cell/>` none of the actual styles are applied.  The only styles that are applied are measured column width/height and position.

In my case I am doing:

[code]
#### Actual behavior:

Nothing happens.

#### Expected behavior:

It should merge the styles.

**Edit**: I am jus

[2016-11-27 23:09] basarat opened #248 "Customizing styles : Just take classNames"
Reading through the FAQ : https://github.com/palantir/blueprint/wiki/Frequently-Asked-Questions Specifically `Blueprint with a traditional global CSS stylesheet for a few reasons` I would like to argue against the reasons presented using [typestyle](http://typestyle.io) as an example.

With TypeStyle you get to use TypeScript tooling for CSS just like you use TypeScript tooling for JSX for HTML.

[2016-11-27 23:58] basarat commented on #248
Another example where managing *just with js would help*, you wouldn't need to give this warning as the CSS can be generated on the fly
![image](https://cloud.githubusercontent.com/assets/874898/20653007/8885eb28-b559-11e6-8a54-4580cd13b318.png)

[2016-11-28 00:35] JKillian commented on #248
@basarat always a pleasure to hear your input and see what you're working on!

Let's say we do decide to use typestyle. Doesn't this essentially force all of our downstream consumers to also use typestyle? With meaningful class names removed, users couldn't write regular CSS that gets along well with Blueprint. I'd be a little concerned about forcing this on users

[2016-11-28 02:23] basarat commented on #248
Mutual respect for all your OSS efforts as well :rose: :heart: and Thanks!

Not quite. Few reasons:

* Multiple TypeStyle versions will work fine (each creates and manages its own `style` tag). Consumers are free to use whatever they want and don't *need* to know if the lib internally uses TypeStyle.
* TypeStyle is small (~1k). Probably smaller than the monolith CSS that needs to be included right

[2016-11-28 03:01] adidahiya commented on #247
looking at [this code in `cell.tsx`](https://github.com/palantir/blueprint/blob/9ae28710616f813c4d168e40c0e299d32ceb75a2/packages/table/src/cell/cell.tsx#L35), that is surprising. can you provide any more details? do you see your inline style showing up in the DOM or in dev tools?

[2016-11-28 04:22] unscene commented on #247
The example is in a much large project and don't want to just paste it wholesale.  I can provide a stripped down example later.  What I did notice is that I am using this in conjunction with explicit column Width on `<Table>`.  The properties that are on style are being overwritten by that I believe, but I haven't dug into the code there too much yet.

[2016-11-28 14:33] isTravis commented on #185
@natemartinsf, I haven't had any clever workarounds with the <MenuItem> component. I've defaulted in most cases to simply using the CSS API for things that require react-router <Link> tags. This means you have to manage the active status yourself, but it's not too painful.

An example of how I'm using the <Menu> component now:

[code]

[2016-11-28 14:35] neevany opened #249 "Feature request: <DateRangeInput/>"
Same like `<DateInput/>` for DateRange , for now i used popover. but i think it is good to have it as a component

## TODOs

@cmslewis: I'll use this space to track TODOs for this component (currently living on `feature/date-range-input`).

### Part 9: Obey and control the focused field
- [x] The currently focused field dictates which end of the date range the next click will modify.
- [x] Move fo

[2016-11-28 19:55] llorca commented on #232
Just talked to Bill, we propose using the fancy popover truncation not just for JSON cells anymore, but for any type of cells. That will make the interaction consistent across all cells that are truncated.

[2016-11-28 20:11] scibernix opened #250 "Layout Components"
Hello,

Are there any layout components in the pipeline. Which Grid layout components are recommended ?

Thanks

[2016-11-28 21:04] llorca commented on #250
@scibernix What are you looking for specifically? We don't have any layout component as we recommend using flexbox for these things

[2016-11-28 21:56] dmackerman commented on #250
We're using https://github.com/jxnblk/reflexbox to handle the majority of our layout stuff. It's pretty powerful, and handles 99% of the layout cases we need.

[2016-11-28 22:22] toddself opened #251 "Please export table/draggable on blueprint/table"
We are implementing some custom table cell editors for editing different types of data within a table (e.x. checkboxes, select widgets, etc), but we want them to react (no pun intended) the same as the EditableCell type exported by blueprintjs/table.

Right now we're reaching into the package to import Draggable so that we can achieve this, however, this is a pretty brittle abstraction (if you mov

[2016-11-28 22:43] toddself commented on #251
Although you can just grab the compiled version from `/dist/interactions/draggable.js` but it would be nice to have this exported so you could just do `const Draggable = require('blueprintjs/table).Draggable` :)

[2016-11-28 23:05] themadcreator commented on #251
Sure, this should be no problem

[2016-11-28 23:18] themadcreator commented on #247
You're right, we don't handle the styles properly. This is because we use styles to absolutely position the cell elements in the viewport. See [this line](https://github.com/palantir/blueprint/blob/9ae28710616f813c4d168e40c0e299d32ceb75a2/packages/table/src/tableBody.tsx#L164) for example. But, we can just use Object.assign to merge the props, which I will do in a PR.

[2016-11-28 23:20] unscene commented on #247
Awesome! Thanks.

[2016-11-28 23:26] alearcy opened #255 "ES6 React toast"
Hi guys, and thanks for your useful works! I'm not using typescript but ES6 with React.
I'm trying to use Toast component. I want to show a toast when the error state is set to TRUE from Redux. Then, when toast is dismissed, I want to call an action that set my error state to FALSE.
I am doing wrong? Where I can put onDismiss callback to set FALSE my error state?

[code]
Now toast appear, but in c

[2016-11-28 23:37] adidahiya commented on #255
1. create the Toaster on `componentDidMount`, not `render`, since that should only be done once.
2. call `show` on the toaster when props change, not on `render`.

the Toaster API is quite different from all our other React APIs -- it's a completely imperative API that does a lot of things inside `Toaster.create` and `toast.show`, so you shouldn't treat it like a JSX element.

[2016-11-29 00:39] #247 closed

[2016-11-29 00:42] #251 closed

[2016-11-29 01:11] toddself commented on #251
Thank you!

[2016-11-29 02:05] cmslewis commented on #249
Thanks for the nudge here, @neevany! We've built something like this on top of Blueprint here at Palantir before, but it definitely makes sense to have as a standalone component.

[2016-11-29 02:11] giladgray commented on #249
Yes we've been planning to build such a thing for some time...

[2016-11-29 07:17] ConneXNL commented on #243
I like the approach you guys are taking by making a lot of components composible from other components.

However I think for the non-devs of blueprint this isn't as obvious as the general user or the person which has to choose the react framework for their next project.

If this functionality can really be built easily with existing functionality and then it might be interesting to have a section

[2016-11-29 09:05] orecus opened #259 "[FR] - Decouple icon font usage"
Hi,

While playing around with Blueprint and the scss [files](https://github.com/palantir/blueprint/blob/9ae28710616f813c4d168e40c0e299d32ceb75a2/packages/core/src/blueprint.scss) I noticed a few things in regards to the `icons` and `font-imports`, as I don't want to use the supplied icons I excluded these in my main .scss file where I import blueprints files, as in my case I will be using Font-Aw

[2016-11-29 09:11] orecus commented on #242
Thanks @adidahiya! I think it would be a small but great improvement, even though it seems that `formsy-react` is stalled and I'm looking at other options instead but the same problem might show itself in other similar options. :)

Regarding Issues: Great to know, I have a few suggestions on new components and improvements. I'll gather my thoughts and once I have them all sorted out I'll start add

[2016-11-29 09:20] orecus commented on #250
:+1: for reflexbox, found it to be easy to use and have worked great for me too.

[2016-11-29 10:05] alearcy commented on #255
Please @adidahiya can you show me little example of code?

[2016-11-29 10:23] orecus opened #260 "[FR] - New component <Stepper> or similar"
I have a suggestion for a new component, a stepper component; I'm partial to [Semantic UI](http://semantic-ui.com/elements/step.html)'s but [Material UI](http://www.material-ui.com/#/components/stepper)'s feels like a good "minmal" version of it.

I could see these options being available on the component.

* Label - A bigger font sized label of the step.
* Description - A short description of the

[2016-11-29 10:46] orecus opened #261 "Tabs component improvements"
I have a few suggestions on the <Tabs> component, mainly in regards to the layout to make slightly more customizable. In my case, I would like to add an element to be right aligned in level of the tabs within that component.

In my use case i have several tabs with forms and settings where you can configure the application, with a single button for saving all changes once you are happy. This butto

[2016-11-29 10:54] Reaverart commented on #194
So far I remember, webkit form elements not inherits font-family from body and uses default browser font. `font-family: inherit;` should fix.

[2016-11-29 11:39] ugogo commented on #194
Shouldn't all vars has the `!default` param?

[2016-11-29 15:13] adidahiya commented on #243
I totally agree @ConneXNL, a cookbook and/or demos page (#125) would go a long way. It isn't the highest priority for us right now, but we'd be open to documentation proposals / PRs.

[2016-11-29 15:16] #203 closed

[2016-11-29 18:54] llorca commented on #243
Besides #125, a quick fix here can be to create another `<Overlay>` example as a side panel

[2016-11-29 19:10] jasonbarry opened #262 "React being included in output even though specified as external"
I'm loading React and ReactDOM from a CDN, so I'm not including it in my bundled output. When I added blueprintjs to my project, React became included in the bundled output, even though I specify in my webpack config to not include it. Here's the relevant part of my webpack.config.js file:

[code]

I suspect this has something to do with `react-addons-css-transition-group`. I've tried adding that

[2016-11-29 19:12] giladgray commented on #262
are you providing `react-addons-css-transition-group` from your CDN as well? it _is_ a dependency and must be there at runtime.

[2016-11-29 19:13] giladgray commented on #262
adding CSSTG to externals seems like the right move, but then you have to actually externalize it.

[2016-11-29 19:13] giladgray commented on #260
lol check the PRs... #189

[2016-11-29 19:14] giladgray commented on #260
feel free to leave comments #189! would love your input as we build it.

[2016-11-29 19:15] giladgray commented on #260
aaand i didn't click on the links! I took `Stepper` to mean numerical input like iOS: https://developer.apple.com/ios/human-interface-guidelines/ui-controls/steppers/.

looks like we've got a naming problem!

[2016-11-29 19:18] orecus commented on #260
@giladgray Hahaha I was just about to comment that it was not the same kind of <Stepper> component! ;)

But a better name might be `<Guide>`, `<Trail>` or `<Process>` perhaps? Also, some more insperation from [Salesforce Lightning System](https://www.lightningdesignsystem.com/components/process/) :)

[2016-11-29 19:19] giladgray commented on #259
Sorry, I don't see us supporting this first-party because at Palantir we all use (and deeply love) our custom UI icon font.

However, you're on the right track with just adding your own icon elements as needed.

You could also look into re-implementing [`Classes.iconClass()`](https://github.com/palantir/blueprint/blob/master/packages/core/src/common/classes.ts#L139-L144) to generate your own icon

[2016-11-29 19:19] #259 closed

[2016-11-29 19:25] llorca commented on #250
Flexbox and reflexbox are pretty great solutions. Closing as we currently have no plan to write a layout engine

[2016-11-29 19:25] #250 closed

[2016-11-29 19:27] jasonbarry commented on #262
@giladgray yep, that's where I'm currently stuck.

Here's what I have now:
[code]

And on the page itself:
[code]

Results in JS error
[code]

I believe ReactCSSTransitionGroup is in the react-with-addons.min.js file... maybe something within my externals key is incorrect?

[2016-11-29 19:27] orecus commented on #259
@giladgray Thanks, that is totally understandable. I'll take a closer look once I start to refactor for icons in my application!

[2016-11-29 19:27] llorca commented on #248
Sass is pretty great and indeed there's no clear winner for CSS in JS yet, but a solution like TypeStyle is very much something we want to research in the near-ish future

[2016-11-29 19:30] llorca commented on #244
@giladgray Any thoughts?

[2016-11-29 19:48] adidahiya commented on #244
Removing those styles might subtly break various things in our core components, but I suppose this is something that's worth looking into -- I wouldn't want to ship a separate "noconflict" stylesheet, but rather remove as many global styles as possible from the core stylesheet.

For now, you have a few options:

- load something like a `blueprint-patch.css` file after blueprint and before your app

[2016-11-29 19:55] giladgray commented on #262
i think the issue is still that `ReactCSSTransitionGroup` is undefined... `react-with-addons` provides `React.addons.CSSTransitionGroup`, so you see the problem. I think you'll need to add something like this line of code before importing Blueprint:

[code]

https://facebook.github.io/react/docs/animation.html#high-level-api-reactcsstransitiongroup

[2016-11-29 19:55] giladgray commented on #262
oh no wait you can probably just change the entry in `externals` map:

[code]

[2016-11-29 20:16] schrepfler commented on #131
Can we get a build with this patch?

[2016-11-29 20:35] jasonbarry commented on #262
@giladgray that's the magic I was looking for! `React.addons.CSSTransitionGroup` did the trick. Thank you kindly.

[2016-11-29 20:38] #262 closed

[2016-11-29 20:44] llorca commented on #262
🎉

[2016-11-29 20:53] themadcreator opened #263 "Duplicate identifier"
#### The issue:

A non-conflicting merge between two branches caused
a duplicate identifier error in table/src/index.ts

[2016-11-29 20:59] #263 closed

[2016-11-29 21:08] llorca commented on #131
@schrepfler sorry, we won't just release a quick patch for this. It's something we care about and very much want to do right -- we're investigating SSR now and once we're solid on all the use cases, we'll do a release with first-class SSR support. In the meantime, definitely feel free to experiment with the changes proposed above.

@adidahiya anything you'd like to add?

[2016-11-29 22:47] cmslewis opened #268 "Icon SVG-download links are broken in docs"
### Bug Report

- __Package version(s)__: v1.1.0
- __Browser and OS versions__: Chrome 54.0.2840.98, Mac OS X 10.11.6

#### Describe the issue:

These links don't work on http://blueprintjs.com/docs/#icons:

![image](https://cloud.githubusercontent.com/assets/443450/20732187/530ecbd8-b642-11e6-8ef0-0e8a243142d2.png)

They take you to a link with the following format, which shows a 404 page on gith

[2016-11-29 23:16] giladgray commented on #231
related to #183

[2016-11-29 23:17] paulpooch commented on #242
Yeah I was having issues with redux-form not submitting because of this.

[2016-11-29 23:36] #232 closed

[2016-11-29 23:45] themadcreator commented on #112
This looks like the sourcemaps are coming from core's typescript compilation step.

[2016-11-30 00:30] cmslewis commented on #205
Seems like the click-anywhere-to-dismiss behavior works now. Not sure what changed or when. I'm fixing the download links though.

[2016-11-30 00:36] llorca commented on #205
@cmslewis It works on Chrome and Safari but it's broken on Firefox. On Firefox, right-clicking also scrolls to the bottom of the page instantly 😭

[2016-11-30 00:37] llorca commented on #205
Looks unrelated though, it's a wider context menu bug

[2016-11-30 00:42] llorca opened #273 "Context menu scrolls page when triggered"
### Bug Report

- __Package version(s)__: 1.1.0
- __Browser and OS versions__: Firefox 48

#### Describe the issue:

![contextm](https://cloud.githubusercontent.com/assets/199754/20735115/c4fba97c-b652-11e6-9a54-0c53bfec2ae7.gif)

#### Actual behavior:

Context menu opens and the page scrolls, causing loss of context for users

#### Expected behavior:

Context menu appears without scrolling the pa

[2016-11-30 00:43] llorca commented on #205
@adidahiya you didn't mention the browser version, but I suspect it's Firefox: https://github.com/palantir/blueprint/issues/273

[2016-11-30 01:13] giladgray commented on #273
same issue as #183

[2016-11-30 01:14] giladgray commented on #268
yep should be `.../blob/master/resources/...`

[2016-11-30 01:14] giladgray commented on #268
in the future, no need to make an issue if you're going to open the PR immediately afterwards.

[2016-11-30 01:16] brahms opened #275 "TabList React Warning when Unmounted Right after a componentDidUpdate"
This function is causing a warning:

[code]

"Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code for the undefined component."

[2016-11-30 06:38] #268 closed

[2016-11-30 08:49] jumpinjackie opened #277 "Feature Request: Vertical orientation for Navbar"
Been playing around with this lovely toolkit. Very impressed.

One thing that I'd like to see in blueprint is for the Navbar component to support vertical orientation.

The main motivation is to be able to build a UI similar to [Visual Studio Code](https://code.visualstudio.com/), of which one of its primary UI elements is effectively a vertically-oriented navbar.

[2016-11-30 14:14] forman opened #278 "Feature request: ListBox component"
I wish fantastic blueprint would also offer a simple **ListBox** to present multiple items vertically as a single continuous element. It should have
* customizable items (so I can have any React/HTML in there);
* none/single/multiple select, selection spans.

I'm asking for an API similar to but way simpler than blueprint's [Table](http://blueprintjs.com/docs/#components.table-js) or [Tree](http:/

[2016-11-30 15:13] adidahiya commented on #273
more accurately, this is a duplicate of #231

[2016-11-30 15:13] #273 closed

[2016-11-30 15:15] adidahiya commented on #205
I was on Chrome, but somewhere between 1.0 and now, this seems to have gotten fixed... your linked issue is a little different though @llorca

[2016-11-30 15:46] forman opened #279 "Feature request: isRowNumberColumnShown prop for Table"
Could you please add a property to [Table](http://blueprintjs.com/docs/#components.table-js) component that would allow for hiding the very first column showing the row numbers, e.g. `isRowNumberColumnShown`.

There are many uses for table-like components where the row number isn't important for users at all. One example is using a one-column, sortable table as (poor man's) replacement for a ListB

[2016-11-30 16:38] adidahiya commented on #279
This prop already exists -- it is called `isRowHeaderShown`. We could change the prop description to enhance searchability now, and rename it to be more legible in the next major version.

[2016-11-30 16:51] forman commented on #279
Great, that's it, I should have read more carefuly, thanks!

[2016-11-30 16:51] #279 closed

[2016-11-30 16:56] mfedderly opened #280 "DateInput + Moment-Timezone incompatability"
### BLUF

Using Moment-Timezone's [setDefault](http://momentjs.com/timezone/docs/#/using-timezones/default-timezone/) call, the DateInput UI becomes inconsistent.

### Bug report

- __Package version(s)__: 1.1.0
- __Browser and OS versions__:  Mac OSX 10.11.6 / Chrome 54.0.2840.98 (64-bit)

#### Steps to reproduce

1. Use moment-timezone to set a default timezone, which affects all usage of the gl

[2016-11-30 18:45] themadcreator commented on #112
[This is the line that does it ](https://github.com/palantir/blueprint/blob/master/gulp/typescript.js#L55)

[2016-11-30 22:21] brandonchoe opened #281 "EditableCell/EditableName not truncating properly"
### Bug report

- __Package version(s)__: 1.1.0
- __Browser and OS versions__: Chrome 54.0.2840.98 (64-bit) and OS X El Capitan 10.11.6

#### Steps to reproduce

1. Render an `EditableCell`/`EditableName` with lengthy content (resizing column is not necessary).

#### Actual behavior

<img width="743" alt="screen shot 2016-11-30 at 5 10 04 pm" src="https://cloud.githubusercontent.com/assets/1431801

[2016-11-30 22:51] llorca opened #282 "Consolidate `isModal` and `hasBackdrop`"
`Overlay` uses `hasBackdrop` and `Popover` uses `isModal` for historical reasons. We should consolidate for the next major release

[2016-11-30 22:52] llorca opened #283 "Change `pt-` prefix to `bp-`"
No reason to carry Palantir as a classname namespace

[2016-11-30 23:16] cmslewis commented on #283
#breakallthethings. Makes sense though.

[2016-11-30 23:19] #200 closed

[2016-11-30 23:28] cmslewis commented on #236
Fixed by #239

[2016-11-30 23:28] #236 closed

[2016-11-30 23:28] cmslewis commented on #237
Fixed by #239

[2016-11-30 23:28] #237 closed

[2016-11-30 23:29] adidahiya commented on #283
No, I really don't see the value in this change at this point. It provides marginal benefits at unnecessary cost. Apple's APIs are all prefixed with "NS"; the world moves on.

[2016-11-30 23:33] llorca opened #284 "Consolidate React table CSS prefix with the rest of core"
Move to `pt-` or do #283

[2016-11-30 23:41] llorca commented on #283
Eh, I'd rather not throw things off just because there's cost. There's always cost associated, and we can come up with solutions (upgrade scripts for instance), so let's talk about it.

Your Apple comparison is quite misleading -- when you use an `NS` prefixed API (Apple stuff), you're most certainly developing for the Apple platform. Folks using our `pt-` prefixed classes are not developing for t

[2016-12-01 00:43] cmslewis commented on #231
Okay, so building off of my work in #276, I'm now seeing the following behavior:

- *Chrome*: All popovers work as expected
- *Firefox*: All popovers _misbehave_ except for the "Input" example.
- *Safari*: All popovers _work_ except for the "Input" example.

So that's interesting. Lest I forget, the offending line seems to be in `Overlay/bringFocusedInsideOverlay` (linked [here](https://github.com

[2016-12-01 00:45] themadcreator commented on #281
Looks like a `min-width` CSS style is being applied to the content. Will investigate fix.

[2016-12-01 01:04] cmslewis commented on #231
In Firefox, looks like we're trying to `.focus` on the popover container before it was visible. Since the popover exists in a portal element at the bottom of the page, the browser is scrolling down to bring the portal into view before trying to focus it. Adding a `setTimeout` around the `containerElem.focus()` solves that issue.

But Safari appears to have a different problem: it's scrolling the p

[2016-12-01 01:21] Nonemoticoner opened #286 "[Windows] Error in plugin 'gulp-less' when executing 'npm run gulp'"
### Bug report

- __Package version(s)__: 1.1.0
- __Browser and OS versions__: Win 7 x64

#### Steps to reproduce

Did as instructed here:
https://github.com/palantir/blueprint/blob/master/README.md#development

Last step failed and produced the error you can read about below.

I also updated Node to its current version (v7.2.0) - it didn't help at all.

#### Actual behavior

[code]

#### Expected

[2016-12-01 01:52] giladgray commented on #286
interesting report @Nonemoticoner. i wonder if this is a Windows problem? the entire team uses Macs for development and i'm not sure we've ever actually _tried_ building it on Windows.

The `sass-variables` task is supposed to strip `@import` statements from the files before compiling them with Less, but that's clearly not happening here:

I'd suggest you investigate [the regular expressions in th

[2016-12-01 01:53] jmcampanini commented on #118
can the results dropdown be able to be styled and/or have custom data (icons, etc.)?

[2016-12-01 01:54] giladgray commented on #280
`react-day-picker` has its own support for localization, have you checked that out? Might need to make its localization settings match moment.timezone's.

http://react-day-picker.js.org/Localization.html

[2016-12-01 01:56] giladgray commented on #275
fix: track the returned `timeoutId` and clear it in `componentWillUnmount`

[2016-12-01 07:08] adidahiya commented on #118
@jmcampanini we'll make sure to make the component very configurable such that you can provide your own renderers for things like result items.

[2016-12-01 07:12] adidahiya commented on #283
Ok, fine, the Apple example wasn't perfect -- we also don't expose "pt" in the same kind of APIs that Apple exposes "NS"; our JS APIs don't have any namespace like that, and _users should be discouraged from styling any `.pt-` classes directly anyway_[0]. So it really wouldn't show up in their applications much at all, and we're not misleading them into thinking that they're developing for any Pal

[2016-12-01 14:05] Yaojian opened #288 "CollapseList throws Uncaught Error: addComponentAsRefTo when clicking the dropdown ellipse"
When clicking the ellipse on the start of breadcrumbs, the dropdown popover shows up with the following error message in console:

react-dom.js:17870 Uncaught Error: addComponentAsRefTo(...): Only a ReactOwner can have refs. You might be adding a ref to a component that was not created inside a component's `render` method, or you have multiple copies of React loaded (details: https://fb.me/react-r

[2016-12-01 14:22] mfedderly commented on #280
@giladgray This isn't a localization problem, Date and Moment disagree on the actual unixtime values that they are representing when moment-timezone has a default timezone that isn't the browser's timezone.

[2016-12-01 16:27] ugogo commented on #234
Can I provide you more informations to help you?

[2016-12-01 17:11] paulpooch commented on #242
Hey I found a temporary workaround to this.... just put a stupid hidden submit button next to your pretty Blueprint Button.  I've actually wrapped this combo into it's own component.

[code]

[2016-12-01 17:37] gscshoyru opened #289 "Date range picker picker broken in month of December"
### Bug report

- __Package version(s)__: 1.1.0
- __Browser and OS versions__: Chrome (latest) on macOS

#### Steps to reproduce

1. Have the date in your computer be December first. Or probably any day in December.
2. Go to http://blueprintjs.com/docs/#components.datetime.daterangepicker.

#### Actual behavior

Shows December 2016 as the month on the left, and January _1996_ as the month on the r

[2016-12-01 18:40] #281 closed

[2016-12-01 19:05] giladgray commented on #289
this is actually expected behavior _for the default DRP props_: `maxDate` defaults to the end of the current year, which just happens to be this month. (why? because future dates are rarely useful in analytical apps--it's all data from the past.)

![image](https://cloud.githubusercontent.com/assets/464822/20807977/c0a5db7c-b7b5-11e6-8168-338a886d8b2e.png)

I'll agree that the "wrapping" behavior i

[2016-12-01 19:10] giladgray commented on #288
I cannot repro this on the documentation site using the exact code you provided.

@Yaojian is it possible that you have multiple copies of React loaded? say, one from your app and one from Blueprint?

[2016-12-01 19:11] giladgray commented on #280
this sounds like a _time localization_ problem, which is all about timezones (not to be confused with language localization).

[2016-12-01 19:14] giladgray commented on #234
@ugogo it seems like livereload does not work for individual packages, but it does work for the docs package itself. try saving `docs.scss` after editing `_callout.scss` and see if that causes your changes to appear in the browser.

[2016-12-01 19:17] giladgray commented on #112
ah yes can we make those sourcemaps external too?

[2016-12-01 19:21] gscshoyru commented on #289
Didn't realize about the default max date behavior, that makes a certain amount of sense.

If we can't avoid the wrapping behavior because of the component we're using (which I get) then maybe just detect if we're opening a date at the end of our range, and go back a month instead of wrapping funny.

[2016-12-01 19:33] mfedderly commented on #280
Specifically, it is not a react-day-picker localization problem.

[2016-12-01 20:14] giladgray commented on #280
ok i see what's up now. submit a PR with your functions above!

[2016-12-01 22:50] Nonemoticoner commented on #286
On Windows _new line_ in general is done with use of `\r\n` instead of just `\n` (yea, seems weird).

I changed [this](https://github.com/palantir/blueprint/blob/master/gulp/sass.js#L99) line from:
[code]
to:
[code]
and it worked like a charm.

I'm not sure if I should PR this as it would most probably influence Mac users.

So either you make script `npm run gulp` check if it runs on Windows or Ma

[2016-12-01 22:51] toddself opened #291 "table (react) eats all click events"
### Bug report

- __Package version(s)__:  1.1.0
- __Browser and OS versions__: MacOS 10.11.6 & Ubuntu 16.10 both with Chrome 54.0.2840.98. Mac 10.11.6 with Safari 10.0.1

#### Steps to reproduce

1. Create a table
1. Attach an onClick or onMouseDown/Up handler to an element rendered in that table
1. Click on that element and the handler will never fire
1. You can best demonstrate this by going to

[2016-12-01 22:54] giladgray commented on #286
thanks for confirming my suspicions! we would welcome a PR from you, and we'll make sure it works for us Mac devs too. otherwise, we'll resolve this at some unspecified point in the future 😄 .

[2016-12-01 23:40] themadcreator commented on #291
Yep, there are a few event.stopPropagation() calls in dragEvents.ts. We did this to take over control of selection of cells and to prevent native text selection, which looks weird then we have our own cell selection overlays.

Furthermore, the `<EditableText>` component we use in editable cells will grab focus on a single click, but we only want to edit on double click.

We obviously need to addre

[2016-12-02 00:41] adidahiya commented on #291
@toddself out of curiosity, what do you intend to use the mouse event handlers for?

[2016-12-02 01:18] toddself commented on #291
We are building a spreadsheet type app. We need to display and react to buttons, checkboxes and the ability to place the cursor anywhere in a text field when its editable.

I mean even if we didn't need the other things, our limited testing shows people are very angry/confused that that can't use their mouse to position the cursor. Removing expected interface paradigms is really difficult for peop

[2016-12-02 01:29] llorca commented on #291
Wow, I wasn't aware of this issue. I just played with it, there's no text/mouse interactions on a (non-header) cell that's being edited -- can't click to move the cursor, can't click+drag to select portions of text... yet, selection by clicking is still possible. Hopefully we can figure out a fix soon

[2016-12-02 02:36] adidahiya opened #293 "Refactor: rename all "renderX" props to "XRenderer""
To be more semantically correct and consistent with other React libraries.

For example, `renderCell` &rarr; `cellRenderer`.

- [x] most table props
- [x] HeaderCell `renderGhostCell` and `renderHeaderCell`
- [x] Slider `renderLabel`
- [x] CollapsibleList `renderVisibleItem`

[2016-12-02 02:52] cmslewis opened #294 "Re-enable <HotkeyDialog> unit test"
The `<HotkeyDialog>` unit test for `"triggers hotkey dialog with "?"` is time-dependent. We've disabled it for now to prevent it from adding too much time to the unit-test run, but we should (1) rewrite it in a way that is not time-dependent and then (2) reenable it.

[2016-12-02 02:56] #222 closed

[2016-12-02 07:39] Yaojian commented on #288
It's my fault.  I marked react as externals incorrectly.

Thanks for your help.

[2016-12-02 07:39] #288 closed

[2016-12-02 08:00] pwilczynski commented on #118
@qspencer-harper wrote this for Gaia - it's pretty awesome, and has been extended a bit by Acme:
https://github.palantir.build/acme/omnibar

[2016-12-02 08:23] ugogo commented on #234
@giladgray Still no changes.
I also removed everything into `blueprint.scss` and `docs.scss`, and still no changes ☹️

[2016-12-02 08:40] ugogo commented on #234
Maybe those leads can help you :

Leads 1 - I removed everything into `docs.scss` and `blueprint.scss`, and nothing changes too. Then, I tried `npm run gulp sass` manually, and with it, I had some warnings ('files cannot be empty', yey!)

Leads 2 - I removed the `docs/docs/docs.css` file, reloaded the page, the style was well removed. But, even after relaunching `npm run gulp`, the dist CSS was no

[2016-12-02 14:52] JulianIsrael commented on #286
After making the modification the error changed for this:

$ npm run gulp

[10:49:39] Using gulpfile ~\Desktop\UI-Framework-Testing\tests\blueprint\gulpfile.js
[10:49:39] Starting 'default'...
[10:49:39] Starting 'clean'...
[10:49:39] Finished 'clean' after 114 ms
[10:49:39] Starting 'compile'...
[10:49:39] Starting 'icons'...
[10:49:39] Finished 'icons' after 50 ms
[10:49:39] Starting 'sass-varia

[2016-12-02 15:54] brandonchoe opened #295 "Uneditable EditableCell with falsy value"
### Bug report

- __Package version(s)__: 1.1.0
- __Browser and OS versions__: Chrome 54.0.2840.98 (64-bit) and OS X El Capitan 10.11.6

#### Steps to reproduce

1. Double-click an `EditableCell` with a falsy `value`.

#### Actual behavior

Uneditable cell.

#### Expected behavior

Editable cell.

[2016-12-02 16:30] forman commented on #202
@briant-spindance we've just kicked off an electron project where we selected blueprint to be the core UI component library: https://github.com/CCI-Tools/cate-desktop. We use TypeScript. One day it will be the GUI for climate analysis toolbox.

Note since we are HTML/CSS/TypeScript beginners, the tools stack is the bare minimum, so no webpack, no babel, we just use tsc and electron builder.

[2016-12-02 16:32] #192 closed

[2016-12-02 17:47] giladgray commented on #286
@JulianIsrael that is a local machine issue with `node-sass`, not a problem with the build itself. typically rebuilding binaries with `npm rebuild` will resolve issues like this. **also make sure you're on node 6+.**

[2016-12-02 17:49] giladgray commented on #234
are you actually looking at localhost:9000/packages/docs/dist/?
as opposed to localhost:9000/docs/, which is the compiled GHPages site and is _not_ updated during development (only `npm run build:site`).

[2016-12-02 18:16] corbmanj commented on #123
This was super helpful. Please consider adding a section in the Blueprint docs about usage with webpack.

[2016-12-02 18:19] themadcreator commented on #295
@brandonchoe I'm not sure we support editing of such raw values -- only strings. Could you try stringifying the value with something like `"" + value`?

[2016-12-02 19:01] #183 closed

[2016-12-02 19:02] llorca opened #298 "Missing micro-interactions in table"
- [ ] Keyboard shortcuts (using `<Hotkey>`)
  - [x] Copy `cmd+c`
  - [ ] ~~Paste `cmd+v`~~ (can't do because table is data agnostic, we don't know what data you're putting in there)
  - [x] Move selection `up`/`right`/`bottom`/`left`
  - [ ] Select the cell immediately to the right `tab`
  - [ ] Select the cell immediately below `return`
  - [ ] Select the cell immediately to the left `shift+tab`

[2016-12-02 19:30] acolombi opened #300 "Date Range Picker reports the timezone inconsistently"
The Date Range Picker may, or may not report the time zone of the returned date in fromDate or toDate, depending on how the date is set. If the date is set by typing a date, or programmatically, it usually does not report a time zone. If it's set using a shortcut (e.g. Last Week) it will often report the time range with UTC as the time zone (which incidentally means the reports dates, i.e. day of

[2016-12-02 20:20] #280 closed

[2016-12-02 20:23] ugogo commented on #234
Hah nice catch for this one.
Running manually `npm run gulp sass` did update the CSS for `localhost:9000/packages/docs/dist`!

[2016-12-02 20:29] ugogo commented on #234
Ok, I added `sass` after `sass-variables` here: https://github.com/palantir/blueprint/blob/master/gulp/watch.js#L23, it works.
But I don't think it's a good idea, and if the linter throw an error, there's no coming back \o/

[2016-12-02 21:02] brandonchoe commented on #295
If `value` is `null` or `undefined`, I pass `''` (empty string) instead. The cell is empty, which is what I want, but the cell is also uneditable.

[2016-12-02 21:05] brandonchoe commented on #295
I just tried on the docs page, and it worked. I'm not sure what's going on.
<img width="742" alt="screen shot 2016-12-02 at 4 05 00 pm" src="https://cloud.githubusercontent.com/assets/14318012/20850421/184ac998-b8a9-11e6-8d04-bed102876c01.png">

[2016-12-02 21:09] adidahiya opened #301 "Test-friendly dialog animations"
Something like `.pt-minimal` for Dialogs which disables the animation or makes it instantaneous to improve unit testability (see issues like https://github.com/palantir/blueprint/pull/221#discussion_r90475758) both for us and for our consumers (apps sometimes have to introduce ugly timeouts in their dialog-related test code).

[2016-12-02 21:28] llorca commented on #301
Hmm, fixing a test doesn't seem like a reason for adding `.pt-minimal` support to dialogs. Isn't the proper fix to find a way to test components that are animated?

[2016-12-02 21:32] cmslewis commented on #293
- I vastly prefer having a verb in all function names.
- The `render...` prefix helps me visually clump all render helper functions together, at a glance.

But if `...Renderer` is the emerging community convention, I'll capitulate.

[2016-12-02 21:47] llorca commented on #293
No strong opinion on one or the other, but +1 for respecting conventions and best practices

[2016-12-02 21:58] cmslewis commented on #205
Reopening because this is actually still happening on Firefox.

[2016-12-02 22:22] llorca commented on #300
@acolombi this may have been fixed by #297. Look out for release 1.2.0 later today!

[2016-12-02 22:22] adidahiya opened #303 "Support consumption via unpkg CDN"
It's really convenient: https://unpkg.com/#/

Current status: unpkg acts as a CDN for our commonJS module https://unpkg.com/@blueprintjs/core@1.1.0. Not very useful.

Basically I think we just need to support the [`browser` field in package.json](https://github.com/defunctzombie/package-browser-field-spec) and publish the UMD bundle.

[2016-12-02 22:25] timelyportfolio commented on #303
It's already there https://unpkg.com/@blueprintjs/core@1.1.0/, but unfortunately does not also contain a standalone.  I browserified a standalone in my fork [here](https://github.com/timelyportfolio/blueprint/tree/master/docs) for `core` and `table`.  This allowed me to use in R as shown in the just posted [example](http://bl.ocks.org/timelyportfolio/f4a791ee9e1ba02fbb2cfa4aa8aa26b9).

[2016-12-02 22:25] adidahiya commented on #293
@cmslewis it's not a function name, it's a prop name. Note how we currently distinguish `onEvent` vs. `handleEvent`.

[2016-12-02 22:29] adidahiya commented on #301
Sure, I'd be open to other solutions, such as exposing an `onTransitionEnd` callback that allows for reliable testing.

[2016-12-02 22:39] cmslewis commented on #293
Ahh gotcha. Totally down with that then.

[2016-12-02 23:03] llorca commented on #301
Yes! That sounds great

[2016-12-03 00:52] llorca commented on #191
@ripitrust @alminde Blueprint 1.2.0 was just released and includes #253 which should enable the use cases mentioned above. Let us know if it works out 👍

[2016-12-03 00:52] #191 closed

[2016-12-03 16:09] brandonchoe commented on #295
My bad, this isn't a bug. I wasn't including `blueprint.css` because it messes everything up, but EditableCell works if I extract just the `.pt-editable-content` stuff. Thanks.

[2016-12-03 16:09] #295 closed

[2016-12-03 17:13] volkandkaya opened #304 "Feature request: Avatar and Badge"
Having an avatar and badge component would be great. Both are must haves in web applications.

Something similar to Material-UI but with Palantir design would be amazing.

Example Avatar - http://www.material-ui.com/#/components/avatar
Example Badge - http://www.material-ui.com/#/components/badge

[2016-12-03 21:20] Ciantic commented on #123
Here is the way to use the bits of the package without modifications in SCSS webpack project.

It should have been obvious, but it was not for me. But this is best way to use blueprint if you need the variables, and the precompiled CSS file:

[code]

This way you can use the variables (`$pt-grid-size`, `$pt-dark-app-background-color`) in your components. However, you can't override the variables b

[2016-12-03 21:55] isergey opened #305 "Layouts and DataGrid"
Hello. Thanks for the great library. I not found layouts and infinity data grid table (both like ExtJS). Its very important components for desktop apps (about of 95% development time :-) )
Thanks a lot!

[2016-12-03 22:59] giladgray commented on #305
see #250 for why Blueprint does not include any layout components _(hint: just use flex box)_.

see http://blueprintjs.com/docs/#components.table-js for our high-scale, data-agnostic, customizable table component.

[2016-12-03 23:04] giladgray commented on #123
@Ciantic this is even better:

[code]

the `dist/` directory contains `variables.{less,scss}` files that define every public variable. that file is produced from the three you listed above _and_ all the `$pt-icon-*` content strings.

[2016-12-03 23:06] giladgray commented on #123
for posterity: [v1.1.0](https://github.com/palantir/blueprint/releases/tag/release-1.1.0) added support for `@import "~package"` syntax. so this issue is technically resolved, but this discussion is too great to close 😄.

[2016-12-03 23:07] giladgray commented on #301
CSSTG simply doesn't provide hooks for `onTransitionEnd` so not sure how we'll do that...

[2016-12-03 23:52] isergey commented on #305
Yes. Flex box is a cool thing. But create border layout (see ExtJS) with resizers is very difficult. Layouts in Blueorint will kill ExtJS :-)
I could be wrong, but I have not seen in the Table an infinite scroll (data source)...

[2016-12-04 00:32] giladgray commented on #305
for reference: https://docs.sencha.com/extjs/4.2.2/extjs-build/examples/layout/border.html. resizing is generally difficult. if you don't need to adjust every pixel, flex box really crushes that layout.

as for infinite scroll, the table technically supports infinite datasets[0] due to its virtualized rendering (only render what is visible in viewport) and data-agnostic configuration (data is prov

[2016-12-04 16:52] adidahiya commented on #295
curious, anything we can do to make this easier to use?

[2016-12-04 23:32] adidahiya commented on #231
By the way, I'm also seeing this issue with the Overlay example in Firefox.

[2016-12-04 23:33] adidahiya commented on #183
Heads up @cmslewis, I'm still seeing this issue with the docs global hotkey dialog in the v1.2 docs in Chrome (the regular Overlay example has been fixed though). That same dialog is also unusable in Firefox due to #231.

[2016-12-04 23:38] cmslewis commented on #183
Interesting. Thanks for the heads-up. 👍

[2016-12-04 23:40] cmslewis commented on #183
Looks like that one is being rendered inline, hence the problem you're seeing (the overlay has the `.pt-overlay-inline` class that I just introduced in v1.2.0). I wonder if simply rendering the global hotkey dialog non-inline will be the appropriate fix.

[2016-12-05 03:11] brandonchoe commented on #295
I didn't look into it, but `blueprint.css` changed the font styles of practically everything in my project - it may have just been the font weight. It would be nice if the `Table` component was entirely standalone, but I can understand why things like `pt-editable-content` are in the core CSS file.

[2016-12-05 21:28] llorca commented on #289
So, the bug here is actually that the date range picker should never display months that are out of range. If you look at the [docs](http://blueprintjs.com/docs/#components.datetime.daterangepicker), January 1996 is showing although it's out of range. If you click on the left arrow near December, you'll see that there's no right arrow to go back to January 1996.

I think the fix is to simply have

[2016-12-05 21:35] rpurushotma opened #306 "React MouseEvent Type is not generic errors"
I get the following errors trying to use blueprintjs in my project with typescript 2.0.10 compiler. Are there any flags or anything that need to be set in tsconfig or anywhere to get blueprint to work?

[code]

[2016-12-05 21:56] llorca commented on #304
Hmm, it seems like straightforward and simple styling (I don't see any interactivity), I'm unclear what value such a component would provide

[2016-12-05 22:16] cmslewis commented on #231
Been investigating this for awhile. Two interim takeaways:

1. Setting `.pt-portal` to `position: fixed` fixes the scrolling-to-the-bottom-of-the-page issue.
2. BUT setting `.pt-portal` to `position: fixed` introduces a new bug where tethered content os moved outside of its React parent due to this snippet of code in tether.js:
![image](https://cloud.githubusercontent.com/assets/443450/20904608/2a

[2016-12-05 22:32] adidahiya opened #309 "Publish ES2015 modules in addition to CommonJS modules"
Following up from a discussion here: https://github.com/palantir/blueprint/issues/245#issuecomment-263065706

[2016-12-05 22:32] giladgray commented on #306
you need the latest React typings.

[2016-12-05 22:35] giladgray commented on #304
We already have [`Tag`](http://blueprintjs.com/docs/#components.tag) which is most of Badge (minus the positioning, but that's best left to you anyway).

[2016-12-05 22:37] adidahiya commented on #304
If you built this as an external package that depended on `@blueprintjs/core`, we could feature it in a "community components" section in our README or wiki for you.

[2016-12-05 22:42] dmackerman commented on #194
So now that the `~` import syntax is supported, this seems like something I could take a crack at doing now.

[2016-12-05 22:55] giladgray commented on #194
certainly crack-worthy, i'd wager 🎩

[2016-12-05 23:01] adidahiya commented on #231
this sounds horrific, FWIW 😆

[2016-12-05 23:02] cmslewis commented on #231
This whole thing is horrific. -.-

[2016-12-05 23:13] cmslewis commented on #205
Just looked into this again on every browser, and it appears it _was_ fixed in 1.2.0 (can't repro on blueprintjs.com/docs or on master). Weird. Closing.

[2016-12-05 23:13] #205 closed

[2016-12-06 00:40] #289 closed

[2016-12-06 00:45] giladgray commented on #231
@cmslewis yeah tether will do that moving thing sometimes...
this may be useful: http://tether.io/#element-moving ⚔

[2016-12-06 01:35] rpurushotma commented on #306
Ah, thanks!

[2016-12-06 01:35] #306 closed

[2016-12-06 06:00] michael-yx-wu opened #314 "Interactions on docs page scroll page to bottom"
### Bug report

- __Package version(s)__: 1.2.0
- __Browser and OS versions__: Chrome 55.0.2883.75

#### Steps to reproduce

1. Click on the popover target here: http://blueprintjs.com/docs/#components.popover

#### Actual behavior

Page scroll position jumps to the bottom. This only seems to happen on Chrome 55. Safari appears to behave properly. Perhaps this is an issue introduced by some change

[2016-12-06 06:01] michael-yx-wu commented on #314
Follow up: this also seems to happen when interacting with custom context menus on Blueprint Table examples, so this might is probably not due to something specific to a single component.

[2016-12-06 06:10] llorca commented on #314
Tried Chrome 54, no problem. Can repro on Chrome 55. Damn it.

[2016-12-06 10:58] TeaBough opened #315 "How to catch a keyDown on an EditableText component"
I'd like to do the same thing than in the blueprint doc, having the popover autocomplete in the search area in the header. But instead of using a `InputGroup` I'd like to use an `EditableText` component. Everything works fine except for the fact that when I press `ARROW_DOWN` I'd like to navigate through the menu items ... But with `EditableText` I can't catch `keyDown` events. Does somebody know

[2016-12-06 13:26] orecus commented on #304
A "Community Components" section would be a great addition I think.

I have a couple that I could complete and share, specially if you could provide some guidelines for how they should be constructed, packaged and such.

[2016-12-06 16:12] #242 closed

[2016-12-06 16:30] adidahiya commented on #314
Probably the same as #231.

[2016-12-06 16:45] paulpooch opened #316 "Utils.measureTextWidth should add span to relevant container not body - measurements are off"
My root has font-size of 100px.

My div holding the `<Blueprint.DatePicker>` has `font-size: 16px`.

DatePicker tries to measure the width of the month labels by adding <span>'s to the body - as a result the measurements are wrong.  I'd suggest the <span>'s get appended to the component container and NOT document.body.

This would stop differing font-sizes from screwing things up.

[2016-12-06 16:51] adidahiya commented on #316
yeah, that makes sense @paulpooch. we could change the function signature to

[code]

[2016-12-06 16:56] paulpooch commented on #316
Sounds good.  My issue was in datePickerCaption.positionArrows()

It was measuring totally wrong and my arrows were like halfway across the page : )

Could you slap a ref on on the root div of datePickerCaption and measure relative to that element?  I can make a PR if you want I don't know TS yet.

[2016-12-06 18:36] michael-yx-wu commented on #231
This also happens with context menus. For example, try right clicking on the table sortable example.

[2016-12-06 18:36] michael-yx-wu commented on #314
Okay, closing in favor of #231!

[2016-12-06 18:36] #314 closed

[2016-12-06 18:52] adidahiya opened #317 "Consider using date-fns instead of moment in datetime package"
Lots of benefits listed on this landing page -> https://date-fns.org/.

Looking at https://github.com/palantir/blueprint/issues/245#issue-191786736, moment is a nontrivial part of the current bundle size. I guess the downside would be that many consumers would end up pulling in _both_ date-fns and moment, which defeats some of the bundle savings. Overall though I think it could be a positive chang

[2016-12-06 19:11] giladgray commented on #317
huh i wonder if this could replace any of our `DateUtils` too?

[2016-12-06 19:12] llorca opened #318 "Use typed literals for Intent and Position"
Related: https://github.com/palantir/blueprint/pull/307

[2016-12-06 19:13] llorca commented on #317
Sounds good to me, is it considered a breaking change?

[2016-12-06 19:13] giladgray commented on #316
@paulpooch if you're interested in learning some TS then go ahead and make a PR! we'll help you through any tricky bits. otherwise the team will pick this up early next year.

[2016-12-06 19:15] giladgray commented on #315
`EditableText` does not expose key event listeners, but it easily could if we wanted it to. Perhaps it should accept all `React.HTMLProps<HTMLInputElement>` so you can do what you like.

In the meantime, you could put a wrapper element around the ET that handles key events?

[2016-12-06 19:17] giladgray commented on #304
what sort of guidelines are you looking for? i'd say try to do what we do: `src/` for original source code, `dist/` for compiled commonjs modules, ensure `package.json` has the correct main/style/typings entries.

[2016-12-06 19:17] giladgray commented on #317
yeah it would be, but this sounds so worth it.

[2016-12-06 19:27] orecus commented on #304
As a complete newbie in terms of sharing components and such I guess i'm more looking for a "template" that would serve as the base I guess. I atleast think that would be a great start for that section too if you provide a set of guidelines and a "template structure" that we could adhere to.

For example;
* Naming Standard: pt-componentName or bp-componentName?
* Folder structure
* package.json te

[2016-12-06 19:30] llorca commented on #304
I think it's worth differentiating two things:
1. contributions from the community into `core` and other main Blueprint packages
1. community-built components that work well with Blueprint

Sounds like we're talking about the latter here, and it's something I'd love to get to. I think we need at least a solid guidelines document on how to contribute (maybe build on top of https://github.com/palant

[2016-12-06 19:34] rcchen commented on #317
[Corresponding moment thread re: modularization](https://github.com/moment/moment/issues/2373), it's road-mapped for 3.0 but doesn't look like that's happening anytime soon based on the open issues.

We could drop locales?
https://github.com/moment/moment/issues/2373#issuecomment-233293900

[2016-12-06 19:36] orecus commented on #304
@llorca Yeah exactly i'm talking about the latter and I think it would be great to build a community around that. I'd happy to share what I work on, if I just know how you want it to be shared, what guidelines and standard conventions you would like us to follow, naming or otherwise. So I think a set of solid guidelines and process around it would be great.

Also related, is Gitter something you h

[2016-12-06 19:36] adidahiya commented on #317
@giladgray why is it a breaking change

[2016-12-06 19:46] llorca commented on #300
At this point I think timezone support is more of a feature request than a bug. This is issue may be relevant in the context of `date-fns` considerations: https://github.com/palantir/blueprint/issues/317

[2016-12-06 19:49] acolombi commented on #300
I agree that timezone support would be a feature request level change. I think I'm happy if the Date Range Picker is timezone-less.

[2016-12-06 20:01] giladgray commented on #300
@acolombi what does "timezone-less" mean? to me that suggests UTC, that all times are in the universal time zone. but that'll get awkward for display. how would you like us to handle timezones?

[2016-12-06 20:02] giladgray commented on #317
package dependencies changing significantly (replace `moment` with `date-fns`). is that not at least a little breaking?

[2016-12-06 20:30] adidahiya commented on #317
Sorry, I take that back -- we expose it in just one place in the API. It will be slightly breaking if the format strings differ across Moment and date-fns. See https://github.com/palantir/blueprint/blob/5e57a5e3193b765db34daf29111a117ba0a742cd/packages/datetime/src/dateInput.tsx#L57

[2016-12-06 21:13] cmslewis commented on #316
@paulpooch I had some time to open a PR for this today. Feel free to peruse #320 and see if it makes sense and addresses things correctly. Would appreciate your thoughts here. 👍

[2016-12-06 22:53] alearcy commented on #280
After update to 1.2.0 my DateInput doesn't work anymore...with ReduxForm I have a pure function component with DateInput:
[code]
before update blueprintjs it wored, now it doesn't works and the error is:

`Uncaught TypeError: date.getFullYear is not a function`

and refer to:

[code]

[2016-12-06 23:10] adidahiya commented on #280
@alearcy would you mind filing a new issue for that? we'll try to get it sorted out for the next release.

[2016-12-06 23:16] alearcy opened #322 "After updated to 1.2.0 DateInput doesn't work"
### Bug report

- __Package version(s)__:  1.2.0
- __Browser and OS versions__: Chrome 54.0.2840.98 (64-bit), Max OS Sierra

#### Steps to reproduce

with ReduxForm I have a pure function component with DateInput:
[code]
#### Actual behavior

`Uncaught TypeError: date.getFullYear is not a function`

that refers to:

[code]

[2016-12-06 23:37] mfedderly commented on #322
This appears to happen if the value prop is explicitly assigned to `null` (and not `undefined`).

[2016-12-06 23:41] giladgray commented on #322
We typically treat those two values as identical, using `== null` for comparison.

[2016-12-06 23:44] alearcy commented on #322
Should I write something like this?

`<DateInput value={input.value || undefined} locale="it" format="DD-MM-YYYY" maxDate={nextYears} position={Position.BOTTOM_RIGHT} className="pt-fill" />`

[2016-12-06 23:45] michael-yx-wu opened #324 "Replace enums with string literals"
Let's replace enums with string literals. Instead of something like
[code]

we can have something like

[code]

@adidahiya pointed out that this may break existing apps so I'm adding this to the 2.x milestone for now. See #307 for existing PR. We can reopen it once we're ready to make this change.

#### List of enums:

- [ ] Intent
- [ ] Position
- [ ] Table RegionCardinality
- [ ] Elevation (card

[2016-12-06 23:49] llorca commented on #324
@michael-yx-wu I think we're already tracking this: https://github.com/palantir/blueprint/issues/318

[2016-12-06 23:52] giladgray opened #325 "Enable strictNullChecks for datetime package"
I think enabling `strictNullChecks` compiler option for `datetime` package will help us detect and prevent a whole host of potential errors, such as #322. it'll also address #274 by making the typings more accurate (as explicit `null` Dates actually means something in the component).

[2016-12-06 23:52] mfedderly commented on #322
@alearcy I suspect that will unblock you in the short term, until the fix from #323 is published.

[2016-12-06 23:58] giladgray commented on #318
closing in favor of #324 which is slightly more general

[2016-12-06 23:58] #318 closed

[2016-12-06 23:59] alearcy commented on #322
Thank you so much guys..it's an important work for my customer ;-)

[2016-12-07 00:25] paulpooch commented on #316
Thanks I'll check this out tomorrow.

On Dec 6, 2016 4:13 PM, "Chris Lewis" <notifications@github.com> wrote:

[2016-12-07 01:54] adidahiya commented on #325
I think the compiler option should be enabled for all packages. Updating issue title to reflect this.

[2016-12-07 01:57] #316 closed

[2016-12-07 02:00] #322 closed

[2016-12-07 02:18] giladgray commented on #325
Fair enough! Converting `core` will take some time due to its sheer size, hence why I started with `datetime`. Any idea if this will affects typings in a breaking way?

[2016-12-07 03:18] adidahiya commented on #325
No, any changes in the generated `.d.ts` files ought to be tractable & compatible with consumers' `tsc` versions. If anything, it will expose bugs in consuming applications (not handling null / undefined values).

[2016-12-07 06:07] mdanka opened #328 "Can one preserve row selection across data updates in Blueprint Table?"
Column headers have both keys and selection properties, making it easy to preserve column selection when data gets updated. However, I don't see such properties for rows or for general selection.

For example, let's say I have a table representing a histogram, with two columns, Value and Count:

    Selected? Value Count
    --------- ----- -----
    x         A     1
    x         B     3

[2016-12-07 11:14] TeaBough commented on #315
Thanks @giladgray with the wrapper it's working perfectly !

[2016-12-07 11:14] #315 closed

[2016-12-07 13:31] alearcy commented on #322
Guys, it is possible to release a 1.2.1 version instead of waiting 1.3 for this small fix?

[2016-12-07 15:58] adidahiya commented on #328
You should be able to do this with fully controllable table selection added in v1.2 (#253). Let us know if this API isn't sufficient to meet your use case.

[2016-12-07 16:25] acolombi commented on #300
Have you ever worked with LocalDate or LocalDateTime in Joda/Java 8? These are date/time objects without a TimeZone. The advantage of them is that no matter how you interpret them, they always represent the same year-month-day-hour-minute. But you can't get millis since epoch from one.

[2016-12-07 18:11] paulpooch commented on #255
@alearcy Here's how I handle toasts:

REDUCER / ACTIONS FILE:

[code]

AN APP COMPONENT SHOWING THE TOASTS:

[code]

THEN TO FIRE A TOAST:
[code]

[2016-12-07 21:51] #234 closed

[2016-12-07 23:35] cmslewis commented on #104
@llorca have you worked on this yet? I have bandwidth and would be happy to get it started.

[2016-12-07 23:43] llorca commented on #104
@cmslewis Not yet! Feel free to look into it, should be straightforward 👍

[2016-12-08 00:31] #104 closed

[2016-12-08 02:49] cmslewis commented on #20
@cyu i have some bandwidth for additional issues before EOW. Want me to take this one?

[2016-12-08 05:55] ugogo commented on #234
Thanks guys 👍

[2016-12-08 06:01] cyu06 commented on #20
Sure, thanks

[2016-12-08 07:10] cmslewis commented on #20
Can you describe what needs to be done in a little more detail? By my current reading, the objective here is to just swap the hotkeys to <kbd>Enter</kbd> for submitting and <kbd>Ctrl/Cmd</kbd> + <kbd>Enter</kbd> for adding a newline in `multiline` mode? (Incidentally, I think <kbd>Shift</kbd> + <kbd>Enter</kbd> is a common hotkey for that.)

[2016-12-08 07:45] cyu06 commented on #20
From @llorca last comment it seemed like he just wanted the current behavior to not fall under the multiline={true} case. The reason I didn't do this originally was because that's basically saying you have a singleline mode, e.g. multiline={false} that can wrap. Underneath it will still need to be a text area.

The basic use case is a user wanted a single line of text that could effectively wrap,

[2016-12-08 07:51] cmslewis commented on #20
Cool. So what are the exact action items? Or does this still need further discussion?

[2016-12-08 07:53] cyu06 commented on #20
I don't believe so. I was just going to change the prop configuration so it is only possible under multiline={false}. But again, on the PR comments, this will still use a textarea under the hood.

Widening the entry group was agreed upon with gilad awhile ago. But perhaps the view has changed.

[2016-12-08 15:54] dieseldeesh opened #335 "Issues with Docs Navigator (Search box)"
### Hot Keys Issue

#### Description
Nav div does not scroll as you press down arrow so user does not see which item is selected. This forces them to get more specific with their query or use mouse to scroll down. Is there another way to scroll down?

#### Example
![hot_key_issue](https://cloud.githubusercontent.com/assets/4008117/21016489/afa3c5c2-bd33-11e6-9bca-febb55841287.gif)

### Style Bug

[2016-12-08 17:07] adidahiya opened #336 "Resizable dialogs"
I'd like to be able to resize dialog windows like I can with OS windows. I think the default behavior should be symmetrical resizing such that the dialog remains centered in the overlay.

[2016-12-08 17:39] adidahiya commented on #335
Thanks for filing these issues. These are not urgent, but ultimately important to fix because they'll be necessary considerations for any kind of typeahead component we build (#118).

[2016-12-08 18:17] dmackerman commented on #336
Draggable would be nice as well.

[2016-12-08 19:21] #275 closed

[2016-12-08 19:26] giladgray commented on #336
wow this is a scary request! resizing arbitrary elements is not easy.

we have a separate plan to refactor how dialogs scroll internally such that the header and footer are fixed but the "body" can scroll freely. this behavior would gracefully support long dialogs without treading on window manager territory. would this resolve your issues?

[2016-12-08 20:04] cmslewis commented on #336
For a file picker dialog (e.g.), it would be great if there were a way to resize it to fit long folder and file names. I don't think body scrolling would address the need as effectively.

[2016-12-08 20:05] cmslewis commented on #294
Ended up fixing this test. Tracking the issue of testing dialogs more generally in #301.

[2016-12-08 20:05] #294 closed

[2016-12-08 20:18] cmslewis commented on #336
If the dialogs are styled with a `min-height` and `min-width` and `position: relative`, it should be easy enough to set children to be `position: absolute` to keep child panels stuck to various sides of the dialog as it resizes, if necessary. I can see a path forward here.

[2016-12-08 21:06] adidahiya commented on #336
Re: draggable dialogs: I am hesitant to add this to the core `Dialog` component because it adds a lot of complexity. For now I think it's best to implement this by rolling your own dialog with `Overlay` + react-dnd.

[2016-12-09 08:04] ggregoire opened #340 "Regression in DateInput"
Hi guys!

I got a regression in updating from 1.1.0 to 1.2.0 (latest).

The bug comes from [this PR](https://github.com/palantir/blueprint/pull/297).

The component crashes during its instantiation because of [this change](https://github.com/palantir/blueprint/pull/297/files#diff-2899fd9fc14d599c6e4062f791d99120L135).

Some screenshots:

![screen shot 2016-12-09 at 00 47 57](https://cloud.githubus

[2016-12-09 09:29] cmslewis commented on #340
Thanks for filing, @ggregoire! This is helpful context, but I'm going to close this as a duplicate so that we can track the issue in a single place in #280.

[2016-12-09 14:09] adidahiya commented on #340
Actually the correct duplicate is #322. Fixed for today's upcoming release.

[2016-12-09 14:15] vilav opened #341 "License for commercial projects?"
Hello

Wondering if its possible to use blueprint for commercial projects resold by agencies to clients?

Thanks

[2016-12-09 17:03] brandonchoe commented on #291
When will this be fixed? And about when will 1.3.0 be out?

[2016-12-09 17:17] alearcy commented on #255
All works correctly but I'm don't use List from immutable...can I do it in another way?

[2016-12-09 17:36] adidahiya commented on #341
// I am not a lawyer; this is not legal advice

It's as permissive as React's BSD license, so yes, you can use Blueprint in commercial projects. You cannot, however use it to pretend that you are selling Palantir software.

[2016-12-09 18:00] ggregoire commented on #340
Guys, did you read my bug description beyond the first 3 lines?

How [this fix](https://github.com/mfedderly/blueprint/commit/76a1ee7b29f71b30b8c60ae371c5283950ea7fbd) could fix this?

![screen shot 2016-12-09 at 00 47 24](https://cloud.githubusercontent.com/assets/591804/21040620/bbc5d106-bdab-11e6-9b19-c6de34328d76.png)

Could you change this

[code]

in

[code]

for today's upcoming release?

O

[2016-12-09 18:17] ggregoire commented on #340
Some tests to avoid future regressions:

[code]

[2016-12-09 19:41] adidahiya commented on #340
Hey, you're right @ggregoire, sorry I overlooked that. Opened a new PR #342 which we will try to merge for today's upcoming release.

[2016-12-09 19:50] adidahiya opened #343 "Remove moment dependency from published typings for datetime package"
Not sure if this is possible, but we should look into it. See https://github.com/palantir/blueprint/pull/339#discussion_r91782919

[2016-12-09 19:52] #194 closed

[2016-12-09 20:06] ggregoire commented on #340
@adidahiya Thanks for looking into it! :)

[2016-12-09 20:10] llorca commented on #291
@brandonchoe we were planning on fixing it this week, but the assignee needed to take care of a bunch of personal matters. 1.3.0 is coming today without this fix, and I'm hopeful 1.4.0 will address this issue

[2016-12-09 20:12] giladgray commented on #343
could mark that one property `@internal`?

[2016-12-09 20:14] giladgray commented on #343
so `@internal` does remove the import from `dateInput.d.ts` as well as the field from `this.state`. but that's probably fine for the typings, yeah?

[2016-12-09 20:36] cmslewis commented on #340
Whoops, sorry about that @ggregoire. Thanks for staying vigilant.

[2016-12-09 21:37] #340 closed

[2016-12-09 21:52] #133 closed

[2016-12-09 22:28] #231 closed

[2016-12-09 22:28] #240 closed

[2016-12-09 23:07] codebling commented on #288
I can confirm that this problem is caused by multiple copies of React.

BEWARE! React is a peer dependency of @blueprintjs/core, and there is a [Browserify bug](https://github.com/substack/node-browserify/issues/1663) which prevents exclude/ignore/external-ing peer deps and may lead to multiple copies of React in your bundles.

[2016-12-10 02:14] giladgray opened #346 "improve Less variables compilation check"
The `sass-variables` task runs the compiled Less variables file through the less compiler as a simple safeguard against invalid syntax, but it doesn't check that the variables are actually usable.

As a result, [v1.3.0 shipped with a `variables.less` file full of `!default` statements](https://unpkg.com/@blueprintjs/core@1.3.0/dist/variables.less), which caused variables to be interpreted as strin

[2016-12-10 11:47] forman opened #348 "Error: Debug Failure. False expression: <empty>"
I get a TypeScript compiler error with `@blueprintjs/core@1.3.1`:

    Error: Debug Failure. False expression: <empty>

This does not happen with `@blueprintjs/core@1.2.0` .

### Bug report

- __Package version(s)__: `typescript@2.1.4`,  `@blueprintjs/core@1.3.1`:
- __Browser and OS versions__: Windows 10

#### Steps to reproduce

1. For example, this is file `TsBlueprintBug.ts` (just the one impo

[2016-12-10 11:53] vyorkin commented on #201
btw I've just spent some time debugging issue with missing `@types/tether` dependency, it isn't specified in `@blueprintjs/core`, I guess it should be. Please correct me if I've missed smth.

[2016-12-10 17:22] Ciantic commented on #348
Getting same, reported to TypeScript also https://github.com/Microsoft/TypeScript/issues/10522

[2016-12-10 17:28] Ciantic commented on #348
Btw, here is a cloneable gist to try this out:

https://gist.github.com/Ciantic/60e9dbe330922cfc41086e255820df62

It should be priority to be fixed. I've spent few hours wondering why the thing I worked on last week does not work anymore.

It fails with typescript@next and typescript@2.1.4

[2016-12-10 23:40] Ciantic commented on #348
Here is the answer to blueprint blues today:

So devs must add that package. See https://github.com/Microsoft/TypeScript/issues/10522

[2016-12-12 05:54] greglo commented on #198
Took a stab at this in linked PR, since we just added this into Compass

[2016-12-12 13:39] romanr opened #351 "Text cursor not centered vertically in Safari browser"
### Bug report

- __Package version(s)__: 1.3.1
- __Browser and OS versions__: Safari 10.0.1, MacOS Sierra.

#### Steps to reproduce

1. Type text in TextField

#### Actual behavior

Text cursor is not centered vertically:

<img width="244" alt="screenshot 2016-12-12 15 36 21" src="https://cloud.githubusercontent.com/assets/329079/21101271/038550fc-c081-11e6-9401-455a8ead7a4c.png">

[2016-12-12 16:11] marutha opened #352 "Modal window"
Do we have any support for modal windows? Probably a form where we can create/edit/delete forms, it would be great if we could have maximize/minimize/close buttons as well

[2016-12-12 16:15] adidahiya commented on #348
Interesting... thanks for doing that debugging @Ciantic. A missing dependency on `@types/tether` also came up here: https://github.com/palantir/blueprint/issues/201#issuecomment-266202824. I generally agree that we should add that as a `dependency` in package.json despite that fact that it will be superfluous for JS-only consumers.

[2016-12-12 16:19] adidahiya commented on #352
Yes, these are called [Dialogs](http://blueprintjs.com/docs/#components.dialog). See the terminology note in the docs.

[2016-12-12 16:19] #352 closed

[2016-12-12 16:32] gregtillbrook commented on #123
Ive just setup the sass import (so I can override component colours etc) and thought Id share my steps to setup as recent commits have made things easier.

1. npm install --save bourbon
2. my webpack worked without changes but you may need add file-loader and url-loader (as noted above)
3. added the following lines to my root sass file;

[code]

I imported a few components to test (Switch, Slider,

[2016-12-12 19:46] adidahiya commented on #309
Here's an example of a library that pulishes UMD, CJS, and ES6 modules in its NPM package: https://github.com/mjackson/history

[2016-12-12 20:09] johnwquarles opened #353 "Unable to dismiss context menu for Table component"
### Bug report

- __Package version(s)__: Core: 1.3.0, 1.3.1; working in 1.2.0. Table: 1.2.0
- __Browser and OS versions__: Chrome 54.0.2840.98 (64-bit), OSX El Capitan

#### Steps to reproduce

1. Create a (blueprintjs) `<Table>` and provide a `renderBodyContextMenu` function via that prop that will return a simple `<Menu>`, a la the example provided in the documentation. In my case, right now th

[2016-12-12 20:33] billyjanitsch opened #354 "Mention of "version 3.0" in docs"
(lil' nit :v:)

I noticed a mention of "version 3.0" in the [Dialog docs](https://github.com/palantir/blueprint/blob/a90bf1a4e5c20d7b379001c3f2de788271aaedf6/packages/core/src/components/dialog/dialog.tsx#L53). Given that Blueprint is currently at 1.3.1, I assume this is leftover from internal versioning?

[2016-12-12 21:01] llorca commented on #354
@billyjanitsch great catch! 🌟

[2016-12-12 21:07] llorca commented on #353
Thanks for filing @johnwquarles, we're tracking as part of our micro-interaction work on the `Table` component: https://github.com/palantir/blueprint/issues/298

[2016-12-12 21:09] llorca commented on #351
That's pretty weird, the text **is** vertically centered. Not sure if that counts as a bug...

[2016-12-12 22:19] greglo opened #356 "Missing dependency on @types/tether crashes tsc 2.4.1"
See ticket on typescript: https://github.com/Microsoft/TypeScript/issues/10522

[2016-12-12 22:22] greglo commented on #356
Oops, dupe, https://github.com/palantir/blueprint/issues/348

[2016-12-12 22:22] #356 closed

[2016-12-12 22:24] alearcy opened #357 "Opened popover continues to scroll top the page"
### Bug report

- __Package version(s)__: 1.3.1
- __Browser and OS versions__: Chrome 55.0.2883.87, MacOs Sierra

#### Steps to reproduce

![scroll top when popover is open](https://cloud.githubusercontent.com/assets/5402295/21119252/1297fa5e-c0c2-11e6-8e45-fae79ecd1d95.gif)

[2016-12-13 01:00] gregtillbrook commented on #255
@alearcy
You can just use a vanilla array instead of immutable List,  replacing immutable code above with;
[code]
and
[code]
Worked a treat for me

[2016-12-13 01:24] llorca commented on #357
Can't repro in the docs (same version/browser): http://blueprintjs.com/docs/#components.popover

Can you provide more info on your setup/markup/styles?

[2016-12-13 01:39] tgreenwatts opened #359 "Hotkey dialog does not close"
### Bug report

![image](https://cloud.githubusercontent.com/assets/24398123/21124109/b9be9b66-c091-11e6-929e-c31e1e15da75.png)
Chrome, Mac

#### Steps to reproduce

1.  Open hotkey dialog via `?`
2. Attempt to close dialog by clicking away
Expected: Closes
Actual: Does not close
3. Attempt to close via ESC - does not work

You can close via ESC if you haven't click elsewhere.

[2016-12-13 02:26] llorca commented on #359
@cmslewis any thoughts?

[2016-12-13 03:34] codebling commented on #131
I started compiling a list of fixes needed before I found this post. I eventually found the number of fixes needed to be very minimal, and so made them.
@justingreenberg has done some good research, and I've checked my work with his. Here's what he's done differently:
  * Addition of `isBrowser` method - I think this is the wrong approach. We should be checking for the presence for the individual

[2016-12-13 03:42] codebling commented on #131
Sorry for that megapost. A few more comments:

@justingreenberg the popover/portal code is fine. As mentioned by @abhishiv, this is called from `componentDidMount`, which is never called during server rendering.
@justingreenberg we should see to it that calls such as the one to `document.createElement` do not run on the server. In doing so we can avoid having to shim `document` on the server. The

[2016-12-13 04:20] paulpooch commented on #255
Yes greg is correct.  The issue with using vanilla js arrays as react props is adding/removing elements doesn't trigger a render - since technically it's still the **same** array.  So you can either manually do the shouldComponentUpdate logic or use an immutable List which becomes a totally different List (object reference) every time you add/remove from it.

[2016-12-13 04:52] RobAWilkinson commented on #131
Awesome great work @codebling thanks for spending the time on this, I'll be using your fork until this gets merged.

[2016-12-13 07:42] gregtillbrook commented on #255
Yup, vanilla array mutation (e.g. with push) in reducers is a bad thing. Thats why in my suggested changes I did `[...state.toastQueue, action.toast]` instead of `state.toastQueue.push`. This will re-allocate a new array each time and updates will be correctly dispatched.

[2016-12-13 09:19] alearcy commented on #357
If you try with a popover already in top page position the problem doesn't exists (like docs example). But if you try with a popover at the middle of a scrolled page, it scrolls to top. Show this new gif:

![scroll top when popover is open 2](https://cloud.githubusercontent.com/assets/5402295/21134301/779ba21a-c11d-11e6-89c1-51a9f8335f99.gif)

I'm using vanilla blueprintjs with vanilla bootstrap g

[2016-12-13 09:26] alearcy commented on #255
Greg, I tried to create vanilla array in reducer, but if you try, for example, to fire up more toasts at the same time, in componentDidMount for example, you'll see only one toast at time.

[2016-12-13 10:31] alearcy opened #361 "Datetime and select intent danger class in redux form validation"
### Bug report

- __Package version(s)__: 1.3.1
- __Browser and OS versions__: Chrome  55.0.2883.87, MacOs Sierra

#### Steps to reproduce

[code]

#### Actual behavior
When I leave text input, number input and textarea, pt-intent-danger class is correctly call when validation fails. Strange behavior in select input and datetime component. In select only error message appears but danger class in i

[2016-12-13 10:44] mdanka commented on #306
@giladgray I've just updated my react typings (on 0.14), `typings.json` shows `"react": "registry:dt/react#0.14.0+20161203201537",`, but I still get the above errors. Do you have any advice?

Thanks!
Miklos

[2016-12-13 11:51] gregtillbrook commented on #255
Hmm - hard to know what you're problem is without seeing code but when I add (for example) three dispatch action calls into a componentDidMount I see three toasts.

Try stepping through your code in the debugger or add some console logging in actions/reducer etc.

[2016-12-13 12:00] romanr commented on #351
After some research on the web it appears like recurrent issue for Safari, mobile Safari and even Chrome.
This is fixed by setting  `line-height: normal` in input field css:

[code]
may also be fixed by `line-height: 1;` or `line-height: 100%;`  however `line-height: normal;` is considered the best solution.
Let me know if you would accept PR of this.

[2016-12-13 15:53] #131 closed

[2016-12-13 17:18] giladgray commented on #361
1. classes for `.pt-select` go on the element with that class, _not_ the `<select>` tag itself
1.  however, `.pt-select` simply doesn't support the 4 intents right now.
1. looks like `DateInput` does not have a way to put classes on the `<input>` itself, only on the container. however, [see the code here](https://github.com/palantir/blueprint/blob/master/packages/datetime/src/dateInput.tsx#L159-L1

[2016-12-13 17:20] giladgray commented on #359
I am seeing the opposite problem on latests docs, where the `HotkeyDialog` doesn't even appear because it has `.pt-overlay-inline` which overrides all the fixed positioning.

[2016-12-13 17:21] giladgray commented on #359
@tgreenwatts is the screenshot relevant to this issue in some way?

[2016-12-13 17:23] giladgray commented on #357
Sorry I am also not able to reproduce this. I have tried scrolling the page (very easy to do on [DateInput](http://blueprintjs.com/docs/#components.datetime.dateinput) because the page has to be scrolled). Are you _sure_ you're serving the latest code?

[2016-12-13 17:25] giladgray commented on #351
I've noticed this issue with how Safari draws cursors--it's deeply inconsistent with other browsers.

[2016-12-13 18:09] romanr opened #362 "DateInput component: Erasing value in the input produces "Invalid date" message."
### Bug report

- __Package version(s)__: 1.3.1

#### Steps to reproduce

1. Click on Date Input and select date
2. Click mouse on DateInput input box and erase the text pressing backspace

#### Actual behavior

The text box displays "Invalid date" in red font:

<img width="230" alt="screenshot 2016-12-13 20 04 57" src="https://cloud.githubusercontent.com/assets/329079/21152661/f6c40940-c16f-11e6-

[2016-12-13 18:20] tgreenwatts commented on #359
I always see the dialog, but it's locked at the top of the screen, so I have to scroll to find it. Not sure if this gif helps, but I press `?`, have to scroll up, then can't exit without refreshing.
![hotkeys](https://cloud.githubusercontent.com/assets/24398123/21153036/aff081ee-c11d-11e6-962b-5731dd20bd5c.gif)

[2016-12-13 18:51] giladgray commented on #359
ah yes same issue i'm seeing. it's cuz the Dialog is marked inline, but it shouldn't be anymore.

[2016-12-13 19:33] adidahiya commented on #348
`@types/tether` was added as a dependency in #360.

[2016-12-13 20:06] adidahiya opened #363 "Allow tabs to behave as links"
It's nice to use `<a>` tags inside tabs to get cmd-click behavior to open in a new tab.

This _sort of_ already works -- you can put `<a>` elements inside `<Tab>` and the link works properly. The layout is a little off because we apply padding to the `<li>` and your link click area is limited to the text itself, not the whole tab. Users have to override the padding to get a larger click area.

![i

[2016-12-13 20:09] adidahiya opened #364 "Better support for icons in SVGs"
From Ryan M:

[2016-12-13 20:11] adidahiya opened #365 "Add support for SVG icons"
And possibly deprecate the icon font.

See https://github.com/blog/2112-delivering-octicons-with-svg

For the same reasons Github states there, the only option for us would be inline SVGs (we need to color them on-the-fly).

This approach would fix:

- Blurriness of some icons at certain browser widths in Chrome & Safari

Caveats:

- Blueprint needs to work across apps / frameworks, so we can't us

[2016-12-13 20:23] allankikkas commented on #365
If you are switching, please provide a method to add your own SVG to icon set.

For now I rewrote all your CSS framework to fit my design needs (and fix many bugs) and also to include inlined SVG icons (using https://github.com/peeter-tomberg/react-svg-icon-generator/) and I have to say it sure is a breaking change and requires a lot of work to re-implement. Outcome looks better and is way more fl

[2016-12-13 20:23] giladgray commented on #364
How about `IconContents.STYLE`?
`IconContents` is a map of icon name to unicode content string.
https://github.com/palantir/blueprint/blob/master/gulp/icons.js#L53

[2016-12-13 20:27] giladgray commented on #365
boy that sounds like a lot of work!

[2016-12-13 20:44] alearcy commented on #357
Yep @giladgray I have the latest 1.3.1 version.
The only strange thing I'm seeing is a data-tether-id styled with top: 0, left: 0; position: absolute that appears when Popover is open.
![schermata 2016-12-13 alle 21 40 50](https://cloud.githubusercontent.com/assets/5402295/21158388/5709f2e4-c17d-11e6-98a3-2561d3f85d7d.png)

[2016-12-13 20:50] giladgray commented on #357
Have you updated Tether to 1.4.0? It's expressed in package.json now.

On Tue, Dec 13, 2016, 12:44 PM Alessandro Arcidiaco <
notifications@github.com> wrote:

[2016-12-13 20:55] alearcy commented on #357
Yep
![schermata 2016-12-13 alle 21 54 52](https://cloud.githubusercontent.com/assets/5402295/21158775/de317368-c17e-11e6-846f-82cca496dc5e.png)

[2016-12-13 21:19] llorca opened #366 "Tabbed dialogs"
outdated design:

![image](https://cloud.githubusercontent.com/assets/199754/21159559/8e4a6910-c136-11e6-8406-1980d8d223da.png)

I suppose this could use more composition instead of an entirely custom tab design

[2016-12-13 21:33] codebling commented on #348
@adidahiya only [`@types/dom4` was added](https://github.com/palantir/blueprint/pull/360/commits/e9c89e06c3823db1aef1580bc47d3d518a12cdef#diff-f4f412caa68d8fde92b3d6bd3c2b3be1R9) in 360, and only to `core`.

Haven't been following the whole discussion but [`@types/tether` has been around for a while](https://github.com/palantir/blueprint/blame/master/package.json#L31).

[2016-12-13 22:23] llorca commented on #351
We've been using `line-height` to center the text vertically, but don't remember for which browser or specific use cases.

I'm afraid a change to `line-height` may break vertical centering in certain contexts, but certainly happy to take a look at this after the holiday or review any PR submitted on the matter 👍

[2016-12-13 22:26] adidahiya commented on #348
whoops, you're right. `@types/tether` is a dependency for this monorepo, but no in core. still needs to be added.

[2016-12-13 22:30] llorca commented on #348
Seems super straightforward, let's do it for 1.4.0 this week in addition to the SSR stuff

[2016-12-14 15:38] tonico opened #367 "Toaster create method should not have the `inline` property hard coded"
### Bug report

- __Package version(s)__: 1.3.1
- __Browser and OS versions__: all

#### Steps to reproduce

Create a custom Toaster with `inline` set to `false`, e.g., using code from the docs:

[code]

#### Actual behavior

Observe the `pt-overlay-inline` class in the generated DOM element:

`<span data-reactroot="" class="pt-overlay pt-overlay-open pt-overlay-inline pt-toast-container pt-toast-

[2016-12-14 16:39] adidahiya commented on #367
What are you trying to accomplish with `inline: false`?

[2016-12-14 17:08] pkwi opened #369 "Make spinner colors consistent"
### Bug report

- __Package version(s)__: 1.3.1
- __Browser and OS versions__: all

#### Actual behavior

dark spinners use the following colors:

Track: gray1 (20%)
Head: gray1 (100%)

![screen shot 2016-12-14 at 5 06 18 pm](https://cloud.githubusercontent.com/assets/23030180/21192210/adfedb62-c21f-11e6-87ab-97d89abe64af.png)

#### Expected behavior

Track: black (30%)
Head: gray1 (100%)

![scree

[2016-12-14 17:22] tonico commented on #367
From the docs: "If true, then positioning will be relative to the parent element". I think this causes the toasts to be centered wrong (in Firefox). Also multiple toasts are not stacked one below the other (as seen in the docs) but on top of each other.

[2016-12-14 17:49] giladgray commented on #367
`inline: false` doesn't make sense when using `Toaster.create` because it circumvents the `Portal` logic and attaches the toaster to the element in the second argument (which defaults to `body`). This is the "global" API, where toasts will always appear above your application and there's nothing you can do about it.

However, `<Toaster inline>` (using the JSX API) makes perfect sense, if you'd lik

[2016-12-14 17:50] giladgray commented on #366
what if `Tab` supported icons? then this is nothing more than a vertical `Tabs` in a `Dialog`.

[2016-12-14 17:52] justingreenberg opened #370 "Add tests for SSR to prevent regressions"
Since the plan is to ship SSR/isomorphic rendering support with v1.4.0, there should probably be some minimal functional tests to prevent regressions as users begin to depend on this feature.

Reference: #360, [wiki](https://github.com/palantir/blueprint/wiki/Frequently-asked-questions#5-does-blueprint-support-server-side-rendering) cc/ @adidahiya @codebling (nice work dude)

[2016-12-14 18:22] dmackerman commented on #366
FWIW, unrelated to this issue: It's nice to see some of the components in use. I'm sure that's one of your internal apps, but it would be awesome to see some more complex examples.

[2016-12-14 18:32] llorca commented on #366
@giladgray Yes! 👍

@dmackerman That one is actually a fictional mock from... 2 years ago. Check out our [Dribbble page](https://dribbble.com/Palantir) for examples of complex Palantir apps built on top of Blueprint

[2016-12-14 18:34] tonico commented on #367
Hm, OK, I understand. But the positioning issue remains, i.e., following the documentation

I would expect this: ![bildschirmfoto am 2016-12-14 um 19 19 06](https://cloud.githubusercontent.com/assets/160138/21195274/67a2ae96-c233-11e6-9645-3fabf6b32720.png)

But I'm getting this (in Firefox 50.0.2): ![bildschirmfoto am 2016-12-14 um 19 18 22](https://cloud.githubusercontent.com/assets/160138/21195

[2016-12-14 18:42] giladgray commented on #367
Toasts on Firefox 50 on the docs site work as expected, so I wonder if you're adding any additional styles? Are you setting `position: Position.BOTTOM_RIGHT` like the example code above? Could you share the usage code?

[2016-12-14 18:45] #348 closed

[2016-12-14 20:02] tonico commented on #367
Yes, if this is the souce code of the docs, https://github.com/palantir/blueprint/blob/master/packages/core/examples/toastExample.tsx, then the docs do not use the `Toaster.create()` API. Also, `inline` is `false` by default. I'm creating a Toaster with `const ErrorToaster = Toaster.create()` without any position setting (the code above is borrowed from the docs). Later in the code I use

[code]
i

[2016-12-14 20:06] llorca opened #372 "Enable blueprint-bot comments for forks"
Also would be neat if contributors didn't have to manually trigger CI. With all the great external contributions we're getting, it's starting to create quite a bit of friction in the review process.

Two instances of CI enabled where blueprint-bot didn't post a comment: https://github.com/palantir/blueprint/pull/371 https://github.com/palantir/blueprint/pull/349

According to @adidahiya, it has to

[2016-12-14 22:00] iyn commented on #123
Can somebody show me an example how to change the default colors? For example, when I'm doing it like this:
[code]

it works only with some components, while others (notably button) don't respect the settings. Thanks!

[2016-12-14 22:06] SEAPUNK commented on #123
@iyn Does it work if you move the import after the variable declarations?

[2016-12-14 22:10] iyn commented on #123
@SEAPUNK No, it doesn't work even if I move the import, tried that already ;).

I guess this the problem may be with the missing `!default` flags, maybe somebody else can confirm?

[2016-12-14 22:17] adidahiya opened #374 "Headers in MenuDivider have insufficient line height"
### Bug report

- __Package version(s)__: 1.3.1
- __Browser and OS versions__: Chrome 57, OS X 10.11.6

#### Actual behavior

![image](https://cloud.githubusercontent.com/assets/723999/21203564/07285a0a-c221-11e6-815b-983349fd74b0.png)

#### Expected behavior

Typographic descenders are not cut off when using the system font.

[2016-12-15 00:08] codebling commented on #370
Agreed. Thanks for opening this, I was worried we'd lose track of it.

So biggest issue here is that we can't use Karma to run this test, the way we do for the rest of the project. So we're definitely stuck making a new Gulp task to run the SSR tests. I think we can get away with just using the default Mocha runner & reporter.

The test itself is fairly trivial. We simply [`ReactDOMServer.renderTo

[2016-12-15 00:26] llorca commented on #123
We talked about this earlier and decided against it for a few reasons, but we'd be happy to revisit. What do you think of [this discussion](https://github.com/palantir/blueprint/pull/337/commits/108f217c24b7f2596f81fd5a5ea3d0681663ef97#r91593918)?

[2016-12-15 00:27] llorca commented on #123
Btw with the example above I can see why you'd need to override these variables too. I'll let others chime in

[2016-12-15 00:35] dmackerman commented on #123
Personally, I'm not sure why colors arent override. I think that's the right call for the Palantir use case, but it's not detrimental to allow full color control if that's what a user needs. 2 cents.

[2016-12-15 07:15] justingreenberg commented on #370
I think this probably makes the most sense for now... it looks like the `/examples` directories would be a good target for automated tests since it abstracts the actual framework component implementation—we don't have to worry about `createElement` or creating fixtures for props... would also provide some basic integration coverage and looks pretty "scriptable" eg. consistent naming convention `/^

[2016-12-15 08:16] volkandkaya opened #375 "Page shifts right on context-menu"
### Bug report

- __Package version(s)__: 1.3.1
- __Browser and OS versions__:54.0.2840.100 Ubuntu 14.04

#### Steps to reproduce

1. Go to http://blueprintjs.com/docs/#components.context-menu
2. Right click and the page shifts

#### Actual behavior

Moves the page to the right

#### Expected behavior

Page doesn't move

[2016-12-15 10:49] gregtillbrook commented on #123
Im also a fan of adding `!default` on vars, it fits well with my current use case. I want to tweak the hues of the blues/greens/reds etc in blueprint to match my sites pallet while still keeping them as blues/greens/reds etc.

I can see why you were reluctant to avoid users having code like `$green = purple;`. Maybe a better solution down the road is to abstract you colour vars so they're named by

[2016-12-15 16:54] adidahiya opened #376 "Upgrade to TypeScript 2.1"
https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-1.html

- [x] switch from Object.assign to ES2017 object spread
  - also fixes #11
- [ ] configuration inheritance (likely useful for the `examples/` TS project)
  - :sob: not supported yet https://github.com/ivogabe/gulp-typescript/issues/459
- [ ] `Partial<T>` (haven't looked into this much yet for this codebase)

these shou

[2016-12-15 19:04] llorca commented on #375
I cannot repo on my end. Anyone on Chrome 54 can confirm? No problem on Chrome 55.

[2016-12-15 19:35] #362 closed

[2016-12-15 19:37] giladgray commented on #372
I removed that line in circle.yml in #347. note it's no longer there: https://github.com/palantir/blueprint/blob/master/circle.yml#L38

So really not sure why we're not getting comments from forks. Perhaps the forks were created before this commit so they have the old circle.yml?

[2016-12-15 19:38] giladgray commented on #372
don't think there's much to be done about contributors having to enable their own CI. remember that scary "permissive building of forks" setting?

fortunately CircleCI is absurdly easy to use.

[2016-12-15 19:40] giladgray commented on #375
I also can't reproduce on Chrome 54. We're both on MacOS though, with no access to Ubuntu boxes for testing.

[2016-12-15 19:41] giladgray commented on #375
@volkandkaya could you please try a hard refresh (ctrl+shift+r) and see if that resolves the issue? wondering if your browser is serving you cached old code instead of fetching the new stuff?

[2016-12-15 19:51] forman commented on #348
Thanks!

[2016-12-15 19:55] volkandkaya commented on #375
@giladgray I also checked on Opera and Firefox. Must be my Laptop, but very weird that it happens on all browsers. Hopefully someone with Ubuntu can test it.

[2016-12-15 20:11] adidahiya commented on #295
@brandonchoe keep an eye out for #244; we plan to remove more global styles from blueprint.css.

[2016-12-15 21:06] adidahiya commented on #372
@giladgray we add a note about enabling Circle to the contributing docs

[2016-12-16 10:25] vojtechkral opened #378 "Missing `@types/tether` dependency?"
### Bug report

- __Package version(s)__: 1.3.0

#### Steps to reproduce

[code]

#### Actual behavior

Depending on `tsc` version, it will either crash with a misterious error or, in newer fixed versions, complain about missing tether definition dependency.

#### Expected behavior

Installing `@types/tether` as a dependency fixed the problem for me. This should be mentioned in the documentation.

[2016-12-16 11:09] vojtechkral commented on #378
Ahh, sorry, looks like I ran into #348 .

[2016-12-16 11:09] #378 closed

[2016-12-16 20:57] cmslewis commented on #359
Back from my trip. Opened a PR and added a unit test so this won't happen again.

[2016-12-16 21:23] #359 closed

[2016-12-17 00:51] codebling commented on #370
@justingreenberg I don't like using the examples as test targets, since they're (1) a manual build artifact that has no coverage measurements, and (2) an afterthought (may only be added in the build after a new component is introduced).  I **do** like that all the components are readily available there.

After thinking about this for a while, I realised that Blueprint exposes all components by hie

[2016-12-18 08:05] unp commented on #367
I'm having the same issue. I believe @tonico is right that the `inline` prop should not be hardcoded.

Currently, multiple Toasts are not stacking. I have the inline prop explicitly set to false in my Toaster.create method.

`Toaster.create({
    inline: false,
    container: document.body
});`

It creates the following reactroot:

`<span data-reactroot="" class="pt-overlay pt-overlay-open pt-over

[2016-12-18 16:33] adidahiya commented on #370
@codebling that looks like a pretty sane approach as long as errors thrown in JS cause the test suite to fail (I believe this is the case now).

[2016-12-18 19:45] codebling commented on #370
@adidahiya it is. I have a PR more or less ready (you can have a look at my fork).

[2016-12-18 19:53] codebling commented on #370
I'll just make sure that it works on Circle, then I'll open the PR.

I'm also looking at catching React render warnings (like `Warning: Each child in an array or iterator should have a unique "key" prop.`) and forcing those to fail the tests, which currently doesn't happen. This can easily be a separate PR, though.

[2016-12-19 11:43] DaryaVeretennikova commented on #375
Page shifts because the scrollbar takes some width and the right click added class 'pt-overlay-open' to body tag with overflow: hidden.

[2016-12-19 12:14] orecus commented on #365
+1 for this and being able to use our own SVG or font icon set down the road. :)

[2016-12-20 14:06] jumpinjackie opened #382 "Collapse doesn't handle isOpen=true initially"
### Bug report

- __Package version(s)__: 1.4.0
- __Browser and OS versions__: Chrome 55 / IE 11, Windows 7 x64

#### Steps to reproduce

1. Render a `<Collapse>` component with `isOpen={true}`

#### Actual behavior

The Collapse component is not initially open and content within does not show. You have to transition `isOpen` -> closed (`isOpen=false`) -> open (`isOpen=true`) on the component to "

[2016-12-20 14:31] lida-skakun opened #383 "How to make select all time in TimePicker when it clicked/focused."
Time Picker should select all text when clicked/focused.
By default to enter any time you need first to erase text with backspace or double-click to select all.
expected: click on field, start typing.Any Ideas?

[code]

[2016-12-20 15:34] mskec opened #384 "SSR tabs are not reused on client"
### Bug report

- __Package version(s)__: `1.4.0`
- __Browser and OS versions__: `Chrome 54.0.2840.98`, `OSX 10.11.6`

#### Steps to reproduce
I don't have clean repo to provide with example, but sample usage example for tabs with SSR enabled project will be enough to reproduce the problem.

#### Actual behavior

I am getting this warning when rendering `Sample Usage` [example](http://blueprintjs.

[2016-12-20 16:19] adidahiya commented on #384
Fair point; the code you pointed out is a lazy implementation of tab IDs. We should probably use something like the `uuid` module.

[2016-12-23 00:46] jagregory opened #387 "Unable to pass props to input in DateInput"
### Bug report

Unable to pass props to the input element inside of a DateInput. e.g. can't use the HTML5 validation attributes. Related to: #361

- __Package version(s)__: @blueprintjs/datetime 1.4.0
- __Browser and OS versions__: All.

#### Steps to reproduce

[code]

#### Actual behavior

[code]

#### Expected behavior

[code]

[2016-12-24 07:43] cmslewis commented on #383
Hi @lida-skakun, thanks for the issue, and sorry for the delay getting back to you; the Blueprint team is taking some time off for the holidays. Your proposal makes sense to me at first glance. We implemented this functionality in the `<EditableText>` component by adding a boolean `selectAllOnFocus` prop—should be straightforward enough to add a similar prop to our other input-fieldy components as

[2016-12-24 07:58] cmslewis commented on #375
It's possible to repro this on Mac by making the following change in System Preferences > General:

![image](https://cloud.githubusercontent.com/assets/443450/21465892/dcbd055c-c97a-11e6-86fb-75b3b3d20c4f.png)

Here's the bug in action:

![context-menu](https://cloud.githubusercontent.com/assets/443450/21465897/0cccb56c-c97b-11e6-84b1-bc7d3aab7f6d.gif)

The trickiness here is that from an interact

[2016-12-26 06:46] neevany opened #388 "Tooltip color not changing after theme switch (only on first hover)."
### Bug report

- __Package version(s)__: 1.4.0
- __Browser and OS versions__: Version 57.0.2962.0 (Official Build) canary (64-bit), Mac Os Sierra 10.12 (16A323)

#### Steps to reproduce

1. switch theme
2.hover on tooltip

#### Actual behaviour

tooltip color showing color of old theme  (only the first hover after theme switch)

#### Expected behaviour

tooltip color should be of selected theme

[2016-12-26 07:33] djyde opened #389 "Need an `is-active` class for menu-item"
When I click a menu item, I want to keep the item looks focused (actived)

![image](https://cloud.githubusercontent.com/assets/914329/21477836/add032fc-cb80-11e6-894e-4c3c40e8f774.png)

[2016-12-26 17:14] adidahiya commented on #388
duplicate of #163

[2016-12-26 17:14] #388 closed

[2016-12-27 11:47] ripitrust opened #390 "Table performance issue with massive data"
- __Package version(s)__: 1.2.0
- __Browser and OS versions__: <macOS 10.12.2  Chrome 55.0.2883.95 >

#### Issues

1. when rendering a huge amount of data ( **50+ rows with 44 columns** ), the performance of scrolling (both horizontal and vertical ) is significantly slow

2. I notice that if the height of the table is small ( as shown in the documentation example), this issue is gone. However if m

[2016-12-27 15:34] raiju opened #391 "Date range bug around December 2016"
### Bug report

- __Package version(s)__: 1.4.0
- __Browser and OS versions__: Chrome v55 & Firefox v50 on MacOs X 10.11.6

#### Steps to reproduce

1. Open http://blueprintjs.com/docs/#components.datetime.daterangepicker
2. Select December 2016 on the left part of the date range picker
3. Notice the right picker now displays January 1996

#### Expected behavior

The right picker displays January

[2016-12-27 18:09] adidahiya commented on #391
Looks like a duplicate of #289, which should've been fixed by #312? The expected behavior here is that December 2016 shows up on the right and you aren't able to advance past the max date.

[2016-12-28 20:05] AtmoEntity opened #392 "Tree drag-drop reordering"
Is there some way I can reorder the items in my tree using drag-drop?

[2016-12-28 23:20] isTravis opened #393 "Mixed-type Buttons in ButtonGroup don't render well in Safari"
### Bug report

- __Package version(s)__: 1.4.0
- __Browser and OS versions__: Safari 9 and Safari 10

#### Steps to reproduce

Mixed-type button-group do not render harmoniously in Safari (though they do in Chrome and Firefox). By mixed-type, I mean button groups that have both `<a>` and  `<button>`. For example:

[code]

#### Actual behavior

On Safari, this renders non-grouped and out-of-line b

[2016-12-28 23:35] giladgray commented on #393
@isTravis are you including `normalize.css` on your page? it's an NPM dependency and must be included for optimal browser compatibility.

[2016-12-28 23:40] giladgray commented on #391
This is not exactly a duplicate, the repro steps say to explicitly select December 2016. But it is another way of triggering the same issue, which we can't really do anything about as it's part of the `react-day-picker` implementation.

In the example component, January 2017 is past the `maxDate` so the calendar wraps to the `minDate`.

[2016-12-29 07:46] Binck360 opened #394 "Text blurry in popover when zoomed in Chrome"
### Bug report

- __Package version(s)__: 1.2.2
- __Browser and OS versions__: Chrome 54.0.2840.87

#### Steps to reproduce

1. Go to http://blueprintjs.com/docs/#components.menu.js.submenu
2. Zoom the browser window (Ctrl + '+' or Ctrl + mousewheel)

#### Actual behavior

The text in the dropdown menu is blurry

![zoom](https://cloud.githubusercontent.com/assets/21681363/21538975/993c0e00-cda2-11

[2016-12-29 14:22] isTravis commented on #393
Thanks for the fast response!

I did not have `normalize.css` and that indeed fixed the issue. I wound up npm installing it and then simply including it `@import "~normalize.css";` in my scss file before the blueprint CSS imports.

I was going to say I didn't see this anywhere in the docs, but then found #190 and it seems that's already on your radar.

Thanks again for the help!

[2016-12-29 14:22] #393 closed

[2016-12-30 00:39] pavelkang opened #395 "Multiple highlighted menu items in the navigator search bar on documentation page"
### Bug report

- __Package version(s)__: 1.4.0
- __Browser and OS versions__: Chrome 55.0.2883.95 (64-bit) macOS Sierra

#### Steps to reproduce

1. type a query in the navigator search bar on blueprint documentation page
2. Hover cursor over an item A, A is highlighted
3. press down/up arrow key.

#### Actual behavior

Two items are highlighted

#### Expected behavior

I believe we want to remov

[2016-12-30 19:32] isTravis opened #396 "Form Controls JS API does not document disable parameter"
### Bug report

- __Package version(s)__: 1.4.0
- __Browser and OS versions__: All

#### Actual behavior

Disabling Form controls (e.g. Checkbox) is possible using the CSS API. It's a bit cumbersome though. A className modifier has to be applied to the label and a a parameter modifier has to be applied to the input tag itself. I wanted to use the JS Component (e.g. `<Checkbox>`) hoping that it wou

[2016-12-30 19:37] giladgray commented on #396
@isTravis did you try `<Checkbox disabled />`?

Checkbox (and Radio and Switch) support the full range of HTML props, they're just not all listed in the props table:
![image](https://cloud.githubusercontent.com/assets/464822/21571424/30b48ad2-ce84-11e6-80aa-1e7193a9de19.png)

[2016-12-30 19:37] giladgray commented on #395
duplicate of #335

[2016-12-30 19:38] giladgray commented on #396
reopening to track making the documentation more obvious.
we could add `disabled` to the table, it's common enough.

[2016-12-30 19:43] giladgray commented on #394
We deal with Chrome's subpixel font rendering issues constantly (particularly with icons) and the best attitude seems to be "oh well." You just can't win every half pixel. There's basically nothing we or Tether can do about the occasional render on the half-pixel, particularly if you're gonna go zooming the browser window. Sorry!

[2016-12-30 20:14] isTravis commented on #396
Doh - I could've sworn I tried every combination of `className="pt-disabled"` and others, but maybe I kept doing `isDisabled={true}` by accident. Anyways - thanks for pointing out the callout in the docs, don't know how I missed it.

That said though, for Checkboxes, there seem to be a couple inconsistencies in the disabled styling (here I'm talking about the component `<Checkbox disabled />`).

1

[2017-01-02 02:35] JKillian commented on #395
Closing as a duplicate

[2017-01-02 02:35] #395 closed

[2017-01-02 02:36] JKillian commented on #389
I believe the docs site actually uses something like this, agreed that it would be useful to promote this to the core library

[2017-01-02 02:42] JKillian commented on #394
@Binck360 does disabling the gpu acceleration fix things for you? The `Popover` props API is already somewhat large so a part of me hates to make it even larger, but if it fixes real issues, I don't think adding a `tetherOptimizations` prop or something would hurt.

[2017-01-02 09:56] TomMarius commented on #324
What is the reason for this change?

[2017-01-02 10:07] avin commented on #390
Performance is much-much better when you build app in `production` mode
http://dev.topheman.com/make-your-react-production-minified-version-with-webpack/

[2017-01-02 17:56] JKillian commented on #324
It makes things faster to use/hack on. It also still is fully type-checked if you're using TypeScript.

For example, instead of:

[code]

you can drop an import:

[code]

Of course, doing things the first way will still work as well, so no existing code should break. (Okay, it's possible some code could break depending on how enums were used in type positions...)

[2017-01-02 19:01] giladgray commented on #390
oh yes what @avin said is the greatest React optimization tip of all time. React dev mode is noticeably slower than production mode because it does lots of extra runtime validation that shouldn't be needed on your prod site.

[2017-01-02 20:11] TomMarius commented on #324
These examples unfortunately aren't equal in terms of usability and speed. String operations are generally slower than enum (number) operations. You can't easily refactor a string literal, but you can for example hit F2 on an enum member and rename all occurrences, and more little things like this. Why not use these things for its intended use cases?

[2017-01-02 20:13] giladgray commented on #324
the idea behind moving to typed string literals is that they can be used either as `Intent.DANGER` or as `"danger"` if you want to skip the import. the `Intent` export will still be there, but it'll be a map of string-to-string instead of string-to-number.

the performance effect of string vs number comparison is negligible; it's not useful to think like that.

[2017-01-03 03:15] ripitrust commented on #390
@avin @giladgray  Yes I noticed that, changing to production model makes it significantly faster

But when rendering a large viewpoint,  the speed is still noticeably lagging

[2017-01-03 14:03] lucantini opened #397 "DocumentFragment is not defined in jsdom + dom4"
### Bug report

I have a high order component that uses some Components from Blueprint/core and I've been trying to test it using Mocha and Enzyme. But, for some reason, when I try running my tests, they break and say I don't have DocumentFragment from dom4.max.js.

Package version: 1.4.0
OS versions: Ubuntu 16.04

#### Steps to reproduce

1. Have a high order React Component that calls Blueprint

[2017-01-03 17:31] giladgray commented on #397
You must include typings for dom4, it's a core dependency of the library.

@blueprintjs/core v1.4.0 actually includes an NPM dependency on `@types/dom4`: https://github.com/palantir/blueprint/blob/master/packages/core/package.json#L9

[2017-01-03 17:33] giladgray commented on #390
There are two things at play here: how the table renders itself (which is very complex to begin with), and how you store your data. Trying to determine where the slowness is... I'm curious how you're using the table. @ripitrust would you be able to share your setup code?

[2017-01-03 17:37] giladgray commented on #396
@isTravis those don't look like Blueprint checkboxes in your screencaps... [Our checkboxes](http://blueprintjs.com/docs/#components.forms.checkbox) do not have such color or hover problems, so I'll bet you're missing a case in your custom CSS.

[2017-01-03 17:39] lucantini commented on #397
@giladgray I'm using the 1.4.0 version of @blueprint/core and this problem still occurs.

[2017-01-03 17:41] giladgray commented on #397
the fix is to include `@types/dom4` in your TypeScript compilation context, whatever that means for your project.

1. is `@types/dom4` installed?
2. is it included in tsconfig.json?

[2017-01-03 17:41] giladgray commented on #397
sorry hold up, if this is a _runtime_ error then you need to `import "dom4"` directly in your application so the polyfills will be included.

[2017-01-03 17:42] giladgray commented on #397
final clarification:

if you `import { X } from "@blueprintjs/core"` (root import) then dom4 will be included automatically. if instead you `import { X } from "@blueprintjs/core/dist/components/..." (relative import) then dom4 is _not_ included automatically and __you must do so yourself__.

Classic NPM.

[2017-01-03 17:45] isTravis commented on #396
Hmm yea - you're right. I still stand by point 1 - that the label color is not greyed out like they are for [disabled labels](http://blueprintjs.com/docs/#components.forms.label.disabled), but you're right that I'm missing a CSS case, causing the hover problems in point 2.

I (as you can see) am using a slightly different color palette, so had to manually overwrite some of the hover events. I'm re

[2017-01-03 17:50] lucantini commented on #397
We do not use TypeScript in our project :(

We are importing from root, as you said above:
```import { Spinner } from '@blueprint/core'```

In that case we don't need to import dom4 directly, right? It comes as a devDependency from blueprint itself - I tried importing dom4 anyway and it didn't worked either.

It's worth mentioning that this problem only occurs when we run our tests. The component

[2017-01-03 17:53] giladgray commented on #397
are you doing something special in your test setup that might exclude `dom4`? or perhaps you're running code before dom4 has loaded? or not running in a real browser environment? which file produces the error above?

this issue is beginning to seem very specific to your project setup and there's little I can do beyond telling you that this is a dom4 issue.

[2017-01-03 18:13] lucantini commented on #397
[code]
This is our test configuration with jsdom. Do you think this can be the problem by any means?

[2017-01-03 18:16] giladgray commented on #397
ah yes JSDom... this is why we don't use it internally yet. i tried setting up jsdom + dom4 and had some serious trouble because dom4 expects a "real browser" which jsdom just barely isn't.

sorry, i can't offer any more support for this 😢 . but i would love to hear if you're successful making dom4 work with JSDom, because we'd like to migrate to it too.

[2017-01-03 18:21] adidahiya commented on #397
You could try shimming `DocumentFragment`, here's an example: https://github.com/barberboy/dom-elements/blob/d12ce3dd2e49e3e928e1501f6b9cbaa82385c217/src/index.js#L24

dom4 should also handle this more nicely -- let's file an issue / send a PR to add better support for jsdom

[2017-01-03 18:29] giladgray commented on #144
🔥  breaking change because it requires React >= 15.3!